Hi
<br><br>
just a lil notification that the 1 USD user account we gave you is now switching over to a 39 USD paid account- you will still get all the benefits of our great services and analytics,. Including news, but its gonna cost you a little more,-   (39 USD) – you will still benefit from cutting edge analytics, amazing dj news, searches on your mobile and access to a global network of event information thats second to none.
<br><br>
Youll see a statement on your credit card www.wheredjsplay.com
<br><br>
We hope you will stay with us, its been hard work making this site, and ideally we want to create a commmunity of dance music professionals who benefit from using better information. We plan to keep the service intimate for now which means you should be able to work faster and better than most people in dance music.
<br><br>
If you are wanting the Event planning options, you can apply for a premium account shortly,  and we will contact you to confirm your account.
<br><br>

To deactivate your account please follow this link:- {{site_url}}/accounts/deactivate/
<br><br>
Thanks
<br>
-Toni@wheredjsplay.com
