Hi, This is Toni from WDJP.
<br><br>
Thanks for using WDJP we hope you enjoy the service and have been using it to book djs and generally have with it.
<br><br>
Its hopefully been a happy two weeks and you have been using WDJP.-
<br><br>
We will soon send you a short questionaire to fill in about using it, or possibly call you to chat about it if you dont mind giving us some feedback would be great.
<br><br>
After Two weeks, The Beta User accounts are set to convert to Paid 1 USD for two weeks, and then 39 USD thereafter.  This means if you enjoyed using the system, you can extend your usage for two weeks more for 1 usd and then cancel *(we hope you dont)  just continue using it- We have given you a full access account including event planning options,  but please note that the event planning aspect – the emailing is still under development and will be the next major area we work on improving.   - we also provide you with amazing dance music news daily, based on your favourites.
<br><br>
We hope you will stay with us, its been hard work making this site, and ideally we want to create a commmunity of dance music professionals who benefit from using better information.
<br><br>
Your account will terminate on (DATE OF TERMINATION) and you will asked to enter your card details so please do so .
<br><br>
Any questions or issues or if you havent had time to check it out at all -please email  toni@wheredjsplay.com to discuss
