{% load staticfiles %}
<div class="row">
    <div class="container pv-40">
        <div class="owl-carousel owl-theme" id="shortlisted-artists-list">
            {% for sm_artist in event_obj.shortlisted_artists.all %}
                <div class="item">
                    <div class="wrapper">
                        {% if sm_artist.artistPhoto %}
                            <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                        {% else %}
                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                        {% endif %}
                        <div style="margin-bottom:27px;">
                            <div class='description'>
                                <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}"><strong>{{sm_artist.artistName}}</strong></a></p>
                            </div>
                        </div>
                    </div>
                    <!-- <a type="button" class="btn btn-success btn-sm booking_requset_modal" data-id='{{sm_artist.artistID}},{{sm_artist.artistName}}' style="width:75%; text-align:center;">
                        <div style="margin-left: -10px;" role="button">Booking Request</div>
                    </a> -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
