{% url 'shortlisted_artist' event.event_id as shortlist %}
{% url 'event_detail' event.event_id as ev_detail %}
{% url 'event_stats' event.event_id as stats %}
{% url 'recommended_artists' event.event_id as recommended %}
{% url 'offered_artists' event.event_id as offered %}
{% url 'event_news' event.event_id as news %}
{% url 'booked_artists' event.event_id as booked %}

<div class="row">
    <ul class="nav nav-tabs">
      <li {% if request.get_full_path == shortlist %} class="active" {% endif %}><a href="{% url 'shortlisted_artist' event.event_id %}">Shortlisted Artists/Availability
      	<span class="badge">{{all_shortlist_artist}}</span>
      </a></li>
      <li {% if request.get_full_path == ev_detail %} class="active" {% endif %}><a href="{% url 'event_detail' event.event_id %}">Event Info</a></li>
      <li {% if request.get_full_path == stats %} class="active" {% endif %}><a href="{% url 'event_stats' event.event_id %}">Compare Artist Popularity</a></li>
      <li {% if request.get_full_path == recommended %} class="active" {% endif %}><a href="{% url 'recommended_artists' event.event_id %}">WDJP Recommends</a></li>
      <li {% if request.get_full_path == offered %} class="active" {% endif %}><a href="{% url 'offered_artists' event.event_id %}">Offered Artists</a></li>
      <li {% if request.get_full_path == news %} class="active" {% endif %}><a href="{% url 'event_news' event.event_id %}">Event Related News</a></li>
      <li class="duplicate-btn"><a href="#" class="bg-primary" id="duplicate_btn">Duplicate Event</a></li>
{% comment %}
      <li {% if request.get_full_path == booked %} class="active" {% endif %}><a href="{% url 'booked_artists' event.event_id %}">Booked Artists</a></li>
{% endcomment %}
    </ul>
</div>
