<center>
    <h4>
        <strong>Select Your Ideal Artists For this : {{event.event_name}}</strong>
    </h4>
</center>

<input type="hidden" name="event_id" value="{{event.event_id}}" id="event-id">
<select multiple class="elem" id="elem" style="width:100%" name="artists">
  {% for artist in artists %}
    <option value="{{artist.artistID}}" {% if artist.artistID in all_user_shortlist_artist %} selected {% endif %}>{{artist.artistName}}</option>
  {% endfor %}
</select>
