{% load staticfiles %}

<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript">

    $(document).ready(function() {

        $('.owl-carousel').owlCarousel({
            loop:false,
            margin:10,
            nav:true,
            dots: false,
            items:10,
            responsive:{
                0:{
                    items:1
                },
                250:{
                    items:3
                },
                600:{
                    items:4
                },
                800:{
                    items:6
                },
                1000:{
                    items:8
                }
            }
        })

        function matchStart(params, data) {
            params.term = params.term || '';
            if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
                return data;
            }
            return false;
        }

        $(".all_artists").select2({
            matcher: function(params, data) {
                return matchStart(params, data);
            },
        });

        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');

    });

</script>
