<!-- <div id="shortlisted_artists{{event.evsent_id}}"> -->
    {% for artist in artist_shortlisted %}
        <span  style="display:inline-block" class="label wd-label-artist-genre">{{ artist|title }}</span>
    {% endfor %}
<!-- </div> -->
