{% load staticfiles %}

<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript">

    $(document).ready(function() {

        $('#nearby_venues').owlCarousel({
            loop:false,
            margin:10,
            nav:true,
            dots: false,
            items:5,
            responsive:{
                0:{
                    items:1
                },
                250:{
                    items:2
                },
                600:{
                    items:3
                },
                800:{
                    items:4
                },
                1000:{
                    items:5
                }
            }
        })

        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');

    });

</script>
