{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
	<div class="breadcrumb-container" style="background:black;">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'amsterdam_event' %}">Amsterdam Dance Event</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<section class="main-container text-center margin-clear" style="background: black">

	<div class="container">
		<div class="row">

	        <h1 style="font-weight: normal; text-transform: capitalize;">
	        	<strong style="color:white;">Amsterdam Dance Event</strong>
	        </h1>
        </div><br>
        <div class="row">
            <p style="color:white;">Thanks for your interest in WDJP and as a special bonus for our ADE attendees- </p>
            <p style="color:white;">we have issued a special coupon to give you a six week free trial</p>
            <p style="color:white;">The Coupon Code is here </p>
            <div class="col-md-4 col-md-offset-4">
                {% if coupon.coupon_code %}
                <div style="background:#f3d110; border-radius:7px; margin-right: 90px; margin-left: 90px; height:80px;"><br>
                    <div style="color:black; margin-bottom: -10px;">Coupon</div>
                    <span value="{{ coupon.coupon_code }}"> <h4 style="color:black;"><strong>{{ coupon.coupon_code }} </strong></h4></span><br>
                </div><br>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form method="get" action="{% url 'request_an_invite' %}" >
                <input type="hidden" value="{{ coupon.coupon_code }}" name="coupon_code"></input>
                {% if not request.user.is_authenticated %}
                    <p style="color:white;">CLICK here to be sent to sign up where the coupon is automatically added.</p>
                    <input type="submit" value="Sign Up With Coupon" class="btn btn-default"></input>
                {% endif %}
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'frontend/images/ade.jpg' %}" height="320px" width="320px">
            </div>
            <div class="col-md-3">
                <img src="{% static 'frontend/images/ade2.jpg' %}" height="320px" width="320px">
            </div>
            <div class="col-md-3">
                <img src="{% static 'frontend/images/ade3.jpg' %}" height="320px" width="320px">
            </div>
            <div class="col-md-3">
                <img src="{% static 'frontend/images/ade4.jpg' %}" height="320px" width="320px">
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <img src="{% static 'frontend/images/ade3.jpg' %}" height="320px" width="320px">
            </div>
            <div class="col-md-3">
                <img src="{% static 'frontend/images/ade4.jpg' %}" height="320px" width="320px">
            </div>
        </div><br> -->
        <!-- <div class="row">
	        <div class="col-md-4 col-md-offset-4">
                <form method="get" action="{% url 'request_an_invite' %}" >
                <input type="hidden" value="{{ coupon.coupon_code }}" name="coupon_code"></input>
                {% if not request.user.is_authenticated %}
                    <p style="color:white;">CLICK here to be sent to sign up where the coupon is automatically added.</p>
                    <input type="submit" value="Sign Up" class="btn btn-default"></input>
                {% endif %}
                </form>
	        </div>
        </div> -->
	</div>
	</section>
{% endblock %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
