{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<!--<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">-->
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<!--<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>-->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<script type="text/javascript">
    tinymce.init({
        selector: '#event_type_textbox',
        height: 200,
        theme: 'modern', 
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        content_css: [
        // '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css'
        ]
    });

    $("#id_event_type").on('change', function() {
        template_id = $(this).val()
        $.ajax({
            url: "/events/event-template/"+template_id,
            success: function(res) {
                tinyMCE.activeEditor.setContent(res);
            }
        })
    })
 </script>

 <script type="text/javascript">

    $('#elem').select2();

    var start_time=null
    var end_time=null
    function compareTime(e){
        var d1 = new Date(e)
        if($(this).attr('id') == "id_stage_time"){
            start_time = d1.getTime()    
            $('#id_set_length').timepicker('setTime', $(this).timepicker().format(e));
        }
        else
            end_time = d1.getTime()
        if(start_time && end_time){
            if(end_time<start_time){
                $("#id_set_length").val("")
                $("#set_length_error").text("Endtime is less than starttime")
            }
            else
                $("#set_length_error").text("")
        }
    }
    $(document).ready(function() {
            $( ".timepicker" ).timepicker({
                showPeriod: true,
                showLeadingZero: true,
                interval: 05,
                startTime: '00:00',
                change: compareTime
            });
    });

   

 </script>
<script>

var placeSearch, autocomplete, autocomplete_venue_name;

var componentForm = {
    // street_number: 'short_name',
    // route: 'long_name',
    locality: 'long_name',
    // administrative_area_level_1: 'short_name',
    country: 'long_name',
    // postal_code: 'short_name'
};

function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.

    $( "#autocomplete_venue_name" ).keypress(function() {
        autocomplete_venue_name = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete_venue_name')),
            {types: ['geocode']});

    });


    // $( "#autocomplete" ).keypress(function() {
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        autocomplete.addListener('place_changed', fillInAddress);
    // });

    //
    // if(autocomplete){
    //     autocomplete.addListener('place_changed', fillInAddress);
    // }else{
    //     autocomplete = new google.maps.places.Autocomplete(
    //         /** @type {!HTMLInputElement} */(document.getElementById('autocomplete_venue_name')),
    //         {types: ['geocode']});
    // }

    // autocomplete = new google.maps.places.Autocomplete(
    //     /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    //     {types: ['geocode']});


    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    // autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            if(addressType=="country"){
                $('#country').val(val).prop('selected', true);
            }else{
                document.getElementById(addressType).value = val;
            }
            // document.getElementById(addressType).value = val;
        }
    }
}

function geolocate() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8UUKjHNVCjONzgsdTfEY5TMrLqsWwQsg&libraries=places&callback=initAutocomplete"
async defer></script>


<script>
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: date,
            autoclose: true,
        });

        //$('#id_doors_open, #id_stage_time, #id_set_length, #id_event_curfew').wickedpicker();

        $("#id_estimate_finanical_offer").change(function() {
            if($("#id_estimate_finanical_offer").val() == "Amount"){
                $("#financial_amount").show();
                $("#financial_currency").show();
            }
            else {
                $("#financial_amount").hide();
                $("#financial_currency").hide();
            }
        });

        if($("#id_estimate_finanical_offer").val() == "Amount"){
            $("#financial_amount").show();
            $("#financial_currency").show();
        }
        else {
            $("#financial_amount").hide();
            $("#financial_currency").hide();
        }

        $("#save_event").click(function() {
            if( $('.list-unstyled')[0] )
            {
                $('#info-button').show();
            }
            else
            {
                $('#info-button').hide();
            }
        });
        if( $('.list-unstyled')[0] )
        {
            $('#info-button').show();
        }
        else
        {
            $('#info-button').hide();
        }
    });

</script>

{% endblock extra_js %}

{% block content %}
    <div class="container">
        <div class="row"><br>
            <div class="col-md-12" style="text-align:center;">
                {% if my_event %}
                    <h2 class="page-title">Update Event</h2>
                {% else %}
                    <h2 class="page-title">ADD AN EVENT TO YOUR EVENT PORTFOLIO</h2>
                    <h4>
                        Using our event planning module you can plan, analyze and book the right talent for you event
                    </h4>
                    <h4>First please enter the basic information you will need about your event to send to agents and DJs.</h4><br/>
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color:darkgrey">
                        <h3 class="panel-title" style="color: white;"></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="id_form" role="form" method="post" data-toggle="validator">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body">
                                            <h3 class="page-title">Setup Your Event</h3>
                                            <hr><br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_event_date">Event Date:</label>
                                                            <input class="py-form-control datepicker" id="id_event_date" name="event_date" {% if form.event_date.value %}value="{{ form.event_date.value|date:'m/d/Y' }}" {% elif add_event_date %} value="{{add_event_date}}" {% endif %} required="required" type="text" autocomplete="off" readonly="true">
                                                            <!-- {{ form.event_date.errors.as_text }} -->
                                                            <!-- {{ form.non_field_errors.as_text }} -->

                                                            <small class="error-field">{{ form.non_field_errors.as_text }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <small class="error-field">{{ form.non_field_errors.as_text }}</small>
                                                <div class="col-md-6">
                                                    <!--
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_shortlisted_artists">Requested Artists: </label><br>
                                                            <select name="shortlisted_artists" class="form-control all_artists" id="elem" multiple="multiple" >
                                                                {% for artist in artists %}
                                                                    <option value="{{artist.artistID}}" {% if artist in all_shortlisted_artists %}selected{% elif artist.artistID == picked_artist_id %}selected{% endif %}>{{ artist.artistName }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_event_name">Event name:</label>
                                                            {{ form.event_name }}
                                                            <!-- {{ form.event_name.errors.as_text }} -->
                                                            <!-- {{ form.non_field_errors.as_text }} -->
                                                            <!-- <small class="error-field">{{ form.non_field_errors.as_text }}</small> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_venue_name">Venue Name:</label>
                                                            <!-- <input class="py-form-control" id="autocomplete_venue_name" onFocus="geolocate()" name="venue_name" required="required" type="text"> -->
                                                            <input class="py-form-control" name="venue_name" required="required" type="text" {% if data.venue_name %}value="{{data.venue_name}}"{% endif%}>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_nearest_airport">Venue Address:</label><br>
                                                            <div id="locationField">
                                                                <textarea class="py-form-control" cols=""  id="autocomplete" onFocus="geolocate()"  name="venue_address" required="required" rows="">{{ data.venue_address }}</textarea>
                                                            </div>
                                                            <small class="help-block with-errors"></small>
                                                            <small><i>*We Locate your venue Info Using Google Places, Approximate Location is Enough for the Event Analytics. </i></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_event_city">Event city:</label>

                                                            <input class="py-form-control" id="locality" name="event_city" value="{{ my_event.city }}" required="required" type="text">
                                                            <!-- {{ form.event_city }} -->
                                                            <!-- {{ form.event_city.errors.as_text }} -->
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_country">Country:</label>
                                                            <select  name="country" class="country form-control" style="margin-bottom: 0;" id="country" required="required">
                                                                <option value = "">Choose country...</option>
                                                                {% for country in countries %}
                                                                    <option value = "{{ country.name }}" {% if data.country == country.name %}selected{% endif %}>{{ country.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <!-- <input type="text" name="country" class="country py-form-control" id="country" required="required"> -->
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_event_type">Event Type: </label><br>
                                                            <select name="event_type" class="form-control" id="id_event_type">
                                                                <option value="" selected>Select Event Type</option>
                                                                {% for event_type in event_types %}
                                                                    <option value="{{event_type.id}}">{{event_type.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    
                                                </div>
                                            </div>
                                            <!--
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_shortlisted_artists">Genre: </label><br>
                                                            <select name="genre" class="form-control" id="genre" >
                                                                <option value="">Select Genre</option>
                                                                {% for genre in genres %}
                                                                    <option value="{{genres.artistID}}">{{ genre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <small id="info-button" style="color:red;"><i>* Sorry! We are unable to continue due to highlighted errors, please check them and try again!</i></small>
                                                            <input class="btn btn-primary btn-sm" id="save_event" type="submit" value="Save" style="width: 80px;">
                                                            <input class="btn btn-primary btn-sm" type="reset" value="Clear" style="width: 80px;">
                                                            <!--<a href="{% url 'my_events' %}" class="btn btn-primary btn-sm">Cancel</a>-->
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <h3 class="page-title">Your Event Offersheet</h3>
                                            <p class="offersheet-tip-text">(You Can Also Select Template From Event Type Dropdown)</p>
                                            <hr><br>
                                            <div class="row">
                                                <textarea id="event_type_textbox" name="event_type" maxlength="6" >
                                                    {% if event_type_body %}
                                                        {{event_type_body}}
                                                    {% endif %}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input class="btn btn-primary btn-sm" type="submit" value="Save Your Sheet">
                                    <input class="btn btn-primary btn-sm" type="reset" value="Clear" style="width: 80px;">
                                    <!--<a href="{% url 'my_events' %}" class="btn btn-primary btn-sm">Cancel</a>-->
                                </div>
                            </div>
                        </div>
                    </div><br>
                </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block slider %}

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'my_events'%}">My Events</a></li>
                <li>{% if my_event %}Update Event {% else %}Add Event{% endif %}</li>
            </ol>
        </div>
        <div class="hidden-sm hidden-md hidden-lg">
            <div class="col-xs-2 col-xs-offset-2">
                <ol class="breadcrumb">
                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                </ol>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li><a href="{% url 'my_events'%}">My Events</a></li>
                <li>{% if my_event %}Update Event {% else %}Add Event{% endif %}</li>
            </ol>
        </div>
    </div> -->
    <!-- breadcrumb end -->
{% endblock slider %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
