{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

{% endblock %}

{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>Booked Artists</li>
        </ol>
    </div>
</div>
{% endblock slider %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block content %}


<div class="container container-min-height">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING </strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    {% if event.shortlisted_artists.all %}
        {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    {% if booked_artists %}
        <div class="row">
            <h4 style="text-align:left; margin-left:25px;">Artist Booked</h4><br>
            {% for dj in booked_artists %}
            <div class="col-md-3">
                <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888; height:280px;">
                    {% if dj.artistPhoto %}
                        <img src="{{ dj.artistPhoto.url }}" style="height:200px; width:400px;" class="img-responsive" alt="{{dj.artistName}}" >
                    {% else %}
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" style="margin-left:22px; height:210px;" alt="{{dj.artistName}}">
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:6px; height:210px;" alt="{{dj.artistName}}">
                    {% endif %}
                    <div class="row">
                        <a href="{% url 'artist_detail' dj.artistID %}"> <h4 style="color:#0c9ec7; text-align:center;"><strong>{{ dj.artistName }}</strong><h4> </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div style="text-align:center;" >
            <h3>NO booked Artist yet-  managed them in <strong>"Shortlist Artist "</strong> Section and move them here by editing the Blue Tab in <strong> "Offered Artist" </strong> Tab</h4>
        </div>

    {% endif %}
</div>

{% endblock %}

{% block footer %}

{% include "home/_footer.html" %}

{% endblock footer %}
