{% extends "home/__base.html" %}

{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '#event_body_textbox',
            height: 200,
            theme: 'modern', 
            plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image print preview media | forecolor backcolor emoticons',
            image_advtab: true,
            content_css: [
            // '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
{% endblock %}

{% block content %}
<div class="container" style="margin: 50px auto;">
    <form method="POST">
        {% csrf_token %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h1 class="text-center">Create Template for Event Types</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="py-label" for="id_template_name">Teamplate Name:</label>
                        <input class="py-form-control" id="id_template_name" name="template_name" required="required" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-12">
                <textarea id="event_body_textbox" name="event_body" maxlength="6" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Create Template</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}