{% load static %}

<script type="text/javascript" src="{% static 'frontend/plugins/jquery.min.js' %}"></script>


<script>
  $("#duplicate_btn").click(function() {
    $("#modelDuplicateEvent").modal("show");
  })

  $(document).ready(function(){
    var date = new Date();
    date.setDate(date.getDate()-1);
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd",
        startDate: date,
        autoclose: true,
    });
  });
</script>

<div class="modal fade" id="modelDuplicateEvent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Duplicate {{ event.event_name }}</h4>
      </div>

      <form method="post" action="{% url 'create_duplicate_event' event_id=event.event_id %}">
        {% csrf_token %}
        <div class="modal-body">
            <p class="duplicate-modal-text">
              Duplicate This Event To Another Date By Entering The Date Here.
            </p>
            <div class="form-group">
              <label class="py-label" for="id_event_date">Event date:</label>
              <input class="py-form-control datepicker" id="id_event_date" name="event_date" required="required" type="text" autocomplete="off" readonly="true">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Create Duplicate</button>
        </div>
      </form>
    </div>
  </div>
</div>