{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<script>
        var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        }

        // Popularity On Facebook By DJ In Country Using Bar Chart
        //var piectx = document.getElementById("pieChartBarArtistLikes").getContext('2d');
        //        var color = Chart.helpers.color;
        //        var myChart = new Chart(piectx, {
        //            type: 'bar',
        //            type: 'horizontalBar',
        //            data: {
        //                datasets: [
        //                    {
        //                        label: "Bc",
        //                        backgroundColor: [
        //                            {% for lable, data in country_fb_likes.items %}
        //                                "{{color_code|get_value_from_dict:lable}}",
        //                            {% endfor %}
        //                        ],
        //                        data: [
        //                            {% for lable, data in country_fb_likes.items %}
        //                                {{data}},
        //                            {% endfor %}
        //                            ],
        //                        fill: false,
        //                    },
        //                ],
        //                labels: [
        //                    {% for lable,data in country_fb_likes.items %}
        //                        "{{lable|safe}}",
        //                    {% endfor %}
        //                ],
        //            },
        //            options: {
        //                legend: {
        //                    display: false,
        //                },
        //                responsive: true,
        //                title:{
        //                    display:true,
        //                    text:"",
        //                },
        //            }
        //        });


        // Popularity On Facebook By DJ In Country over last 12 months
        // var piectx = document.getElementById("pieChartArtistLikes").getContext('2d');
        //         var color = Chart.helpers.color;
        //         var myChart = new Chart(piectx, {
        //             type: 'pie',
        //             data: {
        //                 datasets: [{
        //                     data: [
        //                         {% for lable,data in country_fb_likes.items %}
        //                             {{data}},
        //                         {% endfor %}
        //                     ],
        //                     backgroundColor: [
        //                         {% for lable,data in country_fb_likes.items %}
        //                             "{{color_code|get_value_from_dict:lable}}",
        //                         {% endfor %}
        //                     ],
        //                     label: 'Dataset 1',
        //                 }],
        //                 labels: [
        //                     {% for lable,data in country_fb_likes.items %}
        //                         "{{lable|safe}}",
        //                     {% endfor %}
        //                 ],
        //             },
        //             options: {
        //                 legend: {
        //                     display: true,
        //                 },
        //                 responsive: true,
        //                 title:{
        //                     display:true,
        //                     text:"Popularity On Facebook By DJ In {{country}} over last 12 months"
        //                 },
        //             }
        //         });


        var ctx = document.getElementById("pieChartArtistLikes").getContext('2d');
                var color = Chart.helpers.color;
                var myChart = new Chart(ctx, {
                    // type: 'line',
                    // data: {
                    //     datasets: [
                    //     {% for lable ,data in youtube_likes_data.items %}
                    //     {
                    //         label: "{{lable|safe}}",
                    //         backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                    //         borderColor: "{{color_code|get_value_from_dict:lable}}",
                    //         fill: false,
                    //         data: [
                    //         {% for date, amount in  data.items %}
                    //         {
                    //             x: moment("{{date}}", 'x'),
                    //             y: {{amount}}
                    //         },
                    //         {% endfor %}
                    //     ],
                    //     },
                    //     {% endfor %}
                    // ]
                    // },
                    // options: {
                    //     legend: {
                    //         display: true,
                    //     },
                    //     elements: {
                    //         point: {
                    //             radius: 0,
                    //             hitRadius: 10,
                    //             hoverRadius: 5,
                    //         },
                    //     },
                    //     responsive: true,
                    //     title:{
                    //         display:true,
                    //         text:"Shortlisted Artists Total Popularity On Youtube"
                    //     },
                    //     scales: {
                    //         xAxes: [{
                    //             type: "time",
                    //             time: {
                    //                     unit: 'month',
                    //                     unitStepSize: 1,
                    //                   displayFormats: {
                    //                     'millisecond': 'MMM',
                    //                     'second': 'MMM',
                    //                     'minute': 'MMM',
                    //                     'hour': 'MMM',
                    //                     'day': 'MMM',
                    //                     'week': 'MMM',
                    //                     'month': 'MMM YYYY',
                    //                     'quarter': 'MMM',
                    //                     'year': 'MMM',
                    //                   }
                    //                   },
                    //             display: true,
                    //             scaleLabel: {
                    //                 display: true,
                    //                 labelString: 'Date',
                    //             },
                    //             ticks: {
                    //                 major: {
                    //                     fontStyle: "bold",
                    //                     fontColor: "#FF0000"
                    //                 }
                    //             }
                    //         }],
                    //         yAxes: [{
                    //             display: true,
                    //             scaleLabel: {
                    //                 display: true,
                    //                 labelString: 'Subscribers Count'
                    //             }
                    //         }]
                    //     }
                    // }

                    type: 'bar',
                    data: {
                        datasets: [
                            {
                                label: "Youtube Followers",
                                backgroundColor: [
                                    {% for lable, data in youtube_likes_data.items %}
                                        "{{color_code|get_value_from_dict:lable}}",
                                    {% endfor %}
                                ],
                                data: [
                                    {% for lable, data in youtube_likes_data.items %}
                                            {{data}},
                                    {% endfor %}
                                    ],
                                fill: false,
                            },
                        ],
                        labels: [
                            {% for lable,data in youtube_likes_data.items %}
                                "{{lable|safe}}",
                            {% endfor %}
                        ],
                    },

                     options: {
                        legend: {
                            display: false,
                        },
                        responsive: true,
                        title:{
                            display:true,
                            text:"",
                        },

                        animation: {
                            onComplete: function(e) {
                                var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                ctx.textAlign = 'center';
                                ctx.textBaseline = 'bottom';
                              
                                this.data.datasets.forEach(function (dataset, i) {
                                    var meta = chartInstance.controller.getDatasetMeta(i);
                                    meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    console.log("data is ",data)
                                    if(data == 0)                          
                                        ctx.fillText("No data", bar._model.x, bar._model.y - 5);
                                    });
                                });
                            }
                        }


                    },

                    
                });

        var ctx = document.getElementById("pieChartInstagramFollowers").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Instagram Followers",
                            backgroundColor: [
                                {% for lable, data in instagram_followers_data.items %}
                                    "{{color_code|get_value_from_dict:lable}}",
                                {% endfor %}
                            ],
                            data: [
                                {% for lable, data in instagram_followers_data.items %}
                                        {{data}},
                                {% endfor %}
                                ],
                            fill: false,
                        },
                    ],
                    labels: [
                        {% for lable,data in instagram_followers_data.items %}
                            "{{lable|safe}}",
                        {% endfor %}
                    ],
                },

                options: {
                legend: {
                    display: false,
                },
                responsive: true,
                title:{
                    display:true,
                    text:"",
                },

                animation: {
                    onComplete: function(e) {
                        var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';
                        
                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            console.log("data is ",data)
                            if(data == 0)                          
                                ctx.fillText("No data", bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                }


            },

            
        });

        // Graph For Twitter
        var ctx = document.getElementById("pieChartTwitterFollowers").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Twitter Followers",
                            backgroundColor: [
                                {% for lable, data in twitter_followers_data.items %}
                                    "{{color_code|get_value_from_dict:lable}}",
                                {% endfor %}
                            ],
                            data: [
                                {% for lable, data in twitter_followers_data.items %}
                                        {{data}},
                                {% endfor %}
                                ],
                            fill: false,
                        },
                    ],
                    labels: [
                        {% for lable,data in twitter_followers_data.items %}
                            "{{lable|safe}}",
                        {% endfor %}
                    ],
                },

                options: {
                legend: {
                    display: false,
                },
                responsive: true,
                title:{
                    display:true,
                    text:"",
                },

                animation: {
                    onComplete: function(e) {
                        var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';
                        
                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            console.log("data is ",data)
                            if(data == 0)                          
                                ctx.fillText("No data", bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                }


            },

            
        });
        
        // Graph For Youtube Views
        var ctx = document.getElementById("pieChartYoutubeViewsFollowers").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Youtube Views Followers",
                            backgroundColor: [
                                {% for lable, data in youtube_views_data.items %}
                                    "{{color_code|get_value_from_dict:lable}}",
                                {% endfor %}
                            ],
                            data: [
                                {% for lable, data in youtube_views_data.items %}
                                        {{data}},
                                {% endfor %}
                                ],
                            fill: false,
                        },
                    ],
                    labels: [
                        {% for lable,data in youtube_views_data.items %}
                            "{{lable|safe}}",
                        {% endfor %}
                    ],
                },

                options: {
                legend: {
                    display: false,
                },
                responsive: true,
                title:{
                    display:true,
                    text:"",
                },

                animation: {
                    onComplete: function(e) {
                        var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';
                        
                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            console.log("data is ",data)
                            if(data == 0)                          
                                ctx.fillText("No data", bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                }


            },

            
        });

        // Event In Country
        var piectx = document.getElementById("pieChartEventInCountry").getContext('2d');
                var color = Chart.helpers.color;
                var myChart = new Chart(piectx, {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [
                                {% for lable,data in artist_number_of_event.items %}
                                    {{data}},
                                {% endfor %}
                            ],
                            backgroundColor: [
                                {% for lable,data in artist_number_of_event.items %}
                                    "{{color_code|get_value_from_dict:lable}}",
                                {% endfor %}
                            ],
                            label: 'Dataset 1',
                        }],
                        labels: [
                            {% for lable,data in artist_number_of_event.items %}
                                "{{lable|safe}}",
                            {% endfor %}
                        ],
                    },
                    options: {
                        legend: {
                            display: true,
                        },
                        responsive: true,
                        title:{
                            display:true,
                            text:"Number of Event In {{country}}"
                        },
                    }
                });


        // Sanyam Bansal Chart

        var ctx = document.getElementById("myChart").getContext('2d');
                var color = Chart.helpers.color;
                var myChart = new Chart(ctx, {
                    // type: 'bar',
                    // data: {
                    //     datasets: [
                    //     {% for lable , data in likes_data.items %}
                    //     {
                    //         label: "{{lable|safe}}",
                    //         backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                    //         borderColor: "{{color_code|get_value_from_dict:lable}}",
                    //         fill: false,
                    //         data: [
                    //         {% for date, amount in  data.items %}
                    //         {
                    //             x: moment("{{date}}", 'x'),
                    //             y: {{amount}}
                    //         },
                    //         {% endfor %}
                    //     ],
                    //     },
                    //     {% endfor %}
                    // ]
                    // },
                    // options: {
                    //     legend: {
                    //         display: true,
                    //     },
                    //     elements: {
                    //         point: {
                    //             radius: 0,
                    //             hitRadius: 10,
                    //             hoverRadius: 5,
                    //         },
                    //     },
                    //     responsive: true,
                    //     title:{
                    //         display:true,
                    //         text:"Shortlisted Artists Total Popularity On Spotify"
                    //     },
                    //     scales: {
                    //         xAxes: [{
                    //             type: "time",
                    //             time: {
                    //                 	unit: 'month',
                    //               		unitStepSize: 1,
                    //                   displayFormats: {
                    //                   	'millisecond': 'MMM',
                    //                     'second': 'MMM',
                    //                     'minute': 'MMM',
                    //                     'hour': 'MMM',
                    //                     'day': 'MMM',
                    //                     'week': 'MMM',
                    //                     'month': 'MMM YYYY',
                    //                     'quarter': 'MMM',
                    //                     'year': 'MMM',
                    //                   }
                    //                   },
                    //             display: true,
                    //             scaleLabel: {
                    //                 display: true,
                    //                 labelString: 'Date',
                    //             },
                    //             ticks: {
                    //                 major: {
                    //                     fontStyle: "bold",
                    //                     fontColor: "#FF0000"
                    //                 }
                    //             }
                    //         }],
                    //         yAxes: [{
                    //             display: true,
                    //             scaleLabel: {
                    //                 display: true,
                    //                 labelString: 'Followers Count'
                    //             }
                    //         }]
                    //     }
                    // }


                    type: 'bar',
                    data: {
                        datasets: [
                            {
                                label: "Spotify Followers",
                                backgroundColor: [
                                    {% for lable, data in likes_data.items %}
                                        "{{color_code|get_value_from_dict:lable}}",
                                    {% endfor %}
                                ],
                                data: [
                                    {% for lable, data in likes_data.items %}
                                            {{data}},
                                    {% endfor %}
                                    ],
                                fill: false,
                            },
                        ],
                        labels: [
                            {% for lable,data in likes_data.items %}
                                "{{lable|safe}}",
                            {% endfor %}
                        ],
                    },

                    // data: {
                    //     datasets: [
                    //     {% for lable , data in likes_data.items %}
                    //     {
                    //         label: "{{lable|safe}}",
                    //         backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                    //         borderColor: "{{color_code|get_value_from_dict:lable}}",
                    //         fill: false,
                    //         data: [
                    //         {% for date, amount in  data.items %}
                    //         {
                    //             x: 1234,
                    //             y: {{amount}}
                    //         },
                    //         {% endfor %}
                    //     ],
                    //     },
                    //     {% endfor %}
                    // ]
                    // },

                    options: {
                        legend: {
                            display: false,
                        },
                        responsive: true,
                        title:{
                            display:true,
                            text:"",
                        },
                    }
                });



</script>

<script>

    $( document ).ready(function() {

        {% if not likes_data_check %}
            $(".likes_data_check_class").css({display: "none"})
            $(".likes_data_check_class_none").css({display: "block"})
        {% endif %}

        {% if not instagram_likes_data_check %}
            $(".instagram_like_check_class").css({display: "none"})
            $(".instagram_like_check_class_none").css({display: "block"})
        {% endif %}

        {% if not twitter_likes_data_check %}
            $(".twitter_like_check_class").css({display: "none"})
            $(".twitter_like_check_class_none").css({display: "block"})
        {% endif %}

        {% if not fb_like_check %}
            $(".fb_like_check_class").css({display: "none"})
            $(".fb_like_check_class_none").css({display: "block"})
        {% endif %}

        {% if not youtube_views_data_check %}
            $(".youtube_views_check_class").css({display: "none"})
            $(".youtube_views_check_class_none").css({display: "block"})
        {% endif %}

        {% if not country_fb_like_check %}
            $(".country_fb_like_check_class").css({display: "none"})
            $(".country_fb_like_check_class_none").css({display: "block"})
        {% endif %}

        {% if not youtube_likes_data_check %}
            $(".youtube_fb_like_check_class").css({display: "none"})
            $(".youtube_fb_like_check_class_none").css({display: "block"})
        {% endif %}

        {% if not no_of_eve_check %}
            $(".no_of_eve_check_class").css({display: "none"})
            $(".no_of_eve_check_class_none").css({display: "block"})
        {% endif %}

    });


</script>


{% endblock extra_js %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block slider %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>Shortlist Artists Stats</li>
        </ol>
    </div>
</div>
{% endblock slider %}


{% block content %}
{% if  shortlisted_artists %}
<div class="container">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING </strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }}&nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    {% if event.shortlisted_artists.all %}
        {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    <div class="row">
        <div style="margin-left:15px; text-align:center;">
            <h4>Artist Popularity analysis for your event <strong>"{{ event.event_name|title }}"</strong></h4>
            <!--<p style="text-align:left; width:70%;">Check Comparitive Popularity in total of your shortlisted djs over time on facebook, Their General popularity on facebook. The number of historical events  in a country and general popularity . </p>-->
            <p style="text-align:left;">"Click on the DJ profile for info on all media sources ."</p>
        </div>
        <div class="col-md-8" class="likes_data_check_class">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <center><h4><i class="fa fa-spotify fa-lg" aria-hidden="true"></i>&nbsp; Spotify Comparison</h4></center>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-md-8" class="likes_data_check_class_none" style="display: none;">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 class="text-align:center;">Shortlisted Artists Total Popularity On Spotify</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;"><b>Current Top Artists</b></h4>
                <div class="row checkbox-box text-center" style="display:inline">
                    {% for artist in top_artists %}
                        <center>
                            <div class="col-sm-3 item">
                                {% if artist.artist|get_artist_image_or_none %}
                                    <div class="roundImg margin-auto" style="background-image: url('{{artist.artist|get_artist_image_or_none}}');margin-left:10%;margin-bottom: 10px;"></div>
                                {% else %}
                                    <div class="roundImg margin-auto" style="background-image: url('{{STATIC_URL}}frontend/images/team-member-1.jpg');margin-left:10%;margin-bottom: 10px;"></div>
                                {% endif %}
                                <p class="mb-10 text-center" style="font-size: 14px"><a href="{% url 'artist_detail' artist.artist.artistID %}">{{artist.artist.artistName}}</a></p>
                            </div>
                        </center>
                    {% endfor %}
            </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-8 youtube_fb_like_check_class" >
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <center><h4><i class="fa fa-youtube-play fa-lg" style="color: red;" aria-hidden="true"></i>&nbsp; Youtube Comparison</h4></center>
                <canvas id="pieChartArtistLikes"></canvas>
            </div>
        </div>
        <div class="col-md-8 youtube_fb_like_check_class_none" style="display:None">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;">Shortlisted Artists Total Popularity On Youtube</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>

            </div>
        </div>

        <div class="col-md-4 no_of_eve_check_class">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                    <canvas id="pieChartEventInCountry"></canvas>
            </div>
        </div>
        <div class="col-md-4 no_of_eve_check_class_none" style="display: none;">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;">No of Events</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-8 instagram_like_check_class" >
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <center><h4><i class="fa fa-instagram fa-lg" style="color: purple;" aria-hidden="true"></i>&nbsp; Instagram Comparison</h4></center>
                <canvas id="pieChartInstagramFollowers"></canvas>
            </div>
        </div>
        <div class="col-md-8 instagram_like_check_class_none" style="display:None">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;">Shortlisted Artists Total Popularity On Instagram</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-8 twitter_like_check_class" >
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <center><h4><i class="fa fa-twitter-square fa-lg" style="color: blue;" aria-hidden="true"></i>&nbsp; Twitter Comparison</h4></center>
                <canvas id="pieChartTwitterFollowers"></canvas>
            </div>
        </div>
        <div class="col-md-8 twitter_like_check_class_none" style="display:None">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;">Shortlisted Artists Total Popularity On Twitter</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-8 youtube_views_like_check_class" >
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <center><h4><i class="fa fa-youtube-play fa-lg" style="color: red;" aria-hidden="true"></i>&nbsp; Youtube Views Comparison</h4></center>
                <canvas id="pieChartYoutubeViewsFollowers"></canvas>
            </div>
        </div>
        <div class="col-md-8 youtube_views_like_check_class_none" style="display:None">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <h4 style="text-align:center;">Shortlisted Artists Total Popularity On Youtube Views</h4>
                <p style="text-align:center;">The artist currently has no data from the source</p>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-8">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <canvas id="pieChartBarArtistLikes"></canvas>
            </div>
        </div>
    </div> -->
</div>
{% else %}
<div class="container" style="height:413px;">
<h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
    <span>
        <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
            <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
        </a>
    </span>
</h2>
<div class="row">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'event_detail' event.event_id %}">Event Info</a></li>
      <li><a href="{% url 'shortlisted_artist' event.event_id %}">Shortlisted Artist</a></li>
      <li class="active"><a href="{% url 'event_stats' event.event_id %}">Compare Artist Popularity</a></li>
      <li><a href="{% url 'recommended_artists' event.event_id %}">WDJP Recommends</a></li>
      <li ><a href="{% url 'offered_artists' event.event_id %}">Offered Artists</a></li>
      <li ><a href="{% url 'event_news' event.event_id %}">Event Related News</a></li>
      <li><a href="{% url 'booked_artists' event.event_id %}">Booked Artists</a></li>
    </ul>
</div>
    <div>
        <h4 style="text-align:center; margin-top:100px;"> You had not shortisted any artist yet , Please shortlist the artists to know their Statistics </h4>
    </div>
</div>

{% endif %}

{% include 'events/duplicate_event.html' %}
{% endblock %}



{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
