{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{artist.artistName}} </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
    {% include "home/show_loader.html" %}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/map_styles.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'frontend/js/zingchart.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

<!-- Notes Script -->
<script src="{% static 'frontend/js/event_notes.js'%}"></script>

<script type="text/javascript">
    // Comments Script Start 
    $(document).on('click','.reply-btn',function(){
        $(this).parent().next('.replied-comments').fadeToggle()
    });

    $(document).on('submit','.event-comments',function(){
    event.preventDefault();
    $.ajax({
        type: "POST",
        url: "{% url 'event_comment' 0 %}".replace('0','{{event.eventID}}'),
        data: $(this).serialize(),
        success: function(response) {
            $('.comments-section').html(response);
        }
    });
    });
    //Comments Script End

        function add_to_favorite_event(event_id){
            $.ajax({
                url: "{% url 'add_or_remove_favorite_event' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : event_id,
                    'action': "create_favorite_venue",
                },

                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $(".heart_outline_icon"+response.id).hide();
                        $(".heart_filled_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue + " has now been added to your favorites");
                        document.getElementById("fav_txt").innerHTML = "Favourite event:";
                        document.getElementById("add_fav_ev").style.display = "none";
                        document.getElementById("rem_fav_ev").style.display = "initial";

                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }

        function remove_from_favorite_event(event_id){
            $.ajax({
                url: "{% url 'add_or_remove_favorite_event' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : event_id,
                    'action': "remove_favorite_venue"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $(".heart_filled_icon"+response.id).hide();
                        $(".heart_outline_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue +"has now been remove to your favorites");
                        document.getElementById("fav_txt").innerHTML = "Favourite event?";
                        document.getElementById("rem_fav_ev").style.display = "none";
                        document.getElementById("add_fav_ev").style.display = "initial";
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }


$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        //loop:true,
        rewind: true,
        margin:10,
        nav:true,
        dots: false,
        items:10,
        autoWidth: true,
        responsive:{
            0:{
                items:1
            },
            250:{
                items:3
            },
            600:{
                items:4
            },
            800:{
                items:6
            },
            1000:{
                items:8
            }
        }
    })


    // Function Used to Open the Booking Confirmation
    $("#modal_booking_submit_button").click(function( event ) {
        event.preventDefault();
        date_inserted = $("#new_event_date_id").val();
        type_of_event = $("#event_action_option").val();
        event_action = $("#select_option").val();
        new_event_action = $("#booking_action").val();
        event_name = $("#select_event option:selected" ).text()

        if (event_action == "booking"){
            model_heading = "Confirm Booking Request"
            action = "booking request"
        }
        else{
            model_heading = "Confirm Offer Sheet"
            action = "offer sheet"
        }

        $("#id_booking_request_confirm_modal").find('.modal-title').append("<p>").text(model_heading)
        model_text = "You are going to email {{artist.artistName|title|safe}} a " + action + " to your email for " + event_name + " on " + date_inserted
        $("#id_booking_request_confirm_modal").find('.modal-body').append("<p>").text(model_text)
        if($("#id_form").valid()) {
            $("#id_booking_request_confirm_modal").modal("show");
        } else {
            $("#id_form").submit()
        }
    });


   $("#booking_request_confirm_button").click(function( event ) {
       $("#id_form").submit();
       $("#id_booking_request_confirm_modal").modal("hide");
   });

   $("#new_event_date_id").on("change paste keyup", function() {
      date_value = $(this).val();
      if (date_value != ""){
          $("#select_event_text_id").html("Select Event For " + date_value);
          $("#select").show();
      }else{
          $("#select").hide();
      }
   });

    $("#select_event").on("change", function(){
        option_value = $("#select_event").val();
        if (option_value == ""){
            $("#existing_event_options").hide();
        }
        else {
            $("#existing_event_options").show();
            var has_offer = $("#select_event option:selected").attr('has-offer');
            if (has_offer == "false"){
                $("#event_offer_choice").hide();
            }
            else {
                $("#event_offer_choice").show();
            }
        }
    });

    // $('#event_action_option').click(function(){
    //     if ( $(this).val() == "existing_event") {
    //         $('#select_action').attr('required', true);
    //         $('#select_event').attr('required', true);
    //         $('#new_event_date_id').attr('required', true);
    //         $('#new_event_name_id').attr('required', false);
    //         $('#existing_event_copy_id').attr('required', false);
    //         $('#booking_action').attr('required', false);
    //         $('#existing_event_options').show();
    //         $("#new_event_div").hide();
    //     }
    //     else if ($(this).val() == "new_event") {
    //         $('#select_action').attr('required', false);
    //         $('#select_event').attr('required', false);
    //         $('#new_event_date_id').attr('required', true);
    //         $('#new_event_name_id').attr('required', true);
    //         $('#existing_event_copy_id').attr('required', true);
    //         $('#booking_action').attr('required', true);
    //         $("#existing_event_options").hide();
    //         $("#select").hide();
    //         $("#new_event_div").show();
    //         $("#select").hide();
    //     }
    // })

    $("#select_event").click(function(){
        if ( $(this).val() == "create event") {
            window.location.href = "{% url 'booking_request' %}"
        }
    })

    $("#select_event_to_shortlist").click(function(){
        if ( $(this).val() == "create event") {
            window.location.href = "{% url 'booking_request' %}"
        }
    })

    var date = new Date();
    date.setDate(date.getDate());
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd",
        startDate: date,
        autoclose: true,
    });

    $("#select_option").change(function(){
        $("#select").show();
        if($("#select_option").val() == ""){
            $("#select").hide();
        }
    });

    $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
    $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    $('.bio_truncate').jTruncate({
        length: 500,
        minTrail: 30,
        moreText: "Show More",
        lessText: "Less",
        ellipsisText: "...",
        moreAni: "",
        lessAni: ""
    });
});
    var gm = google.maps;
    var oms;
    var marker = [];

    var map;
    var mapOptions = {
        scrollwheel: false,                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        //zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(-31.9505, 115.8605),
        styles: map_styles
    };

    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

    var mark_counter = 0;

    var infowindow = new google.maps.InfoWindow();

    var future_mark = 1;

    {#function load_events(action){#}
    {#    if (action == "upcoming"){#}
    {#        var start = $("#upcoming_start").val();#}
    {#        $("#upcoming_svg").show();#}
    {#    }#}
    {#    else{#}
    {#        var start = $("#past_start").val();#}
    {#        $("#past_svg").show();#}
    {#    }#}
    {#    data = {#}
    {#        "start":start,#}
    {#        "action":action,#}
    {#    }#}
    {#    $.ajax({#}
    {#        url: "{% url 'load_events' artist.artistID %}",#}
    {#        type: "GET",#}
    {#        data: data,#}
    {#        success: function(response) {#}
    {#            if (action == "upcoming"){#}
    {#                $("#upcoming_svg").hide();#}
    {#                if (response.status == "True"){#}
    {#                    $('#upcomingtable tr:last').after(response.data);#}
    {#                    $('#upcoming_start').val(response.start);#}
    {#                }#}
    {#                else {#}
    {#                    $("#upcoming_button").hide();#}
    {#                }#}
    {#            }#}
    {#            else {#}
    {#                $("#past_svg").hide();#}
    {#                if (response.status == "True"){#}
    {#                    $('#pasttable tr:last').after(response.data);#}
    {#                    $('#past_start').val(response.start);#}
    {#                }#}
    {#                else {#}
    {#                    $("#past_button").hide();#}
    {#                }#}
    {#            }#}
    {#        }#}
    {#    })#}
    {#}#}

    function initialize() {
        map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
        oms = new OverlappingMarkerSpiderfier(map);

        var address = (document.getElementById('address'));
        var autocomplete = new google.maps.places.Autocomplete(address);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            $("#searchPanel").collapse('hide');
            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            map.setCenter(place.geometry.location);
        });
        getArtistData();
    }

    function booking_request(artist_id){
        $("#id_booking_request_modal").modal("show");
        $("#id_artist").val(artist_id)
    }



    function getArtistData() {
        var artist = getParamValue('artist');
        $.get('/events/maps/?event={{event.eventID}}', function(response) {
            var artistData = JSON.parse(response);
            var artistDetail  = artistData[0].artistDetail;
            var artistEvents  = artistData[0].events;
            for(var i in artistEvents) {
                var eventData = artistEvents[i].eventDetail;
                var venueData = artistEvents[i].venueDetail;
                if(venueData.venueLatitude != "0.000000000") {
                    var coordinates = new google.maps.LatLng(venueData.venueLatitude, venueData.venueLongitude);
                    if(eventData.eventType == 'past') {
                        var iconURL = new google.maps.MarkerImage(
                                "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                                null, /* size is determined at runtime */
                                null, /* origin is 0,0 */
                                null, /* anchor is bottom center of the scaled image */
                                new google.maps.Size(36, 48)
                        );
                    }
                    else {
                        marker_value = parseInt(i) + 1;
                        var iconURL = new google.maps.MarkerImage(
                                "http://chart.apis.google.com/chart?chst=d_map_spin&chld=1|0|00E44C|12|_|"+marker_value,
                                null, /* size is determined at runtime */
                                null, /* origin is 0,0 */
                                null, /* anchor is bottom center of the scaled image */
                                new google.maps.Size(36, 36)
                        );
                        future_mark++;
                    }

                    marker[mark_counter] = new google.maps.Marker({
                        position: coordinates,
                        map: map,
                        id: mark_counter,
                        venue: venueData.venueName,
                        address: venueData.venueAddress,
                        artist: artistDetail.artist,
                        artist_image: artistDetail.artist_image,
                        event: eventData.eventName,
                        date: eventData.date,
                        startTime: eventData.startTime,
                        endTime: eventData.endTime,
                        city: venueData.city,
                        country: venueData.country,
                        icon: iconURL,
                        type: eventData.eventType,
                    });

                    google.maps.event.addListener(marker[mark_counter], "click", function (event) {
                        var d = new Date(this.date);
                        var dateArray = String(d).split(" ");
                        var date = dateArray[0] + " / " + dateArray[2] + " " + dateArray[1] + " " + dateArray[3];
                        var time = "";
                        var google_search = 'https://www.google.com/search?q=' + this.artist + " " + this.event + " Tickets " + this.date;
                        if(this.startTime != "") time += this.startTime;
                        if((this.endTime != "") && (time != "")) time += " - " + this.endTime;
                        else time += this.endTime;
                        var content = "<h4><b>" + this.artist + " - " + date +" / " + this.event + "</b></h4><br/>";
                        if(this.startTime != "" || this.endTime != "")
                            content+="<div class='pull-left' style='width: 50%;'>";content += "Time: <b>" + time + "</b><br/>";
                        content += "Venue Name: <b>" + this.venue + "</b><br/>";
                        if(this.address != "") content += "Venue Address: <b>" + this.address + "</b><br/>";
                        if(this.city != "") content += "Venue City: <b>" + this.city + "</b><br/>";
                        if(this.country != "") content += "Venue Country: <b>" + this.country + "</b><br/>";
                        content += "<a href='"+google_search+"' target='_blank'>Search Tickets</a>";
                        content+="</div>";
                        content += "<div style='width: 50%; text-align:right; float:right !important;'><img style='display: inline-block;' src='"+this.artist_image+"' height='100' width='100'></div>";
                        infowindow.setContent(content);
                        infowindow.setPosition(this.getPosition());
                        infowindow.open(map);
                    });

                    oms.addMarker(marker[mark_counter]);
                    mark_counter++;
                }
            }

            {% if upcoming_events %}
                getEvents('future');
            {% else %}
                getEvents('past');
            {% endif %}
        });
    }

    function getEvents(type) {
        // $("#searchPanel").collapse('hide');
        infowindow.close();
        var artist_bounds = new google.maps.LatLngBounds();
        var future_count = 0;
        var map_center;
        for(var i in marker) {
            if(type == "all") {
                marker[i].setVisible(true);
                artist_bounds.extend(marker[i].getPosition());
            } else {
                if(marker[i].type == type) {
                    if(future_count == 0) map_center = marker[i].getPosition();
                    marker[i].setVisible(true);
                    artist_bounds.extend(marker[i].getPosition());
                    future_count++;
                } else {
                    marker[i].setVisible(false);
                }
            }
        }
        map.fitBounds(artist_bounds);
        map.setCenter(map_center);
        map.setZoom(8);
    }

    function getParamValue(paramName)
    {
        var url = window.location.search.substring(1); //get rid of "?" in querystring
        var qArray = url.split('&'); //get key-value pairs
        for (var i = 0; i < qArray.length; i++)
        {
            var pArr = qArray[i].split('='); //split key and value
            if (pArr[0] == paramName)
                return pArr[1]; //return value
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function(){
        initialize();
    });

</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart', 'bar']});
    {% if statistics.facebook or statistics.twitter %}
         google.charts.setOnLoadCallback(drawsocialmediaChart);
    {% endif %}
    {% if statistics.youtube or statistics.spotify %}
        google.charts.setOnLoadCallback(drawstreamingchannelChart);
    {% endif %}

  function drawstreamingchannelChart() {

    var data = google.visualization.arrayToDataTable([
    ['Social Media', 'Fans'],
    {% if statistics.youtube %}
        ['Youtube', {{statistics.youtube.likes}}],
    {% endif %}
    {% if statistics.spotify %}
    ['Spotify', {{statistics.spotify.likes}}],
    {% endif %}
    ]);

    var options = {
        title: "STREAMING CHANNELS",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        height: 150,
        chartArea: {width: '70%'},
        hAxis: {
          minValue: 0
        },
        bar: {
          groupWidth: '80%'
        },
        legend: {position: 'none'},
        colors: ['#09afdf'],
    };

    var chart = new google.visualization.BarChart(document.getElementById('streaming_channel_chart'));

    chart.draw(data, options);
  }

function drawsocialmediaChart() {

    var data = google.visualization.arrayToDataTable([
      ['Social Media', 'Fans'],
      {% if statistics.facebook %}
          ['Facebook', {{statistics.facebook.likes}}],
      {% endif %}
      {% if statistics.twitter %}
          ['Twitter', {{statistics.twitter.likes}}],
      {% endif %}
      {% if statistics.instagram %}
          ['Instagram', {{statistics.instagram.likes}}],
      {% endif %}
    ]);

    var options = {
      title: "SOCIAL MEDIA",
      titleTextStyle: {
        color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
        fontSize: 12, // 12, 18 whatever you want (don't specify px)
        bold: false,    // true or false
      },
      height: 150,
      chartArea: {width: '70%'},
      hAxis: {
        minValue: 0
      },
      bar: {
        groupWidth: '80%'
      },
      colors: ['#09afdf'],
      legend: {position: 'none'},
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

    chart.draw(data, options);
}

{% if statistics.facebook %}
  google.charts.setOnLoadCallback(drawfbChart);
  function drawfbChart() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Fans'],
      {% for data in statistics.facebook.map_data %}
          [new Date({{data.date}}),  {{data.fans}}],
      {% endfor %}
    ]);

    var options = {
      chartArea: {width: '60%'},
      title: "Growth: {{ statistics.facebook.growth }}%",
      titleTextStyle: {
        color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
        fontSize: 12, // 12, 18 whatever you want (don't specify px)
        bold: false,    // true or false
      },
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {title: 'Fans', minValue: 0,logScale: true},
      colors: ['#09afdf'],
    };


    var chart = new google.visualization.AreaChart(document.getElementById('id_facebook_growth_chart'));
    chart.draw(data, options);
  }
{% endif %}

// Twitter Chart
{% if statistics.twitter %}
  google.charts.setOnLoadCallback(drawtwChart);
  function drawtwChart() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Followers'],
      {% for data in statistics.twitter.map_data %}
          [new Date({{data.date}}),  {{data.fans}}],
      {% endfor %}
    ]);

    var options = {
      chartArea: {width: '60%'},
      title: "Growth: {{ statistics.twitter.growth }}%",
      titleTextStyle: {
        color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
        fontSize: 12, // 12, 18 whatever you want (don't specify px)
        bold: false,    // true or false
      },
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {title: 'Fans', minValue: 0, logScale: true},
      colors: ['#09afdf'],
    };

    var chart = new google.visualization.AreaChart(document.getElementById('id_twitter_growth_chart'));
    chart.draw(data, options);
  }
{% endif %}

// Youtube Chart
{% if statistics.youtube %}
  google.charts.setOnLoadCallback(drawytChart);
  function drawytChart() {
    var data = google.visualization.arrayToDataTable([
    ['Date', 'Subscribers'],
    {% for data in statistics.youtube.map_data %}
        [new Date({{data.date}}),  {{data.fans}}],
    {% endfor %}
    ]);

    var options = {
        chartArea: {width: '60%'},
        title: "Growth: {{ statistics.youtube.growth }}%",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        hAxis: {titleTextStyle: {color: '#333'}},
        vAxis: {title: 'Fans', minValue: 0, logScale:true},
        colors: ['#09afdf'],
    };

    var chart = new google.visualization.AreaChart(document.getElementById('id_youtube_growth_chart'));
    chart.draw(data, options);
  }
{% endif %}
//Spotify Chart
{% if statistics.spotify %}
  google.charts.setOnLoadCallback(drawspotifyChart);

  function drawspotifyChart() {
    var data = google.visualization.arrayToDataTable([
    ['Date', 'Followers'],
    {% for data in statistics.spotify.map_data %}
        [new Date({{data.date}}),  {{data.fans}}],
    {% endfor %}
    ]);

    var options = {
        chartArea: {width: '60%'},
        title: "Growth: {{ statistics.spotify.growth }}%",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        hAxis: {titleTextStyle: {color: '#333'}},
        vAxis: {title: 'Fans', minValue: 0, logScale: true},
        colors: ['#09afdf'],
    };

    var chart = new google.visualization.AreaChart(document.getElementById('id_spotify_growth_chart'));
    chart.draw(data, options);
  }
{% endif %}


{% if statistics.instagram %}
  google.charts.setOnLoadCallback(drawinstagramChart);

  function drawinstagramChart() {
    var data = google.visualization.arrayToDataTable([
    ['Date', 'Followers'],
    {% for data in statistics.instagram.map_data %}
        [new Date({{data.date}}),  {{data.fans}}],
    {% endfor %}
    ]);

    var options = {
        chartArea: {width: '60%'},
        title: "Growth: {{ statistics.instagram.growth }}%",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        hAxis: {titleTextStyle: {color: '#333'}},
        vAxis: {title: 'Fans', minValue: 0, logScale: true},
        colors: ['#09afdf'],
    };

    var chart = new google.visualization.AreaChart(document.getElementById('id_instagram_growth_chart'));
    chart.draw(data, options);
  }
{% endif %}


</script>
<script type="text/javascript" src = "{% static 'frontend/js/jquery.jtruncate.js' %}"></script>
<script>

</script>
{% endblock %}
{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Events</a></li>
                        <li class="active">{{event.eventName}}</li>
                        {% if message_string %}
                            <li style="color:#09afdf;">Search ({{message_string}})</li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->

    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <h1 style="padding-left: 15px;">{{artists.0}} {% if artists.1 %}// {{artists.1}} {% endif %} {% if artists.2 %}// {{artists.2}} {% endif %}
                    // {{ event.date }} // {{ venue.venuename }} // {{venue.city}}

                </h1>
                <div class="main col-md-12">
                    <div class='row'>
                        <div class="col-md-3 pv-mobile">
                            <div class="sliderImgWrapper" style="margin-bottom: 20px;">
                                {% if artist.artistPhoto %}
                                    <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="100%" >
                                {% else %}
                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100%" height="">
                                {% endif %}
                            <time datetime="2014-09-20" class="icon">
                                <em>{{ weekday }}</em>
                                <strong style="">{{ month }}</strong>
                                <span style="">{{ event.date.day }}</span>
                            </time>
                            </div>
                            <h3 class="artist-name" style="margin-top: 0px;">{{ event.eventName }} // {{ event.date}} </h3>
                            {% if event in  pro_obj.fav_events_list.all %}
                                    <img style="width:20px; display:inline;" id="heart_filled_icon{{artist.artistID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite({{artist.artistID}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                    <!-- <img style="display:none; width:20px;" id="heart_outline_icon{{artist.artistID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite({{artist.artistID}});" alt="{{artist.artistName}}" width="200px" height="200px"> -->
                                {% else %}
                                    <!-- <img style="display:inline; width:20px;" id="heart_outline_icon{{artist.artistID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite({{artist.artistID}});" alt="{{artist.artistName}}" width="200px" height="200px"> -->
                                    <img style="display:none; width:20px;" id="heart_filled_icon{{artist.artistID}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite({{artist.artistID}});" alt="{{artist.artistName}}" width="200px" height="200px">
                            {% endif %}
                            <div class=text-center>
                            <button class="btn btn-primary btn-sm" id="add_fav98" role="button" onclick="location.href= 'https://www.google.com/search?q=tickets {{event.date}} {{event.eventName}}'" style="display: inline-block;">Search 4 Tickets</button>
                            {% if event in pro_obj.favorite_events.all %}
                                <button class="btn btn-primary btn-sm" id="add_fav_ev" role="button" onclick="add_to_favorite_event({{event.eventID}});" style="display: none; background-color: #FF0000;">Add to Favorite</button>
                                <button class="btn btn-primary btn-sm" id="rem_fav_ev" role="button" onclick="remove_from_favorite_event({{event.eventID}});" style="display: inline-block;background-color: #FF0000;">Remove from Favorite</button>

                            {% else %}
                                <button class="btn btn-primary btn-sm" id="add_fav_ev" role="button" onclick="add_to_favorite_event({{event.eventID}});" style="display: inline-block;background-color: #FF0000;">Add to Favorite</button>
                                <button class="btn btn-primary btn-sm" id="rem_fav_ev" role="button" onclick="remove_from_favorite_event({{event.eventID}});" style="display: none;background-color: #FF0000;">Remove from Favorite</button>
                            {% endif %}
                            </div>
                            <div class=text-center>
                                    <a href="#" class="eventshortlist btn btn-default btn-sm" id="{{event.eventID}}">Shortlist this Event</a>
                            </div>

<!--                            <button class="btn btn-primary btn-sm" id="add_fav_ev" role="button" onclick="add_to_favorite_event({{event.eventID}});" style="display: inline-block;">Add to Favorite</button>-->


                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Genres:</strong> {% for genre in artist_genres %}<span class="tag tag-default">{{genre.genreID.genreName}}{% if not forloop.last %},{% endif %}</span>{% endfor %}</p>

                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Country:</strong>
                            {% with 'flags/'|add:code|add:'.gif' as image_static %}
                                            <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                            {{ venue.country }}</p>
                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>City:</strong> {{ venue.city }}</p>
                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Venue name:</strong> {{ venue.venuename }}</p>
                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Venue address:</strong> {{ venue.venueaddress }}</p>
                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Date:</strong> {{ event.date }}</p>
                            <p style="margin-top:5px;margin-bottom: 0px;"><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</p>
                            {% if event in pro_obj.favorite_events.all %}
                                <p style="margin-top:5px;margin-bottom: 0px;"><strong id="fav_txt">Favourite event:</strong>
                                <img style="display:inline; width:20px;" class="heart_filled_icon{{ event.eventID }}" id="heart_filled_icon{{event.eventID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{event.eventID}});" alt="{{event.eventID}}" width="200px" height="200px">
                                <img style="display:none; width:20px;" class="heart_outline_icon{{ event.eventID }}" id="heart_outline_icon{{event.eventID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{event.eventID}});" alt="{{event.eventID}}" width="200px" height="200px">
                            {% else %}
                                <p style="margin-top:5px;margin-bottom: 0px;"><strong id="fav_txt">Favourite event?</strong>

                                <img style="display:inline; width:20px;" class="heart_outline_icon{{ event.eventID }}" id="heart_outline_icon{{event.eventID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{event.eventID}});" alt="{{event.eventID}}" width="200px" height="200px">
                                <img style="display:none; width:20px;" class="heart_filled_icon{{ event.eventID }}" id="heart_filled_icon{{event.eventID}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{event.eventID}});" alt="{{event.eventID}}" width="200px" height="200px">
                            {% endif %}</p>
                            
                            {% if event_connections|length < 6 and register_venue %}
                                
                                <div class="separator-2 mt-10"></div>
                                
                                <span id="artist_mgmt_text" style="width:336px;;word-wrap:break-word;">
                                    Do you work with this company ? <br>
                                    <a href="{% url 'add_connection_info' 'Event' event.eventID %}" class="btn btn-default" id="register-connection"> Connect </a>
                                    <!-- Registration button -->
                                </span>
                                <div class="separator-2 mt-10"></div>
                            {% endif %}


                            {% if social_urls.soundcloud %}
                                <h3 class="title" style="margin-top: 15px;">EVENT MUSIC</h3>
                                <div class="separator-2"></div>
                                <div class="soundcloud-frame">
                                    <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ social_urls.soundcloud }}&color=ff5500&auto_play=false&hide_related=true&theme_color=111111&show_comments=false&show_user=false"></iframe>
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-6 pv-mobile">
                            <div class="sidebar">
                                    <div class="artist_map" style="">
                                        <div style="text-align:center">
<!--                                            <h3 style="margin-top: 0px;">Event Location</h3>-->
                                        </div>
                                        <div id="map_canvas" style="   position: relative;width: 100%; padding-top: 100%;"></div>
                                    </div>

                            </div>

                            <!-- <p class=""><strong>Budget :</strong> {{ artist.artistBudget|get_budget}}</p> -->



                            <div style="margin-top: 5px;margin-bottom: 0px;">

                            </div>
<!--                            <ul class="social-links colored circle small">-->
<!--                                {% for source,url in social_urls.items %}-->
<!--                                    {% if source != "youtube_username"%}-->
<!--                                        <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>-->
<!--                                    {% endif %}-->
<!--                                {% endfor %}-->
<!--                                <li><a target="_blank" href="https://www.google.com/search?q={{artist.artistName}}"><img src="{% static "frontend/images/btn_google.png"%}" alt="google-search" style="display:inline"></a></li>-->
<!--                            </ul>-->
                            <!--hidden-buttons-->
                            <h4 style="text-align:center;"><strong>ARTIST LINE UP</strong></h4>
                            {% for art in artists %}
                                <a href="/artists/artist/{{ art.artistID }}/"><span class="label wd-label-article">{{ art.artistName }}</span></a>
                            {% endfor %}
                            <div class="owl-carousel owl-theme">
                                {% for sm_artist in artists %}
                                    <div class="item">
                                        <div class="wrapper">
                                            {% if sm_artist.artistPhoto %}
                                                <img src="{{ sm_artist.artistPhoto.url }}" style="width:100px;height:100px">
                                            {% else %}
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="width:100px;height:100px">
                            {% endif %}
                            <div class='description'>
                                <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}">{{sm_artist.artistName}}</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                            </div>
                            <!-- NOTES PART START -->
                            <div class="section">
                                <h4>{{event.eventName}} Notes  <br>
                                <button class="btn btn-default btn-red" type="button" onclick="show_new_user_note_modal('{{event.eventName}}')">Create Note</button></h4>   
                                <div class="user_note_div">
                                    {% include 'events/event_note.html' %}
                                </div>
                            </div> 
                            <!-- NOTES PART END -->
                            <!-- COMMENTS SECTION START -->
                            {% if system_env != 'PRODUCTION' %}
                            <div class="comments-section">
                                <h4> Community Comments </h4>
                                {% include 'events/event_comments.html'%}
                            </div>
                            {% endif %}
                            <!-- COMMENTS SECTION END -->
                        </div>

                        <div class="col-md-3 pv-mobile">
                            {% if event_connections%}
                                <h4> Event Connections:</h4>
                            {% endif%}
                            {% for event_connection in event_connections %}
                                <a href="{% url 'profile_show' event_connection.requested_by.id %}"> {{event_connection.requested_by.email}}</a>
                            {% endfor %}
                        </div>
                        
                    </div>
                                     

                    {% if free_online_dates %}
                        <div class="tab-content" style="margin-top: 15px;">
                            <div id="upcoming1" class="tab-pane fade in active">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Searched Date</th>
                                            <th>DATE STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event_date in free_online_dates %}
                                        <tr>
                                            <td class="col-md-3">{{event_date.date}}</td>
                                            {%if event_date.status == "Free Online"%}
                                                <td class="col-md-3" style="color:green;">{{event_date.status}}</td>
                                            {%else%}
                                                <!-- <td class="col-md-3" style="color:red;">{{event_date.status}} {% if event_date.status == "Booked" %} <strong>({{artist|get_venue}})</strong> {% endif %}</td> -->
                                                <td class="col-md-3" style="color:red;">{{event_date.status}} {% if event_date.status == "Booked" %} <strong>({{event_date.country}})</strong> {% endif %}</td>
                                            {%endif%}
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        {% for event in future_happening_events %}
                            <div class="col-md-12">
                                <div class="alert  alert-icon alert-warning" role="alert">
                                    <i class="fa fa-info-circle"></i>
                                        The Next {{artist.artistName|title}} Show within 100 miles from {% if user_session_location.city %}{{ user_session_location.city }}{% else %} your location {% endif%} is on {{event.date|date:"M d, Y" }} on {{event.venueName}}{% if event.venueAddress %} ( {{event.venueAddress}} ) {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        {% for event in past_happend_events %}
                            <div class="col-md-12">
                                <div class="alert  alert-icon alert-success" role="alert">
                                    <i class="fa fa-info-circle"></i>
                                        The Last Known {{artist.artistName|title}} Show within 100 miles from {% if user_session_location.city %}{{ user_session_location.city }}{% else %} your location {% endif%} was on {{event.date|date:"M d, Y" }} at {{event.venueName}}{% if event.venueAddress %} ( {{event.venueAddress}} ) {% endif %}
                                </div>
                            </div>
                        {% endfor %}


                        {% if is_premium_user %}
                            {% for event in artist_requested_event_list %}
                                <div class="col-md-12">
                                    <div class="alert  alert-icon alert-info" role="alert">
        								<i class="fa fa-info-circle"></i>
                                        You submitted
                                             {{event.event_name|title}} request for {{event.event_date }} on {{event.created_on|date:"M d, Y"}}
            					    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                        <br>
                        {% if latest_news %}
                            <div>
                                <h2>{{artist.artistName}} News</h2>
                                {% for news in latest_news %}
                                <div class="wd-artist-news">
                                    <span class="wd-posted-on" style="font-size: 14px">{{news.source }}</span> &#8226;
                                    {{news.title}}
                                    <a target="_blank" href="{{news.url}}">Read the Article</a>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="btn btn-default btn-md" href="{% url 'news' %}?artist_name={{artist.artistName}}">Show More News</a>
                        {% endif %}


                        <!-- <h2 style="margin-top:42px;">{{ artist.artistName|upper }} HISTORICAL STATS</h2>
                        <p style="font-size:18px;"> Last Two Year <strong>{{ artist.artistName|upper }}</strong> was booked <strong>{{ artist_weekend_total_percentage }} % </strong> of weekends .</p>
                        <p style="font-size:18px;"> How available was <strong>{{ artist.artistName|upper}}</strong> Last two years ? </p>
                        <span style="font-size: 14px; display:inline;"><strong>Winter Weekends - </strong></span> <p style="display:inline;">{{ winter_season_weekends_total_percentage }} %</p><br>
                        <span style="font-size: 14px; display:inline;"><strong>Spring Weekends - </strong></span> <p style="display:inline;">{{ spring_season_weekends_total_percentage }} %</p><br>
                        <span style="font-size: 14px; display:inline;"><strong>Summer Weekends - </strong></span> <p style="display:inline;">{{ summer_season_weekends_total_percentage }} %</p><br>
                        <span style="font-size: 14px; display:inline;"><strong>Autumn Weekends - </strong></span> <p style="display:inline;">{{ autumn_season_weekends_total_percentage }} %</p><br><br>
                        <p>* All stastistics are based on known /online shows only from artist listing.</p> -->

                    </div>


                <!-- main end -->
                <!-- sidebar start -->
                <!-- ================ -->

                <!-- sidebar end -->
            </div>
        </div>
    </section>





</form>

<div id="id_choose_event" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 style="font-size:14px; color:white;">Cool- So You would Like To Shortlist {{ artist.artistName }} For An Event For Further Analysis !</h6>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <form action="" method="post">
                            <label id="select_event_text_id" for="select_event">Which event from your Event portfolio ?</label>
                            <select name="event_id" class="form-control" id="select_event_to_shortlist" required>
                                <option value="">Select a event</option>
                                {% for event in all_events %}
                                    <option has-offer="{{event.have_offer_data}}" value="{{ event.pk }}">{{ event.event_name|title }}</option>
                                {% endfor %}
                                <option value="create event"><a href="{% url 'booking_request'%}">Creating a new event for <strong>{{ artist.artistName }}</strong> </a></option>
                            </select>
                            <small class="help-block with-errors"></small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal" onclick="shorlist_for_event({{artist.artistID}})">Submit</a>
                <!-- <button type="button" class="btn btn-default" >Close</button> -->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Notes Modal -->
<div id="id_new_user_notes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" id="id_new_note_form" role="form" method="post" data-toggle="validator">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header btn-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title note-title"> </h4>
                </div>
                <div class="modal-body">
                    {{form_note.note}}
                </div>
                {{form_note.user}}{{form_note.event}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mb-6" data-dismiss="modal">Close</button>
                    <button id="user_note_save_button" type="submit" class="btn btn-default ">Save</button>
                </div>
            </div>
            
        </form>
    </div>
    
</div>
<!-- Notes Modal End-->

<!-- DELETE MODAL POPUP -->
<div id="dlt-modal" class="modal info-modal" role="dialog">
    <div class="modal-dialog modal-align">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header btn-red">
          <h4 class="modal-title">Delete Note?</h4>
        </div>
        <div class="modal-body" id= "delete_modal_body">
          <p class="dltmsg">Are you sure you want to delete this Note? This cannot be undone.</p>
          <input hidden id="dlt-temp-id" type="text">
        </div>
        <div class="modal-footer dlt-modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
            <input class="btn btn-danger dltbtn mb-10" type="submit" value="DELETE" id="delete_note">
        </div>
      </div>
    </div>
  </div>
<!-- DELETE MODAL POPUP END -->
{% include 'artist/managed_artists_modal.html' %}
{% include "error_pages/info_modal_popup.html" %}

{% include "events/shortlist_venues_js.html" %}

    <!-- main-container end -->
	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
