{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load event_filters %}
{% load i18n %}
<!-- {% load artist_filters %} -->

{% block title %} {{ block.super }} | Events Search </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<style type="text/css">
     .page-wrapper{
        background: #eee;
    }

</style>
<script>
    var START = {{ start }};
    function load_more_news(start, event, cb) {
        $("#upcoming_svg").show();
        cb(event);
        $(window).off('scroll', scrollIt);
        $.ajax({
            url: window.location.href,
            data: {
                'start': start,
            },
            type: 'GET',
                success: function(response) {
                $("#upcoming_svg").hide();
                console.log(response.start)
                $('#newsDiv').append(response.data);
                    if(response.more){
                        START = response.start;
                        $(window).on('scroll', scrollIt);
                    }
                }
        });
    }

    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:false,
            margin: 0,
            nav:true,
            dots: false,
            items:20,
            responsive:{
              0:{
                    items:1
                },
                450:{
                    items:2
                },
                700:{
                    items:3
                },
                1000:{
                    items:4
                },
                1300:{
                  items:5
                }
            }
        });
    });

    $(document).on("click", '.custom_pagination li a', function(event){
        event.preventDefault();
        $.ajax({
            url: window.location.origin + window.location.pathname + $(this).attr('href'),
            type: 'GET',
                success: function(response) {
                    if(response.event_type === 'upcoming'){
                        $('#tab_future').html(response.data);
                    }

                    else{
                        $('#tab_past').html(response.data);
                    }
                    $('html, body').animate({
                        scrollTop: $("#search").offset().top
                    }, 1500);
                }
        });

    })

    function format_date(n){
    if(n <= 9){
        return "0" + n;
        }
    return n
    }

</script>


{% endblock extra_js %}


{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'search_events' %}">Event Search</a></li>
                    <!-- <li class="active">Total Results : {{total_result}}</li> -->
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row">
        <p>
            <h2 class="page-title text-center"><strong>Events Search</strong></h2>
        </p>
        <p class="text-center">
            Search from {{events_count_future|intcomma}} Future and {{events_count_past|intcomma}} Past Events for {{artists_count|intcomma}} Artists across {{countries_count}} Countries.
        </p>
    </div>
    <form role="search" class="form-inline" action="" method="GET" id="search">
        <div class="row" >
            <div class="col-md-10 col-md-offset-1">
                <label style="display:inline;"><strong>Search for any Event:</strong></label>
                <div class="input-group" style="width:80%;">
                    <input value="{{query}}" name="query" type="text" class="form-control" placeholder="Type to search..." id="artist-name" autocomplete="off">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default margin-clear form-control"><i class="icon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    
    {% if total > 0 %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Your search for <strong>{{ query }}</strong> delivered the following <strong>{{ total }}</strong> results displayed in date order.<br>
                    Click on the event link to look at the event.
                </p>
            </div>
        </div>
        <div class="row">
            <section class="main-container" style="background-color:#f1f1f1;">
                <div class="container">
                    <div class="row">
                        <ul class="nav nav-pills center-pills nav-justified" role="tablist">
                        <li id="t1" class="active" ><a href="#tab_future" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Future Events <span class="badge">{{events_future_count}}</span> </a></li>
                        <li id="t2"><a href="#tab_past" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Past Events <span class="badge">{{events_past_count}}</span></a></li>
                        </ul>
                    </div>
                    <br>
                    <div class ="tab-content" id="events_future_past">
                        <div role="tabpanel" class="tab-pane active" id="tab_future">
                            {{events_future.data}}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab_past">
                            {{events_past.data}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% elif query and total == 0 %}
        <div style="min-height:180px">
            <h1 style="text-align:center;"> No results Found </h1>
        </div>
    {% else %}
        <div style="min-height:180px"></div>
    {% endif %}
    
    </div>

    <!-- Modal
    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
            <div class="loader"></div>
            <div clas="loader-txt">
                <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
            </div>
            </div>
        </div>
        </div>
    </div> -->
    <div class="pull-right pr-20"> Last updated on: {{updated_on}}</div>
{% endblock content %}

{% block footer %}
    {% include "home/_footer.html" %} 
{% endblock footer %}

