{% for note in notes %}
    <div class="wd-event-note row">
        <div class="col-md-7 wd-brk pt-5"> {{note.note}}</div>
        <div class="col-md-3"><span class="wd-posted-on"> - {{note.modified_date|date:"d/m/y - G:i:s "}}-({{note.user.username}})</span></div>
        <div class="col-md-2 pt-8"><a href="javascript:void(0)" onclick="show_user_note_modal('{{note.pk}}','{{note.note}}','{{event.eventName}}')">
                <span class = "link-as-btn clc-icons-edit single-line w10 c10"> 
                  <i class="fa fa-pencil"></i>
                </span>  
              </a>
              &nbsp;
            <!-- <button class="btn btn-default btn-red" type="button" onclick="show_user_note_modal('{{note.pk}}','{{note.note}}')">Update Note</button></div> -->
            <a href="javascript:void(0)" class="" onclick="delete_modal_open('{{note.pk}}')" > 
                    <span class ="glyphicon glyphicon-trash" style="color:red;" >
                    </span>
                  </a>
            </div>
    </div>
{% endfor %}


<!-- Modal -->
<div id="id_user_notes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" id="id_note_form" role="form" method="post" data-toggle="validator">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header btn-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title note-title"> </h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" name="note_text" id="note_text" rows="5" ></textarea>
                    <input type="hidden" id="note_key">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default mb-6" data-dismiss="modal">Close</button>
                    <button id="user_note_save_button" type="submit" class="btn btn-default mb-6">Save</button>
                </div>
            </div>
            
        </form>
    </div>
    
</div>
<!-- Modal End-->