{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link href="{% static 'frontend/css/bootstrap-tagsinput.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'frontend/js/bootstrap-tagsinput.js' %}"></script>

{% endblock %}

{% block slider %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>{% if request.GET.action == "booking" %}Booking Request{% elif request.GET.action == "offer" %}Offer Sheet{% endif  %}</li>
        </ol>
    </div>
</div>

{% endblock slider %}

{% block content %}
<div class="container">
    <form id="email_form" name="email_form" action=""  method="POST" >
        {% csrf_token %}
        <div class="well well-box-shadow">
            <div class="row">
                <h4 style="text-align:center; font-size:25px;">Send {% if request.GET.action == "booking" %} Booking Request {% elif request.GET.action == "offer" %} Offer Sheet {% endif  %} to <strong>{{ artist.artistName }}</strong> for <strong>{{ event.event_name }}</strong>  </h4>
                <br>
                <div class="col-md-10 col-md-offset-1">
                    <i>* Please standardise your message in the section below before sending</i><br>
                    <i>* A reference number will automatically be allocated to each message in the signature so you can track and manage</i><br><br>
                    <p><strong>To</strong></p>
                    <input type="text" value="{{ to }}" data-role="tagsinput" name="to" required="required" class="form-control"/><br>
                    <p><strong>Subject</strong></p>
                    <div>
                        <textarea class="py-form-control" cols="100" id="id_subject" name="subject" rows="5">{{ subject }} for {{ artist.artistName }} at {{ event.event_name }} on {{ event.event_date }}</textarea><br>
                    </div>
                    <!-- <p><strong>Date</strong></p>
                    <div>
                        <textarea class="py-form-control" cols="100" id="id_date" name="date" rows="5">{{ date }}</textarea><br>
                    </div> -->
                    <p><strong>Body</strong></p>
                    <div>
                        <div class="django-ckeditor-widget" data-field-id="id_body">
                            <textarea cols="40" id="id_body" name="body" rows="10" data-processed="0" data-config="{&quot;filebrowserWindowWidth&quot;: 940, &quot;toolbar_Basic&quot;: [[&quot;Source&quot;, &quot;-&quot;, &quot;Bold&quot;, &quot;Italic&quot;]], &quot;language&quot;: &quot;en-us&quot;, &quot;toolbar_Full&quot;: [[&quot;Styles&quot;, &quot;Format&quot;, &quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;, &quot;Strike&quot;, &quot;SpellChecker&quot;, &quot;Undo&quot;, &quot;Redo&quot;], [&quot;Link&quot;, &quot;Unlink&quot;, &quot;Anchor&quot;], [&quot;Image&quot;, &quot;Flash&quot;, &quot;Table&quot;, &quot;HorizontalRule&quot;], [&quot;TextColor&quot;, &quot;BGColor&quot;], [&quot;Smiley&quot;, &quot;SpecialChar&quot;], [&quot;Source&quot;]], &quot;height&quot;: 291, &quot;width&quot;: 835, &quot;skin&quot;: &quot;moono-lisa&quot;, &quot;filebrowserWindowHeight&quot;: 725, &quot;toolbar&quot;: [[&quot;Format&quot;, &quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;, &quot;Strike&quot;, &quot;SpellChecker&quot;]]}" data-external-plugin-resources="[]" data-id="id_body" data-type="ckeditortype">
                                {{ body }}
                            </textarea>
                        </div>
                        {{ form.media }}
                    </div>
                    <div class="pull-left">
                    <input type="submit" value="Send Mail To Your Drafts" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
