{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>

<script>

tinymce.init({
    selector: '#event_body_textbox',
    height: 200,
    theme: 'modern', 
    plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
    ],
    toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image print preview media | forecolor backcolor emoticons',
    image_advtab: true,
    content_css: [
    // '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
    ]
});

function edit_event_info(){
    $(".event_info").css("display", "none");
    $(".event_info_edit").css("display", "");
}

function edit_complete_event_info(){
    $(".complete_event_info").css("display", "none");
    $(".complete_event_info_edit").css("display", "");
}
</script>



<script>

var placeSearch, autocomplete;

var componentForm = {
    // street_number: 'short_name',
    // route: 'long_name',
    locality: 'long_name',
    // administrative_area_level_1: 'short_name',
    country: 'long_name',
    // postal_code: 'short_name'
};

function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});


    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
        }
    }
}

function geolocate() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
}

</script>


<script>
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "m-d-Y",
            // d/m/Y
            startdate: date,
            autoclose: true,
        });

    $('#id_stage_time').wickedpicker();

    $("#id_finanical_offer").change(function() {
        if($("#id_finanical_offer").val() == "AMOUNT"){
            $("#id_estimate_amount").removeAttr("disabled")
            $("#id_estimate_currency").removeAttr("disabled")
        }
        else {
            $("#id_estimate_amount").attr("disabled", true);
            $("#id_estimate_currency").attr("disabled", true);
        }
    });
    // if($('#id_finanical_offer').val() == "AMOUNT"){
    //     $('#id_estimate_currency').removeAttr("disabled")
    //     $('#id_estimate_amount').removeAttr("disabled")
    // }
    });
</script>

<script>

    function form_validation(){
        var i = 0
        if($("#id_event_name").val()== ""){
            $("#event_name_error").text("*This Field is required");
            i = i + 1
        }
        if($("#id_form_event_date").val()== ""){
            console.log($("#id_form_event_date").val())
            $("#event_date_error").text("*This Field is required");
            i = i + 1
        }
        if($("#id_venue_name").val() == ""){
            $("#venue_name_error").text("*This Field is required");
            i = i + 1
        }
        if($("#autocomplete").val() == ""){
            $("#event_address_error").text("*This Field is required");
            i = i + 1
        }
        if($("#country").val()== ""){
            $("#event_country_error").text("*This Field is required");
            i = i + 1
        }
        if($("#locality").val() == ""){
            $("#event_city_error").text("*This Field is required");
            i = i + 1
        }
        if($("#id_genre").val() == ""){
            $("#event_genre_error").text("*This Field is required");
            i = i + 1
        }
        else{
            if(i == 0){
                $("#event_info_edit_form").submit()
            }
        }
    }

</script>

<script>
    $( "#id_event_name" ).keyup(function() {
        $("#event_name_error").text("");
    });
    $( "#id_form_event_date" ).keyup(function() {
        $("#event_date_error").text("");
    });
    $( "#country" ).keyup(function() {
        $("#event_country_error").text("");
    });
    $( "#autocomplete" ).keyup(function() {
        $("#event_address_error").text("");
    });
    $( "#id_venue_name" ).keyup(function() {
        $("#venue_name_error").text("");
    });
    $( "#locality" ).keyup(function() {
        $("#event_city_error").text("");
    });
    $( "#id_genre" ).change(function() {
        $("#event_genre_error").text("");
    });
    $( "#id_venue_capacity" ).change(function() {
        $("#venue_capacity_error").text("");
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>{{event.event_name}} Info</li>
        </ol>
    </div>
</div>
{% endblock slider %}

{% block content %}

<div class="container">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING</strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    <p style="text-align:center;">Here is where you enter the initial event info for analysis and planning,<br> and the complete offer sheet info to quickly send appropriate requests to our database of agents.</p>

    {% if event.shortlisted_artists.all %}
    {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}
    <br>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
            <h4 style="padding-bottom:5px">1) Set up Your Event Using  Event Planning Info, This info will be used to draft emails and analyse artists. <br> 2) Scroll down to complete specific details.</h4>
            <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                <h5 style="text-align:center;" > Event Planning Info <span onclick="edit_event_info()" style="cursor:pointer;" class="glyphicon glyphicon-pencil"></span></h5>
                <form class="event_info_edit" id="event_info_edit_form" method="POST" action="{% url 'edit_event_detail' event.event_id %}">{% csrf_token %}
                <table class="table table-striped">
                    <tr>
                        <td><strong>Event Name<strong></td>
                        <td class="event_info">{{event.event_name}}</td>
                        <td style="display:none" class="event_info_edit">
                            <input type="text" value="{{event.event_name}}" id="id_event_name" name="event_name" class="form-control">
                            <small style="color:red;" id="event_name_error"></small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Event Date</strong></td>
                        <td class="event_info">{{event.event_date}}</td>
                        <td style="display:none" class="event_info_edit">
                            <input type="text" value="{{event.event_date|date:'m/d/Y'}}" id="id_form_event_date" name="event_date" class="form-control datepicker">
                            <small style="color:red;" id="event_date_error"></small>
                        </td>
                    </tr>
                    {% for field_name in initial_information_from_dict %}
                    {% if field_name == "country" %}
                        <tr>
                            <td><strong>{{field_name|title}}</strong></td>
                            <td class="event_info">{{event.data_all_fields|get_value_from_dict:field_name}}</td>
                            <td style="display:none" class="event_info_edit">
                                <input id="country" type="text" value="{{event.data_all_fields|get_value_from_dict:field_name}}" name="{{field_name}}" class="country form-control">
                                <small style="color:red;" id="event_country_error"></small>
                            </td>
                        </tr>
                    {% elif field_name == "venue address" %}
                        <tr>
                            <td><strong>{{field_name|title}}</strong></td>
                            <td class="event_info">{{event.data_all_fields|get_value_from_dict:field_name}}</td>
                            <td style="display:none" class="event_info_edit">
                                <input type="text" onFocus="geolocate()" id="autocomplete" value="{{event.data_all_fields|get_value_from_dict:field_name}}" name="{{field_name}}" class="py-form-control">
                                <small style="color:red;" id="event_address_error"></small>
                            </td>
                        </tr>
                    {% elif field_name == "capacity of venue" %}
                        
                    {% else %}
                        <tr>
                            <td><strong>{{field_name|title}}</strong></td>
                            <td class="event_info">{{event.data_all_fields|get_value_from_dict:field_name}}</td>
                            <td style="display:none" class="event_info_edit">
                                <input type="text" {% if field_name == "venue name" %} id="id_venue_name" {% endif %}  value="{{event.data_all_fields|get_value_from_dict:field_name}}" name="{{field_name}}" class="form-control">
                                <small style="color:red;" {% if field_name == "venue name" %} id="venue_name_error" {% endif %} ></small>
                            </td>
                        </tr>
                    {% endif %}

                    {% endfor %}
                    <tr>
                        <td><strong>Event City</strong></td>
                        <td class="event_info">{{event.city}}</td>
                        <td style="display:none" class="event_info_edit">
                            <input type="text" value="{{event.city}}" name="event_city" id="locality" class="form-control">
                            <small  style="color:red;" id="event_city_error"></small>
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <td><strong>Genres:</strong></td>
                        <td class="event_info">{{event.get_genre_string}}</td>
                        <td style="display:none" class="event_info_edit">
                            <select id="id_genre" class="py-form-control" name="genres">
                                <option selected value="">Select Genre</option>
                                {% for genre in genres %}
                                <option {% if event.genre.all.0.genreID == genre.genreID %} selected {% endif %}  value="{{ genre.genreID }}"> {{ genre.genreName }}</option>
                                {% endfor %}
                            </select>
                            <small style="color:red;" id="event_genre_error"></small>
                        </td>
                    </tr>
                    -->
                </table>
            </div>
            <a style="display:none; width: 80px;" class="event_info_edit btn btn-primary btn-sm pull-right" onclick="form_validation()" value="Save">Save</a>
        </div>
        <div class="row">
            <div class="well"  style="box-shadow: 3px 3px 15px #888888;">
                <h5 style="text-align:center;"> Your offer sheet <span onclick="edit_complete_event_info()" style="cursor:pointer;" class="glyphicon glyphicon-pencil"></span></h5>
                <div class="complete_event_info">
                    {{event.event_type_template.body|safe}}
                </div>
                <div style="display:none" class="complete_event_info_edit">
                    <textarea id="event_body_textbox" name="event_body" maxlength="6" >
                        {{event.event_type_template.body}}
                    </textarea>
                </div>
                <a style="display:none; width: 80px;margin-top:37px" class="complete_event_info_edit btn btn-primary btn-sm pull-right" onclick="form_validation()" value="Save">Save</a>
            </form>
            </div>
        </div>
        <div id="map" style="width:400px;height:400px"></div>
    </div>

</div>
{% include 'events/duplicate_event.html' %}
{% include 'artist/managed_artists_modal.html' %}
{% include "error_pages/info_modal_popup.html" %}

{% include "events/shortlist_venues_js.html" %}
{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
