{% extends 'home/__base.html' %}

{% block title %} {{ block.super }} | Your Artists Notes </title> {% endblock title %}

{% load static %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "m-d-Y",
            // d/m/Y
            startdate: date,
            autoclose: true,
        });

		$('#events-notes').DataTable({
			"paging": false,
			"searching": false,
			"bInfo": false,
			"language": {
				"emptyTable": "No Event Notes Created Yet"
			}
		});
		$('.dataTables_length').addClass('bs-select');
	});
</script>

{% endblock extra_js %}

{% block content %}
	<!-- Breadcrumb -->
	<div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                        <li><i class="fa fa "></i><a href="events/notes/">Your Event Notes</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onclick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Artist Filter Form -->
	<div class="dark-translucent-bg section" style="background-image:url('/static/frontend/images/cds_background.jpg')">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="text-center col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 pv-20">
                    <h1 class="title-page hc-element-invisible animated hc-element-visible fadeIn object-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                      <span>{{request.user}} - Your Event Notes</span>
                    </h1>
                    <div class="separator hc-element-invisible mt-10 animated hc-element-visible fadeIn object-visible" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                    <div class="hc-element-invisible animated hc-element-visible fadeIn object-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                        {% if events %}
                        <form action="" id="apply_filters" method="GET" class="form-inline">
							<div class="form-group">
								<label><strong>Event Name</strong></label>
								<select name="event" class="form-control">
									<option value="" selected>All</option>
									{% for event in option_events %}
										<option value='{{event.0}}' {% if event.0 == filter_event %}selected="selected"{% endif %}>{{event.1}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-lg btn-dark" style="vertical-align:bottom;margin-top:35px;margin-left: 20px;border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
							</div>
                        </form>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Display Notes -->
	<div class="container" style="min-height: 100vh;padding-top: 20px;">
		<table class="table" id="events-notes">
			<thead>
				<tr>
					<th>Date Of Note</th>
					<th>Event Name</th>
					<th>Date Of Event</th>
					<th>Your Notes</th>
				</tr>
			<thead>
			<tbody>
			{% for event in events %}
				<tr>
					<td>{{event.modified_date}}</td>
					<td><a href="/events/event/{{event.event.eventID}}">{{event.event.eventName}}</td>
					<td>{{event.event.date}}</td>
					<td>{{event.note}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if not events %}
			<p class="note-create-tooltip">(You create event notes by writing a note on the event)</p>
		{% endif %}
	</div>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}