{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>

<script>
    $( "#email_frequency_button" ).click(function() {
        $('#email_frequency').modal('show');
    });
</script>


{% endblock %}

{% block slider %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>{{event.event_name}} Info</li>
        </ol>
    </div>
</div>

{% endblock slider %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block content %}

<div class="container">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING </strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    {% if event.shortlisted_artists.all %}
        {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    {% if all_news %}
    <div class="input-group">
        <h4 style="display:inline; font-size:17px;"> Would you like to receive daily emails about this event and these artists?</h4>&nbsp
        <!--<button style="display:inline;" title="Email Frequency" type="button" class="btn btn-default" id="email_frequency_button" value="Email Frequency" ><i class="glyphicon glyphicon-cog"></i></button>-->
        <h3  style="display:inline; font-size:17px;"><a id="email_frequency_button" ><i class="glyphicon glyphicon-check"></i></a></h3>
    </div>

    {% for news_label, news_data in all_news.iteritems reversed %}
        {% if news_data %}
            {% for news in news_data %}
            <div class="row">
                <div id="newsDiv" class="col-md-12">
                    <!-- <div class="wd-stream"> -->
                        <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                                    <p class="wd-posted-on" style="margin-bottom:5px;">
                                        {{ news.publish_date|date:"d M Y"}}
                                    </p>
                                    <span class="label label-info">{{news_labels|get_value_from_dict:news_label}}</span>

                                    <div class="wd-article--text">
                                        <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                                        {% if news.modified_text %}{{news.modified_text|truncatechars:500|safe }} {% else %} {{news.text|truncatechars:400|safe }} {% endif %}
                                        <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                    </div>
                                    <div class="wd-article--tags">
                                        {% if news.artists.all %}
                                        <b>Artist :</b>
                                        {% endif %}
                                        {% for artist in news.artists.all %}
                                            <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                <span class="label wd-label-article">{{ artist.artistName }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="wd-article--tags">
                                        {% if news.country.all %}
                                        <b>Country :</b>
                                        {% endif %}
                                        {% for country in news.country.all %}
                                            <a href="#" target="_blank">
                                                <span class="label wd-label-article">{{ country.name }}</span>
                                            </a>
                                        {% endfor %}
                                    </div><br>
                                </div>
                                {% if news.imageurl %}
                                <div class="col-sm-3">
                                    <div class="wd-article--thumbnail">
                                        <img src="{{news.imageurl}}" alt="{{news.title}}">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% else %}
    <div>
        <div class="row" style="min-height: 250px;"><br><br>
            <h4 style="text-align:center;">No News</h4>
        </div>
    </div>
    {% endif %}
</div>



<div id="email_frequency" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email Frequency</h4>
      </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <form class="form-horizontal" id="email_frequency_form" action="{% url 'email_frequency' %}" role="form" method="post">{% csrf_token %}
                                <label style="text-align:left; margin-left:6px;" ><h4>Email Frequency:</h4></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-6" style="margin-left: 15px;">
                    <div class="form-group" style="margin-left:6px;">
                        <div class="checkbox" >
                            <label for="id_email_frequency_0" style="font-size: 20px; text-align:left;">
                            <input style="display: inline-block;" id="id_email_frequency_0" {% if "Monday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Monday" /> Monday</label>
                        </div>
                        <div class="checkbox" >
                              <label for="id_email_frequency_1" style="font-size: 20px; text-align:left;">
                              <input style="display: inline-block;" id="id_email_frequency_1" {% if "Tuesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Tuesday" /> Tuesday</label>
                        </div>
                        <div class="checkbox" >
                              <label for="id_email_frequency_2" style="font-size: 20px; text-align:left;">
                              <input style="display: inline-block;"  style="display: inline-block;" id="id_email_frequency_2" {% if "Wednesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Wednesday" /> Wednesday</label>
                        </div>
                        <div class="checkbox" >
                              <label for="id_email_frequency_3" style="font-size: 20px; text-align:left;">
                              <input style="display: inline-block;" id="id_email_frequency_3" {% if "Thursday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Thursday" /> Thursday</label>
                        </div>
                        <div class="checkbox" >
                              <label for="id_email_frequency_4" style="font-size: 20px; text-align:left;">
                              <input  style="display: inline-block;" id="id_email_frequency_4" {% if "Friday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Friday" /> Friday</label>
                        </div>
                        <div class="checkbox" >
                              <label for="id_email_frequency_5" style="font-size: 20px; text-align:left;">
                              <input style="display: inline-block;" id="id_email_frequency_5" {% if "Saturday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Saturday" /> Saturday</label>
                        </div>
                        <div class="checkbox">
                              <label for="id_email_frequency_6" style="font-size: 20px; text-align:left;">
                              <input style="display: inline-block;" id="id_email_frequency_6" {% if "Sunday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Sunday" /> Sunday</label>
                        </div>
                        <small class="help-block with-errors"></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-default" >Submit</button>
        </div>
        </form>
    </div>
  </div>
</div>

{% include 'events/duplicate_event.html' %}

{% endblock %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
