{% load staticfiles %}
{% load artist_filters%}

<div class="container-fluid mt-2">
    <div class="form-group row">
      <form method="post" class="comment-form event-comments" >
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated %}
          <input type="submit" value="Submit" class="btn btn-default">
        {% else %}
          <input type="submit" value="Submit" class="btn btn-default" disabled>
        {% endif %}
      </form>
    </div>

    <div class="ml-15">
            {{ comments.count }} Comment{{ comments|pluralize }}
            {% for comment in comments %}
                <div class="col-md-12">
                <p class="fs-20 mb-0 wd-brk">{{ comment.content }} - <small>by {{ comment.user|capfirst }} - {{comment.timestamp|timesince}} ago</small></p>
                {% for reply in comment.event_replies.all %}
                    <p class="mb-0 ml-15 wd-brk"> {{ reply.content }} - <small> by {{ reply.user|capfirst }} - {{reply.timestamp|timesince}} ago </small></p><hr>
                {% endfor %}
                    <!-- <button type="button" name="button" class="reply-btn btn btn-default pull-right">Reply</button> -->
                </div>
                <hr>
                <div class="replied-comments container mt-2" style="width: 90%">
                    <div class="form-group row">
                    <form method="post" class="reply-form event-comments" >
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {{ comment_form|content_placeholder:"Enter your reply here" }}
                        {% if request.user.is_authenticated %}
                        <input type="submit" value="Reply" class="btn btn-default">
                        {% else %}
                        <input type="submit" value="Reply" class="btn btn-default" disabled>
                        {% endif %}
                    </form>
                    </div>
                </div>
            {% endfor %}
          </div>
  </div>
  
  