{% load artist_filters %}

{% block content %}

<table  class="table list-unstyled contacts-list contact_list_datatable table-bordered" id="venue-listing">
 <thead>
    <tr>
    
       <th class="th-bc">Venue Name</th>
       <th class="th-bc">Venue Address</th>
       <th class="th-bc">Venue City</th>
       <th class="th-bc">Country</th>
       <th class="th-bc">Search On</th>
    </tr>
 </thead>
 <tbody id="venue_table_body">
    {% for venue in Venues %}
    <tr>
    <td>

             <span class="text-light block-element w16"> 
              <a href="{%url 'venue_detail' venue.venueid %}">{{venue.venuename}}</a>
                      
              </span>

    </td>
    <td>
        <span class="text-light block-element">
       {{venue.venueaddress}}
     </span>
    </td>
    <td>
        <span class="text-light block-element">
       {{venue.city}}
        </span>
    </td>
    <td>
       <span class="text-light block-element wAuto flag-display">{% if venue.country %}{{venue.country}}<img class="flag-pos flag_{{ venue.country| get_country_flag_url }}" src='{{ venue.country | get_country_flag_url }}'>{% else%} {% endif %}</span>
    </td>
    <td>
      <a style="font-size:10px" target="_blank" class="facebook" href="https://facebook.com/profile.php?id={{venue.venuefacebook}}>">
        <span class="fa-stack fa-1x">
          <i class="" ass="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>
      <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{venue.venuename}}">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google fa-stack-1x"></i>
        </span>
      </a>
      <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{venue.venuename}}">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
    </td>
  </tr>
  {% endfor %}
 </tbody>
</table>
{% if not Venues %}
<div class="no-contacts">No Venues Found.</div>
{% endif %}
{% endblock content %}
<!-- pagination html -->

<ul class="pagination">
    {% if Venues.has_previous %}
        <li><a class="next-person" href="?venue_name={{venue_name}}&country={{country}}&city={{city}}&page={{ Venues.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    
    {% for i in page_range %}
        {% if Venues.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a class="next-person" href="?venue_name={{request.GET.venue_name}}&country={{request.GET.country}}&city={{request.GET.city}}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if Venues.has_next %}
        <li><a class="next-person" href="?venue_name={{request.GET.venue_name}}&country={{request.GET.country}}&city={{request.GET.city}}&page={{ Venues.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>