{% load staticfiles %}
{% for event in events %}
    <tr>
        <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
        <td class="col-md-2">{{ event.eventName|title }}</td>
        <td class="col-md-2">{{ event.evenueName }}</td>
        <td class="col-md-1">{{ venue.city }}</td>
        <td class="col-md-1">{{ venue.country }}</td>
        <td class="col-md-3" style="white-space: nowrap;">
            <a style="font-size:10px" target="_blank" class="facebook" href="https://facebook.com/profile.php?id='{{event.facebookID}}'">
                <span class="fa-stack fa-1x">
            		<i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
            	<span>
            </a>
            <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{venue.venuename}} {{ event.eventName}}">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-google fa-stack-1x"></i>
                <span>
            </a>
            <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{venue.venuename}} {{event.eventName}}">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                <span>
            </a>
        </td> 
{% endfor %}
