{% load artist_filters %}
{% load event_filters %}
{% load staticfiles %}

{% if not all_events %}
    <div class="near-event-card">
        <div class="event-header">
            No Events to show.    
        </div>
    </div>
{% endif %}

{% for event in all_events %}
    {% with event|event_unique|first as evs  %}
        <div class="wd-stream">

        <div class="wd-stream--article">

            <div class="row">

                <div class="col-md-8">
                        <h2 class="wd-article--heading"><a href="/events/event/{{event.eventID}}" target="_blank">{{ event.eventName }}</a></h2>
                        <!-- <b class="wd-posted-on" style="font-size: 25px;">
                                {{ event.date|format_date:"%a %d %b %Y"}}
                        </b> -->
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>Event Date:</strong> {{ event.date }}</p>
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>Country:</strong>

                            {% with evs.venueid.country|get_country_code as code %}
                                        
                            {% with 'flags/'|add:code|add:'.gif' as image_static %}
                                <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        {%endwith%}
                            {{evs.venueid.country}}
                        </p>
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>City:</strong> {{evs.venueid.city }} </p>
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>Venue name:</strong> {{ evs.venueid.venuename }}</p>
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>Venue address:</strong> {{ evs.venueid.venueaddress }}</p>
                        <p style="margin-top:5px;margin-bottom: 0px;"><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</p>
                        <div class="mt-5">
                                <b>Lineup :</b>
                                {% for mast in event|event_unique %}
                                    <a href="{% url 'artist_detail' mast.artistid.artistID %}" target="_blank">
                                        <span class="label wd-label-article">{{ mast.artistid.artistName }}</span>
                                    </a>

                                {% endfor %}


                            </div>
                            <div class="mt-5">
                                    <b>Genres :</b>
                                    {% for genre in event|event_genres %}
                                        <span class="label wd-label-article">{{ genre}}</span>
                                    {% endfor %}
    
                                </div>
                        <div class="col-sm-3">
                                <div class="wd-article--thumbnail">
                                    <img src="{{evs.artistid.artistPhoto}}" alt="{{event.title}}">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 pv-mobile">
                            <div class="sliderImgWrapper" style="margin-bottom: 20px;">
                                {% if evs.artistid.artistPhoto %}
                                    <img src="{{ evs.artistid.artistPhoto.url }}" alt="{{evs.artistid.artistName}}" width="250px" height="250px">
                                {% else %}
                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{evs.artistid.artistName}}" width="250px" height="250px">
                                {% endif %}

                            </div>


                        
                        </div>



        <!--                <div class="wd-article&#45;&#45;tags">-->
        <!--                    {% if news.artists.all %}-->
        <!--                    <b>Artist :</b>-->
        <!--                    {% endif %}-->
        <!--                    {% for artist in news.artists.all %}-->
        <!--                        <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">-->
        <!--                            <span class="label wd-label-article">{{ artist.artistName }}</span>-->
        <!--                        </a>-->
        <!--                    {% endfor %}-->
        <!--                </div>-->
        <!--                {% if news.artists.all|get_genre %}-->
        <!--                <div class="wd-article&#45;&#45;tags">-->
        <!--                    <b>Genre:</b>-->
        <!--                        {% for genre in news.artists.all|get_genre %}-->
        <!--                            <span class="label wd-label-article">{{ genre }}</span>-->
        <!--                        {% endfor %}-->
        <!--                </div>-->
        <!--                {% endif %}-->
        <!--                <div class="wd-article&#45;&#45;tags">-->
        <!--                    {% if news.country.all %}-->
        <!--                    <b>Country :</b>-->
        <!--                    {% endif %}-->
        <!--                    {% for country in news.country.all %}-->
        <!--                        <a href="#" target="_blank">-->
        <!--                            <span class="label wd-label-article">{{ country.name }}</span>-->
        <!--                        </a>-->
        <!--                    {% endfor %}-->
        <!--                </div><br>-->
        <!--            </div>-->
        <!--            {% if news.imageurl %}-->
        <!--            <div class="col-sm-3">-->
        <!--                <div class="wd-article&#45;&#45;thumbnail">-->
        <!--                    <img src="{{news.imageurl}}" alt="{{news.title}}">-->
        <!--                </div>-->
                </div>
        <!--            {% endif %}-->
            </div>
        </div>
        </div>
    {% endwith %}
{% endfor %}

<div class="row text-center">
{% if all_events.has_other_pages %}
  <ul class="pagination custom_pagination">
    {% if all_events.has_previous %}
      <li><a href="?query={{query}}&event_type={{event_type}}&page={{ all_events.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in all_events.paginator.page_range %}
        {% if forloop.counter < 10 %}
            {% if all_events.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?query={{query}}&event_type={{event_type}}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif%}
    {% endfor %}
    {% if all_events.has_next %}
      <li><a href="?query={{query}}&event_type={{event_type}}&page={{ all_events.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>