{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'frontend/js/jquery.jtruncate.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $("#e1").select2();
        $(".elem").select2();
    });
</script>


<script>

    $(".booking_requset_modal").click(function(event){
        window.artist = $(this).attr('data-id');
        var artist_split =  artist.split(',');
        var artist_detail = []
        for(var i = 0; i < artist_split.length; i++) {
           artist_detail.push(artist_split[i])
        }
        window.artist_name = artist_split[1]
        window.artist_id = artist_split[0]
        window.event_id = artist_split[2]
        window.event_name = artist_split[3]

        $("#booking_request_modal").modal('show');
        $("#body_text").html("<h4 style='font-size:15px; text-align:left;'>ok, We will draft and help you track this Booking Request - <strong>  '" + artist_name + "'</strong> for event <strong> '"+ event_name +"' </strong> </h4> "  );

    });

    function send_booking_req(){
        if ($("#select_option").val() != ""){
            var select_option = $("#select_option").val()
            var requrl = "{% url 'event_booking_request_email' '456' '123' %}?action="+select_option+"&event=from_my_event";
            requrl = requrl.replace('456',event_id)
            requrl = requrl.replace('123',artist_id)
            document.location.href = requrl
            $("#booking_Request_form").attr("action", url);
            $("#booking_Request_form").submit()
        }else{
            $("#error").css("display", "")
        }
    }


</script>

<script type="text/javascript">
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startdate: date,
            autoclose: true,
        });

    });

    $(document).ready(function(){
        $('.description_truncate').jTruncate({
            length: 40,
            minTrail: 0,
            moreText: "Show More",
            lessText: "Less",
            ellipsisText: "...",
            moreAni: "",
            lessAni: ""
        });
    });

    function shortlist_artists(event_id){
        var event_id = event_id
        $.ajax({
            url: "{% url 'my_events' %}",
            type: "POST",
            data:{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'event_id' : event_id,
            },
            success: function(response){
                $(".response").html(response.template)
                $("#shortlist_artists_modal").modal("show");
                $("#e1").select2();
                $(".elem").select2();
            }
        });
    };

    $(".assign-artists").click(function(){
        var assignedArtId = []
        var assigned_artist_name = []
        var event_id = document.getElementById('event-id').value
        $("select#elem option").filter(":selected").each(function(){
            assignedArtId.push(this.value);
            assigned_artist_name.push(this.text);
        });
        $.ajax({
            url: "{% url 'assign_shorlisted_artist_to_events' %}",
            type: "POST",
            data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'event_id':event_id,
                    'assignedArtId':assignedArtId,
                  },
            success: function(response){
                if (response.status){
                    // var artist_append_list = response.artist_append_list;
                    $("#shortlist_artists_modal").modal("hide");
                    $("#shortlisted_artists"+event_id).html(response.template);
                    location.reload();
                }
                else{
                    $("#shortlist_artists_modal").modal("hide");
                    window.alert("Something Went Wrong");
                }
            }
        });
    });

    var deleted_id = '';

    function edit_notify(event_id){
        $("#id_edit_modal").modal("show");
        // $("#id_edit_confirm").attr("onclick", "edit_event()");
    };

    function edit_event($this){
        event.preventDefault();
        $.ajax({
            url: $this.attr("action")+"?event_id="+event_id,
            type: $this.attr("method"),
            data: $this.serialize(),
            success: function(response){
                response = JSON.parse(response);

                if(response.status){
                    // $("#displayed").append(response.events)
                    // $("#text")[0].reset();
                    location.reload();
                    // deleted_id = response.event_deleted.id;
                    // $("#id_event_"+deleted_id).remove();
                    // $("#id_edit_modal").modal("hide");
                }
            }
        });
        return false;
    }

    function delete_notify(event_id){
        $("#id_delete_confirm").attr("onclick", "delete_event(" + event_id + ")");
        $("#id_delete_event").text("Do you really want to delete this event?");
        $("#id_delete_modal").modal("show");

    };
    function delete_event(event_id){
        $.ajax({
            url: "{% url 'delete_event' %}"+"?event_id="+event_id,
            type: "GET",
            success: function(response){
                response = JSON.parse(response);
                if(response.status){
                    location.reload();
                }
            }
        });
        return false;
    }

</script>

<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript">

    $(document).ready(function() {

        $('.owl-carousel').owlCarousel({
            loop:false,
            margin:50,
            nav:true,
            dots: false,
            items:10,
            responsive:{
                0:{
                    items:1
                },
                250:{
                    items:3
                },
                600:{
                    items:4
                },
                800:{
                    items:6
                },
                // 1000:{
                //     items:8
                // }
            }
        })

        $(".all_artists").select2();

        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');

    });

</script>

{% endblock extra_js %}

<!-- {% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %} -->

{% block content %}
    <div class="container">
        <!-- <section class="main-container padding-ver-clear">
            <div class="section">
                <div class="container">
                        <h1 class="page-title" style="float:left;">My Events</h1>
                        <div class="clearfix"></div>
                        <div class="separator-2"></div>
                        <div>
                            <p>This is where you can set up event information and offer sheets to send out and pitch your event info to clients. We hope it is self-evident and intuitive in use, just start by adding an event and then you can choose to:</p>
                            <p>
                                <ol>
                                    <li>Reuse your event info many times to send to multiple artists (if, for example, you own a nightclub and want to send out a lot of artist booking requests)</li>
                                    <li>Enter multiple event info (for example, by entering a number of venues) so as to be able to send different info to different talents and to keep it all in one place.</li>
                                </ol>
                            </p>
                            <p>
                                We have provided pre-designed offer sheet forms. We suggest you fill out as much information as possible before you send out the completed sheets as it will help you get the most accurate response possible from your enquiries.
                            </p>
                            <p>
                                When you have filled out the forms, they will be sent to your e-mail address together with the agents’ details so that you can then quickly email them with your booking offer. While we are in beta stage make sure you remove the references to WDJP - we want the emails to come from you as it is your research.
                            </p>
                            <p>
                                Happy Booking!
                            </p>
                        </div><br>
                </div>
            </div>
        </section> -->

        <div class="row">
            <div class="alert alert-info" style="margin:15px 15px -10px 15px;">
                <strong>Tip!</strong> There is a video lesson available for My Events, click <strong><a href="{% url 'faq_events' %}"> here</a></strong> to view it.
            </div>
            <div class="col-md-8 col-md-offset-2 paddingtop-20" id="displayed">
                <br>
                <h2 class="page-title" style="text-align:center;">YOUR PLANNED EVENTS</h2>
                    <h3 style="font-size:15px;"> This is where the magic happens! Set up your events and immediately see
                        availability, proximate show information, local popularity comparisons, news about your DJs
                        and even recommended available artists.<br/>
                    Get started by shortlisting artists.
                    </h3>
                <!-- <div class="clearfix"> -->
                <div class="text-center">
                    <a href="{% url 'booking_request' %}" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus"></span> Add an Event
                        <!-- <strong style=": 10px;"><span class="glyphicon glyphicon-plus" ></span> Add an Event</strong> -->
                    </a>

                    {% if all_events %}
                        <p class="event-count-txt">You have planned {{ event_count }} events.</p>
                        <p class="event-tip text-center"><u>(click on event name to work on event)</u></p>
                    {% endif %}
                <!-- </div> -->
                </div>
                <hr>
            </div>
        </div>
            {% if all_events %}

            {% for event in all_events %}
            <div id="event_{{ event.event_id }}">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="well well-box-shadow">
                        <a href="{% url 'event_detail' event.event_id%}" style="text-align:center; "><h3 style="color:#008dd2;"><strong>{{ event.event_name|title }}</strong></h3></a>
                        <!-- <a style="text-align:center;" href="{% url 'event_detail' event.event_id%}"><strong style="color:#008dd2; font-size:18px; ">{{ event.event_name|title }}</strong></a> -->
                        <div class="row hidden-sm hidden-xs">
                            <div class="col-md-8 ">
                                {% if event.shortlisted_artists.all %}
                                <div class="container pv-40" style="width:725px; margin-right:20px">
                                    <div class="owl-carousel owl-theme">
                                        {% for sm_artist in event.shortlisted_artists.all %}
                                            <div class="item">
                                                <div class="wrapper">
                                                    {% if sm_artist.artistPhoto %}
                                                        <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                                                    {% endif %}
                                                    <div style="margin-bottom:27px;">
                                                        <div class='description'>
                                                            <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}"><strong>{{sm_artist.artistName}}</strong></a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <a type="button" class="btn btn-success btn-sm booking_requset_modal" data-id='{{sm_artist.artistID}},{{sm_artist.artistName}},{{ event.event_id }}, {{ event.event_name }}' style="width:135%; text-align:center;">
                                                    <div style="margin-left: -10px;" role="button">Booking Request</div>
                                                </a> -->
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row hidden-md hidden-lg">
                            <div class="col-md-8 ">
                                {% if event.shortlisted_artists.all %}
                                <div class="container pv-40" style="margin-left: -25px; width: 300px;">
                                    <div class="owl-carousel owl-theme">
                                        {% for sm_artist in event.shortlisted_artists.all %}
                                            <div class="item">
                                                <div class="wrapper">
                                                    {% if sm_artist.artistPhoto %}
                                                        <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                                                    {% endif %}
                                                    <div class='description'>
                                                        <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}">{{sm_artist.artistName}}</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p style="display:inline-block"><strong>Event Name:</strong></p>&nbsp
                                <a style="display:inline-block" href="{% url 'event_detail' event.event_id%}"><strong style="color:#008dd2; font-size:18px;">{{ event.event_name|title }}</strong></a>
                            </div>
                            <div class="col-md-4">
                                {% if event.event_date %}
                                    <p style="display:inline-block"><strong>Event Date:</strong></p>&nbsp
                                    <p style="display:inline-block">{{ event.event_date }}</p>
                                {% else %}
                                    <p style="display:inline-block"><strong>Event Date:</strong></p>&nbsp
                                    <p style="display:inline-block">No event date specified</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p style="display:inline-block"><strong>Venue Name:</strong></p>&nbsp
                                <p style="display:inline-block"> {{ event.data_all_fields|get_value_from_dict:"venue name" }}</p>
                            </div>
                            <div class="col-md-4">
                                <p style="display:inline-block"><strong>Event Genre:</strong></p>&nbsp
                                <p style="display:inline-block"> {{ event.genre.all.first.genreName }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="display:inline-block"><strong>Capacity Of Venue:</strong></p>&nbsp
                                <p style="display:inline-block">{{ event.data_all_fields|get_value_from_dict:"capacity of venue" }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                {% if event.city %}
                                    <p style="display:inline-block"><strong>City:</strong></p> &nbsp
                                    <p style="display:inline-block">{{ event.city }}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if event.get_country %}
                                    <p style="display:inline-block"><strong>Country:</strong></p> &nbsp
                                    <p style="display:inline-block">{{ event.get_country }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if event.shortlisted_artists.all %}
                        <div class="row">
                            <div class="col-md-12">
                            <p style="display:inline-block"><strong>Shortlisted Artists:</strong></p>
                                <div id="shortlisted_artists{{event.event_id}}" style="display:inline-block">
                                    {% for artist in event.shortlisted_artists.all %}
                                        <span class="label wd-label-artist-genre">{{ artist|title }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-md-12">
                            <p style="display:inline-block"><strong>Shortlisted Artists:</strong></p>
                                <div id="shortlisted_artists{{event.event_id}}" style="display:inline-block">
                                    <!-- {% for artist in event.shortlisted_artists.all %}
                                        <span  style="display:inline-block" class="label wd-label-artist-genre">{{ artist|title }}</span>
                                    {% endfor %} -->
                                  <a href="{% url 'shortlisted_artist' event.event_id %}"> No shortlisted artists. Why not shortlist some?</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if event.invited_users.all %}
                        <div class="row">
                            <div class="col-md-12">
                                <p style="display:inline-block"><strong>Offered Artists:</strong></p>
                                <div style="display:inline-block">
                                    {% for artist in event.invited_users.all %}
                                        <span class="label wd-label-artist-genre" style="background-color:black;color:white;">{{ artist|title }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if event.booked_artists.all %}
                        <div class="row">
                            <div class="col-md-12">
                                <p style="display:inline-block"><strong>Booked Online Artists:</strong></p>
                                <div style="display:inline-block">
                                    {% for artist in event.booked_artists.all %}
                                        <span class="label wd-label-artist-genre">{{ artist|title }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="pull-left">
                                <!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal"  onclick="shortlist_artists({{ event.event_id }})">Shortlist Artists</button>
                                <a class="btn btn-success btn-sm" data-toggle="modal"  href="{% url 'update_booking_request' event.event_id %}">Edit Event Details</a> -->
                                    <a class="btn btn-info btn-sm" style="background-color: blue;"  href="{% url 'shortlisted_artist' event.event_id%}"> View Event Analysis</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-sm" data-toggle="modal"  onclick="delete_notify('{{ event.event_id }}');">Delete Event</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                {% else %}
                    <h2><div class="text-muted text-center">No events found.</div></h2>
                {% endif %}
            </div>
        <!-- </div>
    </div> -->

    <!-- Delete Modal -->
    <div id="id_delete_modal" class="modal fade" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Event</h4>
             </div>
             <div class="modal-body">
                <p id="id_delete_event"></p>
             </div>
             <div class="modal-footer">
                <button id="id_delete_confirm" style="margin-top:15px;" type="button" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {% for event in all_events %}
        <!-- Details Modal -->
        <div id="id_detail_modal_{{event.event_id}}" class="modal fade" tabindex="-1" role="dialog">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{event.event_name }} Details</h4>
                 </div>
                 <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6"><b>Event Name</b></div>
                        <div class="col-md-6">{{ event.event_name|title}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6"><b>Event Date</b></div>
                        <div class="col-md-6">{{ event.event_date }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6"><b>Event City</b></div>
                        <div class="col-md-6">{{ event.city|title}}</div>
                    </div>
                    <hr>
                    {% for field, value in event.data_all_fields.items %}
                        <div class="row">
                            <div class="col-md-6"><b>{{field|title}}</b></div>
                            <div class="col-md-6">{{ value|title }}</div>
                        </div>
                        <hr>
                    {% endfor%}

                 </div>
                 <div class="modal-footer">
                    <a class="btn btn-primary" style="margin-top:15px;" href="{% url 'update_booking_request' event.event_id %}">Update</a>
                    <a class="btn btn-primary" data-dismiss="modal">Close</a>
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    {% endfor %}

<div id="shortlist_artists_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Shortlist Artists</h4>
            </div>
            <div class="modal-body">
                <div class='response'>

                </div>
            </div>
            <div class="modal-footer">
                <br><input class="btn btn-primary popup_btn assign-artists" type="submit" value="Update" />
                <!-- <input type="submit" class="btn btn-default pull-right" value="Shortlist Artists"></input> -->
                </form>
            </div>
        </div>
    </div>
</div>


<div id="booking_request_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking Request</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center;" id="body_text"></div>
                <div id="existing_event_options" style="text-align:center;" class="row">
                    <form  method="POST" action="" id="booking_Request_form" data-toggle="validator">
                    {% csrf_token %}
                    <input type="hidden" id="id_event_id">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <label for="select_option">Do you want to send intial info or complete offer sheet info -</label>
                        <select name="action" class="form-control" id="select_option" required>
                            <option value="">Choose</option>
                            <option value="booking" value="booking request">Booking Request</option>
                            <option id="event_offer_choice" value="offer" value="offer sheet">Offer Sheet (for formal offers to agent)</option>
                        </select>
                        <small id="error" style="display:none; color:red;" class="help-block with-errors">*This Field is Required</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="send_booking_req()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'my_events'%}">My Events</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
