{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>

{% endblock %}

{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>Offered Artists</li>
        </ol>
    </div>
</div>
{% endblock slider %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block content %}

<div class="container container-min-height">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING </strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    {% if event.shortlisted_artists.all %}
        {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    {% if booked_artists %}
    <div class="row">
        <h4 style="text-align:left; margin-left:25px;">You have sent offer emails to the following artists for this event. </h4><br>
        {% for artist_event in event.bookedartistforuserevent_set.all %}
            <div class="col-md-3">
                <div class="well" style="background:white;box-shadow: 3px 3px 15px #888888;padding-bottom: 10px;">
                    {% if artist_event.artist.artistPhoto %}
                        <img src="{{ artist_event.artist.artistPhoto.url }}" style="height:200px; width:400px;" class="img-responsive" alt="{{artist_event.artist.artistName}}" >
                    {% else %}
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" style="margin-left:22px; height:210px;" alt="{{artist_event.artist.artistName}}">
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:6px; height:210px;" alt="{{artist_event.artist.artistName}}">
                    {% endif %}
                    <div class="text-center">
                        <a href="{% url 'artist_detail' artist_event.artist.artistID %}"> <h4 style="color:#0c9ec7;"><strong>{{ artist_event.artist.artistIDs.artistName }}</strong><h4> </a>
                    </div>
                    <div class="text-center">
                        <form class="" action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="bookedartist" value="{{artist_event.artist.artistID}}" />
                            <button class="btn btn-default fa fa-envelope" type="submit" name="button"> Offer Sent On {{ artist_event.created_on|date:"d M, Y" }}</button>
                        </form>
                    </div>
                </div>
            </div>
        {% cycle "" "" "" "</div><br><div class='row'>"%}
        {% endfor %}
    </div>
    {% else %}
        <div style="text-align:center">
            <h3>No Offered Artist yet</h4>
        </div>
    {% endif %}
</div>

{% include 'events/duplicate_event.html' %}
{% endblock %}

{% block footer %}

{% include "home/_footer.html" %}

{% endblock footer %}
