{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:false,
            margin:10,
            nav:true,
            dots: false,
            items:10,
            responsive:{
                0:{
                    items:1
                },
                250:{
                    items:3
                },
                600:{
                    items:4
                },
                800:{
                    items:6
                },
                1000:{
                    items:8
                }
            }
        });
        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    });
</script>


<script>

    function shortlist_artist_only(artist_id){
        var artist_id = artist_id;

        $.ajax({
            url: "{% url 'shortlist_artist' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'artist_id' : artist_id,
                'event_id' : {{ event.event_id }} ,
            },
            success: function(response){
                response = JSON.parse(response);
                if (response.status){
                    
                    var artist_name = response["artist_name"]
                    var artist_photo_url = response["artist_photo_url"]

                    $("#shortlist_artist_button"+artist_id).removeClass('btn-info').addClass('btn-success');
                    $("#shortlist_artist_button"+artist_id).attr('disabled','disabled');
                    $("#shortlist_artist_button"+artist_id).html('Artist Shortlisted');

                    $('#shortlisted-artists-list')
                    .trigger(
                        'add.owl.carousel',
                        [`
                            <div class="item">
                                <div class="wrapper">
                                    <img src='${artist_photo_url}' alt='${artist_name}' style='max-width:100px;width:100px;max-height:100px;height:100px'>
                                    <div style='margin-bottom:27px;'>
                                        <div class='description'>
                                            <p class='description_content'><a style='color:white;text-decoration: none !important;' href='/artists/artist/${artist_id}/'><strong>${artist_name}</strong></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `])
                    .trigger('refresh.owl.carousel');
                }
            }
        });
        return false;
    }

</script>



{% endblock %}

{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>Recommended Artists By Wdjp</li>
        </ol>
    </div>
</div>
{% endblock slider %}


{% block content %}

<!-- <button class="btn btn-info btn-sm" onclick="return new_testing()" > Shortlist Artist </button> -->


<div class="container container-min-height">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING </strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    {% if event.shortlisted_artists.all %}
        {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    {% if recommended_artists %}
    <!-- <section class="main-container padding-ver-clear">
        <div class="container pv-40"> -->
            <h2 class="title">Our Recommended Artists to Add to this Event</h2><br>
            <div class="owl-carousel owl-theme">
                {% for sm_artist in recommended_artists %}
                    <div class="item">
                        <div class="wrapper">
                            {% if sm_artist.artistPhoto %}
                                <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:120px;width:120px;max-height:120px;height:120px">
                            {% else %}
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:120px;width:120px;max-height:120px;height:120px">
                            {% endif %}
                            <div style="margin-bottom:27px;">
                                <div class='description'>
                                    <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}"><strong>{{sm_artist.artistName}}</strong></a></p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info btn-sm" style="text-align:center;" onclick="shortlist_artist_only({{ sm_artist.artistID }})"  id="shortlist_artist_button{{ sm_artist.artistID }}"> &nbsp Shortlist Artist &nbsp</button>
                    </div>
                {% endfor %}
            </div>
        <!-- </div>
    </section> -->

    {% else %}

    <div style="text-align:center">
        <h3>No Recommended Artists Artist yet</h4>
    </div>

    {% endif %}


</div>

{% include 'events/duplicate_event.html' %}
{% endblock %}

{% block footer %}

{% include "home/_footer.html" %}

{% endblock footer %}
