{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script>

$( document ).ready(function() {
    value = $("#elem").val()
    if(value == null){
        $("#id_shortlist_label").html("<strong>Type in Some Artists You Want to Book To Get Started !</strong>")
    }
    else{
        $("#id_shortlist_label").html("<strong>ADD OR REMOVE ARTISTS ON YOUR EVENT SHORT LIST HERE</strong>")
    }

});

$("#id_elem_div").click(function() {
    value = $("#elem").val()
    if(value == null){
        $("#id_shortlist_label").html("<strong>To get started type some artist names you want to book:</strong>")
    }
    else{
        $("#id_shortlist_label").html("<strong>ADD OR REMOVE ARTISTS ON YOUR EVENT SHORT LIST HERE</strong>")
    }
});

</script>

<script>
    $(".booking_requset_modal").click(function(event){
        window.artist = $(this).attr('data-id');
        var artist_split =  artist.split(',');
        var artist_detail = []
        for(var i = 0; i < artist_split.length; i++) {
           artist_detail.push(artist_split[i])
        }
        window.artist_name = artist_split[1]
        window.artist_id = artist_split[0]

        $("#booking_request_modal").modal('show');
        // $("#body_text").html("<h4 style='font-size:15px; text-align:left;'>ok, We will draft and help you track this Booking Request - <strong>  '" + artist_name + "'</strong> for event <strong> '{{ event.event_name }}' </strong> </h4> "  );
        $("#body_text").html("<h4 style='font-size:15px; text-align:left;'>Create your booking	request	by	selecting one of the following options. An email will then be drafted with all the details ready for you to	manage from	 your mailbox before sending </h4> "  );

    });


    function send_booking_req(){
        if ($("#select_option").val() != ""){
            var select_option = $("#select_option").val()
            var requrl = "{% url 'event_booking_request_email' event.event_id '123' %}?action="+select_option+"&event=from_shortlist";
            requrl = requrl.replace('123',artist_id)
            document.location.href = requrl
            $("#booking_Request_form").attr("action", url);
            $("#booking_Request_form").submit()
        }else{
            $("#error").css("display", "")
        }
    }

</script>

{% endblock %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}

{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>Shortlist Artists</li>
        </ol>
    </div>
</div>
{% endblock slider %}


{% block content %}
<!-- <section style="background:#eee;"> -->
<div class="container">
    <h2 style="text-align:center; font-size:25px;"><strong>YOUR EVENT PLANNING</strong></h2>
    <h2 style="text-align:center;">{{ event.event_name }} &nbsp Details
        <span>
            <a style="cursor:pointer;" href="{% url 'update_booking_request' event.event_id %}">
                <span class="glyphicon glyphicon-pencil" style="color:skyblue;font-size:15px;"></span>
            </a>
        </span>
    </h2>
    <p style="text-align:center;font-size: 18px;"><strong>{{ event.city }} on {{ event.event_date }}</strong></p>

    {% if event.shortlisted_artists.all %}
    {% include "events/_event_shortlisted_artist.html" with event_obj=event %}
    {% endif %}

    {% include "events/_events_detail_menu.html" %}

    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="POST" >{% csrf_token %}
            <p class="text-center" id="id_shortlist_label"><p>
            <div id="id_elem_div">
                <select name="shortlisted_artists" class="form-control all_artists" id="elem" multiple="multiple" >
                    {% for artist in artists %}
                        <option value="{{artist.artistID}}" {% if artist in all_user_shortlist_artist %}selected{% endif %}>{{ artist.artistName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-6 col-xs-1 col-xs-offset-8">
            <input type="submit" class="btn btn-default pull-right" value="Confirm Selection"></input>
        </div>
        </form>
    </div>
    <!-- </div> -->
    <br>
    <div class="separator-2"></div>
    {% if all_user_shortlist_artist %}
    <div class="row">
        <h3 style="margin-left: 13px;">Your shortlisted artists, their availability and more...</h3><br>
        <!-- <div class="container pv-40">
            <div class="owl-carousel owl-theme">
                {% for sm_artist in all_user_shortlist_artist %}
                    <div class="item">
                        <div class="wrapper">
                            {% if sm_artist.artistPhoto %}
                                <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                            {% else %}
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                            {% endif %}
                            <div class='description'>
                                <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}">{{sm_artist.artistName}}</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> -->
        {% for dj in all_user_shortlist_artist %}
        <div class="col-md-12">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <div class="row">
                    <div class="col-md-3">
                        {% if dj.artistPhoto %}
                            <img src="{{ dj.artistPhoto.url }}" style="width:200px;max-width:200px;max-height:200px;" class="img-responsive" alt="{{dj.artistName}}" >
                        {% else %}
                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" style="margin-left:22px; height:210px;" alt="{{dj.artistName}}">
                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:6px; height:210px;" alt="{{dj.artistName}}">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {% if dj.artistName %}
                        <a href="{% url 'artist_detail' dj.artistID %}">
                            <div class="artist-card-artist-name">
                                <strong>{{ dj.artistName|title }}</strong>
                            </div>
                        </a>
                        {% endif %}

                        {% if dj.city %}
                        <div class="artist-card-text">
                            <strong>Artist City: </strong>
                            {{dj.city}}
                        </div>
                        {% endif %}

                        {% if dj.genre.all %}
                            <div>
                                <strong>
                                    Genre:
                                </strong>
                            {% for genre in dj.genre.all %}
                                <span class="label wd-label-artist-genre">{{genre.genreName}}</span>
                            {% endfor %}
                            </div>
                        {% endif %}

                        {% if dj.artistBudget %}
                            <div class="artist-card-text">
                                <strong>
                                    Estimated Budget:
                                </strong>

                                {% if dj.artistBudget == 1 %}
                                    $
                                {% endif %}
                                {% if dj.artistBudget == 2%}
                                    $$
                                {% endif %}
                                {% if dj.artistBudget == 3 %}
                                    $$$
                                {%endif %}
                            </div>
                        {% endif %}

                        {% if event.event_date %}
                        <div class="artist-card-text" style="margin-bottom:5px;">
                            {% if dj.artistID in booked_artist_on_event_date %}
                                <div style="color:red;">
                                    <strong>
                                        Booked on {{ event.event_date }}
                                    </strong>
                                </div>
                            {% else %}
                                <div style="color:green;">
                                    <strong>Potentially Free on {{ event.event_date }}</strong>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if most_recent_past_event|get_value_from_dict:dj %}
                            <div class="well well-box-shadow artist-card-text" style="padding:10px; background-color:#f3f9ff;">
                                <div class="" role="">
                                    {% with most_recent_past_event|get_value_from_dict:dj as event_data %}
                                        <strong>{{dj.artistName}} Last Known Event Before {{event.event_date}}: </strong>
                                        {{event_data.eventName}} {% if event_data.city %} in city {% endif %} {{ event_data.city }} {% if event_data.country %}, {{ event_data.country }} {% endif %} {% if event_data.date %}on {% endif %}{{ event_data.date }}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}

                        {% if most_upcoming_event|get_value_from_dict:dj %}
                            <div class="well well-box-shadow artist-card-text" style="padding:10px; background-color:#f3f9ff;">
                                <div class="" role="">
                                    {% with most_upcoming_event|get_value_from_dict:dj as event_data %}
                                        <strong>{{dj.artistName}} Next Event After {{event.event_date}}: </strong>
                                        {{event_data.eventName}} {% if event_data.city %} in city {% endif %} {{ event_data.city }} {% if event_data.country %}, {{ event_data.country }} {% endif %} {% if event_data.date %}on {% endif %}{{ event_data.date }}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}


                        {% if past_event|get_value_from_dict:dj %}
                            {% with past_event|get_value_from_dict:dj as event_data %}
                                {% if event.city == event_data.city %}
                                    <div class="well well-box-shadow artist-card-text" style="padding:10px;">
                                        <div>
                                            <strong>{{dj.artistName}} Last Event In  {{event.city}}: </strong>
                                            {{event_data.eventName}} {% if event_data.city %} in city {% endif %} {{ event_data.city }} {% if event_data.country %}, {{ event_data.country }} {% endif %} {% if event_data.date %}on {% endif %}{{ event_data.date }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}

                        {% endif %}

                        {% if future_event|get_value_from_dict:dj %}
                            <div class="well well-box-shadow artist-card-text" style="padding:10px;">
                                <div>
                                    {% with future_event|get_value_from_dict:dj as event_data %}
                                        <strong>{{dj.artistName}} Future Event In  {{event.city}}: </strong>
                                        {{event_data.eventName}} {% if event_data.city %} in city {% endif %} {{ event_data.city }} {% if event_data.country %}, {{ event_data.country }} {% endif %} {% if event_data.date %}on {% endif %}{{ event_data.date }}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}

                        {% if artist_events_near_to_user|get_value_from_dict:dj %}
                            <div class="well well-box-shadow artist-card-text" style="padding:10px;">
                                <div>
                                    {% with artist_events_near_to_user|get_value_from_dict:dj as artist_near_events %}
                                        {% for event in artist_near_events %}
                                        The last known {{dj.artistName|title}} show within 100 miles from {% if user_session_location.city %}{{ user_session_location.city }}{% else %} your location {% endif%} was on {{event.date|date:"M d, Y" }} at {{event.venueName}}{% if event.venueAddress %} ( {{event.venueAddress}} ) {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}

                        <a class="btn btn-primary btn-sm booking_requset_modal"  data-id='{{dj.artistID}},{{dj.artistName}}' style="background-color:#47d147;border-color:#29a329;" role="button">Send Booking Request</a>
                    </div>
                </div>
            </div>
        </div>
        {% cycle "" "" "" "</div><br><div class='row'>"%}
        {% endfor %}
    </div><br><br><br>
    {% else %}<br>
        <h4 style="text-align:center;">You have not shortlisted any artists yet for {{ event.event_name }}</h4><br><br><br>
    {% endif %}
</div>


<div id="booking_request_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking Request</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center;" id="body_text"></div>
                <div id="existing_event_options" style="text-align:center;" class="row">
                    <form  method="POST" action="" id="booking_Request_form" data-toggle="validator">
                    {% csrf_token %}
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <label for="select_option">Do you want to send intial info or complete offer sheet info -</label>
                        <select name="action" class="form-control" id="select_option" required>
                            <option value="">Choose</option>
                            <option value="booking" value="booking request">Booking Request</option>
                            <option id="event_offer_choice" value="offer" value="offer sheet">Offer Sheet (for formal offers to agent)</option>
                        </select>
                        <small id="error" style="display:none; color:red;" class="help-block with-errors">*This Field is Required</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="send_booking_req()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'events/duplicate_event.html' %}

{% endblock %}

{% block footer %}

{% include "home/_footer.html" %}

{% endblock footer %}
