{% load staticfiles %}
{% load artist_filters %}

{% for events in all_events %}
   <tr>

       <td class="col-md-1"><a href="/events/event/{{ events.0.eventID }}">{{ events.0.eventName }}</a></td>
       <td class="col-md-2">{{ events.0.evenueName }}</td>
       <td class="col-md-2">{{ events.2.city }}</td>
       <td class="col-md-2">{{ events.2.country}}</td>
       <td class="col-md-3">
           {% for artist in events.1 %}
               <a href="{% url 'artist_detail' artist.artistID%}">{{artist.artistName}}</a>
               {% if not forloop.last%}
               ,
               {% endif %}
           {% endfor %}
       </td>
       <td class="col-md-1">

           {% if events.0 in  pro_obj.favorite_events.all %}
               <img style="display:inline; width:20px;" class="heart_filled_icon{{events.0.eventID}}" id="heart_filled_icon{{events.0.eventID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{events.0.eventID}});" alt="{{artist.artistName}}" width="200px" height="200px">
               <img style="display:none; width:20px;" class="heart_outline_icon{{events.0.eventID}}" id="heart_outline_icon{{events.0.eventID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{events.0.eventID}});" alt="{{artist.artistName}}" width="200px" height="200px">
           {% else %}
               <img style="display:inline; width:20px;" class="heart_outline_icon{{events.0.eventID}}" id="heart_outline_icon{{events.0.eventID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{events.0.eventID}});" alt="{{artist.artistName}}" width="200px" height="200px">
               <img style="display:none; width:20px;" class="heart_filled_icon{{events.0.eventID}}" id="heart_filled_icon{{events.0.eventID}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{events.0.eventID}});" alt="{{artist.artistName}}" width="200px" height="200px">
           {% endif %}
       </td>
       <td class="col-md-1" style="white-space: nowrap;">
           <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{events.0.eventName}}, {{ events.2.city }}">
           <span class="fa-stack fa-1x">
               <i class="fa fa-circle-thin fa-stack-2x"></i>
               <i class="fa fa-facebook fa-stack-1x"></i>
           <span>
           </a>
           <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{events.0.eventName}} {{ events.2.venueaddress }}">
           <span class="fa-stack fa-1x">
               <i class="fa fa-circle-thin fa-stack-2x"></i>
               <i class="fa fa-google fa-stack-1x"></i>
           <span>
           </a>
       </td>
{#       <td>#}
{#           a#}
{#           {% if events.2|get_length:pro_obj %}#}
{#           <a href="{% url 'venue_contacts' events.2.venueid  %}" type="button" class="btn btn-info btn-sm" style="padding-left:22px; padding-right:22px;">{{ events.2|get_length:pro_obj }} contact{% if events.2|get_length:pro_obj > 1 %}s {% else %} &nbsp {% endif %}</a>#}
{#           <a href="{% url 'venue_contacts' events.2.venueid  %}" type="button" class="btn btn-info btn-sm" style="padding-left:22px; padding-right:22px;">{{ events.2|get_length:pro_obj }} contact{% if events.2|get_length:pro_obj > 1 %}s {% else %} &nbsp {% endif %}</a>#}
{#           {% else %}#}
{#           <a href="{% url 'venue_contacts' events.2.venueid  %}" type="button" class="btn btn-info btn-sm" >Add Contacts</a>#}
{#           {% endif  %}#}
{#        </td>#}

   </tr>
   {% endfor %}
