{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load event_filters %}
{% load humanize %}
{% block title %} {{ block.super }}| Venue </title> {% endblock title %}
{% block header %}
{% include "home/_header.html" %}
 
  <style type="text/css">
    ul{
      list-style-type: none;
      padding: 0;
    }
    thumb .img{
      width: 40px;
      height: 40px;

    }
    #Upcoming_Concerts p {
      margin-bottom: 0;
    }
    #Upcoming_Concerts li {
      display: block;
      width: 100%;
      float: left;
    }
    #Upcoming_Concerts li > div {
      float: left
    }
    #Upcoming_Concerts li:nth-child(even) {
      border-bottom: 1px dashed #000;
      margin-bottom: 20px;
      padding-bottom: 15px;
    }
    a.thumb {
      display: block;
      margin-top: -10px;
    }
    a.thumb img {
      border-radius: 50%;
    }
    .table > tbody > tr > td, .table > tfoot > tr > td {
      border-top: 0;
    border-bottom: 1px dashed #000;
     padding: 15px;
    }
    .table > tbody > tr td:first-child {
      padding-left: 0;
    }
    .table > tbody > tr td:last-child {
      text-align: center;
      padding-right: 0;
    }
    .clearfix {
      clear: both;
    }
    .mtop50 {
      margin-top: 50px;
    }
    .read-more {
      text-align: center;
    }
    .read-more a {
      display: inline-block;
      background: #ccc;
      padding: 2px 20px;
      max-width: 300px;
      width: 100%;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 31px;
    }
    .read-more a:hover {
      text-decoration: none;
    }

    /* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column {
  float: left;
  width: 25%;
}
.table .glyphicon-remove{
  color: red;
  font-size: 20px;
}
.table .glyphicon-plus{
  color: green;
  font-size: 20px;
}

  </style>

{% endblock header %}

{% block owl_js %}

{% include "events/_venue_owl_js.html"%}

{% endblock owl_js %}


{% block extra_js %}
<link rel="stylesheet" href="{% static 'frontend/css/rawgit/contacts_svg_rawgit.css'%}">
<link rel="stylesheet" href="{% static 'frontend/css/css_user_contacts.css'%}">
<script type="text/javascript" src="{% static 'frontend/css/rawgit/contacts_rawgit.js'%}"></script>
<script type="text/javascript" src="{% static 'frontend/css/rawgit/select2_lib.js'%}"></script>
<script src="{% static 'frontend/js/zingchart.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/map_styles.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/manage_contacts.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

<!-- Notes Script -->
<script src="{% static 'frontend/js/venue_notes.js'%}"></script>

<script type="text/javascript">
    var activity=""
    var refresh=0;


     function load_events(action,category=""){
        if (action == "upcoming"){
            var start = $("#upcoming_start").val();
            $("#upcoming_svg").show();
        }
        else if(action == "past"){
            var start = $("#past_start").val();
            $("#past_svg").show();
        }
        else if(action == "contacts"){
            if(category=="person")
              var start = $("#venue_contacts_start").val();
            else
              var start = $("#venue_company_contact_start").val();
            $("#contacts_svg").show();
        }
        data = {
            "start":start,
            "action":action,
            "category":category
        }
        $.ajax({
            url: "{% url 'load_events_venues' Venues.venueid %}",
            type: "GET",
            data: data,
            success: function(response) {
                if (action == "upcoming"){
                    $("#upcoming_svg").hide();
                    if (response.status == "True"){
                        $('#upcomingtable tr:last').after(response.data);
                        $('#upcoming_start').val(response.start);
                    }
                    else {
                        $("#upcoming_button").hide();
                    }
                }
                else if (action == "past") {
                    $("#past_svg").hide();
                    if (response.status == "True"){
                        $('#pasttable tr:last').after(response.data);
                        $('#past_start').val(response.start);
                    }
                    else {
                        $("#past_button").hide();
                    }
                }
                else{
                    $("#contacts_svg").hide();
                    if (response.status == "True"){
                        if(category=="person"){
                            $('#contact-listing tr:last').after(response.data)
                            $('#venue_contacts_start').val(response.start);                          
                        }
                        else{
                          $('#company-listing tr:last').after(response.data);
                          $('#venue_company_contact_start').val(response.start); 
                        }
                        $('#contacts_start').val(response.start);
                    }
                    else {
                        if(category=="person")
                          $("#venue_person_contact_button").hide();
                        else
                          $("#venue_company_contact_button").hide();
                    }

                }
            }
        })
    }
      var mapOptions = {
        scrollwheel: false,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng('{{Venues.venuelatitude}}', '{{Venues.venuelongitude}}'),
        styles: map_styles
      };

      var infowindow = new google.maps.InfoWindow();
      google.maps.event.addDomListener(window, 'load', initialize);


     $(document).ready(function(){
        var oms;
        initialize();

        $('#venue_artists').owlCarousel({
          loop:false,
          margin:10,
          nav:true,
          dots: false,
          items:10,
          responsive:{
          0:{
              items:1
          },
          250:{
              items:3
          },
          600:{
              items:4
          },
          800:{
              items:6
          },
          1000:{
              items:8
          }
          }
          });

        });


     function initialize() {
        map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
        coordinates = new google.maps.LatLng('{{Venues.venuelatitude}}', '{{Venues.venuelongitude}}');
         var marker = new google.maps.Marker({
                          position: coordinates,
                          map: map,
                          title: '{{Venues.venuename}}',
                          address: '{{Venues.venueaddress}}',
                          country: '{{Venues.country}}',
                          city: '{{Venues.city}}'
                        });
        
        google.maps.event.addListener(marker, "click", function (event) {
          var google_search = 'https://www.google.com/search?q=' + this.title + " " + this.address;
          
          var content = "<h4><b>" + this.title + " - " + this.country + "</b></h4><br/>";

          content += "Venue Name: <b>" + this.title + "</b><br/>";
          if(this.address != "") content += "Venue Address: <b>" + this.address + "</b><br/>";
          if(this.city != "") content += "Venue City: <b>" + this.city + "</b><br/>";
          if(this.country != "") content += "Venue Country: <b>" + this.country + "</b><br/>";
          content += "<a href='"+google_search+"' target='_blank'>Search Venue Details</a>";
          content+="</div>";
          infowindow.setContent(content);
          infowindow.setPosition(this.getPosition());
          infowindow.open(map);
      });

        } 



 $(document).on("click", '.create-contact-btn', function(){

  $.ajax({
          url: "/user-contact/create-type/",
          type: "GET",
          data: {
            "venue_id":'{{Venues.venueid}}'
          },
          success: function(response) {
            $(".manage-contact-modal-title").html("CREATE CONTACT")
            $("#myModal .modal-dialog").css({'width': '600px'})
            $("#myModal").modal("show");
            $(".manage-contact-modal-body").html(response.data);
            $('#create_span').html('ADD A CONTACT?')
          }
      });
  });

  $(document).on("click", '.create-company-btn', function(){

    $.ajax({
          url: "/user-contact/create-type/",
          type: "GET",
          data: {
            "venue_id":'{{Venues.venueid}}'
          },
          success: function(response) {
            $(".manage-contact-modal-title").html("CREATE COMPANY")
            $("#myModal .modal-dialog").css({'width': '600px'})
            $("#myModal").modal("show");
            $(".manage-contact-modal-body").html(response.data);
            $('#create_span').html('ADD A COMPANY CONTACT?')
            $('#create_span').addClass('company-creation')         
          }
      });
  });

  $(document).on('click', '#contact_create', function(){

      var venueid = '{{Venues.venueid}}'
      url = "/user-contact/create-new-contact/?create-venue-contact=true&venue_id="+venueid    
      if ($('#create_span').hasClass('company-creation') == true){
        url = "/user-contact/create-new-contact/" + "?company-create=true" 
      }
      window.open(url,"_self")
  })

  $(document).on('click', '#csv', function(){
    
    $("#get_contacts").css({"display":"none"});
    $("#gmail_form").css({"display":"none"});
    $(".c-label").hide()
    $("#csv_form").css({"display":"block"});
    $(".upload_section").css({"display":"block"});  
});
   $(document).on("click","#see_all_images" , function(){
      $("#allImages").modal("show")
   });

    $(document).on("click","#contact_modal_close" , function(){
      window.location.reload()
    });
   

  function openModal() {
  document.getElementById('allImages').style.display = "block";
}

function closeModal() {
  $("#allImages").modal("hide")
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>

<script type="text/javascript">
  // Comments Script Start 
    $(document).on('click','.reply-btn',function(){
        $(this).parent().next().next().fadeToggle()

    });

    $(document).on('submit','.venue-comments',function(){
    event.preventDefault();
    var text = $($(event)[0]["target"]).find("#id_content").val().trim()
    if (text === ""){
      return false
    }
    else{
      $.ajax({
          type: "POST",
          url: "{% url 'venue_comment' 0 %}".replace('0','{{Venues.venueid}}'),
          data: $(this).serialize(),
          success: function(response) {
              $('.comments-section').html(response);
          }
      });
    }
    });
    //Comments Script End
</script>

{% endblock extra_js %}
{% block content %}

  <div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'venues'%}">Venue Directory</a></li>
            <li>{{Venues.venuename}} Info</li>
        </ol>
    </div>
  </div>

	<section class="main-container padding-ver-clear">

        <div class="container pv-40 venue_details">
            <div class="row">
                <div class="main col-md-12">
                    <div class='row'>
                        <div class="col-md-4">
                            <div class="sliderImgWrapper" style="text-align: center;">
                                    <img id="profile_image"  src="{% if venue_icon_image %}{{venue_icon_image}}{% else %}/static/frontend/images/no_image_icon.jpeg {% endif %}" alt="" width="200px" height="200px">
                                    {% if venue_icon_image %}
                                    <a href="#" id="see_all_images" class="btn btn-default btn-sm">See all images</a>
                                    {% endif %}
                            </div>
                        </div>

                        <div class="col-md-8" style="margin-top: -10px;">
                            <h2><strong>{{Venues.venuename}}</strong></h2>
                            <h4><strong>Address: {{Venues.venueaddress}}</strong></h4>
                            <h4>
                              <strong> Number of events at this venue : </strong> {{total_events}}
                            </h4>
                            <small>Favorite Venue: </small>
                            {% if venue in  profile_obj.favorite_venues.all %}
                              <img style="display:inline; width:20px;padding-bottom:5px" class="heart_filled_icon{{Venues.venueid}}" id="heart_filled_icon{{Venues.venueid}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{Venues.venueid}});"  width="200px" height="200px">
                              <img style="display:none; width:20px;padding-bottom:5px" class="heart_outline_icon{{Venues.venueid}}" id="heart_outline_icon{{Venues.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{Venues.venueid}});"  width="200px" height="200px">
                            {% else %}
                                <img style="display:inline; width:20px;padding-bottom:5px" class="heart_outline_icon{{Venues.venueid}}" id="heart_outline_icon{{Venues.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{Venues.venueid}});"  width="200px" height="200px">
                                <img style="display:none; width:20px;padding-bottom:5px" class="heart_filled_icon{{Venues.venueid}}" id="heart_filled_icon{{Venues.venueid}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{Venues.venueid}});"  width="200px" height="200px">
                            {% endif %}

                            {% if user_type == "Agent" %}
                              <span style="padding:0px 20px;">|</span>
                              <small> Shortlist Venue: </small>
                              <a href="#" class="shortlistevent star-icon" id="{{Venues.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
                            {% endif %}
                            
                            <!-- <p>
                            {% with address|split:"," as addresses %}

                              {% for address in addresses %}
                                  {{address}}<br>
                              {% endfor %}
                           {% endwith %}
						              	</p> -->
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          {% if venue_connections %}
                            <h6>Venue Connections</h6>
                          {% endif %}
                          <ul>
                          {% for venue_connection in venue_connections %}
                            <li><a href="{% url 'profile_show' venue_connection.requested_by.id %}" target="_blank">{{ venue_connection.requested_by.email }}</a> </li>
                          {% endfor %}
                        </ul>
      
                          </div>
                          <div class="main col-md-8">
                            {% if venue_connections|length < 6 and register_venue %}
                              <h5>Do you work here or want to be connected to {{Venues.venuename}} &nbsp;
                                <a href="{% url 'add_connection_info' 'Venue' Venues.venueid %}" class="btn btn-default" id="register-connection"> Connect </a>
                              </h5>
                            {% endif %}
                            </div>
                    </div>
                    
                    
                    

                     <ul class="nav nav-tabs mt-10">
                       <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
                       <li><a data-toggle="tab" href="#past">Past Events</a></li>
                       <!-- {% if user.is_superuser or artist in all_artists %}
                           <li>
                                <a data-toggle="tab" href="#offer">Offers
                                {% if offer_count %}
                                    <span class="badge" style="">{{offer_count}}</span>
                                {% endif %}
                                </a>
                            </li>
                        {% endif %} -->

                     </ul>
                     <div class="tab-content">
                       <div id="upcoming" class="tab-pane fade in active">
                           {% if upcoming_events %}
                               <table id="upcomingtable" class="table">
                                 <thead>
                                   <tr>
                                     <th>Date</th>
                                     <th>Event Name</th>
                                     <th>Venue Name</th>
                                     <th>City</th>
                                     <th>Country</th>
                                     <th>Search</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                     {% for event in upcoming_events %}
                                        <tr>
                                            <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
                                            <td class="col-md-2">{{ event.eventName|title }}</td>
                                            <td class="col-md-2">{{ event.evenueName}}</td>
                                            <td class="col-md-1">{{ Venues.city }}</td>
                                            <td class="col-md-1">{{ Venues.country}}</td>
                                             
                                            <td class="col-md-3" style="white-space: nowrap;">
                                                <a style="font-size:10px" target="_blank" class="facebook" href="https://facebook.com/profile.php?id={{event.facebookID}}>
                                                ">
                                                <span class="fa-stack fa-1x">
                                                    <i class="" ass="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-facebook fa-stack-1x"></i>
                                                <span>
                                                </a>
                                                <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{artist.artistName}} {{ event.eventName}}">
                                                <span class="fa-stack fa-1x">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-google fa-stack-1x"></i>
                                                <span>
                                                </a>
                                                <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{artist.artistName}} {{event.eventName}}">
                                                <span class="fa-stack fa-1x">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-twitter fa-stack-1x"></i>
                                                <span>
                                                </a>
                                            </td> 
                                        </tr>
                                    {% endfor %}
                                 </tbody>
                               </table>
                               <div>
                                    <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                               </div>
                               <input type="hidden" name="start" value="{{ start }}" id="upcoming_start"/>
                               <button type="button" id="upcoming_button" onclick="load_events('upcoming')" class="btn btn-default btn-md">
                                  <span class="glyphicon glyphicon-plus"></span> Show More
                               </button>
                           {% else %}
                               <div class="no_event_notification">
                                   <h3 class="title">No Upcoming Events</h3>
                               </div>
                           {% endif %}
                       </div>
                       <div id="past" class="tab-pane fade">
                           {% if previous_events %}
                               <table id="pasttable" class="table">
                                   <thead>
                                     <tr>
                                       <th>Date</th>
                                       <th>Event Name</th>
                                       <th>Venue Name</th>
                                       <th>City</th>
                                       <th>Country</th>
                                       <th>Search</th>
                                     </tr>
                                   </thead>
                                   <tbody>

                                       {% for event in previous_events %}
                                            <tr>
                                                <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
                                                <td class="col-md-2">{{ event.eventName|title }}</td>
                                                <td class="col-md-2">{{ event.evenueName}}</td>
                                                <td class="col-md-1">{{ Venues.city }}</td>
                                                <td class="col-md-1">{{ Venues.country}}</td>
                                                  
                                                <td class="col-md-3" style="white-space: nowrap;">
                                                   <a style="font-size:10px" target="_blank" class="facebook" href="https://facebook.com/profile.php?id='{{event.facebookID}}'">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-facebook fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                   <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{Venues.venuename}} {{ event.eventName}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-google fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                   <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{Venues.venuename}} {{event.eventName}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-twitter fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                </td> 
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                               <div>
                                    <img class="events_loader" id="past_svg" src="{% static 'frontend/images/ring.svg'%}">
                               </div>
                               <input type="hidden" name="start" value="{{ start }}" id="past_start"/>
                                <input type="hidden" name="start" value="{{ start }}" id="venue_contacts"/>

                               <button type="button" id="past_button" onclick="load_events('past')" class="btn btn-default btn-md">
                                  <span class="glyphicon glyphicon-plus"></span> Show More
                               </button>
                           {% else %}
                               <div class="no_event_notification">
                                   <h3 class="title">No Past Events</h3>
                               </div>
                           {% endif %}
                       </div>
                       
                       <div id="offer" class="tab-pane fade">
                           {% if offers %}
                               <table id="pasttable" class="table">
                                   <thead>
                                     <tr>
                                       <th>Agent</th>
                                       <th>Event Name</th>
                                       <th>Event Date</th>
                                       <th>Venue City</th>
                                       <th>Promoter</th>
                                       <th>Action</th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                       {% for offer in offers %}
                                            <tr>
                                                {% if offer.agentID.username %}
                                                    <td class="col-md-1">{{ offer.agentID.username }}</td>
                                                {% else %}
                                                    <td class="col-md-1">{{ offer.agentID.get_full_name }}</td>
                                                {% endif %}
                                                <td class="col-md-2">{{ offer.event_name }}</td>
                                                <td class="col-md-2">{{ offer.event_date }}</td>
                                                <td class="col-md-2">{{ offer.venue_city}}</td>
                                                <td class="col-md-1">{{ offer.promoter_f_name}} {{ offer.promoter_l_name}}</td>
                                                {% if offer.is_approved %}
                                                    <td class="col-md-2">Event Created
                                                      <a href="{% url 'update_or_retriew_offer' offer.offer_id %}">View Details</a>
                                                     </td>
                                                {% else %}
                                                    <td class="col-md-2">Event not created<a href="{% url 'update_or_retriew_offer' offer.offer_id %}">View Details</a></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                               <input type="hidden" name="start" value="{{ start }}" id="past_start"/>
                           {% else %}
                               <div class="no_event_notification">
                                   <h3 class="title">No offers found</h3>
                               </div>
                           {% endif %}
                       </div> 
                </div>
                <br>
                </div>
                
                
              
              <div class="container">
                <div class="row">
                  <div class="col-md-3" >
                    <h4>
                      <strong>MUSIC AT THIS VENUE : </strong>
                    <h4>
                  </div>
                  <div class="col-md-8" >
                    {% for music_type in music_types %}
                      <span class="label wd-label-article mt-10"> {{music_type.genreName}} </span>
                    {% endfor%}
                  </div>
                </div> 
              </div>
              <br>
              <!-- Near By Venues Start -->
              {% if other_venues %}
              <div class="container">
                <h4><strong>
                    OTHER VENUES IN THIS CITY
                  <span class="text-light block-element wAuto flag-display">{% if Venues.country %}<img class="flag-pos mb-5 flag_{{ Venues.country| get_country_flag_url }}" src='{{ Venues.country | get_country_flag_url }}'>{% else%} {% endif %}</span>
                </strong></h4>
                
                  <div id="nearby_venues" class="owl-carousel owl-theme mt-5">
                      {% for other_venue in other_venues  %}
                      <div class="item">
                          <div class="wd-stream--venues">
                            <small>Venue Name</small>
                            <h5>{{other_venue.venuename}}</h5>
                            <hr>
                            <small>Venue Address</small>
                            <h5>{{other_venue.venueaddress}}</h5>
                            <hr>

                          </div>
                        </div>
                        {% endfor%}
                    </div>
              </div>
            {% endif %}
            <!-- NearBy venues End -->

            <!-- Artists played at this venue Start-->
            <div class="row col-md-12">
                <section class="main-container padding-ver-clear">
                    <div class="container pv-40">
                       <h4>
                            <strong>SOME ARTISTS WHO PLAYED THIS VENUE</strong>
                        </h4>               
                         <div id="venue_artists" class="owl-carousel owl-theme">
                            {% for artist in artists  %}
                                <div class="item">
                                    <div class="wrapper">
                                       
                                            {% if artist.artistPhoto %}
                                            <img src="{{ artist.artistPhoto.url }}" alt="{{ artist.artistName }}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                                             {% else %}
                                               <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">                                  
                                            {% endif %}
                                        <div class='description'>
                                            <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' artist.artistID  %}">{{artist.artistName}}</a></p>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
                          </div>
                    </div>
                </section>
              </div>
            <!-- Artists played at this venue End -->

              <!-- NOTES PART START -->
              <div class="col-md-12">
                  <h4>{{Venues.venuename}} Notes  <br>
                  <button class="btn btn-default btn-red" type="button" onclick="show_new_user_note_modal('{{Venues.venuename}}')">Create Note</button></h4>   
                  <div class="user_note_div">
                      {% comment %} {% include 'events/venue_note.html' %} {% endcomment %}
                  </div>
              </div> 
              <!-- NOTES PART END -->
              <!-- COMMENTS SECTION START -->
              {% if system_env != 'PRODUCTION' %}
              <div class="comments-section col-md-8 mt-15">
                  {% include 'events/venue_comments.html'%}
              </div>
              {% endif %}
              <!-- COMMENTS SECTION END -->
          </div>
              <div class="row col-md-12 mt-15">

                <h4>
                    <strong>Venue Location</strong>
                </h4>
                <div id="map_canvas" style="width: 100%; height: 400px;"></div>
    </div>
        </div>
          
      
    </section>
      <div id="myModal" class="modal fade" role="dialog">


       <div class="modal-dialog" style="left: 0% !important;">
          <!-- Modal content-->
          <div class="modal-content manage-contact-modal-div">
             <div class="modal-header">
                <button type="button" class="close" id = "contact_modal_close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title manage-contact-modal-title"></h4>
             </div>
             <div class="modal-body manage-contact-modal-body table-responsive">
             </div>
             <div class="modal-footer manage-contact-modal-footer" style="border: none;">
             </div>
          </div>
       </div>
    </div>


  <div id="allImages" class="modal fade">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content-Image">
    {% if venue_image %}
      {% for image in venue_image %}
        <div class="mySlides">
          <img src="{{image}}" style="width:100%;height:50%">
        </div>
        {% endfor %}
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% else %}
      <p>No Image</p>
    {% endif %}
  </div>
</div>


<!-- Notes Modal -->
<div id="id_new_user_notes" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <form class="form-horizontal" id="id_new_note_form" role="form" method="post" data-toggle="validator" onsubmit="return validate_new_note(this)">
          {% csrf_token %}
          <div class="modal-content">
              <div class="modal-header btn-red">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title note-title"> </h4>
              </div>
              <div class="modal-body">
                  {{form_note.note}}
              </div>
              {{form_note.user}}{{form_note.venue}}
              <div class="modal-footer">
                  <button type="button" class="btn btn-default mb-6" data-dismiss="modal">Close</button>
                  <button id="user_note_save_button" type="submit" class="btn btn-default ">Save</button>
              </div>
          </div>
          
      </form>
  </div>
  
</div>
<!-- Notes Modal End-->

<!-- DELETE MODAL POPUP -->
<div id="dlt-modal" class="modal info-modal" role="dialog">
  <div class="modal-dialog modal-align">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header btn-red">
        <h4 class="modal-title">Delete Note?</h4>
      </div>
      <div class="modal-body" id= "delete_modal_body">
        <p class="dltmsg">Are you sure you want to delete this Note? This cannot be undone.</p>
        <input hidden id="dlt-temp-id" type="text">
      </div>
      <div class="modal-footer dlt-modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          <input class="btn btn-danger dltbtn mb-10" type="submit" value="DELETE" id="delete_note">
      </div>
    </div>
  </div>
</div>
<!-- DELETE MODAL POPUP END -->

{% include 'artist/managed_artists_modal.html' %}
{% include "error_pages/info_modal_popup.html" %}

{% include "events/shortlist_venues_js.html" %}


{% endblock content %}
{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}