{% load artist_filters %}
{% load static %}

<table  class="table list-unstyled contacts-list contact_list_datatable table-bordered" id="venue-listing">
 <thead>
    <tr>
    
       <th class="th-bc">Venue Name</th>
       <th class="th-bc">Venue Address</th>
       <th class="th-bc">Venue City</th>
       <th class="th-bc">Country</th>
       {% if profile_obj.profile_managed_djs.all %}
          <th class="th-bc">Shortlist Venue</th>
       {% endif %}
       <th class="th-bc">Favourite Venue</th>
       <th class="th-bc">Search On</th>
    </tr>
 </thead>
 <tbody id="venue_table_body">
    {% for venue in Venues %}
    <tr>
    <td>
      <span class="text-light block-element w16"> 
        <a href="{%url 'venue_detail' venue.venueid %}">{{venue.venuename}}</a>       
      </span>
    </td>
    <td>
        <span class="text-light block-element">
       {{venue.venueaddress}}
     </span>
    </td>
    <td>
        <span class="text-light block-element">
       {{venue.city}}
        </span>
    </td>
    <td>
       <span class="text-light block-element wAuto flag-display">{% if venue.country %}{{venue.country}}<img class="flag-pos flag_{{ venue.country| get_country_flag_url }}" src='{{ venue.country | get_country_flag_url }}'>{% else%} {% endif %}</span>
    </td>
    {% if profile_obj.profile_managed_djs.all %}
    <td class="col-md-1">
      <a href="#" class="shortlistevent" id="{{venue.pk}}">ShortList</a>
    </td>
    {% endif %}
    <td>
     {% if venue in  profile_obj.favorite_venues.all %}
        <img style="display:inline; width:20px;" class="heart_filled_icon{{venue.venueid}}" id="heart_filled_icon{{venue.venueid}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{venue.venueid}});"  width="200px" height="200px">
        <img style="display:none; width:20px;" class="heart_outline_icon{{venue.venueid}}" id="heart_outline_icon{{venue.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{venue.venueid}});"  width="200px" height="200px">
    {% else %}
        <img style="display:inline; width:20px;" class="heart_outline_icon{{venue.venueid}}" id="heart_outline_icon{{venue.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{venue.venueid}});"  width="200px" height="200px">
        <img style="display:none; width:20px;" class="heart_filled_icon{{venue.venueid}}" id="heart_filled_icon{{venue.venueid}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{venue.venueid}});"  width="200px" height="200px">
    {% endif %}
    </td>
    <td>
      <a style="font-size:10px" target="_blank" class="facebook" href="https://facebook.com/profile.php?id={{venue.venuefacebook}}>">
        <span class="fa-stack fa-1x">
          <i class="" ass="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>
      <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{venue.venuename}}">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google fa-stack-1x"></i>
        </span>
      </a>
      <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{venue.venuename}}">
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
    </td>
  </tr>
  {% endfor %}
 </tbody>
</table>

{% include 'artist/managed_artists_modal.html' %}

{% if not Venues %}
<div class="no-contacts" id="no-contacts">No Venues Found.</div>
{% endif %}