{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load event_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Venues </title> {% endblock title %}
{% block header %}
  {% include "home/_header.html" %}
{% endblock header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'frontend/css/rawgit/contacts_rawgit.css'%}">
<link rel="stylesheet" href="{% static 'frontend/css/css_user_contacts.css'%}">
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/css/rawgit/jsdatatable.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyA95184Inn61QQv0kLpPkDW1Fhi5SlcOJE"></script>

<script type="text/javascript">
$('#city').val('{{city}}');
google.maps.event.addDomListener(window, 'load', initialize);
function fillInAddress() {
    $('#city').val(this.getPlace().name)
  }

function initialize(){
  var list          = document.getElementById('country'),
      input         = document.getElementById('city'),
      autocomplete  = new google.maps.places.Autocomplete(input, {
                types: ['(cities)']
      });
  
  google.maps.event.addListener(autocomplete,'place_changed', fillInAddress);
  
  google.maps.event.addDomListener(list,'blur', function(e){

    country_code = $('#id_country_code').val()
    
    var componentRestrictions={};
    
    if(country_code!==''){
      componentRestrictions.country=country_code
    }
    
    autocomplete.setComponentRestrictions(componentRestrictions);
    input.value='';
    if(e){
      autocomplete.set('place',{name:''});
    }
          
        
  });
  google.maps.event.trigger(list,'change',null);
}



  function get_data_by_alphabet(alphabet_name){

    var data={};
    var x=""
    var ref_this = $("ul.nav-tabs li.active");
    var get_tab_name = ref_this[0].innerText;
    if(get_tab_name.trim()=='Venues'){
      data={"venue_name":alphabet_name,"country":"","city":"" };
      get_tab_name="VENUE NAME"
    }

    if(get_tab_name.trim()=='Country'){
      data={"venue_name":"","country":alphabet_name,"city":"" };
      get_tab_name = "COUNTRY"
    }
    if(get_tab_name.trim()=='City'){
      data={"venue_name":"","country":"","city":alphabet_name };
      get_tab_name = "CITY"
    }
    $.ajax({
            url: "{% url 'venues' %}",
            type: "GET",
            data: data,
            dataType: 'json',
            success: function(response) {

              $('#venue-listing').html(response.data)
              $('#show-search-results').html("Total no. of search results: "+response.filtered_venues)
              $('#venue_list_messages').html('Your venue search for '+get_tab_name +' with alphabet ' +alphabet_name)
              $('#venue_page_pagination').hide()
            }
        })

  };

  
$( document ).ready(function() {
  setTimeout(function(){ 
    document.getElementById("city").form.reset();
  }, 500);
});

$('.typeahead').typeahead({
        source: function (query, process) {
            venues = [];
            
            return $.get('/events/filter-venues/', { query: query }, function (data) {
                $.each(data, function(i, object) {
                    venues.push(object)
                });
                return process(venues);
            });
        },

});
$('#country').typeahead({
        source: function (query, process) {
            country = [];
            map = {} 
            return $.get('/events/filter-country/', { query: query }, function (data) {
                $.each(data, function(i, object) {
                    map[object.name]=object
                    country.push(object.name)
                });
                return process(country);
            });
        },
        updater: function(item) {

            $('#id_country_code').val(map[item].code);
            
            return item;
            }

});

</script>

{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li class="active"><a href="{% url 'venues'%}">Venues</a></li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->
    <section class="main-container padding-ver-clear">
        <div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/master_background.jpeg'%}')">
            <div class="container">
                <h1 class="page-title">SEARCH THE WORLDS VENUES</h1>
                <div class="separator-2"></div>
                <div class="master-form">
                    <div class="sorting-filters text-left mb-20">
                        <form class="form-inline" method="GET"  action="{% url 'venues' %}">
                            <div class="form-group col-md-3" id="current_location_div">
                                <label for="Venue Name" id="venue_name_label" class="control-label"> SEARCH FOR VENUE</label>
                                <input  name="venue_name" id="venue_name" class="form-control typeahead" {% if request.GET.venue_name %} value="{{request.GET.venue_name}}"{% endif %} placeholder="Enter Venue Name" autocomplete="off">
                            </div>

                            <div class="form-group col-md-3" id="country-div">
                                <label for="Country" class="control-label">SEARCH COUNTRY</label>
                                <input  name="country" id="country" class="form-control" value="{{request.GET.country}}" placeholder="Enter country" autocomplete="off">
                                 <input  name="id_country_code" id="id_country_code" class="form-control" value="" placeholder="Enter country" autocomplete="off" style="display: none">
                                
                            </div>
                            <div class="form-group col-md-3" id="current_location_div" >
                                <label for="City" id="city_label" class="control-label">SEARCH A CITY</label>
                                <input  name="city" id="city" class="form-control" value="{{request.GET.city}}" placeholder="Enter city">
                            </div>
                            <div class=" col-md-2">
  <button type="submit" class="btn btn-lg btn-default btn-animated" style="margin: 15px 0 0;">Find Now <i class="fa fa-search"></i></button>                           </div>
                        </form>
                    </div>
                    <div class ="row col-md-12" >
                      <br><br>
                      <center>
                    <p style="font-size: 30px;">PLEASE SELECT ANY OF THE ABOVE</p>
                     </center>
                  </div>
                </div>
                <div class="row col-md-12 venue_list_alphabets">
                  <ul class="nav nav-tabs">
                         <li class="active" value="Venues"><a data-toggle="tab" href="#" >Venues</a></li>
                         <li value="Country"><a data-toggle="tab" href="#" >Country</a></li>
                         <li value="City"><a data-toggle="tab" href="#" >City</a></li>
                  </ul>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('A')">A</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('B')">B</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('C')">C</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('D')">D</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('E')">E</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('F')">F</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('G')">G</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('H')">H</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('I')">I</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('J')">J</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('K')">K</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('L')">L</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('M')">M</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('N')">N</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('O')">O</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('P')">P</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('Q')">Q</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('R')">R</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('S')">S</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('T')">T</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('U')">U</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('V')">V</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('W')">W</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('X')">X</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('Y')">Y</a>
                  <a href="javascript:void(0)" onclick="get_data_by_alphabet('Z')">Z</a>
              </div>
            </div>
            <div class="separator with-icon col-md-12"><i class="fa fa-diamond bordered"></i></div>
        </div>
    </section>
    <section class="main-container padding-ver-clear" id="venue_list_section">
        <div class="section">
            <div class="container">
              <div id="venue_list_messages" class="venue_search">
                  {% if request.GET.country and request.GET.city %}
                    <p> Your venue search for {{request.GET.city}} in {{selected_country}}
                  {% elif request.GET.country %}
                    <p>Your venue search for country- {{selected_country}}</p>
                  {% elif request.GET.city  %}
                    <p>Your venue search for city- {{request.GET.city}}</p>
                  {% endif %}
                  {% if request.GET.venue_name %}
                    <p>Your venue search for venue name- {{request.GET.venue_name}}</p>
                  {% endif %}
              </div>
              <p id="show-search-results" style="color:#1487d0 !important">Total no. of Venues:{{filtered_venues}}</p>
              

{% include "events/venue_table.html" %}

<!-- pagination html -->

  <ul class="pagination" id="venue_page_pagination">
    {% if Venues.has_previous %}
      <li><a class="next-person" href="{% if flag_venues == True %}?venue_name={{request.GET.venue_name}}&country={{request.GET.country}}&city={{request.GET.city}}&page={{ Venues.previous_page_number }}{% else %}?page={{ Venues.previous_page_number }}{% endif %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    
    {% for i in page_range %}
      {% if Venues.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="next-person" href="{% if flag_venues == True %}?venue_name={{request.GET.venue_name}}&country={{request.GET.country}}&city={{request.GET.city}}&page={{ i }}{% else %}?page={{ i }} {% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if Venues.has_next %}
      <li><a class="next-person" href="{% if flag_venues == True %}?venue_name={{request.GET.venue_name}}&country={{request.GET.country}}&city={{request.GET.city}}&page={{ Venues.next_page_number }}{% else %}?page={{ Venues.next_page_number }} {% endif %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
      </div>
    </div>

</section>

  {% include "error_pages/info_modal_popup.html" %} 

  {% include "home/_datasetCount.html" %}

  {% include "events/shortlist_venues_js.html" %}
{% endblock content %}

{% block footer %}
  {% include "home/_footer.html" %}
{% endblock footer %}