{% load staticfiles %}
{% load artist_filters%}

<h4> {{Venues.venuename}}  Community Comments </h4>
<div class="container-fluid mt-2">
    <div class="form-group row">
      <form method="post" class="comment-form venue-comments">
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated %}
          <input type="submit" value="Comment" class="btn btn-default ">
        {% else %}
          <input type="submit" value="Comment" class="btn btn-default " disabled>
        {% endif %}
      </form>
    </div>

    <div class="ml-15">
            <p>{{ comments.count }} Comment{{ comments|pluralize }}</p>
            {% for comment in comments %}
                <div class="col-md-12">
                <span class="blue-txt"> {{ comment.user|capfirst }} </span> - {{comment.timestamp|timesince}} ago
                <p class="fs-20 mb-0 wd-brk">{{ comment.content }} </p>
                <button type="button" name="button" class="reply-btn btn btn-default pull-right">Reply</button>
                <hr>
                </div>
                <div class="clearfix"></div>
                
                <div class="replied-comments container mt-2" style="display:none;width: 90%">
                    {% for reply in comment.venue_replies.all %}
                      <p class="mb-0 ml-15 wd-brk"> {{ reply.content }} - <small> by {{ reply.user|capfirst }} - {{reply.timestamp|timesince}} ago </small></p><hr>
                    {% endfor %}
                    <div class="form-group row dynamic-reply-form">
                    <form method="post" class="reply-form venue-comments">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {{ comment_form|content_placeholder:"Enter your reply here" }}
                        {% if request.user.is_authenticated %}
                        <input type="submit" value="Reply" class="btn btn-default">
                        {% else %}
                        <input type="submit" value="Reply" class="btn btn-default" disabled>
                        {% endif %}
                    </form>
                    </div>
                </div>
            {% endfor %}
          </div>
  </div>
  
  