{% load staticfiles i18n %}

{% load hijack_tags %}

<!-- In the head -->
<!--<link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />-->


<!-- Directly after <body> -->
{% hijack_notification %}

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        {% block meta_tags %}
        <meta charset="utf-8">
        <meta name="description" content="Wheredjsplay, Global talent simplified">
        <meta name="author" content="wheredjsplay.com">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% endblock %}
        {% block title %}
        <title> Wheredjsplay
        {% endblock %}
        {% block stylesheets %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'frontend/images/favicon.ico' %}">

        <!-- Web Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'frontend/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Font Awesome CSS -->
        <link href="{% static 'frontend/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <!-- Fontello CSS -->
        <link href="{% static 'frontend/fonts/fontello/css/fontello.css' %}" rel="stylesheet">
        <!-- Plugins -->
        <link href="{% static 'frontend/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/plugins/rs-plugin/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/css/animations.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/plugins/hover/hover-min.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'frontend/bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet">

        <!-- <link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}"> -->
        <link rel="stylesheet" href="{% static 'frontend/owl/css/owl.theme.default.min.css'%}">

        <link href="{% static 'frontend/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
        <!-- Wheredjsplay's core CSS file -->
        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet" >
        <!-- Wheredjsplay's Typography CSS file, includes used fonts -->
        <!-- Used font for body: Roboto -->
        <!-- Used font for headings: Raleway -->
        <link href="{% static 'frontend/css/typography-default.css' %}" rel="stylesheet" >
        <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
        <link href="{% static 'frontend/css/skins/light_blue.css' %}" rel="stylesheet">


        <!-- Custom css -->
        <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">

        {% if request.user.is_authenticated and settings.ENV_NAME == "PRODUCTION" %}
            <script>
                window['_fs_debug'] = false;
                window['_fs_host'] = 'www.fullstory.com';
                window['_fs_org'] = '43NW5';
                window['_fs_namespace'] = 'FS';
                (function(m,n,e,t,l,o,g,y){
                if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
                g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
                d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
                })(window,document,window['_fs_namespace'],'script','user');

                FS.identify('{{request.user.id}}', {
                    displayName: '{{request.user.first_name}} {{request.user.last_name}}',
                    email: '{{request.user.email}}',
                    // TODO: Add your own custom user variables here, details at
                    // http://help.fullstory.com/develop-js/setuservars.
                    reviewsWritten_int: 14,
                    });
            </script>
        {% endif %}
        {% if settings.ENV_NAME == "PRODUCTION" %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-99603954-1', 'auto');
              ga('send', 'pageview');

            </script>

        {% endif %}

        {% endblock %}

        {% block extra_head %}

            <style type="text/css">
            @font-face {
                font-weight: normal;
                font-style: normal; }
            .footer-content h5 {
                margin: 0;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;
                color: #8F949C; }
            .footer-content a {
                  color: #8F949C;
                  text-decoration: none; }
            </style>
            <style type="text/css">#mc_embed_signup {
              width: 250px; }
              #mc_embed_signup input {
                border: none;
                margin: 12px 0;
                min-height: 25px; }
              #mc_embed_signup input[type="email"] {
                border-radius: 3px 0 0 3px;
                padding: 0 5px; }
              #mc_embed_signup input[type="submit"] {
                border-radius: 0 3px 3px 0;
                background: #666666;
                border: 1px solid #666666;
                color: #fff;
                padding: 0px 10px 0;
                transition: all 150ms ease-out; }
              #mc_embed_signup .button {
                display: flex;
                align-items: center;
                font-size: 12px; }
              #mc_embed_signup .button:hover {
                cursor: pointer;
                background: #2F88EA;
                border: 1px solid #2F88EA; }

            .mce-input-container {
              display: flex; }
            </style>

        {% endblock %}
    </head>
    <body class="no-trans front-page transparent-header ">



        <!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

        <!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
            {% block header %}{% endblock %}
            {% block slider %}{% endblock %}
            <div id="page-start"></div>

            <div style="display:None;" class="row alert alert-success alert-dis">
                <div id="alert_text" class="col-md-12">
                </div>
            </div>
            {% if messages %}
                <div class="notification-container">
                    {% for message in messages %}
                        <!-- <div class="notification-fab">
                            <div class="row alert alert-{{ message.tags }} alert-dismiss">
                                <div id="alert_text" class="col-md-12">
                                    {{ message }}
                                </div>
                            </div>
                        </div> -->
                        {% if not message.tags == 'success'%}
                        <div class="alert alert-danger server_errors alert-dismiss" style="margin-top:0px" id="pass_error" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <small style="margin-left: 0%;">{{ message }}</small>
                        </div>
                        {%else%}
                        <div class="alert alert-dismiss" style="margin-top:0px; margin-top: 0px;color: #27752e; background-color: #b5e8a4;border-color: #60b955;" id="pass_error" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <small style="margin-left: 0%;">{{ message }}</small>
                        </div>
                        {% endif%}
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}
            {% endblock %}
            {% block footer %}{% endblock %}
        </div>
		<!-- page-wrapper end -->
        {% block javascript %}

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstrap core js files -->
        <script type="text/javascript" src="{% static 'frontend/plugins/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Modernizr javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/modernizr.js' %}"></script>
        <!-- jQuery Revolution Slider  -->
        <script type="text/javascript" src="{% static 'frontend/plugins/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
        <!-- Magnific Popup javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <!-- Appear javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <!-- Count To javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/jquery.countTo.js' %}"></script>
        <!-- Parallax javascript -->
        <script src="{% static 'frontend/plugins/jquery.parallax-1.1.3.js' %}"></script>
        <!-- Contact form -->
        <script src="{% static 'frontend/plugins/jquery.validate.js' %}"></script>
        <!-- Background Video -->
        <script src="{% static 'frontend/plugins/vide/jquery.vide.js' %}"></script>
        <!-- Owl carousel javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/owl-carousel/owl.carousel.js' %}"></script>
        <!-- SmoothScroll javascript -->
        <script type="text/javascript" src="{% static 'frontend/plugins/jquery.browser.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/plugins/SmoothScroll.js' %}"></script>
        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="{% static 'frontend/js/template.js' %}"></script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="{% static 'frontend/js/custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

        <script type="text/javascript" src="{% static 'frontend/plugins/charts/Chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/plugins/charts/chartjs-plugin-datalabels.min.js' %}"></script>


        <!-- Script to start loader -->
        <script>
            // $(".load-it").on("click", function() {
            //    $(".loading-loader").css("display", "block");
            // })
        </script>

        <!-- <script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script> -->
        <script>
            $(document).ready(function(){
                getLocation();
            });

            function getCookieData( name ) {
                var pairs = document.cookie.split("; "),
                    count = pairs.length, parts;
                while ( count-- ) {
                    parts = pairs[count].split("=");
                    if ( parts[0] === name )
                        return parts[1];
                }
                return false;
            }

            function showPosition(position) {
                cookies_lat = getCookieData('user_session_lat');
                cookies_long = getCookieData('user_session_long');
                current_lat = String(position.coords.latitude);
                current_long = String(position.coords.longitude);
                current_url = window.location.href;
                if ((cookies_lat.substring(0,4) != current_lat.substring(0,4)) || (cookies_long.substring(0,4) != current_long.substring(0,4))){
                    $('#id_latitude').val(position.coords.latitude);
                    $('#id_longitude').val(position.coords.longitude);
                    $('#id_redirect_url').val(current_url);
                    $("#locationForm").submit();
                }

            }

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
            }
        </script>

        <script>

            function validate_field(){
                email = $(".id_cs_email_dj").val()
                name = $(".id_cs_name_dj").val()
                user_types = $(".id_dj_user_types").val()

                if(email == ""){
                    $(".cs_email_error").html("*This Field is required")
                    return False;
                }
                if(name == ""){
                    $(".cs_name_error").html("*This Field is required")
                    return False;
                }

                else{
                    $(".coming_soon_form").submit();
                    return True;
                }

            }


        </script>
        <script>

            function validate_field_agent(){
                email = $(".id_cs_email").val()
                name = $(".id_cs_name").val()
                user_types = $(".id_agent_user_types").val()

                if(email == ""){
                    $(".cs_email_error").html("*This Field is required")
                    return False;
                }
                if(name == ""){
                    $(".cs_name_error").html("*This Field is required")
                    return False;
                }

                else{
                    $(".coming_soon_form_agent").submit();
                    return True;
                }

            }


        </script>



        <script>

            function footer_validate_field(){
                email = $("#id_footer_cs_email").val()
                if(email == ""){
                    $(".footer_cs_email_error").html("*This Field is required")
                    return False;
                }

                else{
                    $(".footer_coming_soon_form").submit();
                    return True;
                }
            }


        </script>

        <script>
        $(function(){
            $(".alert-dismiss").fadeOut(4000)
            $('#redirect_message').hide(5000)

        })

        $("#artistform").submit(function(e){
        var free_artists_ids = $('input[name=artists]:checked').map(function()
                {
                    return $(this).val();
                }).get();
            console.log(free_artists_ids);
            if (free_artists_ids.length == 0){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select at least artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }
            if (free_artists_ids.length > 8){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select 8 or less than 8 artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }

            else {
                return true;
            }
        });


        $("#booked_artistform").submit(function(e){
            var free_artists_ids = $('input[name=artists]:checked').map(function()
                {
                    return $(this).val();
                }).get();
            console.log(free_artists_ids);
            if (free_artists_ids.length == 0){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select at least artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }
            if (free_artists_ids.length > 8){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select 8 or less than 8 artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }
            else {
                return true;
            }
        });

        $("#free_artistform").submit(function(e){
            var free_artists_ids = $('input[name=artists]:checked').map(function()
                {
                    return $(this).val();
                }).get();
            console.log(free_artists_ids);
            if (free_artists_ids.length == 0){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select at least artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }
            if (free_artists_ids.length > 8){
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select 8 or less than 8 artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return false;
            }
            else {
                return true;
            }
        });

        function free_send_email(action){
            free_artists_ids = $("#free_artists_ids").val()
            var artist_start = $("#artist_start").val()
            var message = "{{ message }}"
            var type_of_search = "Date/Genre"
            $("#upcoming_svg").show();
            var free_artists_ids = JSON.stringify($('input[class=free_artist_input]:checked').map(function()
                {
                    return $(this).val();
                }).get());
            console.log()
            if (free_artists_ids == "[]"){
                $("#upcoming_svg").hide();
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please select at least artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return;
            }
            data = {
                "start": artist_start,
                "all_artists_id":free_artists_ids,
                "action": action,
                "message": message,
                "type_of_search": type_of_search,
            }

            $.ajax({
                url: "{% url 'email_artist' %}" ,
                type: "GET",
                data: data,
                success: function(response) {
                    console.log(response.status);
                    if (response.status){
                        $("#upcoming_svg").hide();
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text("Email Sent");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000)
                    }
                }
            })

        }

        function booked_send_email(action){
            var booked_artists_ids = $("#booked_artists_ids").val()
            var bookedartist_start = $("#bookedartist_start").val()
            var message = "{{ message }}"
            var type_of_search = "Date/Genre"
            $("#upcoming_svg1").show();
            var booked_artists_ids = JSON.stringify($('input[class=booked_artist_input]:checked').map(function()
                {
                    return $(this).val();
                }).get());

            if (booked_artists_ids == "[]"){
                $("#upcoming_svg1").hide();
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please Select a Artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return;
            }
            data = {
                "start": bookedartist_start,
                "action": action,
                "all_artists_id": booked_artists_ids,
                "message": message,
                "type_of_search": type_of_search,
            }
            $.ajax({
                url: "{% url 'email_artist' %}" ,
                type: "GET",
                data: data,
                success: function(response) {
                    console.log(response.status);
                    if (response.status){
                        $("#upcoming_svg1").hide();
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text("Email Sent");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000)
                    }
                }
            })

        }

        function all_artist_send_email(action){
            var all_artists_id = $("#all_artists_id").val()
            var allartist_start = $("#allartist_start").val()
            var message = "{{ message }}"
            var type_of_search = "Date/Genre"
            $("#upcoming_svg2").show();
            var all_artists_id = JSON.stringify($('input[class=all_artist_input]:checked').map(function()
                {
                    return $(this).val();
                }).get());

            if (all_artists_id == "[]"){
                $("#upcoming_svg2").hide();
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please Select a Artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return;
            }
            data = {
                "start": allartist_start,
                "action": action,
                "all_artists_id": all_artists_id,
                "message": message,
                "type_of_search": type_of_search,
            }
            $.ajax({
                url: "{% url 'email_artist' %}" ,
                type: "GET",
                data: data,
                success: function(response) {
                    console.log(response.status);
                    if (response.status){
                        $("#upcoming_svg2").hide();
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text("Email Sent");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000)
                    }
                }
            })
        }

        function send_email(action){
            var start = $("#artist_start").val()
            var all_artists_id = $("#all_artists_id").val()
            var message = "{{ message_string }}"
            $("#upcoming_svg").show();
            var all_artists_id = JSON.stringify($('input[name=artists]:checked').map(function()
                {
                    return $(this).val();
                }).get());

            if (all_artists_id == "[]"){
                $("#upcoming_svg").hide();
                $('html, body').animate({scrollTop:0}, 'slow');
                $("#alert_text").text("Please Select a Artist");
                $(".alert-dis").show();
                $(".alert-dis").fadeOut(4000);
                return;
            }
            data = {
                "start": start,
                "action": action,
                "all_artists_id": all_artists_id,
                "message": message,
            }
            $.ajax({
                url: "{% url 'email_artist' %}" ,
                type: "GET",
                data: data,
                success: function(response) {
                    console.log(response.status);
                    if (response.status){
                        $("#upcoming_svg").hide();
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text("Email Sent");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000)
                    }
                }
            })

        }

        function add_to_favorite(artist_id){
            $.ajax({
                url: "/artists/artist/add-or-remove-favorite/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : artist_id,
                    'action': "create_favorite"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#add_fav"+response.id).hide();
                        $("#del_fav"+response.id).show();
                        $("#heart_filled_icon"+response.id).show();
                        $("#alert_text").text(response.message);
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                        $("#heart_filled_icon"+response.id).css("display", "inline");

                    }

                }
            });
            return false;
        }

        // function add_to_shorlist(artist_id){
        //     $.ajax({
        //         url: "{% url 'add_or_remove_shortlist' %}",
        //         type: "POST",
        //         data: {
        //             'csrfmiddlewaretoken': '{{ csrf_token }}',
        //             'id' : artist_id,
        //             'action': "add_to_shortlist"
        //         },
        //         success: function(response){
        //             response = JSON.parse(response);
        //             if (response.status){
        //                 $("#add_shortlist"+response.id).hide();
        //                 $("#del_shortlist"+response.id).show();
        //             }
        //         }
        //     });
        //     return false;
        // }

        function shorlist_for_event(artist_id){
            event_id = $("#select_event_to_shortlist").val()
            if(event_id){
                $.ajax({
                    url: "{% url 'add_or_remove_shortlist' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': artist_id,
                        'event_id': event_id,
                        'action':"add_to_shortlist"
                    },
                    success: function(response){
                        $("#id_choose_event").modal("hide")
                    }
                })
            }else{
                $("#id_choose_event").modal("hide")
            }
        }

        function remove_from_favorite(artist_id){
            $.ajax({
                url: "/artists/artist/add-or-remove-favorite/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : artist_id,
                    'action': "remove_favorite"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#del_fav"+response.id).hide();
                        $("#add_fav"+response.id).show();
                        $("#alert_text").text(response.message);
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                        $("#heart_filled_icon"+response.id).hide();
                    }
                }
            });
            return false;
        }

        function remove_from_shorlist(artist_id){
            $.ajax({
                url: "{% url "add_or_remove_shortlist" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : artist_id,
                    'action': "remove_from_shortlist"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#del_shortlist"+response.id).hide();
                        $("#add_shortlist"+response.id).show();
                    }
                }
            });
            return false;
        }

        function multi_add_to_favorite(artist_id){
            $.ajax({
                url: "/artists/artist/add-or-remove-favorite/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : artist_id,
                    'action': "create_favorite"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#multi_add_fav"+response.id).hide();
                        $("#multi_del_fav"+response.id).show();
                        $("#multi_heart_outline_icon"+response.id).hide();
                        $("#multi_heart_filled_icon"+response.id).css("display","initial");
                    }

                }
            });
            return false;
        }

        function multi_remove_from_favorite(artist_id){
            $.ajax({
                url: "/artists/artist/add-or-remove-favorite/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : artist_id,
                    'action': "remove_favorite"
                },

                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#multi_del_fav"+response.id).hide();
                        $("#multi_add_fav"+response.id).show();
                        $("#multi_heart_filled_icon"+response.id).hide();
                        // $("#multi_heart_outline_icon"+response.id).css("display","initial");
                    }
                }
            });
            return false;
        }

        function add_to_favorite_venue(venue_id){

            $.ajax({
                url: "{% url 'add_or_remove_favorite_venue' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : venue_id,
                    'action': "create_favorite_venue",
                },

                success: function(response){
                    response = JSON.parse(response);
                    console.log(response);
                    if (response.status){
                        $(".heart_outline_icon"+response.id).hide();
                        $(".heart_filled_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue + " has now been added to your favorites");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }

        function add_to_favorite_event(event_id){
            console.log(event_id)
            $.ajax({
                url: "{% url 'add_or_remove_favorite_event' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : event_id,
                    'action': "create_favorite_venue",
                },

                success: function(response){
                    response = JSON.parse(response);
                    console.log(response);
                    if (response.status){
                        $(".heart_outline_icon"+response.id).hide();
                        $(".heart_filled_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue + " has now been added to your favorites");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }


        // function add_to_favorite_venue(venue_id){
        //     $.ajax({
        //         url: "{% url 'add_or_remove_favorite_venue' %}",
        //         type: "POST",
        //         data: {
        //             'csrfmiddlewaretoken': '{{ csrf_token }}',
        //             'id' : venue_id,
        //             'action': "create_favorite_venue",
        //         },
        //
        //         success: function(response){
        //             response = JSON.parse(response);
        //             if (response.status){
        //                 $(".heart_outline_icon"+response.id).hide();
        //                 $(".heart_filled_icon"+response.id).css("display","initial");
        //                 alert(response.venue + "has been added to your favorites")
        //             }
        //         }
        //     });
        //     return false;
        // }

        function remove_from_favorite_venue(venue_id){
            $.ajax({
                url: "{% url 'add_or_remove_favorite_venue' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : venue_id,
                    'action': "remove_favorite_venue"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $(".heart_filled_icon"+response.id).hide();
                        $(".heart_outline_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue +"has now been removed from your favorites");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }

        function remove_from_favorite_event(event_id){
            console.log(event_id)

            $.ajax({
                url: "{% url 'add_or_remove_favorite_event' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id' : event_id,
                    'action': "remove_favorite_venue"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $(".heart_filled_icon"+response.id).hide();
                        $(".heart_outline_icon"+response.id).css("display","initial");
                        $('html, body').animate({scrollTop:0}, 'slow');
                        $("#alert_text").text(response.venue +"has now been remove to your favorites");
                        $(".alert-dis").show();
                        $(".alert-dis").fadeOut(4000);
                    }
                }
            });
            return false;
        }

        </script>

        <script type="text/javascript">
            $( "#id-hidden-form" ).submit(function( event ) {
                var id_type = $("#id-type").val()

                if(id_type != ""){
                    $('.search').keypress(function(e) {
                        var keyCode = e.keyCode || e.which;
                        if (keyCode === 13) {
                            e.preventDefault();
                            return false;
                            alert("keypressed22222");
                        }
                    });
                }

            });


            var currentTHRequestall = null;
            $('.typeahead_all').typeahead({
                source: function (query, process) {
                    artists = [];
                    map = {};
                    if(currentTHRequestall && currentTHRequestall.pipe()) {
                        currentTHRequestall.abort();
                    }
                    currentTHRequestall = $.ajax({
                        url: '/artists/filter-all/',
                        data: { query: query },
                        success: function(data) {
                            if(data != ""){
                                $(".no_result_found").html(" ")
                                $.each(data, function(i, object) {
                                    var display_name = object.name + " / " + object.class
                                    map[display_name] = object;
                                    artists.push(display_name)
                                });
                                process(artists);
                            }else{
                                $("ul[class='typeahead dropdown-menu']").css("display", "none");
                                $(".no_result_found").html("No Results Found")
                            }
                        }
                    })
                },
                // updater: function(item) {
                //         alert(item)
                //         var val = $('#id-filter-data').val(map[item]);
                //         alert(val)
                //         return item;
                //     },
                afterSelect : function(item){
                            var object = map[item]
                            console.log(object)
                            console.log(object.class)
                            var id_and_type = object.id + "_" + object.class
                            console.log(id_and_type)
                            $("#id-type").val(id_and_type)
                            $( "#id-hidden-form" ).submit();
                            // $("#id-hidden-form").submit(function(){
                            //     console.log("Submitted");
                            // });
                            console.log("after submission")
                }
            });
        
             $('.top-search-btn').click(function(e){
                e.show;
                setTimeout(function() { $('#top-search-bar-input').focus() }, 500);
            }); 
        </script>

        {% endblock %}
        {% block extra_js %}
        {% endblock %}

        {% block owl_js %}

        {% endblock %}


        <form id="locationForm" action="{% url "set_user_location" %}" method="POST" style="display:none;">
            {% csrf_token %}
            <input type="text" name="latitude", id="id_latitude" value="">
            <input type="text" name="longitude", id="id_longitude" value="">
            <input type="text" name="redirect_url", id="id_redirect_url" value="">
            <input type="submit">
        </form>

        <script id="_agile_min_js" async type="text/javascript" src="https://wheresdjsplay.agilecrm.com/stats/min/agile-min.js"> </script>
        <script type="text/javascript">
        var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
          _agile.set_account('gjfka3iaodrcqre727asur8974', 'wheresdjsplay', false);
          _agile.track_page_view();
          _agile_execute_web_rules();};
        </script>

    </body>
</html>
