{% load staticfiles %}
{% block clients %}
<!-- section -->
<!-- ================ -->
{% if trustedBys %}
<section class="pv-30 dark-bg padding-bottom-clear">
    <div class="container">
        <h2 class="text-center">Trusted by</h2>
        <div class="separator"></div>
        <div class="clients-container">
            <div class="clients">
                {% for trust in trustedBys %}
                <div class="client-image object-non-visible text-center" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a href="#"><img class="img-circle" src="{{ trust.logo.url }}" alt=""></a>
                    <p class="text-center">{{ trust.company }}</p>
                </div>
                {% endfor %}
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-2.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-3.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-4.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-5.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-6.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-7.png' %}" alt=""></a>-->
                <!--</div>-->
                <!--<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">-->
                    <!--<a href="#"><img src="{% static 'frontend/images/client-8.png' %}" alt=""></a>-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- section end -->
{% endblock %}