{% block datasetcount %}
<!-- section start -->
<!-- ================ -->
<!-- <section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
    <div class="clearfix">
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg large circle"><i class="fa fa-play-circle"></i></span>
                <h3><strong>Artists</strong></h3>
                <span class="counter" data-to="1525" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg large circle"><i class="fa fa-calendar"></i></span>
                <h3><strong>Events</strong></h3>
                <span class="counter" data-to="1225" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg large circle"><i class="fa fa-map-marker"></i></span>
                <h3><strong>Venues</strong></h3>
                <span class="counter" data-to="12235" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg large circle"><i class="fa fa-users"></i></span>
                <h3><strong>Members</strong></h3>
                <span class="counter" data-to="15002" data-speed="5000">0</span>
            </div>
        </div>
    </div>
    <div class="footer-top animated-text" style="background-color:yellow;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Grow your success</h2>
                                <h2>Waste no more time</h2>
                            </div>
                            <div class="col-sm-4">
                                <p class="mt-10"><a href="{% url 'signup' %}" class="btn btn-animated btn-lg btn-gray-transparent">Sign up<i class="fa fa-user-plus pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}
