{% block dontmiss %}

<!-- section start -->
<!-- ================ -->
<section class="section default-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-sm-12"> -->
                            <h2 class="title" style="margin-top: 20px;"><strong>Music data analytics in your hands</strong></h2>
                        <!-- </div> -->
                        <!-- <div class="col-sm-4">
                            <br>
                            <p><a href="{% url 'plans' %}" class="btn btn-lg btn-gray-transparent btn-animated">GET YOUR PLAN<i class="fa fa-arrow-right pl-20"></i></a></p>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

{% endblock %}
