{% load staticfiles %}
{% block footer %}
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<!--<footer id="footer" class="clearfix dark">-->

    <!--&lt;!&ndash; .footer start &ndash;&gt;-->
    <!--&lt;!&ndash; ================ &ndash;&gt;-->
    <!--<div class="footer">-->
        <!--<div class="container">-->
            <!--<div class="footer-inner">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--<div class="footer-content">-->
                            <!--<div class="logo-footer"><img id="logo-footer" src="{% static 'frontend/images/logo_footer.png' %}" alt=""></div>-->
                            <!--<p> Get ready for your event business growth and greater success with cutting edge analytics and availability information.-->
                                <!--&lt;!&ndash; <a href="page-about.html">Learn More<i class="fa fa-long-arrow-right pl-5"></i></a> &ndash;&gt;-->
                            <!--</p>-->
                            <!--<div class="separator-2"></div>-->
                            <!--<nav>-->
                                <!--<ul class="nav nav-pills nav-stacked">-->
                                    <!--<li><a href="{% url 'about' %}">About</a></li>-->
                                    <!--<li class="hidden-xs"><a href="{% url 'faq' %}">FAQ</a></li>-->
                                <!--</ul>-->
                            <!--</nav>-->
                        <!--</div>-->
                    <!--</div>-->
<!--&lt;!&ndash;                     <div class="col-md-3">-->
                        <!--<div class="footer-content">-->
                            <!--<h2 class="title">Latest Events</h2>-->
                            <!--<div class="separator-2"></div>-->
                            <!--{% if footer_my_events %}-->
                            <!--{% for event in footer_my_events %}-->
                            <!--<div class="media margin-clear">-->
                                <!--<div class="media-left">-->
                                    <!--<div class="overlay-container">-->
                                        <!--<img class="media-object" src="{% static 'frontend/images/blog-thumb-1.jpg' %}" alt="blog-thumb">-->
                                        <!--<a href="{% url 'my_events'%}" class="overlay-link small"><i class="icon-check"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading"><a href="events.html?{{ event.pk }}">{{ event.eventName }}</a></h6>-->
                                    <!--<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i><a href="dates.html?{{ event.date|date:'Y-m-d' }}">{{ event.date|date:"d M, Y" }}</a></p>-->
                                <!--</div>-->
                                <!--<hr>-->
                            <!--</div>-->
                            <!--{% endfor %}-->
                            <!--{% endif %}-->


                            <!--<div class="text-right space-top">-->
                                <!--<a href="{% url 'my_events'%}" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div> &ndash;&gt;-->

                    <!--<div class="col-md-4">-->
                        <!--{% if request.user.is_authenticated %}-->
                        <!--<div class="footer-content">-->
                            <!--<h2 class="title">Latest Artists</h2>-->
                            <!--<div class="separator-2"></div>-->

                            <!--<div class="row grid-space-10">-->
                                <!--{% if footer_artists %}-->
						        <!--{% for artist in footer_artists %}-->
                                    <!--<div class="col-xs-4 col-md-6">-->
                                        <!--<div class="overlay-container mb-10 wrapper">-->
                                            <!--<a href="{% url 'artist_detail' artist.artistID%}">-->
                                            <!--&lt;!&ndash;{% if artist.artistPhoto %}&ndash;&gt;-->
                                                <!--&lt;!&ndash;<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}">&ndash;&gt;-->
                                            <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
                                                <!--&lt;!&ndash;<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">&ndash;&gt;-->
                                            <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                                                <!--<div class='description'>-->
                                                    <!--<p class='description_content'>-->
                                                        <!--{{artist.artistName }}-->
                                                    <!--</p>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--{% endfor %}-->
						        <!--{% endif %}-->
                            <!--</div>-->
                            <!--<div class="text-right space-top">-->
                                <!--<a href="/artists/" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--{% endif %}-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<div class="footer-content">-->
                            <!--<h2 class="title">Find Us</h2>-->
                            <!--<div class="separator-2"></div>-->
                            <!--<p></p>-->
                            <!--<ul class="social-links circle animated-effect-1">-->
                                <!--<li class="facebook"><a target="_blank" href="https://www.facebook.com/MAINLINEMUSICAGENCY/"><i class="fa fa-facebook"></i></a></li>-->
                                <!--<li class="twitter"><a target="_blank" href="https://twitter.com/_WhereDjsPlay_"><i class="fa fa-twitter"></i></a></li>-->
                                <!--<li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UC5o4iOCiqStVg1j73Nq4t0Q"><i class="fa fa-youtube-play"></i></a></li>-->
                            <!--</ul>-->
                            <!--<div class="separator-2"></div>-->
                            <!--<ul class="list-icons">-->
                                <!--&lt;!&ndash; <li><i class="fa fa-map-marker pr-10 text-default"></i> Unit 256: 15-17 Caledonian Rd</li>-->
                                <!--<li><i class="fa fa-phone pr-10 text-default"></i> +44 (0) 2081 443 578</li> &ndash;&gt;-->
                                <!--<li>-->
                                    <!--<i class="fa fa-envelope-o pr-5 pl-10"></i>-->
                                        <!--Click <a href="mailto:support@wdjp.zendesk.com " style="color:white;" target="_top">here</a> for support!-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; .footer end &ndash;&gt;-->

    <!--&lt;!&ndash; .subfooter start &ndash;&gt;-->
    <!--&lt;!&ndash; ================ &ndash;&gt;-->
    <!--<div class="subfooter">-->
        <!--<div class="container">-->
            <!--<div class="subfooter-inner">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8 col-md-offset-4">-->
                        <!--<p style="display:inline;">Copyright ©  {% now "Y" %} Wheredjsplay. All Rights Reserved |</p>-->
                        <!--<a href="{% url 'privacy_policy' %}" ><p style="display:inline;">Privacy Policy |</p></a>-->
                        <!--<a href="{% url 'terms' %}"><p style="display:inline;">Terms & Conditions</p></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; .subfooter end &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; footer end &ndash;&gt;-->


<footer id="footer" class="clearfix dark hidden-xs">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="footer-content">
                            <h5><a href="/">© {% now "Y" %} WHEREDJSPLAY</a></h5> <br>
                            <a href="mailto:support@wheredjsplay.com">support@wheredjsplay.com</a><br><br>
                            <a href="https://www.facebook.com/pg/Wheredjsplay-604564549727412/" target="_new"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/_WhereDjsPlay_" target="_new"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC5o4iOCiqStVg1j73Nq4t0Q" target="_new"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12">
                        <div class="footer-content">
                            <h5>Account</h5><br/>
                            <a href="{% url 'login_user' %}">Log In</a><br/>
                            <a href="{% url 'request_an_invite' %}">Sign Up</a><br/>
                            <a href="{% url 'plans' %}">Pricing</a><br/>
                            <a href="{% url 'news' %}">News</a><br/>
                            <a href="{% url 'contact' %}">Support</a>
                        </div>
                    </div>
                    <!--<div class="col-md-1 col-sm-12 col-xs-12">-->
                        <!--<div class="footer-content">-->
                            <!--<h5><a href="{% url 'plans' %}">Pricing</a></h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-1 col-sm-12 col-xs-12">-->
                        <!--<div class="footer-content">-->
                            <!--<h5><a href="{% url 'news' %}">News</a></h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-1 col-sm-12 col-xs-12">-->
                        <!--<div class="footer-content">-->
                            <!--<h5><a href="{% url 'contact' %}">Support</a></h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-3">
                        {% if request.user.is_authenticated %}
                        <div class="footer-content">
                            <h5>Latest Artists</h5><br/>
                            <div class="row grid-space-10">
                                {% if footer_artists %}
						        {% for artist in footer_artists %}
                                    <div class="col-xs-4 col-md-6">
                                        <div class="overlay-container mb-10 wrapper">
                                            <a href="{% url 'artist_detail' artist.artistID%}">
                                                        {{artist.artistName }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
						        {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="footer-content">
                            <h5>Company</h5><br/>
                            <a href="{% url 'about' %}">About</a><br/>
                            <a href="{% url 'faq' %}">FAQ</a><br/>
                            <a href="{% url 'privacy_policy' %}">Privacy Statement</a><br/>
                            <a href="{% url 'terms' %}">Terms & Conditions</a><br/><br/>
                            <a href="https://www.comparedjs.com" target="_new">Compare DJs</a><br/>
                            <!--<a href="https://www.mainlinemusic.net" target="_new">Mainlinemusic</a>-->
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-12 col-xs-12">-->
                        <!--<div class="footer-content">-->
                            <!--<h5><a href="{% url 'login_user' %}">Log In</a></h5><br/>-->
                            <!--<a href="https://www.comparedjs.com" target="_new">Compare DJs</a><br/>-->
                            <!--<a href="https://www.mainlinemusic.net" target="_new">Mainlinemusic</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="footer-content">
                            <h5>Join our mailing list</h5>
                            <div class="text-center">
                                <div id="mc_embed_signup" style="width: 223px;">
<!--                                     <form action="#" method="post" name="mc-embedded-subscribe-form" class="validate coming_soon_form" target="_blank" novalidate="">
 -->
                                <form action="{% url 'footer_coming_soon' %}" method="POST" class="footer_coming_soon_form">

                                    {% csrf_token %}
<!--                                         <div id="mc_embed_signup_scroll">
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display: none;">

                                                </div>
                                                <div class="response" id="mce-success-response" style="display: none;">

                                                </div>
                                            </div>
                                            <div class="mce-input-container" style="margin: 0 auto;">
                                                <div class="mc-field-group">
                                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL">
                                                </div>
                                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                                    <input type="text" name="b_4bf04500cc6048e6c494ece1f_4093cb6fc7" tabindex="-1" value="">
                                                </div>
                                                <div class="clear">
                                                    <input type="submit" value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="button">
                                                </div>
                                            </div>
                                        </div>
 -->
                            <div class="row">
                                <div class="col-md-12">
                                <input type="text" name="email"  class="form-control id_footer_cs_email" id="id_footer_cs_email" style=" width: 230px; height: 30px; background-color: white; " />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <small class="footer_cs_email_error" style="color:red;"></small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <a onclick="footer_validate_field();" class="btn btn-default">Join</a>
                                </div>
                            </div>
                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer id="footer" class="clearfix dark visible-xs">
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="separator-2"></div>
                    <div class="col-xs-12 text-center">
                        <div class="footer-content">
                            <h5><a href="{% url 'request_an_invite' %}">Sign Up</a></h5>
                            <h5><a href="{% url 'plans' %}">Pricing</a></h5>
                            <h5><a href="{% url 'news' %}">News</a></h5>
                            <h5><a href="{% url 'contact' %}">Support</a></h5>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="footer-content">
                            <h5>Company</h5><br/>
                            <a href="{% url 'about' %}">About</a><br/>
                            <a href="{% url 'faq' %}">FAQ</a><br/>
                            <a href="{% url 'privacy_policy' %}">Privacy Statement</a><br/>
                            <a href="{% url 'terms' %}">Terms & Conditions</a><br/>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="footer-content">
                            <h5><a href="{% url 'login_user' %}">Log In</a></h5><br/>
                            <a href="https://www.comparedjs.com" target="_new">Compare DJs</a><br/>
                            <!--<a href="https://www.mainlinemusic.net" target="_new">Mainlinemusic</a>-->
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="footer-content">
                            <h5>Join our mailing list</h5>
                            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                                {% csrf_token %}
                                <div id="mc_embed_signup_scroll">
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display: none;">

                                        </div>
                                        <div class="response" id="mce-success-response" style="display: none;">

                                        </div>
                                    </div>
                                    <div>
                                        <div class="mc-field-group">
                                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL">
                                        </div>
                                        <div class="clear">
                                            <input type="submit" value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="footer-content">
                            <h5><a href="/">© {% now "Y" %} WHEREDJSPLAY</a></h5> <br>
                            <a href="mailto:support@wheredjsplay.com">support@wheredjsplay.com</a><br><!-- react-text: 384 -->+44 2081-445-104<!-- /react-text --><br><!-- react-text: 386 -->Mo-Fri 9AM-5PM<!-- /react-text --><br><span style="opacity: 0.5;">(London Timezone)</span>
                            <br>
                            <a href="https://www.facebook.com/MAINLINEMUSICAGENCY/" target="_new"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/_WhereDjsPlay_" target="_new"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC5o4iOCiqStVg1j73Nq4t0Q" target="_new"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

{% endblock %}
