{% load staticfiles %}

{% block header %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- header-container start -->

<div class="header-container">
    <!-- header-top start -->
    <!-- classes:  -->
    <!-- "dark": dark version of header top e.g. class="header-top dark" -->
    <!-- "colored": colored version of header top e.g. class="header-top colored" -->
    <!-- ================ -->
    <div class="header-top dark ">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-6 col-md-8">
                    <!-- header-top-first start -->
                    <!-- ================ -->
                    <div class="header-top-first clearfix">
                        <ul class="social-links circle small clearfix hidden-xs">
                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/MAINLINEMUSICAGENCY/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="https://twitter.com/_WhereDjsPlay_"><i class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UC5o4iOCiqStVg1j73Nq4t0Q"><i class="fa fa-youtube-play"></i></a></li>
                            <!--<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>-->
                            <!--<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>-->
                            <!--<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>-->
                            <!--<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>-->
                            <!--<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>-->
                        </ul>
                        <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                <ul class="dropdown-menu dropdown-animation">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/MAINLINEMUSICAGENCY/"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com/_WhereDjsPlay_"><i class="fa fa-twitter"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UC5o4iOCiqStVg1j73Nq4t0Q"><i class="fa fa-youtube-play"></i></a></li>
                                    <!--<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>-->
                                    <!--<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>-->
                                    <!--<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>-->
                                    <!--<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>-->
                                    <!--<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                        <ul class="list-inline hidden-sm hidden-xs">
                            <li>
                                <a href="{{ site_url }}/static/Where_DJs_Play_-_Promoter_Service.pdf" style="color:white;" target="_top" download="Where_DJs_Play_-_Promoter_Service.pdf"><i class="fa fa-download pr-5 pl-10"></i>Download Introductory Guide</a>
                            </li>

                        </ul>
                        <b class="hidden-sm hidden-xs pull-right" style="display:inline; margin-top: 10px;">{{ request.user.get_full_name|title }} {% if request.user.is_superuser %} | Admin {% else %} {% if user_type %} | {{ user_type }} {% endif %} {% endif %}</b>

                        <b class="pull-right hidden-lg hidden-md" style="margin-top:-23px; margin-right:-216%;">{{ request.user.get_full_name|title }} {% if request.user.is_superuser %} | Admin {% else %} {% if user_type %} | {{ user_type }} {% endif %} {% endif %}</b> &nbsp &nbsp
                    </div>

                    <!-- header-top-first end -->
                </div>
                <div class="col-xs-9 col-sm-6 col-md-3">

                    <!-- header-top-second start -->
                    <!-- ================ -->

                    <div id="header-top-second"  class="clearfix">

                        <!-- header top dropdowns start -->
                        <!-- ================ -->
                        <div class="header-top-dropdown text-right">
                            {% if request.user.is_authenticated %}
                            <div class="btn-group dropdown account">
                            <button type="button" class="btn dropdown-toggle btn-default btn-sm " data-toggle="dropdown"><i class="fa fa-user pr-10"></i> My Account <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right dropdown-animation py-dropdown-menu">
                                {% if my_account_image %}
                                    <img src="{{ site_url }}/media/{{ my_account_image }}" alt="{{ my_account_image }}" style="width:40%; height:80px; margin-left:20px; display: block; border: 2px solid white; display:inline; margin-bottom:4px;"></img >
                                &nbsp&nbsp
                                    <h5 style="display:inline;">{{ request.user.first_name }}</h5>
                                {% else %}
                                <a href="{% url 'edit_details' %}">
                                    <img src="{{ site_url }}/static/frontend/images/avatar.jpg" alt="{{ my_account_image }}" style="width:40%;  margin-left:20px; height:80px; display: block; border: 2px solid white; display:inline; ">
                                    </img>
                                </a>
                                     &nbsp&nbsp
                                    <h5 style="display:inline;">{{ request.user.first_name }}</h5>
                                {% endif %}<br>
                                <li><a class="header_anchor"  href="{% url 'profile_show' request.user.id %}" style="margin-top:10px;">My Profile</a></li>
                                <li><a class="header_anchor"  href="{% url 'edit_details' %}" >Edit my Profile</a></li>
                                {% if request.user.is_superuser or user_type == "Agent" %}
                                    <li><a class="header_anchor"  href="{% url 'start_add_artist' %}" > Add Artist </a></li>
                                    <li><a class="header_anchor"  href="{% url 'new_artist_to_complete' %}" > New Artist to Complete </a></li>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <li><a class="header_anchor"  href="{% url 'create_event_template' %}" > Create Event Template </a></li>
                                {% endif %}

                                <li><a class="header_anchor"  href="{% url 'change_password' %}">Change Password</a></li>
                                <!-- <li><a class="header_anchor" href="{% url 'my_recent_search' %}">My Recent Search</a></li> -->
                                <!-- {% if is_premium_user %}
                                    <li><a class="header_anchor" href="{% url 'my_events' %}">My Events</a></li>
                                {% endif %} -->
                                <!-- <li><a class="header_anchor" href="{% url 'favorite' %}">My Favorites Artists</a></li> -->
                                <!-- <li><a class="header_anchor" href="{% url 'my_favorite_venue' %}">My Favorites Venues</a></li> -->
                                <li><a class="header_anchor" href="{% url 'my_membership' %}">Billing</a></li>
                          {% comment %}
                                {% if user_type == "Promoter" or user_type == "Agent" or request.user.is_superuser %}
                                <li><a class="header_anchor" href="{% url 'profile_managed_djs' %}">My Managed Djs</a></li>
                                {% endif %}
                          {% endcomment %}
                                <!-- <li><a class="header_anchor" href="{% url 'profile_trackers' %}">Track Artist Online Popularity</a></li> -->
                                <!-- <li ><a href="{% url 'added_djs' %}">Add an Artist</a></li> -->

                                <!-- {% if user_type != "Artists/DJs" or request.user.is_superuser %}
                                    <li ><a href="{% url 'profile_managed_djs' %}">Add an Artist</a></li>
                                {% endif %} -->

                                <!-- {% if request.user.profile_set.first.subscription and request.user.profile_set.first.subscription.is_active %}
                                    <li><a class="header_anchor" href="{% url 'refund' %}">Accounts Settings</a></li>
                                {% endif %} -->
                          {% comment %}
                                <li><a class="header_anchor" href="{% url 'news' %}">News Feed</a></li>
                          {% endcomment %}
                                {% if request.user.is_superuser %}
                                <li><a class="header_anchor" href="{% url 'reports'%}">Diagnostic Report</a></li>
                                <li><a class="header_anchor" href="{% url 'create_news'%}">Post News</a></li>
                                <li><a class="header_anchor" href="{% url 'create_welcome_message'%}">Post Welcome Text</a></li>
                                {% endif %}

                                <li><a class="header_anchor" href="{% url 'logout_user'%}">Log out</a></li>
                              </ul>
                            </div>
                            {% else %}
                            <div class="btn-group">
                                <a href="{% url 'request_an_invite' %}"  style="background-color:red;" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i>Sign Up</a>
                            </div>
                            <div class="btn-group">
                                <a type="button" href="{% url 'login_user' %}" style="background-color:#09afdf;" class="btn btn-default btn-sm"><i class="fa fa-lock pr-10"></i> Log In</a>
                            </div>

                            {% endif %}
                        </div>
                        <!--  header top dropdowns end -->
                    </div>
                    <!-- header-top-second end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-top end -->

    <!-- header start -->
    <!-- classes:  -->
    <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
    <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
    <!-- "full-width": mandatory class for the full-width menu layout -->
    <!-- "centered": mandatory class for the centered logo layout -->
    <!-- ================ -->
    <header class="header  fixed  dark  clearfix">

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix">

                        <!-- header dropdown buttons -->
                        {% if request.user.is_authenticated%}
                        <div class="header-dropdown-buttons visible-xs">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation" style="z-index: 999;">
                                    <li>

                                        <form role="search" class="form-inline text-center" action="{% url 'artists' %}" method="GET" id="id_search" >
                                            <div class="form-group">
                                                <input name="artist_name" type="text" class="form-control margin-clear typeahead_all search" autocomplete="off" placeholder="Search">
                                                <i class="icon-search form-control-feedback"></i>

                                            </div>
                                        </form>

                                    </li>
                                </ul>

                                <button type="button" class="dark navbar-toggle visible-xs" data-toggle="collapse" data-target="#navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        <!-- header dropdown buttons end-->

                        <!-- logo -->
                        <div id="logo" class="logo navbar-brand">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'dashboard' %}">
                              <img id="logo_img" src="{% static 'frontend/images/logo_header.png' %}" alt="Wheredjsplay"></a>
                            {% else %}
                            <a href="{% url 'index' %}">
                              <img id="logo_img" src="{% static 'frontend/images/logo_header.png' %}" alt="Wheredjsplay" style="margin-top:-6px;"></a>
                            {% endif %}
                        </div>

                        <!-- name-and-slogan
                        <div class="site-slogan">
                            Global Talent Simplified
                        </div>-->

                        <div class="visible-xs" role="navigation">
                                    <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                        <!-- main-menu -->
                                        <ul class="nav navbar-nav ">
                                            <!-- mega-menu start -->
                                            <li class="dropdown  mega-menu">
                                              <!-- <a href="/artists/" class="dropdown-toggle" id="artist_message" onclick="message" data-toggle="dropdown">Artists</a> -->
                                              {% if request.user.is_authenticated %}
                                                <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Artists</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                <h4 class="title"><i class="fa fa-play-circle"></i> Artists</h4>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="divider"></div>
                                                                        <ul class="menu">
                                                                            <li><a href="/artists"><i class="fa fa-angle-right"></i>All Artists</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="divider"></div>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'compare_artists' %}"><i class="fa fa-angle-right"></i>Compare Djs</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                {% if settings.SITE_URL != " http://www.wheredjsplay.com" %}
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="divider"></div>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'trends' %}"><i class="fa fa-angle-right"></i>Top 50 Trending Artists (beta)
                                                                            </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                                

                                                                <!-- <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="divider"></div>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'profile_trackers'  %}"><i class="fa fa-angle-right"></i>Track Artist Online Popularity</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div> -->
                                                            </div>

                                                            {% if request.user.is_authenticated %}
                                                                <div class="col-lg-6 col-md-6 hidden-sm">
                                                                    <h4 class="title">Artist of the Day</h4>
                                                                    <div class="divider"></div>
                                                                    <a href="{% url 'artist_detail' artist_of_the_day.artistID %}">
                                                                        {% if artist_of_the_day.artistPhoto %}
                                                                                <img src="{{ artist_of_the_day.artistPhoto.url }}" alt="{{artist_of_the_day.artistName}}" width="200px" height="200px">
                                                                        {% else %}
                                                                            <img src= "{% static 'frontend/images/artists.jpg' %}" alt="{{artist_of_the_day.artistName}}" width="200px" height="200px">
                                                                        {% endif %}
                                                                    </a>
                                                                    <a href="{% url 'artist_detail' artist_of_the_day.artistID %}"><h5 class="mb-10">{{ artist_of_the_day.artistName}}</h5></a>
                                                                </div>
                                                            {% endif %}

                                                        </div>
                                                    </li>
                                                </ul>
                                                {% endif%}
                                            </li>

                                            <!-- mega-menu end -->


                            <!-- mega-menu end -->
                            <!-- mega-menu start -->

                            <li class="dropdown  mega-menu">
                                <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Searches</a>
                                {% if request.user.is_authenticated %}
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="title"><i class="fa fa-play-circle"></i> Searches</h4>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="divider"></div>
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'dates' %}"><i class="fa fa-angle-right"></i>Available Artist Search</a></li>
                                                        </ul>
                                                        {% comment %}
                                                        {% if system_env != 'PRODUCTION' %}
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'flight_share' %}"><i class="fa fa-angle-right"></i>Travel Share Search</a></li>
                                                        </ul>
                                                        {% endif %}
                                                        {% endcomment %}
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'someone_music_you_love' %}"><i class="fa fa-angle-right"></i>Line Up Search</a></li>
                                                        </ul>
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'master_search' %}"><i class="fa fa-angle-right"></i>Master Search (beta)</a></li>
                                                        </ul>
                                                        <ul class="menu">
                                                            <li ><a href= "{% url 'territory_search' %}" class="load-it"><i class="fa fa-angle-right"></i>Country Events Search</a></li>
                                                        </ul>
                                                        <ul class="menu">
                                                            <li ><a href= "{% url 'territory' %}"><i class="fa fa-angle-right"></i>Territory Events Search</a></li>
                                                        </ul>
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'my_recent_search' %}"><i class="fa fa-angle-right"></i>My Recent Searches</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                <h4 class="title">Global talent simplified</h4>
                                                <p class="mb-10">Wheredjsplay is suitable for agents, artists, promoters, venues, fans and press.</p>
                                                <img src="{% static 'frontend/images/artists.jpg' %}" alt="Wheredjsplay">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            </li>

                            <!-- mega-menu end -->
                            <!-- mega-menu start -->

                            <li class="dropdown  mega-menu">
                                <a href="{% url 'territory_search' %}" class="dropdown-toggle" data-toggle="dropdown">Global Events</a>
                                {% if request.user.is_authenticated %}
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="title"><i class="fa fa-play-circle"></i> Global Events</h4>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="divider"></div>
                                                        <ul class="menu">
                                                            <li><a href="{% url 'territory_search' %}" class="load-it"><i class="fa fa-angle-right"></i>Country Events Search</a></li>
                                                        </ul>
                                                        <ul class="menu">``
                                                            <li><a href="{% url 'territory' %}"><i class="fa fa-angle-right"></i>Territory Events Search</a></li>
                                                        </ul>
                                                        {% if not settings.ENV_NAME == 'PRODUCTION' %}
                                                            {% if request.user.is_superuser %}
                                                                <ul class="menu">
                                                                    <li><a href="{% url 'search_events' %}"><i class="fa fa-angle-right"></i>All Events Search</a></li>
                                                                </ul>
                                                                <ul class="menu">
                                                                    <li><a href="{% url 'venues' %}"><i class="fa fa-angle-right"></i>Global Venues Database</a></li>
                                                                </ul>
                                                                {% comment %}
                                                                <ul class="menu">
                                                                    <li><a href="{% url 'artist_country_analysis' %}"><i class="fa fa-angle-right"></i>Artist Country Analysis</a></li>
                                                                </ul>
                                                                {% endcomment %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                <h4 class="title">Global talent simplified</h4>
                                                <p class="mb-10">Wheredjsplay is perfectly suitable for agents, artists, promoters, venues, fans and press.</p>
                                                <img src="{% static 'frontend/images/img2.jpg' %}" alt="Wheredjsplay">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            </li>

                            <!-- mega-menu end -->
                            <!-- mega-menu start -->
                            {% if request.user.is_authenticated %}
                            {% if user_type == "Promoter" or request.user.is_superuser %}
                            <li class="dropdown  mega-menu">
                                <a href="{% url 'my_events' %}" class="dropdown-toggle" data-toggle="dropdown">My Events</a>
                                {% if request.user.is_authenticated %}
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6 hidden-xs">
                                                        <a href="{% url 'my_events' %}" class="btn btn-default" name="button"><i class="fa fa-play-circle"></i> Event Planning</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="{% url 'booking_request' %}" class="btn btn-default" name="button">Create New Event</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    {% if header_my_events %}
                                                        <table id="event_table" class="table">
                                                            <thead class="thead-default">
                                                                <tr style="height: 50px;">
                                                                    <th>Event Name</th>
                                                                    <th>Event Date</th>
                                                                    <th>City</th>
                                                                </tr>
                                                            </thead>
                                                                <tbody>
                                                                    {% for event in header_my_events %}
                                                                    <tr id="id_event_{{ event.event_id }}">
                                                                        <td class="col-md-2 gap"><a href="{% url 'my_events'%}">{{ event.event_name }}</a></td>
                                                                        <td class="col-md-1 gap">{{ event.event_date }}</td>
                                                                        <td class="col-md-1 gap">{{ event.city }}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                        </table>
                                                    {% else %}
                                                        <h2><div class="text-muted text-center">No Events found.</div></h2>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                <h4 class="title">Plan your Event</h4>
                                                <p class="mb-10">Plan your Event with Data Analytics with WhereDjsPlay.</p>
                                                <!-- <h4 class="title">Find out who's available in your area</h4>
                                                <p class="mb-10">With wheredjsplay,you find events, venues, artists playing or potentially available in any area.</p> -->
                                                <img src="{% static 'frontend/images/img_9770.jpg' %}" alt="Wheredjsplay">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endif %}

                            <!-- mega-menu end -->
                            <!-- mega-menu start -->

                            {% if request.user.is_authenticated %}
                            <li class="dropdown  mega-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Favourites</a>
                                {% if request.user.is_authenticated %}
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="title"><i class="fa fa-play-circle"></i> My Favourites</h4>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="divider"></div>
                                                        <ul class="menu">
                                                            <li ><a href="{% url 'favorite' %}"><i class="fa fa-angle-right"></i>My Favorite Artist</a></li>
                                                        </ul>
                                                        <ul class="menu">
                                                            <li ><a href="/ololo"><i class="fa fa-angle-right"></i>My Favorite Events</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                <h4 class="title">Global talent simplified</h4>
                                                <p class="mb-10">Wheredjsplay is perfectly suitable for agents, artists, promoters, venues, fans and press.</p>
                                                <img src="{% static 'frontend/images/img12.jpg' %}" alt="Wheredjsplay">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li class="dropdown  mega-menu">
                                <a href="{% url 'news' %}" class="dropdown-toggle" data-toggle="dropdown">News</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="title"><i class="fa fa-play-circle"></i> Latest News</h4>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="divider"></div>
                                                        <ul class="menu">
                                                            <!--
                                                            <li ><a href="{% url 'news' %}"><i class="fa fa-angle-right"></i>Global News</a></li>
                                                            -->
                                                            <li ><a href="{% url 'wdjp_news' %}"><i class="fa fa-angle-right"></i>WDJP News</a></li>
                                                            <li ><a href="{% url 'search_news' %}"><i class="fa fa-angle-right"></i>News Search</a></li>
                                                            <li ><a href="{% url 'my_news_feed' %}"><i class="fa fa-angle-right"></i>My News Feed</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                {% if header_news %}
                                                    {% for news in header_news %}
                                                        <p style="font-size:13px;" class="title"><a target="_blank" href="{{ news.url }}">{% if news.publish_date %} {{ news.publish_date }} {% else %} No Date Available {% endif %} <br> <strong style="color:white;">{{ news.title }}</strong></a></p>
                                                    {% endfor %}
                                                 {% else %}
                                                <h4 class="title">Global talent simplified</h4>
                                                <p class="mb-10">Wheredjsplay is perfectly suitable for agents, artists, promoters, venues, fans and press.</p>
                                                <img src="{% static 'frontend/images/img_0185.jpg' %}" alt="Wheredjsplay">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="{% url 'faq' %}">Lessons/FAQ</a>
                            </li>
                            {% endif %}
                            <!-- <li class="">
                                <a href="{% url 'master_search' %}">Master Search</a>
                            </li> -->
                            <!-- mega-menu end -->
                        <!-- header dropdown buttons -->
                        <div class="header-dropdown-buttons hidden-xs ">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                    <li>
                                        <form role="search" action="{% url 'artists' %}" method="GET" class="search-box margin-clear">
                                            <div class="form-group has-feedback">
                                                <input type="text" name="artist_name" class="form-control typeahead" placeholder="Type Artist Name">
                                                <i class="icon-search form-control-feedback"></i>
                                            </div>
                                        </form>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'dates' %}">Available Artist Search</a>
                                    </li>
                                    {% comment %}
                                    {% if system_env != 'PRODUCTION' %}
                                        {% if request.user.is_superuser %}
                                            <li class="">
                                                <a href="{% url 'flight_share' %}">Travel Share Search</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% endcomment %}
                                    <li class="">
                                        <a href="{% url 'someone_music_you_love' %}">Line Up Search</a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'master_search' %}">Master Search</a>
                                    </li>
                                    <li class="">
                                        <a href= "{% url 'territory_search' %}">Global Events Search</a>
                                    </li>
                                    <li class="">
                                        <a href= "{% url 'compare_artists' %}">Compare DJ's</a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'my_recent_search' %}">My Recent Searches</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- header dropdown buttons end-->
                    </div>
                </div>

    </div>
    <!-- header-left end -->

</div>
                <div class="col-md-10 hidden-xs">

                    <!-- header-right start -->
                    <!-- ================ -->
                    <div class="header-right clearfix">

                    <!-- main-navigation start -->
                    <!-- classes: -->
                    <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                    <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                    <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                    <!-- ================ -->
                    <div class="main-navigation  animated with-dropdown-buttons">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <!-- main-menu -->
                                    <ul class="nav navbar-nav ">

                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->
                                        {% if user_type == "Agent" or request.user.is_superuser %}
                                        <li class="dropdown  mega-menu" style="margin-right:20px;">
                                            <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Roster</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <h4 class="title"><i class="fa fa-play-circle"></i> Artists</h4>


                                                            {% if user_type == "Agent" or request.user.is_superuser %}
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 ">
<!--                                                                    <div class="divider"></div>-->
                                                                    <ul class="menu">
                                                                        <li class="">
                                                                            <a href="{% url 'profile_managed_artists'%}">
                                                                            <ul>
                                                                                {% for mngd_artst in user_profile.profile_managed_djs.all %}
                                                                                <li>
                                                                                    <a class="fa" href="{% url 'artist_detail' mngd_artst.artistID %}" target="_blank">
                                                                                        {{mngd_artst.artistName}}
                                                                                    </a>
                                                                                </li>
                                                                                {% endfor %}

                                                                            </ul>
                                                                        </a>
                                                                    </li>
                                                                        </ul>
<!--                                                                    </div>-->
                                                                </div>
                                                            {% endif %}

                                                            <!-- <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'profile_trackers'  %}"><i class="fa fa-angle-right"></i>Track Artist Online Popularity</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                            {% if user_type != "Artists/DJs" or request.user.is_superuser %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <!-- <li ><a href="{% url 'profile_managed_djs' %}"><i class="fa fa-angle-right"></i>Add an Artist</a></li> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </li>
                                        {% endif %}


                                        {% if user_type == "Agent" or request.user.is_superuser %}
                                        <li  class="mega-menu" style="margin-left:-30px;margin-right: 10px;">
                                            {% if request.user.is_authenticated %}
                                                <a href="{% url 'offerhq' %}" style="">Offer HQ</a>
                                            {% endif %}
                                        </li>
                                        {% endif %}

                                        {% if request.user.is_authenticated %}
                                        <li class="dropdown  mega-menu" style="margin-left:-20px;">
                                            <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Artists</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <h4 class="title"><i class="fa fa-play-circle"></i> Artists</h4>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="/artists"><i class="fa fa-angle-right"></i>All Artists</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'compare_artists' %}"><i class="fa fa-angle-right"></i>Compare Djs</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                    
                                                            {% if settings.SITE_URL != "http://www.wheredjsplay.com" %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'trends' %}"><i class="fa fa-angle-right"></i>The Worlds Top 50 DJS</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li><a href="{% url 'artists_notes' %}"><i class="fa fa-angle-right"></i>Your Artist Notes ({{my_artist_notes}})</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            {% if user_type == "Agent" or request.user.is_superuser %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li class="dropdown_nav">
                                                                            <a href="{% url 'profile_managed_artists'%}">
                                                                                <i class="fa fa-angle-right"></i> Your Roster ({{user_profile.profile_managed_djs.all|length}})
                                                                            </a>
                                                                            <ul>
                                                                                {% for mngd_artst in user_profile.profile_managed_djs.all %}
                                                                                <li>
                                                                                    <a href="{% url 'artist_detail' mngd_artst.artistID %}" target="_blank">
                                                                                        {{mngd_artst.artistName}}
                                                                                    </a>
                                                                                </li>
                                                                                {% endfor %}
                            
                                                                            </ul>
                                                                    </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                            
                                                            <!-- <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'profile_trackers'  %}"><i class="fa fa-angle-right"></i>Track Artist Online Popularity</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                            {% if user_type != "Artists/DJs" or request.user.is_superuser %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <!-- <li ><a href="{% url 'profile_managed_djs' %}"><i class="fa fa-angle-right"></i>Add an Artist</a></li> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        {% if request.user.is_authenticated %}
                                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                                <h4 class="title">Artist of the Day</h4>
                                                                <div class="divider"></div>
                                                                <a href="{% url 'artist_detail' artist_of_the_day.artistID %}">
                                                                    {% if artist_of_the_day.artistPhoto %}
                                                                            <img src="{{ artist_of_the_day.artistPhoto.url }}" alt="{{artist_of_the_day.artistName}}" width="200px" height="200px">
                                                                    {% else %}
                                                                        <img src= "{% static 'frontend/images/artists.jpg' %}" alt="{{artist_of_the_day.artistName}}" width="200px" height="200px">
                                                                    {% endif %}
                                                                </a>
                                                                <a href="{% url 'artist_detail' artist_of_the_day.artistID %}"><h5 class="mb-10">{{ artist_of_the_day.artistName}}</h5></a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            </ul>

                                        </li>
                                        {% endif %}
                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->
                                        {% if request.user.is_authenticated %}

                                        <li class="dropdown  mega-menu" style="margin-left:-4px;">
                                            <!-- <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Searches</a> -->
                                            <a href="/artists/" class="dropdown-toggle" data-toggle="dropdown">Searches</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <h4 class="title"><i class="fa fa-play-circle"></i> Searches</h4>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    {% if user_type == "Promoter" or request.user.is_superuser %}
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'dates' %}"><i class="fa fa-angle-right"></i>Available Artist Search</a></li>
                                                                        </ul>
                                                                        {% comment %}
                                                                        {% if system_env != 'PRODUCTION' %}
                                                                            {% if request.user.is_superuser %}
                                                                                <ul class="menu">
                                                                                    <li ><a href="{% url 'flight_share' %}"><i class="fa fa-angle-right"></i>Travel Share Search</a></li>
                                                                                </ul>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        {% endcomment %}
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'someone_music_you_love' %}"><i class="fa fa-angle-right"></i>Line Up Search</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'master_search' %}"><i class="fa fa-angle-right"></i>Master Search</a></li>
                                                                        </ul>
                                                                    {% endif %}
                                                                        <ul class="menu">
                                                                            <li ><a href= "{% url 'territory_search' %}"><i class="fa fa-angle-right"></i>Country Events Search</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li ><a href= "{% url 'territory' %}"><i class="fa fa-angle-right"></i>Territory Events Search</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'my_recent_search' %}"><i class="fa fa-angle-right"></i>My Recent Searches</a></li>
                                                                        </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 hidden-sm">
                                                            <h4 class="title">Global talent simplified</h4>
                                                            <p class="mb-10">Wheredjsplay is suitable for agents, artists, promoters, venues, fans and press.</p>
                                                            <img src="{% static 'frontend/images/artists.jpg' %}" alt="Wheredjsplay">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            {% endif %}
                                        </li>

                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->
                                        {% if request.user.is_authenticated %}


                                        <li class="dropdown  mega-menu" style="margin-left:-4px;">
                                            <!-- <a href="{% url 'territory_search' %}" class="dropdown-toggle" data-toggle="dropdown">Global Events</a> -->
                                            <a href="{% url 'territory_search' %}" class="dropdown-toggle" data-toggle="dropdown">Global Events</a>
                                           <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <h4 class="title"><i class="fa fa-play-circle"></i> Global Events</h4>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'territory_search' %}" class="load-it"><i class="fa fa-angle-right"></i>Country Events Search</a></li>
                                                                    </ul>
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'territory' %}"><i class="fa fa-angle-right"></i>Territory Events Search</a></li>
                                                                    </ul>
                                                                    {% if request.user.is_superuser %}
                                                                        <ul class="menu">
                                                                            <li><a href="{% url 'search_events' %}"><i class="fa fa-angle-right"></i>All Events Search</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li><a href="{% url 'venues' %}"><i class="fa fa-angle-right"></i>Global Venues Database</a></li>
                                                                        </ul>

                                                                        {% comment %}
                                                                        {% if not settings.ENV_NAME == 'PRODUCTION' %}
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'artist_country_analysis' %}"><i class="fa fa-angle-right"></i>Artist Country Analysis</a></li>
                                                                        </ul>
                                                                        {% endif %}
                                                                        {% endcomment %}
                                                                    {% endif %}
                                                                    <ul class="menu">
                                                                        <li ><a href="{% url 'events_notes' %}"><i class="fa fa-angle-right"></i>Your Event Notes ({{my_event_notes}})</a></li>
                                                                    </ul>
                                                                    <!-- <ul class="menu">
                                                                        <li ><a href="/artists"><i class="fa fa-angle-right"></i>Region Search</a></li>
                                                                    </ul> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 hidden-sm">
                                                            <h4 class="title">Global talent simplified</h4>
                                                            <p class="mb-10">Wheredjsplay is perfectly suitable for agents, artists, promoters, venues, fans and press.</p>
                                                            <img src="{% static 'frontend/images/img2.jpg' %}" alt="Wheredjsplay">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            {% endif %}
                                        </li>

                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->


                                        {% if request.user.is_authenticated %}
                                            {% if user_type == "Promoter" or request.user.is_superuser %}
                                            <li class="dropdown  mega-menu" style="position:static;margin-left:-4px;">
                                                <a href="{% url 'my_events' %}" class="dropdown-toggle" data-toggle="dropdown">My Events</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-6 hidden-xs">
                                                                        <a href="{% url 'my_events' %}" class="btn btn-default" name="button"><i class="fa fa-play-circle"></i> Event Planning</a>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <a href="{% url 'booking_request' %}" class="btn btn-default" name="button">Create New Event</a>
                                                                    </div>
                                                                </div>

                                                                    <div class="row">
                                                                    <ul class="nav nav-pills center-pills nav-justified" role="tablist">
                                                                        <li id="t1" class="active"><a href="#tab1" role="tab" data-toggle="tab" style="color:#428bca;">Future Events </a></li>
                                                                        <li id="t2"><a href="#tab2" role="tab" data-toggle="tab" style="color:#428bca;"> Past Events </a></li>
                                                                    </ul>
                                                                    </div>
                                                                    <div class ="tab-content">
                                                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                                                        {% if future_events|length > 0 %}
                                                                            <table id="event_table" class="table">
                                                                                <thead class="thead-default">
                                                                                <tr style="height: 50px;">
                                                                                    <th>Event Name</th>
                                                                                    <th>Event Date</th>
                                                                                    <th>City</th>
                                                                                </tr>
                                                                            </thead>
                                                                                <tbody>
                                                                                    {% for event in future_events %}
                                                                                    <tr id="id_event_{{ event.event_id }}">
                                                                                        <td class="col-md-2 gap"><a href="{% url 'event_detail' event.event_id %}">{{ event.event_name }}</a></td>
                                                                                        <td class="col-md-1 gap">{{ event.event_date }}</td>
                                                                                        <td class="col-md-1 gap">{{ event.city }}</td>
                                                                                    </tr>
                                                                                    {% endfor %}
                                                                                </tbody>
                                                                        </table>
                                                                    {% else %}
                                                                        <h2><div class="text-muted text-center">No Events found.</div></h2>
                                                                    {% endif %}
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane" id="tab2">
                                                                    {% if past_events|length > 0 %}
                                                                        <table id="event_table" class="table">
                                                                            <thead class="thead-default">
                                                                            <tr style="height: 50px;">
                                                                                <th>Event Name</th>
                                                                                <th>Event Date</th>
                                                                                <th>City</th>
                                                                            </tr>
                                                                        </thead>
                                                                            <tbody>
                                                                                {% for event in past_events %}
                                                                                <tr id="id_event_{{ event.event_id }}">
                                                                                    <td class="col-md-2 gap"><a href="{% url 'event_detail' event.event_id %}">{{ event.event_name }}</a></td>
                                                                                    <td class="col-md-1 gap">{{ event.event_date }}</td>
                                                                                    <td class="col-md-1 gap">{{ event.city }}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                    </table>
                                                                {% else %}
                                                                    <h2><div class="text-muted text-center">No Events found.</div></h2>
                                                                {% endif %}
                                                            </div>
                                                            </div>
                                                        </div>
                                                            <div class="col-lg-6 col-md-6 hidden-sm">
                                                                <!-- <h4 class="title">Find out who's available in your area</h4> -->
                                                                <h4 class="title">Plan your Event</h4>
                                                                <!-- <p class="mb-10">With wheredjsplay, you find events, venues, artists playing or potentially available in any area.</p> -->
                                                                <p class="mb-10">Plan your Event with Data Analytics with WhereDjsPlay.</p>

                                                                <img src="{% static 'frontend/images/img_9770.jpg' %}" alt="Wheredjsplay">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        {% endif %}


                                        <!-- mega-menu end -->
                                        <!-- mega-menu start -->

                                        {% if request.user.is_authenticated %}
                                            {% if user_type == "Agent" %}
                                            <li class="dropdown  mega-menu" style="margin-left:-4px;">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Shortlists</a>
                                                <ul class="dropdown-menu" style="left:-50px;">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                <h4 class="title"><i class="fa fa-play-circle"></i> My Shortlists</h4>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="divider"></div>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'profile_managed_artists' %}"><i class="fa fa-angle-right"></i>My Managed Artists  ({{my_fav_artist}})</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'favorite' %}"><i class="fa fa-angle-right"></i>My Favorite Artists  ({{my_fav_artist}})</a></li>
                                                                        </ul>
                                                                        <ul class="menu">
                                                                            <li ><a href="{% url 'my_favorite_event' %}"><i class="fa fa-angle-right"></i>Shortlisted Events  ({{my_fav_event}})</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                </li>
                                            {% else %}
                                            <li class="dropdown  mega-menu" style="margin-left:-4px;">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Favourites</a>
                                                    <ul class="dropdown-menu" style="left:-50px;">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <h4 class="title"><i class="fa fa-play-circle"></i> My Favourites</h4>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="divider"></div>
                                                                            <ul class="menu">
                                                                                <li ><a href="{% url 'favorite' %}"><i class="fa fa-angle-right"></i>My Favorite Artists  ({{my_fav_artist}})</a></li>
                                                                            </ul>
                                                                            <ul class="menu">
                                                                                <li ><a href="{% url 'my_favorite_event' %}"><i class="fa fa-angle-right"></i>My Favorite Events  ({{my_fav_event}})</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                            </li>
                                            {% endif %}
                                        {% endif %}

                                        {% if request.user.is_authenticated %}
                                        <li class="dropdown  mega-menu" style="position:static; margin-left:-4px;">
                                            <a {% if request.user.is_authenticated %} href="{% url 'news' %}" {% endif %} class="dropdown-toggle" data-toggle="dropdown">News</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <h4 class="title"><i class="fa fa-play-circle"></i> Latest News</h4>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="divider"></div>
                                                                <!--
                                                                <ul class="menu">
                                                                    <li ><a href="{% url 'news' %}"><i class="fa fa-angle-right"></i>Global News</a></li>
                                                                </ul>
                                                                -->
                                                                <ul class="menu">
                                                                    <li ><a href="{% url 'wdjp_news' %}"><i class="fa fa-angle-right"></i>WDJP News</a></li>
                                                                </ul>
                                                                <ul class="menu">
                                                                    <li ><a href="{% url 'search_news' %}"><i class="fa fa-angle-right"></i>News Search</a></li>
                                                                </ul>
                                                                <ul class="menu">
                                                                    <li ><a href="{% url 'my_news_feed' %}"><i class="fa fa-angle-right"></i>My News Feed</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                            {% if request.user.is_authenticated %}
                                                            {% if header_news %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="divider"></div>
                                                                    <ul class="menu">
                                                                    {% if news_artist %}
                                                                            {% for artist in news_artist %}
                                                                                {% if artist.artistPhoto %}
                                                                                    <img style="display:inline-block;" src= "{{ artist.artistPhoto.url }}" alt="{{ artist.artistName }}" width="82px;" height="82px">
                                                                                {% else %}
                                                                                    <img style="display:inline-block;" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="82px;" height="82px">
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 hidden-sm">
                                                        {% if request.user.is_authenticated %}
                                                        {% if header_news %}
                                                            {% for news in header_news %}
                                                                <p style="font-size:13px;" class="title">
                                                                    <span class="news-source">{{ news.source }}</span><br>
                                                                    <a target="_blank" href="{{ news.url }}">
                                                                        {% if news.publish_date %} {{ news.publish_date }} {% else %} No Date Available {% endif %} <br> 
                                                                        <strong style="color:white;">{{ news.title }}</strong>
                                                                    </a>
                                                                </p>
                                                            {% endfor %}
                                                        {% else %}
                                                                <h4 class="title">Global talent simplified</h4>
                                                                <p class="mb-10">Wheredjsplay is perfectly suitable for agents, artists, promoters, venues, fans and press.</p>
                                                                <img src="{% static 'frontend/images/img_0185.jpg' %}" alt="Wheredjsplay">
                                                        {% endif %}
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        {% endif %}
                                        <li>
                                          {% if request.user.is_authenticated %}
                                             <a href="{% url 'faq' %}" style=" margin-left: -5px;"> Lessons/FAQ</a>
                                            {% endif %}
                                        </li>


                                    <!-- header dropdown buttons -->
                                    {% if request.user.is_authenticated%}
                                    <div class="header-dropdown-buttons hidden-xs "><b>Search</b>
                                        <div class="btn-group search_dropdown">
                                            <button type="button" class="btn dropdown-toggle top-search-btn" data-toggle="dropdown"><i class="icon-search"></i></button>
                                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                <li>

                                                    <form role="search" action="{% url 'artists' %}" method="GET" class="search-box margin-clear">
                                                        <div class="form-group has-feedback" >
                                                            <!-- <input type="text" name="filter-data-id" id="id-filter-data"> -->
                                                            <input type="text" id="top-search-bar-input" name="artist_name" class="form-control typeahead_all search" autocomplete="off" placeholder="Search">
                                                            <i class="icon-search form-control-feedback" type="submit"></i>
                                                            <strong><p style="text-align:center; margin-top:20px;"class="no_result_found"></p></strong>
                                                        </div>
                                                    </form>
                                                    <form action="{% url 'filter_all_submit' %}" id="id-hidden-form" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="" id="id-type" name="id_and_type">
                                                    </form>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <!-- header dropdown buttons end-->
                                </div>
                            </div>
                        </nav>
                        <!-- navbar end -->
                    </div>
                    <!-- main-navigation end -->
                    </div>
                    <!-- header-right end -->
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
</div>
<!-- header-container end -->

<div class="loading-loader">
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</div>

{% endblock %}
