{% block mainfeatures %}

<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-30 clearfix">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-4" style="margin-top: 40px;">-->
                <!-- <h2 class="text-center"><strong>WDJP AND YOU</strong></h2> -->
                <!-- <div class="separator"></div> -->
                <!--<p class="large text-center">A groundbreaking new service for promoters, Djs and agents-->
                <!--</p>-->
            <!--</div>-->
            <div class="col-md-8 col-md-offset-2">
                <!-- <h2 class="text-center"><strong>WDJP AND YOU</strong></h2> -->
                <!--<div class="separator"></div>-->
                <div class="separator"></div>
                <p class="large text-center">WHEREDJSPLAY IS A SERVICE FOR SMART MUSIC INDUSTRY  PROFESSIONALS
                  - CLICK ON YOUR USER TYPE TO SEE WHAT WE CAN OFFER YOU !
                </p>
            </div>
            {% if user_types %}
            {% for user in user_types %}
            <div class="col-md-4">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle" style="background-color:{{ user.user_color }}"><i class="{{ user.icon|safe }}"></i></span>
                    <h5>{{ user.title }}</h5>
                    <div class="separator clearfix"></div>
                    {{ user.description|safe }}
                    <a href="{{ user.button_url }}"  {{ user.button_state }}  class="btn btn-info" style="background-color:{{ user.user_color }};border: {{ user.user_color }};">{{ user.button_title }}</a><br>

                    {% if user.use_second_button == True %}
                        <a href="{{ user.second_button_url }}" {{ user.second_button_state }} class="btn btn-info" style="background-color:{{ user.user_color }};border: {{ user.user_color }};">{{ user.second_button_title }}</a>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div id="coming_soon" class="modal fade" role="dialog">
                {% csrf_token %}
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Coming Soon</h4>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'coming_soon' %}" method="POST" class="coming_soon_form">

                            <label class="pull-left"><strong>Enter your Email :</strong></label>
                            <input type="text" name="email"  class="form-control id_cs_email_dj"/>
                            <small class="cs_email_error" style="color:red;"></small><br>
                            <label class="pull-left"><strong>Enter your Name :</strong></label>
                            <input type="text" name="name"  class="form-control id_cs_name_dj"/>
                            <small class="cs_name_error" style="color:red;"></small><br>
                            <input type="text" name="user_types"  class="form-control id_dj_user_types" value="DJ" required="required" style="display:none;" />

                      </div>
                      <div class="modal-footer">
                            <a onclick="validate_field();" class="btn btn-default">Submit</a>
                      </div>
                      </form>
                    </div>
                </div>
            </div>

        </div>
        <div id="coming_soon_Agent" class="modal fade" role="dialog">
            {% csrf_token %}
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Coming Soon</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'coming_soon' %}" method="POST" class="coming_soon_form_agent">
                        <label class="pull-left"><strong>Enter your Email :</strong></label>
                        <input type="text" name="email"  class="form-control id_cs_email"/>
                        <small class="cs_email_error" style="color:red;"></small><br>
                        <label class="pull-left"><strong>Enter your Name :</strong></label>
                        <input type="text" name="name"  class="form-control id_cs_name"/>
                        <small class="cs_name_error" style="color:red;"></small><br>
                        <input type="text" name="user_types"  class="form-control id_agent_user_types" value="Agent" required="required" style="display:none;"/>
                  </div>
                  <div class="modal-footer">
                        <a onclick="validate_field_agent();" class="btn btn-default">Submit</a>
                  </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="container">
          <!-- <div class="plan shadow light-gray-bg bordered" style="margin-top: 20px; height: 350px;">
            <div class="header default-bg">
                <strong style="font-size: 25px;">News Headlines</strong>
            </div>
            <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" style="text-align:center; height: 300px;">
            {% for news in wdjp_news_all %}
                <ul>
                <li><strong><a href="{% url 'news_detail' news.id %}" style="color: #0e404e;">{{news.title}}</strong></a></li>
              </ul>

            {% endfor %}
          </marquee>
          </div> -->
              <h2 style="text-align:center;"><strong>WorldWide Dj News</strong></h2>
                    {% if wdjp_news_all %}
                    <div class="row">
                            {% for news in wdjp_news_all %}
                                <div class="col-md-4">
                                    <a href="{% url 'news_detail' news.id %}" target="_blank">
                                        <img src="{{ site_url }}/media/{{news.image}}" alt="SORRY WE CANT FIND THE IMAGE " style="height:210px; width: 400px;"></img>

                                    </a>
                                    <p style="background-color:black; width: 130px; color:white; font-size:15px; padding-left: 5px;">{{ news.type }}</p>

                                    <h4 style="text-align:left; font-size: 17px;">
                                      <span style="display:block;width:315px;word-wrap:break-word;">
                                        <a href="{% url 'news_detail' news.id %}" target="_blank" style="text-transform: uppercase;">
                                            <strong>
                                                {% if news.title %}{{news.title|truncatechars:90|safe }} {% else %} {{news.text|truncatechars:90|safe }} {% endif %}
                                            </strong>
                                        </a>
                                        </span>
                                    </h4>
                                </div>
                                {% cycle "" "" "" "</div><br><br><div class='row'>"%}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 style="text-align:center;">News Coming Soon !</h2>
                    {% endif %}
        <!-- </div> -->
        <!-- <div class="container"> -->
                    <!-- <h2 style="text-align:center;">WorldWide Dj News</h2> -->
                    {% if wdjp_news %}
                        <div class="row" style="margin-top: 30px; font-size: 14px;">
                            {% for news in wdjp_news %}
                                <div class="col-md-3">
                                    <a href="{% url 'news_detail' news.id %}" target="_blank">
                                        <img src="{{ site_url }}/media/{{news.image}}" alt="SORRY WE CANT FIND THE IMAGE " style="height:120px; width: 200px;"></img>

                                    </a>
                                    <p style="background-color:black; width: 130px; color:white; font-size:15px; padding-left: 5px;">{{ news.type }}</p>
                                    <h4 style="text-align:left; font-size: 14px;">
                                      <span style="display:block;width:200px;;word-wrap:break-word;">
                                        <a href="{% url 'news_detail' news.id %}" target="_blank" style="text-transform: uppercase;">
                                            <strong>
                                                {% if news.title %}{{news.title|truncatechars:50|safe }} {% else %} {{news.text|truncatechars:50|safe }} {% endif %}
                                            </strong>
                                        </a>
                                      </span>
                                    </h4>
                                </div>
                                {% cycle "" "" "" "</div><br><br><div class='row'>"%}
                            {% endfor %}
                        </div>
                    <!--
                        <h2 style="text-align:center;">News Coming Soon !</h2>-->
                    {% endif %}
        </div>
    </div>
  </div>
</section>
<!-- section end -->

{% endblock %}
