{% load staticfiles %}
{% block newartists %}

<!-- section -->
			<!-- ================ -->
			<section class="pv-30 dark-bg padding-bottom-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<!--<h2 class="text-center">New <strong>Artists</strong></h2>-->
							<h2 class="text-center">Why <strong>Choose Us</strong>?</h2>
							<div class="separator"></div>
							<!--<p class="large text-center"> We aim to provide you with amazing info on all important artists in the nightclub and festival circuit.-->
								<!--We track artists bi-weekly and are constantly improving our analysis of the world of djs.-->
							<!--</p>-->
							<p><h4>
								WhereDJsPlay is here to help music industry professionals work smarter and faster from
							having access to the most sophisticated system rich with valuable information and analytics.
							A fun and professional home from where you can manage your beloved music world.
							<!--</br></br>-->
								<!--Click on your user type below to see what we can offer you.-->
								</h4>
							</p>
							<br>
						</div>
					</div>
				</div>
				<div class="space-bottom">
					<div class="owl-carousel carousel">
						{% if artists %}
						{% for artist in artists %}
						<div class="image-box shadow text-center">
							<div class="overlay-container">
								<img src="{% static 'frontend/images/portfolio-1.jpg' %}" alt="">
								<div class="overlay-top">
									<div class="text">
										<h3><a href="artists.html?{{ artist.pk }}">{{ artist.artistName }}</a></h3>
										<p class="small">Genres and budget</p>
									</div>
								</div>
								<div class="overlay-bottom">
									<div class="links">
										<a href="artists.html?{{ artist.pk }}" class="btn btn-gray-transparent btn-animated">View Profile <i class="pl-10 fa fa-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
			<!-- section end -->

{% endblock %}
