<p>{% block mainfeatures %}

<!-- section start -->
<!-- ================ -->
{% if plans %}
<section class="light-gray-bg pv-30 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"><strong><a href="{% url 'plans' %}">User Account Pricing</a></strong></h2>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            {% for plan in plans %}
            <div class="col-md-4">
                <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
                    <div class="plan shadow light-gray-bg bordered" style="width:100%; margin-left:20px;">
                        <div class="header default-bg" style="background-color:{{ plan.plan_color|safe}};">
                            <h3>{{ plan.title }}</h3>
                            <div class="price"><span>${{plan.amount}}</span>/m.</div>
                        </div>
                        <div class="separator clearfix"></div>
                        {{ plan.description|safe }}
                        <a href="{{plan.button_url}}" class="btn btn-info" style="background-color:{{ plan.plan_color|safe}};border:{{ plan.plan_color|safe}};">{{ plan.button_title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--<div class="text-center"><p>* You can cancel your monthly subscription anytime in the first month and receive a full refund.</p></div>-->
    </div>
</section>
{% endif %}
{% endblock %}
