{% load staticfiles %}
{% block slider %}
<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner-fullscreen">
                <ul class="slides">
                    <!-- slide 1 start -->
                    <!-- ================ -->
                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Research Global Talent">

                    <!-- main image -->
                    <img src="{% static 'frontend/images/slider-image-bg-2.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                    <!-- Transparent Background -->
                    <div class="tp-caption dark-translucent-bg"
                        data-x="center"
                        data-y="bottom"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="0">
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfr stl xlarge_white"
                        data-x="center"
                        data-y="70"
                        data-speed="200"
                        data-easing="easeOutQuad"
                        data-start="1000"
                        data-end="2500"
                        data-splitin="chars"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-splitout="chars">Worlds Top Djs
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfl str xlarge_white"
                        data-x="center"
                        data-y="70"
                        data-speed="200"
                        data-easing="easeOutQuad"
                        data-start="2500"
                        data-end="4000"
                        data-splitin="chars"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-splitout="chars">Incredible Listings
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfr stt xlarge_white"
                        data-x="center"
                        data-y="70"
                        data-speed="200"
                        data-easing="easeOutQuad"
                        data-start="4000"
                        data-end="6000"
                        data-splitin="chars"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-splitout="chars"
                        data-endspeed="400">Artists Search Filters
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sft fadeout text-center large_white"
                        data-x="center"
                        data-y="70"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="6400"
                        data-end="10000"><span class="logo-font">Wheredjsplay</span> <br> Global talent availability tool
                    </div>

                    <!-- LAYER NR. 5 -->
                    <!-- <div class="tp-caption sfr fadeout"
                        data-x="center"
                        data-y="210"
                        data-hoffset="-232"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="1000"
                        data-end="5500"><span class="icon large circle"><i class="circle icon-lightbulb"></i></span>
                    </div>
 -->
                    <!-- LAYER NR. 6 -->
                    <!-- <div class="tp-caption sfl fadeout"
                        data-x="center"
                        data-y="210"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="2500"
                        data-end="5500"><span class="icon large circle"><i class="circle icon-arrows-ccw"></i></span>
                    </div> -->

                    <!-- LAYER NR. 7 -->
                    <!-- <div class="tp-caption sfr fadeout"
                        data-x="center"
                        data-y="210"
                        data-hoffset="232"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="4000"
                        data-end="5500"><span class="icon large circle"><i class="circle icon-chart-line"></i></span>
                    </div> -->

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                        data-x="center"
                        data-y="170"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="6400"
                        data-end="10000"><div class="separator light"></div>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption sft fadeout medium_white text-center"
                        data-x="center"
                        data-y="210"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="5800"
                        data-end="10000"
                        data-endspeed="600"> WHEREDJSPLAY IS UNIQUE  SYSTEM DESIGNED FOR SMART MUSIC INDUSTRY  PROFESSIONALS:<br> - PROMOTERS, AGENTS, DJS, PRESS AGENTS AND FANS <br>
                        </div>
                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption fade fadeout"
                        data-x="center"
                        data-y="bottom"
                        data-voffset="100"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="2000"
                        data-end="10000"
                        data-endspeed="200">
                        <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                    </div>
                    </li>
                    <!-- slide 1 end -->

                    <!-- slide 2 start -->
                    <!-- ================ -->
                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Features">

                    <!-- main image -->
                    <img src="{% static 'frontend/images/slider1.jpg' %}" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                    <!-- Transparent Background -->
                    <div class="tp-caption dark-translucent-bg"
                        data-x="center"
                        data-y="bottom"
                        data-speed="500"
                        data-easing="easeOutQuad"
                        data-start="0">
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfb fadeout large_white"
                        data-x="left"
                        data-y="70"
                        data-speed="500"
                        data-start="1000"
                        data-easing="easeOutQuad"
                        data-end="10000"><span class="logo-font">Wheredjsplay</span> <br> What you get from us
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb fadeout text-left medium_white"
                        data-x="left"
                        data-y="180"
                        data-speed="500"
                        data-start="1300"
                        data-easing="easeOutQuad"
                        data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-bar-chart" style="font-size:14px"></i></span> The World top Djs Listings and Analysis
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb fadeout text-left medium_white"
                        data-x="left"
                        data-y="240"
                        data-speed="500"
                        data-start="1600"
                        data-easing="easeOutQuad"
                        data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-fire"></i></span> Comparative Statistics on Talent Popularity
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sfb fadeout text-left medium_white"
                        data-x="left"
                        data-y="300"
                        data-speed="500"
                        data-start="1900"
                        data-easing="easeOutQuad"
                        data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-database"></i></span> A Database of the worlds top agents and talent managers
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption sfb fadeout text-left medium_white"
                        data-x="left"
                        data-y="360"
                        data-speed="500"
                        data-start="2200"
                        data-easing="easeOutQuad"
                        data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-calendar"></i></span> A framework  to create, book and process your events to ensure success.
                    </div>

                    <!-- LAYER NR. 7 -->
                    <!-- {% if not request.user.is_authenticated %}
                        <div class="tp-caption sfb fadeout small_white"
                            data-x="left"
                            data-y="460"
                            data-speed="500"
                            data-start="2500"
                            data-easing="easeOutQuad"
                            data-endspeed="600" style="font-size: 10px;"><a href="{% url 'request_an_invite' %}" class="btn btn-default btn-lg btn-animated">Request An Invite<i class="fa fa-user-plus"></i></a>
                        </div>
                    {% endif %} -->
                    </li>
                    <!-- slide 2 end -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->
{% endblock %}
