{% load staticfiles %}
{% block testimonials %}
<!-- section -->
<!-- ================ -->
{% if testimonials %}
<section class="pv-30 default-bg padding-bottom-clear">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <h2 class="title" style="margin-top: 20px;"><strong>Real people. Real success</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-carousel content-slider">
        {% for testimonial in testimonials %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                        <div class="testimonial-image">
                            {% if testimonial.image != "" %}
                                <img src="{{ testimonial.image.url }}" alt="image" title="image" class="img-circle">
                            {% else %}
                                <img src="{% static 'frontend/images/testimonial-1.jpg' %}" alt="name" title="name" class="img-circle">
                            {% endif %}
                        </div>
                        <h3>{{ testimonial.title }}</h3>
                        <div class="separator"></div>
                        <div class="testimonial-body">
                            <blockquote>
                                <p>{{ testimonial.message }}</p>
                            </blockquote>
                            <div class="testimonial-info-1">- {{ testimonial.name }}</div>
                            <div class="testimonial-info-2">By {{ testimonial.company }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<!-- section end -->
{% endblock %}
