{% load staticfiles %}
{% block whatoffer %}

<!-- section -->
<!-- ================ -->
<section class="light-blue-bg pv-30" style ="background-color:orange;color:#333333;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>What We <strong>Offer</strong></h2>
                <div class="separator-2"></div>
                <p>
                    Tired of navigating page after page of data from Facebook, ticketing portals, and DJ pages as you dig for the information you need? WhereDjsPlay is here to help!
                    With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energies on booking your ideal talent and getting things done.
                    Quickly and easily search for DJ availability on a specific date, by a certain genre, within a given budget, and/or in a particular location.
                    You can also view regional flight share options and touring artists, send booking requests to the world’s top talent agents, and research global venues - faster and easier than ever before.
                </p>
                <p>
                    With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energy on booking your ideal talent and getting things done.
                </p>
                <ul class="list-icons">
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1"></i> Date searches</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1"></i> Regional searches</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1"></i> Artist rankings</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Thousands of events, venues and artists</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Events map view</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Artist tour dates</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Send booking requests</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Make offer sheets</li>
                    <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Include your own events</li>
                </ul>
                <!-- <p>Don't miss out on this offer. <strong>Choose</strong> the membership plan that fits your needs.</p>
                <a href="#" class="btn btn-default btn-hvr hvr-shutter-out-horizontal btn-lg"><i class="icon-users-1 pr-10"></i>Pricing</a> -->
            </div>
            <div class="col-md-6">
                <br>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Compare Talent</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">View Regions</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">What We Hope</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div class="overlay-container overlay-visible">
                                <img src="{% static 'frontend/images/sneak.png' %}" alt="">
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <strong>Music</strong>
                                        that is an art form and cultural activity whose medium is sound and silence, which exist in time.
                                        "There is no noise, only sound. Is it a quote from Dj Sneak?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div class="overlay-container overlay-visible">
                                <img src="{% static 'frontend/images/territory.png' %}" height="100%" width="100%" alt="">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <h3>WDJP hopes to rock your world with great listings, availability analysis and more !</h3>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- section end -->

{% endblock %}
