{% load staticfiles %}
{% block whychooseus %}
<!-- section -->
			<!-- ================ -->
			<section class="dark-bg pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Why <strong>Choose</strong> Us</h2>
							<div class="separator"></div>
							<p class="large text-center">Tired of navigating page after page of data from Facebook, ticketing portals, and DJ pages as you dig for the information you need? WhereDjsPlay is here to help! With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energies on booking your ideal talent and getting things done. Quickly and easily search for DJ availability on a specific date, by a certain genre, within a given budget, and/or in a particular location. You can also view regional flight share options and touring artists, send booking requests to the world’s top talent agents, and research global venues - faster and easier than ever before. </p>
							<p class="large text-center">With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energy on booking your ideal talent and getting things done.</p>
							<br>
						</div>
					</div>
				</div>
				<div class="owl-carousel content-slider">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
							</div>
							<div class="col-md-6">
								<p class="space-top">Get ready for business growth and greater success with cutting edge analytics</p>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="fa fa-globe"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Global DJ Availability</h4>
										Scan and Analyze Potential Availability for your future events.
									</div>
								</div>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="fa fa-calendar-o"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Event Management</h4>
										Manage your event portfolio in a simple CMS.
									</div>
								</div>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="fa fa-line-chart"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Dj Analytics</h4>
										Understand the true popularity of talent and compare the worlds djs.
									</div>
								</div>
								<!-- <p><a href="#" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p> -->
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 text-right">
								<p class="space-top">Get ready for business growth and greater success with cutting edge analytics</p>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">Extremely Flexible</h4>
										WhereDJsPlay is a user friendly environment. Whether you’re on a desktop, tablet or mobile phone you’ll get an optimised interface from us.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
										</a>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">Packed Full Of Features</h4>
										Membership plans that fit your needs.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
										</a>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">iOS & Android Apps</h4>
										Comming soon.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
										</a>
									</div>
								</div>
								<!-- <p><a href="#" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p> -->
							</div>
							<div class="col-md-6">
								<img src="{% static 'frontend/images/section-image-2.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

{% endblock %}
