{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | About </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block slider %}
 	<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/page-about-banner-1.jpg'); background-position: 50% 27%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <ol class="breadcrumb">
                                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
        							<li class="active">Page About</li>
                                </ol>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg">
                                <div class="col-xs-2 col-xs-offset-4">
                                    <ol class="breadcrumb">
                                        <span style="color:black"; class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
					<!-- <div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
							<li class="active">Page About</li>
						</ol>
					</div> -->
				</div>
				<!-- breadcrumb end -->
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Wheredjsplay</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
WHERE DJS PLAY is an international team of music lovers, workers and computer scientists who want to change and improve the way you work in  music by giving you better facts to make better decisions and book more quickly</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock slider %}

{% block content %}

		<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<h3 class="title">Who <strong>We Are</strong></h3>
							<div class="separator-2"></div>
							<div class="row">
								<div class="col-md-6">
                                    <p>
                                        <strong>WHERE DJS PLAY</strong> is an international team of music lovers, workers and computer scientists who want to change and improve the way you work in music by giving you better facts to make better decisions about partying.
                                    </p>
                                    <p>
                                        Made by (HopeFully) Smart People from London To Tokyo, Iasi To Noida, Indore to Shanghai, Manila to Davao and Thessaloniki to Ghana with Love !
                                    </p>
                                    <p>
                                        <strong>Team - </strong>
                                        Coming soon !
                                    </p>
                                    <!-- <p>
                                        Tired of navigating page after page of data from Facebook, ticketing portals, and DJ pages as you dig for the information you need? WhereDjsPlay is here to help!
                                        With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energies on booking your ideal talent and getting things done.
                                        Quickly and easily search for DJ availability on a specific date, by a certain genre, within a given budget, and/or in a particular location.
                                        You can also view regional flight share options and touring artists, send booking requests to the world’s top talent agents, and research global venues - faster and easier than ever before.
                                    </p>
                                    <p>
                                        With the tools provided by our unique platform you’ll spend a fraction of the time researching and can focus your energy on booking your ideal talent and getting things done.
                                    </p> -->
									<ul class="list-icons">
										<li><i class="icon-check-1"></i> Regional searches</li>
										<li><i class="icon-check-1"></i> Free updates</li>
										<li><i class="icon-check-1"></i> Artist rankings</li>
										<li><i class="icon-check-1"></i> Thousands of events, venues and artists</li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="owl-carousel content-slider-with-controls">
										<div class="overlay-container overlay-visible">
											<img src="{% static '/static/frontend/images/dashboard/search_availabile_artist.jpeg' %}" alt="">
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<h3 class="title">Availabilty Search</h3>
												</div>
											</div>
											<a href="{% static '/static/frontend/images/dashboard/search_availabile_artist.jpeg' %}" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
										</div>
										<div class="overlay-container overlay-visible">
											<img src="{% static '/static/frontend/images/dashboard/compare_artist.jpeg' %}" alt="">
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<h3 class="title">Compare Artist</h3>
												</div>
											</div>
											<a href="{% static '/static/frontend/images/dashboard/compare_artist.jpeg' %}" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
										</div>
										<div class="overlay-container overlay-visible">
											<img src="{% static '/static/frontend/images/dashboard/setup_ur_event.jpeg' %}" alt="">
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<h3 class="title">Setup Your Event</h3>
												</div>
											</div>
											<a href="{% static '/static/frontend/images/dashboard/setup_ur_event.jpeg' %}" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>

				<!-- section start -->
				<!-- ================ -->
				<!-- section end -->
			</section>
			<!-- main-container end -->
    <br>
	{% include "home/_whyChooseUs.html" %}
	{% include "home/_clients.html" %}
	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
