{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Demo-video </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                    <li class="active"><a href="{% url 'demo_video' %}">Demo Video</a></li>
                </ol>
            </div>
        </div>
        <!-- breadcrumb end -->
<div class="container">
    <h2>Finding Available Artist On WDJP Lesson-101</h2>
    <hr>
    <div style="text-align:center">
        <iframe src="https://www.youtube.com/embed/jhidxdT88TY" width="708" height="400" frameborder="0" style="padding:20px;" allowfullscreen></iframe>
    </div>
</div>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
