{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | FAQ </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block slider %}

		<!-- ================ -->
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
        						<li class="active"><a href="{% url 'faq' %}">FAQ</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock slider %}
			<!-- main-container start -->

			<!-- ================ -->
{% block content %}
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
              <div class="text-center">
                  <h1 class="page-title" > {% if request.user.is_authenticated %}Lessons & {% endif %} Frequently Asked Questions</h1>
                  {% if request.user.is_authenticated %}
                  <p>We have prepared some amazing introductory lessons to help you get the best out of WDJP features !! We advise you check them out first !</p>
                  {% endif %}
                  <div class="separator-2"></div>
                  <a target="_blank" href="https://docs.google.com/forms/u/0/d/1h0e3_PVbG_-l253OHLNxllDKstpE0fEi2elp--mBmk4/edit?usp=forms_home&ths=true" class="btn btn-default" style="background-color:#222222;">Wdjp User Survey </a>
              </div>
							<!-- page-title end -->
							<!-- Nav tabs -->
							<ul class="nav nav-tabs style-1" role="tablist">
                                {% if request.user.is_authenticated %}
								<li><a href="#tab1" role="tab" data-toggle="tab"><i class="fa fa-cog pr-10"></i>Lessons</a></li>
                                {% endif %}
								<li class="active"><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10 "></i>FAQ</a></li>

								<!-- <li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Popular Topics</a></li> -->
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab2">
									<!-- accordion start -->
									<!-- <div class="panel-group collapse-style-1" id="accordion-faq">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>What is Wheredjsplay ?
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse">
												<div class="panel-body">
                                                WDJP Is a system that allows promoters, djs and agents to get better information about global talent and make bookings more quickly and efficiently than ever before.
                                                We use original searches within our dataset of artists and events to produce easy to understand info about djs.
                                                So WDJP shows when they are they might be free- are they close to you, how popular they are.
                                                This will provide active promoters with a competitive advantage in their decision making That is why it is initially B2B software and a chargeable service.
                                                </div>
										    </div>
                                        </div>

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>Where does the date info come from ?
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We gather information from major portals including Facebook and have a research team in India who research the data and update it on a weekly basis.
                                                </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> I want to join WDJP in beta ?
													</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We’ll give you two weeks free access and then it’s 45 USD per month. We are looking for a limited number of active users initially.  Please request an invite here.-
                                                     <a href="{% url 'signup' %}" >Click Here</a>
                                                    Please note that at the beta stage WDJP is not open to all promoters and agents so if your invitation is refused do not take offense . When we move out of beta it will probably be open to all and you can re-apply at that stage.
                                                 </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What do the buttons on the side of the events do ?
													</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<div class="panel-body">
                                                    They allow you to search for the event parameter on Facebook, google or twitter.
                                                    This is helpful if you want to find an event promoter, source event artwork or other info online.
                                                </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What do the buttons on the side of the artist do ?
													</a>
												</h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse">
												<div class="panel-body">
                                                    ‘Add to favorites’ allows you always to prioritise certain artists in searches.
                                                    So if you add the fifty acts you most want to book and then click down when you search and prioritise favorites this will ensure that you see these first.<br>
                                                    ‘Booking request’ allows you to send event info to yourself with the agent’s details thus considerably  speeding up the booking process and giving you records of which acts you have tried to book. ‘Email dates’ allows you to send a snapshot.
                                                </div>
                                            </div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> How does Free dates work
													</a>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We look at the online listings that are currently accessible and analyse data, showing what weekends are not booked; we then enter that info into a calendar we send you.
                                                </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEight" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> I tried to book a DJ who seemed to be shown Potentially Available, I emailed the agent and they were booked ?
													</a>
												</h4>
											</div>
											<div id="collapseEight" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We can’t really help you here as many deals are often in progress and not yet announced online, so we can’t promise you can book a DJ simply because they are not showing dates online.
                                                </div>
                                            </div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseNine" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> It says Potentially Available but I checked On Facebook and they were booked ? Why is that ? You are out of date!
													</a>
												</h4>
											</div>
											<div id="collapseNine" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We update once a week so it’s always possible that talent has added dates in the interim. That’s why we provide the check buttons for you to use. We will speed up the data updating process over time.                                                </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Why can’t I email Djs directly through Where DJs Play ?
													</a>
												</h4>
											</div>
											<div id="collapseTen" class="panel-collapse collapse">
												<div class="panel-body">
													We send you the agent’s email address and the necessary details for you to email directly yourself
                                                </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEleven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> How can you represent so much great talent?
													</a>
												</h4>
											</div>
											<div id="collapseEleven" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We don’t represent artists and we never will.- WDJP is simply a collation and presentation of publicly available information to help promoters, djs and agents make better decisions.												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwelve" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            I love the artists you represent how can I join ?
													</a>
												</h4>
											</div>
											<div id="collapseTwelve" class="panel-collapse collapse">
												<div class="panel-body">
													We don’t represent artists and we never will. We are an information service to help promoters and bookers make good decisions, not a booking agency
												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThirteen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            ‘Similar artist’ displays some weird names that aren’t like the selected artist
													</a>
												</h4>
											</div>
											<div id="collapseThirteen" class="panel-collapse collapse">
												<div class="panel-body">
													Sorry we are fixing this the programe is still in the beta stage
                                                </div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFourteen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            There’s an artist that I don’t think is an artist from that genre included in the genre group													</a>
												</h4>
											</div>
											<div id="collapseFourteen" class="panel-collapse collapse">
												<div class="panel-body">
                                                    The genre tags are intended to be inclusive and therefore artists will appear in multiple genres and budget selections												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFifteen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            I want my DJs to be included in your system
													</a>
												</h4>
											</div>
											<div id="collapseFifteen" class="panel-collapse collapse">
												<div class="panel-body">
                                                    Please email us, but note that we have selected the talent based on standards of global popularity and do not intend to be a listing for “all djs” so please don’t assume that we will add everyone.										</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSixteen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            Why can’t I see all the listing on google maps functionality ?
                                                    </a>
												</h4>
											</div>
											<div id="collapseSixteen" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We are working to improve this and it will get better over time,			</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeventeen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>
                                                            How dare you represent my Dj on your site ?
                                                    </a>
												</h4>
											</div>
											<div id="collapseSeventeen" class="panel-collapse collapse">
												<div class="panel-body">
                                                    We are sorry you that you don’t like us having your DJ’s details on the site.  But please note we are only collating publicly available information about DJs.   We always direct booking and other requests to registered managements for those reasons.  The searches for information that we carry out will hopefully result in more accurate communications coming to you from the people that you want to hear from.  <br> <br>
                                                    However if you are upset about this, then please also note the following.  Joining WDJP is currently an invitation-only process for members who make bookings, not at this time accessible for the general public. And finally of course if you wish us to remove any DJ managed by yourselves we will.  Just ask.
                                                 	</div>
											</div>
										</div>
									</div> -->
									<!-- accordion end -->

									<div class="panel-group collapse-style-1" id="accordion-faq">
										<div class="panel panel-default">
                                            {% for faq in all_faq %}
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse{{faq.id}}" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>{{ faq.question|safe}}
													</a>
												</h4>
											</div>
											<div id="collapse{{faq.id}}" class="panel-collapse collapse">
												<div class="panel-body">
                                                    {{ faq.answer|safe|linebreaks }}
                                                </div>
											</div>
                                            {% endfor %}
										</div>
									</div>
								</div>
                                {% if request.user.is_authenticated %}
								<div class="tab-pane fade in active" id="tab1">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq-2">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseOne-2"  class="collapsed">
														<i class="fa fa-arrow-right pr-10"></i>WDJP 101 - Available Artist Search
													</a>
												</h4>
											</div>
											<div id="collapseOne-2" class="panel-collapse collapse">
												<div class="panel-body">
                                                    <a href="{% url 'faq_avail' %}"> WDJP 101 - Available Artist Search </a>
											    </div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTwo-2" class="collapsed">
														<i class="fa fa-arrow-right pr-10"></i> WDJP 102 - Compare Artist
													</a>
												</h4>
											</div>
											<div id="collapseTwo-2" class="panel-collapse collapse">
												<div class="panel-body">
                                                    <a href="{% url 'faq_compare' %}"> WDJP 102 - Compare Artist </a>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseThree-2" class="collapsed">
														<i class="fa fa-arrow-right pr-10"></i> WDJP 103 - Global Event System
													</a>
												</h4>
											</div>
											<div id="collapseThree-2" class="panel-collapse collapse">
												<div class="panel-body">
                                                    <a href="{% url 'faq_global_event' %}"> WDJP 103 - Global Event System </a>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFour-2" class="collapsed">
														<i class="fa fa-arrow-right pr-10"></i> WDJP 104 - Create Events
													</a>
												</h4>
											</div>
											<div id="collapseFour-2" class="panel-collapse collapse">
												<div class="panel-body">
                                                    <a href="{% url 'faq_events' %}"> WDJP 104 - Create Events </a>
												</div>
											</div>
										</div>
										<!-- <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFive-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis.
													</a>
												</h4>
											</div>
											<div id="collapseFive-2" class="panel-collapse collapse">
												<div class="panel-body">
													Ipsam quod impedit, ea necessitatibus quasi, quis rem nemo laboriosam labore, temporibus fugit placeat, consectetur eaque qui amet! Cum ab nulla voluptatibus, velit eius tempore veniam, quos voluptate iusto commodi error, obcaecati debitis, qui ad reiciendis officiis cumque! Repudiandae quos distinctio dolor consequatur commodi quae iusto beatae, laborum saepe enim voluptates tempore tenetur expedita eveniet eius recusandae id eaque, sequi illo neque. Illo voluptate molestias harum quas, accusantium placeat consectetur dignissimos. Perspiciatis architecto accusamus pariatur similique porro expedita ad commodi delectus illum a consequuntur laboriosam fugit libero nisi non, amet fugiat, ducimus, quia? Maiores ex mollitia eos labore, cupiditate neque earum perferendis consequatur pariatur quis sunt repellendus dolores veritatis dicta nemo expedita. Impedit unde totam sint! Eius consequuntur ipsam dolorem, debitis, ea ipsa eum nulla ullam dolorum autem necessitatibus. Repudiandae vero incidunt at cum ipsa illum autem reprehenderit nisi, cupiditate modi ab voluptatum asperiores ullam? Nobis ipsum deleniti odio facilis pariatur omnis reiciendis expedita minima eveniet delectus quam assumenda modi nesciunt excepturi magni maxime, asperiores illum optio fugiat. Ullam sit, a et!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSix-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.
													</a>
												</h4>
											</div>
											<div id="collapseSix-2" class="panel-collapse collapse">
												<div class="panel-body">
													Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur! Sit dolore minus cumque quam commodi eaque impedit, nulla ex repellat tempora suscipit quaerat voluptates incidunt optio reiciendis illum voluptatum eveniet cum obcaecati ad saepe necessitatibus voluptas. Sunt ullam maxime eaque voluptatibus quia consequuntur, illum? Iure provident officiis animi, ratione minima at consequatur doloremque tenetur. Sapiente recusandae dolore reprehenderit velit autem consequuntur cumque eum illo tempora nobis praesentium laborum eius, provident vitae eveniet, porro in eligendi veniam magni dolorum rem quibusdam. Iure error, esse aliquam necessitatibus repellendus magnam nemo dolorum. Dolorem a veritatis iste provident, numquam ex, voluptates dolorum placeat.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSeven-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.
													</a>
												</h4>
											</div>
											<div id="collapseSeven-2" class="panel-collapse collapse">
												<div class="panel-body">
													Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEight-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae.
													</a>
												</h4>
											</div>
											<div id="collapseEight-2" class="panel-collapse collapse">
												<div class="panel-body">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae soluta mollitia quia vel amet nobis? Ipsa dolores ipsum laudantium perferendis placeat molestias libero aliquam officia obcaecati maiores sunt esse quisquam laboriosam impedit commodi rerum eius ipsam quaerat reiciendis quis tempora necessitatibus veniam beatae, ad architecto. Assumenda quia ipsum expedita veritatis facere magni error ullam, maiores numquam! Facilis repellat, iste maxime blanditiis vel ullam rerum! Velit numquam sint maxime illum aut porro, praesentium non quibusdam vel necessitatibus ullam omnis ad veniam libero autem, voluptatem voluptatibus, consequatur commodi harum. Dignissimos doloremque nihil dolores incidunt, at facilis corporis unde deserunt alias consequatur voluptatibus cupiditate sint quaerat reiciendis, culpa maiores dolorem ipsam ab ratione totam ut laboriosam eos magni? Laboriosam nisi, delectus earum soluta quam nemo aut, eveniet sapiente modi a est, nobis unde iure alias doloribus. Non laboriosam quasi placeat repudiandae temporibus delectus!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseNine-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta.
													</a>
												</h4>
											</div>
											<div id="collapseNine-2" class="panel-collapse collapse">
												<div class="panel-body">
													Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTen-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Assumenda reprehenderit minus quas odit obcaecati unde.
													</a>
												</h4>
											</div>
											<div id="collapseTen-2" class="panel-collapse collapse">
												<div class="panel-body">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit minus quas odit obcaecati unde, necessitatibus id sit corrupti dolore, pariatur, rem officiis sequi quasi molestiae magnam enim laudantium maxime vel commodi adipisci illo non quibusdam porro accusamus. Tempora ducimus ut quis pariatur ex quasi deserunt, voluptatum consectetur odit. Architecto magnam ipsa quam, repellat praesentium, minima dignissimos minus maxime expedita? Quam esse culpa ipsa. Sunt eveniet veniam expedita, voluptates veritatis. Quo natus officia porro perspiciatis, itaque est illo. Quod, laboriosam esse nostrum officia facere dolor quos nihil provident aliquid veritatis, sequi necessitatibus quasi at blanditiis illo omnis beatae ratione, voluptatem nemo voluptatibus mollitia cumque fugiat. Consectetur impedit porro hic corporis? Quod qui, similique cum eum deleniti omnis neque corrupti illum quibusdam incidunt, iure quisquam vero non asperiores debitis suscipit nobis delectus consequatur voluptatibus sapiente amet iusto magnam voluptate rerum. Repellat nam autem quidem temporibus natus quaerat facere porro! Rem, inventore.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEleven-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat.
													</a>
												</h4>
											</div>
											<div id="collapseEleven-2" class="panel-collapse collapse">
												<div class="panel-body">
													Eius repellendus voluptas molestiae, voluptatem, debitis ea iure quam repellat incidunt minus facere magnam, officiis consequuntur rerum. Ratione accusamus delectus quam nisi repellendus dolore quos incidunt officia asperiores, quisquam quis recusandae odit perspiciatis cumque eum modi dolorum velit tempore laboriosam totam! Veritatis similique beatae vel eum ad quidem, officia hic autem facilis et architecto reiciendis recusandae sint, ullam rerum quisquam voluptas ipsa alias ea excepturi a ab labore? Ipsum quod laboriosam vitae nostrum saepe nobis beatae ducimus rem tempore omnis et iste, illum reprehenderit maxime sequi aliquam atque, consequuntur corrupti libero debitis autem molestias. Cum vitae rerum autem libero ea? Culpa at voluptatem minus et, consequuntur blanditiis, similique aliquam dolorum quos accusantium atque. Temporibus neque aut libero unde, odit nihil architecto perferendis fugit molestiae laborum quod perspiciatis accusamus commodi dolorem illo nobis quis debitis asperiores, facilis dicta quos? Quam maxime laborum aut ratione fuga, esse sit quia rerum odio assumenda nobis magnam!
												</div> -->
											</div>
										</div>
                                        {% endif %}
									</div>
									<!-- accordion end -->
								</div>
								<!-- <div class="tab-pane fade" id="tab3">
									<!-- accordion start -->
									<!-- <div class="panel-group collapse-style-1" id="accordion-faq-3">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseOne-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
													</a>
												</h4>
											</div>
											<div id="collapseOne-3" class="panel-collapse collapse">
												<div class="panel-body">
													Distinctio dolor assumenda optio a adipisci inventore culpa tempora molestias fuga cupiditate alias sint labore, quod minus iusto ad earum, vel nihil ipsum necessitatibus maxime facere? Corporis inventore, saepe placeat labore rerum assumenda repudiandae, eveniet aperiam dolor quibusdam porro nesciunt omnis voluptatum, perspiciatis. Doloremque perspiciatis quas sunt, similique modi facere a atque unde impedit assumenda accusantium vel animi iste omnis cupiditate amet quae ipsam repudiandae sint doloribus praesentium natus magnam et minima consequatur. Facilis corporis similique reiciendis officiis veritatis consectetur est rerum natus, hic illo molestiae voluptas numquam enim aut fugit possimus, ducimus ipsam quisquam, ab doloribus. Deleniti quam repudiandae eos, maxime commodi quas sit accusamus error eius. Ea temporibus eos, iusto!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseTwo-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Molestiae hic, optio libero nobis praesentium amet delectus nihil.
													</a>
												</h4>
											</div>
											<div id="collapseTwo-3" class="panel-collapse collapse">
												<div class="panel-body">
													Excepturi illo labore architecto quasi maxime voluptas, laborum rerum non fuga. Sit rerum doloremque hic voluptas harum voluptatibus obcaecati ducimus atque magni, quod eius dolores commodi voluptates! Reiciendis porro magnam tempore ipsa obcaecati fuga earum unde libero, sapiente voluptatibus nemo exercitationem minus praesentium, itaque cupiditate qui assumenda quas quidem sed, nisi animi debitis quaerat. Quo magni incidunt enim aspernatur fugit rem blanditiis hic asperiores est. Dolor doloremque adipisci earum officiis soluta sapiente laboriosam! Optio aspernatur magni quas molestias temporibus quibusdam commodi ab, repellendus modi sapiente repudiandae perspiciatis molestiae, ea sint dolor consectetur aliquam delectus nisi minima officia vel tenetur quam pariatur, quidem? Voluptatem architecto quam nisi, molestiae saepe quo expedita odio corporis.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseThree-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Labore soluta aspernatur a optio incidunt molestias.
													</a>
												</h4>
											</div>
											<div id="collapseThree-3" class="panel-collapse collapse">
												<div class="panel-body">
													Quam dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis voluptas magni vero assumenda quidem odit beatae ullam eaque et nesciunt saepe officia cupiditate expedita laboriosam quae. Ea suscipit eius repellat rem voluptate consectetur quaerat, similique architecto enim fugiat vitae dolorem expedita. Voluptatum, repellendus dolores iure sit, necessitatibus repellat nemo atque provident perferendis ducimus. Distinctio quisquam perspiciatis vero error quos cum, ea culpa similique magni, iure ipsam amet fuga voluptatem assumenda! Labore soluta aspernatur a optio incidunt molestias consequatur minus molestiae nisi, iusto officiis eaque ipsam magni doloremque cum pariatur delectus dolore quae vero nobis esse enim, iste. Molestias maxime, odit, ducimus ab libero architecto vel accusantium et beatae excepturi incidunt obcaecati?
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFour-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Quam dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis.
													</a>
												</h4>
											</div>
											<div id="collapseFour-3" class="panel-collapse collapse">
												<div class="panel-body">
													Ipsam quod impedit, ea necessitatibus quasi, quis rem nemo laboriosam labore, temporibus fugit placeat, consectetur eaque qui amet! Cum ab nulla voluptatibus, velit eius tempore veniam, quos voluptate iusto commodi error, obcaecati debitis, qui ad reiciendis officiis cumque! Repudiandae quos distinctio dolor consequatur commodi quae iusto beatae, laborum saepe enim voluptates tempore tenetur expedita eveniet eius recusandae id eaque, sequi illo neque. Illo voluptate molestias harum quas, accusantium placeat consectetur dignissimos. Perspiciatis architecto accusamus pariatur similique porro expedita ad commodi delectus illum a consequuntur laboriosam fugit libero nisi non, amet fugiat, ducimus, quia? Maiores ex mollitia eos labore, cupiditate neque earum perferendis consequatur pariatur quis sunt repellendus dolores veritatis dicta nemo expedita. Impedit unde totam sint! Eius consequuntur ipsam dolorem, debitis, ea ipsa eum nulla ullam dolorum autem necessitatibus. Repudiandae vero incidunt at cum ipsa illum autem reprehenderit nisi, cupiditate modi ab voluptatum asperiores ullam? Nobis ipsum deleniti odio facilis pariatur omnis reiciendis expedita minima eveniet delectus quam assumenda modi nesciunt excepturi magni maxime, asperiores illum optio fugiat. Ullam sit, a et!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFive-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.
													</a>
												</h4>
											</div>
											<div id="collapseFive-3" class="panel-collapse collapse">
												<div class="panel-body">
													Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur! Sit dolore minus cumque quam commodi eaque impedit, nulla ex repellat tempora suscipit quaerat voluptates incidunt optio reiciendis illum voluptatum eveniet cum obcaecati ad saepe necessitatibus voluptas. Sunt ullam maxime eaque voluptatibus quia consequuntur, illum? Iure provident officiis animi, ratione minima at consequatur doloremque tenetur. Sapiente recusandae dolore reprehenderit velit autem consequuntur cumque eum illo tempora nobis praesentium laborum eius, provident vitae eveniet, porro in eligendi veniam magni dolorum rem quibusdam. Iure error, esse aliquam necessitatibus repellendus magnam nemo dolorum. Dolorem a veritatis iste provident, numquam ex, voluptates dolorum placeat.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseSix-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.
													</a>
												</h4>
											</div>
											<div id="collapseSix-3" class="panel-collapse collapse">
												<div class="panel-body">
													Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?
												</div>
											</div>
										</div>
									</div>  -->
									<!-- accordion end -->
								<!-- </div> -->
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<!-- <aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Submit Your Question</h3>
									<div class="separator-2"></div>
									<div class="alert alert-success hidden" id="MessageSent3">
										We have received your message, we will contact you very soon.
									</div>
									<div class="alert alert-danger hidden" id="MessageNotSent3">
										Oops! Something went wrong please refresh the page and try again.
									</div>
									<form role="form" id="sidebar-form" class="margin-clear">
										<div class="form-group has-feedback">
											<label for="name3">Name</label>
											<input type="text" class="form-control" id="name3" placeholder="Enter your name" name="name3">
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="email3">Email address</label>
											<input type="email" class="form-control" id="email3" placeholder="Enter your email" name="email3">
											<i class="fa fa-envelope form-control-feedback"></i>
										</div>
										<div class="form-group">
											<label>Category</label>
											<select class="form-control" id="category">
												<option value="Sales">Sales</option>
												<option value="Support">Support</option>
												<option value="Lorem">Lorem</option>
												<option value="Ipsum sit">Ipsum sit</option>
												<option value="Dolor amet">Dolor amet</option>
											</select>
										</div>
										<div class="form-group has-feedback">
											<label for="message3">Message</label>
											<textarea class="form-control" rows="4" id="message3" placeholder="" name="message3"></textarea>
											<i class="fa fa-pencil form-control-feedback"></i>
										</div>
										<input type="submit" value="Submit" class="submit-button btn btn-default">
									</form>
								</div>
								<div class="block clearfix">
									<h3 class="title">Text Sample</h3>
									<div class="separator-2"></div>
									<p>Consectetur adipisicing. Repellendus neque doloremque, quasi earum voluptatum velit eveniet commodi vel, beatae consequuntur vero ex facilis blanditiis excepturi numquam pariatur ipsum ipsam voluptates!</p>
								</div>
							</div>
						</aside> -->
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
