{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'faq' %}">Lessons</a></li>
            <li class="active"><a href="{% url 'faq_avail' %}">WDJP-101</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2> <b> Welcome to Where DJs Play aka WDJP.</b> </h2>
            <p> I wanted to send the first of four quick tutorial emails to get you familiar with some of the most important functions of WDJP.</p>
            <hr>
            <p> <b> Today, we’re looking at the Available Artist Search feature </b> </p>
            <p> Available Artist Search is the easiest way to find artist who are potantially free during specific dates--like the
            weekend of an event you're organizing as an example</p>
            <img src="{% static 'frontend/images/artist_1.png' %}" alt="" width="100%" />
            <hr>
            <p> It’s also an incredible way to work out which of the available
             artists is also the most popular artists via their social media
             followings and in you budget helping you draw crowds or make
             sure your event is a hit.</p>
            <p> This is the most powerful tool of its kind, so let’s make sure you
             know how to use it.
             Today you'll learn: How to find available artists for your events </p>
             <p> <b> Here are the steps: </b> </p>
            <hr>
            <ol type="1.">
                <li>
                    <h4> Choose <B> Single Day </b> or <b> Period of Time </b> and enter a date you're looking to find available artists. </h4>
                    <img src="{% static 'frontend/images/artist-2.png' %}" alt="" width="100%" />
                </li>
                <hr>
                <li>
                    <h4> Your search for artist in techno <b> genre </b> at xx <b>budget</b> most popular on spotify has following results.</h4>
                    <img src="{% static 'frontend/images/artist-3.png' %}" alt="" width="100%" />
                </li>
                <hr>
                <li>
                    <h4> Click Find Now and then left-click to select artists you’re interested in from your search results.</h4>
                    <img src="{% static 'frontend/images/artist-4.png' %}" alt="" width="100%" />
                </li>
                <hr>
                <li>
                    <h4> Click View Tour Dates and confirm your Selected Dates don’t clash with their Upcoming Events.</h4>
                    <img src="{% static 'frontend/images/artist-5.png' %}" alt="" width="100%" />
                </li>
            </ol>
            <p class="large text-center"> It's that easy !</p>
            <hr>
            <p> <b> You can watch the step-by-step tutorial video here </b>
            </p>
            <iframe src="https://www.youtube.com/embed/wGQdFhfyAoQ?ecver=2" height="400" width="100%" frameborder="0" allowfullscreen></iframe>
            </p>
            <hr>
            <p> Okay, now that you’ve got the list of Available Artist Search, </p>
            <p> let's go give it a shot. </p>
            <p> Just click the button below to get started... </p>
            <a href="http://www.wheredjsplay.com/availabilty-search/" class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="availableDj">
                    <span aria-hidden="true"></span> Find Available DJS
                </button> </a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
