{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'faq' %}">Lessons</a></li>
            <li class="active"><a href="{% url 'faq_compare' %}">WDJP-102</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img src="{% static 'frontend/images/compare.png' %}" alt="" width="100%" />
            <h2> <b> How to compare the DJs? </b> </h2>
            <p> You can compare 2 DJs or multiple Djs at a time. as shown above and hit <b>Compare DJ's Button</b> and </p>
            <p> you are able to see the statistics including social media,popularity, of both the artists.</p>
            <h2> <b> Compare as per your needs </b> </h2>
            <img src="{% static 'frontend/images/compare_1.jpg' %}" alt="" width="100%" />
            <p>You can set filters for the most suitable DJs as per your needs.
            </p>
            <p>
                <b>Compare Multiple DJs</b>
            </p>
            <p>
                You can compare 4 DJs or multiple DJs by selecting the names of the DJs after you applied the filters and can go through all the statistics as mentioned above and choose the best DJ for your event
            </p>
            <hr>
                <img src="{% static 'frontend/images/compare_2.png' %}" alt="" width="100%" />
            <hr>
            <p> <b> You can watch the step-by-step tutorial video here </b>
            </p>
            <iframe src="https://www.youtube.com/embed/7g3Pu7xkGTE?ecver=2" height="400" width="100%" frameborder="0" allowfullscreen></iframe>
            <p class="large text-center">Isn't it is easy!</p>
            <p class="large text-center">Want to give it a shot?</p>
            <div class="text-center">
                <a href="http://www.wheredjsplay.com/artists/compare/ " class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="availableDj">
                    <span aria-hidden="true"></span> Compare Artist
                </button> </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
