{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'faq' %}">Lessons</a></li>
            <li class="active"><a href="{% url 'faq_events' %}">WDJP-104</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2> <b> How to quickly create your own events and request artists to perform </b> </h2>
            <p> In the third of our quick tutorials, today you'll see how easy it is
             to create an event and request artists to perform at it.
            Not only does it streamline your offer process, but it also helps you make better event offers through a standardized form.
            </p>
            <p> Artists will be able to quickly and easily see all the important details of your event at a glance which helps make sure you’ve got the best opportunity at booking them.<br>
            <b> So, let's jump right in...</b>
            </p>
            <hr>
            <p> <b> Today you'll learn: How to quickly create your own events and request artists to perform </b> </p>
            <p> here are the steps: </p>
            <p> <b> creating An Event </b> </p>
            <ol type="1.">
                <li>
                    <h4> Click Create Events </h4>
                    <img src="{% static 'frontend/images/event-1.png' %}" alt=""width="100%" />
                <hr>
                </li>
                <li>
                    <h4> Use the<b> Booking Request Form </b>to fill in your event details and then <b> click Save</b></h4>
                    <img src="{% static 'frontend/images/event-2.png' %}" alt="" width="100%" />
                </li>
                <hr>
                <li>
                    <h4> You can also fill in the second form, which is the <b> Offer Sheet</b> and click <b>Save </b> </h4>
                    <img src="{% static 'frontend/images/event-3.png' %}" alt="" width="100%" />
                </li>
                <hr>
                <p> Note: The details from either form can be used when requesting an artist to perform at your event, but we recommend you fill out both forms so artists and their management have all the information they need to decide-this will help you book them in!</p>
                <hr>
                <p> <b> <h2> Requesting An Artist To Perform </h2> </b> </p>
                <ol type="1.">
                    <li>
                        <h4> Search and select the artists you’d like to perform and then click View Tour Dates </h4>
                        <img src="{% static 'frontend/images/event-6.png' %}" alt="" width="100%" />
                    </li>
                    <hr>
                    <li>
                        <h4> Click Booking Request, fill in the form, and then click Send and Confirm </h4>
                        <img src="{% static 'frontend/images/event-7.png' %}" alt="" width="100%" />
                    </li>
                    <hr>
                    <li>
                        <h4> Check the email registered with your WDJP account for a message with the subject heading </h4>
                        <img src="{% static 'frontend/images/event-8.png' %}" alt="" width="100%" />
                    </li>
                        <hr>
                    <li>
                        <h4> In this message, you'll have:</h4>
                        <p> -contact details for the artists you requested </p>
                        <p> - a pre-drafted message with all your booking request details </p>
                        <p> to perform Simply forward this pre-drafted message to the artists </p>
                        <p> and you'll be able to discuss the finer details privately in your own inbox.</p>
                        <img src="{% static 'frontend/images/event-9.png' %}" alt="" width="100%" />
                        <hr>
                    </li>
                </ol>
                <p> <b> You can watch the step-by-step tutorial video here </b>
                </p>
                <iframe src="https://www.youtube.com/embed/vm8OTVfgUaE?ecver=2" height="400" width="100%" frameborder="0" allowfullscreen></iframe>
                <p> There is no simpler way to manage the entire artist booking process and begin private discussions with the talent, so please take advantage of this system!</p>
                <p> You'll even be able to see a record of the artists you've contacted for each event in the My Events section to help you manage it all. </p>
                <p> Why don't you try creating an event now to see how it all works. </p>
                <p> Just click the button below to get started: </p>
                <div class="text-center">
                <a href="/events/add-event/" class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="availableDj">
                    <span aria-hidden="true"></span>create an event
                </button> </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
