{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="text-center">How to find information on events around the world</h2>
            <p><b>Global Event System</b> you’ll find out how to search for information on events around the world.
            </p>
            <p>It’s brilliant because you can:
            </p>
            <ul>
                <li>
                    Easily find information about shows playing anywhere in the world
                </li>
                <li>
                    Quickly see what countries, cities, or territories are the most popular for events
                </li>
                <li>
                    Effortlessly see what genre of music is most popular within each area
                </li>
                <li>
                    And see the top 10 artists within each area
                </li>
            </ul>
            <p>You can also view upcoming events on a map which can help you visualize where most venues are located within an area you’re looking at.<br>
            <b>Here Are The Steps:</b>
            </p>
            <p>
                <ol type="1.">
                    <li>
                        Choose either <b>Country</b> or <b>Territory</b> and select an option from the drop-down lists
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        If you want, you can narrow your search by <b>Genre</b> or <b>Budget</b>
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        Click <b>Find Now</b> and you’ll see all the Upcoming Events for artists performing in your chosen area
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        You can watch the step-by-step tutorial video here
                    </li>
                </ol>
                <iframe src="https://www.youtube.com/embed/jhidxdT88TY" height="400" width="100%" frameborder="0" style="padding:20px;" allowfullscreen></iframe>
            </p>
            <p>
                3 simple steps and you’ll have the most comprehensive collection of global artist information available today.
            </p>
            <p>
                Keep scrolling down and you’ll be able to see charts showing:
            </p>
            <ul>
                <li>
                    The top 10 cities within the area you chose
                </li>
                <li>
                    The top 10 artists by popularity and by number of events they’ve performed within the area you chose
                </li>
                <li>
                    How popular each genre is within the area you chose
                </li>
            </ul>
            <p class="large text-center">
                Isn't it is easy!
            </p>
            <p class="large text-center">The amount of time this saves you is incredible, so go and check your own country out now to see how easy this really is!</p>
            <div class="text-center">
                <a href="http://www.wheredjsplay.com/territory/ " class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary" id="availableDj">
                    <span aria-hidden="true"></span> See Global Events
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
