{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="text-center">WDJP tutorials:</h2>
            <p>
                <b> You can watch the step-by-step tutorial videos on the links below</b>
            </p>
            <ul>
                <li>
                     <a href="{% url 'help_available_artist' %}">How to find potentially available artists using WDJP.</a>
                </li>
                <li>
                    <a href="{% url 'help_compare_artist' %}">How to compare artists online popularity.</a>
                </li>
                <li>
                    <a href="{% url 'help_global_event' %}">How to search for events worldwide to find available djs. </a>
                </li>
                <li>
                    <a href="{% url 'help_create_event' %}">How to create event templates to send to Djs.</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
