{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="text-center">How to quickly create your own events and request artists to perform</h2>
            <p><b>How to create events</b> you’ll see how easy it is to create an event and request artists to perform at it.
            </p>
            <p>Not only does it streamline your offer process, but it also helps you make better event offers through a standardized form.
            </p>
            <p>Artists will be able to quickly and easily see all the important details of your event at a glance which helps make sure you’ve got the best opportunity at booking them.<br>
            <b>Here Are The Steps:</b>
            </p>
            <p>
                <ol type="1.">
                    <li>
                        Click <b>Create Events</b>
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        Use the <b>Booking Request Form</b> to fill in your event details and then click Save
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        You can also fill in the second form, which is the Offer Sheet and click Save
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                    </li>
                    <li>
                        You can watch the step-by-step tutorial video here
                    </li>
                </ol>
                <iframe src="https://www.youtube.com/embed/jhidxdT88TY" height="400" width="100%" frameborder="0" style="padding:20px;" allowfullscreen></iframe>
            </p>
            <p>
                The details from either form can be used when requesting an artist to perform at your event, but we recommend you fill out both forms so artists and their management have all the information they need to decide—this will help you book them in!
            </p>
            <p>
                Keep scrolling down and you’ll be able to see charts showing:
            </p>
            <ol type="1.">
                <li>
                    Search and select the artists you’d like to perform and then click <b>View Tour Dates</b>
                    <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                </li>
                <li>
                    Click <b>Booking Request</b>, fill in the form, and then click <b>Send</b> and <b>Confirm</b>
                    <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                </li>
                <li>
                    Check the email registered with your WDJP account for an email message
                    <img src="{% static 'frontend/images/section-image-1.png' %}" alt="">
                </li>
                <li>In this message, you’ll have:
                    <ul>
                        <li>
                            contact details for the artists you requested to perform
                        </li>
                        <li>
                            a pre-drafted message with all your booking request details Simply forward this pre-drafted message to the artists and you’ll be able to discuss the finer details privately in your own inbox
                        </li>
                    </ul>
            </ol>
            <p>
                There is no simpler way to manage the entire artist booking process and begin private discussions with the talent, so please take advantage of this system!
            </p>
            <p>
                You’ll even be able to see a record of the artists you’ve contacted for each event in the My Events section to help you manage it all.
            </p>
            <p class="large text-center">
                Why don’t you try creating an event now to see how it all works.
            </p>
            <p class="large text-center">Just click the button below to get started:</p>
            <div class="text-center">
                <a href="http://www.wheredjsplay.com/events/booking-request/" class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary" id="availableDj">
                    <span aria-hidden="true"></span>create an event
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
