{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>How To Find Available Artist For Your Event</h2>
            <p><b>Available Artist Search</b> is the easiest way to find artist who are potantially free during specific dates-like the
            weekend of an event you're organizing as an example</p>
            <p>It is an incredible way to find artist who are likely to be success at your event</p>
            <p>You can quickly do this by ordering selected artists via there fan base size on social media.</p>
            <p>This is the most powerful publicity-available tool of this kind, so lets make sure you how to use it.<br>
            <b>Here Are The Steps:</b>
            </p>
            <p>
                <ol type="1.">
                    <li>
                        Choose <b>Single Day</b> or <b>Period Of Time</b> and enter a date you'r looking to find available artist
                        <img src="{% static 'frontend/images/image.gif' %}" alt="" width="100%">
                    </li>
                    <li>
                        Click <b>Find Now</b> and then left-click to select artist you'r interested in from your search results
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="" width="100%">
                    </li>
                    <li>
                        If you want, you can narrow your search by <b>Genre,Budget</b> or <b>Popularity</b>
                        <img src="{% static 'frontend/images/image (1).gif' %}" alt="" width="100%">
                    </li>
                    <li>
                        Click <b>View Tour Dates</b> and Confirm your Selected Dates don't clash with their Upcoming Events
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="" width="100%">
                    </li>
                    <li>
                        You can watch the step-by-step tutorial video here
                    </li>
                </ol>
                <iframe src="https://www.youtube.com/embed/wGQdFhfyAoQ?ecver=2" height="400" width="100%" frameborder="0" allowfullscreen></iframe>
            </p>
            <p class="large text-center">Isn't it is easy!</p>
            <p class="large text-center">Okay, now thats you've got the list of the Available Artist Search,let's go give it a shot.</p>
            <div class="text-center">
                <a href="http://www.wheredjsplay.com/availabilty-search/" class="dark" style="cursor: pointer;">
                <button type="button" class="btn btn-primary" id="availableDj">
                    <span aria-hidden="true"></span> Find Available DJS
                </button> </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
