{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Help </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>How to quickly compare up to five artists in seconds</h2>
            <p><b>Compare Artist</b> In the second of our quick tutorials, today you’ll see how the <b>Compare Artists</b> feature works in WDJP.</p>
            <p>This is perfect if you’ve got several artists you could book,but you’re not sure which one would fit best with your event.</p>
            <p>Using Compare Artists, you’ll be able to quickly see things like:</p>
            <ul>
                <li>
                    An artist’s social media following and overall popularity
                </li>
                <li>
                    How popular they are in different countries
                </li>
                <li>
                    What countries they’re performed in
                </li>
                <li>
                    How many events they’ve performed in the past 12 months
                </li>
            </ul>
            <p>The information you can quickly find using this feature in WDJP is unparalleled, so without further ado…<br>
                <b>Here Are The Steps:</b><br>
            </p>
            <p>
                <b>When comparing 2 artists</b>
            </p>
            <p>
                <ol type="1.">
                    <li>
                        Type an artist’s name into each search box and
                        <img src="{% static 'frontend/images/section-image-1.png' %}" width="100%" alt="">
                    </li>
                    <li>
                        Click <b>Compare DJ’s</b>
                        <img src="{% static 'frontend/images/section-image-1.png' %}" alt="" width="100%">
                    </li>
                <ol>
            </p>
            <p>
                <b>When comparing up to 5 artists</b>
            </p>
                <ol type="1.">
                    <li>
                        Apply the <b>Genre,Budget</b> or <b>Popularity</b> filters and left-click to select artists you’re interested in from your search results
                        <img src="{% static 'frontend/images/section-image-1.png' %}" width="100%" alt="">
                    </li>
                    <li>
                        Click <b>Compare DJ’s</b>
                        <img src="{% static 'frontend/images/section-image-1.png' %}" width="100%" alt="">
                    </li>
                    <li>
                        You can watch the step-by-step tutorial video here
                    </li>
                </ol>
                <iframe src="https://www.youtube.com/embed/7g3Pu7xkGTE?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                <p class="large text-center">Isn't it is easy!</p>
                <p class="large text-center">Want to give it a shot?</p>
                <div class="text-center">
                    <a href="http://www.wheredjsplay.com/artists/compare/ " class="dark" style="cursor: pointer;">
                    <button type="button" class="btn btn-primary" id="availableDj">
                        <span aria-hidden="true"></span> Compare Artist
                    </button> </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
