{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{% url 'home' %}">Home</a></li>
            <!-- <li class="active"><a href="{% url 'home' %}">News</a></li> -->
            <!-- <li class="active">Total Results : {{total_result}}</li> -->
        </ol>
    </div>
</div>

<section style="background: #eee">
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-md-offset-6 col-sm-offset-7">
            <h3><strong>Home</strong></h3>
        </div>
    </div>
    <div class="row">
        <div id="newsDiv" class="col-sm-6 col-md-7">
            <div class="wd-stream">
                <div class="wd-stream--article">
                    <center><h4><strong>DJ EVENT NEAR YOU</strong></h4></center><br>
                    {% for value in event_list %}
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5">
                                <p>Name:- {{value.event_data.eventName}}</p>
                                <p>Date:- {{value.event_data.date}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>Venue Address:- {{value.venue_data.venueaddress}}</p>
                                <p>Search Ticket:- <a target="_blank" href="https://www.google.com/search?q={{value.event_data.eventName}} {{value.venue_data.venueaddress}} Ticket ">Click Here</a>
                            </div>
                        </div><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="newsDiv" class="col-sm-4 col-md-5">
                <div class="wd-stream">
                <div class="wd-stream--article">
                {% for news in latest_news %}
                    <div class="row">
                        <div class="col-sm-9">
                            <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                            <p class="wd-posted-on">
                                {{ news.publish_date}}
                            </p>
                            <!-- <div class="wd-article--text">
                                <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                                {% if news.modified_text %}{{news.modified_text|truncatechars:300|safe }} {% else %} {{news.text|truncatechars:800|safe }} {% endif %}
                                <a href="{{news.url}}" target="_blank"> Read the Article</a>
                            </div>-->
                            <div class="wd-article--tags">
                                {% for artist in news.artists.all %}
                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- {% if news.imageurl %}
                        <div class="col-sm-3">
                            <div class="wd-article--thumbnail">
                                <img src="{{news.imageurl}}" alt="{{news.title}}">
                            </div>
                        </div>
                        {% endif %} -->
                    </div><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- <center> <p> <a href="{% url 'news' %}"> <u> View all news </u> </a></p> </center> -->
        </div>
    </div>
</div>
</section>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
