{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | Contact </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block slider %}

		<!-- ================ -->
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        						<li class="active">Mobile User</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			<!-- breadcrumb end -->
{% endblock slider %}
			<!-- main-container start -->

			<!-- ================ -->
{% block content %}
	<section class="main-container" style="background-color:#f1f1f1;">
		<div class="container">
            <div class="row">
                <ul class="nav nav-pills center-pills nav-justified" role="tablist">
                <li id="t1" class="active" ><a href="#tab2" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> DJ Events Near You </a></li>
                <li id="t2"><a href="#tab3" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> EDM Headlines </a></li>
            <!-- <li><a href="#tab4" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Bass/Trap News </a></li> -->
                <li id="t3"><a href="#tab5" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Techno Headlines </a></li>
                </ul>
            </div>
            <br>
            <div class ="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab2">
                    {% if not event_list %}
                        <div class="near-event-card">
                            <div class="event-header">
                                Sorry, There are currently no events in your area.
                            </div>
                        </div>
                    {% endif %}
                    {% for value in event_list %}
                        <div class="near-event-card">
                            <div class="event-header">
                                <div class="row">
                                    <div class="col-md-6 col-xs-8">
                                        <b style="font-size:20px;">{{value.event_data.date|date:'l'|slice:"3"}} / {{value.event_data.date|date:"d M "}} / {{value.event_data.eventName}}</b><br><br>
                                        {% if value.event_data.venueName %}
                                            Venue Name:-<b>{{value.event_data.venueName}}<b><br>
                                        {% endif %}
                                        {% if value.event_data.date %}
                                            Date:-<b>{{value.event_data.date}}</b><br>
                                        {% endif %}
                                        {% if value.event_data.startTime %}
                                            Time:-<b>{{value.event_data.startTime}}</b><br>
                                        {% endif %}
                                        {% if value.venue_data.venueaddress %}
                                            Venue Address:- <b>{{value.venue_data.venueaddress}}</b><br>
                                        {% endif %}
                                        <br>
                                        <a target="_blank" href="https://www.google.com/search?q={{value.event_data.eventName}} {{value.venue_data.venueaddress}} Ticket '" class="btn btn-sm btn-default btn-animated margin-clear">Search Ticket <i class="fa fa-search"></i></a>
                                        <hr>
                                    </div>
                                    <div class="col-md-offset-4 col-md-2 col-xs-4">
                                        {% if value.top_artist.artistPhoto %}
                                        <img src="{{ value.top_artist.artistPhoto.url }}" style="display:inline;margin-left:5px;" alt="{{artist.artistName}}" width="120px" height="120px">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <p>Artist Performing -
                                        {% for artist in value.artist_performing %}
                                            <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                <span class="label wd-label-article">{{ artist.artistName }}</span>
                                            </a>
                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if event_list %}
                        <div>
                            <center><h3>Near By Event Map</h3></center>
                            <iframe src="{% url 'nearby_event_map' %}" style="width:100%;height:400px;overflow:hidden;" frameborder="0"></iframe>
                        </div>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    <div class = "hidden-md hidden-sm hidden-lg">
                        <div id="newsDiv">
                            {% for news in edm_news %}
                            <div class="wd-stream">
                                <div class="wd-stream--article" style="padding: 20px 34px;">
                                    <div class="row">
                                        {% if news.imageurl %}
                                        <div class="col-sm-3">
                                            <div class="wd-article--thumbnail">
                                                <img src="{{news.imageurl}}" alt="{{news.title}}">
                                            </div>
                                         </div>
                                        {% endif %}
                                        <!-- <div class="col-sm-3">
                                            {% for artist in news.artists.all|slice:"1" %}
                                                {% if artist.artistPhoto %}
                                                    <div style="margin-bottom: 20px; margin-top: 10px">
                                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" style="width: 100%;" >
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div> -->
                                        <div class="col-sm-9" style="padding-top: 20px;">
                                            <strong><a href="{{news.url}}" target="_blank" style="color:black; font-size:initial">{{ news.title }} - </a></strong>
                                            {% if news.modified_text %}{{ news.modified_text|truncatewords_html:20|safe }} {% else %} {{ news.text|truncatewords_html:30|safe }} {% endif %}
                                            <a href="{{news.url}}" target="_blank">View at {{ news.source }}</a>
                                            <div class="wd-article--tags">
                                                {% if news.artists.all %}
                                                <p><strong>News about -</strong>
                                                {% for artist in news.artists.all %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}<br><br>
                                                <small><strong>{{ news.publish_date|date:"d M Y"}}</strong></small>
                                                {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                             <img class="events_loader upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div style="text-align:center" id="edm_mobile_show_more_hide{{start}}">
                            <button style="margin-right: 25px;" class="btn btn-default" id="show_more_edm_news" onclick="load_more_news('edm')"> <span class="glyphicon glyphicon-plus"></span>Show More News</button>
                            <a href="{% url 'news' %}"> <u> View all news </u> </a>
                            <input type="hidden" name="start" value="{{ start }}" id="id_pagination_start_edm"/>
                        </div>
                    </div>
                    <div class = "hidden-xs">
                        <div id="newsDiv">
                            {% for news in edm_news %}
                            <div class="wd-stream">
                                <div class="wd-stream--article">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                                            <p class="wd-posted-on">
                                                {{ news.publish_date|date:"d M Y"}}
                                            </p>
                                            <div class="wd-article--text">
                                                <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                                                {% if news.modified_text %}{{ news.modified_text|truncatewords_html:40|safe }} {% else %} {{ news.text|truncatewords_html:50|safe }} {% endif %}
                                                <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                            </div>
                                            <div class="wd-article--tags">
                                                {% for artist in news.artists.all %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if news.imageurl %}
                                        <div class="col-sm-3">
                                            <div class="wd-article--thumbnail">
                                                <img src="{{news.imageurl}}" alt="{{news.title}}">
                                            </div>
                                         </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <img class="events_loader upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div style="text-align:center" id="edm_desk_show_more_hide{{start}}">
                            <button style="margin-right: 25px;" class="btn btn-default" id="show_more_edm_news" onclick="load_more_news('edm')"> <span class="glyphicon glyphicon-plus"></span> Show More News</button>
                            <a href="{% url 'news' %}"> <u> View all news </u> </a>
                            <input type="hidden" name="start" value="{{ start }}" id="id_pagination_start_edm"/>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab5">
                    <div class = "hidden-md hidden-sm hidden-lg">
                        <div id="newsDiv">
                            {% for news in techno_news %}
                            <div class="wd-stream">
                                <div class="wd-stream--article" style="padding: 20px 34px;">
                                    <div class="row">
                                        {% if news.imageurl %}
                                        <div class="col-sm-3">
                                            <div class="wd-article--thumbnail">
                                                <img src="{{news.imageurl}}" alt="{{news.title}}">
                                            </div>
                                         </div>
                                        {% endif %}
                                        <!-- <div class="col-sm-3">
                                            {% for artist in news.artists.all|slice:"1" %}
                                                {% if artist.artistPhoto %}
                                                    <div style="margin-bottom: 20px; margin-top: 10px">
                                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" style="width: 100%;" >
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div> -->
                                        <div class="col-sm-9" style="padding-top: 20px;">
                                            <strong><a href="{{news.url}}" target="_blank" style="color:black; font-size:initial;">{{ news.title }} - </a></strong>
                                            {% if news.modified_text %}{{ news.modified_text|truncatewords_html:20|safe }} {% else %} {{ news.text|truncatewords_html:30|safe }} {% endif %}
                                            <a href="{{news.url}}" target="_blank">View at {{ news.source }}</a>
                                            <div class="wd-article--tags">
                                                {% if news.artists.all %}
                                                <p><strong>News about -</strong>
                                                {% for artist in news.artists.all %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}<br><br>
                                                <small><strong>{{ news.publish_date|date:"d M Y"}}</strong></small>
                                                {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                             <img class="events_loader techno_upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div style="text-align:center" id="mobile_show_more_hide{{techno_start}}">
                            <button style="margin-right: 25px;" class="btn btn-default" id="show_more_techno_news" onclick="load_more_news('techno')"> <span class="glyphicon glyphicon-plus"></span>Show More News</button>
                            <a href="{% url 'news' %}"> <u> View all news </u> </a>
                            <input type="hidden" name="techno_start" value="{{ techno_start }}" id="id_techno_pagination_start"/>
                        </div>
                    </div>
                    <div class = "hidden-xs">
                        <div id="newsDiv">
                            {% for news in techno_news %}
                            <div class="wd-stream">
                                <div class="wd-stream--article">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                                            <p class="wd-posted-on">
                                                {{ news.publish_date|date:"d M Y"}}
                                            </p>
                                            <div class="wd-article--text">
                                                <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                                                {% if news.modified_text %}{{ news.modified_text|truncatewords_html:40|safe }} {% else %} {{ news.text|truncatewords_html:50|safe }} {% endif %}
                                                <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                            </div>
                                            <div class="wd-article--tags">
                                                {% for artist in news.artists.all %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if news.imageurl %}
                                        <div class="col-sm-3">
                                            <div class="wd-article--thumbnail">
                                                <img src="{{news.imageurl}}" alt="{{news.title}}">
                                            </div>
                                         </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                             <img class="events_loader techno_upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div style="text-align:center" id="desk_show_more_hide{{techno_start}}">
                            <button style="margin-right: 25px;" class="btn btn-default" id="show_more_techno_news" onclick="load_more_news('techno')"> <span class="glyphicon glyphicon-plus"></span>Show More News</button>
                            <a href="{% url 'news' %}"> <u> View all news </u> </a>
                            <input type="hidden" name="techno_start" value="{{ techno_start }}" id="id_techno_pagination_start"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% if not request.user.is_authenticated %}
                <center>
                    <p>CHECK OUT WDJP DJ ANALYTICS ONLINE <a href="http://www.wheredjsplay.com">WHEREDJSPLAY.COM</a></p>
                    <a href="{% url 'login_user' %}" class="btn btn-default">Login</a>
                    <a href="{% url 'request_an_invite' %}" class="btn btn-default">Sign Up Here</a>
                </center>
            {% else %}
                    <center> <a href="{% url 'index' %}" class="btn btn-default">Home</a> </center>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block extra_js %}

<script>

function load_more_news(news_type){
    if(news_type == "techno"){
        techno_start = $("#id_techno_pagination_start").val();
        $(".techno_upcoming_svg").show();
        data = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "techno_start":techno_start,
            "techno":"techno",
        }
        $.ajax({
            url: "{% url 'load_more_news' %}",
            type: "POST",
            data: data,
            success: function(response) {
                if ( response.techno_more === 'False'){
                   $("#show_more_techno_news").hide();
                   }
                $(".techno_upcoming_svg").hide();
                $("#tab5").append(response.data);
                start = $('#id_techno_pagination_start').val();
                $("#desk_show_more_hide"+start).hide();
                $("#mobile_show_more_hide"+start).hide();
                if (response.techno_more){
                    start = response.techno_start;
                    $('#id_techno_pagination_start').val(response.techno_start);
                }
            }
        })
    }
    if(news_type == "edm"){
        start = $("#id_pagination_start_edm").val();
        $(".upcoming_svg").show();
        data = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "start":start,
            "edm":"edm",
        }
        $.ajax({
            url: "{% url 'load_more_news' %}",
            type: "POST",
            data: data,
            success: function(response) {
                if ( response.more === 'False'){
                   $("#show_more_edm_news").hide();
                   }
                $(".upcoming_svg").hide();
                $("#tab3").append(response.data);
                start = $('#id_pagination_start_edm').val();
                $("#edm_desk_show_more_hide"+start).hide();
                $("#edm_mobile_show_more_hide"+start).hide();
                if (response.more){
                    start = response.start;
                    $('#id_pagination_start_edm').val(response.start);
                }
            }
        })
    }

    }
</script>
{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
