{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | {{ map }} Map </title> {% endblock title %}
{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<script type="text/javascript" src="{% static 'frontend/js/map_styles.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript">
    var gm = google.maps;
    var oms;
    var marker = [];

    var map;
    var mapOptions = {
        scrollwheel: false,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(-31.9505, 115.8605),
        styles: map_styles
    };

    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

    var mark_counter = 0;

    var infowindow = new google.maps.InfoWindow();

    var future_mark = 1;

    function initialize() {
        map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);

        oms = new OverlappingMarkerSpiderfier(map);

        var address = (document.getElementById('address'));
        var autocomplete = new google.maps.places.Autocomplete(address);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            $("#searchPanel").collapse('hide');
            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            map.setCenter(place.geometry.location);
            map.setZoom(3);
        });
        getArtistData();

    }

    function getArtistData() {

        $.get( "/current-location-map-api/" , function(response) {
            var artistData = JSON.parse(response);


                var artistEvents  = artistData[0].events;
                for(var i in artistEvents) {
                    var artistDetail  = artistEvents[i].artistDetail;
                    var eventData = artistEvents[i].eventDetail;
                    var venueData = artistEvents[i].venueDetail;
                    if(venueData.venueLatitude != "0.000000000") {
                        var coordinates = new google.maps.LatLng(venueData.venueLatitude, venueData.venueLongitude);
                        if(eventData.eventType == 'past') {
                            var iconURL = new google.maps.MarkerImage(
                                    "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                                    null, /* size is determined at runtime */
                                    null, /* origin is 0,0 */
                                    null, /* anchor is bottom center of the scaled image */
                                    new google.maps.Size(36, 48)
                            );
                        }
                        else {
                            marker_value = parseInt(i) + 1;
                            var iconURL = new google.maps.MarkerImage(
                                    "http://chart.apis.google.com/chart?chst=d_map_spin&chld=1|0|00E44C|12|_|"+marker_value,
                                    null, /* size is determined at runtime */
                                    null, /* origin is 0,0 */
                                    null, /* anchor is bottom center of the scaled image */
                                    new google.maps.Size(36, 36)
                            );
                            future_mark++;
                        }
                        marker[mark_counter] = new google.maps.Marker({
                            position: coordinates,
                            map: map,
                            id: mark_counter,
                            venue: venueData.venueName,
                            artist_image: artistDetail.artist_image,
                            address: venueData.venueAddress,
                            artist: artistDetail.artist,
                            event: eventData.eventName,
                            date: eventData.date,
                            startTime: eventData.startTime,
                            endTime: eventData.endTime,
                            city: venueData.city,
                            country: venueData.country,
                            icon: iconURL,
                            type: eventData.eventType

                        });

                        google.maps.event.addListener(marker[mark_counter], "click", function (event) {
                            var d = new Date(this.date);
                            var dateArray = String(d).split(" ");
                            var date = dateArray[0] + " / " + dateArray[2] + " " + dateArray[1];
                            var time = "";
                            var google_search = 'https://www.google.com/search?q=' + this.artist + " " + this.event + " Tickets " + this.date;
                            if(this.startTime != "") time += this.startTime;
                            if((this.endTime != "") && (time != "")) time += " - " + this.endTime;
                            else time += this.endTime;
                            var content = "<h4><b>" + this.artist + " - " + date +" / " + this.event + "</b></h4><br/>";
                            if(this.startTime != "" || this.endTime != "") content+="<div class='pull-left' style='width: 50%;'>"; content += "Time: <b>" + time + "</b><br/>";
                            content += "Venue Name: <b>" + this.venue + "</b><br/>";
                            if(this.address != "") content += "Venue Address: <b>" + this.address + "</b><br/>";
                            if(this.city != "") content += "Venue City: <b>" + this.city + "</b><br/>";
                            if(this.country != "") content += "Venue Country: <b>" + this.country + "</b><br/>";
                            content += "<a href='"+google_search+"' target='_blank'>Search Tickets</a>";
                            content+="</div>";
                            content += "<div style='width: 50%; text-align:right; float:right !important;'><img style='display: inline-block;' src='"+this.artist_image+"' height='100' width='100'></div>";
                            infowindow.setContent(content);
                            infowindow.setPosition(this.getPosition());
                            infowindow.open(map);
                        });

                        oms.addMarker(marker[mark_counter]);
                        mark_counter++;
                    }
                }
                getEvents('future');

        });
    }

    function getEvents(type) {
        // $("#searchPanel").collapse('hide');
        infowindow.close();
        var artist_bounds = new google.maps.LatLngBounds();
        var future_count = 0;
        var map_center;
        for(var i in marker) {
            if(type == "all") {
                marker[i].setVisible(true);
                artist_bounds.extend(marker[i].getPosition());
            } else {
                if(marker[i].type == type) {
                    if(future_count == 0) map_center = marker[i].getPosition();
                    marker[i].setVisible(true);
                    artist_bounds.extend(marker[i].getPosition());
                    future_count++;
                } else {
                    marker[i].setVisible(false);
                }
            }
        }
        map.fitBounds(artist_bounds);
        map.setCenter(map_center);
    }

    function getParamValue(paramName)
    {
        var url = window.location.search.substring(1); //get rid of "?" in querystring
        var qArray = url.split('&'); //get key-value pairs
        for (var i = 0; i < qArray.length; i++)
        {
            var pArr = qArray[i].split('='); //split key and value
            if (pArr[0] == paramName)
                return pArr[1]; //return value
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function(){
        initialize();
    });

</script>
{% endblock %}

{% block content %}

<div class="artist_map">
    <div class="panel panel-default panel-style">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#searchPanel" aria-expanded="false" aria-controls="searchPanel">
                    Search Filters
                </a>
            </h4>
        </div>
        <div id="searchPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>Search By Address</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Search Address" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>Filter By Date</label>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" id="all-events" name="events" style="margin-right:10px" onclick="getEvents('all')" />All Events
                        </div>
                        <div class="col-md-2">
                            <input type="radio" id="past-events" name="events" style="margin-right:10px" onclick="getEvents('past')" />Past Events
                        </div>
                        <div class="col-md-2">
                            <input type="radio" id="future-events" name="events" checked style="margin-right:10px" onclick="getEvents('future')" />Future Events
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map_canvas" style="position: absolute !important;width: 100%; height: 90%"></div>
</div>


{% endblock %}
