{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Privacy Policy </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Privacy Policy</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <br>
            <h4 style="margin-left:30px;"><strong>WhereDjsPlay Privacy Policy</strong></h4><br>
        </div>
    </div>
    <div class="row">
        <div class="main col-md-12 well">
            <b>OUR DATA PROTECTION &amp; PRIVACY POLICY</b>
            <p>At WhereDjsPlay (WhereDjsPlay),
                we value your privacy and want to be clear about the data we collect,
                how we use it and your rights to control that information,
                which is why we've made some updates to our Privacy Statement.
            </p>
            <p>
                We made these updates to reflect the high standards established by the General Data Protection Regulation (GDPR),
                a set of laws passed in the European Union. Because we believe all readers of of WhereDjsPlay and “wheredjsplay” have the right to these standards of protection,
                we are implementing these updates globally.
            </p>
            <p>
                We respect your personal data. We have never and will never sell it to third parties.
            </p>
            <b>CONTEXT &amp; OVERVIEW</b>
            <p>Policy prepared by: Matthew Shipp  became operational on: 25/05/2018. </p>

            <b>Introduction</b>
            <p>WhereDjsPlay / GLOBAL CREATIVE NETWORKS (WhereDjsPlay) needs to gather and use certain information about individuals.</p>
            <p>These can include customers, suppliers, business contacts, employees and other people the organisation has a relationship with or may need to contact.</p>
            <p>This policy describes how this personal data must be collected, handled and stored to meet the company’s data protection standards — and to comply with the law.</p>

            <b>Why this policy exists</b>
            <p>This data protection policy ensures WhereDjsPlay / GLOBAL CREATIVE NETWORKS (WhereDjsPlay):</p>
            <p>Complies with data protection law including the GDPR and follow good practice in regard to user data</p>
            <p>Protects the rights and data of staff, customers and partners</p>
            <p>Is open about how it stores and processes individuals’ data</p>
            <p>Protects itself from the risks of a data breach</p>

            <b>Data Protection Law</b>
            <p>The Data Protection Bill and the General Data Protection Regulation (GDPR) describes how organisations — including WhereDjsPlay / GLOBAL CREATIVE NETWORKS — must collect, handle and store personal information.</p>
            <p>These rules apply regardless of whether data is stored electronically, on paper or on other materials.</p>
            <p>To comply with the law, personal information must be collected and used fairly, stored safely and not disclosed unlawfully.</p>

            <b>The Data Protection Act is underpinned by eight important principles. These say that personal data must:</b>
            <p>Be processed fairly and lawfully</p>
            <p>Be obtained only for specific, lawful purposes</p>
            <p>Be adequate, relevant and not excessive</p>
            <p>Be accurate and kept up to date</p>
            <p>Not be held for any longer than necessary</p>

            <p>Processed in accordance with the rights of data subjects</p>
            <p>Be protected in appropriate ways</p>
            <p>Not be transferred outside the European Economic Area (EEA), unless that country or territory also ensures an adequate level of protection</p>
            <p>“The Right to be forgotten” you have the right to request that your data is deleted or restricted.</p>

            <b>PEOPLE, RISKS AND RESPONSIBILITIES</b>
            <p>Policy scope</p>
            <p>This policy applies to: - The head office of WhereDjsPlay / GLOBAL CREATIVE NETWORKS - All branches of WhereDjsPlay / GLOBAL CREATIVE NETWORKS - All staff and volunteers of WhereDjsPlay / GLOBAL CREATIVE NETWORKS - All contractors, suppliers and other people working on behalf of WhereDjsPlay / GLOBAL CREATIVE NETWORKS - It applies to all data that the company holds relating to identifiable individuals, even if that information technically falls outside of the Data Protection Act 1998. This can include: - Names of individuals - Postal addresses - Email addresses - Telephone numbers - Plus any other information relating to individuals</p>

            <b>Data Protection Risks</b>
            <p>This policy helps to protect WhereDjsPlay / GLOBAL CREATIVE NETWORKS from some very real data security risks, including:</p>
            <p>Breaches of confidentiality. For instance, information being given out inappropriately.</p>
            <p>Failing to offer choice. For instance, all individuals should be free to choose how the company uses data relating to them.</p>
            <p>Reputational damage. For instance, the company could suffer if hackers successfully gained access to sensitive data. Responsibilities</p>
            <p>Everyone who works for or with WhereDjsPlay / GLOBAL CREATIVE NETWORKS has some responsibility for ensuring data is collected, stored and handled appropriately.</p>
            <p>Each team that handles personal data must ensure that it is handled and processed in line with this policy and data protection principles.</p>

            <b></b>
            <p>The board of directors is ultimately responsible for ensuring that WhereDjsPlay / GLOBAL CREATIVE NETWORKS meets its legal obligations</p><p>
            </p><p>The data protection officer, Matthew Shipp  is responsible for:</p><p>
            </p><p>Keeping the board updated about data protection responsibilities, risks and issues.</p>
            <p>Reviewing all data protection procedures and related policies, in line with an agreed schedule.</p>
            <p>Arranging data protection training and advice for the people covered by this policy.</p>
            <p>Handling data protection questions from staff and anyone else covered by this policy.</p>
            <p>Dealing with requests from individuals to see the data WhereDjsPlay / GLOBAL CREATIVE NETWORKS holds about them (also called ‘subject access requests’).</p>
            <p>Checking and approving any contracts or agreements with third parties that may handle the company’s sensitive data.</p>


            <p>Making sure that all breaches are reported to the relevant parties (including the individuals who’s data it is)
            The IT manager is responsible for: </p>

            <p>Ensuring all systems, services and equipment used for storing data meet acceptable security standards.</p>
            <p>Performing regular checks and scans to ensure security hardware and software is functioning properly.</p>
            <p>Evaluating any third-party services the company is considering using to store or process data. For instance, cloud computing services.</p>
            <p>The Data marketing manager, Simon Kelly, is responsible for:</p>

            <p>Approving any data protection statements attached to communications such as emails and letters.</p>
            <p>Addressing any data protection queries from journalists or media outlets like newspapers</p>
            <p>Where necessary, working with other staff to ensure marketing initiatives abide by data protection principles.</p>


            <b>GENERAL STAFF GUIDELINES</b>

            <p>The only people able to access data covered by this policy should be those who need it for their work. </p>
            <p>Data should not be shared informally. When access to confidential information is required, employees can request it from their line managers. </p>
            <p>WhereDjsPlay / GLOBAL CREATIVE NETWORKS will provide training to all employees to help them understand their responsibilities when handling data. An outline of which will be available on wheredjsplay. </p>
            <p>Employees should keep all data secure, by taking sensible precautions and following the guidelines below. </p>
            <p>In particular, strong passwords must be used and they should never be shared. </p>
            <p>Personal data should not be disclosed to unauthorised people, either within the company or externally. </p>
            <p>Data should be regularly reviewed and updated if it is found to be out of date. If no longer required, it should be deleted and disposed of. </p>
            <p>Employees should request help from their line manager or the data protection officer if they are unsure about any aspect of data protection. </p>

            <b>HOW WE USE YOUR PERSONAL DATA</b>
            <p>WhereDjsPlay stores data on customers, suppliers, readers and event attendees. </p>
            <p>Readers and event attendees will only be contacted by email who have actively clicked a GDPR compliant "opt in" </p>
            <p>Customers, including subscribers and advertisers agree to being contacted with key information about their purchase or custom during their transactions. However they receive the same GDPR compliant "opt in" for marketing emails. </p>
            <p>Voters in our polls (Top 100 DJs, Top 100 Clubs, Best of British, Tech Awards, Best of North America, and any additional polls) must agree to the collection of their personal data including name, email, location, date of birth, social media ID, IP address and device information in addition to their votes. This data is required for security monitoring. Only voters who complete the GDPR compliant "opt in" form as part of the voting process agree to be contacted with marketing messages. </p>


            <b>Data storage</b>

            <p>These rules describe how and where data should be safely stored. Questions about storing data safely can be directed to the IT manager or data controller.</p>
            <p>When data is stored on paper, it should be kept in a secure place where unauthorised people cannot see it. </p>
            <p>These guidelines also apply to data that is usually stored electronically but has been printed out for some reason: </p>
            <p>When not required, the paper or files should be kept in a locked drawer or filing cabinet. </p>
            <p>Employees should make sure paper and printouts are not left where unauthorised people could see them, like on a printer.</p>
            <p>Data printouts should be shredded and disposed of securely when no longer required.</p>
            <p>When data is stored electronically, it must be protected from unauthorised access, accidental deletion and malicious hacking attempts:</p>
            <p>Data should be protected by strong passwords that are changed regularly and never shared between employees.</p>
            <p>If data is stored on removable media (like a CD or DVD), these should be kept locked away securely when not being used.</p>
            <p>Data should only be stored on designated drives and servers, and should only be uploaded to an approved cloud computing services.</p>
            <p>Servers containing personal data should be sited in a secure location, away from general office space.</p>
            <p>Data should be backed up frequently. Those backups should be tested regularly, in line with the company’s standard backup procedures.</p>
            <p>Data should never be saved directly to laptops or other mobile devices like tablets or smart phones.</p>
            <p>All servers and computers containing data should be protected by approved security software and a firewall.</p>

            <p>This Website may make use of 'cookies' and tracking software.</p>
            <p>Cookies are pieces of information that are stored by the browser on the hard drive of your computer.</p>
            <p>Cookies enable us and any person who advertises on our Website to provide features such as remembering certain Your Information and your preferences.</p>
            <p>Cookies can be deleted from your hard drive or you can configure your web browser so that it rejects cookies.</p>
            <p>Rejection of cookies will not prevent you from using most of the features on this Website.</p>
            <p>If you experience any problems having deleted cookies, you should contact the supplier of your web browser.</p>
            <p>The tracking software monitors traffic patterns and site usage so that we can design and develop this Website to suit the needs and requirements of visitors to it.</p>

            <b>INTERNAL DATA USE</b>

            <p>Personal data is of no value to WhereDjsPlay / GLOBAL CREATIVE NETWORKS unless the business can make use of it. However, it is when personal data is accessed and used that it can be at the greatest risk of loss, corruption or theft: </p>
            <p>When working with personal data, employees should ensure the screens of their computers are always locked when left unattended. </p>
            <p>Personal data should not be shared informally. In particular, it should never be sent by email, as this form of communication is not secure. </p>
            <p>Data must be encrypted before being transferred electronically. The IT manager can explain how to send data to authorised external contacts.</p>
            <p>Personal data should never be transferred outside of the European Economic Area.</p>
            <p>Employees should not save copies of personal data to their own computers. Always access and update the central copy of any data.</p>

            <b>DATA ACCURACY</b>


            <p>The law requires WhereDjsPlay / GLOBAL CREATIVE NETWORKS to take reasonable steps to ensure data is kept accurate and up to date.</p>
            <p>The more important it is that the personal data is accurate, the greater the effort WhereDjsPlay / GLOBAL CREATIVE NETWORKS should put into ensuring its accuracy.</p>
            <p>It is the responsibility of all employees who work with data to take reasonable steps to ensure it is kept as accurate and up to date as possible.</p>
            <p>Data will be held in as few places as necessary. Staff should not create any unnecessary additional data sets. In practice these will be the database on wheredjsplay and email lists held on YMLP.com and MailChimp.com, our mailing service providers</p>
            <p>Staff should take every opportunity to ensure data is updated. For instance, by confirming a customer’s details when they call.</p>
            <p>WhereDjsPlay / GLOBAL CREATIVE NETWORKS will make it easy for data subjects to update the information WhereDjsPlay / GLOBAL CREATIVE NETWORKS holds about them through wheredjsplay</p>
            <p>Data should be updated as inaccuracies are discovered. For instance, if a customer can no longer be reached on their stored telephone number, it should be removed from the database.</p>

            <p>It is the marketing manager’s responsibility to ensure marketing databases are checked against industry suppression files every six months.</p>

            <b>SUBJECT ACCESS REQUESTS</b>
            <p>All individuals who are the subject of personal data held by WhereDjsPlay / GLOBAL CREATIVE NETWORKS are entitled to:</p>
            <p>Ask what information the company holds about them and why.</p>
            <p>Ask how to gain access to it.</p>
            <p>Be informed how to keep it up to date.</p>
            <p>Be informed how the company is meeting its data protection obligations.</p>
            <p>Request that that data be deleted.</p>
            <p>If an individual contacts the company requesting this information, this is called a subject access request.</p>
            <p>Subject access requests from individuals should be made by email, addressed to the data controller, Rasa Sadauskaite at rasa@wheredjsplay. The data controller can supply a standard request form, although individuals do not have to use this.</p>
            <p>per subject access request. The data controller will aim to provide the relevant data within 14 days.</p>
            <p>The data controller will always verify the identity of anyone making a subject access request before handing over any information.</p>

            <b>DISCLOSING DATA FOR OTHER REASONS</b>

            <p>In certain circumstances, Data Protection Bill and the General Data Protection Regulation allows personal data to be disclosed to law enforcement agencies without the consent of the data subject.</p>
            <p>Under these circumstances, WhereDjsPlay / GLOBAL CREATIVE NETWORKS will disclose requested data. However, the data controller will ensure the request is legitimate, seeking assistance from the board and from the company’s legal advisers where necessary.Providing information</p>
            <p>WhereDjsPlay / GLOBAL CREATIVE NETWORKS aims to ensure that individuals are aware that their data is being processed, and that they understand:</p>
            <p>How the data is being used</p>
            <p>How to exercise their rights</p>
            <p>To these ends, the company has a privacy statement, setting out how data relating to individuals is used by the company:</p>


            <b>PRIVACY STATEMENT</b>
            <p>At WhereDjsPlay / GLOBAL CREATIVE NETWORKS (WhereDjsPlay) we take your data extremely seriously and we will only ask you for personal data when it is necessary for us to be able to carry out the services that we offer. </p>
            <p>This may include you name and address if you are a subscriber (so we can send you your magazine each month)</p>
            <p>or your email address (so you can receive our news letter or as your login name for wheredjsplay)</p>
            <p>or your company details (if you are an advertiser, so we can send you your free copy and invoice.)</p>
            <p>We will never sell your information or pass it onto any third party unless it is made explicitly clear and we have gained your permission.</p>
            <p>We will continue to update the data we hold regularly to make sure that it is relevant, up to date and so you know what data we hold and why (so don’t forget to opt in if you want to keep hearing from us)</p>
            <p>We wont hold any data for longer than it is necessary for us to be able to carry out the services that we offer (i.e. if you have an annual subscription we will keep your name, address and contact for 18 months so we can send you your copy of the magazine and also contact you regards renewal, and only with your continued permission)</p>
            <p>You can request a copy of your data held by us by emailing rasa@wheredjsplay or filling in this form (subject access request form) We may ask you to verify who you are. We will endeavour to respond to all requests within 14 days and there will be no charge for reasonable requests.</p>
            <p>You also have the “Right to be Forgotten” which means we will delete any of your personal data that we hold. You can request for your data to be deleted, or restricted using the same form or by emailing privacy@wheredjsplay.com </p>
            <p>We will notify you if we believe any breach has taken place and if any of your personal data is at risk of becoming available to anyone other than WhereDjsPlay / GLOBAL CREATIVE NETWORKS </p>

        </div>
    </div>
</div>


{% endblock content %}
