<!-- 
<script>
{% if show_loader %}
(function($){
	$(document).ready(function(){
            $('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');

	}); // End document ready

    var showTimeout = setTimeout(function() {
        $('#loadingDiv').fadeIn(500);
    }, 2000);

    jQuery(window).load(function () {
        clearTimeout(showTimeout);
        $('#loadingDiv').fadeOut(1000);
    });
})(this.jQuery);
{% endif %}
</script>
 -->