{% load staticfiles %}
<div class = "hidden-md hidden-sm hidden-lg">
    <div id="newsDiv">
        {% for news in techno_news %}
        <div class="wd-stream">
            <div class="wd-stream--article" style="padding: 20px 34px;">
                <div class="row">
                    {% if news.imageurl %}
                    <div class="col-sm-3">
                        <div class="wd-article--thumbnail">
                            <img src="{{news.imageurl}}" alt="{{news.title}}">
                        </div>
                     </div>
                    {% endif %}
                    <!-- <div class="col-sm-3">
                        {% for artist in news.artists.all|slice:"1" %}
                            {% if artist.artistPhoto %}
                                <div style="margin-bottom: 20px; margin-top: 10px">
                                    <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" style="width: 100%;" >
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div> -->
                    <div class="col-sm-9" style="padding-top: 20px">
                        <strong><a href="{{news.url}}" target="_blank" style="color:black; font-size:initial">{{ news.title }} - </a></strong>
                        {% if news.modified_text %}{{ news.modified_text|truncatewords_html:20|safe }} {% else %} {{ news.text|truncatewords_html:30|safe }} {% endif %}
                        <a href="{{news.url}}" target="_blank">View at {{ news.source }}</a>
                        <div class="wd-article--tags">
                            {% if news.artists.all %}
                            <p><strong>News about -</strong>
                            {% for artist in news.artists.all %}
                                <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                    <span class="label wd-label-article">{{ artist.artistName }}</span>
                                </a>
                            {% endfor %}<br><br>
                            <small><strong>{{ news.publish_date|date:"d M Y"}}</strong></small>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
         <img class="events_loader techno_upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
    </div>
    <div style="text-align:center" id="mobile_show_more_hide{{techno_start}}">
        <button style="margin-right: 25px;" class="btn btn-default" id="show_more_techno_news" onclick="load_more_news('techno')"> <span class="glyphicon glyphicon-plus"></span> Show More News</button>
        <a href="{% url 'news' %}"> <u> View all news </u> </a>
    </div>
</div>

<div class = "hidden-xs">
    <div id="newsDiv">
        {% for news in techno_news %}
        <div class="wd-stream">
            <div class="wd-stream--article">
                <div class="row">
                    <div class="col-sm-9">
                        <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                        <p class="wd-posted-on">
                            {{ news.publish_date|date:"d M Y"}}
                        </p>
                        <div class="wd-article--text">
                            <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                            {% if news.modified_text %}{{ news.modified_text|truncatewords_html:40|safe }} {% else %} {{ news.text|truncatewords_html:50|safe }} {% endif %}
                            <a href="{{news.url}}" target="_blank"> Read the Article</a>
                        </div>
                        <div class="wd-article--tags">
                            {% for artist in news.artists.all %}
                                <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                    <span class="label wd-label-article">{{ artist.artistName }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if news.imageurl %}
                    <div class="col-sm-3">
                        <div class="wd-article--thumbnail">
                            <img src="{{news.imageurl}}" alt="{{news.title}}">
                        </div>
                     </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
         <img class="events_loader techno_upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
    </div>
    <div style="text-align:center" id="desk_show_more_hide{{techno_start}}">
        <button style="margin-right: 25px;" class="btn btn-default" id="show_more_techno_news" onclick="load_more_news('techno')"> <span class="glyphicon glyphicon-plus"></span> Show More News</button>
        <a href="{% url 'news' %}"> <u> View all news </u> </a>
    </div>
</div>
