{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Terms & Conditions </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Terms & Conditions</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <br>
            <h4 style="margin-left:30px;"><strong>TERMS AND CONDITIONS </strong></h4><br>
        </div>
    </div>
    <div class="row">
        <div class="main col-md-12 well">
            <b>INTRODUCTION</b>
            <p>Welcome to Where DJs Play a division of global creative networks
                and its affiliates provide access to the Where DJs Play website
                (the "website") and sell our products to you subject to the conditions
                set out on this page.
            </p>
            <p>
                Please read these conditions carefully before using the Where DJs Play
                website. By using the Where DJs Play website, you signify your agreement
                to be bound by these conditions. In addition, when you use any current
                or future Where DJs Play service, you will also be subject to the terms,
                guidelines and conditions applicable to that service. ("Terms").
                If these Conditions of Use & Sale are inconsistent with such Terms,
                the Terms will control.
            </p>
            <p>
                Conditions Relating to your Use of Where DJs Play.com
            </p>
            <b>1. YOUR ACCOUNT</b>
            <p>
                If you use the website, you are responsible for maintaining the confidentiality of your account
                and password and for restricting access to your computer to prevent unauthorized access to your account.
                You agree to accept responsibility for all activities that occur under your account or password.
                You should take all necessary steps to ensure that the password is kept confidential and secure
                and should inform us immediately if you have any reason to believe that your password has become
                known to anyone else, or if the password is being, or is likely to be, used in an unauthorized manner.
                Please ensure that the details you provide us with are correct and complete and inform us immediately
                of any changes to the information that you provided when registering.
                You can access and update much of the information you provided us with in the
                Your Account area of the website.
                Where DJs Play.com reserves the right to refuse access to the website,
                terminate accounts, remove or edit content, or cancel orders at our
                discretion. If we cancel an order, it will be without charge to you.

            </p>

            <b>2. PRIVACY</b>
            <p>
                Please review our Privacy Notice, which also governs your visit to Where DJs Play.com to
                understand our practices.
            </p>

            <b>3. ACCESS TO WHEREDJSPLAY.COM</b>
            <p>
                We will do our utmost to ensure that availability of the website will be uninterrupted and that
                transmissions will be error-free. However, due to the nature of the Internet,
                this cannot be guaranteed. Also, your access to the website may also be
                occasionally suspended or restricted to allow for repairs, maintenance,
                or the introduction of new facilities or services. We will attempt to
                limit the frequency and duration of any such suspension or restriction.
            </p>

            <b>4. LICENCE FOR WEBSITE ACCESS</b>
            <p>
                Where DJs Play grants you a limited license to access and make
                personal use of this website, but not to download (other than page
                caching) or modify it, or any portion of it, except with express
                written consent of Where DJs Play.com. This license does not
                include any resale or commercial use of this website or its contents;
                any collection and use of any product listings, descriptions,
                or prices; any derivative use of this website or its contents;
                any downloading or copying of account information for the benefit
                of another merchant; or any use of data mining, robots, or similar
                data gathering and extraction tools.
            </p>
            <p>
                This website or any portion of this website may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without our express written consent.
            </p>
            <p>
                You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Where DJs Play.com and its affiliates without express written consent. You may not use any meta tags or any other "hidden text" utilizing Where DJs Play.com its affiliates' names or trademarks without the express written consent of Where DJs Play.com Any unauthorised use terminates the permission or license granted by Where DJs Play.com.
            </p>
            <p>
                You are granted a limited, revocable, and non-exclusive right to create a hyperlink to the Welcome page of Where DJs Play.com  as long as the link does not portray Where DJs Play.com, its affiliates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Where DJs Play logo or other proprietary graphic or trademark as part of the link without our express written consent.
            </p>
            <b>5. YOUR CONDUCT</b>
            <p>
                You must not use the website in any way that causes, or is likely to cause, the website or access to it to be interrupted, damaged or impaired in any way.
            </p>
            <p>
                You understand that you, and not Where DJs Play, are responsible for all electronic communications and content sent from your computer to us and you must use the website for lawful purposes only.
            </p>
            <p>
                You must not use the website for any of the following: for fraudulent purposes, or in connection with a criminal offence or other unlawful activity to send, use or reuse any material that is illegal, offensive, abusive, indecent, defamatory, obscene or menacing; or in breach of copyright, trademark, confidence, privacy or any other right; or is otherwise injurious to third parties; or objectionable; or which consists of or contains software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any "spam" to cause annoyance, inconvenience or needless anxiety.
            </p>
            <b>6. REVIEWS, COMMENTS, COMMUNICATIONS AND OTHER CONTENT</b>
            <p>
                Users of this website may post reviews, comments and other content; send communications; and submit suggestions, ideas, comments, questions, or other information, as long as the content is not illegal, obscene, abusive, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties, or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of any content. Where DJs Play.com reserves the right (but not the obligation) to remove or edit any content.
            </p>
            <p>
                If you do post content or submit material, and unless we indicate otherwise, you
            </p>
            <p>
                (a) grant Where DJs Play  and its affiliates a non-exclusive, royalty-free and fully sublicensable rights to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media; and
            </p>
            <p>
                (b) Where DJs Play and its affiliates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You agree that the rights you grant above are irrevocable during the entire period of protection of your intellectual property rights associated with such content and material. You agree to waive your right to be identified as the author of such content and your right to object to derogatory treatment of such content. You agree to perform all further acts necessary to perfect any of the above rights granted by you to Where DJs Play.com including the execution of deeds and documents, at the request of Where DJs Play.com
            </p>
            <p>
                You represent and warrant that you own or otherwise control all of the rights to the content that you post; that, as at the date that the content or material is submitted to Where DJs Play.com(I) the content and material is accurate; (ii) use of the content and material you supply does not breach any applicable Where DJs Play,com policies or guidelines and will not cause injury to any person or entity (including that the content or material is not defamatory). You agree to indemnify Where DJs Play.comand its affiliates for all claims brought by a third party against Where DJs Play.com or its affiliates arising out of or in connection with a breach of any of these warranties.
            </p>
            <b>7. DEFAMATION CLAIMS</b>
            <p>
                Because Where DJs Play.com lists third-party products for sale on the website and hosts many thousands of comments, it is not possible for us to be aware of the contents of each product listed for sale, or each comment or review that is displayed. Accordingly, Where DJs Play.com operates on a "notice and takedown" basis. If you believe that any content on, or advertised for sale on, the website contains a defamatory statement, please notify us immediately. On receipt of the notice Where DJs Play.com will make all reasonable endeavors to remove the defamatory content complained about within a reasonable time.
            </p>
            <b>8. COPYRIGHT, AUTHOR'S RIGHTS AND DATABASE RIGHTS</b>
            <p>
                All content included on the website, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Where DJs Play its affiliates or its content suppliers and is protected under the copyright laws of England and Wales, international copyright, authors' rights and database right laws. The compilation of all content on this website is the exclusive property of Where DJs Play.com and its affiliates and is protected by English and international copyright and database right laws. All software used on this website is the property of Where DJs Play, our affiliates or our software suppliers and is protected by the laws of England and Wales and international copyright and author' rights laws.
            </p>
            <p>
               You may not systematically extract and/or re-utilize parts of the contents of the website without Where DJs Play s express written consent. In particular, you may not utilize any data mining, robots, or similar data gathering and extraction tools to extract (whether once or many times) for re-utilization of any substantial parts of this website, without Where DJs Play 's express written consent. You also may not create and/or publish your own database that features substantial (e.g. our prices and product listings) parts of this website without Where DJs Play express written consent.
Consent to reproduce Where DJs Play.com content is expressly given to bone fide Internet Search Engines and websites who use our feeds to link back to Where DJs Play.com.
            </p>
            <b>9. INTELLECTUAL PROPERTY CLAIMS</b>
            <p>
                wheredjsplay.com (the trading name for global creative networks) and its affiliates respect the intellectual property of others. If you believe that your intellectual property rights have been used in a way that gives rise to concerns of infringement, please notify us immediately.
            </p>
            <b>10. TRADEMARKS</b>
            <p>
                ALL LOGOS and other marks indicated on our website are trademarks or registered trademarks of global creative networks (c), in the European Union and/or other jurisdictions. Compareds.com s graphics, logos, page headers, button icons, scripts and service names are the trademarks or trade dress of global creative networks global creative networks trademarks and trade dress may not be used in connection with any product or service that is not global creative networks in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits global creative networks. All other trademarks not owned by global creative networks that appear on this website are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by global creative networks.
            </p>

            <b>11. CONDITIONS RELATING TO THE SALE OF PRODUCTS TO YOU</b>

            <p>
                This section deals with conditions relating to the sale of products by djmag.com to you. For conditions relating to the sale by third parties to you on djmag.com, see the Participation Agreement. For conditions specifically relating to the sale of digital content from the global creative networks Download Service to you, see the global creative networks. / Download Terms of Use.
            </p>
            <b>12. OUR CONTRACT</b>

            <p>
               We list items for sale on our website. This is our offer to you. When you pay for the product this represents your acceptance of our offer. We send e-mail confirmation to you of our Contract.
            </p>
            <b>13. DELIVERY</b>


            <p>
                Delivery is by standard post (currently Royal Mail). We dispatch our items once a week (usually on a Thursday) by second class mail. Delivery times can be worked out here. Magazine subscriptions are sent out several days before the last Wednesday of each month.
            </p>
            <b>14. CANCELATION</b>
            <p>
                a) <i>Downloads and electronically transmitted data</i>
You agree to waive your rights of cancellation by downloading paid-for downloads from our Website.
            </p>
            <p>
                b) <i>Subscriptions</i>
If you wish to cancel and you originally paid by PayPal, then you must do this via PayPal; Login to PayPal, find the subscription and cancel it.
If you paid by credit card then login into your DJ mag account, click on subscription, locate the subscription you wish to cancel, click manage and then click cancel.
If you pay by direct debit, you must cancel your direct debit with your bank.
For further help on cancellation - go to our help section
            </p>
            <p>
                c) <i>Advertising</i>
We do not accept cancellation of advertising. Your word is your bond and you will be held to it. Please see our advertising terms.
            </p>
            <b>15. SUBSCRIPTIONS</b>

            <p>
                Terms and Conditions as per website.
            </p>

            <b>16. RETURNS</b>
            <p>
                If your goods are faulty please return them to the address below with your details stating the nature of the fault and the cost of the postage. We will refund your money and the postage on determination of the fault.
            </p>
            <b>17. PRICING AND AVAILABILITY</b>
            <p>
               We list availability information for products sold by us on the website, including on each product information page. Beyond what we say on that page or otherwise on the website, we cannot be more specific about availability. Please note that dispatch estimates are just that. They are not guaranteed dispatch times and should not be relied upon as such. As we process your order, we will inform you by e-mail if any products you order turn out to be unavailable.<br>
                All prices (except advertising) are inclusive of VAT unless stated otherwise.
            </p>
            <b>18. CUSTOMS</b>
            <p>
                When ordering goods from wheredjsplay.com for delivery overseas you may be subject to import duties and taxes, which are levied once the package reaches the specified destination. Any additional charges for customs clearance must be borne by you; we have no control over these charges and cannot predict what they may be. Customs policies vary widely from country to country, so you should contact your local customs office for further information. Additionally, please note that when ordering from Compareds.com you are considered the importer of record and must comply with all laws and regulations of the country in which you are receiving the goods. Your privacy is important to us and we know that you care about how information about your order is used and shared. We would like our international customers and customers dispatching products internationally to be aware that cross-border deliveries are subject to opening and inspection by customs authorities.
            </p>
            <b>19. THIRD PARTY BUSINESSES</b>
            <p>
                Parties other than Where DJs Play.com and its subsidiaries operate stores, provide services, or sell product lines on this website. For example, businesses and individuals offer products via Where DJs Play.com including wheredjsplay.com. In addition, we provide links to the websites of affiliated companies and certain other businesses. We are not responsible for examining or evaluating, and we do not warrant or endorse the offerings of any of these businesses or individuals, or the content of their websites. djmag.com does not assume any responsibility or liability for the actions, products, and content of any of these and any other third-parties. You can tell when a third-party is involved in your transactions, and we may share customer information related to those transactions with that third-party. You should carefully review their privacy statements and other conditions of use.
            </p>
            <b>20. ELECTRONIC COMMUNICATIONS</b>
            <p>
              When you visit where or send e-mails to us, you are communicating with us electronically. We communicate with you by e-mail or by posting notices on the website. For contractual purposes, you consent to receive communications from us electronically and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. This condition does not affect your statutory rights.
            </p>
            <b>21. ALTERATION OF SERVICE OR AMENDMENTS TO THE CONDITIONS</b>
            <p>
                We reserve the right to make changes to our website, policies, and these Conditions of Use & Sale at any time. You will be subject to the policies and Conditions of Conditions of Use & Sale in force at the time that you use the website or that you order goods from us, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you). If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.
            </p>
            <b>22. EVENTS BEYOND OUR REASONABLE CONTROL</b>
            <p>
               We will not be held responsible for any delay or failure to comply with our obligations under these conditions if the delay or failure arises from any because which is beyond our reasonable control. This condition does not affect your statutory rights.
            </p>
            <b>23. WAIVER</b>
            <p>
                If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.
            </p>
            <b>24. GOVERNING LAW AND JURISDICTION</b>
            <p>
                These conditions are governed by and construed in accordance with the laws of England and Wales, and the application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. You agree, as we do, to submit to the non-exclusive jurisdiction of the courts of England and Wales.
            </p>
            <b>25. OUR DETAILS</b>
            <p>
                Where DJs Play registered address is Unit 256, 15-17 Caledonian Rd, London.
            </p>
        </div>
    </div>
</div>


{% endblock content %}
