.relative{
  position: relative !important;
}
.head-check{
    position: relative !important;
    display: block !important;
    left: 8px !important;
    top: -2px !important;
}
  .m-footer{
    margin-bottom: 23px !important;
    padding: 1px 20px 20px !important;
  }
  td.first-td .check-box{
  display: flex;
  margin-left: -8px;
  }
  td.first-td .check-box input[type=checkbox]:checked.none.star + span:before{
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #47abe9;
  }
  td.first-td .check-box input[type=checkbox]:checked.none.ban + span:before{
  content: "\f05e";
  font-family: FontAwesome;
  display: inline-block;
  color: #000;
  }
  td.first-td .check-box input.none{
  opacity: 0;
  cursor: pointer;
  }
  td.first-td .check-box input.ban + span:before{
  content: "\f05e";
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  pointer-events: none;
  color: #999;
  }
  td.first-td .check-box input.star + span:before{
  content:"\f006";
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  pointer-events: none;
  }
  td.first-td .check-box input + span{
  position: relative;
  }
  td.first-td .check-box input{
  position: relative;
  margin-right: 5px;
  }
  .contact-creation-div{
  margin-top: 0%;
  background: transparent;
  color: #47abe9;
  }
  .contacts-main-actions-bar .btn{ padding: 6px 4px;}
  .group:hover.group-header { 
  display: block;
  }
  .group{
  border: 2px solid #eee;
  min-height: 509px;
  }
/*  .search-bar{
  border: 2px solid #eee;
  }*/
  .nav-tabs{
  /*margin-top: 1% !important;*/
  }
  .group-header{
  margin-top: 17%;
  }
  .contact-list{
  margin-left: -4%;
  }
  .contact-list-content{
  min-height:380px;
  max-height:380px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -5%;
  margin-top: 6%;
  }
  .contact-list .contact-list-content{
  margin-left: 16px;
  margin-right: -78px;
  }
  .contact-create-section .contacts-main-actions-bar{
  left: 0px;
  height: 39px;
  }
  .contact-list .contacts-list-actions-bar{
  left: 32px;
  }
  .contact-create-section{
  border: 2px solid #eee;
  margin-left: 8px;
  }
  .create-btn{
  color: #26292e;
  background-color: #fff;
  border-color: #d5d5d5;
  }
  .create-section{
  margin-top: 8%;
  margin-left: 3%;
  margin-bottom: 1%;
  }
  .filters {
  display: inline-block;
  float: right;
  width: 101%;
  text-align: left;
  }
  .filters ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  .filters ul li {
  display: inline;
  }
  .filters ul li a {
  color: #47abe9;
  padding: 9px 11px;
  text-decoration: none;
  }
  .filters ul li a:hover{
  color: #000;
  }
  p{
  color:#999 !important;
  }
  .group-names p{
  color:#00b0ff !important;
  }
  .contact-input-section{
  display: none;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  }
  .input-form{
    width: 160% !important;
  }
  
  .button-active.fa{
  color:#00b0ff !important;
  }
  .button-active{
  color:#00b0ff !important;
  border: 2px solid #00b0ff !important;
  }
  .add_field_button{
  border: none; 
  background: none;
  }
  .input_fields_wrap{
  color: #999 !important;
  }
  .address_fields {
      margin-left: 0px;
      border: 3px solid #eee;
      max-width: 100%;
      background: rgba(0,176,255,.07);
      margin-bottom: 3%;
  }
  .address-input{
  /*margin-left: 13% !important;*/
  margin-top: 5% !important;
  /*min-width: 254% !important;*/
  }
  .address-input.input-2{
  /*margin-left: -42% !important;
  min-width: 465% !important;*/
  }
  .address_fields .col-xs-3 {
    margin-top:20px;
    padding-left: 25px;
  }
  .new_class {
    margin-left: 2.5%;
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .website {
    margin-left: 5.5%;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .delete_icon{
  float: right;
  margin-right: 3%;
  margin-bottom: 3%;
  font-size: 152%;
  color:#999 !important;
  }
  .address-dropdown{
  margin-left: -5% !important;
  margin-top: -1% !important;
  min-width: 218% !important;
  }
  .phone-dropdown{
  margin-top: -1% !important;
  min-width: 61% !important;
  }
  .organization{
  display: none;
  }
  .additional-input{
  margin-left: 10%;
  }
  .social{
  margin-top: 6%;
  }
  .contact_checkbox{
  display:block !important;
  }
  input[type=checkbox].checkbox-lg {
  font-size: 16px;
  margin-top: 3px;
  }
  .checkbox-lg input[type=checkbox], input[type=checkbox].checkbox-lg {
  font-size: 16px;
  margin-top: 3px;
  }
  input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
  }
  input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  }
  .cl-contact-checkbox {
  position: absolute;
  left: 15px;
  }
  .form-control, .look-like-input, .selectize-input, input, textarea {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: latolight,helvetica neue,helvetica,arial,"sans-serif";
  box-shadow: none;
  }
  .cl-contact-icons {
  position: absolute;
  top: 0;
  right: 0px;
  color: #ccc;
  }
  .contacts-list-contact {
  position: relative;
  min-height: 39px;
  padding: 7.5px 5px 7.5px 40px;
  border-bottom: 1px solid #ddd;  
  display: flex;
  }
  .w16{ width: 16%;}
  .w27{ width: 27%;}
  .w10{ width: 10%;}
  .contacts-list-contact span{
  display: inline-block;
  }
  .contacts-list-letter {
  bottom: 5px;
  display: none;
  text-transform: uppercase;
  color: #00b0ff;
  }
  .btn-adjust-right{
  float: right;
  margin: 0px !important;
  }
  .text-light {
    position: relative;
    display: inline-block;
  }
  .wAuto {
    width: auto;
  }
  .text-light.block-element.single-line
  {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  padding: 0 5px;
  }
  .contacts-main-actions-bar {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 38px;
  padding: 0 15px;
  border-bottom: 1px solid #d0d0d0;
  background: #ececec;
  }  
  .contacts-list-actions-bar, .contacts-main-actions-bar {
  position: absolute;
  top: 0;
  left: 0;
  /*overflow: hidden;*/
  width: 102.6%;
  height: 38px;
  padding: 0 15px;
  border-bottom: 1px solid #d0d0d0;
  background: #ececec;
  }
/*  .action-bar{
  display: none;
  }*/
  .creation_type_popup{
  margin-top: 0% !important;
  margin-bottom: 0%;
  min-height: auto !important;
  margin-right: 0 !important;
  }
  .mc-hd{
  margin-left: 21px;
  }
  .inside-section{
  max-height: 650px;
  min-height: 383px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -4%;
  margin-right: -3%;
  }
  .creation_type_popup .create-section{
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  #gmail_form{
    margin-bottom: 0px;
  }
  #gmail_form h3{
    margin-left:4%;
    font-size: 18px;
  }
 .upload_section{
    display: inline-block;
    padding-left: 25px;
  }
  .upload_section h3{
    margin: 5px 0px 5px;
    font-size: 14px !important;
    font-weight: 600;
  }
  .upload_section input[type="file"]{
    padding: 10px;
    margin-bottom: 5px;
  }
  .upload_section input.create-btn{
    margin-bottom: 20px;
  }
  .manage_group_modal .contact-create-section{
    margin-left: 0px;
  }
  .manage_group_modal .checkbox label{
    display: inline-block;
  }
  .manage_group_modal .checkbox{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .manage_group_modal .create-group, .manage_group_modal #delete-group{
    margin-top: 0 !important;
    margin-left: 2% !important;
  }
  .manage_group_modal .modal-dialog{
    width: 450px;
  }
  .contacts-main-inner {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  }
  .manage_group_modal .contacts-main-inner, .manage_settings .contacts-main-inner{
    padding-bottom: 10px;
  }
  .contacts-group-edit-list>li.created {
  background: rgba(0,176,255,.07);
  display: none;
  }
  .contacts-group-edit-list>li {
  padding: 10px 15px;
  }
  .manage_group_modal .contacts-group-edit-list>li{
    padding: 10px 15px 10px 0px;
  }
  .manage_group_modal .inside-section{
    min-height: inherit !important;
  }
  .manage_settings .modal-re, .manage_settings .modal-re .inside-section, .manage_settings .modal-re .contact-create-section{
    width: 100% !important;
    margin: 0px;
    padding: 0px;
  }
  .manage_settings .modal-re .inside-section .marg-top-gutter{
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .input-checkbox-combo input[type=checkbox] {
  position: absolute;
  top: 43%;
  margin-top: -.9em;
  left: 0;
  display: block !important;
  }
  .float-label-label {
  line-height: 1;
  z-index: 5;
  display: none;
  position: absolute;
  font-size: 14px;
  margin: 1px 0 0;
  font-variant: small-caps;
  text-transform: lowercase;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .limit-form-width, .limit-input-width {
  max-width: 400px;
  }
  .input-checkbox-combo {
  position: relative;
  padding-left: 20px;
  }
  .btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
  .btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}
  .col-padding {
  padding-left: 15px;
  padding-right: 15px;
  }
  .marg-top-gutter {
  margin-top: 30px;
  }
  .tab-pane label.checkbox {
  position: relative;
  opacity: 1;
  text-align: left;
  padding-left: 13px;
  cursor: pointer;
  }
  .tab-pane label.checkbox input {
  position: relative !important;      
  top: 3px;
  opacity: 1;
  visibility: visible;
  margin: 0;
  display: block;
  }  
  .tab-pane .open>.dropdown-menu {
  display: block;
  border-radius: 0;
  width: 100%;
  }
  .tab-pane .btn-group  .caret{
  position: absolute;
  right: 10px;
  top: 14px;
  }
  .tab-pane .btn-group .dropdown-toggle{
  text-align: left;
  }
  .tab-pane .btn-group .multiselect, .tab-pane .btn-group{
  width: 100%;
  }
  .tab-pane .btn-group.open .dropdown-toggle{  
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  }
  .popover-content {
  padding: 8px 12px;
  border-radius: 0;
  font-size: 14px;
  }
  .popover{
  min-width: 300px;
  max-width: 350px !important;
  }
  .mt-15{ margin-top: 10px;}
  .form-group.mt-15{
  margin-bottom: 0px;
  }
  .filter-menu {
  min-width: 304px;
  padding: 10px;
  left: -85px;
  max-width: 400px;
  margin-top: 9px;
  border-radius: 0;
  }
  .filter-menu.dropdown-menu .dropdown-menu ul li a:hover{
  color: #fff;
  }
  .filter-menu.dropdown-menu .dropdown-menu ul li a{
  padding: 5px 9px;
  }
  .filter-menu.dropdown-menu .dropdown-menu {
  left: 0 !important;
  top: 100%;
  }
  #mp-popover-content{
  right: 0px;
  }
  .mega-dropdown.dropdown > a:before{
  left: auto;
  top: 2px;
  right: 0;
  line-height: 1;
  color: #47abe9;
  }
  label.check-box-select  input[type=checkbox]{
  position: relative;
  margin-right: 5px;
  display: inline-block;
  margin: 0px !important;
  margin-right: 5px !important;  
  }
  .checkbox.checkbox-lg.marg-right-sm{
  padding-left: 0px !important;
  }
  .inside-section .form-horizontal .form-group{
  margin-right: 0px !important;
  margin-left: 0px !important;
  }
  .absolute-element{}
  .inside-section .nav>li>a{
  padding: 8px;
  }
  @media (min-width: 992px){
  .col-md-9.contact-list {
    margin-left: -2.0%;
}
.col-md-3 {
    width: 27.7%;
    margin-right: -2.0%;
}

  }
  .nodata-div{
  margin-top: -475px;
  }
  .c_filter{
  cursor: pointer;
  color: #0e0e0e;
  margin-right: 12px;
  }
  .c10{
  cursor: pointer;
  }
  
  :checked + label:before {
   display: none !important;
  }

  .checkbox_show{
    display: inline-block;
    margin-top: 15px;
    padding-left: 22px;
  }
  .checkbox_show input[type=checkbox]{
    display: inline-block;
  }
  .modal-re{
    width: 80% !important;
  }
  .f-border{
    border: none;
  }
  .pull-up{
    margin-top: -10px;
  }
  .action-btn{
    margin-top: 3px;
    background-color: #47abe9 !important;
    border-color: #47abe9 !important;
    margin-right: -38px;
  }
  .action-ul{
    margin-left: 54px !important;
  }
  .hover-msg {
      display: none;
  }
  .nav-anch{
    padding: 17px !important;
  }
  #contact-listing_filter label{
    display: none;
  }
  .search-the-contact{
    margin-left: -45px;
    margin-bottom: 15px;
    width: 36%;
    border: 1px solid #c5cac7 !important;
    margin-top: 7px;
  }
  .create-grp-section{
    margin-top: 3%;
  }
  .manage-settting-section{
    margin-top: 3%; 
  }

  .manage-contact-section{
    margin-left: -16px;
    margin-right: 2px;
    width: 102.5%;
    margin-top: -45px;
  }
  .manage-sec{
    margin-top: 80px;
    padding-bottom: 97px;
  }    
  .act-span{
    margin-left: 472px;
  }
  .modal-align{
    margin-left: -306px;
  }
  .dlt-modal-footer{
    border-top: 0px solid #e5e5e5 !important;
    padding: 0px 20px 20px !important;
  }
  #goto-draft{
    text-decoration: underline;
    cursor: pointer;
  }

  /** new CSS **/
  .header-top.dark{
    z-index: 9999;
  }
  
  .contact_header_dropdown.dropdown-menu-right{
    left: auto !important;
  }
  .contact_header_dropdown.py-dropdown-menu > li > a {
    color: #fff;
  }
  .contact_header_dropdown.dropdown-menu > li > a {
    padding: 10px 20px !important;
  }

  .contact_list_datatable thead tr th:nth-child(0), .contact_list_datatable tbody tr td:nth-child(0){
    width: 13%;
  } 
  .contact_list_datatable thead tr th:nth-child(3), .contact_list_datatable tbody tr td:nth-child(3){
    width: 13%;
  }
  
  .contact_list_datatable thead tr th:nth-child(4), .contact_list_datatable tbody tr td:nth-child(4){
    width: 18%;
  }
  .contact_list_datatable thead tr th:nth-child(1), .contact_list_datatable tbody tr td:nth-child(1){
    width: 10%;
  }
  .contact_list_datatable thead tr th:nth-child(2), .contact_list_datatable tbody tr td:nth-child(2){
    width: 10%;
  }  
  .contact_list_datatable thead tr th:nth-child(6), .contact_list_datatable tbody tr td:nth-child(6){
    width: 15%;
  }
  .contact_list_datatable thead tr th:nth-child(5), .contact_list_datatable tbody tr td:nth-child(5){
    width: 13%;
  }  
  #show-search-div{
    margin-top: 48px;
    margin-left: 17px;
    position: relative;
  }
  .filter-guide{
    padding-left: 13px;
  }
  .select-guide{
    margin-left: 22px;
  }
  .flag-pos{
    /*margin-left: 48px;
    margin-top: -14px;
    width: 10%;*/
    position: absolute;
    z-index: 999;
    right: -22px;
    bottom: 4px;
    width: 17px;
  }
  .page-head{
    text-shadow: 2px 2px 3px rgb(154, 145, 145);
    font-size: 21px;
  }
  .pt-50 .contact-list-content{
    margin-top: 0px !important;


  }
  .pt-50{
    padding-top: 30px;
  }
  #selected_val{    
    margin-left: 32px;
    min-height: 33px;
  }
    #selected_val span {
    border: 1px solid #d0d0d0;
    padding: 3px 8px;
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 7px;
    border-radius: 28px;
    font-size: 12px;
    color: #4b89ad;
}
.filter-head{
    padding-bottom: 9px;
    color: #47abe9;
    /*margin-left: 15px;*/
}
.search-contact-head{
    margin-left: -45px;
    color: #47abe9;
    margin-top: -22px;
}
.email-type-head {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 16px;
}
.countryDropdown {
    width: 100% !important;
    max-width: 270px;
}
#s2id_country-tab-dropdown {
    margin: 10px;
    width: calc(100% - 20px);
}
#s2id_country-tab-dropdown .select2-choices {
    border: 1.2px solid #d4cccc !important;
    padding: 9px;
    border-radius: 3px;
    margin-left: 0.3% !important;
    width: 103% !important;
}
#s2id_country-tab-dropdown .select2-search-choice-close {
    padding: 7px 7px;
}
.saved-head{
  width: 1260px;
  height: 25px;
  padding: 2px;
  background-color: #c1e5f9;
  box-shadow: 6px 7px #dfe5e8;
  display: none;
}
.incomplete-contact{
  background-color: #d6dbde;
  cursor: not-allowed;
}
.manage-contact-modal-div{
  margin-top: 50px !important;
}

.modal{
  z-index: 9999 !important;
}

.a-filter{
  line-height: 12px;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 3%;
}
.a-btn{
  margin-bottom: 5%;
}


.label-lm{
  max-width: 98.3%;
  margin-left: -57px;
}
.input-partition {
  width: 64.1%;
}
.b-class{
  max-width:58%; 
  z-index: 999; 
  margin-bottom: 8px; 
  position: fixed; 
  margin-left: 156px;
}
.form-group.role.organization .col-xs-3 {
  width: 27.7%;
}
.label-alignment {
  margin-top: 7px;
}
.padright-0 {
  padding-right: 0px;
}