1px solid #ddd;/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.3.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/
p.artist-name {
	font-size: 30px;
}
/* checkbox style for selecting artists */
label {
-webkit-font-smoothing: antialiased;
text-align:center;
}

input[type=checkbox] {
display: none;
}

label {
  display: block;
  position: relative;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

input[type='checkbox'] + label:hover:before {
	content: "✓";
    background-color: #99d8ea;
	border: 1px solid #777;
    transform: scale(1);
    z-index:2;
}

:checked + label:before {
  content: "✓";
  background-color: #09afdf!important;
  transform: scale(1);
  z-index:2;
}

div.soundcloud-frame {
	padding-bottom: 15px;
}

p.bio_truncate {
	white-space: pre-line;
}


div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:5px;
	margin:0px;
	font-size: 12px!important;
}

p.budget_desciption {
	padding:3;
	padding-left: 10px;
	margin:0px;
	font-size: 7px;
}

div.no_event_notification {
	text-align: center;
	padding: 10px;
}

img.events_loader {
	width: 65px;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

.dj-card {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	padding: 20px;
	border-radius: 0;
}

.dj-card::before, .dj-card::after {
	content: "";
	display: table;
}

.dj-card::after {
	clear: both;
}

.dj-card-container {
	padding-top: 12px;
	padding-bottom: 12px;
}

.bg-lightgrey {
	background: #f7f7f7;
}

body .modal-map {
  width: 750px;
  margin-auto;
}

h3 > span > a.active {
    color: #09afdf;
}

.error{
    border-color: #FF0000;
}

.place {
    margin-top: -5%;
}

.error-field {
	color: #FF0000;
}

.subpage {
    padding-left:5em;
}

.typeahead-dark .typeahead  li > a {
	color: #333!important;
}

.py-dropdown-menu > li > a {
	color: #fff
}
/* End checkboxes style */

.profile-block{
    padding: 30px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
    margin-bottom: 10px;
    margin-top: 10px;
}

.sliderImgWrapper {
	position: relative;
}
.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
}
.overlayImage {
	position: relative;
	z-index: 0;
	width: 28px;
	padding: 2px;
}

.py-form-control {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.has-error .py-form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.py-radio {
	text-align: left;
}

.py-label {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;
    text-align: left;
}

.py-label label {
	text-align: left;
}

h6.fb-color {
	color:#3b5998;
}

h6.sc-color {
	color:#ff7700;
}

h6.yt-color {
	color:#c4302b;
}

h6.twitter-color {
	color:Black;
}

h6.spotify-color {
	color:#84bd00;
}

h6.insta-color{
	color:black;
}

.artists {
	min-height: 195px
}

.intro-step-card {
	background: #fff;
	padding: 35px;
	border-radius: 2px;
	position: relative;
}

.intro-step-card .step-header {
	margin-top: 5px;
}

.skip--button {
	float: right;
}

.intro-step-indicator {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.intro-step-indicator > span {
	display: inline-block;
	margin: 0 3px;
	width: 12px;
	height: 12px;
	background: #ddd;
	border-radius: 50%;
}

.intro-step-indicator > span.active {
	background: #09afdf;
}

.dashboard-panels {
	display: block;
	background: #fff;
	min-height: 341px;
	border-radius: 2px;
	margin: 15px 0;
}

.dashboard-panels:hover {
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.24);
}

.dashboard-panels img {
	vertical-align: middle;
}

.near-event-card {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	padding: 20px;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.near-event-card .event-header {
	margin-top: 5px;
}

.dark.navbar-toggle {
	border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
	margin-left: 3px;
	margin-top: 4px;
}

.dark.navbar-toggle .icon-bar {
	background-color: #ccc;
}

.wd-stream {
	padding-top: 8px;
	padding-bottom: 8px;
}

.wd-stream--article {
	padding: 40px 34px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.wd-article--heading {
	margin-top: 0;
	text-transform: capitalize;
	font-weight: bold;
}

.wd-article--text {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.4;
}

.wd-posted-on {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.wd-article--source {
	font-weight: bold;
}

.wd-label-article {
	border: 1px solid #e7e7e7;
	color: #555;
	font-weight: 400;
	padding: 5px 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
	text-decoration: none;
}

.wd-article--tags {
	margin-top: 20px;
}

.wd-article--thumbnail img {
	width: 100%;
	max-width: 100%;
	border-radius: 2px;
}

.wd-artist-news {
	padding: 10px 5px;
	border-top: 1px solid #f3f3f3;
}

.wd-artist-news:last-child {
	border-bottom: 1px solid #f3f3f3;
}

.wd-event-note {
	padding: 10px 5px;
	border-top: 1px solid #f3f3f3;
}

.wd-event-note:last-child {
	border-bottom: 1px solid #f3f3f3;
}

.wd-dashboard-sidebar {
	padding: 20px;
	background: #008dd2;
}

.wd-dashboard-grid {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wd-dashboard-col {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	min-height: 1px;
	padding: 35px 25px;
}

@media (min-width: 768px) {
	.wd-dashboard-col-sidebar {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 100%;
	}
	.wd-dashboard-col-sidebar .sidebar-inner {
		/*border: 1px solid #5bc2f4;*/
		padding: 20px;
		background:#f3f3f3;
	}
}

@media (max-width: 767px) {
	.wd-dashboard-col-sidebar {
		width: 100%;
	}
	.wd-dashboard-col {
		padding: 35px 15px;
		width: 100%;
	}
}

.wd-dashboard-col-sidebar.with-padding {
	padding: 35px 15px;
}

.wd-dashboard-col-sidebar.with-padding .sidebar-inner {
	padding: 20px;
}

.wd-dashboard-col-sidebar.bg-blue {
	color: #fff;
}

.wd-dashboard-col-sidebar.bg-blue .sidebar-inner {
	background: #008dd2;
}

.font-bold {
	font-weight: 700
}

hr.dark {
	border-top-color: #cacaca;
}

/*.owl-wrapper {
	width: 100% !important;
}*/

.wd-carousel {
	margin-bottom: 25px
}

.wd-carousel .carousel-control {
	background: none;
	opacity: 1;
	top: 100%
}

.wd-carousel .carousel-control .carousel-icon-left,
.wd-carousel .carousel-control .carousel-icon-right {
	color: #333;
	font-weight: normal;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 30px;
}

.wd-carousel .carousel-control .carousel-icon-left {
	margin-left: -10px;
}

.wd-carousel .carousel-control .carousel-icon-right {
	margin-right: -10px;
}

.wd-carousel .carousel-indicators {
	bottom: -28px
}

.wd-carousel .carousel-indicators li {
	background: #333;
}

@media (max-width: 767px) {
	.wd-carousel .carousel-indicators {
		position: initial;
		margin-left: 0;
		margin-top: 20px;
		width: 100%
	}
	.wd-carousel .carousel-control .carousel-icon-left,
	.wd-carousel .carousel-control .carousel-icon-right {
		margin-top: -28px;
	}

	.wd-carousel .carousel-control .carousel-icon-left {
		margin-left: -29px
	}
}

.wd-carousel .carousel-inner {
	padding-bottom: 10px;
}

.table-responsive {
    /*padding: 0 5px;*/
    width:100%;
    margin-bottom:15px;
    overflow-x:auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    /*border:1px solid #ddd*/
}

.notification-container {
	position: fixed;
	right: 20px;
	top: 100px;
	width: 1250px;
	max-width: 100%;
	z-index: 1100;
}


#loadingDiv{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
	background-size: 150px 150px;
  background-color:#333;
	background-position: center;
  background-image:url('/static/frontend/images/headphones-icon.gif');
  background-repeat:no-repeat;
  z-index:10000000;
  opacity: 0.6;
  color: yellow;
	border:none;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.detail-div{
	min-height: 100px !important;
	max-height: 100px !important;
	overflow-y: auto;
}

.dashboard-content-heading{
	text-align:center;
	font-weight: bold;
	font-size: 22px;
	color: #008dd2;
}

.well-box-shadow{
	box-shadow: 3px 3px 15px #888888;
}

.well {
	background-color: white;
}

.page-heading{
	text-align:center;
	font-weight: bold;
	font-size: 22px;
	margin-top:10px;
}

.wd-label-artist-genre {
    border: 1px solid #e7e7e7;
    color: #555;
    font-weight: 200;
    padding: 3px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    display: inline-block;
    text-decoration: none;
}


.artist-card-text {
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.artist-card-artist-name {
	color:#0c9ec7;
	font-size:18px;
	margin-top: 4px;
}

@media only screen and (min-width: 400px) {
	.artist-card-text {
		font-size: 15px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.artist-card-artist-name {
		color:#0c9ec7;
		font-size:22px;
	}

}

.artist-card-heading {
	font-weight: bold;
}

.artist-myevent-alert{
	padding:10px;
	margin: 2px;
}

.container-min-height {
	min-height: 420px;
}

.wdjp-base-color {
	color:#09afdf;
}

.dj-dashboard-bg {
    background-image: url('../frontend/images/dj-dashboard/dj-dashboard.jpg');
}

.checkboard-image {
	max-width:120px;
	width:120px;
	max-height:120px;
	height:120px;
}

.checkboard-image-100 {
	max-width:100px;
	width:100px;
	max-height:100px;
	height:100px;
}

.checkbox-box {
	padding:20px;
	padding-left:30px;
}

.cke_chrome {
	max-width: 100%;
	width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: #333;
	padding: 3px 5px;

}

/*.select2-selection__rendered{
}*/

.select2-container{
	max-width: 100%;
}

.dark-translucent-bg > div{
	/* margin-top: -18px; */
	/* margin-bottom: -25px; */
}

#chartdiv, #youtube_chartdiv, #twitter_chartdiv, #spotify_chartdiv, #instagram_chartdiv  {
    width: 100%;
	height: 500px;
    /*height: 100%;*/
}

.navbar-brand{
	float: left;
  height: 50px;
  padding: 16px 18px;
  font-size: 18px;
  line-height: 20px;
}

.header-left {
    padding: 9px 0 0 0;
}

.django-ckeditor-widget{
	/* display: inline-block !important; */
	display: block !important;
}

.custom-textarea {
  resize: none;
}


@media screen and (min-width: 1024px) {

	.bit-right{
		margin-right: -60px;
	}


}

.graycolor{
	color: gray;
}
.greencolor {
	color: green;
}
#id_request_type {
	caret-color: transparent;
}
.liconartists{
	cursor: pointer;
}
.liconartists:hover{
	background-color: #8080801f;
}

.dropdownarrow{
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}
div#wraplikeselect, div#wraplikeselect input {
    cursor: pointer;
}

# vantur @ 19.10.2018 header menu and search mobile friendly

navigation .collapse.in {
  display: block;
  margin-top: 55px;
}

.loader,
.loader:after{
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
}
