.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  font-size: 18px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}

.responsive-calendar .day > a:hover {
  pointer-events: none;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active {
  background-color: #afeeee;
  transition: all 0.2s ease-in-out
}
.responsive-calendar .day.active a {
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.responsive-calendar .day.active:hover > a {
    pointer-events: none;
    text-decoration: none;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
.responsive-calendar .day .text-badge {
  font-size: 12px;
  max-width: 96%;
  margin: auto;
  display: block;
  width: 100%;
}

.responsive-calendar .day .text-badge a {
    padding: 0 !important;
    border-radius: 6px;
    display: block;
    margin-bottom: 3px;
    background: #36a0e2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.responsive-calendar .day .text-badge a:hover {
  text-decoration: none;
}


.responsive-calendar .day .text-badge .booking-event-badge {
  background: #ff0000;
}

