.intro-step-card p{
    font-weight: bold;
    font-size: xx-large;
    font-family: sans-serif;
}

.fb{
    color: deepskyblue;
}

.intro-step-card label {
    float: left;
    padding: 10px;
}
/* span {
    display: block;
    overflow: hidden;
    padding: 10px 4px 0 6px
} */

/* .reset-btn{
    float: right;
} */

.float-left{
    float: left;
}

.pd-top-0{
    padding-top: 0px!important;
}

.info-box{
    border: thin solid #434b4e;
    border-radius: 10px;
}

input[type=checkbox] {
    display: block;
}

h6 span > a{
    color: #59afde;
}

.h100{
    height: 100px!important;
}

.caution-points > li{
    padding: 5px 0;
}