{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}

    {% if connection_obj.connection_type == "Artist" %}
        <p>Your request to be added as a connection to artist 
            <strong> {{ connection_obj.artist.artistName }} </strong>
            as a user type - 
            <strong> {{connection_obj.requested_by.profile_set.all.first.user_types}} </strong>
            with your connection type as  
            <strong>
            {% if connection_obj.connected_as == "Other" %}
                {{connection_obj.connected_as}}: {{connection_obj.other_option}}
            {% else %}
                {{connection_obj.connected_as}}
            {% endif %}
            </strong> is <strong>
            {% if connection_obj.status == 0 %}
                Rejected. <br><br> </strong>
                You can update details using this link 
                <a href="{{site_url}}/profiles/add-connection-form/Artist/{{connection_obj.artist.artistID}}/">Artist Submitted Form</a> and submit again for approval.
            {% else %}
                Approved. <br><br> </strong>  
                You can view your connection on <a href="{{site_url}}/artists/artist/{{ connection_obj.artist.artistID }}/"> artist details page.</a> 
            {% endif %}  
        </p>    

    {% elif connection_obj.connection_type == "Venue" %}
        <p>Your request to be added as a connection to Venue  
            <strong> {{ connection_obj.venue.venuename }} </strong>
            as a user type - 
            <strong> {{connection_obj.requested_by.profile_set.all.first.user_types}} </strong>
            with your connection type as  
            <strong>
            {% if connection_obj.connected_as == "Other" %}
                {{connection_obj.connected_as}}: {{connection_obj.other_option}}
            {% else %}
                {{connection_obj.connected_as}}
            {% endif %}
            </strong> is <strong>
            {% if connection_obj.status == 0 %}
                Rejected. <br><br> </strong>  
                You can update details using this link 
                <a href="{{site_url}}/profiles/add-connection-form/Venue/{{connection_obj.venue.venueid}}/">Venue Submitted Form</a> and submit again for approval.
            {% else %}
                Approved. <br><br> </strong>  
                You can view your connection on <a href="{{site_url}}/events/venue-detail/{{ connection_obj.venue.venueid }}/"> venue details page.</a> 
            {% endif %}
             
        </p>
    {% elif connection_obj.connection_type == "Event" %}
        <p>Your request to be added as a connection to Event  
            <strong> {{ connection_obj.event.eventName }} </strong>
            as a user type - 
            <strong> {{connection_obj.requested_by.profile_set.all.first.user_types}} </strong>
            with your connection type as  
            <strong>
            {% if connection_obj.connected_as == "Other" %}
                {{connection_obj.connected_as}}: {{connection_obj.other_option}}
            {% else %}
                {{connection_obj.connected_as}}
            {% endif %}
            </strong> is <strong>
            {% if connection_obj.status == 0 %}
                Rejected. <br><br> </strong>  
                You can update details using this link 
                <a href="{{site_url}}/profiles/add-connection-form/Event/{{connection_obj.event.eventID}}/">Event Submitted Form</a> and submit again for approval.
            {% else %}
                Approved. <br><br> </strong>  
                You can view your connection on <a href="{{site_url}}/events/event/{{ connection_obj.event.eventID }}/"> event details page.</a> 
            {% endif %} 
        </p>
    {% endif %}

{% endblock %}