{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Add Artist Connection </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                </ol>
            </div>
        </div>
        <section class="main-container text-center margin-clear" style="background: #eee; ">
            <div class="container">
                <div class="row">
                    <div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            {% if connection_type == "Artist" %}
                                <div class="row">                               
                                    <div class="col-md-12 text-left welcome-artist-frm">
                                        <h4 class="text-center">Register as a connection! </h4>
                                        <p style="text-align:justify">
                                            Great, So you'd like to be registered as a connection to <strong>{{connection_type_obj.artistName}}.</strong>
                                            This will allow other users to contact you in regarding that artist and also have them appear on your profile. First of all you need to send us your info for verification and then we will approve your connection and your profile will appear as a connection. Soon this will unlock additional features to make working with this artist easier.
                                        </p>     
                                    </div>
                                </div>
                                <a href="{% url 'add_connection_form' 'Artist' connection_type_obj.artistID %}" id="welcome_continue" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right" ></i>Lets get started</a>
                            {% elif connection_type == "Venue" %}
                                <div class="row">                               
                                    <div class="col-md-12 text-left welcome-artist-frm">
                                        <h4 class="text-center">Register as a connection! </h4>
                                        <p style="text-align:justify">
                                            Great, So you'd like to be registered as a connection to Venue - <strong>{{connection_type_obj.venuename}}.</strong>
                                            This will allow other users to contact you in regarding that venue and also have them appear on your profile. First of all you need to send us your info for verification and then we will approve your connection and your profile will appear as a connection. Soon this will unlock additional features to make working with this venue easier. 
                                        </p>     
                                    </div>
                                </div>
                                <a href="{% url 'add_connection_form' 'Venue' connection_type_obj.venueid %}" id="welcome_continue" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right" ></i>Lets get started</a>
                            {% elif connection_type == "Event" %}
                            <div class="row">                               
                                <div class="col-md-12 text-left welcome-artist-frm">
                                    <h4 class="text-center">Register as a connection! </h4>
                                    <p style="text-align:justify">
                                        Great, So you'd like to connect to Event - <strong>{{connection_type_obj.eventName}}.</strong>
                                        This will allow other users to contact you in regarding that event and also have them appear on your profile. First of all you need to send us your info for verification and then we will approve your connection and your profile will appear as a connection. Soon this will unlock additional features to make working with this event easier. 
                                    </p>     
                                </div>
                            </div>
                            <a href="{% url 'add_connection_form' 'Event' connection_type_obj.eventID %}" id="welcome_continue" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right" ></i>Lets get started</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><br><br><br>
        </section>

        <!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}