{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}


{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}



{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    function matchStart(params, data) {
        params.term = params.term || '';
        if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
            return data;
        }
        return false;
    }

    $(document).ready(function() {
        $("#id_tracker_artists").select2({
            maximumSelectionLength: 5,
            // minimumInputLength: 2,
            ajax: {
                url: "{% url 'search_all_artists' %}",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function(term) {
                    return {
                        term: term.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                }
            },
        });
    });
</script>

<script>

function form_validation(){
    var i = 0
    if($("#id_tracker_name").val()== ""){
        $("#id_error_name").text("*This Field is required");
        i = i + 1
    }
    if($("#id_tracker_artists").val()== null){
        $("#id_error_artist").text("*This Field is required");
        i = i + 1
    }

    // activa validation code

    // if(! $(".active").is(":checked")){
    //     $("#id_error_active").text("*This Field is required");
    //     i = i + 1
    // }

    else{
        if(i == 0){
            $("#id_add_tracker").submit()
        }
    }
}

</script>

<script>

    $( "#id_tracker_name" ).keyup(function() {
        $("#id_error_name").text("");
    });
    $( "#id_tracker_artists_div" ).keyup(function() {
        $("#id_error_artist").text("");
    });
    // $( ".active" ).click(function() {
    //     $("#id_error_active").text("");
    // });

</script>

{% endblock extra_js %}


{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'profile_trackers' %}">Groups Of Artists You Follow</a></li>
                    <li class="active">
                        Trackers
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-container text-center margin-clear" style="background: #eee">

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="intro-step-card">
                <h4 style="text-alugn:center;">Setup Groups Of Artists To Follow</h4>
                <form action="" method="POST" id="id_add_tracker">{% csrf_token %}
                    <div class="form-group">
                        <label class="py-label pull-left" for="id_tracker_name"><strong>What do you want to called your Artist Group - Eg EDM Stars ? Bass Legends :</strong></label>
                        <input type="text" class="form-control" name="tracker_name" {% if profile_tracker.tracker_name %} value="{{ profile_tracker.tracker_name }}" {% endif %} id="id_tracker_name">
                        <small style="color:red;" class="pull-left" id="id_error_name"></small>
                    </div><br>
                    <div class="form-group">
                        <label class="py-label pull-left" for="id_tracker_artists"><strong>What artists do you want to Group and Analyze ?</strong></label>
                        <div id="id_tracker_artists_div">
                        <select name="tracker_artists" class="form-control" id="id_tracker_artists" multiple="multiple" >
                            <!--
                            {% for artist in artists %}
                                <option value="{{artist.artistID}}" {% if artist in profile_tracker_artists %}selected{% endif %}>{{ artist.artistName }}</option>
                            {% endfor %}
                            -->
                        </select>
                        </div>
                        <small style="color:red;" class="pull-left" id="id_error_artist"></small>
                    </div><br>
                    <!--  active and inactive functionality code -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="pull-left">
                                    <label class="py-label"><strong>Active</strong></label><br>
                                    <input type="radio"  class="active" name="active" value="True" {% if profile_tracker.is_active == True %} checked {% endif %}> Yes <br>
                                    <input type="radio"  class="active" name="active" value="False" {% if profile_tracker.is_active == False %} checked {% endif %}> No <br>
                                </div>
                                <small style="color:red; margin-top:75px; margin-left:-40px;" class="pull-left"  id="id_error_active"></small>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="form-group">
                            <a onclick="form_validation()" class="btn btn-default">Add Artist Group</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><br><br><br>
</section>

{% endblock %}


{% block footer %}
<div class="subfooter navbar-fixed-bottom" style="background:black">
    <div class="container">
        <div class="subfooter-inner">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 Wheredjsplay. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
