{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Artist Connection Form </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<script type="text/javascript">

	$(document).ready(function(){
		$('#id_other_option').hide();

		$('input[name="connected_as"]').on('click', function() {
        if ($(this).val() == 'Other') {
            $('#id_other_option').show();
        }
        else {
            $('#id_other_option').hide();
        }
    });

	})
</script>

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>


{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
				</ol>
			</div>
		</div>
		<section class="main-container text-center margin-clear" style="background: #eee; ">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card connection-form" style="box-shadow: 3px 3px 15px #888888;">

                            <div class="row">                               
                                <div class="col-md-12 text-left">
									<form id="id_form" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<h4 class="text-center">You are a {{profile_obj.user_types}} user </h4>
										<p style="text-align:justify">
											<strong><span style="color:red">* </span>Please tell us what connection you have to 
											{% if connection_type == "Artist" %}
												{{connection_type_obj.artistName}} Artist:</strong>
											{% elif connection_type == "Venue" %}
												{{connection_type_obj.venuename}} Venue:</strong>
											{% elif connection_type == "Event" %}
												{{connection_type_obj.eventName}} Event:</strong>
											{% endif %}
											
											{{form.connected_as}}
											{{form.other_option}}
											<small class="help-block with-errors">{{form.connected_as.errors.as_text}}</small>
										</p> 
										<div class="form-group">
										<p style="text-align:justify"><span style="color:red">* </span><strong>Can you provide us a contact number/Skype etc if we need to contact you: </strong>
											{{form.user_info}}
											<small class="error-field"></small>
											<small class="help-block with-errors">{{form.user_info.errors.as_text}}</small>
										</p>
									</div>
										
										<p style="text-align:justify"> <strong> Can you upload two screenshots of any of your connections with the 
											{% if connection_type == "Artist" %}
												artist	(for faster connection) </strong><br> 
												<span>e.g. an email signature, Your website info, you on the artists Facebook page as management etc.</span>
											{% elif connection_type == "Venue" %}
												venue (for faster connection) </strong><br> 
												<span>e.g. an email signature, Your website info, you on the Venue Facebook page as management etc.</span>
											{% elif connection_type == "Event" %}
												event (for faster connection) </strong><br> 
												<span>e.g. an email signature, Your website info, you on the artists/event Facebook page as management etc.</span>
											{% endif %}
											
										</p>
										<div class="row">
											<div class="col-md-6" style="text-align:center">
													<span style="color:red">* </span>
												<span> Screenshot 1</span>
												{% if form.file1.value %}
													<div style="width:250px;height:250px;margin-left: 10%;">
														<img id="ImgOne" src="{{form.file1.value.url}}" alt="Image 1" style="width:250px;height:250px">
													</div>
													<p></p>
													<div class="form-group">
														{{form.file1}}
														<small class="error-field"></small>
														<small class="help-block with-errors">{{form.file1.errors.as_text}}</small>
													</div>
												{% else %}
												<div class="form-group">
													{{form.file1}}
													<small class="error-field"></small>
													<small class="help-block with-errors">{{form.file1.errors.as_text}}</small>
												</div>
												{% endif %}
											</div>
											<div class="col-md-6" style="text-align:center">
													<span style="color:red">* </span>
													<span> Screenshot 2</span>
													{% if form.file1.value %}
														<div style="width:250px;height:250px;margin-left: 10%;">
															<img id="ImgTwo" src="{{form.file2.value.url}}" alt="Image 2" style="width:250px;height:250px">
														</div>
														<p></p>
														{{form.file2}}
													{% else %}
													<div class="form-group">
														{{form.file2}}
														<small class="error-field"></small>
														<small class="help-block with-errors">{{form.file2.errors.as_text}}</small>
													</div>
													{% endif %}
													<small class="help-block with-errors">{{form.file2.errors.as_text}}</small>
												</div>
										</div>
										<div class="myCenteredButton mt-20">
											<button type="submit" id="id_submit" class="btn btn-default"> Send My Info</button>
										</div>
									</form>
                                </div>
                            </div>

                            
                            
                        </div>
					</div>
				</div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}