{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Add Artist Connection </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
				</ol>
			</div>
		</div>
		<section class="main-container text-center margin-clear" style="background: #eee; ">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">

                            <div class="row">                               
                                <div class="col-md-12 text-left welcome-artist-frm">
                                    <h4 class="text-center">Register as a connection! </h4>
                                    <p style="text-align:center">
										Thanks for applying as a connection to 
										{% if connection_type == "Artist" %}
											<strong>{{connection_type_obj.artistName}}</strong>.
										{% elif connection_type == "Venue" %}
											<strong>{{connection_type_obj.venuename}}</strong>.
										{% elif connection_type == "Event" %}
											<strong>{{connection_type_obj.eventName}}</strong>.
										{% endif %}
										<br>
										We will be in touch soon to confirm your connection !
                                    </p>     
                                </div>
                            </div>

                            <a href="{% url 'dashboard' %}" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right" ></i> Go to Dashboard </a>
                            
                        </div>
					</div>
				</div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}