{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Request for Artist Connection </h4>
{% endblock title %}
{% block email_body %}
<p>
    <strong>{{ connection_request_obj.requested_by.get_full_name|title }} (User Type - {{ connection_request_obj.requested_by.profile_set.all.0.user_types }})</strong> - has requested to connect with <strong>{{ artist_obj.artistName }}</strong>  to the wdjp system.
    
    <p> Visit User Submitted Form to Approve or Reject : <a href="{{site_url}}/profiles/add-connection-request/{{connection_request_obj.id}}"> User Detail Form </a> &nbsp; &nbsp;

    <br><br>
</p>
{% endblock %}
