{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    {% if connection_request_obj.connection_type == "Artist" %}
        <h4>Request Successfully submitted for Artist Connection </h4>
    {% elif connection_request_obj.connection_type == "Venue" %}
        <h4>Request Successfully submitted for Venue Connection </h4>
    {% elif connection_request_obj.connection_type == "Event" %}
        <h4>Request Successfully submitted for Event Connection </h4>
    {% endif %}

{% endblock title %}
{% block email_body %}
<p>Hi {{connection_request_obj.requested_by|title}},</p>
{% if connection_request_obj.connection_type == "Artist" %}
    <p>Thanks for applying as a connection to Artist <strong>{{connection_request_obj.artist.artistName}}</strong>.</p>
{% elif connection_request_obj.connection_type == "Venue" %}
    <p>Thanks for applying as a connection to Venue <strong>{{connection_request_obj.venue.venuename}}</strong>.</p>
    {% elif connection_request_obj.connection_type == "Event" %}
    <p>Thanks for connecting to <strong>{{connection_request_obj.event.eventName}}</strong> event.</p>
{% endif %}

<p>We will be in touch soon to confirm your connection !</p> 
{% endblock %}
