<label for="id_city" class="pull-left"><span style="color:red">*</span><strong>CITY:</strong></label>
<select  name="city" class="city form-control" style="margin-bottom: 0;">
    {%if profile_obj.city %}
        <option value = "{{ profile_obj.city.city_ascii }}">{{ profile_obj.city.city }}</option>
    {% else %}
        <option value = "">Choose city...</option>
    {% endif %}
    {% for ct in cities %}
        <option value = "{{ ct.city_ascii }}">{{ ct.city }}</option>
    {% endfor %}
</select>