{% load staticfiles %}

{% for search in all_search %}
    <a href="{{url}}{{ search.link }}" style="text-decoration: none;">
        <div class="profile-block" style="background-color: #60C2F5; color: black;">
            <div class="pull-right">
                {{ search.search_type }}
            </div>
            {{ search.message }}
        </div>
    </a>  
{% endfor %}