{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'frontend/js/jquery.jtruncate.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript">


    $("#showmore").click(function( event ) {
        event.preventDefault();
    });

    function load_more_search(action){
        start = $("#start").val();
        $("#ring").show();
        data = {
            "start":start,
        }
        $.ajax({
            url: "{% url 'load_more_search' %}",
            type: "GET",
            data: data,
            success: function(response) {
               debugger;
               $("#ring").hide();
               if (response.more == false){
                   $("#showmore").hide();
               }
               $("#displayed").append(response.data);
               $("#start").val(response.start);
            }
        })
    }


</script>

</script>

{% endblock extra_js %}

{% block content %}
    <div class="container-fluid col-md-offset-1">
        <div class="row">
            <form method="GET" action="" id="id_search_more">
                <input type="hidden" name="start" value="{{ start }}" id="start"/>
            </form>


            <div class="col-md-10"id="displayed">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="page-title">Your Recent Searches</h2>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <form method="POST" style="margin:0px;" action="">{% csrf_token %}
                            <input type="hidden" name="remove_all" value="True" id="">
                            {% if all_search %}
                                <button class="btn btn-danger">Remove All Searches</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% if all_search %}
                    {% for search in all_search %}
                    <a href="{{ search.link }}" style="text-decoration: none;">
                        <div class="profile-block" style="background-color: #60C2F5; color: black;">
                            <div class="pull-right">
                                {{ search.search_type }}
                            </div>
                            {{ search.message }}
                        </div>
                    </a>
                    {% endfor %}
                    <div id="ring" style="display: none;">
                        <img src="{% static 'frontend/images/ring.svg'%}" style="margin: auto;">
                    </div>

                {% else %}
                    <h2><div class="text-muted text-center">No recent search found.</div></h2>
                {% endif %}
            </div>
        </div>
        <div class="row col-md-offset-4">
            <div class="col-md-10 paddingtop-20">
                {% if all_search %}
                <button class="btn btn-default" id="showmore" onclick="load_more_search()">Show More</button>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><i class="fa fa "></i><a href="{% url 'my_recent_search' %}">My Recent Search</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}


{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
