{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

{% endblock extra_js %}


{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="active">
                        Manage My Dj's
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section style="background:#eee;">
        <div class="container">
            {% if managed_djs|length == 0 %}
            <div class="row">
                <div class="main col-md-7 col-md-offset-3 pv-40">
                    <div class="well" style="background: white; box-shadow: 3px 3px 15px #888888; margin-top:50px;">
                        <h3 style="text-align:center;">You had not added any Artist yet</h3>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                {% if add_dj %}
                                <a href="{% url 'add_added_djs' %}" class="btn btn-default btn-animated btn-lg">Add an Artist<i class="glyphicon glyphicon-user"></i></a>
                                {% else %}
                                <a href="{% url 'add_managed_djs' %}" class="btn btn-default btn-animated btn-lg">Add an Artist<i class="glyphicon glyphicon-user"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br><br><br><br>
            {% else %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        {% if add_dj %}
                        <h2 style="text-align:center"><strong>Add Djs<strong></h2>
                        {% else %}
                        <h2 style="text-align:center"><strong>Manage Djs<strong></h2>
                        {% endif %}
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                        {% if add_dj %}
                        <a href="{% url 'add_added_djs' %}" class="btn btn-default btn-animated btn-md">Add Artist<i class="glyphicon glyphicon-user"></i></a>
                        {% else %}
                        <a href="{% url 'add_managed_djs' %}" class="btn btn-default btn-animated btn-md">Add Artist<i class="glyphicon glyphicon-user"></i></a>
                        {% endif %}
                    </div>
                </div>
            <div class="row">
                {% for dj in managed_djs %}
                <div class="col-md-3">
                    <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888; height:320px;">
                        {% if dj.artistPhoto %}
                        <img src="{{ dj.artistPhoto.url }}" style="height:200px; width:400px;" class="img-responsive" alt="{{dj.artistName}}" >
                        {% else %}
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" style="margin-left:22px; height:210px;" alt="{{dj.artistName}}">
                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:6px; height:210px;" alt="{{dj.artistName}}">
                        {% endif %}
                        <div class="row">
                            <!-- <div class="col-md-9 col-md-offset-1"> -->
                                <a href="{% url 'artist_detail' dj.artistID %}"> <h4 style="color:#0c9ec7; text-align:center;"><strong>{{ dj.artistName }}</strong><h4> </a>
                            <!-- </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-offset-6">
                                {% if add_dj %}
                                <a href="{% url 'edit_added_artist_1' dj.artistID %}"  title="Edit {{ dj.artistName }} Details"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% else %}
                                <a href="{% url 'edit_djartist_1' dj.artistID %}"  title="Edit {{ dj.artistName }} Details"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% cycle "" "" "" "</div><br><div class='row'>"%}
                {% endfor %}
            </div>
            {% endif  %}
        </div><br><br><br>
</section>

{% endblock %}


{% block footer %}
<div class="subfooter navbar-fixed-bottom" style="background:black">
    <div class="container">
        <div class="subfooter-inner">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 Wheredjsplay. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
