{% extends "home/__base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}


{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script>

function delete_tracker(tracker_id, tracker_name){
    window.tracker_id = tracker_id
    window.tracker_name = tracker_name
    $('#delete_tracker').modal('show');
    $('#sure').html('Are you Sure you want to Delete <strong>' + tracker_name + '</strong>');



    // var url = '{% url 'delete_tracker' 999 %}'.replace(999, tracker_id)
    //
    // document.location.href = url
}

function confirm_delete_tracker(){
    var url = '{% url 'delete_tracker' 999 %}'.replace(999, tracker_id)
    document.location.href = url
}

</script>



{% endblock extra_js %}

{% block content %}

<div id="delete_tracker" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="title">Delete Group of Artists</h4>
      </div>
      <div class="modal-body">
        <p id="sure">Are You sure You want to delete </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onClick="confirm_delete_tracker()">Delete</button>
      </div>
    </div>

  </div>
</div>

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="active">
                        Trackers
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if profile_tracker|length == 0 %}
    <!-- <h4 style="text-align:left; margin-top: 30px; font-size: 16px;">*Here you can set up a Group of Artists to compare their Social Media Event listings Info immediately, helping you to make better decisions.<span data-toggle="modal" data-target="#tracker_example" style="cursor:pointer; color:skyblue"> See Example</span></h4>
    <div class="row">
        <div class="main col-md-7 col-md-offset-3 pv-20" style="margin-bottom: 80px;">
            <div class="well" style="background: white; box-shadow: 3px 3px 15px #888888; margin-top:50px;">
                <h3 style="text-align:center;">Create a Tracking Group </h3>
                <div class="row">
                    <div class="col-md-3 col-md-offset-4">
                        <a href="{% url 'add_tracker' %}" class="btn btn-default btn-lg">Create a Group</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4 style="text-align:center;"><strong>Track Artists Online Popularity</strong></h4>
                <hr>
                <h4 style="font-size:16px;">This tool is designed to allow you to group artists into “sets” : to  compare their developing popularity on music and social media and by the number of events they play</h4>

                <h4 style="font-size:16px;">
                    An Example Of Three Artists Over time- David Guetta, Martin Garrix and Dimtiri Vegas and lIke Mike  are show below on Spotify.
                    We also show you the artists shows- don’t forget to shortlist them and track there contacts if you want to build a better contacts database.
               </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src= "{% static 'frontend/images/new_tracker_image.png' %}" alt="{{sm_artist.artistName}}">
            </div>
            <!-- <div class="col-md-5 col-md-offset-1">
                <img src= "{% static 'frontend/images/tracker_image2.png' %}" alt="{{sm_artist.artistName}}">
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src= "{% static 'frontend/images/tracker_image2.png' %}" alt="{{sm_artist.artistName}}">
            </div>
        </div> -->
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="{% url 'add_tracker' %}" class="btn btn-default">SET UP ARTISTS GROUP</a>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4 style="font-size:16px;">
                    We believe that thinking about the development of an artist is often as good an indication of popularity as the total number of people who have liked them. You need to group the artists together
                    If you like this functionality you might want to look at individual artists on track <a href="{% url 'territory_search' %}" style="color:blue;">Artist Popularity in Country</a>.
                </h4>
            </div>
        </div>
        -->
        <br>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4 style="text-align:center;"><strong>Track Artists Online Popularity.</strong></h4>
        </div>
        <div class="col-md-2">
            <br>
            <a href="{% url 'add_tracker' %}" class="btn btn-default btn-sm pull-left">Add New Group</a>
        </div>
    </div>
    <!-- <div class="row" >
        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 35px;"> -->
            <h4 style="font-size:16px; margin-bottom: 35px;">
                Please see below your Artist Groups.  (Include thumbnails in Group.) Please click on any group to view the developing trends or the edit button to change the groups.
            </h4>
        <!-- </div>
    </div> -->

    <div class="row">
        {% for tracker in profile_tracker %}
        <div class="col-md-3">
            <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3">
                        <p style="font-size:11px; text-align:center; margin-bottom:-8px; margin-left:-24px;padding-left: 12px;"><strong>Group Name </strong></p>
                        <a href="{% url 'edit_tracker' tracker.id %}"  title="Edit {{ tracker.tracker_name }} Details">
                            <h4 style="text-align:center;color: #59afde;">
                                <strong>{{ tracker.tracker_name|title }}</strong>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </h4>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a style="display:inline;" >
                            <span class="glyphicon glyphicon-remove-circle" style="color:red; cursor:pointer;" onClick="delete_tracker('{{tracker.id}}', '{{ tracker.tracker_name }}' )" title="Delete"></span>
                        </a>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-offset-6">
                        <a href="{% url 'edit_tracker' tracker.id %}"  title="Edit {{ tracker.tracker_name }} Details"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div> -->
                <div style="min-height:165px;">
                    {% for artist in tracker.artist.all %}
                        <a href="{% url 'artist_detail' artist.artistID %}"><h4 style="text-align:center; color:blue;">{{ artist }} &nbsp;
                            {% if artist.artistPhoto %} 
                                <img class="circular_image_thumbnail" src="{{artist.artistPhoto.url}}" alt="{{artist.artistName}}" width="40" height="40">
                            {% else %}
                                <img class="circular_image_thumbnail" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="40" height="40">
                            {% endif %}
                        </h4></a>
                    {% endfor %}
                </div>

                <a href="{% url 'tracker_fb_stats' tracker.id %}" style="margin-left:70px;" class="btn btn-default btn-sm">View Stats</a>
            </div>
        </div>
        {% cycle "" "" "" "</div><br><div class='row'>"%}
        {% endfor %}
    </div>
    <!-- <div class="row">
        <div class="col-md-10 col-md-offset-1"> -->
            <h4 style="font-size:16px;">
                We believe that thinking about the development of an artist is often as good an indication of popularity as the total number of people who have liked them. You need to group the artists together
                If you like this functionality you might want to look at individual artists on track <a href="{% url 'territory_search' %}" style="color:blue;">Artist Popularity in Country</a>.
            </h4>
        <!-- </div>
    </div> -->

    {% endif %}
</div>



<div id="tracker_example" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Demo Tracker</h4>
            </div>
            <div class="modal-body">
                <img src= "{% static 'frontend/images/tracker_example.png' %}">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
