{{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{pro_obj.user.get_full_name|title}} </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>

{% endblock %}

{% block content %}
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                </ol>
            </div>
        </div>
        <section class="main-container text-center margin-clear" style="background: #eee; ">
            <div class="container">
                <div class="row">
                    <div class="main col-md-10 col-md-offset-1">
                        <div style="box-shadow: 3px 3px 15px #888888;padding-bottom: 10px">
                                <div class="row text-center" 
                                {% if pro_obj.user_types == "Artists/DJs" %}
                                    style="margin:0px;color: whitesmoke; background-color: black;" >    
                                {% endif%}
                                {% if pro_obj.user_types == "Agent" %}
                                    style="margin:0px;color: whitesmoke;background-color:#09afdf" >
                                {% endif%}
                                {% if pro_obj.user_types == "Promoter" %}
                                style="margin:0px;color: whitesmoke; background-color: red;" >
                                {% endif%}
                                
                                    <p style="padding:10px;margin:0px;"><strong>{{pro_obj.user_types|upper}}</strong></p>
                                </div>
                                <div class='row'>
                                        <div class="col-md-4 pv-mobile" style="text-align: center;">
                                            <div class="sliderImgWrapper" style="margin: 20px;">
                                                {% if pro_obj.image %}
                                                    <img  class="avatar img-circle img-thumbnail" src="{{pro_obj.image.url}}" alt="{{pro_obj.nickname}}" width="100%" >
                                                {% else %}
                                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100%" height="">
                                                {% endif %}
                                            </div>
                                            {% if request.user == pro_obj.user %}
                                                <a href="{% url 'edit_details' %}" class="btn btn-primary btn-sm mb-10"> Edit Profile</a>
                                            {% else %}
                                                <button class="btn btn-primary btn-sm mb-10" id="add_fav_ev" role="button" onclick="" style="display: inline-block;">CONNECT</button>
                                            {% endif %}
                                        </div>
                                        
                                        
                                        <div class="col-md-8" style="margin-top:3%">
                                            <div class="row">
                                                <h4 class="artist-name" style="margin-top: 0px;">{{ pro_obj.user.get_full_name|title }} 
                                                    {% if pro_obj.nickname %}
                                                    ({{pro_obj.nickname}})
                                                    {% endif %}
                                                </h4>
                                                <h6>{{pro_obj.user.email}}</h6>
                                                <span>
                                                    {% if pro_obj.city %}
                                                        {{pro_obj.city}} 
                                                    {% endif %}
                                                    {% if pro_obj.country %}
                                                        {% if pro_obj.city %}
                                                        ,
                                                        {% endif %}
                                                        {{ pro_obj.country.name|title }}
                                                {% else%} 
                                                
                                                {% endif %}
                                                
                                                </span>
                                            </div>

                                            <div class="row pv-mobile" style="text-align: center;">
                                                {% if pro_obj.user_types == "Artists/DJs" %}
                                                    <span class="icon default-bg circle mt-10 mb-10" style="background-color:black;"><i class="glyphicon glyphicon-headphones" style="margin-top:15px;"></i></span>
                                                {% endif%}
                                                {% if pro_obj.user_types == "Agent" %}
                                                    <span class="icon default-bg circle mt-10 mb-10" ><i class="glyphicon glyphicon-earphone" style="margin-top:15px;"></i></span>
                                                {% endif%}
                                                {% if pro_obj.user_types == "Promoter" %}
                                                    <span class="icon default-bg circle mt-10 mb-10" style="background-color:red;"><i class="fa fa-hand-peace-o" style="margin-top:15px;"></i></span>
                                                {% endif%}
                                            </div>
                                            
                                            <div class="row text-center">
                                                <p class="profile-text"><strong>Connections:- </strong>
                                                    <span class="tag-default text-center"> 
                                                        {% for artist_connection in artist_connections %}
                                                            <a href="{% url 'artist_detail' artist_connection.artist.artistID %}" target="_blank"><span class="badge badge-pill eastern-blue-bg mb-5"> {{artist_connection.artist.artistName}} </span></a>
                                                        {% endfor %}
                                                        {% for venue_connection in venue_connections %}
                                                            <a href="{% url 'venue_detail' venue_connection.venue.venueid %}" target="_blank"><span class="badge badge-pill ceil-blue-bg mb-5"> {{venue_connection.venue.venuename}} </span></a>
                                                        {% endfor %}
                                                        {% for event_connection in event_connections %}
                                                            <a href="{% url 'event_show' event_connection.event.eventID %}" target="_blank"><span class="badge badge-pill elm-green-bg mb-5"> {{event_connection.event.eventName}} </span></a>
                                                        {% endfor %}

                                                        {% if not artist_connections and not venue_connections and not event_connections %}
                                                            <span>No Connections yet</span>
                                                        {% endif %}
                                                    </span>
                                                </p>
                                            </div>
                                            
                                            <div class="row text-center">
                                                <p class="profile-text"><strong>Worked with:- </strong>
                                                    <span class="tag tag-default profile-text"> Coming soon </span>
                                                </p>
                                            </div>
                
                                            <div class="row text-center">
                                                <p class="profile-text"><strong>Works at:- </strong>
                                                    <span class="tag tag-default profile-text"> Coming soon </span>
                                                </p>
                                            </div>
                                    </div>
                                    </div>
                            
                        </div>
                    </div>
                </div>
            </div><br><br><br>
        </section>

        <!-- main-container end -->    
    
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}



   
