{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Artist Connection Form </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<style type="text/css">
/* Style the Image Used to Trigger the Modal */
img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 80%;
    }
  }
</style>

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>


<script type="text/javascript">


    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img1 = document.getElementById("ImgOne");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img1.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img2 = document.getElementById("ImgTwo");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
    modal.style.display = "none";
}
</script>

<script type="text/javascript">

    function reject_artist(){
        $("#id_approved").val("rejected")
        $("#id_form").submit();
    }
    
    function approve_artist(){
        $("#id_approved").val("approved")
        $("#id_form").submit();
    }
    
    </script>
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
				</ol>
			</div>
		</div>
		<section class="main-container text-center margin-clear" style="background: #eee; ">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card connection-form" style="box-shadow: 3px 3px 15px #888888;">

                            <div class="row">                               
                                <div class="col-md-12 text-left">
                                    <h4 class="text-center">User Submitted Form Details</h4>
                                    <p style="text-align:justify">
                                        <strong>Please tell us what connection you have to 
                                        {% if connection.connection_type == "Artist" %}
                                            {{connection.artist.artistName}}
                                        {% elif connection.connection_type == "Venue" %}
                                            {{connection.venue.venuename}}
                                        {% elif connection.connection_type == "Event" %}
                                            {{connection.venue.eventName}}
                                        {% endif %}
                                        :</strong>
                                    </p>

                                    {% if connection.connected_as == "Other" %}
                                        <input type="text" class="py-form-control" value="Other: {{connection.other_option}}" readonly>
                                    {% else %}
                                        <input type="text" class="py-form-control" value="{{connection.connected_as}}" readonly>
                                    {% endif %}
                                    <br>
                                    <p style="text-align:justify"><strong>Can you provide us a contact number/Skype etc if we need to contact you: </strong></p>
                                    <input type="text" class="py-form-control" value="{{connection.user_info}}" readonly>
                                    <br>
                                    <p style="text-align:justify"> <strong> Can you upload two screenshots of any of your connections with the artist (for faster connection) </strong><br> 
                                        <span>e.g. a email signature, Your website info, you on the artists Facebook page as management.</span>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6" style="text-align:center;width:250px;height:250px;margin:1% 10%">
                                            <span> Screenshot 1</span><br>
                                            <img id="ImgOne" src="{{connection.file1.url}}" alt="Image 1" style="width:250px;height:250px">
                                        </div>
                                        <div class="col-md-6" style="text-align:center;width:250px;height:250px;">
                                                <span> Screenshot 2</span><br>
                                                <img id="ImgTwo" src="{{connection.file2.url}}" alt="Image 2" style="width:250px;height:250px">
                                            </div>
                                    </div>
                                    <div class="row mt-20">
                                        {% if connection.status == 0 %}
                                            <form id="id_form" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div>
                                                    Remarks:
                                                </div>
                                                <div>
                                                    {{form}}
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="myCenteredButton">
                                        {% if connection.status == 0 %}
                                            <button type="button" class="btn btn-default text-success-btn" onclick="approve_artist()">
                                                Approve
                                            </button>
                                            &nbsp;
                                            <button type="button" class="btn btn-default text-danger-btn" onclick="reject_artist()">
                                                Reject
                                            </button>
                                        {% else %}
                                            <h4>Artist already {% if connection.status == 1%} Approved {% else %} Rejected {% endif %} by {{connection.handled_by}}</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div><br><br><br>
        </section>
        
        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>
      
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
      
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}