{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}

{% load humanize %}
{% block title %} {{ block.super }} | My Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}


<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>


<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>

<!-- <link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'frontend/css/intlTelInput.css' %}"> -->

<!-- <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
 -->
 <!-- <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script> -->

<!-- <script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'frontend/js/intlTelInput.min.js' %}"></script> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- JS AND CSS FOR IMAGE CROP -->
<script type="text/javascript" src="{% static 'frontend/js/cropper/profile_image_cropper.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/cropper/cropper.min.js' %}"></script>
<link href="{% static 'frontend/css/cropper.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $('.all_artists_select_multiple').select2();
    })
    

$(function() {
    if( $("#id_mobile_no").length !== 0 ) {
        $("#id_mobile_no").intlTelInput();
    }
});

    function validate_city_country(){
        var selected_city = $("select[name='city']").val()
        var selected_country = $("select[name='country']").val()
        console.log(selected_city)
        if (selected_city == ""){
            $('#city_error').text("Please Select a City.")
            return false
        }
        if (selected_country == ""){
            $('#country_error').text("Please Select a Country.")
            return false
        }
        return true

    }

    function load_cities(param){
        current_url = window.location.href ;
        if (param){
        country = param;
        }
        else {
        country = $(".country").val();
        }
        data = {
            "ctry":country,
        }
        $.ajax({
            url: '/profiles/get-cities/',
            type: "GET",
            data: data,
            success: function(response) {
                $(".cities_block").html(response);
            }
        })
    }

  $("#id_image").on('change', function () {
    var image_holder = $("#id_avatar_img");
    image_holder.empty();
    var reader = new FileReader();

    reader.onload = function (e) {
        $("<img/>", {
            "src": e.target.result,
            "style": 'height: 150px; width: 150px; cursor: pointer;',
            "class": 'mrgn-lr-auto img-hover'
        }).appendTo(image_holder);
    }

    $("#id_default_avatar").val("");
    image_holder.show();
    $("#image_error").hide();
    reader.readAsDataURL($(this)[0].files[0]);
});

$("#id_image").css("display", "none");

$("#id_avatar_img").on("click", function(){
    $("#id_image").click();
})


</script>
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        {% if not request.user.is_authenticated %}
                            <li class="active">Become User</li>
                        {% else %}
                            <li class="active"><a href="{% url 'edit_details' %}">Edit Profile</a></li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
<div class="container pv-20">
        <div class="row">
            <div class="col-md-3 ">
                <form class="form-horizontal" id="update_image_form" role="form" data-toggle="validator" action="{% url 'update_image' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="list-group ">
                        <div class="text-center">
                            <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
                            {%if profile_obj.nickname %}
                            <h6>USERNAME</h6>
                            <h3>{{ profile_obj.nickname }}</h3>
                            {% endif%}
                            {% if profile_obj.image %}
                                <div id="id_avatar_img" class="img-div" style="margin-left: 10%;">
                                    <img src="{{ site_url }}/media/{{profile_obj.image}}"
                                    class="avatar img-circle img-thumbnail img-hover" alt="{{profile_obj.name}}"/>
                                    <div class="middle">
                                        <div class="text" style="margin-left: 40%;">Click here to update image</div>
                                    </div>
                                </div>
                            {% else %}
                                <div id="id_avatar_img" class="img-div" style="margin-left: 10%;">
                                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                                        class="avatar img-circle img-thumbnail img-hover" alt="avatar" >
                                    <div class="middle">
                                        <div class="text" style="margin-left: 40%;">Click here to update image</div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_image.image }}
                            {{ form_image.x }}
                            {{ form_image.y }}
                            {{ form_image.width }}
                            {{ form_image.height }}

                            <h6 style="font-size: 12;">Click image to change</h6>
                            <small class="help-block with-errors">{{form_image.image.errors.as_text}}</small>
                            <small class="help-block">*upload image in jpeg/png format</small>
                        </div></hr><br>
                        <!-- MODAL TO CROP THE IMAGE -->
                        <div class="modal fade" id="modalCrop">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button id="cancel-crop-image" type="button" data-dismiss="modal" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Crop the photo</h4>
                                </div>
                                <div class="modal-body">
                                <img src="" id="image" style="max-width: 100%;">
                                </div>
                                <div class="modal-footer">
                                <div class="btn-group pull-left" role="group">
                                    <button type="button" class="btn btn-primary js-zoom-in">
                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary js-zoom-out">
                                    <span class="glyphicon glyphicon-zoom-out"></span>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-primary js-crop-image">Crop</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    <a href="{% url 'my_membership' %}" class="list-group-item list-group-item-action">Account overview</a>
                    <a href="#" class="list-group-item list-group-item-action active">Edit profile</a>
                    <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Change password</a>
                    </div>
                </form>
            </div>
            <div class="col-md-9 well">
                <form class="form-horizontal" id="id_form" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>YOUR USER PROFILE</h3>
                        <h4> </h4>
                        <h5>Amend Your Profile Settings Below</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_first_name" class="pull-left"><span style="color:red">*</span><strong>YOUR USERNAME:</strong></label>
                                        {{ form.nick_name }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_first_name" class="pull-left"><span style="color:red">*</span><strong>YOUR FIRST NAME:</strong></label>
                                        {{ form.first_name }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_last_name" class="pull-left"><span style="color:red">*</span><strong>YOUR LAST NAME:</strong></label>
                                        {{ form.last_name }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_last_name" class="pull-left"><span style="color:red">*</span><strong>COUNTRY:</strong></label>

                                        <select  name="country" class="country form-control" style="display:;margin-bottom: 0;" onchange="load_cities();" >
                                            {%if profile_obj.country %}
                                                <option value = "{{ profile_obj.country.code }}">{{ profile_obj.country.name }}</option>

                                            {% else %}
                                                <option value = "">Choose country...</option>
                                            {% endif %}
                                            {% for country in countries %}
                                                <option value = "{{ country.code }}">{{ country.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <small id="country_error" class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12 cities_block">
                                        <label for="id_city" class="pull-left"><span style="color:red">*</span><strong>CITY:</strong></label>

                                        <select  name="city" class="city form-control" style="margin-bottom: 0;">
                                            {%if profile_obj.city %}
                                                <option value = "{{ profile_obj.city.city_ascii }}">{{ profile_obj.city.city }}</option>
                                            {% else %}
                                                <option value = "">Choose city...</option>
                                            {% endif %}
                                            {% for ct in cities %}
                                                <option value = "{{ ct.city_ascii }}">{{ ct.city }}</option>
                                            {% endfor %}
                                        </select>
                                        <small id="city_error" class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_email" class="pull-left"><span style="color:red">*</span><strong>YOUR EMAIL:</strong></label>
                                        <!-- {{ form.email }} -->
                                        <input class="py-form-control" id="id_email" name="email" required="required" type="text" value="{{ profile_obj.user.email }}"
                                               style="background-color: darkgrey;" disabled>
                                        {% if form.email.errors %}
                                            <small class="error-field">{{ form.email.errors.as_text }}</small>
                                        {% else %}
                                            <small class="help-block with-errors"></small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_user_type" class="pull-left"><span style="color:red">*</span><strong>YOUR PLAN TYPE:</strong></label>
                                        <input class="py-form-control" id="id_user_types" name="type" required="required" type="text" value="{{ profile_obj.user_types }}" style="background-color: darkgrey;" disabled></input>
                                        {% if form.user_types.errors %}
                                            <small class="error-field">{{ form.user_types.errors.as_text }}</small>
                                        {% else %}
                                            <small class="help-block with-errors"></small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="id_user_type" class="pull-left"><span style="color:red">*</span><strong>YOUR BILL CYCLE EXPIRY DATE:</strong></label>
                                        <input class="py-form-control" id="id_user_types" name="type" required="required" type="text" value="{% if user_subscriptions %}{{ user_subscriptions.end_time }}{% endif %}" style="background-color: darkgrey;" disabled></input>
                                        {% if form.user_types.errors %}
                                            <small class="error-field">{{ form.user_types.errors.as_text }}</small>
                                        {% else %}
                                            <small class="help-block with-errors"></small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 style="text-align:center;"><strong>YOUR FAVOURITE ARTISTS</strong></h4>
                        <div class="col-md-11 text-center" style="display:inline">
                            {% for art in all_user_shortlist_artist %}
                                {% if art|get_artist_image_or_none %}
                                <a href="/artists/artist/{{ art.artistID }}/" target="_blank">
                                    <div class="roundImg margin-auto col-md-2 mb-10" style="background-image: url('{{art|get_artist_image_or_none}}')"></div>
                                </a>
                                {% else %}
                                <a href="/artists/artist/{{ art.artistID }}/" target="_blank">
                                    <div class="roundImg margin-auto col-md-2 mb-10" style="background-image: url('{{STATIC_URL}}frontend/images/team-member-1.jpg')"></div>
                                </a>
                                {% endif %}
                                
                            {% endfor %}
                        </div>
                        
                        <div id="id_elem_div" class="col-md-11 mt-10">
                            <h4 class=text-center><strong>INSERT OR DELETE YOUR FAVORITE ARTISTS BELOW </strong> </h4>
                            <select name="shortlisted_artists" class="form-control all_artists_select_multiple" id="elem" multiple="multiple" >
                                {% for artist in artists %}
                                    <option value="{{artist.artistID}}" {% if artist in all_user_shortlist_artist %} selected {% endif %}>{{ artist.artistName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row" STYLE="padding-top: 15px;">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="col-md-12 mt-10">
                                        <label for="id_signature" class="pull-left"><strong>EMAIL SIGNATURE:</strong></label><br>
                                                {{ form.signature }}
                                        <small class="error-field">{{ form.signature.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if social_auth_google|length = 0 or social_auth_facebook|length = 0 %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h4 style="text-align:center;"><strong>Connect Social Account</strong></h4>
                                <p>
                                    {% if not social_auth_google %}
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-block btn-social btn-google"
                                            style="color: white; background-color:#e84f3e; text-align:center;">
                                       <span class="fa fa-google"></span> Connect Google Account<a>
                                    {% endif %}
                                    {% if not social_auth_facebook %}
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-sm btn-block btn-social btn-facebook"
                                           style="color: white; background-color:#3b5998; text-align:center;">
                                        <span class="fa fa-facebook"></span> Connect Facebook Account<a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <input class="btn btn-primary btn-sm" type="submit" value="Save Profile" onclick="return validate_city_country();">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}