{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script>

function load_events(action){
   if (action == "upcoming"){
       var start = $("#upcoming_start").val();
       $("#upcoming_svg").show();
   }
   else{
       var start = $("#past_start").val();
       $("#past_svg").show();
   }
   data = {
       "start":start,
       "action":action,
   }
   current_url = window.location.href ;
    $.ajax({
       url: current_url,
       type: "GET",
       data: data,
       success: function(response) {
           if (response.status === 'False'){
               $("#showmore").hide();
               }
           if (action == "upcoming"){
               $("#upcoming_svg").hide();
               if (response.status == "True"){
                   $('#upcomingtable tr:last').after(response.data);
                   $('#upcoming_start').val(response.start);
               }
               else {
                   $("#upcoming_button").hide();
               }
           }
           else {
               $("#past_svg").hide();
               if (response.status == "True"){
                   $('#pasttable tr:last').after(response.data);
                   $('#past_start').val(response.start);
               }
               else {
                   $("#past_button").hide();
               }

           }
       }
   })
}

</script>

{% endblock extra_js %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'profile_trackers' %}">Your Trackers</a></li>
                    <li class="active">
                        {{ profile_tracker.tracker_name }}
                    </li>
                    <li class="active">
                        {{ profile_tracker.tracker_name }} Events
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4 style="text-align:center"><strong>Upcoming And Past Events for " {% for artist in artists %} {{ artist.artistName }} {% if not forloop.last %}, {% endif %} {% endfor %}" </strong></h4> <br>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add_tracker' %}" class="btn btn-default btn-sm pull-right">Add New Group</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- <div class="well well-box-shadow"> -->
                <div class="row checkbox-box" style="margin-left: 15px;">
                    {% for fv_artist in artists %}
                        <div class="item">
                            <div class="wrapper">
                                {% if fv_artist.artistPhoto %}
                                    <img src="{{ fv_artist.artistPhoto.url }}" alt="{{fv_artist.artistName}}" style="margin-right: 10px;" class="checkboard-image">
                                {% else %}
                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" style="margin-right: 10px;" alt="{{sm_artist.artistName}}" class="checkboard-image">
                                {% endif %}
                                <!-- <div class='description'> -->
                                    <p style="text-align:center;"><a style=" text-decoration: none !important; margin-right:20px;" href="{% url 'artist_detail' fv_artist.artistID %}"><strong>{{fv_artist.artistName}}</strong></a></p>
                                <!-- </div> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li {% if youtube_stats %} class="active" {% endif %}><a href="{% url 'tracker_youtube_stats' profile_tracker.id %}">Youtube Stats</a></li>
            <li {% if twitter_stats %} class="active" {% endif %}> <a href="{% url 'tracker_twitter_stats' profile_tracker.id %}">Twitter Stats</a></li>
            <li {% if spotify_stats %} class="active" {% endif %}> <a href="{% url 'tracker_spotify_stats' profile_tracker.id %}">Spotify Stats</a></li>
            <li {% if instagram_stats %} class="active" {% endif %}> <a href="{% url 'tracker_instagram_stats' profile_tracker.id %}">Instagram Stats</a></li>
            <li {% if tracker_events %} class="active" {% endif %}> <a href="{% url 'tracker_events' tracker_id %}">Upcoming And Past Events </a> </li>
        </ul>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                {% if upcoming_event or former_events %}
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
                        <li><a data-toggle="tab" href="#past">Past Events</a></li>
                    </ul>

                    <div class="tab-content">
                    <div id="upcoming" class="tab-pane fade in active">
                        {% if upcoming_events %}
                            <div class="table-responsive">
                                <table id="upcomingtable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Artist</th>
                                            <th>Date</th>
                                            <th>Event Name</th>
                                            <th>Venue Name</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            {% if user_type == "Agent" %}
                                                <th>Shortlist events</th>
                                                <th>Shortlist venues</th>
                                            {% else %}
                                                <th>Favorite Venue</th>
                                            {% endif%}
                                            <th>Search On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in upcoming_events %}
                                         <tr>
                                            <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                            <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                            <td class="col-md-2">{{ event.eventid.eventName|title }}</td>
                                            <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                            <td class="col-md-1">{{ event.venueid.city }}</td>
                                            <td class="col-md-2">{{ event.venueid.country}}</td>
                                            
                                            {% if user_type == "Agent" %}
                                                <td class="col-md-1 text-center">
                                                    <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
                                                </td>
                                                <td class="col-md-1 text-center">
                                                    <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
                                                </td>
                                            {% else %}
                                                <td class="col-md-1">
                                                    {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                        <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% else %}
                                                        <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% endif %}
                                                </td>
                                            {% endif %}

                                            <td class="col-md-1">
                                                <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-facebook fa-stack-1x"></i>
                                                  <span>
                                                </a>
                                                <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-google fa-stack-1x"></i>
                                                  <span>
                                                </a>
                                                <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-twitter fa-stack-1x"></i>
                                                  <span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                           </div>
                           <div>
                                <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                           </div>
                           <div class="text-center">
                                <input type="hidden" name="start" value="{{ start }}" id="upcoming_start"/>
                                <button type="button" id="upcoming_button" onclick="load_events('upcoming')" class="btn btn-default btn-md">
                                    <span class="glyphicon glyphicon-plus"></span> Show More
                                </button>
                           </div>
                       {% else %}
                           <div class="no_event_notification">
                               <h3 class="title">No Upcoming Events</h3>
                           </div>
                       {% endif %}
                   </div>
                   <div id="past" class="tab-pane fade">
                       {% if former_events %}
                       <div class="table-responsive">
                           <table id="pasttable" class="table">
                               <thead>
                                 <tr>
                                   <th>Artist</th>
                                   <th>Date</th>
                                   <th>Event Name</th>
                                   <th>Venue Name</th>
                                   <th>City</th>
                                   <th>Country</th>
                                   {% if user_type == "Agent" %}
                                        <th>Shortlist events</th>
                                        <th>Shortlist venues</th>
                                    {% else %}
                                        <th>Favorite Venue</th>
                                    {% endif%}
                                   <th>Search On</th>
                                 </tr>
                               </thead>
                               <tbody>
                                   {% for event in former_events %}
                                         <tr>
                                            <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                            <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                            <td class="col-md-2">{{ event.eventid.eventName|title }}</td>
                                            <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                            <td class="col-md-1">{{ event.venueid.city }}</td>
                                            <td class="col-md-2">{{ event.venueid.country}}</td>
                                            {% if user_type == "Agent" %}
                                                <td class="col-md-1 text-center">
                                                    <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
                                                </td>
                                                <td class="col-md-1 text-center">
                                                    <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
                                                </td>
                                            {% else %}
                                                <td class="col-md-1">
                                                    {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                        <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% else %}
                                                        <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% endif %}
                                                </td>
                                            {% endif %}

                                            <td class="col-md-1">
                                               <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-facebook fa-stack-1x"></i>
                                                  <span>
                                               </a>
                                               <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-google fa-stack-1x"></i>
                                                  <span>
                                               </a>
                                               <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                  <span class="fa-stack fa-1x">
                                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                      <i class="fa fa-twitter fa-stack-1x"></i>
                                                  <span>
                                               </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                           </table>
                       </div>
                        <div>
                            <img class="events_loader" id="past_svg" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div class="text-center">
                           <input type="hidden" name="start" value="{{ start }}" id="past_start"/>
                           <button type="button" id="past_button" onclick="load_events('past')" class="btn btn-default btn-md">
                              <span class="glyphicon glyphicon-plus"></span> Show More
                           </button>
                        </div>
                       {% else %}
                           <div class="no_event_notification">
                               <h3 class="title">No Past Events</h3>
                           </div>
                       {% endif %}
                   </div>
                {% else %}
                    <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                        No Past and Upcoming Events For {{artist_obj.artistName}} and Friends In {{nationality}}
                        {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                            <img style="display:inline;" src="{% static image_static %}" alt="">
                        {% endwith %}
                    </h3>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

    {% include 'artist/managed_artists_modal.html' %}
    {% include "error_pages/info_modal_popup.html" %}
    {% include "events/shortlist_venues_js.html" %}


{% endblock content %}
