{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>

<script>

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 7,
    "dataProvider": [
        {% for lable , data in likes_data.items %}
            {% for date, amount in  data.items %}
                {
                    "date": new Date({{ date }}),
                    "rank{{lable}}": {{ amount }}
                }

                {% if not forloop.last %}
                        ,
                {% endif %}

            {% endfor %}

            {% if not forloop.last %}
                    ,
            {% endif %}

        {% endfor %}
    ],
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [
        {% for lable , data in likes_data.items %}
                {
                    "id": "g{{lable}}",
                    "balloonText": "[[category]]: <b style='font-size: 130%'>[[value]]</b>",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 0,
                    "title": "{{lable}}",
                    "valueField": "rank{{lable}}",
                    "useLineColorForBulletBorder": true,
                    "balloon":{
                        "drop":true
                    }
                }
                {% if not forloop.last %}
                        ,
                {% endif %}
        {% endfor %}
    ],
    "legend": {
        "useGraphSettings": true,
        "position": "top"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "chartScrollbar": {},
    // "chartScrollbar": {
    //     "graph": "gErick Morillo",
    //     "oppositeAxis": true,
    //     "offset": 30,
    //     "scrollbarHeight": 50,
    //     "backgroundAlpha": 0,
    //     "selectedBackgroundAlpha": 0.1,
    //     "selectedBackgroundColor": "#888888",
    //     "graphFillAlpha": 0,
    //     "graphLineAlpha": 0.5,
    //     "selectedGraphFillAlpha": 0,
    //     "selectedGraphLineAlpha": 1,
    //     "autoGridCount": false,
    //     "color": "#AAAAAA"
    // },
    "export": {
        "enabled": false
    }
});
chart.addListener("dataUpdated", zoomChart);





var youtube_chartdiv = AmCharts.makeChart("youtube_chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 7,
    "dataProvider": [
        {% for lable , data in youtube_likes_data.items %}
            {% for date, amount in  data.items %}
                {
                    "date": new Date({{ date }}),
                    "rank{{lable}}": {{ amount }}
                }

                {% if not forloop.last %}
                        ,
                {% endif %}

            {% endfor %}

            {% if not forloop.last %}
                    ,
            {% endif %}

        {% endfor %}
    ],
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [
        {% for lable , data in youtube_likes_data.items %}
                {
                    "id": "g{{lable}}",
                    "balloonText": "[[category]]: <b style='font-size: 130%'>[[value]]</b>",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 0,
                    "title": "{{lable}}",
                    "valueField": "rank{{lable}}",
                    "useLineColorForBulletBorder": true,
                    "balloon":{
                        "drop":true
                    }
                }
                {% if not forloop.last %}
                        ,
                {% endif %}
        {% endfor %}
    ],
    "legend": {
        "useGraphSettings": true,
        "position": "top"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "chartScrollbar": {},
    "export": {
        "enabled": false
    }
});
youtube_chartdiv.addListener("dataUpdated", zoomChart);





var twitter_chartdiv = AmCharts.makeChart("twitter_chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 7,
    "dataProvider": [
        {% for lable , data in twitter_followers_data.items %}
            {% for date, amount in  data.items %}
                {
                    "date": new Date({{ date }}),
                    "rank{{lable}}": {{ amount }}
                }

                {% if not forloop.last %}
                        ,
                {% endif %}

            {% endfor %}

            {% if not forloop.last %}
                    ,
            {% endif %}

        {% endfor %}
    ],
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [
        {% for lable , data in twitter_followers_data.items %}
                {
                    "id": "g{{lable}}",
                    "balloonText": "[[category]]: <b style='font-size: 130%'>[[value]]</b>",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 0,
                    "title": "{{lable}}",
                    "valueField": "rank{{lable}}",
                    "useLineColorForBulletBorder": true,
                    "balloon":{
                        "drop":true
                    }
                }
                {% if not forloop.last %}
                        ,
                {% endif %}
        {% endfor %}
    ],
    "legend": {
        "useGraphSettings": true,
        "position": "top"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "chartScrollbar": {},
    "export": {
        "enabled": false
    }
});
twitter_chartdiv.addListener("dataUpdated", zoomChart);




var spotify_chartdiv = AmCharts.makeChart("spotify_chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 7,
    "dataProvider": [
        {% for lable , data in spotify_followers_data.items %}
            {% for date, amount in  data.items %}
                {
                    "date": new Date({{ date }}),
                    "rank{{lable}}": {{ amount }}
                }

                {% if not forloop.last %}
                        ,
                {% endif %}

            {% endfor %}

            {% if not forloop.last %}
                    ,
            {% endif %}

        {% endfor %}
    ],
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [
        {% for lable , data in spotify_followers_data.items %}
                {
                    "id": "g{{lable}}",
                    "balloonText": "[[category]]: <b style='font-size: 130%'>[[value]]</b>",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 0,
                    "title": "{{lable}}",
                    "valueField": "rank{{lable}}",
                    "useLineColorForBulletBorder": true,
                    "balloon":{
                        "drop":true
                    }
                }
                {% if not forloop.last %}
                        ,
                {% endif %}
        {% endfor %}
    ],
    "legend": {
        "useGraphSettings": true,
        "position": "top"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "chartScrollbar": {},
    "export": {
        "enabled": false
    }
});
spotify_chartdiv.addListener("dataUpdated", zoomChart);




zoomChart();

function zoomChart(){
    chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
}

</script>


{% endblock %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'profile_trackers' %}">Your Trackers</a></li>
                    <li class="active">
                        {{ profile_tracker.tracker_name }}
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main-container text-center margin-clear" style="background: #eee">
<div class="container" style="background: #eee">
    <h4 style="text-align:center;"><strong>{{ profile_tracker.tracker_name|title }} Stats</strong></h4>
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br>
            <div class="well well-box-shadow">
                <h4 style="text-align:center;">Facebook Stats</h4>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well well-box-shadow">
                <h4 style="text-align:center;">Youtube Stats</h4>
                <div id="youtube_chartdiv"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well well-box-shadow">
                <h4 style="text-align:center;">Twitter Stats</h4>
                <div id="twitter_chartdiv"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well well-box-shadow">
                <h4 style="text-align:center;">Spotify Stats</h4>
                <div id="spotify_chartdiv"></div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}



{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
