{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<!-- <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


<script>
var ctx = document.getElementById("myChart").getContext('2d');
        var color = Chart.helpers.color;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                {% for lable , data in likes_data.items %}
                {
                    label: "{{lable|safe}}",
                    {% if forloop.counter == 1 %}
                    backgroundColor: "red",
                    {% endif %}
                    {% if forloop.counter == 2 %}
                    backgroundColor: "black",
                    {% endif %}
                    {% if forloop.counter == 3 %}
                    backgroundColor: "blue",
                    {% endif %}
                    {% if forloop.counter == 4 %}
                    backgroundColor: "yellow",
                    {% endif %}
                    {% if forloop.counter == 5 %}
                    backgroundColor: "orange",
                    {% endif %}

                    {% if forloop.counter == 1 %}
                    borderColor: "red",
                    {% endif %}
                    {% if forloop.counter == 2 %}
                    borderColor: "black",
                    {% endif %}
                    {% if forloop.counter == 3 %}
                    borderColor: "blue",
                    {% endif %}
                    {% if forloop.counter == 4 %}
                    borderColor: "yellow",
                    {% endif %}
                    {% if forloop.counter == 5 %}
                    borderColor: "orange",
                    {% endif %}

                    fill: false,
                    data: [
                    {% for date, amount in  data.items %}
                    {
                        x: moment("{{date}}", 'x'),
                        y: {{amount}}
                    },
                    {% endfor %}
                ],
                },
                {% endfor %}
            ]
            },
            options: {
                legend: {
                    display: true,
                },
                elements: {
                    point: {
                        radius: 0,
                        hitRadius: 10,
                        hoverRadius: 5,
                    },
                },
                responsive: true,
                title:{
                    display:false,
                    // text:"{{ artist_name }} and his similar artist facebook popularity in {{ nationality }}"
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                               unit: 'month',
                               unitStepSize: 1,
                              displayFormats: {
                               'millisecond': 'MMM',
                                'second': 'MMM',
                                'minute': 'MMM',
                                'hour': 'MMM',
                                'day': 'MMM',
                                'week': 'MMM',
                                'month': 'MMM',
                                'quarter': 'MMM',
                                'year': 'MMM',
                              }
                              },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date',
                        },
                        ticks: {
                            major: {
                                fontStyle: "bold",
                                fontColor: "#FF0000"
                            }
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Fan Count'
                        }
                    }]
                }
            }
        });

</script>

{% endblock extra_js %}


{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'profile_trackers' %}">Your Trackers</a></li>
                    <li class="active">
                        {{ profile_tracker.tracker_name }}
                    </li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4 style="text-align:center;padding-left: 20%;"><i><strong>{{ profile_tracker.tracker_name }} - Top 5 </strong></i> </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add_tracker' %}" class="btn btn-default btn-sm pull-right">Add New Group</a>
        </div>
    </div>
    
    <h4 style="text-align:center;">Artist Statistics Report</h4>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- <div class="well well-box-shadow"> -->
                <div class="row checkbox-box" style="margin-left: 15px;">
                    {% for fv_artist in profile_tracker.artist.all %}
                        <div class="item">
                            <div class="wrapper">
                                {% if fv_artist.artistPhoto %}
                                    <img src="{{ fv_artist.artistPhoto.url }}" alt="{{fv_artist.artistName}}" style="margin-right: 10px;" class="checkboard-image">
                                {% else %}
                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" style="margin-right: 10px;" alt="{{sm_artist.artistName}}" class="checkboard-image">
                                {% endif %}
                                <!-- <div class='description'> -->
                                    <p style="text-align:center;"><a style=" text-decoration: none !important; margin-right:20px;" href="{% url 'artist_detail' fv_artist.artistID %}"><strong>{{fv_artist.artistName}}</strong></a></p>
                                <!-- </div> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <!-- </div> -->
        </div>
    </div>


    <div class="row">
        <ul class="nav nav-tabs">
            <!--
            <li {% if fb_stats %} class="active"{% endif %}><a href="{% url 'tracker_fb_stats' profile_tracker.id %}">Facebook stats</a></li>
            -->
            <li {% if youtube_stats %} class="active" {% endif %}><a href="{% url 'tracker_youtube_stats' profile_tracker.id %}">Youtube Stats</a></li>
            <li {% if twitter_stats %} class="active" {% endif %}> <a href="{% url 'tracker_twitter_stats' profile_tracker.id %}">Twitter Stats</a></li>
            <li {% if spotify_stats %} class="active" {% endif %}> <a href="{% url 'tracker_spotify_stats' profile_tracker.id %}">Spotify Stats</a></li>
            <li {% if instagram_stats %} class="active" {% endif %}> <a href="{% url 'tracker_instagram_stats' profile_tracker.id %}">Instagram Stats</a></li>
            <li {% if tracker_events %} class="active" {% endif %}> <a href="{% url 'tracker_events' profile_tracker.id %}">Upcoming And Past Events </a> </li>
        </ul>
    </div>
    <!--
    <h4 style="text-align:center;"><strong>{{ profile_tracker.tracker_name|title }} Facebook Likes </strong></h4>
    -->

    <br>
    <!-- <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well well-box-shadow">
                <h4 style="text-align:center;"><span class="fa fa-facebook"></span> Facebook Likes</h4><br>
                <p style="margin-left: 80px;"><strong>Explanation</strong> - Slider works on time range, so you can slide it to any time range or any specific time period .</p>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div> -->
    <!--
    {% if likes_data %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                    <h4 style="text-align:center;"><span class="fa fa-facebook"></span> Facebook Likes</h4><br>
                    {% for lable , data in likes_data.items %}
                        {% for date, amount in  data.items %}
                            {{ date }} {{ amount }}
                        {% endfor %}
                    {% endfor %}
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    {% endif %}
    -->
</div>

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
