{% load staticfiles %}
{% load artist_filters %}
{% block filter %}
<!--<div class="alert alert-info" style="width:60%;margin: 20px auto;">-->
  <!--<strong>Tip!</strong> View our video tutorial <a href="{% url 'faq_avail' %}"class="alert-link">here</a></a>.-->
<!--</div>-->
<div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/terr_background.jpg'%}')">
    <div class="container">
        <!-- search artist start -->
        {% block top_search %}
        <form action="" method="GET" id="search" class="form-inline text-center" style="margin:0px 0px;">
            <div class="typeahead-dark form-group">
                <h3>SEARCH FOR ANY ARTIST: </h3>
                <input type="hidden" value="" name="id" id="artist-id">
                <input name="artist_name" {% if artist_name %} value="{{artist_name}}" {% endif %} type="text" class="form-control margin-clear typeahead" id="artist-name" placeholder="Enter Artist Name" autocomplete="off">
                <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear">Find Now <i class="fa fa-search"></i></button>
            </div>
        </form>
        {% endblock top_search %}
        <div class="separator with-icon" style="margin: 43px 0;"><i class="fa fa-diamond bordered"></i></div>
        <!-- filters start -->
        {% block apply_filters %}
        {% if show_filters %}
        <div class="sorting-filters text-left mb-20">
            <form action="" id="apply_filters" method="GET" class="form-inline">
                {% block hidden_fields %}
                {% endblock hidden_fields %}
                <center>
                  <div class="form-group">
                      <p style="margin-top: 39px;"><strong>FILTERS</strong></p>
                  </div>
                  <div class="form-group">
                    <label><strong>Results</strong></label>
                    <select name="entries" class="form-control">
                        <option value="" selected="selected">30</option>
                        <option {% if entries == 60 %} selected="selected" {% endif %} value="60">60</option>
                        <option {% if entries == 120 %} selected="selected" {% endif %} value="120">120</option>
                    </select>
                </div>
                <div class="form-group">

                    <label><strong>Genre</strong></label>
                    <select name="genre" class="form-control" id="genre">
                        <option {% if genre == "" %} selected="selected" {% endif %} value="">All</option>
                        {% for gen in genres %}
                            <option {% if genre == gen.pk %} selected="selected" {% endif %} value="{{ gen.pk }}">{{gen.genreName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label><strong>Fame Level</strong></label>
                    <select name="budget" class="form-control">
                        <option {% if budget == "" %} selected="selected" {% endif %} value="" >All</option>
                        {% for key,value in budget %}
                            {% if key != 0 %}
                            <option {% if key == filter_budget %} selected="selected" {% endif %}value="{{ key }}"> {{ value }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label><strong>Country</strong></label>
                    <select name="country" class="form-control">
                        <option {% if countries %} selected="selected" {% endif %} value="">All</option>
                        {% for country in countries %}
                            <option {% if filter_country == country.code %} selected="selected" {% endif %} value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label><strong>Popularity</strong></label>
                    <select name="popularity" class="form-control">
                        <option {% if popularity == "" %}  selected="selected" {% endif %} value="" >All</option>
                        {% for source in popularity %}
                            {% if source.sourceName != "Soundcloud" and source.sourceName != "lastfm" %}
                                <option {% if filter_popularity == source.pk %} selected="selected" {% endif %} value="{{ source.pk }}">{{ source.sourceName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="form-group">
                        <label><strong>Prioritize My Favourite</strong></label>
                        <select name="prioritize_my_fav" class="form-control">
                            <option {% if prioritize_my_fav = "" %} selected="selected" {% endif %} value="">Select option</option>
                            <option {% if prioritize_my_fav = "Yes" %} selected="selected" {% endif %} value="Yes">Yes</option>
                            <option {% if prioritize_my_fav = "No" %} selected="selected" {% endif %} value="No">No</option>
                        </select>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label><strong style="margin-left: 45px;">A-Z</strong></label>
                    <select {% if filter_popularity %} disabled {% endif %} name="shuffle" class="form-control">
                        <option value = '' >Select option</option>
                        <option {% if shuffle == 0 %} selected="selected" {% endif %} value='0'>No </option>
                        <option {% if shuffle == "" or shuffle == 1 %} selected="selected" {% endif %} value="1">Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark" style="border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
                </div></center>
            </form>
        </div>
        {% endif %}
        {% endblock apply_filters %}
        <!-- filters end -->
    </div>
</div>
{% endblock filter %}
