{% load staticfiles %}
{% load artist_filters %}
{% block filter %}
<div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/terr_background.jpg'%}')">
    <div class="container">
        <!-- search artist start -->
        {% block top_search %}
        <form action="/artists/compare_dj/" method="GET" id="search" class="typeahead-dark form-inline text-center">
                <div class="form-group">
                    <h3>Welcome to Compare The DJ: </h3>
                    <p>{{'Type 2 DJs" names into the search boxes below to compare their popularity.'|upper}}</p>
                    <input type="hidden" value="" name="artist1" id="artist1">
                    <input name="artist_name" {% if artist_name %} value="{{artist_name}}" {% endif %} type="text" class="form-control margin-clear typeahead1" id="artist-name" placeholder="Enter Artist Name" autocomplete="off">
                    <input type="hidden" value="" name="artist2" id="artist2">
                    <input name="artist_name" {% if artist_name %} value="{{artist_name}}" {% endif %} type="text" class="form-control margin-clear typeahead2" id="artist-name" placeholder="Enter Artist Name" autocomplete="off">

                    <button type="submit" class="btn btn-lg btn-default">Compare DJ'S</button>

                </div>
        </form>
        {% endblock top_search %}
        <div class="separator with-icon"><i class="fa fa-diamond bordered"></i></div>
        <!-- filters start -->
        {% block apply_filters %}
        <div class="text-center">OR</div>
        <h3 class="text-center">Browse through our artists using the filters to compare up to five Djs.</h3>
        <div class="sorting-filters text-left mb-20">
            <form action="" id="apply_filters" method="GET" class="form-inline">
                {% block hidden_fields %}
                {% endblock hidden_fields %}
                <center><div class="form-group">
                    <label>Results</label>
                    <select name="entries" class="form-control">
                        <option value="" selected="selected">30</option>
                        <option {% if entries == 60 %} selected="selected" {% endif %} value="60">60</option>
                        <option {% if entries == 120 %} selected="selected" {% endif %} value="120">120</option>
                    </select>
                </div>
                <div class="form-group">

                    <label>Genre</label>
                    <select name="genre" class="form-control" id="genre">
                        <option {% if genre == "" %} selected="selected" {% endif %} value="">All</option>
                        {% for gen in genres %}
                            <option {% if genre == gen.pk %} selected="selected" {% endif %} value="{{ gen.pk }}">{{gen.genreName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Fame Level</label>
                    <select name="budget" class="form-control">
                        <option {% if budget == "" %} selected="selected" {% endif %} value="" >All</option>
                        {% for key,value in budget %}
                            {% if key != 0 %}
                            <option {% if key == filter_budget %} selected="selected" {% endif %}value="{{ key }}"> {{ value }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Popularity</label>
                    <select name="popularity" class="form-control">
                        <option {% if popularity == "" %}  selected="selected" {% endif %} value="" >All</option>
                        {% for source in popularity %}
                            {% if source.sourceName != "Soundcloud" %}
                                <option {% if filter_popularity == source.pk %} selected="selected" {% endif %} value="{{ source.pk }}">{{ source.sourceName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="form-group">
                        <label>Prioritize My Favourite</label>
                        <select name="prioritize_my_fav" class="form-control">
                            <option {% if prioritize_my_fav = "" %} selected="selected" {% endif %} value="">Select option</option>
                            <option {% if prioritize_my_fav = "Yes" %} selected="selected" {% endif %} value="Yes">Yes</option>
                            <option {% if prioritize_my_fav = "No" %} selected="selected" {% endif %} value="No">No</option>
                        </select>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label>A-Z</label>
                    <select name="shuffle" class="form-control">
                        <option value = '' >Select option</option>
                        <option {% if shuffle == 0 %} selected="selected" {% endif %} value='0'>No </option>
                        <option {% if shuffle == "" or shuffle == 1 %} selected="selected" {% endif %} value="1">Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Apply filters</button>
                </div></center>
            </form>
        </div>
        {% endblock apply_filters %}
        <!-- filters end -->
    </div>
</div>
{% endblock filter %}
