
<div class="dark-translucent-bg section">
    <div class="container">
        <!-- search artist start -->
        <form action="/artists/artist/" method="GET" class="form-inline text-center">
                <div class="form-group">
                    <h3>Search for an artist: </h3>
                    <input type="text" class="form-control margin-clear">
                    <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear">Find Now <i class="fa fa-search"></i></button>

                </div>
        </form>
        <div class="separator with-icon"><i class="fa fa-diamond bordered"></i></div>
        <!-- filters start -->
        <div class="sorting-filters text-left mb-20">
            <form action="" id="apply_filters" method="GET" class="form-inline">
                <div class="form-group">
                    <label>Results</label>
                    <select name="entries" class="form-control">
                        <option value="" selected="selected">30</option>
                        <option value="60">60</option>
                        <option value="120">120</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Genre</label>
                    <select name="genre" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for genre in genres %}
                            <option value="{{ genre.pk }}">{{ genre.genreName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Budget</label>
                    <select name="budget" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for key,value in budget %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <select name="country" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Popularity</label>
                    <select name="popularity" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for source in popularity %}
                            <option value="{{ source.pk }}">{{ source.sourceName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Shuffle</label>
                    <select name="shuffle" class="form-control">
                        <option value="" selected="selected">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Apply filters</button>
                </div>
            </form>
        </div>
        <!-- filters end -->
    </div>
</div>