{% extends "home/__base.html" %}
{% load staticfiles %} 
{% load artist_filters %} 
{% block title %} 
    {{ block.super }} | Create Artist Profile </title> 
{% endblock title %} 

{% block header %} 
    {% include "home/_header.html" %} 
{% endblock header %} 

{% block extra_js %}

<script>
    var placeSearch, autocomplete;

    var componentForm = {
        // street_number: 'short_name',
        // route: 'long_name',
        // locality: 'long_name',
        // administrative_area_level_1: 'short_name',
        id_country: 'long_name',
        // postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.

        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */
            (document.getElementById('id_city')), {
                types: ['(cities)']
            });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);


    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw&libraries=places&callback=initAutocomplete" async defer></script>


<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $(".all_genres").select2();
        /*$("#id_artistName").keyup(function(){
            if($("#id_artistName").val() != ""){
                $("#id_submit").removeClass('disabled');
            }else{
                $("#id_submit").addClass('disabled');
            }
        }); */
    })
</script>

<script>
    $(document).ready(function() {
        $("#id_submit").click(function() {
            var artist_name = $("#id_artistName").val()
            var artist_obj = $("#id_artist_object").val()
            if (artist_name) {
                data = {
                    "artist_name": artist_name,
                    "artist_obj": artist_obj
                }
                $.ajax({
                    url: "{% url 'validate_artist_name' %}",
                    type: "GET",
                    data: data,
                    success: function(response) {
                        response = JSON.parse(response);
                        if (response.artist == true) {
                            $('#id_artist_present').modal("show");
                        } else {
                            $("#id_form").submit()
                            $("#loadingDiv_").css({
                                    "display": ""
                                })
                                // if($("#id_form").submit()){
                                //     $("#loadingDiv_").css({"display":""})
                                // }

                        }
                    }
                })
            } else {
                $("#id_form").submit()
                $("#loadingDiv_").css({
                        "display": ""
                    })
                    // if($("#id_form").submit()){
                    //     $("#loadingDiv_").css({"display":""})
                    // }
            }
        });

    });
</script>

{% endblock extra_js %} 

{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        </ol>
    </div>
</div>
<section class="main-container text-center margin-clear" style="background: #eee; ">
    <div class="container">
        <div class="row">
            <div class="main col-md-8 col-md-offset-2">
                <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                    <!-- {% if added_dj %}
                                <p style="text-align:left;">Hi</p>
                                <p style="text-align:left;">Thanks for wishing to add an artist to our database.  We always love to hear about new artists  !</p>
                                <p style="text-align:left;">If the artist is you, or you manage them,  we will deal with that at the end of the addition process </p>
                                <p style="text-align:left;">—</p>
                                <p style="text-align:left;">Once you hit submit, we need a few seconds to check the correct info for you.</p>
                            {% endif %} -->

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 step-artist-name">
                            {% if edit %}
                            <h4 style="text-align:center;">Edit Artist Details</h4><br> {% else %}
                            <h4 style="text-align:center;">Add an Artist to the system</h4><br> {% endif%}
                        </div>
                    </div>
                    <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="id_first_name" class="pull-left" style="text-align:left;">*Name of the artist you wish to add to WDJP System</label> {{ form.artistName }} {% if form.first_name.errors %}
                                    <small class="error-field">{{ form.first_name.errors.as_text }}</small> {% else %}
                                    <small class="help-block with-errors" style="color:#a94442;"></small> {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="id_genres" class="pull-left" style="text-align:left;">What genre would you describe them as performing?</label>
                                    <select name="genres" id="id_genres" class="form-control all_genres" multiple="multiple">
                                            {% for genre in genres %}
                                                <option value="{{genre.0}}" {% if genre in selected_genres %}selected{% endif %} >{{genre.1}} </option>
                                            {% endfor %}
                                        </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_contract_signatory_name" class="pull-left">Home city</label> {{ form.city }}
                                    <!-- <input class="py-form-control" id="id_city" maxlength="35" name="city" type="text">                                        <small class="help-block with-errors"></small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_contract_signatory_name" class="pull-left">Nationality</label>
                                    <select id="id_country" name="country" class="country form-control">
                                            <option value = "">Choose country...</option>
                                            {% for country in countries %}
                                                <option value="{{ country.name }}" {% if form.country.value == country.name %} selected {% endif %} >{{ country.name }}</option>
                                            {% endfor %}
                                        </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_gender_name" class="pull-left">Are they male or female?</label><br>
                                <div>
                                    {{form.gender}}
                                    <!-- <input type="radio" {% if artist.gender == "male" %} checked="checked" {% endif %} id="id_gender" name="gender" value="male">Male &nbsp &nbsp &nbsp
                                            <input type="radio" {% if artist.gender == "female" %} checked="checked" {% endif %} id="id_gender" name="gender" value="female">Female &nbsp &nbsp &nbsp
                                            <input type="radio" {% if artist.gender == "both" %} checked="checked" {% endif %} id="id_gender" name="gender" value="both">A group both Male and <span style="margin-left: 30px;">Female</span> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                            <label for="id_artistBudget" class='pull-left'> How popular is the artist?</label>
                                {{form.artistBudget}}
                            </div>
                        </div>
                        <br>

                        <div id="loadingDiv_" style="display:None">
                            <div>
                                <h7>Searching For Related Links ...</h7>
                            </div>
                        </div>

                        <div class="intro-step-indicator">
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <!-- <a href="{% url 'promoter_4' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a> -->
                            <!-- <button id="id_submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a> -->
                            <a id="id_submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Continue</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div><br><br><br>
</section>


<div id="id_artist_present" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Artist Name Already Exist</h4>
            </div>
            <div class="modal-body">
                <p>The Dj with this name already exist if you think that is you then you need to send a email on<a href="mailto:support@wheredjsplay.com"> support@wheredjsplay.com</a> .Then we will manually verify you and connect your profile with the dj
                    account
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

<!-- main-container end -->
{% endblock content %} 
{% block footer %} 
{% include "home/_footer.html" %} 
{% endblock footer %}