{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
				</ol>
			</div>
		</div>
		<section class="main-container text-center margin-clear" style="background: #eee; ">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">

                            <div class="row">                               
                                <div class="col-md-12 text-left welcome-artist-frm">
                                    <h4 class="text-center">Welcome to WDJP add an Artist ! </h4>
                                        <ul>
                                            <li>                                                    
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">
                                                    <g>
                                                        <path d="M30.5,26.109h-28c-1.378,0-2.5-1.121-2.5-2.5V4.61c0-1.379,1.122-2.5,2.5-2.5h28c1.378,0,2.5,1.121,2.5,2.5v18.999
                                                            C33,24.988,31.878,26.109,30.5,26.109z M2.5,3.11C1.673,3.11,1,3.783,1,4.61v18.999c0,0.827,0.673,1.5,1.5,1.5h28
                                                            c0.827,0,1.5-0.673,1.5-1.5V4.61c0-0.827-0.673-1.5-1.5-1.5H2.5z"/>
                                                        <path d="M22.875,30.89h-12.75c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h12.75c0.276,0,0.5,0.224,0.5,0.5
                                                            S23.151,30.89,22.875,30.89z"/>
                                                        <path d="M15.846,16.617c-2.02,0-3.662-1.643-3.662-3.662c0-2.019,1.643-3.661,3.662-3.661c2.019,0,3.662,1.643,3.662,3.661
                                                            C19.507,14.974,17.865,16.617,15.846,16.617z M15.846,10.293c-1.468,0-2.662,1.193-2.662,2.661s1.194,2.662,2.662,2.662
                                                            s2.662-1.194,2.662-2.662S17.313,10.293,15.846,10.293z"/>
                                                        <path d="M20.316,17.925c-0.128,0-0.256-0.049-0.354-0.146l-2.191-2.191c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0
                                                            l2.191,2.191c0.195,0.195,0.195,0.512,0,0.707C20.572,17.876,20.444,17.925,20.316,17.925z"/>
                                                        <path d="M16.5,30.89c-0.276,0-0.5-0.224-0.5-0.5v-4.781c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v4.781
                                                            C17,30.667,16.776,30.89,16.5,30.89z"/>
                                                    </g>
                                                    </svg>
                                                    
                                                
                                                Search Artist
                                            </li>
                                            <li>
                                                    
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                    <g>
                                                        <path d="M57.49,27H54v-6.268C54,19.226,52.774,18,51.268,18H48v-2.414l-0.495-0.495c-0.001,0-0.001-0.001-0.001-0.002l-7.296-7.296
                                                            L32.414,0H8v11H2.732C1.226,11,0,12.226,0,13.732v43.687l0.006,0c-0.005,0.563,0.17,1.114,0.522,1.575
                                                            C1.018,59.634,1.76,60,2.565,60h44.759c1.156,0,2.174-0.779,2.45-1.813L60,30.149v-0.177C60,28.25,58.944,27,57.49,27z M51.268,20
                                                            C51.671,20,52,20.328,52,20.732V27h-4v-7H51.268z M33,3.415L44.586,15H33V3.415z M10,2h21v15h15v1v9H12.731
                                                            c-0.143,0-0.284,0.012-0.422,0.035c-0.974,0.162-1.786,0.872-2.028,1.778L10,29.585V11V2z M2,13.732C2,13.328,2.329,13,2.732,13H8
                                                            v22.035L2,51.399V13.732z M47.869,57.583C47.803,57.828,47.579,58,47.324,58H2.565c-0.243,0-0.385-0.139-0.448-0.222
                                                            c-0.063-0.082-0.16-0.256-0.123-0.408L8,40.898v0.005l4.16-11.404l0.026-0.082C12.252,29.172,12.477,29,12.731,29H46h2h6h3.49
                                                            c0.38,0,0.477,0.546,0.502,0.819L47.869,57.583z"/>
                                                        <path d="M16,17h10c0.552,0,1-0.447,1-1s-0.448-1-1-1H16c-0.552,0-1,0.447-1,1S15.448,17,16,17z"/>
                                                        <path d="M16,10h10c0.552,0,1-0.447,1-1s-0.448-1-1-1H16c-0.552,0-1,0.447-1,1S15.448,10,16,10z"/>
                                                        <path d="M16,24h24c0.552,0,1-0.447,1-1s-0.448-1-1-1H16c-0.552,0-1,0.447-1,1S15.448,24,16,24z"/>
                                                    </g>
                                                    </svg>
                                                    
                                                Set up public data</li>
                                            <li>
                                                
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
<g>
   <path d="M472.436,64.128H213.168c-6.561,0-12.73-2.555-17.37-7.194l-13.282-13.281c-7.473-7.473-17.408-11.588-27.976-11.588
       H39.564C17.749,32.063,0,49.812,0,71.628V440.37c0,21.816,17.749,39.564,39.564,39.564h432.871
       c21.816,0,39.564-17.749,39.564-39.564V103.692C512,81.877,494.251,64.128,472.436,64.128z M497,112.792
       c-6.754-5.366-15.288-8.583-24.564-8.583h-8.018c-4.142,0-7.5,3.357-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h8.018
       c13.545,0,24.564,11.02,24.564,24.564V440.37c0,13.545-11.02,24.564-24.564,24.564H39.564C26.02,464.935,15,453.915,15,440.37
       V143.773c0-13.545,11.02-24.564,24.564-24.564h392.79c4.142,0,7.5-3.358,7.5-7.5c0-4.143-3.358-7.5-7.5-7.5H39.564
       c-9.276,0-17.811,3.217-24.564,8.583V71.628c0-13.545,11.02-24.564,24.564-24.564h114.977c6.562,0,12.73,2.555,17.37,7.195
       l13.282,13.281c7.473,7.473,17.408,11.588,27.976,11.588h259.267c13.545,0,24.564,11.02,24.564,24.564V112.792z"/>
</g>
</g>
<g>
<g>
   <path d="M327.629,257.423v-33.489c0-39.497-32.133-71.629-71.629-71.629c-39.496,0-71.629,32.132-71.629,71.629v33.489
       c-13.786,3.375-24.048,15.829-24.048,30.64c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5
       c0-9.125,7.423-16.548,16.548-16.548h128.258c9.125,0,16.548,7.423,16.548,16.548v48.097c0,44.486-36.192,80.678-80.677,80.678
       s-80.677-36.192-80.677-80.678v-16.032c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5v16.032
       c0,52.757,42.92,95.678,95.677,95.678s95.677-42.921,95.677-95.678v-48.097C351.677,273.252,341.415,260.799,327.629,257.423z
        M231.435,256.515v-32.581c0-13.545,11.02-24.564,24.564-24.564c13.544,0,24.564,11.02,24.564,24.564v32.581H231.435z
        M312.629,256.516h-17.064v-32.581c0-21.816-17.749-39.564-39.564-39.564s-39.564,17.748-39.564,39.564v32.581h-17.064v-32.581
       c-0.002-31.226,25.402-56.629,56.627-56.629c31.225,0,56.629,25.403,56.629,56.629V256.516z"/>
</g>
</g>
<g>
<g>
   <path d="M256,304.612c-12.975,0-23.532,10.557-23.532,23.533c0,10.354,6.724,19.16,16.032,22.299v17.781
       c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.357,7.5-7.5v-17.781c9.308-3.139,16.032-11.946,16.032-22.299
       C279.532,315.169,268.975,304.612,256,304.612z M256,336.677c-4.704,0-8.532-3.828-8.532-8.532c0-4.706,3.827-8.533,8.532-8.533
       s8.532,3.828,8.532,8.533C264.532,332.849,260.704,336.677,256,336.677z"/>
</g>
</g>
</svg>

                                                
                                                Check and confirm Info </li>
                                            <li>
                                                <svg height="429pt" viewBox="-7 0 429 429.79601" width="429pt" xmlns="http://www.w3.org/2000/svg"><path d="m191.671875 184.179688c2.46875 2.890624 6.792969 3.28125 9.742187.882812l36.226563-29.472656c1.972656-1.570313 2.949219-4.078125 2.558594-6.566406-.390625-2.488282-2.085938-4.578126-4.445313-5.464844-2.355468-.890625-5.011718-.441406-6.945312 1.171875l-30.925782 25.160156-11.117187-13.019531c-1.617187-1.929688-4.144531-2.839844-6.621094-2.390625-2.472656.453125-4.519531 2.195312-5.351562 4.570312s-.328125 5.011719 1.324219 6.910157zm0 0"/><path d="m207.332031 241.894531c42.527344 0 77-34.472656 77-77 0-42.523437-34.472656-77-77-77-42.523437 0-77 34.476563-77 77 .050781 42.507813 34.496094 76.953125 77 77zm0-140c34.792969 0 63 28.207031 63 63 0 34.796875-28.207031 63-63 63s-63-28.203125-63-63c.039063-34.777343 28.222657-62.957031 63-63zm0 0"/><path d="m401.503906 160.765625-65.347656-40.328125c-.238281-.144531-.480469-.277344-.730469-.390625l-1.027343-.476563v-17.035156c0-1.726562-.636719-3.390625-1.789063-4.675781l-85.535156-95.355469c-.109375-.121094-.226563-.234375-.34375-.347656-1.316407-1.378906-3.140625-2.15625-5.046875-2.15625-.261719 0-.527344.015625-.789063.046875l-.121093-.0117188c-.234376-.0234374-.464844-.0351562-.699219-.0351562h-120.960938c-21.371093.0234375-38.691406 17.34375-38.714843 38.714844v81.382812l-67.082032 40.652344c-8 4.925781-12.886718 13.640625-12.917968 23.039062v194.558594c.027343 28.402344 23.042968 51.417969 51.445312 51.449219h311.109375c28.402344-.03125 51.417969-23.046875 51.445313-51.449219v-194.558594c-.03125-9.386718-4.90625-18.09375-12.894532-23.023437zm-7.328125 11.929687c3.851563 2.371094 6.207031 6.566407 6.222657 11.09375v10.632813l-66 40.335937v-98.953124zm-145.492187-147.429687 54.222656 60.449219h-29.507812c-13.644532-.015625-24.699219-11.074219-24.714844-24.71875zm-129.570313-11.269531h115.570313v47c.023437 21.371094 17.34375 38.691406 38.714844 38.71875h42.066406l4.933594 5.5v138.097656l-113 69.054688-113-69.054688v-204.597656c.011718-13.644532 11.070312-24.703125 24.714843-24.71875zm-98.515625 158.710937 59.800782-36.242187v98.292968l-66-40.335937v-10.632813c.011718-4.515624 2.359374-8.707031 6.199218-11.082031zm342.355469 243.089844h-311.109375c-20.671875-.023437-37.425781-16.777344-37.445312-37.449219v-167.519531l68.175781 41.667969c.722656.6875 1.578125 1.210937 2.519531 1.539062l118.652344 72.507813c2.242187 1.371093 5.0625 1.371093 7.300781 0l118.65625-72.511719c.941406-.328125 1.796875-.851562 2.519531-1.539062l68.175782-41.664063v167.519531c-.019532 20.671875-16.773438 37.425782-37.445313 37.449219zm0 0"/></svg>
                                                
                                                Get Admin approval</li>
                                            <li>
                                                <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"/><path d="m232 341.332031c-4.097656 0-8.191406-1.554687-11.308594-4.691406l-69.332031-69.332031c-6.25-6.253906-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l58.023437 58.027344 127.363281-127.359375c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.632812l-138.667969 138.667969c-3.15625 3.136719-7.25 4.691406-11.347656 4.691406zm0 0"/></svg>
                                                
                                                You are Set !</li>
                                        </ul>
                                         
                                    
                                </div>
                            </div>

                            <a href="{% url 'artist_step_1' %}" id="welcome_continue" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right" ></i>Lets get started</a>
                            
                        </div>
					</div>
				</div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}