{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
    <link href="{% static 'frontend/css/normalize.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
        <!-- height: calc(144vh - 121px) -->
		<section class="main-container text-center margin-clear" style="background: #eee; " >
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2 step4-artist-box">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            
                            <div class="clearfix"></div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                        <h4 style="text-align:center;"> {{ dj_artist.artistName }} </h4>
                                    <div class="well">
                                        {% if dj_artist.artistPhoto %}
                                            <img src="{{ dj_artist.artistPhoto.url }}" class="img-responsive" alt="{{ dj_artist.artistName }}" style="width:400px;">
                                        {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" alt="{{dj_artist.artistID.artistName}}">
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" alt="{{dj_artist.artistID.artistName}}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <p style="text-align:center;"> Is this correct ? <br> If not, go back one step </p><br>
                            <div>
                                    <a href="{% url 'artist_step_5' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                    <a href="{% url 'artist_step_profile' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Continue</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
        </section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
