{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Add Similar Artists </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

    <script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
    <link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_similar_artists").select2({
                maximumSelectionLength: 10
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
    <script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

    <link rel="stylesheet" href="{% static 'frontend/css/urls_custom.css' %}">
    <script type="text/javascript" src="{% static 'frontend/js/add_artist_custom.js' %}"></script>


    <script type="text/javascript">
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            // loop:true,
            rewind: true,
            margin:10,
            nav:true,
            dots: false,
            items:5,
            autoWidth: true,
            responsive:{
                0:{
                    items:1
                },
                200:{
                    items:2
                },
                400:{
                    items:3
                },
                600:{
                    items:4
                },
                800:{
                    items:5
                }
            }
        })

        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    });
</script>

{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
		<section class="main-container text-center margin-clear" style="background: #eee">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                             <div class="row">
                                <h2 class="page-title text-center">Add Similar Artists</h2>
                            </div>

                            <div class="owl-carousel owl-theme">
                                {% for sm_artist in artist_similar_artists %}
                                    <div class="item">
                                        <div class="wrapper">
                                            {% if sm_artist.artistPhoto %}
                                                <img src="{{ sm_artist.artistPhoto.url }}" style="width:100px!important;height:100px">
                                            {% else %}
                                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="width:100px!important;height:100px">
                                            {% endif %}
                                        <div class='description'>
                                            <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}">{{sm_artist.artistName}}</a></p>
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <form action="" method="post">
                                {% csrf_token %}
                                <label style="text-align:left;"><strong>select upto 10 similar artists.</strong></label>
                                <select name="similar_artists" class="form-control" id="id_similar_artists" multiple="multiple">
                                    {% for artist in artists %}
                                        <option value="{{artist.0}}">{{artist.1}}</option>
                                    {% endfor %}
                                </select>
                            
                                
                            <div class="intro-step-indicator">
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span></span>
                                <span ></span>
                                <span class="active"></span>
                            </div>
                            <div>
                                <a href="{% url 'artist_step_profile' added_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left"></i> Back </a>
                                <button id="id_submit" type="submit" class="btn btn-animated btn-success"><i class="fa fa-arrow-circle-right" ></i>Confirm Correct</a>
                            </div>
                        </form>
                        <div class="info-box">
                            <h6>
                                <span class="pd-top-0"><i class="fa fa-info-circle float-left" aria-hidden="true"></i>
                                   
                                    Select Upto 10 Similar Artists from our DB.
                                    
                                </span>
                            </h6>
                        </div>
                        </div>
                    </div>
                </div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
