{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} 
	{{ block.super }} | Create Artist Profile </title> 
{% endblock title %} 

{% block header %} 
	{% include "home/_header.html" %}
{% endblock header %} 

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/urls_custom.css' %}">

<script type="text/javascript">
    $(document).ready(function() {
        var uri = "{% url 'artist_step_1' %}?artist_name={{artist_name}}";
        $(".back-link").attr('href', uri);
    });
</script>

{% endblock extra_js%} 

{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
        </ol>
    </div>
</div>
<section class="main-container text-center margin-clear" style="background: #eee; ">
    <div class="container">
        <div class="row">
            <div class="main col-md-8 col-md-offset-2">
                <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">

                    <div class="row">
                        <div class="col-md-12 step-artist-name">
                            <h4>PLEASE CONFIRM THE ARTIST NAME YOU WOULD LIKE TO ADD TO THE SYSTEM <br>
                                <strong>{{artist_name}}</strong>
                            </h4><br>
                        </div>
                    </div>

                    <div class="row text-justify">
                        <ul class="caution-points">
                            <li>
                                PLEASE CONFIRM THE ARTIST NAME YOU WANT TO ADD IS SPELT CORRECTLY - <strong>{{artist_name}}</strong>
                            </li>
                            <li>
                                PLEASE CHECK THE RELEVANT ARTISTS NAME ON OFFICIAL FACEBOOK ACCOUNT AND MAKE SURE THE ARTIST IS AN ELECTRONIC MUSICIAN.
                            </li>
                            <li>
                                PLEASE BE CAREFUL THERE IS NOT MORE THAN ONE ARTIST WITH THE SAME NAME IN A DIFFERENT GENRE.
                            </li>
                            <li>
                                PLEASE BE CAREFUL YOU DO NOT MISTAKE THE SPELLING OF THE ARTISTS NAME-THIS IS CRITICALLY IMPORTANT TO REDUCE ERRORS.
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default btn-animated back-link"><i class="fa fa-arrow-circle-left"></i> Back </a>
                    <a href="{% url 'artist_step_2' %}?artist_name={{artist_name}}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Continue</a>
                </div>
            </div>
        </div>
    </div><br><br><br>
</section>

<!-- main-container end -->
{% endblock content %} {% block footer %} {% include "home/_footer.html" %} {% endblock footer %}