{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}


{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
		<section class="main-container text-center margin-clear" style="background: #eee">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            <br>
                            <!-- {% if added_dj %}
                                <p style="text-align:left;" >So heres some info about <strong>{{dj_artist.artistName|title}}</strong>,{% if dj_artist.genre.all %} playing <strong>{{genre_names}}</strong> {% endif %} {% if dj_artist.city%} and from <strong>{{dj_artist.city}}</strong> ,{% endif %}{% if dj_artist.country %} probably in <strong>{{dj_artist.country}}</strong>{% endif %}</p>
                                <p style="text-align:left;">If this is the <strong>{{dj_artist.artistName|title}}</strong> you were thinking of, please  confirm the following links are correct, and are most of <strong>{{dj_artist.artistName|title}}</strong> info</p>
                                <p style="text-align:left;">Just remove anything you don’t like and leave it blank</p>
                                <hr>
                            {% elif not managed_djs %}
                                <p>Ok great , Your are <strong>{{dj_artist.artistName}}</strong>,{% if dj_artist.genre.all %} playing <strong>{{genre_names}}</strong> {% endif %} {% if dj_artist.city%} and from <strong>{{dj_artist.city}}</strong> ,{% endif %}{% if dj_artist.country %} probably in <strong>{{dj_artist.country}}</strong>{% endif %}</p>
                                <p>Now we we need to know your online info to start to collect and analyse you data wise.</p>
                                <p>Please check the below fields And Approve or Amend Them</p>
                                <hr>
                            {% endif %} -->
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <!-- <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}"> -->
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_facebook" class="pull-left">Facebook:
                                            {% if not artist_website.3.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.3.url }}"><span class="fa fa-facebook"></span></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.3.url == 'None' %} {{ artist_website.3.url}} {% endif %}" name="facebook" id="id_facebook" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="id_twitter" class="pull-left">Twitter:
                                            {% if not artist_website.6.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.6.url }}"><span class="fa fa-twitter"></span></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.6.url == 'None' %} {{ artist_website.6.url}} {% endif %}" name="twitter" id="id_twitter" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_youtube" class="pull-left">Youtube:
                                            {% if not artist_website.8.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.8.url }}"><span class="fa fa-youtube"></span></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.8.url == 'None' %} {{ artist_website.8.url}} {% endif %}" name="youtube" id="id_youtube" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="id_spotify" class="pull-left">Spotify:
                                            {% if not artist_website.9.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.9.url }}"><span class="fa fa-spotify"></span></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.9.url == 'None' %} {{ artist_website.9.url}} {% endif %}" name="spotify" id="id_spotify" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_soundcloud" class="pull-left">Soundcloud:
                                            {% if not artist_website.4.url == "None" %}
                                                <a class="fa fa-soundcloud" target="_blank" href="{{ artist_website.4.url }}"></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.4.url == 'None' %} {{ artist_website.4.url}} {% endif %}" name="soundcloud" id="id_soundcloud" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="id_songkick" class="pull-left">Songkick:
                                            {% if not artist_website.5.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.5.url }}">Open Link</a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.5.url == 'None' %} {{ artist_website.5.url}} {% endif %}" name="songkick" id="id_songkick" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_gigatools" class="pull-left">Gigatools:
                                            {% if not artist_website.2.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.2.url }}">Open Link</a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.2.url == 'None' %} {{ artist_website.2.url}} {% endif %}" name="gigatools" id="id_gigatools" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="id_address" class="pull-left">Bandsintown:
                                            {% if not artist_website.0.url == "None" %}
                                                <a target="_blank" href="{{ artist_website.0.url }}">Open Link</a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.0.url == 'None' %} {{ artist_website.0.url}} {% endif %}" name="bandsintown" id="id_bandsintown" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1 ">
                                    <div class="form-group">
                                        <label for="id_contract_signatory_name" class="pull-left">Resident Adviser:
                                            {% if not artist_website.1.url == "None" %}
                                                <a  target="_blank" href="{{ artist_website.1.url }}">Open Link</a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.1.url == 'None' %} {{ artist_website.1.url}} {% endif %}" name="resident_adviser" id="id_resident_adviser" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="id_instagram" class="pull-left">Instagram:
                                            {% if not artist_website.7.url == "None" %}
                                                <a class="fa fa-instagram" target="_blank" href="{{ artist_website.7.url }}"></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.7.url == 'None' %} {{ artist_website.7.url}} {% endif %}" name="instagram" id="id_instagram" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_lastfm" class="pull-left">Last Fm:
                                            {% if not artist_website.10.url == "None" %}
                                                <a class="fa fa-lastfm" target="_blank" href="{{ artist_website.10.url }}"></a>
                                            {% endif %}
                                        </label>
                                        <input type="text" class="form-control" class="sources" value="{% if not artist_website.10.url == 'None' %} {{ artist_website.10.url}} {% endif %}" name="lastfm" id="id_lastfm" />
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="intro-step-indicator">
                                <span ></span>
                                <span class="active"></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                            </div>
                            <div>
                                {% if edit %}
                                <a href="{% url 'artist_step_2_edit' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% endif %}
                                <button id="id_submit" type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Continue</a>
                            </div>
                        </form>

                        </div>
					</div>
				</div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
