{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Add {{form.instance.sourceID.sourceName|title}} URL </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
    <link rel="stylesheet" href="{% static 'frontend/css/urls_custom.css' %}">
    <script type="text/javascript" src="{% static 'frontend/js/add_artist_custom.js' %}"></script>
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
		<section class="main-container text-center margin-clear" style="background: #eee">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            <br>
                            <p class="text-center fb">Check Artists link on {{form.instance.sourceID.sourceName|title}}</p>
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% include "artist/add_djartist_step_3_Common.html" %}
                            <div class="intro-step-indicator">
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span class="active"></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                            </div>
                            <div>
                                <a href="{% url 'artist_step_3_10' artist_id %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left"></i> Back </a>
                                <button id="id_submit" type="submit" class="btn btn-animated btn-success"><i class="fa fa-arrow-circle-right" ></i>Confirm Correct</a>
                                <button id="id_submit_move_on" type="submit" class="btn btn-animated btn-warning hidden"><i class="fa fa-arrow-circle-right" ></i>Move On</a>
                            </div>
                        </form>
                        <div class="info-box">
                            <h6>
                                <span class="pd-top-0"><i class="fa fa-info-circle float-left" aria-hidden="true"></i>
                                    Ideal URL for {{form.instance.sourceID.sourceName|title}} should be like: https://www.last.fm/music/artist <br><br>
                                    E.g: Correct Account:  <a href="https://www.last.fm/music/Martin+Garrix" target="_blank">https://www.last.fm/music/Martin+Garrix</a><br>
                                    <!-- Wrong Account: <a href="https://www.facebook.com/MartinGarrixPeru/" target="_blank">https://www.facebook.com/MartinGarrixPeru/</a> -->
                                </span>
                            </h6>
                        </div>
                        </div>
                    </div>
                </div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
