{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        </ol>
    </div>
</div>


<!-- <div class="container"> -->
    <section class="main-container text-center margin-clear" style="background: #eee; " >
        <div class="container">
            <div class="row">
                <div class="main col-md-8 col-md-offset-2">
                    <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                        {% if preview %}
                            <h4 style="text-align:center;">ARTIST REVIEW FORM</h4><br>
                        {% else %}
                        <h4 style="text-align:center;">We are almost complete, Can you check the info one more time, before we send the info to our team to check and set up in the system</h4><br>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Basic Info </h3>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Artist Name</th>
                                            <td>{{artist.artistName|get_text_or_none|title}}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Genres</th>
                                            <td>
                                                {% for genre in artist.genre.all %}
                                                    <span class="label wd-label-article">{{ genre.genreName }}</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">City</th>
                                            <td>{{artist.city|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nationality</th>
                                            <td>{{artist.country|get_text_or_none}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- </div>
                        <div class="row"> -->
                            <div class="col-md-6">
                                <h3 >Artist Image </h3>
                                {% if artist.artistPhoto %}
                                <img src="{{ artist.artistPhoto.url }}" class="img-responsive" alt="{{ artist.artistName }}" style="margin-left:90px; height:200px; width:150px;">
                                {% else %}
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-lg hidden-md" alt="{{ artist.artistName }}">
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:70px;" alt="{{ artist.artistName}}">
                                {% endif %}
                                <br>
                            </div>
                        </div>
                        <div class="row">
                        <h3>Links</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Facebook</th>
                                            <td>{{ artist_website.0|get_text_or_none }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Twitter</th>
                                            <td>{{ artist_website.1|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Youtube</th>
                                            <td>{{ artist_website.2 |get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Spotify</th>
                                            <td>{{artist_website.3|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Soundcloud</th>
                                            <td>{{ artist_website.4|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Songkick</th>
                                            <td>{{ artist_website.5|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Gigatools</th>

                                            <td>{{ artist_website.6|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Bandsintown</th>
                                            <td>{{artist_website.7|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Resident Adviser</th>
                                            <td>{{ artist_website.8|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Instagram</th>
                                            <td>{{artist_website.9|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Electronic Festivals</th>
                                            <td>{{artist_website.10|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Beat Port</th>
                                            <td>{{artist_website.11|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">TicketMaster</th>
                                            <td>{{artist_website.12|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">EventBrite</th>
                                            <td>{{artist_website.13|get_text_or_none}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">IFlyer</th>
                                            <td>{{artist_website.14|get_text_or_none}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Artist Info</h3>
                                <div class="table-responsive">
                                    <table class=" table  table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Official Website</th>
                                                <td>{{ artist.artistWebsite|get_text_or_none}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Booking Agent Email:</th>
                                                <td>{{ artist.artistAgent|get_text_or_none}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Press Agent Email</th>
                                                <td>{{ artist.press_contact|get_text_or_none}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Phone Number</th>
                                                <td>{{artist.contact_no|get_text_or_none}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Manager Email:</th>
                                                <td>{{ artist.general_manager|get_text_or_none}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">About:</th>
                                                <td>{{ artist.about|get_text_or_none|safe}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Notes:</th>
                                                <td>{{ artist.notes|get_text_or_none|safe}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Similar Artists</h3>
                                <div class="table-responsive">
                                    <table class="table  table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">{% for artist in similar_artists %}{{artist}}, {% endfor %}</th>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- {% if user_type == "Artists/DJs" %}
                                <h3>IS THIS YOU ?</h3>
                                <a href="{% url 'dj_dashboard' %}"  class="btn btn-default">Yes</a>
                            {% else %}
                                <h3>DO YOU MANAGE THIS DJ ?</h3>
                                <a href="{% url 'profile_managed_djs' %}"  class="btn btn-default">Yes</a>
                            {% endif %} -->
                            {% if preview %}
                                {% if artist_status.status == 0 %}
                                    <form id="id_form" role="form" data-toggle="validator" action="{% url 'artist_step_6_preview' artist.artistID %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            Remarks
                                        </div>
                                        <div>
                                            {{form}}
                                        </div>
                                    </form>
                                {% endif %}
                            {% else %}
                                <h3 style="text-align: justify;padding:0px 12px;"><strong>Note</strong>-  if you are this artist, work with them or are their agent, you"ll be able to manage them and save info on them, once you connect your user profile.  That happens after you have added the artist and its been approved as the data is correct.</h3>
                            {% endif %}
                        </div>

                        {% if not preview%}
                        <div class="intro-step-indicator">
                            <span ></span>
                            <span></span>
                            <span ></span>
                            <span></span>
                            <span ></span>
                            <span ></span>
                            <span></span>
                            <span ></span>
                            <span ></span>
                            <span></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span ></span>
                            <span class="active"></span>
                            <span ></span>
                        </div>
                        {% endif %}
                        <div>
                            {% if preview %}
                                {% if artist_status.status == 0 %}
                                    <button type="button" class="btn btn-default text-success-btn" onclick="approve_artist()">
                                        Approve
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-default text-danger-btn" onclick="reject_artist()">
                                        Reject
                                    </button>
                                {% else %}
                                    <h4>Artist already {% if artist_status.status == 1%} Approved {% else %} Rejected {% endif %} by {{artist_status.handled_by}}</h4>
                                {% endif %}
                            {% else %}
                            <a href="{% url 'artist_step_profile' artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                            <a href="{% url 'artist_submit_details' artist.artistID %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Submit for Review </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br>

<!-- </div> -->

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

    function reject_artist(){
        $("#id_approved").val("rejected")
        $("#id_form").submit();
    }
    
    function approve_artist(){
        $("#id_approved").val("approved")
        $("#id_form").submit();
    }
    
    </script>

{% endblock %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
