{% csrf_token %}
<label for="url">Is this the correct link for <strong>{{form.instance.artistID|title}}</strong>?
{% if form.instance.url %}
    (<a href="#" target="_blank" onclick="this.href=document.getElementById('id_url').value">Click here </a>to check link)
{% endif %}
</label>

{{form.url}}
<small class="help-block with-errors pull-left">{{form.url.errors.as_text}}</small>
<div class="clearfix"></div>

<input type="button" class="btn btn-default reset-btn pull-right" value="Reset URL">
<label for="is_verified_link">Mark Link as correct:</label>
<span>{{form.is_verified_link}}</span><br>
<label class="pd-top-0" for="has_official_account">No Official Account:&nbsp;&nbsp;</label>
<span class="pd-top-0">{{form.has_official_account}}</span>                       
<br>
                            