{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/image_cropper.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/cropper/cropper.min.js' %}"></script>
    <link href="{% static 'frontend/css/cropper.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
        <!-- height: calc(144vh - 121px) -->
		<section class="main-container text-center margin-clear" style="background: #eee; " >
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            <h4>Please set a profile photo for {{dj_artist.artistName}}</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="well">
                                        {% if dj_artist.artistPhoto %}
                                        <img src="{{ dj_artist.artistPhoto.url }}" class="img-responsive" alt="{{ dj_artist.artistName }}" style="width:400px;">
                                        {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" alt="{{dj_artist.artistName}}">
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:40px;" alt="{{dj_artist.artistName}}">
                                        {% endif %}<br>
                                    </div>
                                </div>
                            </div>
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="id_artistPhoto" class="pull-left">Upload Image:</label>
                                        {{ form.artistPhoto }}
                                        {{ form.x }}
                                        {{ form.y }}
                                        {{ form.width }}
                                        {{ form.height }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- MODAL TO CROP THE IMAGE -->
                            <div class="modal fade" id="modalCrop">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Crop the photo</h4>
                                        </div>
                                        <div class="modal-body">
                                        <img src="" id="image" style="max-width: 100%;">
                                        </div>
                                        <div class="modal-footer">
                                        <div class="btn-group pull-left" role="group">
                                            <button type="button" class="btn btn-primary js-zoom-in">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary js-zoom-out">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                            </button>
                                        </div>
                                        <button type="button" class="btn btn-default popup-skip-btn" data-dismiss="modal">Nevermind</button>
                                        <button type="button" class="btn btn-primary js-crop-and-upload">Crop and Preview</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <!-- <p style="text-align:center;"> Cool, Thanks for setting up your profile. Youll now be able to shortlist shows to your profile as well as track your online statistics with us.</p><br> -->

                            <div class="intro-step-indicator">
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span class="active"></span>
                                <span ></span>
                                <span ></span>
                            </div>
                            <div>
                                {% if edit  %}
                                <a href="{% url 'artist_step_4' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% endif %}
                                <button id="id_submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Save and Continue</a>
                            </div>
                            </form>
                        </div>
					</div>
				</div>
			</div>
		</section><br><br><br>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
