{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Add About {{form.instance.artistName|title}} </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
    <link rel="stylesheet" href="{% static 'frontend/css/urls_custom.css' %}">
    <script type="text/javascript" src="{% static 'frontend/js/add_artist_custom.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
		<section class="mcain-container text-center margin-clear" style="background: #eee">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            <br>
                            <p class="text-center fb">ABOUT<br>{{form.instance.artistName}}</p>
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="about">Enter Info About {{form.instance.artistName}}:</label>
                                <div class="clearfix"></div>
                                <span><strong>(Enter About section from preferably Facebook or website, if Facebook about is not available.)</span>
                                <div class="clearfix"></div>
                                {{form.about}}
                                <label for="notes">Enter any Notes on {{form.instance.artistName}}:</label>
                                <div class="clearfix"></div>
                                {{form.notes}}
                            <div class="intro-step-indicator">
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span ></span>
                                <span ></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="active"></span>
                                <span ></span>
                            </div>
                            <div>
                                <a href="{% url 'artist_step_5' artist_id %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left"></i> Back </a>
                                <button id="id_submit" type="submit" class="btn btn-animated btn-success"><i class="fa fa-arrow-circle-right" ></i>Continue</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
			</div><br><br><br>
		</section>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
