{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}


{% endblock %}


{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
            {% if edit %}
            <li class="active"><a href="{% url 'add_djartist_3' %}">Dj-Artist Details</a></li>
            {% else %}
            <li class="active"><a href="{% url 'add_djartist_3' %}">Dj-Artist Details</a></li>
            {% endif %}
        </ol>
    </div>
</div>


<!-- <div class="container"> -->
    <section class="main-container text-center margin-clear" style="background: #eee; " >
        <div class="container">
            <div class="row">
                <div class="main col-md-8 col-md-offset-2">
                    <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                        {% if edit %}
                            <div class="clearfix">
                                <div class="skip--button">
                                    <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                </div>
                            </div>
                        {% endif %}

                        <h4 style="text-align:center;">OK. Great,  we have now added ARTIST NAME-  Can you check the info one more time </h4><br>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Basic Info </h3>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Artist Name</th>
                                            <td>{{artist.artistName|title}}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Genres</th>
                                            <td>
                                                {% for genre in artist.genre.all %}
                                                    <span class="label wd-label-article">{{ genre.genreName }}</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">City</th>
                                            <td>{{artist.city}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nationality</th>
                                            <td>{{artist.country}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- </div>
                        <div class="row"> -->
                            <div class="col-md-6">
                                <h3 >Artist Image </h3>
                                {% if artist.artistPhoto %}
                                <img src="{{ artist.artistPhoto.url }}" class="img-responsive" alt="{{ artist.artistName }}" style="margin-left:90px; height:200px; width:150px;">
                                {% else %}
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-lg hidden-md" alt="{{ artist.artistName }}">
                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:70px;" alt="{{ artist.artistName}}">
                                {% endif %}
                                <br>
                            </div>
                        </div>
                        <div class="row">
                        <h3>Links</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Facebook</th>
                                            <td>{{ artist_website.3.url }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Twitter</th>
                                            <td>{{ artist_website.6.url}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Youtube</th>
                                            <td>{{ artist_website.8.url }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Spotify</th>
                                            <td>{{artist_website.9.url}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Soundcloud</th>
                                            <td>{{ artist_website.4.url }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Songkick</th>
                                            <td>{{ artist_website.5.url}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Gigatools</th>

                                            <td>{{ artist_website.2.url }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Bandsintown</th>
                                            <td>{{artist_website.0.url}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Resident Adviser</th>
                                            <td>{{ artist_website.1.url }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Instagram</th>
                                            <td>{{artist_website.7.url}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Artist Info</h3>
                                <div class="table-responsive">
                                    <table class=" table  table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Official Website</th>
                                                <td>{{ artist.artistWebsite }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Booking Agent Email:</th>
                                                <td>{{ artist.artistAgent}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Press Agent Email</th>
                                                <td>{{ artist.press_contact }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Phone Number</th>
                                                <td>{{artist.contact_no}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Manager Email:</th>
                                                <td>{{ artist.general_manager }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- {% if add_dj %}
                            <h3>IS THIS YOU ?</h3>
                            <a href="{% url 'dj_dashboard' %}"  class="btn btn-default">Yes</a>
                            {% elif manage_dj %}
                            <h3>DO YOU MANAGE THIS DJ ?</h3>
                            <a href="{% url 'profile_managed_djs' %}"  class="btn btn-default">Yes</a>
                            {% endif %} -->
                            {% if user_type == "Artists/DJs" %}
                                <h3>IS THIS YOU ?</h3>
                                <a href="{% url 'dj_dashboard' %}"  class="btn btn-default">Yes</a>
                            {% else %}
                                <h3>DO YOU MANAGE THIS DJ ?</h3>
                                <a href="{% url 'profile_managed_djs' %}"  class="btn btn-default">Yes</a>
                            {% endif %}
                        </div>


                        <div class="intro-step-indicator">
                            <span ></span>
                            <span></span>
                            <span ></span>
                            <span ></span>
                            <span class="active"></span>
                        </div>
                        <div>
                            {% if edit  %}
                                <a href="{% url 'edit_djartist_4' artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                            {% elif added_dj %}
                                <a href="{% url 'edit_added_artist_4' artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                            {% elif manage_dj %}
                                <a href="{% url 'edit_djartist_4' artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                            {% endif %}
                            {% if not add_dj and not manage_dj %}
                                <a href="{% url 'dashboard' %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                            {% endif %}
                            <!-- {% if manage_dj %}
                            <a href="{% url 'profile_managed_djs' %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                            {% elif add_dj %}
                            <a href="{% url 'added_djs' %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                            {% else %}
                            <a href="{% url 'add_djartist_5' artist.artistID %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                            {% endif %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br>

<!-- </div> -->

{% endblock %}


{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
