{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    {% if edit %}
					<li class="active"><a href="{% url 'add_djartist_3' %}">Edit Dj-Artist Image</a></li>
                    {% else %}
                    <li class="active"><a href="{% url 'add_djartist_3' %}">Add Dj-Artist Image</a></li>
                    {% endif %}
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->
        <!-- height: calc(144vh - 121px) -->
		<section class="main-container text-center margin-clear" style="background: #eee; " >
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            {% if edit %}
                                <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if added_dj %}
                            <h4 style="text-align:center;">Does this look like the right photo of NAME OF ARTIST ?</h4><br>
                            <p>
                                If not all good, we will probably be able to grab your profile image from facebook  but if you have photo to upload please also do so.                            </p><hr>
                            {% elif not managed_djs %}
                            <h4 style="text-align:center;">Would you like to change this Profile Photo ?</h4><br>
                            <p>
                                If not all good, we will probably be able to grab your profile image from facebook if not
                                OK. Cool, Thanks for setting up your profile. Youll now be able to shortlist shows to your profile as well as track your online statistics with us.
                            </p><hr>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="well">
                                        {% if dj_artist.artistPhoto %}
                                        <img src="{{ dj_artist.artistPhoto.url }}" class="img-responsive" alt="{{ dj_artist.artistName }}" style="width:400px;">
                                        {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-md hidden-lg" alt="{{dj_artist.artistName}}">
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" class="hidden-xs hidden-sm" style="margin-left:40px;" alt="{{dj_artist.artistName}}">
                                        {% endif %}<br>
                                    </div>
                                </div>
                            </div>
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="id_artistPhoto" class="pull-left">Upload Image:</label>
                                        {{ form.artistPhoto }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    <button id="id_submit" style="margin-top: 25px;" class="btn btn-default">Upload</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <p style="text-align:center;"> Cool, Thanks for setting up your profile. Youll now be able to shortlist shows to your profile as well as track your online statistics with us.</p><br>

                            <div class="intro-step-indicator">
                                <span ></span>
                                <span></span>
                                <span ></span>
                                <span class="active"></span>
                                <span ></span>
                            </div>
                            <div>
                                {% if edit  %}
                                <a href="{% url 'edit_djartist_3' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% endif %}
                                {% if added_dj %}
                                <a href="{% url 'edit_added_artist_3' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% endif %}
                                {% if managed_djs %}
                                <a href="{% url 'add_artist_5' dj_artist.artistID %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Continue</a>
                                {% elif added_dj %}
                                <a href="{% url 'add_djartist_5' dj_artist.artistID %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Continue</a>
                                {% else %}
                                <a href="{% url 'add_djartist_5' dj_artist.artistID %}"  class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Continue</a>
                                {% endif %}
                            </div>
                            </form>
                        </div>
					</div>
				</div>
			</div>
		</section><br><br><br>
        <div id="id_artist_present" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Artist Name Already Exist</h4>
                    </div>
                    <div class="modal-body">
                        <p>The Dj with this name already exist if you think that is you then you need to send a email on<a href="mailto:support@wheredjsplay.com"> support@wheredjsplay.com</a> .Then we will manually verify you and connect your profile with the dj account</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
