{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}
{% endblock %}

{% block content %}
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    {% if edit %}
					<li class="active"><a href="{% url 'add_djartist_3' %}">Edit Dj-Artist Info</a></li>
                    {% else %}
                    <li class="active"><a href="{% url 'add_djartist_3' %}">Add Dj-Artist Info</a></li>
                    {% endif %}
				</ol>
			</div>
		</div>
         <!-- height: calc(112vh - 121px) -->
		<section class="main-container text-center margin-clear" style="background: #eee;">
			<div class="container">
				<div class="row">
					<div class="main col-md-8 col-md-offset-2">
                        <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">
                            {% if edit %}
                                <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div>
                            {% endif %}
                            <br>
                            {% if not managed_djs %}
                            <p>OK Great, If you know any of the below information too, that would be great .  No worries if you don’t, we can normally track it down for you                            <p>
                            <hr>
                            {% endif %}
                            <form id="id_form" role="form" data-toggle="validator" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_artists_you_worked_with" class="pull-left">Official Website:</label>
                                        {{ form.artistWebsite }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <!-- <div class="col-md-1">
                                </div> -->
                                <div class="col-md-5 ">
                                    <div class="form-group">
                                        <label for="id_artistAgent" class="pull-left">Booking Agent Email:</label>
                                        {{ form.artistAgent }}<br>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_press_contact" class="pull-left">Press Agent Email:</label>
                                        {{ form.press_contact }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="id_contact_no" class="pull-left">Phone Number:</label>
                                            {{ form.contact_no }}
                                            <small class="help-block with-errors"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label for="id_general_manager" class="pull-left">Manager Email:</label>
                                        {{ form.general_manager }}
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            {% if not managed_djs %}
                            <hr>
                            <p>These will help people contact the Artist in the future for management and contacts. .</p>
                            {% endif %}
                            <br>
                            <div class="intro-step-indicator">
                                <span ></span>
                                <span></span>
                                <span class="active"></span>
                                <span ></span>
                                <span ></span>
                            </div>
                            <div>
                                {% if edit %}
                                <a href="{% url 'edit_djartist_2' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% elif added_dj %}
                                <a href="{% url 'edit_added_artist_2' dj_artist.artistID %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                {% endif %}
                                <button id="id_submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Continue</a>
                            </div>
                        </form>
                        </div>
					</div>
				</div>
			</div>
		</section><br><br><br>


        <div id="id_artist_present" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Artist Name Already Exist</h4>
                    </div>
                    <div class="modal-body">
                        <p>The Dj with this name already exist if you think that is you then you need to send a email on<a href="mailto:support@wheredjsplay.com"> support@wheredjsplay.com</a> .Then we will manually verify you and connect your profile with the dj account</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>

		<!-- main-container end -->
{% endblock content %}

{% block footer %}
{% include "home/_footer.html" %}
{% endblock footer %}
