{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Request for Artist Profile </h4>
{% endblock title %}
{% block email_body %}
<p>
    <strong>{{ user.username|title }} (User Type - {{ user.profile_set.all.0.user_types }})</strong> - has requested to add <strong>{{ artist_obj.artistName }}</strong>  to the wdjp system.
    <!-- <strong>{{ artist_obj.artistName }} </strong> has been requsted for artist Dj -->
    <p> Visit Artist Submitted Form to Approve or Reject : <a href="{{site_url}}/artists/artist_step_6_preview/{{artist_obj.artistID}}"> Artist Submitted form </a> &nbsp; &nbsp;
    <!-- <p>*click Artist Profile to view Artist Profile or for changes click on Admin Panel </p> -->
    <!-- <p>Please check the artist info using these links: </p>
    <a href="{{site_url}}/admin/artist/artist/{{artist_obj.artistID}}"> Artist Admin Panel </a> &nbsp; &nbsp;
    <a href="{{site_url}}/artists/artist/{{artist_obj.artistID}}"> Artist Profile </a> &nbsp; &nbsp; -->

    <br><br>
</p>
{% endblock %}
