{% extends "home/__base.html" %} 
{% load staticfiles %} 
{% load artist_filters %} 
{% block title %} 
    {{ block.super }} | Create Artist Profile </title> 
{% endblock title %} 

{% block header %} 
    {% include "home/_header.html" %} 
{% endblock header %} 

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    var url_string = window.location.href
    var url = new URL(url_string);
    var artist_name = url.searchParams.get("artist_name");

    $(document).ready(function() {


        $("#id_first_name").val(artist_name);

        $("#id_first_name").on('change keyup keydown', function() {
            $("#artist_name_submit").prop("disabled", true)
            $("#artist_name_submit").addClass('disabled');
            if ($("#id_first_name").val() != "") {
                $("#artist_name_submit").removeClass('disabled');
                $("#artist_name_submit").prop("disabled", false)

            }
        })
    })

    $("#artist_name_submit").click(function(event) {
        event.preventDefault();
        $.ajax({
            url: "{% url 'validate_artist_name' %}",
            type: "GET",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'artist_name': $('#id_first_name').val(),
            },
            success: function(response) {
                r = JSON.parse(response)
                if (r["artist"] == true) {
                    $("#artist_exists_text").show();
                } else {
                    $("#id_form").submit();
                }
            }
        });
    })
</script>

{% endblock extra_js %} 

{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
        </ol>
    </div>
</div>
<section class="main-container text-center margin-clear" style="background: #eee; ">
    <div class="container">
        <div class="row">
            <div class="main col-md-8 col-md-offset-2">
                <div class="intro-step-card" style="box-shadow: 3px 3px 15px #888888;">

                    <div class="row">
                        <div class="col-md-12 step-artist-name">
                            <h4>PLEASE TYPE THE ARTIST NAME YOU WOULD LIKE TO ADD TO THE SYSTEM </h4><br>
                        </div>
                    </div>

                    <form id="id_form" action="{% url 'artist_step_1_0' %}" method="get">
                        <div class="row">
                            <div class="col-md-6 artist-name-box ">
                                <div class="form-group">
                                    <input name="artist_name" type="text" class="form-control" id="id_first_name" placeholder="Artist Name">
                                    <small id="artist_exists_text" class="help-block with-errors" style="display: none;">*Artist Name already exists</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" id="artist_name_submit" class="btn btn-default btn-animated disabled" disabled="disabled"><i class="fa fa-arrow-circle-right" ></i>Continue</button>
                            </div>

                    </form>
                    </div>
                </div>
            </div>
        </div><br><br><br>
</section>

<!-- main-container end -->
{% endblock content %} {% block footer %} {% include "home/_footer.html" %} {% endblock footer %}