{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}

<!-- <h4>DJ/Artist Added Artist Profile</h4> -->

<p>
    {% if artist_status.status == 0 %}
        Sorry, <strong>{{ artist_obj.artistName }}</strong> is Rejected for now. You can update details using this link 
        <a href="{{site_url}}/artists/artist_step_2_edit/{{ artist_obj.artistID }}">Artist Submitted Form</a> and submit again for approval.
    {% else %}
        Congrats, <strong>{{ artist_obj.artistName }}</strong> is approved.<br>
        You can view artist details using this link: <a href="{{site_url}}/artists/artist/{{ artist_obj.artistID }}/"> {{artist_obj.artistName}}</a> 
        
    {% endif %}

</p>
{% endblock %}
