{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Compare Artist </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
  {% include "home/show_loader.html" %}
  <script src="{% static 'frontend/js/zingchart.min.js' %}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">

  $( document ).ready(function() {
  google.charts.load("current", {packages:["corechart"]});
  
  var list = []
  var x = '0%'
  var y = '0%'

  // Fan Base Chart [Donut Chart]
  google.charts.setOnLoadCallback(fanbaseChart);

  var fanbase_charts = JSON.parse('{{fanbase_charts|safe}}');

  function fanbaseChart() {

  var fanbase = fanbase_charts

  for (i = 0; i < fanbase.length; i++) {
            console.log(fanbase[i])
        var values = [["platform", "Count"]]
          for (j = 0; j < fanbase[i].data.length; j++) {
        values.push([fanbase[i].data[j].text,fanbase[i].data[j].values ])
      }
        var data = new google.visualization.arrayToDataTable(
    values
          );
    console.log(fanbase[i].name)
          var options = {
            legend:'right',
            pieHole: 0.5,

    titleTextStyle: {
          color: 	'black',    // any HTML string color ('red', '#cc00cc')
          fontName: 'lato', // i.e. 'Times New Roman'
          fontSize: 14, // 12, 18 whatever you want (don't specify px)
          bold: true,    // true or false
      },
    chartArea:{width:"80%",height:"80%"}
          };
          $("#donutchart"+i+"-title").text(fanbase[i].name.toUpperCase() + " FAN BASE")
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'+i));
          chart.draw(data, options);
    }

        };

  
  // Bar graphs for different Social media
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
  var fangraph = {{bar_charts|safe}}
  
  var artist = JSON.parse('{{onlyartist_names|safe}}');
  console.log(fangraph)
  console.log(artist)
    for (i in fangraph) {

          console.log(i)
    artists = [ ["Artist", fangraph[i].text, { role: "style" } ]]

    for (j = 0; j < artist.length; j++)
          {
    if( i === "Facebook")
    {
    var color = "#3b5898"
    }
  else if( i === "Youtube")
          {
          var color = "#b31c15"
          }
  else if( i === "Spotify")
          {
          var color = "#51bd58"
          }
  else if( i === "Twitter")
          {
          var color = "#5bacee"
          }
  else if( i === "Events")
  {
  var color = '#85919e'
  }
  else if( i ==="Instagram"){
      var color = '#85919e'
  }
      artists.push([artist[j].text, parseFloat(fangraph[i].values[j]), color])
      }
        console.log(artists)
      var data = google.visualization.arrayToDataTable(
        artists
        );

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);

        var options = {
          width: 606,
          height: 400,
          chartArea: {'height': '80%'},
    hAxis: { viewWindow: { min: 0 }  },
          bar: {groupWidth: "50%"},
          legend: { position: "none" },
    titleTextStyle: {
          color: 	'black',    // any HTML string color ('red', '#cc00cc')
          fontName: 'Lato', // i.e. 'Times New Roman'
          fontSize: 14, // 12, 18 whatever you want (don't specify px)
          bold: true,    // true or false
      }
        };
        $("#"+i+"-title").text(fangraph[i].text)
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values"+i));
        chart.draw(view, options);
            }

    }


    google.charts.setOnLoadCallback(drawChart1);

function drawChart1() {
var funbase = {{compare_artist |safe}}
console.log(funbase)
var funscount=[['Artist', 'Funcount']]
for (x in funbase)
{
funscount.push([funbase[x].text, funbase[x].values[0]])
}
console.log(funscount)
  var data = google.visualization.arrayToDataTable(
    funscount
    );

  var options = {
  legend:{position:'bottom'},
    // title: 'Overall Artist Popularity on Social Media by Fancount',
    colors: ['#0598d8', '#f97263'],
chartArea:{width:"40%",height:"80%"},
titleTextStyle: {
  color: 	'black',    // any HTML string color ('red', '#cc00cc')
  fontName: 'lato', // i.e. 'Times New Roman'
  fontSize: 14, // 12, 18 whatever you want (don't specify px)
  bold: true,    // true or false
}
  };

  var chart = new google.visualization.PieChart(document.getElementById('overallfans'));

  chart.draw(data, options);
}

// Fans by country
google.charts.setOnLoadCallback(drawChartcountry);

function drawChartcountry() {
          var countrybase = {{countries_charts|safe}}
          console.log(countrybase)

          for (x in countrybase)
          {
          var funscount=[['Country', 'Funcount']]

          for (i in countrybase[x].data)
          {
          funscount.push([countrybase[x].data[i].text, countrybase[x].data[i].values[0]])
  }
  console.log(funscount)
var data = google.visualization.arrayToDataTable(
    funscount
  );

var options = {
    legend:{position:'right'},
chartArea:{width:"70%",height:"70%"},
titleTextStyle: {
  color: 	'black',    // any HTML string color ('red', '#cc00cc')
  fontName: 'lato', // i.e. 'Times New Roman'
  fontSize: 18, // 12, 18 whatever you want (don't specify px)
  bold: true,    // true or false
}
  };
  $("#countryfuns"+x+'title').text(countrybase[x].name + ' Past Events Count in Top Countries')
  var chart = new google.visualization.PieChart(document.getElementById('countryfuns'+x));

  chart.draw(data, options);
  }
}

// Facebook Chart
google.charts.setOnLoadCallback(drawChartfacebook);

function drawChartfacebook() {
  var facebookbase = {{facebook_like_graph | safe}}
  console.log(facebookbase)

  for (x in facebookbase)
  {
    var funscount=[['Country', 'Funcount']]

  for (i in facebookbase[x].data)
  {
    funscount.push([facebookbase[x].data[i].text, facebookbase[x].data[i].values[0]])
  }
  console.log(funscount)
  var data = google.visualization.arrayToDataTable(
      funscount
    );

  var options = {
    chartArea:{width:"80%",height:"80%"},
    titleTextStyle: {
      color: 'black',    // any HTML string color ('red', '#cc00cc')
      fontName: 'lato', // i.e. 'Times New Roman'
      fontSize: 14, // 12, 18 whatever you want (don't specify px)
      bold: true,    // true or false
    }
    };
    $('#facebookfuns'+x+'-title').text(facebookbase[x].name)
    // var chart = new google.visualization.PieChart(document.getElementById('facebookfuns'+x));
    // chart.draw(data, options);

    if(data.getNumberOfRows() == 0){
      $("#facebookfuns"+x).append("<p class='no-data-txt'>Sorry we have no data.</p>")
    }else{
      var chart = new google.visualization.PieChart(document.getElementById('facebookfuns'+x));
      chart.draw(data, options);        
    }
}
}

  });
    

    </script>
  {% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li><a href="{% url 'artists'%}">Artists</a></li>
                <li class="active">Compare the DJ</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
<!-- {{fanbase_charts}} -->
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container padding-bottom-clear">
                <div class="container">
                    <div class="row text-center artist_dj_header" id="artists">
                        {% for artist in artist_heading %}

                        <div class="vs">

                          {% if not forloop.first %}
                            <h4>VS</h4>
                            {% endif %}
                     </div>
                        <div class="text-center image_block">
                           {% if not forloop.first %}
                              <div class="col-sm-2"></div>
                            {% endif %}
                            <h3>{{artist.name}}</h3>
                            <img src={{artist.profile_image}} height="150" width="150"/>
                     </div>



                        {% endfor %}
                     </div>
                    <div class="row">
                              <div id="bar_charts">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-md-6">
                                        <h2 style="color:green;"><center><span class="fa fa-spotify"></span></center></h2>
                                      <div class="chart-wrapper">
                                      {% if bar_charts.Spotify %}
                                        <div class="chart-stage">
                                            <div class="chart-title">
                                                <h5 id="Spotify-title" style="text-align: center"></h5>
                                              </div>
                                          <div id="barchart_valuesSpotify"></div>
                                        </div>
                                        {% else %}
                                            <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Spotify Data will be Available Soon </h4>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <h2 style="color:brown;"><center><span class="fa fa-instagram"></span></center></h2>
                                      <div class="chart-wrapper">
                                        {% if bar_charts.Instagram %}
                                        <div class="chart-stage">
                                            <div class="chart-title">
                                                <h5 id="Instagram-title" style="text-align: center"></h5>
                                              </div>
                                          <div id="barchart_valuesInstagram" ></div>
                                        </div>
                                        {% else %}
                                            <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Instagram Data will be Available Soon </h4>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6" >
                                          <h2 style="color:black;"><center><span class="fa fa-twitter"></span></center></h2>
                                        <div class="chart-wrapper">
                                          {% if bar_charts.Twitter %}
                                          <div class="chart-stage">
                                              <div class="chart-title">
                                                  <h5 id="Twitter-title" style="text-align: center"></h5>
                                                </div>
                                            <div id="barchart_valuesTwitter"></div>
                                            </div>
                                          {% else %}
                                              <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Twitter Data will be Available Soon </h4>
                                          {% endif %}
                                        </div>
                                      </div>
                                      <div class="col-md-6" >
                                          <h2 style="color:red;"><center><span class="fa fa-youtube"></span></center></h2>
                                        <div class="chart-wrapper">
                                          {% if bar_charts.Youtube %}
                                          <div class="chart-stage ">
                                              <div class="chart-title">
                                                  <h5 id="Youtube-title" style="text-align: center"></h5>
                                                </div>
                                        <div id="barchart_valuesYoutube"></div>
                                          </div>
                                          {% else %}
                                              <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Youtube Data will be Available Soon</h4>
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-md-6" >
                                          <h2 style="color:blue;"><center><span class="fa fa-facebook"></span></center></h2>
                                          <div class="chart-wrapper">
                                            {% if bar_charts.Facebook %}
                                            <div class="chart-stage">
                                                <div class="chart-title">
                                                    <h5 id="Facebook-title" style="text-align: center"></h5>
                                                  </div>
                                                <div id="barchart_valuesFacebook"></div>
                                            </div>
                                            {% else %}
                                                <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Facebook Data will be Available Soon </h4>
                                            {% endif %}
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h2 style="color:black;"><center><span class="glyphicon glyphicon-cd"></span></center></h2>
                                          <div class="chart-wrapper">
                                            {% if bar_charts.Events %}
                                            <div class="chart-stage">
                                                <div class="chart-title">
                                                    <h5 id="Events-title" style="text-align: center"></h5>
                                                  </div>
                                      <div id="barchart_valuesEvents"></div>
                                            </div>
                                            {% else %}
                                                <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Events Data will be Available Soon </h4>
                                            {% endif %}
                                            <div class="chart-notes">
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div id="overallPopularityChart" class='fanbase_charts_div'>
                                  <div class="row">
                                          <div class="chart-wrapper">
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div class="chart-title">
                                                        <h5 style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                        </div>
                                                      <div id="overallfans" style="height:400px; display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                      </div>
                                  </div>
                              </div>
                              <hr>
                              <div id="fanbase_charts">
                                <div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="chart-wrapper">
                                            <div class="chart-title">
                                                <h5 id="donutchart0-title" style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                </div>
                                            <div class="chart-stage">
                                                <div class="row">
                                                    <div id="donutchart0" style="height:500px;  display: block; margin: 0 auto" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                                    <div class="col-md-6" >
                                        <div class="chart-wrapper">
                                            <div class="chart-title">
                                                <h5 id="donutchart1-title" style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                </div>
                                            <div class="chart-stage">
                                                <div class="row">
                                                    <div id="donutchart1" style="height:500px;  display: block; margin: 0 auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                              <hr>
                              <div id="facebook_like_graph">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                                  <h5 id="facebookfuns0-title" style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                  </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="facebookfuns0" style="height:500px; display: block; margin: 0 auto" ></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                            
                                      <div class="col-sm-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                                  <h5 id="facebookfuns1-title" style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                  </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="facebookfuns1" style="height:500px;  display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <hr>
                              <div id ="events_charts">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                                  <h5 id="countryfuns0-title" style="text-align: center">EVENT RECORDED IN SYSTEM BY COUNTRY</h5>
                                                  </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="countryfuns0" style="height:500px; display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                            
                                      <div class="col-sm-6 ">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                                  <h5 id="countryfuns1-title" style="text-align: center">EVENT RECORDED IN SYSTEM BY COUNTRY</h5>
                                                  </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="countryfuns1" style="height:500px;  display: block; margin: 0 auto" ></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                  </div>
            </section>

	{% include "home/_datasetCount.html" %}

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
