{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Compare Artist </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
  {% include "home/show_loader.html" %}
  <script src="{% static 'frontend/js/zingchart.min.js' %}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <!-- <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  </script> -->

  <script type="text/javascript">

  $( document ).ready(function() {
  google.charts.load("current", {packages:["corechart"]});
  
  var list = []
  var x = '0%'
  var y = '0%'

  // var fanbase_charts = JSON.parse('{{fanbase_charts|safe}}');
  // fanbase_charts.forEach(function(value, index){
  //   index = index +1
  //   if(index % 2 === 0 ){
  //       x = '50%'
  //       y = '0%'
  //   }else{
  //       x = '0%'
  //       y = '0%'
  //   }

  //   list.push({
  //    x: x,
  //    y: y,
  //    height:"80%",
  //    width:"50%",
  //   title: {
  //       text: value.name+ ' Fanbase',
  //       fontFamily: 'Lato',
  //       fontSize: 14,
  //       padding: "15",
  //       fontColor: "#212121",
  //     },
  //     tooltip: {
  //       fontSize: 16,
  //       placement: 'node:out',
  //       sticky: true,
  //       backgroundColor: 'none',
  //       borderWidth: 0,
  //       fontSize: 16,
  //       thousandsSeparator: ',',
  //       text: '<span style="color:%color">%t</span><br><span style="color:%color">Fanbase:</span><br><span style="color:%color"> %v</span>',
  //       mediaRules: [{
  //         maxWidth: 500,
  //         y: '54%',
  //       }]
  //     },
  //     images: [{
  //         src: value.profile_image,
  //         backgroundRepeat: "no-repeat",
  //         x: 170,
  //         y: 110,
  //         borderRadiusTopLeft: 260,
  //         borderRadiusTopRight: 260,
  //         borderRadiusBottomRight: 260,
  //         borderRadiusBottomLeft: 260,
  //         backgroundFit: "xy",
  //         width:260,
  //         height:260,
  //     }],
  //     type: 'ring',
  //     plot: {
  //       slice: 130,
  //       detached: false
  //     },
  //       height: 500,
  //       width: 600,
  //     palette: ["#3b5998", "#55acee", "#b31217", "#2ebd59", "#85929E"],
  //     legend: {
  //       toggleAction: 'remove',
  //       backgroundColor: '#FBFCFE',
  //       borderWidth: 0,
  //       adjustLayout: true,
  //       align: 'center',
  //       verticalAlign: 'bottom',
  //       marker: {
  //         type: 'circle',
  //         cursor: 'pointer',
  //         borderWidth: 0,
  //         size: 5
  //       },
  //       item: {
  //         fontColor: "#777",
  //         cursor: 'pointer',
  //         offsetX: -6,
  //         fontSize: 12,
  //       },
  //       mediaRules: [{
  //         maxWidth: 500,
  //         visible: false
  //       }]
  //     },
  //     series: value.data
  //   })

  //   if(index % 2 === 0 ){
  //       $("#fanbase_charts").append("<div id='fanbase_charts-"+value.id+"' class='fanbase_charts_div'></div>");
  //       zingchart.render({
  //         id: "fanbase_charts-"+value.id,
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //       list = []
  //   }
  //   else{
  //     if(index === fanbase_charts.length){
  //         $("#fanbase_charts").append("<div id='fanbase_charts-"+value.id+"' class='fanbase_charts_div'></div>");
  //         zingchart.render({
  //           id: "fanbase_charts-"+value.id,
  //           data: {
  //             "graphset":list
  //           },
  //         });
  //     }
  //   }
  // });


  // list = []
  // x = '0%'
  // y = '0%'
  
  google.charts.setOnLoadCallback(fanbaseChart);

  var fanbase_charts = JSON.parse('{{fanbase_charts|safe}}');

  function fanbaseChart() {

  var fanbase = fanbase_charts

  for (i = 0; i < fanbase.length; i++) {
            console.log(fanbase[i])
        var values = [["platform", "Count"]]
          for (j = 0; j < fanbase[i].data.length; j++) {
        values.push([fanbase[i].data[j].text,fanbase[i].data[j].values ])
      }
        var data = new google.visualization.arrayToDataTable(
    values
          );
    console.log(fanbase[i].name)
          var options = {
            title: fanbase[i].name.toUpperCase() + " FAN BASE" ,
            pieHole: 0.6,

    titleTextStyle: {
          color: 	'black',    // any HTML string color ('red', '#cc00cc')
          fontName: 'lato', // i.e. 'Times New Roman'
          fontSize: 14, // 12, 18 whatever you want (don't specify px)
          bold: true,    // true or false
      },
    chartArea:{width:"80%",height:"80%"}
          };

          var chart = new google.visualization.PieChart(document.getElementById('donutchart'+i));
          chart.draw(data, options);
    }

        };


  // {% for value in facebook_like_graph %}
  //   var json_string = ({{value | safe}});

  //   {% if forloop.counter|divisibleby:"2" %}
  //     x = '50%'
  //     y = '0%'
  //   {% else %}
  //     x = '0%'
  //     y = '0%'
  //   {% endif %}

  //   list.push({
  //    x: x,
  //    y: y,
  //    height:"80%",
  //    width:"50%",
  //     title: {
  //       text: json_string.name,
  //       fontFamily: 'Lato',
  //       fontSize: 14,
  //       padding: "15",
  //       fontColor: "#212121",
  //     },
  //     subtitle:{
  //         text: json_string.msg,
  //     },
  //     legend: {
  //       toggleAction: 'remove',
  //       backgroundColor: '#FBFCFE',
  //       borderWidth: 0,
  //       offsetX: 28,
  //       offsetY: 100,
  //       adjustLayout: false,
  //       verticalAlign: 'right',
  //       marker: {
  //         type: 'circle',
  //         cursor: 'pointer',
  //         borderWidth: 0,
  //         size: 7
  //       },
  //       item: {
  //         fontColor: "#777",
  //         cursor: 'pointer',
  //         offsetX: -5
  //       }
  //     },
  //     backgroundColor: "#fff",
  //     palette: ['#f15662','#41cac0','#3589c4','#c51162','#2ebd59','#616161','#ca86b7','#673ab7','#00796b','#c96b37'],
  //     plot: {
  //       refAngle: 270,
  //       detach: false,
  //       valueBox: {
  //         fontColor: "#fff"
  //       },
  //       highlightState: {
  //         borderWidth: 2,
  //         borderColor: "#000"
  //       }
  //     },
  //     tooltip: {
  //       placement: 'node:out',
  //       borderColor: "#373a3c",
  //       fontSize: 16,
  //       sticky: true,
  //       backgroundColor: 'none',
  //       borderWidth: 0,
  //       thousandsSeparator: ',',
  //       text: '<span style="color:%color">%t:</span><br><span style="color:%color">%v</span>',
  //       mediaRules: [{
  //         maxWidth: 500,
  //         y: '54%',
  //       }]
  //     },
  //     type: 'pie',
  //     series: json_string.data
  //   });

  //   {% if forloop.counter|divisibleby:"2" %}
  //       $("#facebook_like_graph").append("<div id='facebook_like_graph-"+json_string.id+"' class='facebook_like_graph'></div>");
  //       zingchart.render({
  //         id: "facebook_like_graph-"+json_string.id,
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //       list = []
  //   {% elif forloop.last %}
  //       $("#facebook_like_graph").append("<div id='facebook_like_graph-"+json_string.id+"' class='facebook_like_graph'></div>");
  //       zingchart.render({
  //         id: "facebook_like_graph-"+json_string.id,
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //   {% endif %}


  // {% endfor %}

  // list = []
  // x = '0%'
  // y = '0%'

  // var countries_charts = JSON.parse('{{countries_charts|safe}}');
  // countries_charts.forEach(function(value, index){
  // index = index +1
  // if(index % 2 === 0 ){
  //     x = '50%'
  //     y = '0%'
  // }else{
  //     x = '0%'
  //     y = '0%'
  // }

  //   list.push({
  //    x: x,
  //    y: y,
  //    height:"70%",
  //    width:"50%",
  //     title: {
  //       text: value.name + ' Past Events Count in Top Countries',
  //       fontFamily: 'Lato',
  //       fontSize: 14,
  //       padding: "15",
  //       fontColor: "#212121",
  //     },
  //     legend: {
  //       toggleAction: 'remove',
  //       backgroundColor: '#FBFCFE',
  //       borderWidth: 0,
  //       offsetX: 8,
  //       offsetY: 100,
  //       adjustLayout: false,
  //       verticalAlign: 'right',
  //       marker: {
  //         type: 'circle',
  //         cursor: 'pointer',
  //         borderWidth: 0,
  //         size: 7
  //       },
  //       item: {
  //         fontColor: "#777",
  //         cursor: 'pointer',
  //         offsetX: -5
  //       }
  //     },
  //     backgroundColor: "#fff",
  //     palette: ['#f15662','#41cac0','#3589c4','#c51162','#2ebd59','#616161','#ca86b7','#673ab7','#00796b','#c96b37'],
  //     plot: {
  //       refAngle: 270,
  //       detach: false,
  //       valueBox: {
  //         fontColor: "#fff"
  //       },
  //       highlightState: {
  //         borderWidth: 2,
  //         borderColor: "#000"
  //       }
  //     },
  //     tooltip: {
  //       placement: 'node:out',
  //       borderColor: "#373a3c",
  //       fontSize: 16,
  //       sticky: true,
  //       backgroundColor: 'none',
  //       borderWidth: 0,
  //       thousandsSeparator: ',',
  //       text: '<span style="color:%color">%t:</span><br><span style="color:%color">%v</span>',
  //       mediaRules: [{
  //         maxWidth: 500,
  //         y: '54%',
  //       }]
  //     },
  //     type: 'pie',
  //     series: value.data
  //   });
  //   if(index % 2 === 0 ){
  //       $("#events_charts").append("<div id='events_charts-"+value.name.replace(/ /g, '_')+"' class='events_charts'></div>");
  //       zingchart.render({
  //         id: "events_charts-"+value.name.replace(/ /g, '_'),
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //       list = []
  //   }
  //   else{
  //     if(index === fanbase_charts.length){
  //       $("#events_charts").append("<div id='events_charts-"+value.name.replace(/ /g, '_')+"' class='events_charts'></div>");
  //       zingchart.render({
  //         id: "events_charts-"+value.name.replace(/ /g, '_'),
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //     }
  //   }

  // });


  list = []
  x = '0%'
  y = '0%'

  // {% for key ,value in bar_charts.items %}
  //   var json_string = ({{value | safe}});

  //   {% if forloop.counter|divisibleby:"2" %}
  //     x = '50%'
  //     y = '0%'
  //   {% else %}
  //     x = '0%'
  //     y = '0%'
  //   {% endif %}

  //   list.push({
  //     type: 'hbullet',
  //     x: x,
  //     y: y,
  //     height:"80%",
  //     width:"50%",
  //     title: {
  //       text: '{{value.text}}',
  //       fontFamily: 'Lato',
  //       fontSize: 14,
  //       padding: "15",
  //       fontColor: '#212121'
  //     },
  //     subtitle:{
  //         margin: '0 0 20 25',
  //         text: '{{value.msg}}'
  //     },
  //     plot: {
  //       animation:{
  //         delay:800,
  //         sequence:1
  //       },
  //       barSpace: 10,
  //       adjustLayout: true,
  //       width:'static',
  //       tooltip: {
  //         text: '%t: %v',
  //         borderRadius: 5,
  //         fontSize: 12,
  //         borderWidth: 0
  //       }
  //     },
  //     labels: {{ onlyartist_names | safe}},
  //      scaleY: {
  //       label: {
  //         text: '{{key}}',
  //         fontSize: 16
  //       },
  //       guide: {
  //         visible: false,
  //         lineWidth: 1,
  //         lineStyle: 'solid'
  //       }
  //     },
  //     scaleX: {
  //       label: {
  //         text: 'Artist',
  //         fontSize: 16,
  //         offsetX: 8,
  //       },
  //       guide: {
  //         visible: false,
  //         lineWidth: 1,
  //         lineStyle: 'solid'
  //       },
  //       item: {
  //         visible: false
  //       }
  //     },
  //     plotarea: {
  //       margin: '50 50 90 140'
  //     },
  //     series: [{{ value | safe}}],
  //   });

  //   {% if forloop.counter|divisibleby:"2" %}
  //       $("#bar_charts").append("<div id='bar_charts-{{key}}' class='artist_dj_div'></div>");
  //       zingchart.render({
  //         id: 'bar_charts-{{key}}',
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //       list = []

  //   {% elif forloop.last %}
  //       $("#bar_charts").append("<div id='bar_charts-{{key}}' class='artist_dj_div'></div>");
  //       zingchart.render({
  //         id: 'bar_charts-{{key}}',
  //         data: {
  //           "graphset":list
  //         },
  //       });
  //   {% endif %}


  // {% endfor %}


  // {% for x in  list  %}
  //     var json_string = ({{value | safe}});
  //     console.log(json_string);

  //     {% if forloop.counter|divisibleby:"2" %}
  //       x = '50%'
  //       y = '0%'
  //     {% else %}
  //       x = '0%'
  //       y = '0%'
  //     {% endif %}

  //     list.push({
  //       type: 'hbullet',
  //       x: x,
  //       y: y,
  //       height:"80%",
  //       width:"50%",
  //       title: {
  //         text: '{{value.text}}',
  //         fontFamily: 'Lato',
  //         fontSize: 14,
  //         padding: "15",
  //         fontColor: '#212121'
  //       },
  //       subtitle:{
  //           text: '{{value.msg}}'
  //       },
  //       plot: {
  //         animation:{
  //           delay:800,
  //           sequence:1
  //         },
  //         barSpace: 10,
  //         adjustLayout: true,
  //         width:'static',
  //         tooltip: {
  //           text: '%t: %v',
  //           borderRadius: 5,
  //           fontSize: 12,
  //           borderWidth: 0
  //         }
  //       },
  //       labels: {{ onlyartist_names | safe}},
  //       scaleY: {
  //         label: {
  //           text: '{{key}}',
  //           fontSize: 16
  //         },
  //         guide: {
  //           visible: false,
  //           lineWidth: 1,
  //           lineStyle: 'solid'
  //         }
  //       },
  //       scaleX: {
  //         label: {
  //           text: 'Artist',
  //           fontSize: 16,
  //           offsetX: 8,
  //         },
  //         guide: {
  //           visible: false,
  //           lineWidth: 1,
  //           lineStyle: 'solid'
  //         },
  //         item: {
  //           visible: false
  //         }
  //       },
  //       plotarea: {
  //         margin: '50 50 90 120'
  //       },
  //       series: [{{ value | safe}}],
  //     });

  //     {% if forloop.counter|divisibleby:"2" %}
  //         $("#bar_charts").append("<div id='bar_charts-{{key}}' class='artist_dj_div'></div>");
  //         zingchart.render({
  //           id: 'bar_charts-{{key}}',
  //           data: {
  //             "graphset":list
  //           },
  //         });
  //         list = []

  //     {% elif forloop.last %}
  //         $("#bar_charts").append("<div id='bar_charts-{{key}}' class='artist_dj_div'></div>");
  //         zingchart.render({
  //           id: 'bar_charts-{{key}}',
  //           data: {
  //             "graphset":list
  //           },
  //         });
  //     {% endif %}


  // {% endfor %}

  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
  var fangraph = {{bar_charts|safe}}
  var artist = JSON.parse('{{onlyartist_names|safe}}');
  console.log(fangraph)
  console.log(artist)
    for (i in fangraph) {

          console.log(i)
    artists = [ ["Artist", fangraph[i].text, { role: "style" } ]]

    for (j = 0; j < artist.length; j++)
          {
    if( i === "Facebook")
    {
    var color = "#3b5898"
    }
  else if( i === "Youtube")
          {
          var color = "#b31c15"
          }
  else if( i === "Spotify")
          {
          var color = "#51bd58"
          }
  else if( i === "Twitter")
          {
          var color = "#5bacee"
          }
  else if( i === "Events")
  {
  var color = '#85919e'
  }
  else if( i ==="Instagram"){
      var color = '#85919e'
  }
      artists.push([artist[j].text, parseFloat(fangraph[i].values[j]), color])
      }
        console.log(artists)
      var data = google.visualization.arrayToDataTable(
        artists
        );

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);

        var options = {
          title: fangraph[i].text,
          width: 606,
          height: 400,
    hAxis: { viewWindow: { min: 0 }  },
          bar: {groupWidth: "50%"},
          legend: { position: "none" },
    titleTextStyle: {
          color: 	'black',    // any HTML string color ('red', '#cc00cc')
          fontName: 'Lato', // i.e. 'Times New Roman'
          fontSize: 14, // 12, 18 whatever you want (don't specify px)
          bold: true,    // true or false
      }
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values"+i));
        chart.draw(view, options);
            }

    }


    google.charts.setOnLoadCallback(drawChart1);

function drawChart1() {
var funbase = {{compare_artist |safe}}
console.log(funbase)
var funscount=[['Artist', 'Funcount']]
for (x in funbase)
{
funscount.push([funbase[x].text, funbase[x].values[0]])
}
console.log(funscount)
  var data = google.visualization.arrayToDataTable(
    funscount
    );

  var options = {
  legend:{position:'bottom'},
    // title: 'Overall Artist Popularity on Social Media by Fancount',
    colors: ['#0598d8', '#f97263'],
chartArea:{width:"40%",height:"80%"},
titleTextStyle: {
  color: 	'black',    // any HTML string color ('red', '#cc00cc')
  fontName: 'lato', // i.e. 'Times New Roman'
  fontSize: 14, // 12, 18 whatever you want (don't specify px)
  bold: true,    // true or false
}
  };

  var chart = new google.visualization.PieChart(document.getElementById('overallfans'));

  chart.draw(data, options);
}

google.charts.setOnLoadCallback(drawChartcountry);

function drawChartcountry() {
          var countrybase = {{countries_charts|safe}}
          console.log(countrybase)

          for (x in countrybase)
          {
          var funscount=[['Country', 'Funcount']]

          for (i in countrybase[x].data)
          {
          funscount.push([countrybase[x].data[i].text, countrybase[x].data[i].values[0]])
  }
  console.log(funscount)
var data = google.visualization.arrayToDataTable(
    funscount
  );

var options = {
    legend:{position:'right'},
    title: countrybase[x].name + ' Past Events Count in Top Countries',
chartArea:{width:"80%",height:"80%"},
titleTextStyle: {
  color: 	'black',    // any HTML string color ('red', '#cc00cc')
  fontName: 'lato', // i.e. 'Times New Roman'
  fontSize: 18, // 12, 18 whatever you want (don't specify px)
  bold: true,    // true or false
}
  };
  var chart = new google.visualization.PieChart(document.getElementById('countryfuns'+x));

  chart.draw(data, options);
  }
}


google.charts.setOnLoadCallback(drawChartfacebook);

function drawChartfacebook() {
  var facebookbase = {{facebook_like_graph | safe}}
  console.log(facebookbase)

  for (x in facebookbase)
  {
    var funscount=[['Country', 'Funcount']]

  for (i in facebookbase[x].data)
  {
    funscount.push([facebookbase[x].data[i].text, facebookbase[x].data[i].values[0]])
  }
  console.log(funscount)
  var data = google.visualization.arrayToDataTable(
      funscount
    );

  var options = {
    title: facebookbase[x].name,
    chartArea:{width:"80%",height:"80%"},
    titleTextStyle: {
      color: 'black',    // any HTML string color ('red', '#cc00cc')
      fontName: 'lato', // i.e. 'Times New Roman'
      fontSize: 14, // 12, 18 whatever you want (don't specify px)
      bold: true,    // true or false
    }
    };
    
    var chart = new google.visualization.PieChart(document.getElementById('facebookfuns'+x));

    chart.draw(data, options);
}
}

  });
    // var overallPopularityChart = {
    //   type: "pie",
    //   title: {
    //     text: "Overall Artist Popularity on Social Media by Fancount",
    //     fontFamily: 'Lato',
    //     fontSize: 14,
    //     padding: "15",
    //     fontColor: "#212121"
    //   },
    //   globals: {
    //     fontFamily: 'sans-serif'
    //   },
    //   legend: {
    //     toggleAction: 'remove',
    //     backgroundColor: '#FBFCFE',
    //     borderWidth: 0,
    //     adjustLayout: true,
    //     align: 'center',
    //     verticalAlign: 'bottom',
    //     marker: {
    //       type: 'circle',
    //       cursor: 'pointer',
    //       borderWidth: 0,
    //       size: 5
    //     },
    //     item: {
    //       fontColor: "#777",
    //       cursor: 'pointer',
    //       offsetX: -6,
    //       fontSize: 12
    //     }
    //   },
    //   backgroundColor: "#fff",
    //   palette: ["#FE7A5D", "#69A8F8", "#54DBB9", "#FEDA60", "#E80C60", "#0099CC", "#007E33", "#FF8800", "#CC0000", "#33b5e5", "#00C851", "#ffbb33", "#ff4444"],
    //   plot: {
    //     refAngle: 270,
    //     detach: false,
    //     valueBox: {
    //       fontColor: "#fff"
    //     },
    //     highlightState: {
    //       borderWidth: 2,
    //       borderColor: "#000"
    //     }
    //   },
    //   tooltip: {
    //     sticky: true,
    //     backgroundColor: 'none',
    //     borderWidth: 0,
    //     placement: 'node:out',
    //     borderColor: "#373a3c",
    //     fontSize: 16,
    //     backgroundColor: 'none',
    //     thousandsSeparator: ',',
    //     text: '<span style="color:%color">Artist: %t</span><br><span style="color:%color">%v Fancount</span>',
    //     mediaRules: [{
    //       maxWidth: 500,
    //       y: '54%',
    //     }]
    //   },
    //   series: {{ compare_artist | safe }}
    // };

    // zingchart.render({
    //   id: 'overallPopularityChart',
    //   data: overallPopularityChart
    // });

    // $("#overallPopularityChart-license-text").remove();

    zingchart.render({
      id: 'genreCountryChart',
      data: genreCountryChart
    });

    </script>
  {% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li><a href="{% url 'artists'%}">Artists</a></li>
                <li class="active">Compare the DJ</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
<!-- {{fanbase_charts}} -->
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container padding-bottom-clear">
                <div class="container">
                    <div class="row text-center artist_dj_header" id="artists">
                        {% for artist in artist_heading %}

                        <div class="vs">

                          {% if not forloop.first %}
                            <h4>VS</h4>
                            {% endif %}
                     </div>
                        <div class="text-center image_block">
                           {% if not forloop.first %}
                              <div class="col-sm-2"></div>
                            {% endif %}
                            <h3>{{artist.name}}</h3>
                            <img src={{artist.profile_image}} height="150" width="150"/>
                     </div>



                        {% endfor %}
                     </div>
                    <div class="row">
                              <div id="bar_charts">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-md-6">
                                        <h2 style="color:green;"><center><span class="fa fa-spotify"></span></center></h2>
                                      <div class="chart-wrapper">
                                      {% if bar_charts.Spotify %}
                                        <div class="chart-stage">
                                          <div id="barchart_valuesSpotify"></div>
                                        </div>
                                        {% else %}
                                            <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Spotify Data will be Available Soon </h4>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <h2 style="color:brown;"><center><span class="fa fa-instagram"></span></center></h2>
                                      <div class="chart-wrapper">
                                        {% if bar_charts.Instagram %}
                                        <div class="chart-stage">
                                          <div id="barchart_valuesInstagram" ></div>
                                        </div>
                                        {% else %}
                                            <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Instagram Data will be Available Soon </h4>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6" >
                                          <h2 style="color:black;"><center><span class="fa fa-twitter"></span></center></h2>
                                        <div class="chart-wrapper">
                                          {% if bar_charts.Twitter %}
                                          <div class="chart-stage">
                                            <div id="barchart_valuesTwitter"></div>
                                            </div>
                                          {% else %}
                                              <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Twitter Data will be Available Soon </h4>
                                          {% endif %}
                                        </div>
                                      </div>
                                      <div class="col-md-6" >
                                          <h2 style="color:red;"><center><span class="fa fa-youtube"></span></center></h2>
                                        <div class="chart-wrapper">
                                          {% if bar_charts.Youtube %}
                                          <div class="chart-stage ">
                                        <div id="barchart_valuesYoutube"></div>
                                          </div>
                                          {% else %}
                                              <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Youtube Data will be Available Soon</h4>
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-md-6" >
                                          <h2 style="color:blue;"><center><span class="fa fa-facebook"></span></center></h2>
                                          <div class="chart-wrapper">
                                            {% if bar_charts.Facebook %}
                                            <div class="chart-stage">
                                                <div id="barchart_valuesFacebook"></div>
                                            </div>
                                            {% else %}
                                                <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Facebook Data will be Available Soon </h4>
                                            {% endif %}
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h2 style="color:black;"><center><span class="glyphicon glyphicon-cd"></span></center></h2>
                                          <div class="chart-wrapper">
                                            {% if bar_charts.Events %}
                                            <div class="chart-stage">
                                      <div id="barchart_valuesEvents"></div>
                                            </div>
                                            {% else %}
                                                <h4 style="text-align:center; margin-bottom: 200px; margin-top: 200px;">Events Data will be Available Soon </h4>
                                            {% endif %}
                                            <div class="chart-notes">
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                              <div id="overallPopularityChart" class='fanbase_charts_div'>
                                  <div class="row">
                                          <div class="chart-wrapper">
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div class="chart-title">
                                                        <h5 style="text-align: center">Overall Artist Popularity on Social Media by Fancount</h5>
                                                        </div>
                                                      <div id="overallfans" style="height:400px; display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="fanbase_charts">
                                <div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="chart-wrapper">
                                            <div class="chart-title">
                                            </div>
                                            <div class="chart-stage">
                                                <div class="row">
                                                    <div id="donutchart0" style="height:500px;  display: block; margin: 0 auto" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                                    <div class="col-md-6" >
                                        <div class="chart-wrapper">
                                            <div class="chart-title">
                                            </div>
                                            <div class="chart-stage">
                                                <div class="row">
                                                    <div id="donutchart1" style="height:500px;  display: block; margin: 0 auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                              <div id="facebook_like_graph">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                              </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="facebookfuns0" style="height:500px; display: block; margin: 0 auto" ></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                            
                                      <div class="col-sm-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                              </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="facebookfuns1" style="height:500px;  display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id ="events_charts">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                              </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="countryfuns0" style="height:500px; display: block; margin: 0 auto"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                            
                                      <div class="col-sm-6 ">
                                          <div class="chart-wrapper">
                                              <div class="chart-title">
                                              </div>
                                              <div class="chart-stage">
                                                  <div class="row">
                                                      <div id="countryfuns1" style="height:500px;  display: block; margin: 0 auto" ></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="genreCountryChart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                      <div class="row">
                    <h4 style="padding: 10px"><strong>DISCLAIMER :</strong><i> We make no apologies for incorrectly aggregated data. We provide source links to all media, and advise you to cross check information before making  any business decisions based upon this information. We accept no liability for any loss or request any profit from good decision made on basis of this information.</i></h4>
                  </div>
                </div>
                  </div>
            </section>

	{% include "home/_datasetCount.html" %}

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
