{% extends "home/__base.html" %}

{% load staticfiles %}

{% block title %} {{ block.super }} | Artists </title> {% endblock title %}


{% block content %}
    <div class="tab-content">
      <div id="upcoming" class="tab-pane fade in active">
          {% if upcoming_events %}
              <table id="upcomingtable" class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Event Name</th>
                    <th>Venue Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Search On</th>
                  </tr>
                </thead>
                <tbody>
                    {% for event in upcoming_events %}
                       <tr>
                           <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
                           <td class="col-md-2">{{ event.eventName|title }}</td>
                           <td class="col-md-2">{{ event.evenueName}}</td>
                           <td class="col-md-1">{{ event.city }}</td>
                           <td class="col-md-1">{{ event.country}}</td>
                           <td class="col-md-3">
                               <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{artist.artistName}} {{event.eventName}}">
                               <span class="fa-stack fa-1x">
                                   <i class="fa fa-circle-thin fa-stack-2x"></i>
                                   <i class="fa fa-facebook fa-stack-1x"></i>
                               <span>
                               </a>
                               <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{artist.artistName}} {{ event.eventName}}">
                               <span class="fa-stack fa-1x">
                                   <i class="fa fa-circle-thin fa-stack-2x"></i>
                                   <i class="fa fa-google fa-stack-1x"></i>
                               <span>
                               </a>
                               <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{artist.artistName}} {{event.eventName}}">
                               <span class="fa-stack fa-1x">
                                   <i class="fa fa-circle-thin fa-stack-2x"></i>
                                   <i class="fa fa-twitter fa-stack-1x"></i>
                               <span>
                               </a>
                           </td>
                       </tr>
                   {% endfor %}
                </tbody>
              </table>
              <div>
                   <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
              </div>
              <input type="hidden" name="start" value="{{ start }}" id="upcoming_start"/>
              <!-- <button type="button" id="upcoming_button" onclick="load_events('upcoming')" class="btn btn-default btn-md">
                 <span class="glyphicon glyphicon-plus"></span> Show More
              </button> -->
          {% else %}
              <div class="no_event_notification">
                  <h3 class="title">No Upcoming Events</h3>
              </div>
          {% endif %}
      </div>

  {% endblock %}
