{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <!-- This is a simple example template that you can edit to create your own custom templates -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="{{ subject }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ site_url }}/static/frontend/css/custom.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    </style>
    </head>
    <body style="background-color:#FFFFFF;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <div class="container">
            <br>
            <div style="padding:20px; background-color:#394245;color:white;">
                <img id="logo_img" src="{{ site_url }}/static/frontend/images/logo_header.png" alt="Wheredjsplay">
            </div>
            {% block email_body %}
            {% endblock %}
            <hr>
            <div>
                <p>
                    No internet record perfectly summarises if an artist will perform - you might also cross check thier date listing on facebook and other ticketing portals or their website.<br>
                    Thanks,
                    {% block message_link %}{% endblock %}<br>
                    <a href="#">wheredjsplay.com</a>
                 </p>
            </div>
        </div>
    </body>
</html>
