{% load staticfiles %}
{% load artist_filters %}

<div class="container-fluid mt-2">
    <div class="form-group row">
      <form method="post" class="comment-form user-comments" >
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated %}
          <input type="submit" value="Submit" class="btn btn-default">
        {% else %}
          <input type="submit" value="Submit" class="btn btn-default" disabled>
        {% endif %}
      </form>
    </div>

    <div class="ml-15">
            
            <div class="mb-20">{{ comments.count }} Comment{{ comments|pluralize }}</div>
            {% for comment in comments %}
              {% if comment.user.profile_set.all.0.image %}
                <div class="roundImg col-md-2" style="background-image: url('{{comment.user.profile_set.all.0.image.url}}')">
                </div>
              {% else %}
                <div class="comment-text-avatar col-md-2">
                    <span style="font-size:18px;">{{comment.user.get_full_name.0|upper}}</span>
                </div>
              {% endif %}
              
              <div class="col-md-10">
                <span class="blue-txt"> {{ comment.user|capfirst }} </span> - {{comment.timestamp|timesince}} ago
                <p class="fs-20 wd-brk comments-border " style="margin-bottom:0px;padding-bottom:5px;text-align:justify;">{{ comment.content }} 
                    {% if comment.user == request.user %}
                      <a href="javascript:void(0)" class="pull-right" onclick="delete_reply_or_comment('{{comment.id}}','Comment')" > 
                        <span class ="glyphicon glyphicon-trash" style="color:red;font-size:12px" > </span>
                      </a>
                    {% endif %}
                </p>
                <button type="button" name="button" data-id="{{comment.id}}" class="reply-btn btn btn-default pull-right">Reply</button>
              </div>
              <div class="clearfix"></div>
              <!-- Replies -->
              <div class="replied-comments container mt-2" style="display:none;width: 100%" id="replied_comments_{{comment.id}}">
                {% for reply in comment.replies.all %}
                  {% if reply.user.profile_set.all.0.image %}
                    <div class="roundImg col-md-2 col-md-offset-2" style="background-image: url('{{reply.user.profile_set.all.0.image.url}}')">
                    </div>
                  {% else %}
                    <div class="comment-text-avatar col-md-2 col-md-offset-2">
                        <span style="font-size:18px;">{{reply.user.get_full_name.0|upper}}</span>
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <span class="blue-txt"> {{ reply.user|capfirst }} </span> - {{reply.timestamp|timesince}} ago
                    <p class="fs-20 wd-brk comments-border " style="padding-bottom:5px;text-align:justify;">{{ reply.content }} 
                      {% if reply.user == request.user %}
                        <a href="javascript:void(0)" class="pull-right" onclick="delete_reply_or_comment('{{reply.id}}','Reply')" > 
                          <span class ="glyphicon glyphicon-trash" style="color:red;font-size:12px" > </span>
                        </a>
                      {% endif %}
                    </p>
                  </div>
                  
                {% endfor %}
                <div class="form-group col-md-10 col-md-offset-2">
                  <form method="post" class="reply-form user-comments" >
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    {{ comment_form|content_placeholder:"Enter your reply here" }}
                    {% if request.user.is_authenticated %}
                      <input type="submit" value="Reply" class="btn btn-default">
                    {% else %}
                      <input type="submit" value="Reply" class="btn btn-default" disabled>
                    {% endif %}
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
  </div>
  
  