{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Compare Artists </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
		// validate filter
		$('#apply_filters').submit(function() {
			 $('select,input').each(function(){
				if($(this).val() == ''){
				$(this).removeAttr("name");
				 // $(this).attr("disabled", "disabled");
				}
			 });

		});

		//
		// $('#search').submit(function(event) {
		// 	event.preventDefault();
		// 	if($("#artist-name").val() == ''){
		// 		$('#artist-id').val("");
		// 		}
		// 	else {
		// 			var searched_artist = $('#artist-id').val();
		// 	 		window.location.href = '/artists/artist/' + searched_artist + '/';
		// 	 	 }
		// });
		// hide images by default
		$(".artists").hide();

		// list-grid view implementation
		$.view = function() {
    		$('#list').click(function(event){
    			event.preventDefault();
    			$(".artists").hide();
    	    	$("#list").addClass("active");
    	    	$("#grid").removeClass("active");
            });
    	    $('#grid').click(function(event){
    	    	event.preventDefault();
    			$(".artists").show();
    			$("#grid").addClass("active");
    			$("#list").removeClass("active");
            });
		};
		$.view();

 		// show more
       	$("#showmore").click(function( event ) {
       	event.preventDefault();
     	});
    });

     function load_artists(action){
         start = $("#artist_start").val();
         $("#upcoming_svg").show();
         current_url = window.location.href ;
         data = {
             "start":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             	 if ( response.status === 'False'){
             	 	$("#showmore").hide();
             	 	}
             	 $("#upcoming_svg").hide();
                 $("#artists").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#artist_start").val(response.start);
             }
         })
     }

</script>
<script type="text/javascript">
    var currentTHRequest = null;
    $('.typeahead1').typeahead({
        source: function (query, process) {
        	artists = [];
        	map = {};
            if(currentTHRequest && currentTHRequest.pipe()) {
                currentTHRequest.abort();
            }
            currentTHRequest = $.ajax({
                url: '/artists/filter-artist/',
                data: { query: query },
                success: function(data) {
                    $.each(data, function(i, object) {
                        map[object.artistName] = object;
                        artists.push(object.artistName);
                    });
                    process(artists);
                }
            })

            // return $.get('/artists/filter-artist/', { query: query }, function (data) {
            // 	$.each(data, function(i, object) {
			// 		map[object.artistName] = object;
			// 		artists.push(object.artistName);
			// 	});
			// 	return process(artists);
			// 	//return process(data.artists);
            // });
        },
        updater: function(item) {
				$('#artist1').val(map[item].artistID);
				return item;
			}
    });
    $('.typeahead2').typeahead({
        source: function (query, process) {
        	artists = [];
        	map = {};
            if(currentTHRequest && currentTHRequest.pipe()) {
                currentTHRequest.abort();
            }
            currentTHRequest = $.ajax({
                url: '/artists/filter-artist/',
                data: { query: query },
                success: function(data) {
                    $.each(data, function(i, object) {
                        map[object.artistName] = object;
                        artists.push(object.artistName);
                    });
                    process(artists);
                }
            })
        },
        updater: function(item) {
                $('#artist2').val(map[item].artistID);
                return item;
            }
    });
 </script>
 <script type="text/javascript">
    $(".compare_dj").click(function() {
        $(this).closest("form").attr("action", "/artists/compare_dj/");
    });
 </script>
{% endblock extra_js %}
{% block slider %}
 	<!-- banner start -->
				<!-- breadcrumb start -->
				<!-- ================ -->
                <div class="breadcrumb-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8">
                                <ol class="breadcrumb">
                                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                    <li><i class="fa fa "></i><a href="{% url 'artists' %}">Compare Artist</a></li>
                                    <li><i class="fa fa "></i><a href="{% url 'faq_compare' %}">There is a video lesson available for Compare Artists, click here to view it. </a></li>
                                </ol>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg">
                                <div class="col-xs-2 col-xs-offset-2">
                                    <ol class="breadcrumb">
                                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- breadcrumb end -->
                {% include 'artist/__filterbase_compare_artist.html' %}
{% endblock slider %}

{% block content %}

		<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->

						{% if message and message != 'YOUR SEARCH RESULTS FOR ARTISTS' %}
						<h2 class="page-title">{{message}}</h2>
						{% endif %}
                        {% if artist_request_message %}
                            <h5>Check these  ARTISTS OUT INSTEAD- OR <a href="mailto:info@wheredjsplay.com?Subject=Add%20New%20Artist" target="_top">CLICK HERE*</a> TO EMAIL US TO REQUEST THAT WE SHOULD ADD "{{ artist_name }}" TO OUR LIST OF ARTISTS</h5>
                        {% endif %}
						<h1 class="page-title" style="float:left;">Artists</h1>
						<h3><span class="view" style="float:right;">View
							<a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
							<a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
							</span>
						</h3>
						<div class="clearfix"></div>
						<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row grid-space-10">
								<form id ="artistform" action="/artists/search/" method="GET">
                                    <input type="hidden" name="message_str" input-url="" value="{{message}}"/>
								<div class="row" id="artists">
        								{% for artist in allartists %}
            								<div class="col-sm-3 col-md-2">
            									<input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
            									<label for="artist[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                                                        {% if filter_popularity == 4 %}
                                                            <h6 class="fb-color">FB - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 5 %}
                                                            <h6 class="sc-color">SC - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 7 %}
                                                            <h6 class="yt-color">YT - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 8 %}
                                                            <h6 class="twitter-color">TWITTER - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 11 %}
                                                            <h6 class="spotify-color">SPOTIFY - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 9 %}
                                                            <h6 class="insta-color">Insta - {{forloop.counter }}</h6>
                                                        {% endif %}
            										</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>
								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									<button class="btn btn-default" id="showmore" onclick="load_artists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artists</button>
                                    <button class="btn btn-default compare_dj" type="submit">Compare DJ's</button>
                                </div>
								</form>
								<input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
						<!-- main end -->
							</div>
					</div>
				</div>
				<!-- section end -->
			</section>
			<!-- main-container end -->

	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
