{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>DJ/Artist Added Artist Profile</h4>
{% endblock title %}
{% block email_body %}
<p>
    <strong>{{ user.username }} (User Type - {{ user.profile_set.all.0.user_types }})</strong> - has requested to add <strong>{{ artist_obj.artistName }}</strong>  To the wdjp system
    <!-- <strong>{{ artist_obj.artistName }} </strong> has been requsted for artist Dj -->
    <p>Do you want to approve this addition</p>
    <a href="{{site_url}}/artists/admin-approve/{{artist_obj.artistID}}"><strong>Approve Artist</strong></a>
    <!-- <p>*click Artist Profile to view Artist Profile or for changes click on Admin Panel </p> -->
    <p>Please check the artist info using these link </p>
    <a href="{{site_url}}/admin/artist/artist/{{artist_obj.artistID}}"> Artist Admin Panel </a> &nbsp; &nbsp;
    <a href="{{site_url}}/artists/artist/{{artist_obj.artistID}}"> Artist Profile </a> &nbsp; &nbsp;
    <br><br>
</p>
{% endblock %}
