{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Create Artist Profile </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $(".all_genres").select2();
    });
</script>

<script>

$( document ).ready(function() {
    $("#id_submit").click(function(){
        var artist_name = $("#id_artistName").val()
        var artist_obj = $("#id_artist_object").val()
        console.log(artist_obj)
        if(artist_name){
            data = {
                "artist_name":artist_name,
                "artist_obj":artist_obj
            }
            $.ajax({
                url: "{% url 'validate_artist_name' %}",
                type: "GET",
                data: data,
                success: function(response) {
                    response = JSON.parse(response);
                    if(response.artist == true){
                        $('#id_p').text('the Dj with this name already exist if you think that is you then you need to send a email on support@wheredjsplay.com then we will manually verify you and connect your profile with the dj account.')
                        $('#id_artist_present').modal("show");
                    }
                    else{
                        $("#id_form").submit()
                    }
                }
            })
        }
        else{
            $("#id_form").submit()
        }
    });

});

</script>

{% endblock %}

{% block content %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        {% if not artist %}
                            <li class="active">Add DJ-Artist</li>
                        {% else %}
                            <li class="active"><a href="{% url 'edit_details' %}">Edit Your Details</a></li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1"><br>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #2b2a2d">
                        {% if not artist %}
                        <h3 class="panel-title" style="color: white;">Add DJ-Artist</h3>
                        {% else %}
                        <h3 class="panel-title" style="color: white;">Edit Your Details</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="id_form" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="id_artist_object" value="{{ artist.artistName }}">
                            <div class="row" style="margin-top: 2%">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body" style="margin-top: -10px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12" >
                                                            <label for="id_image" class="pull-left">Upload Image:</label>
                                                            {{ form.artistPhoto }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_first_name" class="pull-left">*Artist Name:</label>
                                                            {{ form.artistName }}
                                                            {% if form.first_name.errors %}
                                                                <small class="error-field">{{ form.first_name.errors.as_text }}</small>
                                                            {% else %}
                                                                <small class="help-block with-errors" style="color:#a94442;"></small>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_genres" class="pull-left">Genres:</label>
                                                            <select name="genres" id="id_genres" class="form-control all_genres" multiple="multiple" >
                                                                {% for genre in genres %}
                                                                    <option value="{{genre.0}}" {% if genre in selected_genres %}selected{% endif %} >{{genre.1}} </option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_artists_you_worked_with" class="pull-left">Artist Website:</label>
                                                            {{ form.artistWebsite }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_artist_you_love" class="pull-left">Artist Agent:</label>
                                                            {{ form.artistAgent }}<br>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_company_organization" class="pull-left">Artist Budget:</label>
                                                            {{ form.artistBudget }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_contract_signatory_name" class="pull-left">City:</label>
                                                            {{ form.city }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_signatory_name" class="pull-left">Biography:</label>
                                                            {{ form.biography }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_mobile_no" input type="text" class="text-left" maxlength="10">Remarks:</label>
                                                            {{ form.remarks }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_address" class="pull-left">Press Contact:</label>
                                                            {{ form.press_contact }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_signature" class="pull-left">General Manager:</label>
                                                            {{ form.general_manager }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_address" class="pull-left">Gender:</label>
                                                            {{ form.gender }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_contract_signatory_name" class="pull-left">Country:</label>
                                                            <select id="id_country" name="country" class="country form-control">
                                                                <option value = "">Choose country...</option>
                                                                {% for country in countries %}
                                                                    <option value="{{ country.name }}" {% if form.country.value == country.name %} selected {% endif %} >{{ country.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_address" class="pull-left">Bandsintown:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.0.url}}"name="sources" id=id_bandsintown />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_contract_signatory_name" class="pull-left">Resident Adviser:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.1.url}}" name="sources" id=id_resident_adviser />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_gigatools" class="pull-left">Gigatools:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.2.url}}" name="sources" id=id_gigatools />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_facebook" class="pull-left">Facebook:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.3.url}}" name="sources" id=id_facebook />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_soundcloud" class="pull-left">Soundcloud:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.4.url}}" name="sources" id=id_soundcloud />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_songkick" class="pull-left">Songkick:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.5.url}}" name="sources" id=id_songkick />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_twitter" class="pull-left">Twitter:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.6.url}}" name="sources" id=id_twitter />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_instagram" class="pull-left">Instagram:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.7.url}}" name="sources" id=id_instagram />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_youtube" class="pull-left">Youtube:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.8.url}}" name="sources" id=id_youtube />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_spotify" class="pull-left">Spotify:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.9.url}}" name="sources" id=id_spotify />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_lastfm" class="pull-left">Last Fm:</label>
                                                            <input type="text" class="form-control" class="sources" value="{{ artist_website.10.url}}" name="sources" id=id_lastfm />
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" style="border-width: -30px;">
                                                        <div class="col-md-12">
                                                            <input class="btn btn-primary btn-sm" id="id_submit" value="Submit" style="width: 80px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id_artist_present" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Artist Name Already Exist</h4>
          </div>
          <div class="modal-body">
            <p>The Dj with this name already exist if you think that is you then you need to send a email on<a href="mailto:support@wheredjsplay.com"> support@wheredjsplay.com</a> .Then we will manually verify you and connect your profile with the dj account</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
          </div>
        </div>

      </div>
    </div>

{% endblock %}


{% block footer %}
{% endblock footer %}
