{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Favourite Artists </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        function matchStart(params, data) {
            params.term = params.term || '';
            if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
                return data;
            }
            return false;
        }

        $(".all_artists").select2({
            minimumInputLength: 2,
            matcher: function(params, data) {
                return matchStart(params, data);
            },
        });

        $('.owl-carousel').owlCarousel({
            {#loop:true,#}
            rewind: true,
            margin:10,
            nav:true,
            dots: false,
            items:5,
            autoWidth: true,
            responsive:{
                0:{
                    items:1
                },
                200:{
                    items:2
                },
                400:{
                    items:3
                },
                600:{
                    items:4
                },
                800:{
                    items:5
                }
            }
        })

        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    });
</script>

<script>
    $( "#email_frequency_button" ).click(function() {
        $('#email_frequency').modal('show');
    });
</script>


<script>
    $(document).ready(function(){

        $("#modal_booking_submit_button").click(function( event ) {
            event.preventDefault();
            date_inserted = $("#new_event_date_id").val();
            type_of_event = $("#event_action_option").val();
            event_action = $("#select_option").val();
            new_event_action = $("#booking_action").val();

            if (type_of_event == "existing_event") {
                event_name = $("#select_event option:selected" ).text();
                if (event_action == "booking"){
                    model_heading = "Confirm Booking Request"
                    action = "booking request"
                }
                else{
                    model_heading = "Confirm Offer Sheet"
                    action = "offer sheet"
                }

            }

            else {
                console.log(event_action);
                event_name = $("#new_event_name_id").val();
                if (new_event_action == "booking"){
                    model_heading = "Confirm Booking Request"
                    action = "booking request"
                }
                else{
                    model_heading = "Confirm Offer Sheet"
                    action = "offer sheet"
                }

            }
            $("#id_booking_request_confirm_modal").find('.modal-title').append("<p>").text(model_heading)
            model_text = "You are going to email {{artist.artistName|title}} a " + action + " to your email for " + event_name + " on " + date_inserted
            $("#id_booking_request_confirm_modal").find('.modal-body').append("<p>").text(model_text)
            $("#id_booking_request_confirm_modal").modal("show");

        });


       $("#booking_request_confirm_button").click(function( event ) {
           $("#id_form").submit();
           $("#id_booking_request_confirm_modal").modal("hide");
       });


        $('#event_action_option').click(function(){
            if ( $(this).val() == "existing_event") {
                $('#select_action').attr('required', true);
                $('#select_event').attr('required', true);
                $('#new_event_date_id').attr('required', true);
                $('#new_event_name_id').attr('required', false);
                $('#existing_event_copy_id').attr('required', false);
                $('#booking_action').attr('required', false);
                $('#existing_event_options').show();
                $("#new_event_div").hide();
            }
            else if ($(this).val() == "new_event") {
                $('#select_action').attr('required', false);
                $('#select_event').attr('required', false);
                $('#new_event_date_id').attr('required', true);
                $('#new_event_name_id').attr('required', true);
                $('#existing_event_copy_id').attr('required', true);
                $('#booking_action').attr('required', true);
                $("#existing_event_options").hide();
                $("#select").hide();
                $("#new_event_div").show();
                $("#select").hide();
            }
        })

        $("#select_event").click(function(){
            if ( $(this).val() == "create event") {
                window.location.href = "{% url 'booking_request' %}"
            }
        })

    });

    function booking_request(artist_id){
        $("#id_booking_request_modal").modal("show");
        $("#id_artist").val(artist_id)
    }

    $("#select_event").click(function(){
        if ( $(this).val() == "create event") {
            window.location.href = "{% url 'booking_request' %}"
        }
    })

    var date = new Date();
    date.setDate(date.getDate()-1);
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd",
        startDate: date,
    });

    $("#select_option").change(function(){
        $("#select").show();
        if($("#select_option").val() == ""){
            $("#select").hide();
        }
    });

</script>

{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">

        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'favorite' %}">Favorite Artists</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li><a href="{% url 'favorite' %}">My Favourite Artist</li>
            </ol>
        </div> -->
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->

    <section class="main-container padding-ver-clear bg-lightgrey">
        <div class="container pv-40">
            <div class="row">
                <h2 class="page-title text-center">Favorite artists</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!-- {% for art in favorites_artist %}
                        <a href="/artists/artist/{{ art.artistID }}/"><span class="label wd-label-article">{{ art.artistName }}</span></a>
                    {% endfor %} -->
                    <div class="owl-carousel owl-theme">
                        {% for sm_artist in favorites_artist %}
                            <div class="item">
                                <div class="wrapper">
                                    {% if sm_artist.artistPhoto %}
                                        <img src="{{ sm_artist.artistPhoto.url }}" style="width:100px!important;height:100px">
                                    {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="width:100px!important;height:100px">
                                    {% endif %}
                                <div class='description'>
                                    <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}">{{sm_artist.artistName}}</a></p>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        </div>
                    <div class="clearfix"></div>
                    <form action="" method="post" multiple>{% csrf_token %}
                        <!--<label class="text-center"><strong>Add or edit your favorite artists in the box below:</strong></label>-->
                        <select name="favorite_artists" class="form-control all_artists" multiple="multiple" >
                            {% for artist in artists %}
                                <option value="{{artist.0}}" {% if artist.0 in favorites_artist_ids %}selected{% endif %}>{{artist.1}}</option>
                            {% endfor %}
                        </select>
                        <div class="text-center">
                            <input type="submit" {% if not all_artist %} value="Confirm Selection" {% else %} value="Save Your Changes" {% endif %} class="btn btn-info"/>
                            <a href="/" class="btn btn-primary">Dashboard</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <!--<i>* We provide daily news and updates about your favorite artists, check your preferences about emailing options</i>-->
                    <!--<div class="col-md-10"> <i> *You can set a news letter for the information about your favourite artist using the newsletter button.  Just let us know which days you would like to see the news ! Thanks ! </i> </div>-->
                    <div class="col-md-2"><button type="button" class="btn-default pull-right" id="email_frequency_button" value="Email Frequency"><i class="glyphicon glyphicon-cog"></i> Newsletter</button></div>
                    <!--<a type="button" id="email_frequency_button"<i class="glyphicon glyphicon-cog"></i></a>Email preferences-->
                </div>
            </div>
            {% if all_artist %}
            <!-- <h2 class="page-title">  Hi <strong>{{ profile.user.first_name }}</strong> Your Favorite Artists</h2> -->
            {% for artist in all_artist %}
                <div class="dj-card-container" id="detail{{artist.artist_obj.artistID}}">
                    <div class="artist-container dj-card">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sliderImgWrapper">
                                    {% if artist.artist_obj.artistPhoto %}
                                        <img src="{{ artist.artist_obj.artistPhoto.url }}" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p class="artist-name"><a href="{% url 'artist_detail' artist.artist_obj.artistID %}">{{artist.artist_obj.artistName}}</a>
                                    {% if artist.artist_obj in favorites_artist %}
                                        <img style="display:inline; width:20px;" id="multi_heart_filled_icon{{artist.artist_obj.artistID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                        <!-- <img style="display:none; width:20px;" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" style="display: none;" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                    {% else %}
                                    <div class="overlay">
                                        <!-- <img style="display:inline; width:20px;" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                        <img style="display:none; width:20px;" id="multi_heart_filled_icon{{artist.artist_obj.artistID}}" style="display: none;" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    </div>
                                    {% endif %}
                                </p>
                                <!-- <p class=""><strong>Genre:-</strong> {% for genre in artist_genres %}<span class="tag tag-default">{{genre.genreID.genreName}}{% if not forloop.last %},{% endif %}</span>{% endfor %}</p> -->
                                <!-- <p class=""><strong>Budget:-</strong> {{ artist.artist_obj.artistBudget|get_budget}}</p> -->
                                <p style="display:inline" ><strong>Fame Level :</strong></p>
                                 {% if artist.artist_obj.artistBudget == 1 %}
                                 <img style="display:inline; margin-top:-15px;" src="{% static 'frontend/images/low_fame.png' %}" alt="low fame" height="30px" width="30px">
                                 {% elif artist.artist_obj.artistBudget == 2 %}
                                 <img style="display:inline;  margin-top:-15px;" src="{% static 'frontend/images/medium_fame.png' %}" alt="low fame" height="30px" width="30px">
                                 {% elif artist.artist_obj.artistBudget == 3%}
                                 <img style="display:inline;  margin-top:-15px;" src="{% static 'frontend/images/high_fame.png' %}" alt="low fame" height="30px" width="30px">
                                 {% endif %}
                                <ul class="social-links colored circle small">
                                    {% for source,url in artist.social_urls.items %}
                                        {% if source != "youtube_username"%}
                                            <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li><a target="_blank" href="https://www.google.com/search?q={{artist.artistName}}"><img src="{% static "frontend/images/btn_google.png"%}" alt="google-search" style="display:inline"></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal{{artist.artist_obj.artistID}}"><i class="fa fa-map-marker"></i></a></li>
                                </ul>
                            </div>
                            {% if artist.artist_obj.facebook_fancount or artist.artist_obj.twitter_fancount or artist.artist_obj.youtube_fancount or artist.artist_obj.spotify_fancount %}
                                <div class="col-md-3">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Social Sites</th>
                                          <th>Fans</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% if artist.artist_obj.facebook_fancount %}
                                            <tr>
                                              <td>Facebook</td>
                                              <td>{{ artist.artist_obj.facebook_fancount }}</td>
                                            </tr>
                                         {% endif %}
                                         {% if artist.artist_obj.twitter_fancount %}
                                           <tr>
                                             <td>Twitter</td>
                                             <td>{{ artist.artist_obj.twitter_fancount }}</td>
                                           </tr>
                                        {% endif %}
                                        {% if artist.artist_obj.youtube_fancount %}
                                          <tr>
                                            <td>Youtube</td>
                                            <td>{{ artist.artist_obj.youtube_fancount }}</td>
                                          </tr>
                                       {% endif %}
                                       {% if artist.artist_obj.spotify_fancount %}
                                         <tr>
                                           <td>Spotify</td>
                                           <td>{{ artist.artist_obj.spotify_fancount }}</td>
                                         </tr>
                                      {% endif %}
                                      </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'email_listings' artist.artist_obj.artistID %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Email Listings</a>
                                <a href="{% url 'free_dates' artist.artist_obj.artistID %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Free Dates</a>
                                {% if is_premium_user %}
                                    <button class="btn btn-primary btn-sm" style="display:inline;background-color:#47d147;border-color:#29a329;" role="button" onclick="booking_request({{artist.artist_obj.artistID}})">Booking Request</button>
                                {% endif %}
                                {% if artist.artist_obj in favorites_artist %}
                                <button class="btn btn-primary btn-sm" id="multi_del_fav{{artist.artist_obj.artistID}}"  role="button" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});">Remove Favorite</button>
                                <button class="btn btn-primary btn-sm" id="multi_add_fav{{artist.artist_obj.artistID}}" style="display: none;" role="button" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});">Add to Favorite</button>
                                {% else %}
                                <button class="btn btn-primary btn-sm" id="multi_add_fav{{artist.artist_obj.artistID}}" role="button" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});">Add to Favorite</button>
                                <button class="btn btn-primary btn-sm" id="multi_del_fav{{artist.artist_obj.artistID}}" style="display: none;" role="button" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});">Remove Favorite</button>
                                {% endif %}
                            </div>
                        </div><br> -->

                        {% if artist.artist_obj|artist_news %}
                        <h2>{{ artist.artist_obj.artistName }} News </h2>
                            <div>
                                <!-- <h2>{{artist.artist_obj.artistName}} News</h2> -->
                                {% for news in artist.artist_obj|artist_news %}
                                <div class="wd-artist-news">
                                    <span class="wd-posted-on" style="font-size: 14px">{{news.source }}</span> &#8226;
                                    {{news.title}}
                                    <a target="_blank" href="{{news.url}}">Read the Article</a>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="btn btn-default btn-md" href="{% url 'news' %}?artist_name={{artist.artist_obj.artistName}}">Show More News</a>
                        {% else %}
                        <h2>No News Found for {{ artist.artist_obj.artistName }} </h2>
                        {% endif %}
                        <br><br>


                        {% if artist.upcoming_events %}
                        <ul class="nav nav-tabs">
                           <li class="active"><a data-toggle="tab" href="#hide_upcoming{{artist.artist_obj.artistID}}">Hide Upcoming Events</a></li>
                           <li><a data-toggle="tab" href="#show_upcoming{{artist.artist_obj.artistID}}">Show Upcoming Events</a></li>
                        </ul>
                        {% else %}
                        <h3 class="title">No Upcoming Events</h3>
                        {% endif %}

                        <br>
                        <div class="tab-content">
                            <div id="hide_upcoming{{artist.artist_obj.artistID}}" class="tab-pane fade in active">

                            </div>

                            <div id="show_upcoming{{artist.artist_obj.artistID}}" class="tab-pane fade ">
                                {% if artist.upcoming_events %}
                                    <h3 class="title">Upcoming Events</h3>
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Event Name</th>
                                          <th>Venue Name</th>
                                          <th>City</th>
                                          <th>Country</th>
                                          <th>Search On</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for event in artist.upcoming_events %}
                                             <tr>
                                                 <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
                                                 <td class="col-md-2">{{ event.eventName|title }}</td>
                                                 <td class="col-md-2">{{ event.evenueName}}</td>
                                                 <td class="col-md-1">{{ event.city }}</td>
                                                 <td class="col-md-1">{{ event.country}}</td>
                                                 <td class="col-md-3">
                                                     <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{artist.artistName}} {{event.eventName}}">
                                                     <span class="fa-stack fa-1x">
                                                         <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                         <i class="fa fa-facebook fa-stack-1x"></i>
                                                     <span>
                                                     </a>
                                                     <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{artist.artistName}} {{ event.eventName}}">
                                                     <span class="fa-stack fa-1x">
                                                         <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                         <i class="fa fa-google fa-stack-1x"></i>
                                                     <span>
                                                     </a>
                                                     <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{artist.artistName}} {{event.eventName}}">
                                                     <span class="fa-stack fa-1x">
                                                         <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                         <i class="fa fa-twitter fa-stack-1x"></i>
                                                     <span>
                                                     </a>
                                                 </td>
                                             </tr>
                                         {% endfor %}
                                      </tbody>
                                    </table>
                                <!-- {% else %}
                                    <h3 class="title">No Upcoming Events</h3> -->
                                {% endif %}
                            </div>
                            <!-- <div id="hide_upcoming{{artist.artist_obj.artistID}}" class="tab-pane fade in active">
                            </div> -->
                        </div>
                        {% if artist.similar_artists %}
                            <div class="separator-2"></div>
                            <h3 class="title">Similar Artists</h3>
                            <div class="row">
                                {% for sm_artist in artist.similar_artists %}
                                <div class="col-md-2">
                                    <a href="{% url 'artist_detail' sm_artist.artistID %}"><p>{{sm_artist.artistName}}</p></a>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="row">
                            {% if is_premium_user %}
                            {% for event in artist.artist_requested_event_list %}
                                <div class="col-md-8">
                                    <div class="alert  alert-icon alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        You sent
                                             {{ event.event_name|title }} booking request for {{ event.event_date }} to {{ artist.artist_obj.artistName }} on {{ event.created_on|date:"M d, Y" }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                </div>
            {% endfor %}
            {% else %}
            <center>
                <h3><strong>No favorite artists selected yet</strong></h3>
                <h4>
                    You can set them up by selecting in their individual artist pages any time or enter their names here to add or remove them.
                </h4>
                <!--<a href="{% url "artists" %}"<button type="button" class="btn btn-default btn-md"> Select Artist </button></a>-->
            </center>
            {% endif %}
        </div>

    </section>
    {% for artist in all_artist %}
        <div id="myModal{{artist.artist_obj.artistID}}" class="modal fade" role="dialog">
          <div class="modal-dialog modal-map">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{artist.artist_obj.artistName|title}} Shows Map</h4>
              </div>
              <div class="modal-body">
                <iframe src="{% url 'artist_map_frame' artist.artist_obj.artistID%}" id="artistMap1132" height="400px" width="720px"></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    {% endfor %}

    <div id="id_booking_request_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="form-horizontal" id="id_form" role="form" method="post" action="{% url 'invitation' %}" data-toggle="validator">
                {% csrf_token %}
                <input type="hidden" name="artist_id" value="" id="id_artist" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> Booking Request </h4>
                    </div>

                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="form-group col-md-4">
                                    <label for="new_event_date_id" id="new_event_date_label_id">Enter/Re-Enter Proposed Event Date</label>
                                    <input type="text" class="form-control datepicker" name="new_event_date" id="new_event_date_id" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="event_action_option">Select Event Option</label>
                                    <select name="event_action" class="form-control" id="event_action_option" required="required">
                                        <option value="">Select Event</option>
                                        <option value="existing_event" value="booking request">Send Booking Request From a existing event</option>
                                        <option value="new_event" value="offer sheet">Send Booking Request From a new event</option>
                                    </select>
                                </div>
                            </div>

                            <div id="new_event_div" style="display:None;">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label for="new_event_name">New Event Name</label>
                                        <input type="text" class="form-control" name="new_event_name" id="new_event_name_id" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class=" form-group col-md-4">
                                        <label for="existing_event_copy_id">Copy From existing Event</label>
                                        <select name="existing_event_copy_id" class="form-control" id="existing_event_copy_id">
                                            {% for event in all_events %}
                                                <option value="{{ event.event_id }}">{{ event.event_name|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-1" style="margin-top:30px;"> OR </div>
                                    <div class="col-md-2">
                                        <br>
                                        <a class="btn btn-default btn-sm" target="_blank" href="{% url 'booking_request' %}">Create New Event</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label for="booking_action">Booking Action</label>
                                        <select class="form-control" name="booking_action" id="booking_action">
                                            <option value="">Select Action</option>
                                            <option value="booking" value="booking request">Booking Request</option>
                                            <option value="offer" value="offer sheet">Offer Sheet</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Existing Event Div -->
                            <div id="existing_event_options" style="text-align:center;display:none;" class="row">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="select_option">Booking Action</label>
                                    <select name="action" class="form-control" id="select_option">
                                        <option value="">Select Action</option>
                                        <option value="booking" value="booking request">Booking Request</option>
                                        <option value="offer" value="offer sheet">Offer Sheet</option>
                                    </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>

                            <div class="row" style="text-align:center;display: none;" id="select">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="select_event">Select Event</label>
                                    <select name="event_id" class="form-control" id="select_event">
                                        {% for event in all_events %}
                                            <option value="{{ event.event_id }}">{{ event.event_name|title }}</option>
                                        {% endfor %}
                                        <option value="create event">Create Event</option>
                                    </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {% if all_events %}
                            <button id="modal_booking_submit_button" type="submit" class="btn btn-primary">Send</button>
                        {% endif %}
                    </div>
                </div>
            </form>
          <!-- /.modal-content -->
        </div>

    </div>

    <div id="id_booking_request_confirm_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- <form class="form-horizontal" id="id_form" role="form" method="post" action="{% url 'invitation'  %}" data-toggle="validator"> -->
                <!-- {% csrf_token %} -->
                <!-- <input type="hidden" name="artist_id" value="" id="id_artist" /> -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> </h4>
                    </div>

                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {% if all_events %}
                            <button type="submit" id="booking_request_confirm_button" class="btn btn-primary">Confirm</button>
                        {% endif %}
                    </div>
                </div>
            <!-- </form> -->
          <!-- /.modal-content -->
        </div>
       <!-- /.modal-dialog -->
    </div>

    <div id="email_frequency" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Email Frequency</h4>
          </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <form class="form-horizontal" id="email_frequency_form" action="{% url 'email_frequency' %}" role="form" method="post">{% csrf_token %}
                                    <label style="text-align:left; margin-left:6px;" ><h4>Email Frequency:</h4></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-6" style="margin-left: 15px;">
                        <div class="form-group" style="margin-left:6px;">
                            <div class="checkbox" >
                                <label for="id_email_frequency_0" style="font-size: 20px; text-align:left;">
                                <input style="display: inline-block;" id="id_email_frequency_0" {% if "Monday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Monday" /> Monday</label>
                            </div>
                            <div class="checkbox" >
                                  <label for="id_email_frequency_1" style="font-size: 20px; text-align:left;">
                                  <input style="display: inline-block;" id="id_email_frequency_1" {% if "Tuesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Tuesday" /> Tuesday</label>
                            </div>
                            <div class="checkbox" >
                                  <label for="id_email_frequency_2" style="font-size: 20px; text-align:left;">
                                  <input style="display: inline-block;"  style="display: inline-block;" id="id_email_frequency_2" {% if "Wednesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Wednesday" /> Wednesday</label>
                            </div>
                            <div class="checkbox" >
                                  <label for="id_email_frequency_3" style="font-size: 20px; text-align:left;">
                                  <input style="display: inline-block;" id="id_email_frequency_3" {% if "Thursday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Thursday" /> Thursday</label>
                            </div>
                            <div class="checkbox" >
                                  <label for="id_email_frequency_4" style="font-size: 20px; text-align:left;">
                                  <input  style="display: inline-block;" id="id_email_frequency_4" {% if "Friday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Friday" /> Friday</label>
                            </div>
                            <div class="checkbox" >
                                  <label for="`id_email_frequency_5`" style="font-size: 20px; text-align:left;">
                                  <input style="display: inline-block;" id="id_email_frequency_5" {% if "Saturday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Saturday" /> Saturday</label>
                            </div>
                            <div class="checkbox">
                                  <label for="id_email_frequency_6" style="font-size: 20px; text-align:left;">
                                  <input style="display: inline-block;" id="id_email_frequency_6" {% if "Sunday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Sunday" /> Sunday</label>
                            </div>
                            <small class="help-block with-errors"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-default" >Submit</button>
            </div>
            </form>
        </div>
      </div>
    </div>

	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
