{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Travel Share </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<link href="static/frontend/css/custom.css" rel="stylesheet">

<script>

$("#booked_date").click(function(){
    if($("#free_date").val() == ""){
        $( "#booked_date" ).prop("disabled", true);
        $(".dropdown-menu").css("display","none")
        $(".free_date_error").html("Please fill free date first. ")
    }
    if($("#free_date").val()){
        $(".free_date_error").html(" ")

    }
});


$(".booked_date_v").click(function(){
    if($("#free_date").val() != ""){
        $("#booked_date").prop("disabled", false);
        $(".free_date_error").html(" ")
    }
});


$("#booked_date").click(function(){
    var free_date = $("#free_date").val()
    var free_date = free_date
    var booked_date = new Date(free_date);
    booked_date.setDate(booked_date.getDate()+5);
    $("#booked_date").removeClass("datepicker");
    $("#booked_date").addClass("booked_datepicker");
    $('.booked_datepicker').datepicker({
        dateFormat: "yy-mm-dd",
        endDate: booked_date,
    });
});


$("#free_date").click(function(){
    $("#booked_date").prop("disabled", false)
});


</script>

<script>
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: date,
        });

        getLocation();

        $("#whattosearch").change(function() {
            console.log()
            if($("#whattosearch").val() == "one"){
                $("#artist-name-div").show();

            }
            else {
                $("#artist-name-div").hide();
            }
        });

        $("#free-Booked").change(function() {
            console.log()
            if($("#free-Booked").val() == "free"){
                $("#country-div").hide();
                $("#region-territory-div").hide();
            }
            else {
                $("#country-div").show();
                $("#region-territory-div").show();
            }
        });
        // hide images by default
        $(".artists").hide();

        $.view = function() {
            $('#list').click(function(event){
                event.preventDefault();
                $(".artists").hide();
                $("#list").addClass("active");
                $("#grid").removeClass("active");
            });

            $('#grid').click(function(event){
                event.preventDefault();
                $(".artists").show();
                $("#grid").addClass("active");
                $("#list").removeClass("active");
            });
        };
        $.view();

        $("#showmore").click(function( event ) {
            event.preventDefault();
        });
        $("#email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });
        $("#email_selected").click(function( event ) {
            event.preventDefault();
        });
    });

    function showPosition(position) {
        console.log(position.coords.latitude);
        $("#geoLat").val(position.coords.latitude);
        $("#geoLang").val(position.coords.longitude);
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function init() {
            var input = document.getElementById('locationTextField');
            var autocomplete = new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', init);

    function load_artist(action){
        start = $("#artist_start").val()
        $("#upcoming_svg").show();
        current_url = window.location.href
        data = {
            "start":start,
        }
        $.ajax({
            url: current_url,
            type: "GET",
            data: data,
            success: function(response) {
                if (response.status == "False"){
                    $("#showmore").hide();
                }
                $("#upcoming_svg").hide();
                $("#artistform").append(response.data);
                $("#artist_start").val(response.start);
                $("#artists").append(response.data);
                if ( $("#grid").hasClass("active")){
                       $(".artists").show();
                   }
                if($("#list").hasClass("active")){
                       $(".artists").hide();
                   }
                $("#artist_start").val(response.start);

            }
        })
    }

</script>
<script>

function formValidation(){

    var whattosearch = document.getElementById('whattosearch');
    // var booked_date = document.getElementById('booked_date');
    var booked_date = $("#booked_date").val()

    // var free_date = document.getElementById('free_date');
    var free_date = $("#free_date").val()

    var free_date_obj = new Date(free_date);

    var booked_date_obj = new Date(booked_date)

    var free_date_5_days_after = free_date_obj.setDate(free_date_obj.getDate()+5);

    var free_date_5_days_after_obj = new Date(free_date_5_days_after).toDateString();

    var free_date_5_days_before =  free_date_obj.setDate(free_date_obj.getDate()-5);

    var free_date_5_days_before_obj = new Date(free_date_5_days_before).toDateString();

    var timeDiff = Math.abs(booked_date_obj.getTime() - free_date_obj.getTime());
    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

    var error = 0;

    // alert(free_date_obj.setDate(free_date_obj.getDate()) - booked_date_obj.setDate(free_date_obj.getDate()))

    if(free_date!=" "){
        if(diffDays > 5  ){
            $(".free_date_error").html("Please choose date range between " + free_date_5_days_before_obj + " to " + free_date_5_days_after_obj);
            error++
        }
    }

    var miles = document.getElementById('miles');
    var artist_name = document.getElementById('artistname');

    if (whattosearch.value == "Select option") {
        $("#whattosearch").addClass('error');
        error++
    }

    if (booked_date =="") {
        $("#booked_date").addClass('error');
        error++
    }

    if (free_date =="") {
        $("#free_date").addClass('error');
        error++
    }

    if (miles.value == "Select option") {
        $("#miles").addClass('error');
        error++
    }

    if (whattosearch.value == "one" && !artist_name.value) {
        $("#artistname").addClass('error');
        error++
    }

    if(error == 0) {
        return true;
    } else {
        return false;
    }

}

</script>

<script type="text/javascript">
    $('.typeahead').typeahead({
        source: function (query, process) {
            return $.get('/artists/filter-name/', { query: query }, function (data) {
                return process(data.artists);
            });
        }
    });
 </script>
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li class="active"><a href="{% url 'flight_share'%}">Travel Share</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->
    <section class="main-container padding-ver-clear">
        <div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/flightshare_background.jpeg'%}')">
            <div class="container">
                <h1 class="page-title" style="text-align:center;">Artist Travel Share Search</h1>
                <div class="separator-2"></div>
                <div class="master-form">
                    <div class="sorting-filters text-left mb-20">
                        <form class="form-inline typeahead-dark" method="GET" action="" onsubmit="return formValidation()">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <input type="hidden" name="geoLat" id="geoLat" >
                                <input type="hidden" name="geoLang" id="geoLang" >
                                <div class="form-group col-md-3">
                                    <label for="whattosearch" id="whattosearch_label" class="control-label">What to Search ?</label>
                                    <select class="form-control" name="whattosearch" id="whattosearch">
                                        <option {% if whattosearch == "Select option"%}selected="selected"{% endif %} value="Select option">Select option</option>
                                        <!-- <option {% if whattosearch == "one" %}selected="selected"{% endif %} value="one">One Artist</option> -->
                                        <option {% if whattosearch == "any" %}selected="selected"{% endif %} value="any">Any Artist</option>
                                    </select>
                                </div>
                                <div class="col-md-2"></div>

                                <div class="form-group col-md-3 booked_date_v">
                                    <!-- <input id="date" class="datepicker form-control" style="width:20%"> -->
                                    <label for="booked_on" id="booked_on_label" class="control-label">Booked on <small style="font-size: 10px;">(*Select Date from the Range of 5 days from Free date.)</small></label>

                                    <input type="text" name="bookedon" id="booked_date" value="{{bookedon}}" class="form-control datepicker" style="margin-bottom: 0;" />
                                    <small style="color:red;" class="free_date_error"></small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-3" id="artist-name-div" style="display:none;margin-top:20px;">
                                    <input class="form-control typeahead" value="{{artist_name}}" name="artistname" id="artistname" placeholder="Enter Artist Name" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-3">
                                    <!-- <input id="date" class="datepicker form-control" style="width:20%"> -->
                                    <label for="free" id="free_label" class="control-label">Free</label>
                                    <div class="input-group free_date_v">
                                        <input type="text" name="freeon" id="free_date" value="{{freeon}}" class="form-control datepicker" style="margin-bottom: 0;" />
                                        <div class="input-group-addon">+</div>
                                        <select name="freeondates" class="form-control" id="days"style="margin-bottom: 0;min-width: 85px">
                                            <option {% if freeondates == ""%}selected="selected" {% endif %} value="">Days</option>
                                            <option {% if freeondates == "1"%}selected="selected" {% endif %} value="1" >1 day</option>
                                            <option {% if freeondates == "2"%}selected="selected" {% endif %} value="2" >2 days</option>
                                            <option {% if freeondates == "3"%}selected="selected" {% endif %} value="3" >3 days</option>
                                            <option {% if freeondates == "4"%}selected="selected" {% endif %} value="4" >4 days</option>
                                            <option {% if freeondates == "5"%}selected="selected" {% endif %} value="5" >5 days</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-3" id="miles_div">
                                    <label for="miles" class="control-label">Distance from event</label>
                                    <select class="form-control" name="withinmiles" id="miles">
                                        <option {% if withinmiles == ""%}selected="selected" {% endif %} value="">Select option</option>
                                        <option {% if withinmiles == "100"%}selected="selected" {% endif %} value="100">Less than 100 Miles</option>
                                        <option {% if withinmiles == "200"%}selected="selected" {% endif %} value="200">Less than 200 Miles</option>
                                        <option {% if withinmiles == "500"%}selected="selected" {% endif %} value="500">Less than 500 Miles</option>
                                        <option {% if withinmiles == "1000"%}selected="selected" {% endif %} value="1000">Less than 1000 Miles</option>
                                        <option {% if withinmiles == "2000"%}selected="selected" {% endif %} value="2000">Less than 2000 Miles</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-3">
                                    <label for="locationTextField" id="locationText" class="control-label">Your Event Location</label>
                                    <input {% if address %}value="{{address}}"{% endif %} name="useraddress" id="locationTextField" class="form-control">
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-3">
                                    <!-- <label for="prioritize_my_fav" class="control-label">Prioritize My Favourite</label>
                                    <select name="prioritize_my_fav" class="form-control" id="prioritize_my_fav">
                                        <option {% if prioritize_my_fav = "" %} selected="selected" {% endif %} value="">Select option</option>
                                        <option {% if prioritize_my_fav = "Yes" %} selected="selected" {% endif %} value="Yes">Yes</option>
                                        <option {% if prioritize_my_fav = "No" %} selected="selected" {% endif %} value="No">No</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-default form-control col-sm-4" type="submit" name="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="separator with-icon col-md-12"><i class="fa fa-diamond bordered"></i></div>
        </div>
    </section>
    <section class="main-container padding-ver-clear">
        <div class="section">
            <div class="container">
                <h1><strong>Travel Share Search</strong></h1><hr>
                <!-- {% if not allartists %}
                    <h1 class="page-title" style="float:left;">HOW TO SEARCH FOR TRAVEL SHARE </h1>
                    <div class="clearfix"></div>
                    <div class="separator-2"></div>
                    <div>This feature is useful because artists are more likely to accept offers with minimal travel between shows and it will help to reduce the cost to both artist and promoter <br> <br>
                        Please enter (any artists) and select a date next to the date on which you are planning events.  E.g.if you plan events on a Friday, select the following Saturday.
                        Then select the Friday as the free date. Finally specify the number of miles from the location you are running your event and WDJP will deliver a list of available talent who are booked close to you and who could potentially perform.
                    </div><br>
                {% endif %} -->
            </div>
        </div>
    </section>
    <section class="main-container padding-ver-clear">
        <div class="section">
            <div class="container">
                {% if allartists %}
                    <div class="row">
                        {% if message_string != "YOUR SEARCH RESULTS FOR" %}
                                <h2 class="page-title">{{message_string}} {% if request.GET.useraddress %} of {{request.GET.useraddress}} {% endif %}</h2>
                                <h2 class="title">{% if result_length != 0 %}(Total Result - {{ result_length }}){% else %} Your Search did not return any results. Please refine your criteria and perform search again {% endif%} </h2>
                        {% endif %}

                        <!-- main start -->
                        <!-- ================ -->
                        <h1 class="page-title">Results</h1>
                        <h3><span class="view" style="float:right;">View
                            <a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
                            <a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
                            </span>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="separator-2"></div>
                            <!-- page-title end -->
                            <div class="row grid-space-10">
                                <div class="row">
                                    <form id="artistform" action="/artists/search/" method="GET">
                                        <input type="hidden" name="message_str" input-url="" value="{{message_string}}"/>
                                        {% for artist in allartists %}
                                        <div class="col-sm-3 col-md-2">
                                            <input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
                                            <label for="artist[{{ artist.artistID }}]">
                                            <div class="team-member image-box style-2 mb-5 gray-bg text-center">
                                                <div class="overlay-container overlay-visible artists">
                                                    {% if artist.artistPhoto %}
                                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                    {% endif %}
                                                    <div class="overlay-bottom">
                                                        <ul class="social-links circle dark margin-clear">
                                                            {% for source,url in artist.pk|get_source %}
                                                                <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="body" style="height:60px;">
                                                    <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message_string}}">{{ artist.artistName }}</a></h5>
                                                    <p>{{ artist|get_venue_city }}</p>
                                                </div>
                                            </div>
                                            </label>
                                        </div>
                                        {% endfor %}
                                </div>
                                <div class="text-center">
                                     <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
                                <div class="clearfix"></div>
                                <div style="text-align:center">
                                    <button class="btn btn-default" id="showmore" onclick="load_artist()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% if request.user.is_authenticated %}
                                        <button class="btn btn-success" type="submit">View Tour Dates</button>
                                        <button class="btn btn-default" id="email_listings" onclick="send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                        <button class="btn btn-default" id="email_selected" onclick="send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                    {% endif %}
                                </div>
                            </form>
                            <input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
                            <input type="hidden" value="{{ all_artists_id }}" id="all_artists_id"/>
                            </div>
                        <!-- main end -->
                    </div>
                {% elif message_string != "YOUR SEARCH RESULTS FOR" %}
                    <div class="row">
                        {% if message_string != "YOUR SEARCH RESULTS FOR" %}
                                <h2 class="page-title">{{message_string}}</h2>
                                {% if result_length != 0 %}<h2 class="title">(Total Result - {{ result_length }})</h2>{% else %} </h4 class="title">Your Search did not return any results. Please refine your criteria and perform search again {% endif%}</h4>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
