{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}
    <br>
            {% if artist.artistPhoto %}
                <img src="{{ site_url }}{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="200px" height="200px">
            {% else %}
                <img src= "{{ site_url }}/static/frontend/images/team-member-1.jpg" alt="{{artist.artistName}}" width="200px" height="200px">
            {% endif %}
            <a href="{{ site_url }}/artists/artist/{{artist.artistID}}"><p class="artist-name">{{artist.artistName}}</p></a>
            <p class=""><strong>Budget:-</strong> {{ budget }}</p>
            <ul style="list-style-type:none;padding-left:0px;">
                {% for source,url in social_urls.items %}
                    {% if source != "youtube_username"%}
                    <li style="display: inline-block;">
                        <a style="font-size:10px" target="_blank" class="{{source}}" href="{{url}}">
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-{{source}} fa-stack-1x"></i>
                        <span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- "{% url 'artist_detail' artist.artistID %}" -->

            <a href="{{ site_url }}/artists/email-listings/{{artist.artistID}}/" style="background-color: #394245; border: none; color: white; padding: 5px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 13px; margin: 4px 2px; cursor: pointer;">Email Listings</a>
            <a href="{{ site_url }}/artists/free-dates/{{artist.artistID}}/" style="background-color: #394245; border: none; color: white; padding: 5px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 13px; margin: 4px 2px; cursor: pointer;" >Free Dates</a>
        {% if statistics %}
                <table style="border-collapse:collapse; width:100%; ">
                  <thead>
                    <tr style="background-color: #f2f2f2;">
                      <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Social Sites</th>
                      <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Fans</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for source,data in statistics.items %}
                        <tr style="nth-child(even); background-color: #f2f2f2;">
                          <td style="text-align:left; padding:8px;">{{ source|title }}</td>
                          <td style="text-align:left; padding:8px;">{{ data.likes }}</td>
                        </tr>
                     {% endfor %}
                  </tbody>
                </table>
        {% endif %}

        <h3 class="title">Events and Free Dates</h3>
        <table style="border-collapse:collapse; width:100%; ">
          <thead>
            <tr style="background-color: #f2f2f2;">
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Date</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Event Name</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Venue Name</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">City</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Country</th>
            </tr>
          </thead>
          <tbody>
              {% for event in free_dates_upcoming_event %}
                 <tr {% if forloop.counter|divisibleby:2 %}style="background-color: #f2f2f2;"{% endif %}>
                     {% if event.evenueName %}
                         <td style="text-align:left; padding:8px;">{{ event.date|date:"M d, Y" }}</td>
                         <td style="text-align:left; padding:8px;">{{ event.eventName|title }}</td>
                         <td style="text-align:left; padding:8px;">{{ event.evenueName}}</td>
                         <td style="text-align:left; padding:8px;">{{ event.city }}</td>
                         <td style="text-align:left; padding:8px;">{{ event.country}}</td>
                    {% else %}
                        <td style="text-align:left; padding:8px;">{{ event.date|date:"M d, Y" }}</td>
                        <td style="text-align:left; padding:8px;">Artist free </td>
                        <td style="text-align:left; padding:8px;">N/a</td>
                        <td style="text-align:left; padding:8px;">N/a</td>
                        <td style="text-align:left; padding:8px;">N/a</td>
                    {% endif %}
                 </tr>
             {% endfor %}
          </tbody>
        </table>

{% endblock %}
