{% load staticfiles %}

{% for venues in all_venues %}
    <tr>
        <td class="col-md-1"><a href="{% url 'venue_detail' venues.venueid %}">{{ venues.venuename }}</a></td>
        <td class="col-md-2">{{ venues.venueaddress }}</td>
        <td class="col-md-2">{{ venues.city }}</td>
        <td class="col-md-2">{{ venues.country}}</td>
    </tr>
{% endfor %}
        