{% load staticfiles %}
{% if all_events %}
    <table id="fav_event_table" class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Event Name</th>
            <th>Venue Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Line Up</th>
        </tr>
        </thead>
        <tbody>
            {% include 'artist/get_shortlist_events_table.html'%}
        </tbody>
    </table>
    <div class="text-center">
        {% if all_events|length == start %}
            <button type="button" id="shortlisted_events_button" onclick="load_shortlist_events()" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-plus"></span> Show More
            </button>
        {% endif %}
    </div>
    <div>
        <img class="events_loader" id="shortlisted_venue_svg" src="{% static 'frontend/images/ring.svg'%}">
    </div>
    <div class="text-center">
        <a href="{% url 'territory_search' %}" class="btn btn-default text-center">Shortlist More Events </button></a>
    </div>
    
{% else %}
    <div class="no_event_notification">
        <h3 class="title">No Shortlisted Events</h3>
        <a href="{% url 'territory_search' %}" class="btn btn-default"> Shortlist Events </button></a>
    </div>
{% endif %}
