{% load staticfiles %}
{% if all_venues %}
    <table id="fav_venue_table" class="table">
        <thead>
        <tr>
            <th>Venue Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for venues in all_venues %}
            <tr>
                <td class="col-md-1"><a href="{% url 'venue_detail' venues.venueid %}">{{ venues.venuename }}</a></td>
                <td class="col-md-2">{{ venues.venueaddress }}</td>
                <td class="col-md-2">{{ venues.city }}</td>
                <td class="col-md-2">{{ venues.country}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if all_venues|length == start %}
            <button type="button" id="shortlisted_venues_button" onclick="load_shortlist_venues()" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-plus"></span> Show More
            </button>
        {% endif %}
    </div>
    <div>
        <img class="events_loader" id="shortlisted_venue_svg" src="{% static 'frontend/images/ring.svg'%}">
    </div>
    <div class="text-center">
        <a href="{% url 'venues' %}" class="btn btn-default text-center">Shortlist More Venues </button></a>
    </div>
    
{% else %}
    <div class="no_event_notification">
        <h3 class="title">No Shortlisted Venues</h3>
        <a href="{% url 'venues' %}" class="btn btn-default"> Shortlist Venues </button></a>
    </div>
{% endif %}
