{% load staticfiles %}
{% load event_filters %}

{% for event in all_events %}
    {% with event|event_unique|first as evs  %}
        <tr>
            <td class="col-md-1">{{ evs.eventid.date|date:"M d, Y" }}</td>
            <td class="col-md-2"><a href="/events/event/{{ evs.eventid.eventID }}">{{ event.eventName|title }}</td>
            <td class="col-md-2">{{ evs.eventid.evenueName }}</td>
            <td class="col-md-2">{{ evs.venueid.city}}</td>
            <td class="col-md-2">{{ evs.venueid.country}}</td>
            <td class="col-md-3">
                {% for mast in event|event_unique %}
                <a href="{% url 'artist_detail' mast.artistid.artistID %}" target="_blank">
                    <span class="badge badge-pill mb-5 default-blue-bg">{{ mast.artistid.artistName }}</span>
                </a>
                {% endfor %}
            </td>
        </tr>
    {% endwith %}
{% endfor %}
        