{% load staticfiles %}
{% load artist_filters %}
{% for event in events %}
    <tr>
        <td class="col-md-2">{{ event.date|date:"M d, Y" }}</td>
        <td class="col-md-2"><a href="/events/event/{{ event.eventid_id }}">{{ event.eventName|title }}</a></td>
        <td class="col-md-1 text-center">
            {% if user_type == "Agent" %}
                <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
            {% else %}
                {% if event.eventid_id in  fav_events_list %}
                    <img style="display:inline; width:20px;" class="heart_filled_icon{{ event.eventid_id }}" id="heart_filled_icon{{event.eventid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{event.eventid_id}});" alt="{{event.eventid_id}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_outline_icon{{ event.eventid_id }}" id="heart_outline_icon{{event.eventid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{event.eventid_id}});" alt="{{event.eventid_id}}" width="200px" height="200px">
                {% else %}
                    <img style="display:inline; width:20px;" class="heart_outline_icon{{ event.eventid_id }}" id="heart_outline_icon{{event.eventid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_event({{event.eventid_id}});" alt="{{event.eventid_id}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_filled_icon{{ event.eventid_id }}" id="heart_filled_icon{{event.eventid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_event({{event.eventid_id}});" alt="{{event.eventid_id}}" width="200px" height="200px">
                {% endif %}
            {% endif %}
        </td>
        <td class="col-md-2">{{ event.evenueName }}</td>
        <td class="col-md-1 text-center">
            {% if user_type == "Agent" %}
                <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
            {% else %}
                {% if event.evenueName in fav_venues_list %}
                    <img style="display:inline; width:20px;" class="heart_filled_icon{{ event.venueid.venueid }}" id="heart_filled_icon{{event.venueid.venueid}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid.venueid}});" alt="{{event.venueid.venueid}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_outline_icon{{ event.venueid.venueid }}" id="heart_outline_icon{{event.venueid.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid.venueid}});" alt="{{event.venueid.venueid}}" width="200px" height="200px">
                {% else %}
                    <img style="display:inline; width:20px;" class="heart_outline_icon{{ event.venueid.venueid }}" id="heart_outline_icon{{event.venueid.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid.venueid}});" alt="{{event.venueid.venueid}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_filled_icon{{ event.venueid.venueid }}" id="heart_filled_icon{{event.venueid.venueid}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid.venueid}});" alt="{{event.venueid.venueid}}" width="200px" height="200px">
                {% endif %}
            {% endif %}
        </td>
        <td class="col-md-1">{{ event.city }}</td>
        <td class="col-md-1"><a href="{% url 'territory_search' %}?what=1&country={{event.country|get_country_code_upper}}" target="_blank">{{ event.country}}</a></td>
        <td class="col-md-2">
            <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{artist.artistName}} {{event.eventName}}">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                <span>
            </a>
            <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{artist.artistName}} {{ event.eventName}}">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-google fa-stack-1x"></i>
                <span>
            </a>
            <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{artist.artistName}} {{event.eventName}}">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                <span>
            </a>
        </td>
    </tr>
{% endfor %}
