{% load artist_filters %}
{% load static %}
<script type="text/javascript" src="{% static 'frontend/plugins/jquery.min.js' %}"></script>
<div class="modal fade modelAssignArtist" id="modelAssignArtist" tabindex="-1" role="dialog" style="width:45%;margin-left: 29%; margin-top: 90px; padding-right:0px !important; max-height:75%;">
    <div class="well" style=" min-height: 271px;">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -3%; margin-right: -2%;" >×</button>
        <center><h4><strong>Shortlist venues for artists</strong></h4>
        <h6>Please select the artist names you wish to shortlist this venue to,</h6>
        <h6>(The venue will then be listed in the artist profile page):</h6></center>
        <select multiple="multiple" class="form-control all_artists" id="select_artist" style="width:95%" name="artists"> 
          {% for managed_artist in my_managed_artists %}
              <option value="{{managed_artist.artistID}}">{{managed_artist.artistName}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="hidden_id_venue" id="id_venue_hidden"> 
        <input class="btn btn-primary popup_btn" style="float:right; margin-top: 10%; margin-right: 3%;" type="button" value="Shortlist" />
      </form>
    </div>
</div>

<!-- Event Modal Start -->
<div class="modal fade modelAssignArtist" id="eventModelAssignArtist" tabindex="-1" role="dialog" style="width:45%;margin-left: 29%; margin-top: 90px; padding-right:0px !important; max-height:75%;">
  <div class="well" style=" min-height: 271px;">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <button type="button" class="close" data-dismiss="modal" style="margin-top: -3%; margin-right: -2%;" >×</button>
      <center><h4><strong>Shortlist Event For Your Managed Artist</strong></h4>
      <h6>Please type the artist you wish to shortlist for this event to,</h6>
      <h6>(The event will then be listed in the artist profile page):</h6></center>
      <select multiple="multiple" class="form-control all_artists" id="select_artist_event" style="width:95%" name="artists"> 
        {% for managed_artist in my_managed_artists %}
            <option value="{{managed_artist.artistID}}">{{managed_artist.artistName}}</option>
          {% endfor %}
      </select>
      <input type="hidden" name="hidden_id_event" id="id_event_hidden"> 
      <div class="text-center">
        <input class="btn btn-primary popup_btn_event" style="" type="button" value="Shortlist" />
      </div>
    </form>
  </div>
</div>
<!-- Event Modal End -->