{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Master Search </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>

<script>
    $(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: date,
        });

        $("#whattosearch").change(function() {
            $("#whattosearch").removeClass('error');
            if($("#whattosearch").val() == "one"){
                $("#artist-name-div").show();

            }
            else {
                $("#artist-name-div").hide();
            }
        });

        $("#date").change(function() {
            $("#date").removeClass('error');
        });

        $("#artist-name").change(function() {
            $("#artist-name").removeClass('error');
        });

        $("#free-Booked").change(function() {
            $("#free-Booked").removeClass('error');
            if($("#free-Booked").val() == "free"){
                $("#country-div").hide();
                $("#region-territory-div").hide();
            }
            else {
                $("#country-div").show();
                $("#region-territory-div").show();

            }
        });

        $("#with_in_the_time_duration").change(function() {
            if($("#with_in_the_time_duration").val() == "3" || $("#with_in_the_time_duration").val() == "6"){
                $("#current_location_div").show();
            }
            else {
                $("#current_location_div").hide();
            }
        });

        // hide images by default
        $(".artists").hide();

        $.view = function() {
            $('#list').click(function(event){
                event.preventDefault();
                $(".artists").hide();
                $("#list").addClass("active");
                $("#grid").removeClass("active");
            });

            $('#grid').click(function(event){
                event.preventDefault();
                $(".artists").show();
                $("#grid").addClass("active");
                $("#list").removeClass("active");
            });
        };
        $.view();

        $("#showmore").click(function( event ) {
            event.preventDefault();
        });
        $("#email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });
        $("#email_selected").click(function( event ) {
            event.preventDefault();
        });


        $("[data-url]").each(function(){
            var source = $(this).attr("data-url"),
                current_url = window.location.href,
                current_url_list = current_url.split("?"),
                get_current_parameter = current_url_list[1],
                href = source + "?" + get_current_parameter;
            $(this).attr('href', href);
        });
    });

    function init() {
            var input = document.getElementById('locationTextField');
            var autocomplete = new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', init);

    function load_artist(action){
        start = $("#artist_start").val()
        $("#upcoming_svg").show();
        current_url = window.location.href
        data = {
            "start":start,
        }
        $.ajax({
            url: current_url,
            type: "GET",
            data: data,
            success: function(response) {
                console.log(response.status);
                if (response.status == "False"){
                    $("#showmore").hide();
                }
                $("#upcoming_svg").hide();
                $("#artistform").append(response.data);
                $("#artist_start").val(response.start);
                $("#artists").append(response.data);
                if ( $("#grid").hasClass("active")){
                       $(".artists").show();
                   }
                if($("#list").hasClass("active")){
                       $(".artists").hide();
                   }
                $("#artist_start").val(response.start);

            }
        })
    }

function formValidation(){


    var whattosearch = document.getElementById('whattosearch');
    var date = document.getElementById('date');
    var days = document.getElementById('days');
    var email = document.getElementById('email');
    var free_Booked = document.getElementById('free-Booked');
    var artist_name = document.getElementById('artist-name');
    var territory = document.getElementById('region-territory');
    var country = document.getElementById('country');
    var with_in_the_time_duration = document.getElementById('with_in_the_time_duration');
    var locationTextField = document.getElementById('locationTextField');

    var error = 0;

    if (whattosearch.value == "Select option") {
        $("#whattosearch").addClass('error');
        error++
    }

    if (!date.value) {
        $("#date").addClass('error');
        error++
    }

    if (free_Booked.value == "Select option") {
        $("#free-Booked").addClass('error');
        error++
    }

    if (whattosearch.value == "one" && !artist_name.value) {
        $("#artist-name").addClass('error');
        error++
    }

    if (with_in_the_time_duration.value && !locationTextField.value ){
        $("#locationTextField").addClass('error');
        error++
    }

    // if (country.value && territory.value) {
    //     $("#country").addClass('error');
    //     $("#region-territory").addClass('error');
    //     $("#country-terr-error").show();
    //     error++
    // }
    // else {
    //     $("#country").removeClass('error');
    //     $("#region-territory").removeClass('error');
    //     $("#country-terr-error").hide();
    // }

    if(error == 0) {
        return true;
    } else {
        return false;
    }

}

</script>

<script type="text/javascript">
    $('.typeahead').typeahead({
        source: function (query, process) {
            return $.get('/artists/filter-name/', { query: query }, function (data) {
                return process(data.artists);
            });
        }
    });
 </script>
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li class="active"><a href="{% url 'master_search'%}">Master Search</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->
    <section class="main-container padding-ver-clear">
        <div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/master_background.jpeg'%}')">
            <div class="container">
                <h1 class="page-title" style="text-align:center;">Master Search  (BETA)</h1>
                <div class="separator-2"></div>
                <div class="master-form">
                    <div class="sorting-filters text-left mb-20">
                        <form class="typeahead-dark form-inline" method="GET" action="" onsubmit="return formValidation()">
                            <div class="form-group col-md-3">
                                <label for="whattosearch" id="whattosearch_label" class="control-label">What to Search ?</label>
                                <select class="form-control" name="whattosearch" id="whattosearch">
                                    <option {% if whattosearch == "Select option"%}selected="selected"{% endif %} value="Select option">Select option</option>
                                    <option {% if whattosearch == "one" %}selected="selected"{% endif %} value="one">One Artist</option>
                                    <option {% if whattosearch == "any" %}selected="selected"{% endif %} value="any">Any Artist</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <!-- <input id="date" class="datepicker form-control" style="width:20%"> -->
                                <label for="date" id="date_label" class="control-label">Date</label>
                                <div class="input-group">
                                    <input type="text" name="date" id="date" value="{{date}}" class="form-control datepicker" style="margin-bottom: 0;" />
                                    <div class="input-group-addon">+</div>
                                    <select name="days" class="form-control" id="days"style="margin-bottom: 0;">
                                    <option {% if days == ""%}selected="selected" {% endif %} value="">Select option</option>
                                    <option {% if days == "1"%}selected="selected" {% endif %} value="1" >1 day</option>
                                    <option {% if days == "2"%}selected="selected" {% endif %} value="2" >2 days</option>
                                    <option {% if days == "3"%}selected="selected" {% endif %} value="3" >3 days</option>
                                    <option {% if days == "4"%}selected="selected" {% endif %} value="4" >4 days</option>
                                    <option {% if days == "5"%}selected="selected" {% endif %} value="5" >5 days</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="free-Booked" id="free_booked_label" class="control-label">Free/Booked</label>
                                <select name="bookingstatus" class="form-control" id="free-Booked">
                                    <option {% if bookingstatus == "Select option" %} selected="selected"{% endif %} value="Select option">Select option</option>
                                    <option {% if bookingstatus == "free" %} selected="selected"{% endif %} value="free">Free</option>
                                    <option {% if bookingstatus == "booked" %} selected="selected"{% endif %} value="booked">Booked</option>
                                </select>
                             </div>
                            <div class="form-group col-md-3">
                                <label for="genre" class="control-label">Genres</label>
                                <select name="genre" class="form-control" id="genre">
                                    <option {% if genre == "" %} selected="selected"{% endif %} value="">Select option</option>
                                    {% for genre_obj in all_genre %}
                                        <option {% if genre == genre_obj.genreName %} selected="selected"{% endif %} value="{{genre_obj.genreName}}">{{genre_obj.genreName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="artist-name-div" style="display:none;margin-top:20px;">
                                <input class="form-control typeahead" value="{{artist_name}}" name="artistname" id="artist-name" placeholder="Enter Artist Name" autocomplete="off">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="budget" class="control-label">Budget</label>
                                <select name="budget" class="form-control" id="budget">
                                            <option {% if budget == "" %} selected="selected"{% endif %} value="">Select option</option>
                                            <!-- <option {% if budget == "0" %} selected="selected"{% endif %} value="0">Any Budget</option> -->
                                            <option {% if budget == "1" %} selected="selected"{% endif %} value="1">UNDERGROUND STAR(-$-)</option>
                                            <option {% if budget == "2" %} selected="selected"{% endif %} value="2">POPULAR ACT(-$$-)</option>
                                            <option {% if budget == "3" %} selected="selected"{% endif %} value="3">GLOBAL STAR(-$$$-)</option>
                                        </select>
                            </div>
                            <div {% if bookingstatus == "free"%} style="display:None;" {% endif %} class="form-group col-md-3" id="country-div">
                                <label for="country" class="control-label">Country</label>
                                <select name="country" class="form-control" id="country">
                                    <option {% if country == "" %} selected="selected"{% endif %} value="">All countries</option>
                                    {% for country_obj in all_country %}
                                        <option {% if country == country_obj.name %} selected="selected"{% endif %} value="{{country_obj.name}}">{{country_obj.name}}</option>
                                    {% endfor %}
                                </select>
                                <p id="country-terr-error" style="display:None;color:#FF0000">Select Either Country Or Territory</p>
                            </div>
                            <div  {% if bookingstatus == "free"%} style="display:None;" {% endif %} class="form-group col-md-3" id="region-territory-div">
                                <label for="region-territory" class="control-label">Region/Territory</label>
                                <select class="form-control" name="territories" id="region-territory">
                                    <option {% if territories == "" %} selected="selected"{% endif %}  value="">Any Territories</option>
                                    {% for terr in all_territories %}
                                        <option {% if territories == terr.name %} selected="selected"{% endif %} value="{{terr.name}}">{{terr.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="prioritize_my_fav" class="control-label">Prioritize My Favourite</label>
                                <select name="prioritize_my_fav" class="form-control" id="prioritize_my_fav">
                                    <option {% if prioritize_my_fav = "" %} selected="selected" {% endif %} value="">Select option</option>
                                    <option {% if prioritize_my_fav = "Yes" %} selected="selected" {% endif %} value="Yes">Yes</option>
                                    <option {% if prioritize_my_fav = "No" %} selected="selected" {% endif %} value="No">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="with_in_the_time_duration" class="control-label">No Show With In the Location</label>
                                <select name="with_in_the_time_duration" class="form-control" id="with_in_the_time_duration">
                                    <option {% if with_in_the_time_duration == "" %} selected="selected" {% endif %}value="">Select Option</option>
                                    <option {% if with_in_the_time_duration == "3" %}selected="selected" {% endif %} value="3"  >With In 3 Months</option>
                                    <option {% if with_in_the_time_duration == "6" %}selected="selected" {% endif %} value="6" >With In 6 Months</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="current_location_div" {% if not useraddress %} style="display:None;"{% endif%}>
                                <label for="locationTextField" id="locationText" class="control-label">Current Location</label>
                                <input {% if useraddress %} value="{{useraddress}}"{% endif %} name="useraddress" id="locationTextField" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <button class="btn btn-default form-control col-sm-4" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="separator with-icon col-md-12"><i class="fa fa-diamond bordered"></i></div>
        </div>
    </section>
    <section class="main-container padding-ver-clear">
        <div class="section">
            <div class="container">
                {% if not allartists and message_string = "YOUR SEARCH RESULTS FOR" %}
                    <h1 class="page-title" style="float:left;">Master search</h1>
                    <div class="clearfix"></div>
                    <div class="separator-2"></div>
                    <div>It is recommended that you use Master Search once you have already used and are familiar with the various other search options.  <br><br>
                        Master Search provides a sophisticated method for the music industry professional to search on a whole range of parameters-
                        you can search within genre, budget, find booked and free talent, search your favourite artists and at the same time also to check whether the artist has performed recently in your area.
                        You can also use it to search for flight shares within a specified duration.    <br> <br>
                        For example:  you want to see a list of Artists in the Techno genre at a low budget who have not performed in Berlin in the last 3 months and are available?
                        The Master Search will deliver this info to you in seconds and then you can simply email yourself a list of acts or multi click them to see all their listings before attempting to book them.
                    </div><br>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="main-container padding-ver-clear">
        <div class="section">
            <div class="container">
                {% if message_string != "YOUR SEARCH RESULTS FOR" %}
                        <h2 class="page-title">{{message_string}}</h2>
                        <h2 class="title">(Total Result - {{ result_length }})</h2>
                {% endif %}
                {% if allartists %}
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <h3><span class="view" style="float:right;">View
                            <a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
                            <a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
                            </span>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="separator-2"></div>
                            <!-- page-title end -->
                            <div class="row grid-space-10">
                                <div class="row">
                                    <form id="artistform" action="{% url 'artist_search' %}" method="GET">
                                        <input type="hidden" name="message_str" input-url="" value="{{message_string}}"/>
                                        {% for artist in allartists %}
                                        <div class="col-sm-3 col-md-2">
                                            <input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
                                            <label for="artist[{{ artist.artistID }}]">
                                            <div class="team-member image-box style-2 mb-5 gray-bg text-center">
                                                <div class="overlay-container overlay-visible artists">
                                                    {% if artist.artistPhoto %}
                                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                    {% endif %}
                                                    <div class="overlay-bottom">
                                                        <ul class="social-links circle dark margin-clear">
                                                            {% for source,url in artist.pk|get_source %}
                                                                <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="body" style="height:60px;">
                                                    <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message_string}}"  onclick="location.href=this.href+'?dfgbg'">{{ artist.artistName }}</a></h5>
                                                </div>
                                            </div>
                                            </label>
                                        </div>
                                        {% endfor %}
                                </div>
                                <div class="text-center">
                                     <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
                                <div class="clearfix"></div>
                                <div style="text-align:center">
                                    <button class="btn btn-default" id="showmore" onclick="load_artist()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% if is_premium_user %}
                                    <button onsubmit="return multiartistformValidation()" class="btn btn-success" type="submit">View Tour Dates</button>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <button class="btn btn-default" id="email_listings" onclick="send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                        <button class="btn btn-default" id="email_selected" onclick="send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                    {% endif %}
                                </div>
                            </form>
                            <input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
                            <input type="hidden" value="{{ all_artists_id }}" id="all_artists_id"/>
                            </div>
                        <!-- main end -->
                    </div>
                {% elif not message %}
                    <div class="row">
                        {% if message_string != "YOUR SEARCH RESULTS FOR" %}
                                <h2 class="page-title">{{message_string}}</h2>
                                <h2 class="title">(Total Result - {{ result_length }})</h2>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
