{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Line Up Search </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
    <link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: date,
        });

		// validate filter
		// hide images by default
		$(".artists").hide();

		// list-grid view implementation
		$.view = function() {
    		$('#list').click(function(event){
    			event.preventDefault();
    			$(".artists").hide();
    	    	$("#list").addClass("active");
    	    	$("#grid").removeClass("active");
            });
    	    $('#grid').click(function(event){
    	    	event.preventDefault();
    			$(".artists").show();
    			$("#grid").addClass("active");
    			$("#list").removeClass("active");
            });
		};
		$.view();

 		// show more
       	$("#showmore").click(function( event ) {
       	event.preventDefault();
     	});

        $("#email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });

        $("#email_selected").click(function( event ) {
            event.preventDefault();
        });
    });

    function load_bookedartists(action){
        start = $("#bookedartist_start").val();
        $("#upcoming_svg1").show();
        current_url = window.location.href ;
        data = {
            "start1":start,
            "booked_artist":"true",
        }
        $.ajax({
            url: current_url,
            type: "GET",
            data: data,
            success: function(response) {
            if ( response.status === 'False'){
                   $("#showmore1").hide();
                   }
                $("#upcoming_svg1").hide();
                $("#booked").append(response.data);
                if ( $("#grid").hasClass("active")){
                       $(".artists").show();
                   }
                if($("#list").hasClass("active")){
                       $(".artists").hide();
                   }
                $("#bookedartist_start").val(response.start);
            }
        })
    }

     function load_artists(action){
         start = $("#artist_start").val();
         $("#upcoming_svg").show();
         current_url = window.location.href ;
         data = {
             "start":start,
             "all_artist":"true",
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             	 $("#upcoming_svg").hide();
                 if (response.status == "False"){
                     $("#showmore").hide();
                 }
                 $("#artists").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#artist_start").val(response.start);
             }
         })
     }

</script>
<script>
function formValidation(){

    var free_date = $("#free_date");
    var artist_name = $("#artistname");
    var error = 0;

    if (free_date.val() == '') {
        $("#free_date").addClass('error');
        error++;
    }

    if (artist_name.val() == '') {
        $("#artistname").addClass('error');
        error++;
        console.log(error);
    }

    if(error == 0) {
        // console.log(error);
        return true;
    } else {
        // console.log(error);
        return false;
    }

}

</script>

<script type="text/javascript">
    $('.typeahead').typeahead({
        source: function (query, process) {
            return $.get('/artists/filter-name/', { query: query }, function (data) {
                return process(data.artists);
            });
        }
    });
 </script>
{% endblock extra_js %}


{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li class="active"><a href="{% url 'someone_music_you_love'%}">Line Up Search</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->
    <section class="main-container padding-ver-clear">
        <div class="dark-translucent-bg section" style="background-image:url('{% static 'frontend/images/similar_background.jpeg'%}')">
            <div class="container">
                <h1 class="page-title" style="text-align:center">Line Up Search</h1>
                <div class="separator-2"></div>

                <form action="" method="GET" class="form-inline text-center typeahead-dark"  onsubmit="return formValidation()">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <label for="artist_name" id="artist_name" class="control-label">Artist Name</label>
                            <input name="artist_name" type="text" class="form-control typeahead" value="{{artist_name}}" id="artistname" placeholder="Type The Name Of The Act You Want To Check" autocomplete="off" style= "width:332px;">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <label for="free_on" id="free_on_label" class="control-label">Free on</label>
                            <div class="input-group col-md-11">
                                <input type="text" name="free_on" id="free_date" value="{{free_date}}" class="form-control datepicker" placeholder="The Date Or Period To Book Them"/>
                                <div class="input-group-addon">+</div>
                                <select name="days" class="form-control" id="days"style="margin-bottom: 0;">
                                    <option {% if days == ""%}selected="selected" {% endif %} value="">Days</option>
                                    <option {% if days == "1"%}selected="selected" {% endif %} value="1" >1 day</option>
                                    <option {% if days == "2"%}selected="selected" {% endif %} value="2" >2 days</option>
                                    <option {% if days == "3"%}selected="selected" {% endif %} value="3" >3 days</option>
                                    <option {% if days == "4"%}selected="selected" {% endif %} value="4" >4 days</option>
                                    <option {% if days == "5"%}selected="selected" {% endif %} value="5" >5 days</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear" >Find Now <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="separator with-icon col-md-12"><i class="fa fa-diamond bordered"></i></div>
        </div>
    </section>

    <section class="main-container padding-ver-clear">
        <div class="section">
            <div class="container">
                {% if not allartists %}
                    <h1 class="page-title" style="float:left;"> HOW TO USE Line Up Search </h1>
                    <div class="clearfix"></div>
                    <div class="separator-2"></div>
                    <div> This feature is especially helpful for booking label showcases or if you are seeking a specific style of artist. <br> <br>
                      Simply type in the name of the act you want book and the dates you want to search for to see thier, and other similar acts potential available.</div><br>

                        <!-- Simply enter the name of a specific dj that you want to book and the date(s) you want to book them. WDJP will then produce a list of talent - first the dj you requested, showing whether or not they are free, followed by a list of talent that is similar to them, showing artists that you can book as well or instead of your named dj.</div><br> -->
                {% endif %}
            </div>
        </div>
    </section>


    <section class="main-container padding-bottom-clear">

        <div class="container">
            {% if allartists %}
                <div class="row">
                    {% if message_string %}
                        <h2 class="page-title">{{ message_string }}</h2>
                        <br>
                    {% endif %}
                    <!-- main start -->

                    <!-- ================ -->
                    <h1 class="page-title" style="float:left;">Similar Artists</h1>
                    <h3><span class="view" style="float:right;">View
                        <a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
                        <a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
                        </span>
                    </h3>
                    <div class="clearfix"></div>
                    <div class="separator-2"></div>
                        <!-- page-title end -->
                        <div class="row grid-space-10">
                            <form id="artistform" action="/artists/search/" method="GET">
                            <div class="row" id="artists">
                                {% for artist in allartists %}
                                    <div class="col-sm-3 col-md-2">
                                        <input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
                                        <label for="artist[{{ artist.artistID }}]">
                                        <div class="team-member image-box style-2 mb-5 gray-bg text-center">
                                            <div class="overlay-container overlay-visible artists">
                                                {% if artist.artistPhoto %}
                                                    <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                {% else %}
                                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                {% endif %}
                                                <div class="overlay-bottom">
                                                    <ul class="social-links circle dark margin-clear">
                                                        {% for source,url in artist.pk|get_source %}
                                                            <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="body" style="height:60px;">
                                                <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}">{{ artist.artistName }}</a></h5>
                                            </div>
                                        </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                 <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                            </div>
                            <div class="clearfix"></div>
                            <div style="text-align:center">
                                <button class="btn btn-default" id="showmore" onclick="load_artists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                {% if request.user.is_authenticated %}
                                    <button class="btn btn-success" type="submit">View Tour Dates</button>
                                    <button class="btn btn-default" id="email_listings" onclick="send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                    <button class="btn btn-default" id="email_selected" onclick="send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                {% endif %}
                            </div>
                            </form>
                            <input type="hidden" value="{{ all_artists_id }}" id="all_artists_id"/>
                            <input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
                    <!-- main end -->
                        </div>

                        <h3><span>Booked Similar Artists</span></h3>
                        <h5 style="text-transform: none;font-weight: normal">* <em>Just select or multi select using the blue button</em></h5>
                        <div class="separator-2"></div>
                        <form id="booked_artistform" action="/artists/search/" method="GET">
                        <input type="hidden" name="message_str" input-url="" value="{{message}}"/>
                        <div class="row" id="booked">
                            {% if booked_on %}
                            {% for artist in booked_on %}
                                <div class="col-sm-3 col-md-2">
                                    <input id="artistss[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="booked_artist_input" name="artists" />
                                    <label for="artistss[{{ artist.artistID }}]">
                                    <div class="team-member image-box style-2 mb-5 gray-bg text-center">
                                        <div class="overlay-container overlay-visible artists">
                                            {% if artist.artistPhoto %}
                                                <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                            {% else %}
                                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                            {% endif %}
                                            <div class="overlay-bottom">
                                                <ul class="social-links circle dark margin-clear">
                                                    {% for source,url in artist.pk|get_source %}
                                                        <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="body" style="height:60px;">
                                            <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                                            <p style="color:red; font-size:13px">{{ artist|get_venue_city }}</p>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                            {% endfor %}
                            {% else %}

                            <h4 style="text-align:center">*Booked Artist Not Available yet</h4>

                            {% endif %}
                        </div>
                        <br>
                        <div class="text-center">
                             <img class="events_loader" id="upcoming_svg1" src="{% static 'frontend/images/ring.svg'%}">
                        </div>
                        <div class="clearfix"></div>
                        <div style="text-align:center">
                            <a class="btn btn-default showmore" id="showmore1" onclick="load_bookedartists()"> <span class="glyphicon glyphicon-plus"></span>Show More Artist</a>
                            {% if request.user.is_authenticated %}
                                <button class="btn btn-success" type="submit">View Tour Dates</button>
                                <a class="btn btn-default" id="booked_email_listings" onclick="booked_send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</a>
                                <a class="btn btn-default" id="booked_email_selected" onclick="booked_send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</a>
                            {% endif %}
                        </div>
                        <input type="hidden" id="booked_artists_ids" value = "{{ booked_artists_id }}" name="booked_artists_ids">
                        <input type="hidden" name="bookedartist_start" value="{{ bookedartist_start }}" id="bookedartist_start"/>
                        </form>


                </div>
            {% endif %}
        </div>
        <!-- section end -->
    </section>

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
