{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load event_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | New Artist to Complete </title> {% endblock title %}
{% block header %}
  {% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
  <script type="text/javascript">
    $("#remove_single_entry").click(function(){
      $.ajax({
      url: "{% url 'new_artist_to_complete' %}",
      type: "GET",
      data: {
          'artist_id': $(this).data("id"),
      },
      success: function(response){
        window.location.reload()
      }
    });
    })

    $("#remove_all_artists").click(function(e){
      e.preventDefault()
      $("#dlt-modal").modal('show')
    })

    $("#delete_task").click(function(e){
      $("#remove_all_artists_form").submit()
      
    })

  </script>
{% endblock extra_js %}
{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->
    {% if new_artists %}
    <div class="col-md-10">
        <form id="remove_all_artists_form" method="GET" style="margin:0px;" action="{% url 'new_artist_to_complete' %}">{% csrf_token %}
            <input type="hidden" name="remove_all" value="True" id="">
            <button id="remove_all_artists" class="btn btn-danger" style="float:right;">Remove All Incomplete Artists</button>
        </form>
      </div>
    {% endif %}
    <section class="main-container padding-ver-clear" id="venue_list_section">
        <div class="section">
          <div class="container">    
            <br><br>
              <table  class="table list-unstyled contacts-list contact_list_datatable table-bordered" id="venue-listing">
                <thead>
                  <tr>
                    <th class="th-bc">Artist</th>
                    <th class="th-bc">Action</th>
                  </tr>
                </thead>
                <tbody id="contract_table">
                  {% for artist in new_artists %}
                  <tr>
                    <td class="text-center pt-25" style="padding-top:25px;">
                      <span class="text-light block-element w16"> 
                        <!--  <a href="{% url 'artist_detail' artist.artistID %}"> -->
                          {{artist.artistName}}                     
                         <!--  </a> -->
                      </span>
                    </td>
                    <td>
                      <span class="text-light block-element">
                          <a href="{{artist.completed_info_url}}" class="btn btn-default">
                          Continue to step where you skipped
                        </a>
                        <!-- <button class="btn btn-danger" id="remove_single_entry" data-id="{{artist.artistID}}">Remove</button> -->
                      </span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
{% if not new_artists %}
<div class="no-contacts" id="no-contacts">No Incomplete Artist Found.</div>
{% endif %}
</div>
</div>
</section>


<div id="dlt-modal" class="modal info-modal" role="dialog">
  <div class="modal-dialog modal-align">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete All Artists?</h4>
      </div>
      <div class="modal-body" id= "delete_modal_body">
        <p class="dltmsg">Are you sure you want to delete all Incomplete artists? This cannot be undone.</p>
        <input hidden id="dlt-temp-id" type="text">
      </div>
      <div class="modal-footer dlt-modal-footer">
        <input class="btn btn-danger dltbtn" type="submit" value="DELETE" id="delete_task" style="margin:0px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include "home/_footer.html" %}
{% endblock footer %}