{% load staticfiles %}
{% load humanize %}
{% load artist_filters %}
{% for artist in all_artist %}
    <div id="myModal{{artist.artist_obj.artistID}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-map">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{artist.artist_obj.artistName|title}} Shows Map</h4>
          </div>
          <div class="modal-body">
            <iframe src="{% url 'artist_map_frame' artist.artist_obj.artistID%}" id="artistMap1132" height="400px" width="720px"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
{% endfor %}
