{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | MultiArtists </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>

<script>
    $(document).ready(function(){
        {% if all_artist_id %}
            load_search_artist();
        {% endif %}

        $("#modal_booking_submit_button").click(function( event ) {
            event.preventDefault();
            date_inserted = $("#new_event_date_id").val();
            type_of_event = $("#event_action_option").val();
            event_action = $("#select_option").val();
            new_event_action = $("#booking_action").val();

            if (type_of_event == "existing_event") {
                event_name = $("#select_event option:selected" ).text();
                if (event_action == "booking"){
                    model_heading = "Confirm Booking Request"
                    action = "booking request"
                }
                else{
                    model_heading = "Confirm Offer Sheet"
                    action = "offer sheet"
                }

            }

            else {
                console.log(event_action);
                event_name = $("#new_event_name_id").val();
                if (new_event_action == "booking"){
                    model_heading = "Confirm Booking Request"
                    action = "booking request"
                }
                else{
                    model_heading = "Confirm Offer Sheet"
                    action = "offer sheet"
                }

            }
            $("#id_booking_request_confirm_modal").find('.modal-title').append("<p>").text(model_heading)
            model_text = "You are going to email {{artist.artistName|title}} a " + action + " to your email for " + event_name + " on " + date_inserted
            $("#id_booking_request_confirm_modal").find('.modal-body').append("<p>").text(model_text)
            $("#id_booking_request_confirm_modal").modal("show");

        });


       $("#booking_request_confirm_button").click(function( event ) {
           $("#id_form").submit();
           $("#id_booking_request_confirm_modal").modal("hide");
       });


        $('#event_action_option').click(function(){
            if ( $(this).val() == "existing_event") {
                $('#select_action').attr('required', true);
                $('#select_event').attr('required', true);
                $('#new_event_date_id').attr('required', true);
                $('#new_event_name_id').attr('required', false);
                $('#existing_event_copy_id').attr('required', false);
                $('#booking_action').attr('required', false);
                $('#existing_event_options').show();
                $("#new_event_div").hide();
            }
            else if ($(this).val() == "new_event") {
                $('#select_action').attr('required', false);
                $('#select_event').attr('required', false);
                $('#new_event_date_id').attr('required', true);
                $('#new_event_name_id').attr('required', true);
                $('#existing_event_copy_id').attr('required', true);
                $('#booking_action').attr('required', true);
                $("#existing_event_options").hide();
                $("#select").hide();
                $("#new_event_div").show();
                $("#select").hide();
            }
        })

        $("#select_event").click(function(){
            if ( $(this).val() == "create event") {
                window.location.href = "{% url 'booking_request' %}"
            }
        })

    });

    {% if all_artist_id %}
        function load_search_artist(){
            console.log({{all_artist_id}})
            data = {
                "all_artist_id": "{{ all_artist_id }}",
                "message_str": "{{ message_string }}",
            }
            $.ajax({
                url: "{% url 'load_search_artist' %}",
                type: "GET",
                data: data,
                success: function(response) {
                    if( response.status == "SUCCESS"){
                        $("#upcoming_svg").hide();
                        $("#loading_page_text").hide();
                        $("#ajax_loaded_data").append(response.template);
                        $("body").append(response.map_template);
                    }
                    else{
                        $("#upcoming_svg").hide();
                        $("#loading_page_text").text = "Something Went Wrong Please Try Again";
                    }
                    console.log(response);
                }
            })
        }
    {% endif %}

    function booking_request(artist_id){
        $("#id_booking_request_modal").modal("show");
        $("#id_artist").val(artist_id)
    }

    $("#select_event").click(function(){
        if ( $(this).val() == "create event") {
            window.location.href = "{% url 'booking_request' %}"
        }
    })

    var date = new Date();
    date.setDate(date.getDate()-1);
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd",
        startDate: date,
    });

    $("#select_option").change(function(){
        $("#select").show();
        if($("#select_option").val() == ""){
            $("#select").hide();
        }
    });


</script>

<script>

$('#id_choose_event').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var obj = $(e.relatedTarget).data('id');
    var obj_array = obj.split(',');

    window.artist_id = obj_array[0];
    window.artist_name  = obj_array[1];

    $(".artist_name").html(artist_name)

    $(".artist_name_anchor").html(" Add event for " + artist_name + " ");

});


function get_artist_id(){
    shorlist_for_event(artist_id);
}

$("#select_event_to_shortlist").click(function(){
    if ( $(this).val() == "create event") {
        window.location.href = "{% url 'booking_request' %}"
    }
})

</script>


{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li class="active">{% if message_string %}{{ message_string }}{% else %}Search Result{% endif %}</li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <!-- ================ -->
    <!-- main-container end -->

    <section class="main-container padding-ver-clear bg-lightgrey">
        <div class="container pv-40" style="min-height: calc(36vh - 30px);">
            <center>
              {% if all_artist_name|length >= 1 %}
                <h3 class="page-title">{{all_artist_name}} Tour Dates</h3>
                {% else %}
                <h3 class="page-title">Tour Dates</h3><br>
                <h4>No artist selected, Please select at least artist</h4>
                {% endif %}
            </center>

            {% if all_artist_id %}
                <div class="text-center">
                    <h3 id="loading_page_text">Please Wait While Data is Loading</h3>
                    <img style="margin-left:auto;margin-right:auto;" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                </div>
                <h4>
            {% endif %}
        </div>
    </section>

    <div id="ajax_loaded_data">
        <!-- Here the artist data is loaded -->
    </div>

    <div id="id_booking_request_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="form-horizontal" id="id_form" role="form" method="post" action="{% url 'invitation' %}" data-toggle="validator">
                {% csrf_token %}
                <input type="hidden" name="artist_id" value="" id="id_artist" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> Booking Request </h4>
                    </div>

                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="form-group col-md-4">
                                    <label for="new_event_date_id" id="new_event_date_label_id">Enter/Re-Enter Proposed Event Date</label>
                                    <input type="text" class="form-control datepicker" name="new_event_date" id="new_event_date_id" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="event_action_option">Select Event Option</label>
                                    <select name="event_action" class="form-control" id="event_action_option" required="required">
                                        <option value="">Select Event</option>
                                        <option value="existing_event" value="booking request">Send Booking Request From a existing event</option>
                                        <option value="new_event" value="offer sheet">Send Booking Request From a new event</option>
                                    </select>
                                </div>
                            </div>

                            <div id="new_event_div" style="display:None;">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label for="new_event_name">New Event Name</label>
                                        <input type="text" class="form-control" name="new_event_name" id="new_event_name_id" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class=" form-group col-md-4">
                                        <label for="existing_event_copy_id">Copy From existing Event</label>
                                        <select name="existing_event_copy_id" class="form-control" id="existing_event_copy_id">
                                            {% for event in all_events %}
                                                <option value="{{ event.event_id }}">{{ event.event_name|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-1" style="margin-top:30px;"> OR </div>
                                    <div class="col-md-2">
                                        <br>
                                        <a class="btn btn-default btn-sm" target="_blank" href="{% url 'booking_request' %}">Create New Event</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label for="booking_action">Booking Action</label>
                                        <select class="form-control" name="booking_action" id="booking_action">
                                            <option value="">Select Action</option>
                                            <option value="booking" value="booking request">Booking Request</option>
                                            <option value="offer" value="offer sheet">Offer Sheet</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Existing Event Div -->
                            <div id="existing_event_options" style="text-align:center;display:none;" class="row">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="select_option">Booking Action</label>
                                    <select name="action" class="form-control" id="select_option">
                                        <option value="">Select Action</option>
                                        <option value="booking" value="booking request">Booking Request</option>
                                        <option value="offer" value="offer sheet">Offer Sheet</option>
                                    </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>

                            <div class="row" style="text-align:center;display: none;" id="select">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <label for="select_event">Select Event</label>
                                    <select name="event_id" class="form-control" id="select_event">
                                        {% for event in all_events %}
                                            <option value="{{ event.event_id }}">{{ event.event_name|title }}</option>
                                        {% endfor %}
                                        <option value="create event">Create Event</option>
                                    </select>
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {% if all_events %}
                            <button id="modal_booking_submit_button" type="submit" class="btn btn-primary">Send</button>
                        {% endif %}
                    </div>
                </div>
          <!-- /.modal-content -->
        </div>
    </div>

    <div id="id_booking_request_confirm_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- <form class="form-horizontal" id="id_form" role="form" method="post" action="{% url 'invitation'  %}" data-toggle="validator"> -->
                <!-- {% csrf_token %} -->
                <!-- <input type="hidden" name="artist_id" value="" id="id_artist" /> -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> </h4>
                    </div>

                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {% if all_events %}
                            <button type="submit" id="booking_request_confirm_button" class="btn btn-primary">Confirm</button>
                        {% endif %}
                    </div>
                </div>
            <!-- </form> -->
          <!-- /.modal-content -->
        </div>
       <!-- /.modal-dialog -->
    </div>


    <div id="id_choose_event" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 style="font-size:14px; color:white;">Cool- So You would Like To Shortlist <span class="artist_name"></span> For An Event For Further Analysis !</h6>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align:center;">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <form action="" method="post">
                                <label id="select_event_text_id" for="select_event">Which event from your Event portfolio ?</label>
                                <select name="event_id" class="form-control" id="select_event_to_shortlist" required>
                                    <option value="">Select a event</option>
                                    {% for event in all_events %}
                                        <option has-offer="{{event.have_offer_data}}" value="{{ event.event_id }}">{{ event.event_name|title }}</option>
                                    {% endfor %}
                                    <option value="create event" class="artist_name_anchor"><a href="{% url 'booking_request' %}">Add a new event for </a></option>
                                </select>
                                <small class="help-block with-errors"></small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" onclick="get_artist_id()">Submit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>



</form>


	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
