{% load staticfiles %}
{% load humanize %}
{% load artist_filters %}
    <section class="main-container padding-ver-clear bg-lightgrey">
        <div class="container">
            {% for artist in all_artist %}
                <div class="dj-card-container">
                    <div class="artist-container dj-card">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="sliderImgWrapper">
                                    {% if artist.artist_obj.artistPhoto %}
                                            <img src="{{ artist.artist_obj.artistPhoto.url }}" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-5">

                                <p class="artist-name"><a href="{% url 'artist_detail' artist.artist_obj.artistID %}">{{artist.artist_obj.artistName}}</a>
                                    {% if artist.artist_obj in  pro_obj.favorite_artist.all %}
                                        <img style="display:inline; width:20px;" class="overlayImage" id="multi_heart_filled_icon{{artist.artist_obj.artistID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                        <!-- <img style="display:none; width:20px;" class="overlayImage" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" style="display: none;" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                    {% else %}
                                        <!-- <img style="display:inline; width:20px;" class="overlayImage" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                        <img style="display:none; width:20px;" class="overlayImage" id="multi_heart_filled_icon{{artist.artist_obj.artistID}}" style="display: none;" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                    {% endif %}
                                </p>
                                <!-- <p class=""><strong>Genre:-</strong> {% for genre in artist_genres %}<span class="tag tag-default">{{genre.genreID.genreName}}{% if not forloop.last %},{% endif %}</span>{% endfor %}</p> -->
                                <p class=""><strong>Budget:-</strong> {{ artist.artist_obj.artistBudget|get_budget}}</p>
                                <ul class="social-links colored circle small">
                                    {% for source,url in artist.social_urls.items %}
                                        {% if source != "youtube_username"%}
                                            <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li><a target="_blank" href="https://www.google.com/search?q={{artist.artist_obj.artistName}}"><img src="{% static "frontend/images/btn_google.png"%}" alt="google-search" style="display:inline"></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal{{artist.artist_obj.artistID}}"><i class="fa fa-map-marker"></i></a></li>
                                </ul>

                            </div>
                            {% if artist.artist_obj.facebook_fancount or artist.artist_obj.twitter_fancount or artist.artist_obj.youtube_fancount or artist.artist_obj.spotify_fancount %}
                                <div class="col-md-3">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Social Sites</th>
                                          <th>Fans</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                            {% if artist.artist_obj.facebook_fancount %}
                                            <tr>
                                              <td>Facebook</td>
                                              <td>{{ artist.artist_obj.facebook_fancount }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if artist.artist_obj.twitter_fancount %}
                                            <tr>
                                              <td>Twitter</td>
                                              <td>{{ artist.artist_obj.twitter_fancount }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if artist.artist_obj.youtube_fancount %}
                                            <tr>
                                              <td>Youtube</td>
                                              <td>{{ artist.artist_obj.youtube_fancount }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if artist.artist_obj.spotify_fancount %}
                                            <tr>
                                              <td>Spotify</td>
                                              <td>{{ artist.artist_obj.spotify_fancount }}</td>
                                            </tr>
                                            {% endif %}
                                      </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'email_listings' artist.artist_obj.artistID %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Email Listings</a>
                                <a href="{% url 'free_dates' artist.artist_obj.artistID %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-envelope" aria-hidden="true"></i> Free Dates</a>
                                {% if is_premium_user %}
                                    <button class="btn btn-primary btn-sm" style="display:inline;background-color:#47d147;border-color:#29a329; " role="button" onclick="booking_request({{artist.artist_obj.artistID}})">Booking Request</button>
                                {% endif %}
                                <!--favorite-and remove-favorite-->
                                {% if artist.artist_obj in pro_obj.favorite_artist.all %}
                                <button class="btn btn-primary btn-sm" id="multi_del_fav{{artist.artist_obj.artistID}}"  role="button" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});">Remove Favorite</button>
                                <button class="btn btn-primary btn-sm" id="multi_add_fav{{artist.artist_obj.artistID}}" style="display: none;" role="button" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});">Add to Favorite</button>
                                {% else %}
                                <button class="btn btn-primary btn-sm" id="multi_add_fav{{artist.artist_obj.artistID}}" role="button" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});">Add to Favorite</button>
                                <button class="btn btn-primary btn-sm" id="multi_del_fav{{artist.artist_obj.artistID}}" style="display: none;" role="button" onclick="multi_remove_from_favorite({{artist.artist_obj.artistID}});">Remove Favorite</button>
                                {% endif %}
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-id="{{artist.artist_obj.artistID}},{{artist.artist_obj.artistName}}"  data-target="#id_choose_event">Shortlist For my Event</button>
                            </div>
                        </div>

                        <br>
                        {% if artist.free_dates %}
                          <div class="tab-content" style="margin-top: 15px;">
                              <div id="upcoming" class="tab-pane fade in active">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>Searched Date</th>
                                              <th>DATE STATUS</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% for event_date in artist.free_dates %}
                                          <tr>
                                              <td class="col-md-3">{{ event_date.date}}</td>
                                              {%if event_date.status == "Free Online"%}
                                                  <td class="col-md-3" style="color:green;">{{event_date.status}}</td>
                                              {%else%}
                                                  <td class="col-md-3" style="color:red;">{{event_date.status}}</td>
                                              {%endif%}
                                          </tr>
                                          {%endfor%}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        {% endif %}
                        <br>

                        {% if artist.upcoming_events %}
                            <h3 class="title">Upcoming Events</h3>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>Event Name</th>
                                  <th>Venue Name</th>
                                  <th>City</th>
                                  <th>Country</th>
                                  <th>Search On</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for event in artist.upcoming_events %}
                                     <tr>
                                         <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
                                         <td class="col-md-2">{{ event.eventName|title }}</td>
                                         <td class="col-md-2">{{ event.evenueName}}</td>
                                         <td class="col-md-1">{{ event.city }}</td>
                                         <td class="col-md-1">{{ event.country}}</td>
                                         <td class="col-md-3">
                                             <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{artist.artistName}} {{event.eventName}}">
                                             <span class="fa-stack fa-1x">
                                                 <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                 <i class="fa fa-facebook fa-stack-1x"></i>
                                             <span>
                                             </a>
                                             <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{artist.artistName}} {{ event.eventName}}">
                                             <span class="fa-stack fa-1x">
                                                 <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                 <i class="fa fa-google fa-stack-1x"></i>
                                             <span>
                                             </a>
                                             <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{artist.artistName}} {{event.eventName}}">
                                             <span class="fa-stack fa-1x">
                                                 <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                 <i class="fa fa-twitter fa-stack-1x"></i>
                                             <span>
                                             </a>
                                         </td>
                                     </tr>
                                 {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                            <h3 class="title">No Upcoming Events</h3>
                        {% endif %}
                        {% if artist.similar_artists %}
                            <div class="separator-2"></div>
                            <h3 class="title">Similar Artists</h3>
                            <div class="row">
                                {% for sm_artist in artist.similar_artists %}
                                <div class="col-md-2">
                                    <a href="{% url 'artist_detail' sm_artist.artistID %}"><p>{{sm_artist.artistName}}</p></a>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="row">
                            {% if is_premium_user %}
                            {% for event in artist.artist_requested_event_list %}
                                <div class="col-md-8">
                                    <div class="alert  alert-icon alert-info" role="alert">
                                        <i class="fa fa-info-circle"></i>
                                        You sent
                                             {{ event.event_name|title }} booking request for {{ event.event_date }} to {{ artist.artist_obj.artistName }} on {{ event.created_on|date:"M d, Y" }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>

                </div>
            {% endfor %}

        </div>

    </section>
