{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Artist Aggregated </h4>
{% endblock title %}
{% block email_body %}

{% if artists %}

<p>*click Artist Profile to view Artist Profile or for changes click on Admin Panel </p>

<p>
    {% for artist in artists %}
    <!-- <a href="{% url 'artist_detail' artist.artistID%}"> {{ artist.artistName }} </a> <br><br> -->
    {{ artist.artistName }} &nbsp; &nbsp;

    <a href="{{site_url}}/admin/artist/artist/{{artist.artistID}}"> Artist Admin Panel </a> &nbsp; &nbsp;
    <a href="{{site_url}}/artists/artist/{{artist.artistID}}"> Artist Profile </a> &nbsp; &nbsp;

    <!-- <a href="http://staging.wheredjsplay.com/admin/artist/artist/{{artist.artistID}}"> Artist Admin Panel </a> &nbsp; &nbsp;
    <a href="http://staging.wheredjsplay.com/artists/artist/{{artist.artistID}}"> Artist Profile </a> -->
    <br><br>

    {% endfor %}
</p>

{% else %}
    <p>No artist Added</p>
{% endif %}


{% endblock %}
