{% extends "home/__base.html" %}
{% load staticfiles %}
{% load tz %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Top 50 Trending Artists </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
		// validate filter
		$('#apply_filters').submit(function() {
			 $('select,input').each(function(){
				if($(this).val() == ''){
				$(this).removeAttr("name");
				 // $(this).attr("disabled", "disabled");
				}
			 });

		});
		var cw = $('.top img').width();
        $('.top img').css({
            'height': cw + 'px'
        });

    
         $("select[name='type']").change(function(){
            if($(this).val() == '2'){
                $('#timeframe-select').val("4");
                $('#timeframe-select').attr("disabled", "disabled");
            }
            else{
                $('#timeframe-select').removeAttr("disabled");
            }
         });
    });
</script>
 <script type="text/javascript">
    $(".compare_dj").click(function() {
        $(this).closest("form").attr("action", "/artists/compare_dj/");
    });
 </script>
{% endblock extra_js %}
{% block slider %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><i class="fa fa "></i><a href="{% url 'trends' %}">Top 50 Trending Artists</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- Title bar start -->
    <div class="dark-translucent-bg section" style="background-image:url('/static/frontend/images/cds_background.jpg')">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="text-center col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 pv-20">
                    <h1 class="title-page hc-element-invisible animated hc-element-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                      <span>FIND THE WORLDS TOP DJS in ELECTRONIC MUSIC INSTANTLY</span>
                    </h1>
                    <div class="separator hc-element-invisible mt-10 animated hc-element-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                    <div class="hc-element-invisible animated hc-element-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                        <p>
                            Find the Top 50 Trending Artists in Electronic Music - Instantly
                         <!--Most trending artists worldwide. Find all the music top 50 trending artists for {% now "Y" %} year.-->
                          <!--Redefine your search by social media source, genre and timeframe.-->
                        </p>
                        <form action="" id="apply_filters" method="GET" class="form-inline">
                            <div class="pull-left">
                                <div class="form-group">
                                    <label><strong>*Trend Type</strong></label>
                                    <select name="type" class="form-control">
                                        <option {% if type_filter == 0 %} selected="selected" {% endif %} value="0">Trends</option>
                                        <option {% if type_filter == 1 %} selected="selected" {% endif %} value="1">Growth</option>
                                        <option {% if type_filter == 2 %} selected="selected" {% endif %} value="2">Overall</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><strong>Genre</strong></label>
                                    <select name="genre" class="form-control" id="genre">
                                        <option value="">All</option>
                                        {% for gen in genres %}
                                            <option {% if genre_filter == gen.pk %} selected="selected" {% endif %} value="{{ gen.pk }}">{{gen.genreName}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><strong>Social Media</strong></label>
                                    <select name="channel" class="form-control">
                                        <!-- <option value="" >** WDJP Trending</option> -->
                                        {% for source in sources %}
                                            <option {% if source_filter == source.pk %} selected="selected" {% endif %} value="{{ source.pk }}">{{ source.top_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><strong>Fame Level</strong></label>
                                    <select name="fame" class="form-control">
                                        <option value="" >All</option>
                                        {% for key,value in fame %}
                                            {% if key != 0 %}
                                                <option {% if key == fame_filter %} selected="selected" {% endif %} value="{{ key }}">{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group" id="timeframe">
                                    <label><strong>Timeframe</strong></label>
                                    <select name="timeframe" id="timeframe-select" class="form-control" {% if type_filter == 2 %}disabled{% endif %}>
                                        <option value="4" selected>Now</option>
                                        <!--<option value="">1 Year</option>-->
                                        {% for key, value in time_frame %}
                                            <option {% if time_filter == key %} selected="selected" {% endif %} value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="">
                                    <button type="submit" class="btn btn-lg btn-dark" style="vertical-align:bottom;margin-top:20px;border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title bar end -->

{% endblock slider %}

{% block content %}
<!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-bottom-clear">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="clearfix"></div>
                <div class="row">
                    <h4>
                        {% if source_filter %}
                            Source:
                                <span class="btn btn-sm {{ source_name|lower }}">{{ source_name }}<i class="pl-10 fa fa-{{ source_name|lower }}"></i></span>
                        {% endif %}
                        {% for gen in genres %}
                            {% if genre_filter == gen.pk %}
                            Genre:
                            <span class="label label-primary">{{gen.genreName}}</span>
                            {% endif %}
                        {% endfor %}
                        {% for key,value in fame %}
                            {% if fame_filter == key %}
                                Fame Level:
                                <span class="label label-warning">{{ value }}</span>
                            {% endif %}
                        {% endfor %}
                        {% if type_filter != 2 %}
                            {% for key, value in time_frame %}
                                {% if time_filter == key %}
                                Timeframe:<span class="label label-info"> {% now 'jS N Y' %} - {{ end_date|date:'jS N Y' }} ({{ value }}) </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </h4>
                    <h5 style="text-transform: none;font-weight: normal">* <em>Multi select the artists if you wish</em></h5>
                </div>
                <div class="separator-2"></div>
                    <!-- page-title end -->
                    <div class="grid-space-10">
                        <form id="artistform" action="/artists/search/" method="GET">
                        <div class="row" id="artists">
                            {% for artist in allartists %}
                                <div class="col-sm-3 col-md-2">
                                    <div class="overlay-container overlay-visible top">
                                        {% if artist.artist.artistPhoto %}
                                            <img src="{{ artist.artist.artistPhoto.url }}" alt="" style="width:100%;">
                                        {% else %}
                                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" style="width:100%;" alt="{{artist.artistName}}">
                                        {% endif %}
                                        <input id="artist[{{ artist.artist.artistID }}]" type="checkbox" value="{{artist.artist.artistID}}" name="artists" />
                                        <label for="artist[{{ artist.artist.artistID }}]" class="overlay-link"><i  class="fa fa-check checked"></i></label>
                                        <div class="overlay-bottom hidden-sm-down col-md-12">
                                            {% if source_name %}
                                                <div class="col-md-4"><button class="btn {{ source_name|lower }}">{{ forloop.counter }}</button></div>
                                            {% endif %}
                                            {% ifequal source_filter None %}
                                                <div class="col-md-4" id="numberCircle">{{ forloop.counter }}</div>
                                            {% endifequal %}
                                            <div class="text col-md-8">
                                                <p class="small margin-clear color-white">
                                                    {% ifequal type_filter 2 %}
                                                        <strong>{{ artist.current_count}} Fans </strong>
                                                    {% else %}
                                                        {% ifequal type_filter 0 %}
                                                            {% ifequal time_filter 1 %}
                                                                <strong>{{ artist.growth_1mth|floatformat:4}}% </strong>
                                                            {% else %}
                                                                {% ifequal time_filter 2  %}
                                                                    <strong>{{ artist.growth_3mth|floatformat:4}}% </strong>
                                                                {% else %}
                                                                    {% ifequal time_filter 3  %}
                                                                        <strong>{{ artist.growth_6mth|floatformat:4}}% </strong>
                                                                    {% else %}
                                                                        <strong>{{ artist.growth_1yr|floatformat:4}}% </strong>
                                                                    {% endifequal %}
                                                                {% endifequal %}
                                                            {% endifequal %}
                                                            <i style="color:#00ff00;" class="fa fa-arrow-up"></i><br>
                                                            {% ifequal time_filter 1 %}
                                                                <small>{{ artist.number_1mth }} new fans </small>
                                                            {% else %}
                                                                {% ifequal time_filter 2  %}
                                                                    <small>{{ artist.number_3mth }} new fans</small>
                                                                {% else %}
                                                                    {% ifequal time_filter 3  %}
                                                                        <small>{{ artist.number_6mth }} new fans</small>
                                                                    {% else %}
                                                                        <small>{{ artist.number_1yr }} new fans</small>
                                                                    {% endifequal %}
                                                                {% endifequal %}
                                                            {% endifequal %}
                                                        {% else %}
                                                            {% ifequal time_filter 1 %}
                                                                <strong>{{ artist.number_1mth }} new fans </strong>
                                                            {% else %}
                                                                {% ifequal time_filter 2  %}
                                                                    <strong>{{ artist.number_3mth }} new fans</strong>
                                                                {% else %}
                                                                    {% ifequal time_filter 3  %}
                                                                        <strong>{{ artist.number_6mth }} new fans</strong>
                                                                    {% else %}
                                                                        <strong>{{ artist.number_1yr }} new fans</strong>
                                                                    {% endifequal %}
                                                                {% endifequal %}
                                                            {% endifequal %}
                                                            <br>
                                                            {% ifequal time_filter 1 %}
                                                                <small>{{ artist.growth_1mth|floatformat:4}}% </small>
                                                            {% else %}
                                                                {% ifequal time_filter 2  %}
                                                                    <small>{{ artist.growth_3mth|floatformat:4}}% </small>
                                                                {% else %}
                                                                    {% ifequal time_filter 3  %}
                                                                        <small>{{ artist.growth_6mth|floatformat:4}}% </small>
                                                                    {% else %}
                                                                        <small>{{ artist.growth_1yr|floatformat:4}}% </small>
                                                                    {% endifequal %}
                                                                {% endifequal %}
                                                            {% endifequal %}
                                                            <i style="color:#00ff00;" class="fa fa-arrow-up"></i>
                                                        {% endifequal %}
                                                    {% endifequal %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body mb-20 pv-20">
                                        {% for source in sources %}
                                            {% if source_filter == source.pk %}
                                                <div class="pull-left">
                                                    <ul class="social-links colored circle"  style="margin-top:0px;margin-bottom:0px;">
                                                        <li class="{{ source.top_name|lower }}">
                                                            <a><i class="fa fa-{{ source.top_name|lower }}"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;">
                                            <h6 class="text-center">
                                                <a href="{% url 'artist_detail' artist.artist.artistID %}">
                                                    {{ artist.artist.artistName }}
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        <div style="text-align:center">
                            <button class="btn btn-success view_tour_dates" type="submit">View Tour Dates</button>
                            <button class="btn btn-default compare_dj" type="submit">Compare DJ's</button>
                        </div>
                        </form>
                <!-- main end -->
                    </div>
            </div>
            <div class="row">
                <h4>Note</h4>
                <h5 style="text-transform: none;font-weight: normal">* <em>Trend Type:<br>
                    &emsp;<strong>Growth</strong> - orders the artists in the selected group based on the total number of online fans<br>
                    &emsp;<strong>Trends</strong> - orders the artists based on how much their fan base has grown as a percentage of their existing fanbase online</em></h5>
                <h5 style="text-transform: none;font-weight: normal">** <em>WDJP Trending is the total amount of fans of all online sources combined in the time frame with no weighting</em></h5>
            </div>
        </div>
        <!-- section end -->

    </section>
    <!-- main-container end -->

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
