{% load staticfiles %}
<div class="row">
    <div class="container">
        <div class="owl-carousel owl-theme">
            {% for sm_artist in fav_artists %}
                <div class="item">
                    <div class="wrapper">
                        {% if sm_artist.artistPhoto %}
                            <img src="{{ sm_artist.artistPhoto.url }}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                        {% else %}
                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" style="max-width:100px;width:100px;max-height:100px;height:100px">
                        {% endif %}
                        <div style="margin-bottom:27px;">
                            <div class='description'>
                                <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' sm_artist.artistID %}"><strong>{{sm_artist.artistName}}</strong></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>