{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}

{% block title %} {{ block.super }} | Global News </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>

<style type="text/css">
     .page-wrapper{
        background: #eee;
    }
</style>

<script>
    var START = {{ start }};
    function load_more_news(start, event, cb) {
        $("#upcoming_svg").show();
        cb(event);
        $(window).off('scroll', scrollIt);
        $.ajax({
            url: window.location.href,
            data: {
                'start': start,
            },
            type: 'GET',
                success: function(response) {
                $("#upcoming_svg").hide();
                console.log(response.start)
                $('#newsDiv').append(response.data);
                    if(response.more){
                        START = response.start;
                        $(window).on('scroll', scrollIt);
                    }
                }
        });
    }
    $(window).on('scroll', scrollIt);

    function scrollIt(e) {
        var currentHeight = this.scrollY + $(this).height()
        if( currentHeight > ( $(document).height() - 150 ) ) {
            load_more_news(START, e, function(e) {
                e.preventDefault();
            });
        }
    }

</script>


{% endblock extra_js %}


{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'news' %}">Global News</a></li>
                    <!-- <li class="active">Total Results : {{total_result}}</li> -->
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row mt-20">
        <h2 class="page-title text-center"><strong>Global News</strong></h2>
    </div>
        {% for news in all_news %}
        <div class="row">
            <div id="newsDiv" class="col-sm-12 col-md-12">
                <div class="wd-stream">
                    <div class="wd-stream--article">
                        <div class="row">
                            <div class="col-sm-9">
                                <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                                <p class="wd-posted-on">
                                    {{ news.publish_date|date:"d M Y"}}
                                </p>
                                <div class="wd-article--text">
                                    <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                                    <small style="font-weight:normal;">{% if news.modified_text %}{{news.modified_text|truncatechars:500|safe }} {% else %} {{news.text|truncatechars:400|safe }} {% endif %}</small>
                                    <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                </div>
                                <div class="wd-article--tags">
                                    {% if news.artists.all %}
                                    <b>Artist :</b>
                                    {% endif %}
                                    {% for artist in news.artists.all %}
                                        <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                            <span class="label wd-label-article">{{ artist.artistName }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                                {% if news.artists.all|get_genre %}
                                <div class="wd-article--tags">
                                    <b>Genre:</b>
                                        {% for genre in news.artists.all|get_genre %}
                                            <span class="label wd-label-article">{{ genre }}</span>
                                        {% endfor %}
                                </div>
                                {% endif %}

                                <div class="wd-article--tags">
                                    {% if news.country.all %}
                                    <b>Country :</b>
                                    {% endif %}
                                    {% for country in news.country.all %}
                                        <a href="#" target="_blank">
                                            <span class="label wd-label-article">{{ country.name }}</span>
                                        </a>
                                    {% endfor %}
                                </div><br>
                            </div>
                            {% if news.imageurl %}
                            <div class="col-sm-3">
                                <div class="wd-article--thumbnail">
                                    <img src="{{news.imageurl}}" alt="{{news.title}}">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
            </div>
        </div>
    </div>

{% if  all_news|length == 0 %}
<div style="min-height:180px">
    <h1 style="text-align:center; margin-top:100px;"> No results Found </h1>
</div>
{% endif %}

</div>

{% endblock content %}

{% block footer %}
	{% include "home/_news_footer.html" %}
{% endblock footer %}
