{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Create News </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}

	<style>
	#id_is_visible{
	display:block;
	}
	</style>

{% endblock header %}

{% block extra_js %}

<script>
window.CKEDITOR_BASEPATH = '/static/ckeditor/'
</script>

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $(".all_artists").select2();
    });
</script>


<script>
    $( "#id_image" ).keyup(function() {
        $("#image_error").text("");
    });
    // $( "#div_id_text" ).keyup(function() {
    //     $("#text_error").text("");
    // });
    $( "#id_title" ).keyup(function() {
        $("#title_error").text("");
    });
    $( "#id_highlighted_text" ).keyup(function() {
        $("#short_description_error").text("");
    });
    $( "#id_tag_artists" ).change(function() {
        $("#artist_error").text("");
    });
    $( "#id_type" ).change(function() {
        var type= $("id_type").val()
        if(type!=""){
            $("#type_error").text("");
        }
    });
    $("#id_tag_apps").change(function() {
        $("#app_error").text("");
    });

</script>


</script>
<script>

function form_validation(){
    var count = 0
    var image = $("#id_image").val()
    // var text = CKEDITOR.instances['id_text'].getData();
    var title = $("#id_title").val();
    var short_description = $("#id_highlighted_text").val()
    var type = $("#id_type").val()
    var tag_artists = $("#id_tag_artists").val()
    var tag_apps = $("#id_tag_apps").val()



    if(image==""){
        $("#image_error").text("*This Field is required");
        count += 1
    }
    // if(text==""){
    //     $("#text_error").text("*This Field is required");
    //     count += 1
    // }
    if(title==""){
        $("#title_error").text("*This Field is required");
        count += 1
    }
    if(short_description==""){
        $("#short_description_error").text("*This Field is required");
        count += 1
    }
    if(type==""){
        $("#type_error").text("*This Field is required");
        count += 1
    }
    if(tag_artists==null){
        $("#artist_error").text("*This Field is required");
        count += 1
    }
    if(tag_apps == null){
        $("#app_error").text("*This Field is required");
        count += 1
    }
    else{
        if(count == 0){
            $("#news_form").submit()
        }
    }
}

$("#id_image").on('change', function () {
    var image_holder = $("#id_avatar_img");
    image_holder.empty();
    var reader = new FileReader();

    reader.onload = function (e) {
        $("<img/>", {
            "src": e.target.result,
            "style": 'height: 380px; width: 800px; cursor: pointer;'
        }).appendTo(image_holder);
    }

    $("#id_default_avatar").val("");
    image_holder.show();
    $("#image_error").hide();
    reader.readAsDataURL($(this)[0].files[0]);
});

$("#id_image").css("display", "none");

$("#id_avatar_img").on("click", function(){
    $("#id_image").click();
})

</script>

{% endblock %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Post News</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">
				<div class="container">
                    <h2 style="text-align:center;"><strong>Post News Items</strong></h2>
                    <h1 id="image_preview"></h1>

					<div class="row">
                        <div class="col-md-8 col-md-offset-2">
                        <form action="" method="POST" id="news_form" enctype="multipart/form-data" role="form" >
                            {% csrf_token %}

                            <label for="id_avatar_img"><strong class="pull-left">*Add Image for News :</strong><br/>
                            <small class="pull-left">We recommend keeping aspect ratio 2:1 (1024x512) and file size to less than 1MB</small>
                            </label>
                            <div id="id_avatar_img">
                                <img src="{% static 'frontend/images/news_thumbnail.jpg' %}"
                                    class="" class="img-circle" style="height: 380px; width: 800px; cursor: pointer;">
                            </div>
                                {{ form.image }}
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="image_error" style="color:red;"></small>
                                </div>

                            <br><br>

                            <div class="form-group">
                                <label for="id_title" class="pull-left"><strong>*What is the News Title :</strong></label>
                                {{ form.title }}
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="title_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                <label for="id_text"class="pull-left"><strong>*What is the Text Body :</strong></label><br><br>
                                <div id="div_id_text">
                                    {{ form.text }}
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="text_error" style="color:red;"></small>
                                </div>
                            </div>

                                {{ form.media }}
                            <br>
                            <div class="form-group">
                                <label for="id_highlighted_text" class="pull-left"><strong>*What is the Short Description of News :</strong></label>
                                {{ form.highlighted_text }}
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="short_description_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                <label for="id_type" class="pull-left"><strong>*What Type of News it is :</strong></label>
                                <div>
                                    {{ form.type }}
                                    <!-- <select class="form-control" id="id_type">
                                      <option value="">Select Type</option>
                                      <option value="Artist News">Artist News</option>
                                      <option value="Event News">Event News</option>
                                      <option value="Festival News">Festival News</option>
                                      <option value="Club News">Club News</option>
                                    </select> -->
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="type_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                <label for="id_tag_artists" class="pull-left"><strong>*Tag the Artists For News :</strong></label>
                                <div>
                                    <select name="tag_artists" class="form-control all_artists" multiple="multiple" id="id_tag_artists">
                                        {% for artist in artists%}
                                            <option value="{{artist.0}}">{{artist.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="artist_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                <label for="id_tag_apps" class="pull-left"><strong>*Applications For News :</strong></label>
                                <div>
                                    <!-- {{ form.artists }} -->
                                    <select name="tag_apps" class="form-control all_artists" multiple="multiple" id="id_tag_apps">
                                        {% for app in applications %}
                                            <option value="{{app.0}}">{{app.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="app_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                <label for="id_url" class="pull-left"><strong>Url:</strong></label>
                                {{ form.url }}
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="url_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

							<div class="form-group">
								<label for="id_visible" class="pull-left" style="margin-right: 10px;margin-top: -5px;">
                                <strong>*is_visible :</strong></label>
							    <div>
								    <input checked="checked" id="id_is_visible" name="is_visible" type="checkbox">
			                    </div>
							</div>


                            <a value="Create News" onclick="form_validation()" class="btn btn-default">Post News</a>
                            <!-- <input type="submit" value="Create News" class="btn btn-default"></input> -->
                        </form>
                        </div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
