{% load artist_filters %}
{% load staticfiles %}

{% if not all_news %}
    <div class="near-event-card">
        <div class="event-header">
            No News to show.    
        </div>
    </div>
{% endif %}

{% for news in all_news %}
<div class="wd-stream">
    <div class="wd-stream--article">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h2>
                <p class="wd-posted-on">
                    {{ news.publish_date}}
                </p>
                <div class="wd-article--text">
                    <small class="wd-article--source" >{{ news.source }}</small> &#8226;
                    {% if news.modified_text %}{{news.modified_text|truncatechars:500|safe }} {% else %} {{news.text|truncatechars:400|safe }} {% endif %}
                    <a href="{{news.url}}" target="_blank"> Read the Article</a>
                </div>
                <div class="wd-article--tags">
                    {% if news.artists.all %}
                    <b>Artist :</b>
                    {% endif %}
                    {% for artist in news.artists.all %}
                        <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                            <span class="label wd-label-article">{{ artist.artistName }}</span>
                        </a>
                    {% endfor %}
                </div>
                {% if news.artists.all|get_genre %}
                <div class="wd-article--tags">
                    <b>Genre:</b>
                        {% for genre in news.artists.all|get_genre %}
                            <span class="label wd-label-article">{{ genre }}</span>
                        {% endfor %}
                </div>
                {% endif %}
                <div class="wd-article--tags">
                    {% if news.country.all %}
                    <b>Country :</b>
                    {% endif %}
                    {% for country in news.country.all %}
                        <a href="#" target="_blank">
                            <span class="label wd-label-article">{{ country.name }}</span>
                        </a>
                    {% endfor %}
                </div><br>
            </div>
            {% if news.imageurl %}
            <div class="col-sm-3">
                <div class="wd-article--thumbnail">
                    <img src="{{news.imageurl}}" alt="{{news.title}}">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<div class="row text-center">
    {% if all_news.has_other_pages %}
      <ul class="pagination custom_pagination">
        {% if all_news.has_previous %}
          <li><a href="?query={{query}}&news_type={{news_type}}&page={{ all_news.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in all_news.paginator.page_range %}
            {% if forloop.counter < 10 %}
                {% if all_news.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?query={{query}}&news_type={{news_type}}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif%}
        {% endfor %}
        {% if all_news.has_next %}
          <li><a href="?query={{query}}&news_type={{news_type}}&page={{ all_news.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
