{% extends "home/__base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load artist_filters %}

{% block title %} {{ block.super }} | News Search </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<style type="text/css">
     .page-wrapper{
        background: #eee;
    }
</style>

<style>
    .carousel-wrap {
        width: 1000px;
        margin: auto;
        position: relative;
        }
        .owl-carousel .owl-nav{
        overflow: hidden;
        height: 0px;
        }
    
        .owl-theme .owl-dots .owl-dot.active span, 
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #2caae1;
        }
    
    
        .owl-carousel .item {
            text-align: center;
        }
        .owl-carousel .nav-btn{
            height: 47px;
            position: absolute;
            width: 26px;
            cursor: pointer;
            top: 100px !important;
        }
    
        .owl-carousel .owl-prev.disabled,
        .owl-carousel .owl-next.disabled{
        pointer-events: none;
        opacity: 0.2;
        }
    
        .owl-carousel .prev-slide{
            background: url(nav-icon.png) no-repeat scroll 0 0;
            left: -33px;
        }
        .owl-carousel .next-slide{
            background: url(nav-icon.png) no-repeat scroll -24px 0px;
            right: -33px;
        }
        .owl-carousel .prev-slide:hover{
            background-position: 0px -53px;
        }
        .owl-carousel .next-slide:hover{
        background-position: -24px -53px;
        }
    
        span.img-text {
        text-decoration: none;
        outline: none;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        cursor: pointer;
        width: 100%;
        font-size: 23px;
        display: block;
        text-transform: capitalize;
        }
        span.img-text:hover {
        color: #2caae1;
        }
    
</style>


<script>
    

    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:false,
            margin: 10,
            nav:true,
            navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
            items:20,
            responsive:{
                0:{
                    items:1
                },
                400:{
                    items:2
                },
                800:{
                    items:3
                },
                1200:{
                    items:4
                },
                1600:{
                    items:5
                }
            }
        });
    });

 
</script>

<script>
    $(document).on("click", '.custom_pagination li a', function(event){
        event.preventDefault();
        $.ajax({
            url: window.location.origin + window.location.pathname + $(this).attr('href'),
            type: 'GET',
                success: function(response) {
                    if(response.news_type === 'upcoming'){
                        $('#tab_future').html(response.data);
                    }

                    else{
                        $('#tab_past').html(response.data);
                    }
                    $('html, body').animate({
                        scrollTop: $("#search").offset().top
                    }, 1500);
                }
        });

    });
</script>


{% endblock extra_js %}


{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'search_news' %}">News Search</a></li>
                    <!-- <li class="active">Total Results : {{total_result}}</li> -->
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row">
        <p>
            <h2 class="page-title text-center"><strong>News Search</strong></h2>
        </p>
        <p class="text-center">
            Search the worlds dj news for {{artists_count}} artists from {{news_count}} News articles from {{source_count}} sources.
        </p>
    </div>
    <form role="search" class="form-inline" action="" method="GET" id="search">
        <div class="row" >
            <div class="col-md-10 col-md-offset-1">
                <label style="display:inline;"><strong>Search using Keywords:</strong></label>
                <div class="input-group" style="width:80%;">
                    <input value="{{query}}" name="query" type="text" class="form-control" placeholder="Type to search..." id="artist-name" autocomplete="off">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default margin-clear form-control"><i class="icon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    {% if total > 0 %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Your search for <strong>{{ query }}</strong> delivered the following <strong>{{ total }}</strong> results displayed in date order.
                </p>
            </div>
        </div>
        <div class="row">
            <section class="main-container" style="background-color:#f1f1f1;">
                <div class="container">
                    <div class="row" id="tab_past">
                        {{news_past.data}}
                        <!-- <ul class="nav nav-pills center-pills nav-justified" role="tablist">
                        <li id="t1" class="active" ><a href="#tab_future" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Future News <span class="badge">{{news_future_count}}</span> </a></li>
                        <li id="t2" class="active"><a href="#tab_past" role="tab" data-toggle="tab" style="color:#428bca; font-size:16px;"> Past News <span class="badge">{{news_past_count}}</span></a></li>
                        </ul> -->
                    </div>
                    <!-- <br> -->
                    <!-- <div class ="tab-content" id="events_future_past">
                        <div role="tabpanel" class="tab-pane active" id="tab_future">
                            {{news_future.data}}
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tab_past">
                            {{news_past.data}}
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
    {% elif query and total == 0  %}
        <div style="min-height:180px">
            <h1 style="text-align:center;"> No results Found </h1>
        </div>
    {% else %}
        <div class="row">
            <section class="main-container" style="background-color:#f1f1f1;">
                <div class="container">
                    <div class="row" id="tab_past">
                        {{all_news}}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}    

</div>

   

    

{% endblock content %}

{% block footer %}
	{% include "home/_news_footer.html" %}
{% endblock footer %}

