{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{wdjp_news.title}} </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                              <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                                <li><a href="{% url 'wdjp_news' %}">Worldwide DJ News</a></li>
        						            <li class="active">{{wdjp_news.title}}</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block meta_tags %}
<meta charset="utf-8">

<meta name="title" content="{{ wdjp_news.title }}">
<meta name="description" content="{{wdjp_news.title }}">
<meta name="image" content="{{ wdjp_news.image }}">

<!-- Meta tags for facebook sharing -->

<meta property="og:title" content="{{ wdjp_news.title }}">
<meta property="og:description" content="{{wdjp_news.highlighted_text}}">
{% if wdjp_news.image %}
    <meta property="og:image" content="{{ wdjp_news.image.url }}">
{% endif %}
<meta property="og:url" content="{{ request.path }}">

<!-- Meta tags for twitter sharing -->

<meta name="twitter:title" content="{{ wdjp_news.title }}">
<meta name="twitter:description" content="{{wdjp_news.highlighted_text}}">
{% if wdjp_news.image %}
    <meta name="twitter:image" content="{{ wdjp_news.image.url }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

{% block extra_js %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'dist/jssocials-theme-flat.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dist/jssocials.css' %}" />

<script type="text/javascript"  src="{% static 'dist/jssocials.min.js' %}"></script>

<script>
    $("#shareButtonLabelCount").jsSocials({
        showCount: false,
        showLabel: false,
        shares: ["facebook", "twitter", "googleplus", "email", "linkedin", "pinterest", "stumbleupon", "pocket", "whatsapp" ]
    });
</script>

<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:false,
            margin: 0,
            nav:true,
            dots: false,
            items:20,
            responsive:{
              0:{
                    items:1
                },
                450:{
                    items:2
                },
                700:{
                    items:3
                },
                1000:{
                    items:4
                },
                1300:{
                  items:5
                }
            }
        });
        $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
    });

    function delete_news(news_id, title){
        window.news_id = news_id
        window.news_title = title
        $('#delete_news').modal('show');
        $('#sure').html('Are you Sure you want to Delete <strong>' + title + '</strong>');


    }

    function confirm_delete_news(){
        var url = '{% url 'delete_news' 999 %}'.replace(999, news_id)
        document.location.href = url
    }

</script>
<!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5afaab558ee14d0011069ac3&product=sticky-share-buttons' async='async'></script> -->

{% endblock %}

{% block content %}
<div class="container" style="min-height: calc(100vh - 90px);">
    <h1 style="text-align:center;">{{ wdjp_news.title }}
      {% if request.user.is_superuser %}
      <a style="display:inline;" href="{% url 'news_edit' wdjp_news.id %}"<span class="glyphicon glyphicon-pencil" title="Edit" style="cursor:pointer; font-size: 30px;"></span>
      {% endif %}
    </a>
    {% if request.user.is_superuser %}
      <a style="display:inline";>
        <button type="button" class="btn btn-danger" style="float: right;"  onClick="delete_news('{{wdjp_news.id}}', '{{ wdjp_news.title }}' )" title="Delete">Delete</button>
      </a></h1>

      <div id="delete_news" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="title">Delete News</h4>
            </div>
            <div class="modal-body">
              <p id="sure">Are You sure You want to delete </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" onClick="confirm_delete_news()">Delete</button>
            </div>
          </div>

        </div>
      </div>
      {% endif %}
    <!-- <span class="glyphicon glyphicon-trash pull-right"></span> -->


    <h4 style="text-align:center;">{{wdjp_news.highlighted_text}}</h4>
    <div class="row">
        <div class="col-md-12">
          <div id="shareButtonLabelCount" align="center" style="margin-top:10px"></div>
            <div class="col-md-4">
                <div class="wd-article--tags">
                    {% if tag_artists|length > 0 %}
                        <b>Artist :</b>
                        {% for artist in tag_artists %}
                            <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                <span class="label wd-label-article">{{artist.artistName}}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <img src="{{ site_url }}/media/{{wdjp_news.image}}" alt=" SORRY WE CANT FIND THE IMAGE ">
                <p style="background-color:black; color:white; width: 130px; padding: 5px; padding-left:12px;"><strong>{{ wdjp_news.type }}</strong></p>
                {% if request.user.is_superuser %}
                    <strong><p style="font-size: 12px;">Author - {{ wdjp_news.author.get_full_name}}</p></strong>
                {% endif %}
                <strong><p style="font-size: 11px;margin-top: -10px;">Published Date - {{ wdjp_news.published_date|date:"d M Y" }}</p>
              </strong>
                <!-- <img {% if site_url == "https://staging.comparedjs.com" %} src="https://staging.wheredjsplay.com/media/{{ wdjp_news.image }}" {% elif site_url == "https://www.comparedjs.com" %} src="https://www.wheredjsplay.com/media/{{ wdjp_news.image }}" {% else %}  src="https://staging.wheredjsplay.com/media/{{ wdjp_news.image }}" {% endif %} > </img> -->
                <!-- <img class="thumbnail"  style="widht:400px;" src="http://staging.wheredjsplay.com/media/{{wdjp_news.image}}"> -->
            </div>
            <div class="col-md-8">
                <p style="color:black;">{{ wdjp_news.text|safe }}</p>
            </div>
        </div>
        {% if wdjp_news.url %}
          <h3 class="title">News Video:</h3>
          <div class="separator-2"></div>
          <div class="news-frame">
              <iframe width="100%" height="250" scrolling="no" frameborder="no" src="{{wdjp_news.url}}"></iframe>
          </div>
        {% endif %}
    </div>
  {% if wdjp_news_all|length > 1 %}<br>
    <h3 class="title" style= "text-align:center; color:black;"><strong>WORLDWIDE DJ NEWS</strong></h3> <br>
    <div class="owl-carousel owl-theme" style="margin-bottom: 15px;">
            {% for news in wdjp_news_all %}
              {% if not news == wdjp_news %}
              <div class="item">
                  <div class="wrapper">
                      <a href="{% url 'news_detail' news.id %}" target="_blank">

                          <img src="{{ site_url }}/media/{{news.image}}" alt="SORRY WE CANT FIND THE IMAGE " style="max-width:208px;width:208px;max-height:175px;height:175px"></img>

                      </a>
                      <p style="background-color:black; width: 90px; color:white; font-size:10px; padding:4px; padding-left: 10px;margin-bottom: -3px;">{{ news.type }}</p>
                      <span style="display:block;width:205px;;word-wrap:break-word;">

                          <a href="{% url 'news_detail' news.id %}" target="_blank" style="text-transform: uppercase;">
                              <strong style ="font-size:13px;color: #000;">
                                  {% if news.title %}{{news.title|truncatechars:50|safe }} {% else %} {{news.text|truncatechars:50|safe }} {% endif %}
                              </strong></a>
                            </span>
                            </div>
                        </div>
              {% endif %}
            {% endfor %}
             </div>
        {% else %}
        <h3 class="title" style= "text-align:center";><strong>WORLDWIDE DJ NEWS</strong></h3>
        <div style="text-align:center">
            <h3>No Related News</h4>
        </div>
    {% endif %}
    <br>
  <h3 class="title" style= "text-align:center" ;><strong>OUR INDUSTRY INFORMATION SERVICES </strong></h3> <br>
  <div class="row">
    <div class="col-md-4 ">
        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
            <span class="icon default-bg circle" style="background-color:red"><i class="fa fa-hand-peace-o" style="margin-top: 15px;"></i></span>
            <h3>Promoter</h3>
            <!-- <a href="{% url 'promoter_link' %}"><p>Take the promoter tour</p></a> -->
            <a href="{% url 'promoter_link' %}" class="btn btn-info" style="background-color:red;border:red;">Take the Promoter Tour</a><br>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
            <span class="icon default-bg circle" style="background-color:black"><i class="glyphicon glyphicon-headphones" style="margin-top: 15px;"></i></span>
            <h3>DJ</h3>
            <!-- <a href="{% url 'dj_link' %}"><p>Take the DJ tour</p></a> -->
            <a href="{% url 'dj_link' %}" class="btn btn-info" style="background-color:black;border:black;" data-toggle="modal" data-id="dj_data">Take the DJ Tour</a>
        </div>
    </div>

    <div class="col-md-4 ">
        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
            <span class="icon default-bg circle"><i class="glyphicon glyphicon-earphone" style="margin-top: 15px;"></i></span>
            <h3>Agent</h3>
            <!-- <a href="{% url 'agent_link' %}"><p>Take the agent tour</p></a> -->
            <a href="{% url 'agent_link' %}" class="btn btn-info" style="background-color:#09afdf;"  data-toggle="modal" data-id="agent_data">Take the Agent Tour</a>
        </div>
    </div>
 </div>
</div>



{% endblock content %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
