{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}

{% block title %} {{ block.super }} | My News Feed </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>

<style type="text/css">
     .page-wrapper{
        background: #eee;
    }
</style>
<script>
    $( "#email_frequency_button" ).click(function() {
        $('#email_frequency').modal('show');
    });
</script>

{% endblock extra_js %}
{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}

{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'my_news_feed' %}">My News Feed</a></li>
                    <!-- <li class="active">Total Results : {{total_result}}</li> -->
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
        <form role="search" class="form-inline" action="" method="GET" id="search">
            <h2 class="page-title text-center"><strong>My News Feed</strong></h2>
            <div class="row">
                <div class="ph-20">
                    <p>
                        <h3><strong>Take control and customize your News Feed</strong></h3>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        We collate the news and send you a snapshot based upon your favorite artists and upon your emailing preferences.
                        Click the emailing option button to state how often you would like to receive our newsletter with your selected headlines.
                    </p>
                    <p>
                        Your chosen option about news feed is to get emails from us on:
                        <strong>
                            {% for freq in email_frequency_value_list %}
                                {{ freq }} {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i>* We provide daily news and updates about your favorite artists, check your preferences about emailing options</i><br>
                        Manage on what days you receive updates about these artists by clicking on adjacent email options button:
                        <button type="button" class="btn-default pull-right" id="email_frequency_button" value="Email Frequency"><i class="glyphicon glyphicon-cog"></i> Email Frequency</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><strong> The following artists are your favorites and you can add, remove and change them <a href="{% url 'favorite' %}" >here</a>:</strong></p>
                </div>
            </div>
            {% include 'news/_favorite_artists.html' %}
        </form>
    </div>

</div>


<div id="email_frequency" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="email_frequency_form" action="{% url 'email_frequency' %}" role="form" method="post">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Preferences</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h4>Choose the convenient options:</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 ph-40">
                            <div class="form-group">
                                <div class="checkbox" >
                                    <label for="id_email_frequency_0" style="font-size: 20px; text-align:left;">
                                    <input style="display: inline-block;" id="id_email_frequency_0" name="email_frequency" type="checkbox" value="Monday" {% if 'Monday' in email_frequency_value  %} checked {% endif %} /> Monday</label>
                                </div>
                                <div class="checkbox" >
                                      <label for="id_email_frequency_1" style="font-size: 20px; text-align:left;">
                                      <input style="display: inline-block;" id="id_email_frequency_1" {% if "Tuesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Tuesday" /> Tuesday</label>
                                </div>
                                <div class="checkbox" >
                                      <label for="id_email_frequency_2" style="font-size: 20px; text-align:left;">
                                      <input style="display: inline-block;"  style="display: inline-block;" id="id_email_frequency_2" {% if "Wednesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Wednesday" /> Wednesday</label>
                                </div>
                                <div class="checkbox" >
                                      <label for="id_email_frequency_3" style="font-size: 20px; text-align:left;">
                                      <input style="display: inline-block;" id="id_email_frequency_3" {% if "Thursday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Thursday" /> Thursday</label>
                                </div>
                                <div class="checkbox" >
                                      <label for="id_email_frequency_4" style="font-size: 20px; text-align:left;">
                                      <input  style="display: inline-block;" id="id_email_frequency_4" {% if "Friday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Friday" /> Friday</label>
                                </div>
                                <div class="checkbox" >
                                      <label for="id_email_frequency_5" style="font-size: 20px; text-align:left;">
                                      <input style="display: inline-block;" id="id_email_frequency_5" {% if "Saturday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Saturday" /> Saturday</label>
                                </div>
                                <div class="checkbox">
                                      <label for="id_email_frequency_6" style="font-size: 20px; text-align:left;">
                                      <input style="display: inline-block;" id="id_email_frequency_6" {% if "Sunday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Sunday" /> Sunday</label>
                                </div>
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
	{% include "home/_news_footer.html" %}
{% endblock footer %}
