{% extends 'news/base_email.html' %}
{% load staticfiles %}
{% block email_body %}
    {% for news_obj in template_response %}
    {% if news_obj.news %}
        <tr>
            <td colspan="2">
                <hr> <h3 class="title" style="text-align:center">{{news_obj.artist.artistName}} News</h3> </hr>
            </td>
        </tr>
        <tr>
            <td class="innerpadding borderbottom">
                {% if news_obj.artist.artistPhoto %}
                    <a href="{{ site_url }}/artists/artist/{{ news_obj.artist.artistID }}">
                        <img src="{{ site_url }}{{ news_obj.artist.artistPhoto.url }}" alt="{{news_obj.artist.artistName}}" width="100%" height="350px" align="center">
                    </a>
                {% else %}
                   <a href="{{ site_url }}/artists/artist/{{ news_obj.artist.artistID }}">
                       <img src= "{{ site_url }}/static/frontend/images/team-member-1.jpg" alt="{{news_obj.artist.artistName}}"width="100%" height="350px" align="center">
                   </a>
                {% endif %}
            </td>
        </tr>
        {% if news_obj.news %}
                {% for news_article in news_obj.news %}
                    <tr>
                        <td class="innerpadding borderbottom h3">
                            <p>
                                <small style="text-transform: uppercase; font-weight: bold; letter-spacing: 1px; text-color: #000">{{ news_article.source }}</small>
                                <small style="text-transform: uppercase; font-weight: bold; letter-spacing: 1px; text-color: #000">{{ news_article.publish_date }}</small>
                            </p>
                            <h4>{{ news_article.title }}</h4>
                                {{ news_article.text|truncatewords:"40"|safe }}
                            <br/>
                            <br/>
                            <table class="buttonwrapper" align="center" bgcolor="#0c9ec7" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="button" height="45">
                                  <a href="{{news_article.url}}">Read article</a>
                                </td>
                              </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% endfor %}
    <div class="buttonwrapper" bgcolor="#0c9ec7" align="center">
       <h4><a href="{{ site_url }}/profiles/edit-details/" >Email Frequency</a> | <a href="{{ site_url }}/artists/my-favourite/" >Favourite Artist</a></h4>
    </div>
{% endblock email_body %}
