{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | News Feed </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}

{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>

<script>

function delete_news(news_id, title){
    window.news_id = news_id
    window.news_title = title
    $('#delete_news').modal('show');
    $('#sure').html('Are you Sure you want to Delete <strong>' + title + '</strong>');


}

function confirm_delete_news(){
    var url = '{% url 'delete_news' 999 %}'.replace(999, news_id)
    document.location.href = url
}

</script>

{% endblock %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
        						<li class="active">News Feed</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear" >
				<div class="container" style="min-height: calc(83vh - 79px);">
                    <h2 style="text-align:center;"><strong>WORLDWIDE DJ NEWS</strong></h2>
                    {% if wdjp_news %}
                        <div class="row">
                            {% for news in wdjp_news %}
                                <div class="col-md-3">
                                    <a href="{% url 'news_detail' news.id %}" target="_blank">
                                      {% if request.user.is_superuser %}
                                        <a style="display:inline";>
                                          <span class="glyphicon glyphicon-remove-circle" style=" margin-left: 245px; color:red; cursor:pointer;" onClick="delete_news('{{news.id}}', '{{ news.title }}' )" title="Delete"></span>
                                        </a>

                                        <div id="delete_news" class="modal fade" role="dialog">
                                          <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" id="title">Delete News</h4>
                                              </div>
                                              <div class="modal-body">
                                                <p id="sure">Are You sure You want to delete </p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" onClick="confirm_delete_news()">Delete</button>
                                              </div>
                                            </div>

                                          </div>
                                        </div>
                                        {% endif %}
                                        <img src="{{ site_url }}/media/{{news.image}}" alt="SORRY WE CANT FIND THE IMAGE " style="height:220px; width: 300px;"></img>

                                    </a>
                                    <p style="background-color:black; width: 130px; color:white; font-size:15px;">{{ news.type }}</p>
                                    <h4 style="text-align:left">
                                      {% if request.user.is_superuser %}
                                        <a href="{% url 'news_edit' news.id %}"<span class="glyphicon glyphicon-pencil" title="Edit" style="cursor:pointer;"></span></a>
                                      {% endif %}
                                      <span style="display:block;width:265px;;word-wrap:break-word;">
                                        <a href="{% url 'news_detail' news.id %}" target="_blank" style="text-transform: uppercase;">
                                            <strong>
                                                {% if news.title %}{{news.title|truncatechars:60|safe }} {% else %} {{news.text|truncatechars:60|safe }} {% endif %}
                                            </strong>
                                        </a>
                                      </span>
                                    </h4>
                                </div>
                                {% cycle "" "" "" "</div><br><br><div class='row'>"%}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 style="text-align:center;">News Coming Soon !</h2>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <div class="inline-buttons">
                            <a href="{% url 'create_news' %}" class="btn btn-lg" style="background-color:#09afdf; color: white; padding: 4px;"><span class="glyphicon glyphicon-pencil"> </span> Create News
                            </a>
                        </div>
                    {% endif %}
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_news_footer.html" %}
{% endblock footer %}
