{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Reports </title> {% endblock title %}
{% block extra_js %}

<script type="text/javascript">
var ctx = document.getElementById("events");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Bandsintown", "ResidentAdvisor", "Gigatools", "Songkick", "Facebook"],
        datasets: [{
            label: '# of Events',
            data: {{ events }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<script type="text/javascript">
var ctx = document.getElementById("socials");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Twitter", "Youtube", "Instagram", "Spotify", "Facebook"],
        datasets: [{
            label: '# of Scraped Artists',
            data: {{ social_scraped }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

            <script type="text/javascript">
            $( "#id-hidden-form-artist" ).submit(function( event ) {
                var id_type = $("#id-type").val()

                if(id_type != ""){
                    $('.search').keypress(function(e) {
                        var keyCode = e.keyCode || e.which;
                        if (keyCode === 13) {
                            e.preventDefault();
                            return false;
                            alert("keypressed22222");
                        }
                    });
                }

            });


            var currentTHRequestall1 = null;
            $('.typeahead1_all').typeahead({
                source: function (query, process) {
                    artists = [];
                    map = {};
                    if(currentTHRequestall1 && currentTHRequestall1.pipe()) {
                        currentTHRequestall1.abort();
                    }
                    currentTHRequestall1 = $.ajax({
                        url: '/artists/filter-all-art/',
                        data: { query: query },
                        success: function(data) {
                            if(data != ""){
                                $(".no_result_found").html(" ")
                                $.each(data, function(i, object) {
                                    var display_name1 = object.name + " / " + object.class
                                    map[display_name1] = object;
                                    artists.push(display_name1)
                                });
                                process(artists);
                            }else{
                                $("ul[class='typeahead dropdown-menu']").css("display", "none");
                                $(".no_result_found").html("No Results Found")
                            }
                        }
                    })
                },
                // updater: function(item) {
                //         alert(item)
                //         var val = $('#id-filter-data').val(map[item]);
                //         alert(val)
                //         return item;
                //     },
                afterSelect : function(item){
                            var object = map[item]
                            console.log(object)
                            console.log(object.class)
                            var id_and_type = object.id + "_" + object.class
                            console.log(id_and_type)
                            $("#id-type").val(id_and_type)

                            $( "#id-hidden-form-artist" ).submit();
                             $("#id-hidden-form-artist").submit(function(){
                                 console.log("Submitted");
                            });
                            console.log("after submission")
                }
            });
        </script>

{% endblock extra_js %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Reports</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
            <div class="container">
                <div class="row pv-20">
                    <h1 class="page-title text-center">Overall Diagnostic Report</h1>
                </div>
            </div>
            <section class="main-container padding-bottom-clear pv-30">
				<div class="container">
                    <ul style="width: 30%;">
                        <li>

                            <form  class="search-box margin-clear">
                                <div class="form-group has-feedback">
                                    <!-- <input type="text" name="filter-data-id" id="id-filter-data"> -->
                                    <input type="text" name="artist_name" class="form-control typeahead1_all search" autocomplete="off" placeholder="Search Artist">
                                    <i class="icon-search form-control-feedback" type="submit"></i>
                                    <strong><p style="text-align:center; margin-top:20px;"class="no_result_found"></p></strong>
                                </div>
                            </form>
                            <form action="{% url 'filter_all_art' %}" id="id-hidden-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="id-type" name="id_and_type">
                            </form>
                        </li>

                    </ul>
					<div class="row">
                        <h2 class="title">Events Scrapping Status</h2>
                        <div class="separator-2"></div>
					</div>
                    <div class="row">
                        <div class="col-lg-6">
                            <canvas id="events" width="200" height="200"></canvas>
                            <h6 class="text-center"><strong>Events by source</strong></h6>
                        </div>
                        <div class="col-lg-6">
                            <br>
                            <h4 class="text-center">Summary of scrapped events</h4>
                            <ul>
                                <li>Bandsintown: <strong>{{ events.0 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Bandsintown</a></span></li>
                                <li>Resident Advisor: <strong>{{ events.1 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_resident' %}"> >> View Resident Advisor</a></span></li>
                                <li>Gigatools: <strong>{{ events.2 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_gigatools' %}"> >> View Gigatools</a></span></li>
                                <li>Songkick: <strong>{{ events.3 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_songkick' %}"> >> View Songkick</a></span></li>
                                <li>Facebook: <strong>{{ events.4 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Facebook</a></span></li>
                            </ul>
                            <br>
                            <h4 class="text-center">Number of scrapped artists</h4>
                            <ul>
                                <li>Bandsintown: <strong>2</strong> of <strong>2450</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Bandsintown</a></span></li>
                                <li>Resident Advisor: <strong>0</strong> of <strong>2000</strong><span class="pull-right"><a href="{% url 'scrape_report_resident' %}"> >> View Resident Advisor</a></span></li>
                                <li>Gigatools: <strong>0</strong> of <strong>1530</strong><span class="pull-right"><a href="{% url 'scrape_report_gigatools' %}"> >> View Gigatools</a></span></li>
                                <li>Songkick: <strong>0</strong> of <strong>1000</strong><span class="pull-right"><a href="{% url 'scrape_report_songkick' %}"> >> View Songkick</a></span></li>
                                <li>Facebook: <strong>0</strong> of <strong>3000</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Facebook</a></span></li>
                            </ul>
                            <br>
                            <h4 class="text-center">Last successful scrapping</h4>
                            <ul>
                                <li>Bandsintown: <strong>{{ events_time.0 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Bandsintown</a></span></li>
                                <li>Resident Advisor: <strong>{{ events_time.1 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_resident' %}"> >> View Resident Advisor</a></span></li>
                                <li>Gigatools: <strong>{{ events_time.2 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_gigatools' %}"> >> View Gigatools</a></span></li>
                                <li>Songkick: <strong>{{ events_time.3 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_songkick' %}"> >> View Songkick</a></span></li>
                                <li>Facebook: <strong>29 Jan 2019</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Facebook</a></span></li>
                            </ul>
                        </div>
                    </div>
				</div>
			</section>


            <section class="main-container padding-bottom-clear pv-30">
				<div class="container">
					<div class="row">
                        <h2 class="title">Social Data Scrapping</h2>
                        <div class="separator-2"></div>
					</div>


                    <div class="row">
                        <div class="col-lg-6">
                            <canvas id="socials" width="200" height="200"></canvas>
                            <h6 class="text-center"><strong>Social Data by source</strong></h6>
                        </div>
                                            <div class="col-lg-6">

                            <br>
                            <h4 class="text-center">Number of scrapped artists</h4>
                            <ul>
                                <li>Twitter: <strong>2</strong> of <strong>2450</strong><span class="pull-right"><a href="{% url 'scrape_report_twitter' %}"> >> View Twitter</a></span></li>
                                <li>Youtube: <strong>0</strong> of <strong>2000</strong><span class="pull-right"><a href="{% url 'scrape_report_youtube' %}"> >> View Youtube</a></span></li>
                                <li>Instagram: <strong>0</strong> of <strong>1530</strong><span class="pull-right"><a href="{% url 'scrape_report_instagram' %}"> >> View Instagram</a></span></li>
                                <li>Spotify: <strong>0</strong> of <strong>1000</strong><span class="pull-right"><a href="{% url 'scrape_report_spotify' %}"> >> View Spotify</a></span></li>
                                <li>Facebook: <strong>0</strong> of <strong>3000</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Facebook</a></span></li>
                            </ul>
                            <br>
                            <h4 class="text-center">Last successful scrapping</h4>
                            <ul>
                                <li>Twitter: <strong>{{ events_time_socials.0 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_twitter' %}"> >> View Twitter</a></span></li>
                                <li>Youtube: <strong>{{ events_time_socials.1 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_youtube' %}"> >> View Youtube</a></span></li>
                                <li>Instagram: <strong>{{ events_time_socials.2 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_instagram' %}"> >> View Instagram</a></span></li>
                                <li>Spotify: <strong>{{ events_time_socials.3 }}</strong><span class="pull-right"><a href="{% url 'scrape_report_spotify' %}"> >> View Spotify</a></span></li>
                                <li>Facebook: <strong>29 Jan 2019</strong><span class="pull-right"><a href="{% url 'scrape_report_bands' %}"> >> View Facebook</a></span></li>
                            </ul>
                        </div>

                    </div>

				</div>
			</section>


                <section class="main-container padding-bottom-clear pv-30">
				<div class="container">
					<div class="row">
                        <h2 class="title">News Scrapping</h2>
                        <div class="separator-2"></div>
					</div>
                    <div class="row">
                        <h3 class="text-center">Coming soon...</h3>
                    </div>
				</div>
			</section>

            <section class="main-container padding-bottom-clear pv-30">
				<div class="container">
					<div class="row">
                        <h2 class="title">Website Data</h2>
                        <div class="separator-2"></div>
					</div>
                    <div class="row">
                        <h3 class="text-center">Coming soon...</h3>
                    </div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}
{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}