{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Reports </title> {% endblock title %}
{% block extra_js %}

<script type="text/javascript">
var ctx = document.getElementById("events");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Bandsintown", "ResidentAdvisor", "Gigatools", "Songkick", "Facebook"],
        datasets: [{
            label: '# of Events',
            data: {{ events }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<script type="text/javascript">
var ctx = document.getElementById("socials");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Twitter", "Youtube", "Instagram", "Spotify", "Facebook"],
        datasets: [{
            label: '# of Scraped Artists',
            data: {{ social_scraped }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


{% endblock extra_js %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Reports</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
            <div class="container">
                <div class="row pv-20">
                    <h1 class="page-title text-center">Report for {{ name }} </h1>
                </div>
            </div>

            <section class="main-container padding-bottom-clear pv-30">
				<div class="container">
					<div class="row">
                        <h2 class="title">Website Data</h2>
                        <div class="separator-2"></div>
					</div>

                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{artist.artistName}} Events Report</h2>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>EVENTS AGGREGATED BY SOURCE</th>
                                      <th>SOURCE EXIST FOR ARTIST</th>
                                      <th>LAST SCRAPING DATE</th>
                                      <th>LAST SCRAPING SUCCESSFUL</th>
                                      <th>LAST SCRAPED EVENTS</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Resident Adviser</td>
                                      <td>{% if resident_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if resident_created %} {{ resident_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if resident_successful %} {{ resident_successful }} {% else %} No {% endif %}</td>
                                      <td>{% if resident_count %} {{ resident_count }} {% else %} N/a {% endif %}</td>
                                    </tr>
                                    <tr>
                                      <td>Bandsintown</td>
                                      <td>{% if bands_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if bands_created %} {{ bands_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if bands_successful %} {{ bands_successful }} {% else %} No {% endif %}</td>
                                      <td>{% if bands_count %} {{ bands_count }} {% else %} N/a {% endif %}</td>
                                    </tr>
                                      <td>Songkick</td>
                                      <td>{% if songkick_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if songkick_created %} {{ songkick_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if songkick_successful %} {{ songkick_successful }} {% else %} No {% endif %}</td>
                                      <td>{% if songkick_count %} {{ songkick_count }} {% else %} N/a {% endif %}</td>
                                    </tr>
                                    </tr>
                                      <td>Gigatools</td>
                                      <td>{% if gigatools_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if gigatools_created %} {{ gigatools_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if gigatools_successful %} {{ gigatools_successful }} {% else %} No {% endif %}</td>
                                      <td>{% if gigatools_count %} {{ gigatools_count }} {% else %} N/a {% endif %}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{artist.artistName}} Socials Report</h2>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>SOCIAL DATA AGGREGATED BY SOURCE</th>
                                      <th>SOURCE EXIST FOR ARTIST</th>
                                      <th>LAST SCRAPING DATE</th>
                                      <th>LAST SCRAPING SUCCESSFUL</th>
{#                                      <th>SCRAPED EVENTS</th>#}
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Spotify</td>
                                      <td>{% if spotify_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if spotify_created %} {{ spotify_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if spotify_successful %} {{ spotify_successful }} {% else %} No {% endif %}</td>
{#                                      <td>{% if spotify_count %} {{ spotify_count }} {% else %} N/a {% endif %}</td>#}
                                    </tr>
                                    <tr>
                                      <td>Instagram</td>
                                      <td>{% if instagram_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if instagram_created %} {{ instagram_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if instagram_successful %} {{ instagram_successful }} {% else %} No {% endif %}</td>
{#                                      <td>{% if bands_count %} {{ bands_count }} {% else %} N/a {% endif %}</td>#}
                                    </tr>
                                      <td>Twitter</td>
                                      <td>{% if twitter_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if twitter_created %} {{ twitter_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if twitter_successful %} {{ twitter_successful }} {% else %} No {% endif %}</td>
{#                                      <td>{% if songkick_count %} {{ songkick_count }} {% else %} N/a {% endif %}</td>#}
                                    </tr>
                                    </tr>
                                      <td>YouTube</td>
                                      <td>{% if youtube_source_exist %} Yes {% else %} Not Exist {% endif %} </td>
                                      <td>{% if youtube_created %} {{ youtube_created }} {% else %} N/a {% endif %} </td>
                                      <td>{% if youtube_successful %} {{ youtube_successful }} {% else %} No {% endif %}</td>
{#                                      <td>{% if gigatools_count %} {{ gigatools_count }} {% else %} N/a {% endif %}</td>#}
                                    </tr>
{#                                    <tr>#}
{#                                        <td>Resident Advisor</td>#}
{#                                        <td>{% if resident_events_count %} Yes {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if resident_events_count %} {{ resident_events_count }} {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if resident_town_added_this_week %} {{ resident_town_added_this_week }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>{% if resident_events_future_count %} {{ resident_events_future_count }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>N/a</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <td>GigaTools</td>#}
{#                                        <td>{% if gigatools_events_count %} Yes {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if gigatools_events_count %} {{ gigatools_events_count }} {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if gigatools_town_added_this_week %} {{ gigatools_town_added_this_week }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>{% if gigatools_events_future_count %} {{ gigatools_events_future_count }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>N/a</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <td>Songkick</td>#}
{#                                        <td>{% if songkick_events_count %} Yes {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if songkick_events_count %} {{ songkick_events_count }} {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if songkick_town_added_this_week %} {{ songkick_town_added_this_week }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>{% if songkick_events_future_count %} {{ songkick_events_future_count }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>N/a</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <td>Facebook</td>#}
{#                                        <td>{% if facebook_events_count %} Yes {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if facebook_events_count %} {{ facebook_events_count }} {% else %} N/a {% endif %} </td>#}
{#                                        <td>{% if facebook_town_added_this_week %} {{ facebook_town_added_this_week }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>{% if facebook_events_future_count %} {{ facebook_events_future_count }} {% else %} N/a {% endif %}</td>#}
{#                                        <td>N/a</td>#}
{#                                    </tr>#}
                                  </tbody>
                                </table>
                            </div>
                        </div>

                    {% endif %}



				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}
{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}