{% extends "home/__base.html" %}
{% load staticfiles %}
{% load report_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Reports </title> {% endblock title %}
{% block extra_head %}
{{ block.super }}
<style>
    .label-pill {
      padding-right: .6em;
      padding-left: .6em;
      border-radius: 10rem;
    }
</style>
{% endblock extra_head %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>


<script type="text/javascript">
var ctx = document.getElementById("artists");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Artists", "Scrapped", "NotScrapped"],
        datasets: [{
            label: '# of Events',
            data: [{{ artists }}, {{ good }}, {{ bad }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
         tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                var total = meta.total;
                var currentValue = dataset.data[tooltipItem.index];
                var percentage = parseFloat((currentValue/total*100).toFixed(1));
                return currentValue + ' (' + percentage + '%)';
              },
              title: function(tooltipItem, data) {
                return data.labels[tooltipItem[0].index];
              }
            }
          },
          plugins: {
            // Change options for ALL labels of THIS CHART
            datalabels: {
              color: "#000",
              align: "center"
            }
          },
    }

});

var ctx = document.getElementById("events");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Info", "Warning", "Unknown", "Error"],
        datasets: [{
            label: '# of Events',
            data: [{{ geocoded }}, {{ not_coded }}, {{ unknown }}, {{ errors }} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
         tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                var total = meta.total;
                var currentValue = dataset.data[tooltipItem.index];
                var percentage = parseFloat((currentValue/total*100).toFixed(1));
                return currentValue + ' (' + percentage + '%)';
              },
              title: function(tooltipItem, data) {
                return data.labels[tooltipItem[0].index];
              }
            }
          }
    }

});
</script>

<script type="text/javascript">

$(function() {
            //date list that you want to enable
            enableddates = [
                {% for date in enabledDates %}
                    '{{ date.created|date:'d-m-Y' }}',
                {% endfor %}
            ];
            $(".start_date").datepicker({
                format: 'dd-mm-yyyy',
                beforeShowDay: function(date) {
                    var m = date.getMonth()+1;
                    var d = date.getDate();
                    var y = date.getFullYear();
                        if (d < 10) {
                            d = "0" + d;
                        }
                        if (m < 10) {
                            m = "0" + m;
                        }
                    var currentdate = d + '-' + m + '-' + y;
                        // Now check if the current date is in enabled dates array.
                        if ($.inArray(currentdate, enableddates) != -1) {
                            return {
                              classes: 'enabled',
                              tooltip: 'You can select this date'
                            };
                        } else {
                         return {
                              classes: 'disabled',
                              tooltip: 'You cannot select this date'
                            };
                        }
                },
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
            });
        });
</script>
<style>
    .enabled {
          background: #5bc0de;
          color: white;
        }
</style>
{% endblock extra_js %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Scrapping Report</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
            <section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
                        <h2 class="title text-center">Songkick Scrapping Status Report</h2>
					</div>
                    <div class="panel panel-info">
                          <div class="panel-heading">Songkick Artists & Events Data Overview</div>
                          <div class="panel-body">
                              <div class="row">
                                <div class="col-lg-6">
                                    <canvas id="artists" width="200" height="150"></canvas>
                                    <h6 class="text-center"><strong>Songkick Artists Situation</strong></h6>
                                </div>
                            <div class="col-lg-6">
                            <br>
                            <h4 class="text-center">Scrapped artists</h4>
                            <ul>
                                <li>Total artists: <strong>{{ total }}</strong></li>
                                <li>Songkick total artists: <strong>{{ artists }}</strong> which means <strong>{{ artists|as_percentage_of:total }}</strong> of total</li>
                                <li>Successfully scraped artists: <strong>{{ good }}</strong> of <strong>{{ artists }}</strong>  which means <strong>{{ good|as_percentage_of:artists }}</strong> of total</li>
                                <li>Artists not scrapped: <strong>{{ bad }}</strong> of <strong>{{ artists }}</strong>  which means <strong>{{ bad|as_percentage_of:artists }}</strong> of total</li>
                                <li>Artists which don't have Songkick account: <strong>{{ no_account }}</strong> of <strong>{{ total }}</strong>  which means <strong>{{ no_account|as_percentage_of:total }}</strong> of total</li>
                            </ul>
                            <br>
                        </div>
                              </div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                             <h2 class="title">Detailed Information</h2>
                             <h3>
                                 Errors: <span class="label label-pill label-danger">{{ errors }}</span>
                                 Unknown: <span class="label label-pill label-default">{{ unknown }}</span>
                                 Warnings: <span class="label label-pill label-warning">{{ not_coded }}</span>
                                 Info: <span class="label label-pill label-info">{{ geocoded }}</span>
                             </h3>
                        </div>
                        <div>
                            <form action="" id="apply_filters" method="GET" class="form-inline">
                                <div class="pull-left">
                                    <div class="form-group">
                                        <label><strong>Event Type</strong></label>
                                        <select name="type" class="form-control">
                                            <option {% if type_filter == -1 %} selected="selected" {% endif %} value="-1">ALL</option>
                                            <option {% if type_filter == 0 %} selected="selected" {% endif %} value="0">UNKNOWN</option>
                                            <option {% if type_filter == 1 %} selected="selected" {% endif %} value="1">INFO</option>
                                            <option {% if type_filter == 2 %} selected="selected" {% endif %} value="2">WARNING</option>
                                            <option {% if type_filter == 3 %} selected="selected" {% endif %} value="3">ERROR</option>
                                            <!--<option {% if type_filter == 2 %} selected="selected" {% endif %} value="2">Total</option>-->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Scrapping Date</strong></label>
                                        <input type="text" name="date" value=""  class="form-control start_date" autocomplete="off" placeholder="{{ date_current|date:'d-m-Y' }}" />
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="">
                                        <button type="submit" class="btn btn-lg btn-dark" style="vertical-align:bottom;margin-top:20px;border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        {% if reports %}
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-responsive table-condensed">
                                  <thead>
                                    <tr>
                                      <th>No</th>
                                      <th width="11%">Date</th>
                                      <th width="30%">Title</th>
                                      <th width="11%">Artist</th>
                                      <th width="11%">State</th>
                                      <th width="30%">Information</th>
                                      <th width="5%">Resolution</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for report in reports.object_list %}
                                    {% if report.event == 0 %}
                                      <tr class="active">
                                    {% endif %}
                                    {% if report.event == 1 %}
                                      <tr class="info">
                                    {% endif %}
                                    {% if report.event == 2 %}
                                      <tr class="warning">
                                    {% endif %}
                                    {% if report.event == 3 %}
                                      <tr class="danger">
                                    {% endif %}
                                        <td>{{ report.pk }}</td>
                                        <td>{{ report.created|date:'d-m-Y' }}</td>
                                        <td>{{ report.title }}</td>
                                        <td><a href="{{ site_url }}/admin/artist/artistwebsite/?q={{ report.artist.artistName }}&sourceID__sourceID__exact={{ source }}">{{ report.artist.artistName }}</a></td>
                                        {% if report.event == 0 %}
                                            <td><span class="label label-default">{{ report.get_event_display }}</span></td>
                                        {% endif %}
                                        {% if report.event == 1 %}
                                            <td><span class="label label-info">{{ report.get_event_display }}</span></td>
                                        {% endif %}
                                        {% if report.event == 2 %}
                                            <td><span class="label label-warning">{{ report.get_event_display }}</span></td>
                                        {% endif %}
                                        {% if report.event == 3 %}
                                            <td><span class="label label-danger">{{ report.get_event_display }}</span></td>
                                        {% endif %}
                                        <td>{{ report.description }}</td>
                                        <td>{{ report.resolution }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                          </div>
                        {% else %}
                            <div class="text-center">
                                <h3>No records</h3>
                            </div>
                        {% endif %}
                        <!--{% if reports.has_other_pages %}-->
                          <!--<ul class="pagination">-->
                            <!--{% if reports.has_previous %}-->
                              <!--<li><a href="?type={{ type_filter }}&page={{ users.previous_page_number }}">&laquo;</a></li>-->
                            <!--{% else %}-->
                              <!--<li class="disabled"><span>&laquo;</span></li>-->
                            <!--{% endif %}-->
                            <!--{% for i in reports.paginator.page_range %}-->
                              <!--{% if reports.number == i %}-->
                                <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                              <!--{% else %}-->
                                <!--<li><a href="?type={{ type_filter }}&page={{ i }}">{{ i }}</a></li>-->
                              <!--{% endif %}-->
                            <!--{% endfor %}-->
                            <!--{% if reports.has_next %}-->
                              <!--<li><a href="?type={{ type_filter }}&page={{ users.next_page_number }}">&raquo;</a></li>-->
                            <!--{% else %}-->
                              <!--<li class="disabled"><span>&raquo;</span></li>-->
                            <!--{% endif %}-->
                          <!--</ul>-->
                        <!--{% endif %}-->

                        {% load i18n %}
                        <div class="text-center">
                            <ul class="pagination">
                                {% if reports.has_previous %}
                                    <li><a href="?{{ reports.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;</a></li>
                                {% else %}
                                    <!--<li><span class="disabled prev">&lsaquo;&lsaquo;</span></li>-->
                                {% endif %}
                                {% for page in reports.pages %}
                                    {% if page %}
                                        {% ifequal page reports.number %}
                                           <li> <span class="current page">{{ page }}</span></li>
                                        {% else %}
                                           <li> <a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                                {% if reports.has_next %}
                                    <li><a href="?{{ reports.next_page_number.querystring }}" class="prev">&rsaquo;&rsaquo;</a></li>
                                {% else %}
                                    <!--<li><span class="disabled next">&rsaquo;&rsaquo;</span></li>-->
                                {% endif %}
                            </ul>
                        </div>
                    </div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}
{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}