{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
<div class="container" style="padding-bottom:100px;">
    <br>
    <center>
    <h1>Wheredjsplay.com</h1>
    <br>
    <h3>Do You really want to deactivate your account</h3>
    <div class="row">
        <div class="col-md-1 col-md-offset-5">
            <form action="{% url 'deactivate' %}" method="post" >
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Yes</button>
            </form>
        </div>
        <div class="col-md-1" style="margin-top:20px;">
            <button onclick="location.href='{% url 'index' %}';" class="btn btn-primary" type="button">No</button>
        </div>
    </div>
    </center>
</div>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
