{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Change Password </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
                        <li class="active">Change Password </li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-container text-center margin-clear" style="background: #eee">
        <div class="container">
            <div class="row">
                <div class="main col-md-6 col-md-offset-3">
                    <div class="intro-step-card">
                        <div>
                            <h2 class="step-header">
                                Change Password.
                            </h2>
                            <form class="form-horizontal" method="post" data-toggle="validator">
                                {% csrf_token %}
                                <div class="form-group {% if form.current_password.errors %}has-error{% endif %}">
                                    <div class="col-md-12">
                                        <label for="id_new_password" >Enter your current password:</label>
                                        {{ form.current_password }}
                                        <small class="error-field">{{ form.current_password.errors.as_text }}</small>
                                    </div>
                                </div>
                                <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                                    <div class="col-md-12">
                                        <label for="id_new_password" >Enter New Passoword:</label>
                                        {{ form.new_password }}
                                        <small class="error-field">{{ form.new_password.errors.as_text }}</small>
                                    </div>
                                </div>
                                <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                                    <div class="col-md-12">
                                        <label for="id_confirm_password">Re-Enter New Password:</label>
                                        {{ form.confirm_password }}
                                        <small class="error-field">{{ form.confirm_password.errors.as_text }}</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!-- <a class="btn btn-default btn-animated">Change Password </a> -->
                                        <input type="submit" value="Change Password" class="btn btn-default"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
