{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h1>Payment Slip</h1>
{% endblock title %}
{% block email_body %}

<h4>Hi {{ user.first_name }}</h4>
<p>
    <strong>Welcome to the WDJP {{ plan }} plan!</strong> We have received your payment with thanks.

    <p>
     Please check the attached payment slip that provides full details of the plan and payment details.
    </p>
    <p>Your next renewal date will be: {{renewal_date}}</p>
    <p>
      You are now ready to roll so please click <a href="{{ login_url }}">here</a> to get started.
    </p>
</p>
{% endblock %}
