{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .salary_slip_logo{
                width: 278px;
                margin-left: 20px;
                
            }

            .logo_main_div{
                width: 100%;
                padding: 20px;
                vertical-align: middle;
                background-color: #394244;
            }
            .logo_main_div > div {
                width: 48%;
                display: inline-block;
            }
            .first_table_div{
                border: 1px solid #e1e1e1;
                padding: 10px;
                margin: 25px;
            }

            .first_table_div > .my_class{
                width: 100%;
            }
            .first_table_div > .my_class > div {
                width: 48%;
                display: inline-block;
            }
            .first_table_div1{
                border: 1px solid #e1e1e1;
                padding: 10px;
                margin: 25px;
            }
            .first_table_div1 > .my_class > div{
                width: 24%;
                display: inline-block;
                word-wrap: break-word;
                padding: 0 2px;
            }

            .b {
                font-weight: bold;
            }
            .hr {
                border: 0px solid #e1e1e1;
                border-width: 0 0 1px 0;
                margin: 5px 7px;
            }
            body{
                width: 794px;
                color: #787878;
            }
        </style>
    </head>

    <body>

        <div class="logo_main_div">
            <div class="salary_slip_logo_div">
                <img class="salary_slip_logo" width="20%" src="https://www.wheredjsplay.com/static/frontend/images/logo_footer.png" alt="Where djs Play" />
            </div>
        </div>
        <h2 style="text-align:center;">Purchase Confirmation</h2>
        <hr>
        <table style="width:100%">
            <tr>
                <th>Product</th>
                <th>          </th>
                <th>Where DJs Play</th>
            </tr>
            <tr>
                <td>User Name</td>
                <td>          </td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>User Email</td>
                <td>          </td>
                <td>{{ user_email }}</td>
            </tr>
            <tr>
                <td>Transaction Date</td>
                <td>          </td>
                <td>{{ current_date }}</td>
            </tr>
            <tr>
                <td>Purchase description</td>
                <td>          </td>
                <td><b>{{ plan_name }}</b> Plan</td>
            </tr>
            <tr>
                <td>Plan Rate</td>
                <td>          </td>
                <td>{{ transaction_rate }} </td>
            </tr>
            {% if coupon_code %}
            <tr>
                <td>Coupon Applied({{coupon_code}})</td>
                <td>     </td>
                <td> - ${{ coupon_amount }}.00 </td>
            </tr>
            {% endif %}
            <tr>
                <td>-----------------------------------------</td>
                <td>-----------------------------------------</td>
                <td>-----------------------------------------</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>          </td>
                <td> <b> {% if final_amount %} {{ final_amount }} {% else %}{{transaction_rate}} {% endif %}</b></td>
            </tr>

        </table>

        <br>
        <br>

        <h4 style="text-align:center;">Thank you for using WhereDjs Play</h4>

        <!-- <div class="first_table_div">
            <span><b>Note: This payslip is computer-generated. Hence, no signature is required.</b></span>
        </div> -->

    </body>
