{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Checkout Page </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript">
      Stripe.setPublishableKey('{{stripe_key}}');
        $(document).ready(function() {
            function addInputNames() {
                $(".card-number").attr("name", "card-number")
                $(".card-number").attr("placeholder", "XXXX XXXX XXXX XXXX")
                $(".card-cvc").attr("name", "card-cvc")
                $(".card-cvc").attr("placeholder", "XXX")
                $(".card-expiry-year").attr("name", "card-expiry-year")
            }
            function removeInputNames() {
                $(".card-number").removeAttr("name")
                $(".card-cvc").removeAttr("name")
                $(".card-expiry-year").removeAttr("name")
            }
            function submit(form) {
                removeInputNames();
                $(form['submit-button']).attr("disabled", "disabled")
                Stripe.createToken({
                    number: $('.card-number').val(),
                    cvc: $('.card-cvc').val(),
                    exp_month: $('.card-expiry-month').val(), 
                    exp_year: $('.card-expiry-year').val()
                }, function(status, response) {
                    if (response.error) {
                        $(form['submit-button']).removeAttr("disabled")

                        $(".payment-errors").html(response.error.message);
                        addInputNames();
                    } else {
                        var token = response['id'];
                        var exp_year = response["card"].exp_year;
                        var exp_month = response["card"].exp_month;
                        var brand = response["card"].brand;
                        var last = response["card"].last4;
                        var coupon_code = $("#coupon-code").val();
                        var input = $("<input name='stripeToken' value='" + token + "' style='display:none;' />");
                        var exp_year = $("<input name='expiryYear' value='" + exp_year + "' style='display:none;' />");
                        var exp_month = $("<input name='exp_month' value='" + exp_month + "' style='display:none;' />");
                        
                        var brand = $("<input name='brand' value='" + brand + "' style='display:none;' />");
                        var last4 = $("<input name='last4' value='" + last + "' style='display:none;' />");
                        var coupon_code = $("<input name='last4' value='" + coupon_code + "' style='display:none;' />");
                        form.appendChild(input[0])
                        form.appendChild(exp_year[0])
                        form.appendChild(exp_month[0])
                        form.appendChild(brand[0])
                        form.appendChild(last4[0])
                        // form.appendChild(coupon_code)
                        form.submit();
                    }
                });
                
                return false;
            }
            
            // add custom rules for credit card validating
            jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
            jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
            jQuery.validator.addMethod("cardExpiry", function() {
                return Stripe.validateExpiry($(".card-expiry-month").val(), 
                                             $(".card-expiry-year").val())
            }, "Please enter a valid expiration");
            $("#card-form").validate({
                submitHandler: submit,
                rules: {
                    "card-cvc" : {
                        cardCVC: true,
                        required: true
                    },
                    "card-number" : {
                        cardNumber: true,
                        required: true
                    },
                    "card-expiry-year" : "cardExpiry" 
                }
            });
            addInputNames();
        });
    </script>
    <script type="text/javascript">
        var select = $(".card-expiry-month"),
            month = new Date().getMonth() + 1;
        for (var i = 1; i <= 12; i++) {
            select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
        }
    </script>
    <script type="text/javascript">
        var select = $(".card-expiry-year"),
            year = new Date().getFullYear();
        for (var i = 0; i < 12; i++) {
            select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
        }
    </script>
{% endblock %}   

{% block content %}

    <form action="{% url 'checkout_user_types' %}" method="POST" id="card-form" class="credit_card_payment">
            {% csrf_token %}
            {% if plan.title == "Promoter" %}
                <div class="user_current_plan red-bg">
            {% elif plan.title == "Artist/DJ" %}
                <div class="user_current_plan blk-bg">
            {% elif plan.title == "Agent" %}
                <div class="user_current_plan grey-bg"> 
            {% endif %}
            <p>{{plan.title}} (${{plan.amount}} / month)</p>
            <p>To Access Our Information Services You Need an Active Subscription.
                As {% if plan.title.0 == 'A' %} an {% else %} a {% endif %} {{plan.title}}, Its {{plan.amount}} USD Per Month.<br>You Can Cancel Anytime. </p>
                <img src="/static/frontend/images/credit-card.png">
            </div>
            <div class="card_payment">
                {% if message %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        <div class="error_msg">{{message}}</div>
                    </div>                    
                {% endif %}
                <h3>Please Enter Your Credit Card Details </h3>
                <div class="form-row">
                    <label for="name" class="stripeLabel">Card Holder Name</label>
                    <input type="text" placeholder="e.g John Dae" name="name" class="required text-center" />
                </div>            
                <div class="form-row">
                    <label>Card Number</label>
                    <input type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required text-center" />
                </div>
                
                <div class="form-row">
                    <label>CVC</label>
                    <input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required text-center" />
                </div>
            
                <div class="form-row">
                    <label>Expiration</label>
                    <div class="expiry-wrapper">
                        <select class="card-expiry-month stripe-sensitive required">
                        </select>
                        <span> / </span>
                        <select class="card-expiry-year stripe-sensitive required"></select>
                    </div>
                </div>
                <div class="form-row">
                    <p style="text-align:justify">Set up the subscription with your Credit Card above and
                        If you have a Coupon Code, Enter it here. </p>
                    <label>Insert Coupon Code (optional)</label>
                    {{form.coupon}}
                    <!-- <input type="text" autocomplete="off" id="coupon-code" /> -->
                </div>
                <button type="submit" name="submit-button">Submit</button>
                <span class="help-text">You are setting up a {{plan.amount}}$/month subscription.You can cancel anytime.</span>
                <span class="payment-errors"></span>
            </div>
        </form>



{% endblock content %}   
{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
