{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Checkout Page </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{publishable}}');
        $('.payment-errors').hide();
        $('#error_msg').hide();

        $(document).ready(function(e) {
            $(".payment-form").submit(function(event) {
                event.preventDefault();
                $('.btn_skip').prop("disabled", true);
                Stripe.createToken({
                    name: $(this).find('#name').val(),
                    number: $(this).find('#card-number').val(),
                    cvc: $(this).find('#card-cvc').val(),
                    exp_month: $(this).find('#card-expiry-month').val(),
                    exp_year: $(this).find('#card-expiry-year').val()
                }, stripeResponseHandler);
                return false; // submit from callback
            });
        });
        function stripeResponseHandler(status, response) {
            if (response.error) {
                $(".payment-errors").text(response.error.message);
                $('.payment-errors').show();
                $('#error_msg').show()
                $('.btn_skip').prop("disabled", false);
            } else {
                $('.payment-errors').hide();
                $('#error_msg').hide();
                var form$ = $(".payment-form");
                var token = response['id'];
                form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                $('#name, #card-number, #card-cvc, #card-expiry-month, #card-expiry-year').val('');
                form$.get(0).submit();
            }
            return false;
        }
    </script>
{% endblock %}


{% block slider %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
	<div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Checkout</li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- breadcrumb end -->
{% endblock slider %}

{% block content %}

    <div class="container">
        <div class="container-fluid">
            <h1>Checkout</h1>
        </div>

        <div class="container-fluid">
            {% if request.GET.plan_id == "1" %}
            <center>
                <h3>Trail Plan</h3>
                <h4>Amount: 1$/15 days</h4>
            </center>
            {% elif request.GET.plan_id == "2" %}
            <center>
                <h3>Basic Plan</h3>
                <h4>Its 1 USD for the first two weeks and then 39 USD thereafter.</h4>
            </center>
            {% elif request.GET.plan_id == "3"%}
                <center>
                    <h3>Premium Plan</h3>
                    <h4>Amount: 69$/month</h4>
                </center>
            {% endif %}
            
            <div style="text-align:center;">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <strong>(In order to process your order, we need your credit card details)</strong>
                    </div>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <form action="" method="POST" class="payment-form">
                    <input type="hidden" name="email" value="{{ request.user.email }}" />

                    <input type="hidden" name="plan_id" value="{{request.GET.plan_id}}" />
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row-fluid">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <label>Name on Card:</label>
                                <input class="form-control" type="text" id="name" data-stripe="name" placeholder="Name on Card"/>
                            </div>
                            <div class="col-md-2">
                                <img class="thumbnail" style="margin-top:23px" src="{% static 'frontend/images/MasterCard-and-Visa.jpg' %}" width="80px"/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <label>Card Number:</label>
                                <input class="form-control" type="text" id="card-number" maxlength="20" data-stripe="number" placeholder="XXXX XXXX XXXX XXXX"/>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label>CVC:</label>
                                <input class="form-control" type="text" id="card-cvc" maxlength="4" data-stripe="cvc" placeholder="XXX"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <label>Expiration (MM):</label>
                                <input type="text" class="form-control" id="card-expiry-month" maxlength="2" data-stripe="exp-month" placeholder="MM"/>
                            </div>
                            <div class="col-md-3">
                                <label>Expiration (YYYY):</label>
                                <input type="text" class="form-control" id="card-expiry-year" maxlength="4" data-stripe="exp-year" placeholder="YYYY"/>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <center>
                            <div id="error_msg" class="alert alert-danger" style="margin-top:23px; padding: 5px; display: none">
                                <span class="payment-errors"></span>
                            </div>
                        </center>
                    <div class="container-fluid" style="margin-bottom:20px">
                        <div class="row-fluid">
                            <div class="form-group">
                                <center>
                                    <button class="btn btn_skip" style="margin-right:0px" type="submit">
                                        Submit Payment </br>
                                        <i class="glyphicon glyphicon-lock"> This is a secure transaction</i>
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
