{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        						<li class="active"><a href="{% url 'introduction5' %}">Thanks</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
                        <div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <h2 class="step-header">
                                        NICE IT WORKED !
                                    </h2>
                                    <h3> WELCOME TO WDJP </h3>
                                    <hr>
                                    <!-- <p>What do you want to do today !</p> -->
                                    <p style="text-align:left;">You are set up as a <b>{{ user_type }}</b> and will be able to  use all of our amazing searches.  We will take you to the Availabilty Search page first </p>
                                </div>

                                <div>
                                    <a href="{% url 'dates' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Availabilty Artist Search</a>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
