{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Refunded </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Refund</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block extra_js %}

    <script>

    $(document).ready(function() {
        $(function(){
            $(".success_msg").fadeOut(20000)
        })
    });

    </script>

{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<!-- <section class="main-container jumbotron light-gray-bg text-center margin-clear"> -->
				<div class="container">
					<div class="row" style="margin-top:60px;">
                        {% if not is_refund %}
						<div class="col-md-7 col-md-offset-3">
                            <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                                <h4><b>Hi {{ request.user.get_full_name }}</b></h4>
                                <h4>Your Subsrcibed <b>{{ plan.user_type }}</b> Plan has been Refunded</h4>
                                <h4>You Purchased This Plan on <b>{{ sub_created_date }}</b> </h4>
                                <h4>You Refunded This Plan on <b>{{ refunded_on }}</b></h4>
                                <h4>Thanks</h4>
                                <h4>WhereDjsPlay</h4>
                            </div>
						</div>
                        {% else %}
                        <div class="col-md-7 col-md-offset-3">
                            <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                                <h4><b>Hi {{ request.user.get_full_name }}</b></h4>
                                <h4>Your Subsrcibed <b>{{ plan.user_type }}</b> Plan has been already Refunded on <b>{{ refunded_on }}</b></h4>
                                <h4>Thanks</h4>
                                <h4><b>WhereDjsPlay</b></h4>
                            </div>
                        </div>
                        {% endif %}
					</div>
				</div>
			<!-- </section> -->
			<!-- main-container end -->
{% endblock content %}

{% block footer %}

<div class="subfooter navbar-fixed-bottom" style="background:black">
    <div class="container">
        <div class="subfooter-inner">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 Wheredjsplay. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock footer %}
