{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
                    <h1 style="font-weight: normal; text-transform: capitalize;">Hi {{request.user.first_name|title}}</h1>
                    <p>WHAT DO YOU WANT TO DO TODAY ?</p>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'dates'%}" class="dashboard-panels">
                                        <div>
                                            <img src="{% static 'frontend/images/dashboard/search_availabile_artist.jpeg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'compare_artists' %}" class="dashboard-panels">
                                        <div>
                                            <img src="{% static 'frontend/images/dashboard/compare_artist.jpeg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'territory_search' %}" class="dashboard-panels">
                                        <div>
                                            <img src="{% static 'frontend/images/dashboard/research_global_venues.jpeg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'my_events' %}" class="dashboard-panels">
                                        <div>
                                            <img src="{% static 'frontend/images/dashboard/setup_ur_event.jpeg' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'artists' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Skip</a>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
