{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
<div class="container" style="padding-bottom:100px;">
    <br>
    <center>
    <h1>Wheredjsplay.com</h1>
    <br>
    <h3>If you want to reactivate your account, Then email us at info@wheredjsplay.com </h3>
    </center>
</div>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
