{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Confirm Email </title> {% endblock title %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Email Validated </li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container">
        <div class="row border_top">
          <div class="col-md-8 col-md-offset-2" style="margin-top:100px;">
            <div class="pv-30 ph-20 feature-box bordered text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200" style=" margin-top: 40px; background:rgb(243, 243, 243);">

                <!-- <form class="form-horizontal" method="post" data-toggle="validator"> -->
                      <h3>
                          <b>Great {{request.user.first_name|title}}! You have validated your Email Address!</b>
                      </h3>
                      <p>You are just a few clicks away from a new world of Artist information.</p>
                    {% csrf_token %}
                    <div class="btn-group">
                        <a type="button" href="{% url 'after_email' %}" style="background-color:#09afdf;" class="btn btn-default ">LETS GET STARTED !<i class="fa fa-arrow-circle-right" style="font-size:15px;margin-left:5px;"></i></a>
                    </div>
                </div>
              <!-- </form> -->
            </div>
        </div>
    </div>
{% endblock %}
