{% extends 'artist/base_email.html' %}
{% block email_body %}
<h1>Reset Password!</h1>
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi,</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    It looks like you have regesterd a new Account- if it was not you please contact admin@wheredjsplay.com to check out whats actually happened -
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please check below your OTP to validate your email email Address .
</p>
<div style='text-align: center; padding:10px;padding: 40px;background-color: aliceblue;'>
    <a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color:  lightblue;padding: 8px 40px;border: 1px solid lightblue; border-radius: 3px;color: black;font-weight: bold;font-family: sans-serif;font-size: 14px;"  >{{ otp }}</a>
</div>
<br/>
{% endblock %}
