{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Email Not Validated </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Email validation</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block extra_js %}

    <script>

    $(document).ready(function() {
        $(function(){
            $(".success_msg").fadeOut(20000)
        })
    });

    </script>

{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<!-- <section class="main-container jumbotron light-gray-bg text-center margin-clear"> -->
				<div class="container">

					<div class="row" style="margin-top:30px;">
						<!-- main start -->
						<!-- ================ -->
						<div class="col-md-7 col-md-offset-3 pv-0" style="margin-bottom: 84px;">
                            <h3 style="text-align:center;margin-bottom: 40px;"><span class="text-default"> <b>{{ request.user.first_name }}</b><br> Thanks for signing up!</span></h3>
                            <p style="text-align:justify; font-size: 16px;">Please check your inbox or spam folder for an email with a verification link and then the site will open in a new window and login from there.</p>
                            <p style="text-align:justify; font-size: 16px;">
                                You can then buy the plan you need once you have logged in.
                            </p>
                            <p style="text-align:center; font-size: 14px; margin-top: 35px;">Click <b>Resend Verification Email</b> if you didn't receive the link.</p>
                            <div class="row">
                                <!--<div class="col-md-7">-->
                                <!-- <h4 class="pull-left"><strong>Got the Link ?</strong></h4> -->
                                <!--<a href="{% url 'plans'%}" class="btn btn-default btn-animated pull-left">-->
                                    <!--<i class="fa fa-arrow-circle-right"></i>Click here to login and buy your chosen plan-->
                                <!--</a>-->
                                <!--</div>-->
                                <div class="visible-xs">
                                  <div class="col-md-2 text-center">
                                      <!-- <a href="/" class="btn btn-default btn-animated pull-left" style="background-color:black; border-color:black;">
                                          Please Click here if you Validated <br>your email Address
                                      </a> -->
                                      <a href="{% url 'generate_confirmation_email' %}" class="btn btn-default btn-animated" style="background-color:red; border-color:red;">
                                          Resend Verification Email <i class="glyphicon glyphicon-envelope"></i>
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-12 hidden-xs text-center">
                                    <a href="{% url 'generate_confirmation_email' %}" class="btn btn-default btn-animated" style="background-color:green; border-color:green;margin-right: 20px;">
                                        Resend Verification Email <i class="glyphicon glyphicon-envelope"></i>
                                    </a>
                                    <a href="/" class="btn btn-default btn-animated" ><i class="fa fa-arrow-circle-right"></i>
                                        LOGIN ONCE VERIFIED
                                    </a>
                                </div>
                                <!-- <div class="col-md-2 col-md-offset-5">
                                <a href="{% url 'generate_confirmation_email' %}" class="btn btn-default btn-animated pull-left" style="background-color:black; border-color:black;">
                                    Resend Email <i class="glyphicon glyphicon-envelope"></i>
                                </a>
                                </div> -->
                            </div>
						</div>

						<!-- main end -->

					</div>
				</div>

			<!-- </section> -->



			<!-- main-container end -->
{% endblock content %}

{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
