{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}


{% block title %} {{ block.super }} | Forget Password </title> {% endblock title %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
                        <li class="active">Login</li>
                        <li class="active">Forget Password</li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container dark-translucent-bg" style="background-image:url('images/background-img-6.jpg');">
		<div class="container">
			<div class="row">
				<!-- main start -->
				<!-- ================ -->
				<div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
					<div class="form-block center-block p-30 light-gray-bg border-clear">
						<h2 class="title">Re-Enter Your Email To Reset Your Password</h2>
                        <form class="form-horizontal" method="post" data-toggle="validator">
                            {% csrf_token %}
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_email">*Email</label>
                                    <input id="id_email" type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1">
                                    <small class="error-field">
                                    <div class="help-block with-errors"></div>
                                        {% if form.non_field_errors and not form.email.errors %}
    		                                {{ form.non_field_errors.as_text }}
    		                            {% else %}
    		                                {{ form.email.errors.as_text }}
    		                            {% endif %}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: -8px;">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <input type="submit" value="Reset Password" class="btn btn-primary btn-sm"/>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{% url 'login_user' %}"><strong style="color: #2c3e50">Login</strong> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
				<!-- main end -->
			</div>
		</div>
	</div>
	<!-- main-container end -->

	<!-- footer top start -->
	<!-- ================ -->

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
