{% extends 'artist/base_email.html' %}
{% block title %}
    <h1>Reset Password</h1>
{% endblock title %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi,</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    It looks like you have requested a new password- if it was not you please contact <a class="link" href="mailto:admin@wheredjsplay.com">admin@wheredjsplay.com</a> to check out whats actually happened -
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please click below to reset your password
</p>
{% endblock email_body %}
{% block button %}
<tr>
    <td style="padding: 20px 0 0 0;">
    <table class="buttonwrapper" align="center" bgcolor="#0c9ec7" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="button" height="45">
            <a href="{{ reset_link }}">Reset Password</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock button %}