{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}


{% block title %} {{ block.super }} | Forget Password </title> {% endblock title %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock %}

{% block content %}

    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Login</li>
                        <li class="active">Forget Password</li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container dark-translucent-bg" style="background-image:url('images/background-img-6.jpg');">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100" style="margin-top: 36px; margin-bottom: 36px">
                    <div class="form-block center-block p-30 light-gray-bg border-clear">
                        <h2 class="title">PASSWORD RESET</h2>
                        <div style='font-size: large;'>
                            We have sent you an email to reset your password, please use the instructions provided to setup new password. Alternatively contact our support team to help you &nbsp;<a href="mailto:support@wheredjsplay.com"><i class="fa fa-envelope-o pr-10"></i>support@wheredjsplay.com</a>
                        </div>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "home/_footer.html" %}
{% endblock footer %}
