{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Introduction 4 </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'thanks' %}">Introduction</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                <div class="intro-step-card">
                    <div>
                        <!-- <div class="clearfix">
                            <div class="skip--button">
                                <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                            </div>
                        </div> -->
                        <h3 class="step-header">
                            As a bonus we search the worlds dance sites for news about your favorite artists and send it straight to your inbox—
                            <!-- We send our WDJP cool global artist news - You have selected -->
                        </h3>
                        <p style="text-align:left;">
                            We also scour the worlds dance media for news on your favourite artists and deliver simple summaries into your inbox ? <br>  If so please select on which days would you like to get your personalized news about
                            {% if favorite_artist_name %}
                                (<strong>{{favorite_artist_name}}</strong>)
                            {% else %}
                                (Your Favourite Artists)
                            {% endif %}
                            <!-- How frequently would you like news about them ? -->
                        </p>
                        <!-- <p>Thanks for requesting a invitation to join our community</p>
                        <p>Your request to join our community has been provisionally approved subject the to following conditions</p>
                        <p>*These aren’t simply Terms and Conditions”  We aren’t sophisticated to have those yet…;_)</p>
                        <div class="thumbnail" style="border-radius: 0; padding: 15px; margin-top: 30px;">
                            <ul style="padding-left: 16px">
                                <li>
                                    While we are in BETA please don’t share with everyone promoting the site for now.
                                    Please ask us if you want your friends to have accounts too.  We will almost always give them.
                                </li>
                                <hr>
                                <li>
                                    The information we gather is largely public. not private- the djs are not yet involved in the listing +analysis process.
                                    If you use the booking request system we have, it emails the booking requests for you to you- manage from your business, Not from ours
                                </li>
                            </ul>
                        </div> -->
                        <form action="" method="post" name="email_frequency" multiple>{% csrf_token %}
                            <div id="id_email_frequency">
                                <div class="checkbox">
                                    <label for="id_email_frequency_0">
                                    <input style="display: inline-block;" id="id_email_frequency_0" {% if "Monday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Monday" /> Monday</label>
                                </div>
                                <div class="checkbox" style="margin-left: 2px;">
                                    <label for="id_email_frequency_1">
                                    <input style="display: inline-block;" id="id_email_frequency_1" {% if "Tuesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Tuesday" /> Tuesday</label>
                                </div>
                                <div class="checkbox" style="margin-left: 22px;">
                                    <label for="id_email_frequency_2">
                                    <input  style="display: inline-block;" id="id_email_frequency_2" {% if "Wednesday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Wednesday" /> Wednesday</label>
                                </div>
                                <div class="checkbox" style="margin-left: 8px;">
                                    <label for="id_email_frequency_3">
                                    <input style="display: inline-block;" id="id_email_frequency_3" {% if "Thrusday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Thursday" /> Thursday</label>
                                </div>
                                <div class="checkbox" style="margin-right: 14px;">
                                    <label for="id_email_frequency_4">
                                    <input  style="display: inline-block;" id="id_email_frequency_4" {% if "Friday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Friday" /> Friday</label>
                                </div>
                                <div class="checkbox" style="margin-left: 6px;">
                                    <label for="id_email_frequency_5">
                                    <input style="display: inline-block;" id="id_email_frequency_5" {% if "Saturday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Saturday" /> Saturday</label>
                                </div>
                                <div class="checkbox" style="margin-right: 4px;">
                                    <label for="id_email_frequency_6">
                                    <input style="display: inline-block;" id="id_email_frequency_6" {% if "Sunday" in email_frequency_value %} checked {% endif %} name="email_frequency" type="checkbox" value="Sunday" /> Sunday</label>
                                </div>
                            </div>
                    </div>
                    <div class="intro-step-indicator">
                        <span></span>
                        <span></span>
                        <span ></span>
                        <span class="active" ></span>
                        <span></span>
                        <!-- <span ></span> -->
                    </div>
                    <div>
                      <a href="{% url 'introduction4' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                      <button type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                    </div>
                    <div class="clearfix">
                        <div class="skip--button">
                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                        </div>
                    </div>
                  </form>
                </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
