{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Introduction 3 </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'introduction4' %}">We Set Up Your Favorite With Love</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
                        <div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <!-- <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div> -->
                                    <h2 class="step-header">
                                        WE SET UP YOUR FAVOURITES WITH LOVE
                                    </h2>
                                    <p>Just to let you know - Every DJ has a HEART icon and by clicking on that icon, you can select them as your favorites . Any time you are searching for talent or DJ shows, the “Prioritise Your Favorites” function will bring these DJs to the top of your search results including when you are researching their availability </p>
                                    <hr>
                                    {% for artist in profile.favorite_artist.all %}
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="sliderImgWrapper">
                                                    {% if artist.artistPhoto %}
                                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p style="font-size: 18px; text-align: left; margin-top: 15px;">{{artist.artistName}}
                                                    {% if artist in profile.favorite_artist.all %}
                                                        <img style="display:inline; width:15px;" id="multi_heart_filled_icon{{artist.artistID}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                                        <!-- <img style="display:none; width:20px;" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" style="display: none;" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                                    {% else %}
                                                    <div class="overlay">
                                                        <!-- <img style="display:inline; width:20px;" id="multi_heart_outline_icon{{artist.artist_obj.artistID}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="multi_add_to_favorite({{artist.artist_obj.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px"> -->
                                                        <img style="display:none; width:15px;" id="multi_heart_filled_icon{{artist.artistID}}" style="display: none;" src= "{% static 'frontend/images/favorite.png' %}" onclick="multi_remove_from_favorite({{artist.artistID}});" alt="{{artist.artist_obj.artistName}}" width="200px" height="200px">
                                                    </div>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <h4 class="step-header">
                                        Heres how to do it !
                                    </h4>
                                    <p></p>
                                    <img src="{% static 'frontend/images/heart_fav_image.png'%}" alt="">
                                    <hr>
                                    <img src="{% static 'frontend/images/priotize_screenshot.png'%}" alt="">
                                </div>
                                <div class="intro-step-indicator">
                                    <span></span>
                                    <span></span>
                                    <span class="active"></span>
                                    <!-- <span></span> -->
                                    <span ></span>
                                    <span ></span>
                                </div>
                                <div>
                                    <a href="{% url 'introduction3' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                    <a href="{% url 'introduction5' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                </div>
                                <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div>
                            </div>

						</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
