{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Introduction 5 </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'introduction5' %}">Thanks</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
                        <div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <!-- <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div> -->
                                    <h2 class="step-header">
                                        THANKS FOR ALL THAT AND WELCOME TO THE WDJP COMMUNITY.
                                    </h2>
                                    <hr>
                                    <p style="text-align:left;">You can find out how to use the service by clicking on any of the four videos which highlight what we can do - </p>
                                    <p style="text-align:left;"><i class="fa fa-film" aria-hidden="true"></i> <a href="https://youtu.be/wGQdFhfyAoQ" target="_blank">Search 1000 artists global potential availability live</a></p>
                                    <p style="text-align:left;"><i class="fa fa-film" aria-hidden="true"></i> <a href="https://youtu.be/7g3Pu7xkGTE" target="_blank">Compare their Popularity</a></p>
                                    <p style="text-align:left;"><i class="fa fa-film" aria-hidden="true"></i> <a href="https://youtu.be/ldraSi66JdI" target="_blank">Research Worldwide shows to perform at or work</a></p>
                                    <p style="text-align:left;"><i class="fa fa-film" aria-hidden="true"></i> <a href="https://youtu.be/vm8OTVfgUaE" target="_blank">Set up events and use our global agent and manager database to try and book those artists, track your booking requests so your events will get booked quicker and better</a></p>

                                    <p style="text-align:left;">If not. Dive in to WDJP and Happy Searching!</p>
                                </div>
                                <div class="intro-step-indicator">
                                    <span ></span>
                                    <span></span>
                                    <span ></span>
                                    <span ></span>
                                    <span class="active"></span>
                                    <!-- <span ></span> -->
                                </div>
                                <div>
                                    <a href="{% url 'introduction5' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                    <a href="{% url 'dashboard' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> ENTER THE SYSTEM</a>
                                </div>
                                <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div>

                            </div>

						</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
