{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $(".countries").select2();
    });
</script>

{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
                    <div class="row">
                        <div class="col-xs-12">
        					<ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        						<li class="active"><a href="{% url 'introduction2' %}">Which Country Do You Generally Wanna Focus On Music Wise</a></li>
        					</ol>
                        </div>
                    </div>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                <div class="intro-step-card">
                    <div class="clearfix">
                        <div class="skip--button">
                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                        </div>
                    </div>
                    <h2 class="step-header">
                        Which COUNTRY DO YOU GENERALLY WANNA FOCUS ON MUSIC WISE ?
                    </h2>
                    <!-- <p>
                        Please tell us which country you generally wanna focus on
                    </p> -->
                    <form action="" method="post" multiple>{% csrf_token %}
                        <select name="country" class="form-control countries">
                            {% for country in countries %}
                                <option value="{{country.code}}" {% if profile.country_intrested_in == country.name %} selected {% endif %} >{{country.name}}</option>
                            {% endfor %}
                        </select>
                        <div class="intro-step-indicator">
                            <span ></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span ></span>
                            <span ></span>
                        </div>
                        <div>
                            <a href="{% url 'introduction' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                            <button type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                        </div>
                    </form>
                </div>

						</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
