{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Introduction 1 </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'thanks' %}">Introduction</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <!-- <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div> -->
                                    <h2 class="step-header">
                                        Greetings {{request.user.first_name}} {{request.user.last_name}}
                                    </h2>
                                    <p>Thanks for requesting an invitation to join our community</p>
                                    <p> You request to join our community has been approved !</p>
                                    <!-- <p>Please check the following important simple info about our site and how we hope to work with you</p> -->
                                    <!-- <div class="thumbnail" style="border-radius: 0; padding: 15px; margin-top: 30px;">
                                        <ul style="padding-left: 16px">
                                            <li>
                                                While we are in BETA, please don’t share with everyone promoting the site for now.
                                                Please ask us if you want your friends to have accounts too.  We will almost always give them.
                                            </li>
                                            <hr>
                                            <li>
                                                The information we gather is largely public, not private. the djs are not yet involved in the listing and analysis process.
                                                If you use the booking request system we have, it emails the booking requests to you.it is managed from your business and Not from ours.
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="intro-step-indicator">
                                  <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span ></span>
                                    <!-- <span ></span> -->
                                </div>
                                <div>
                                    <!-- <a href="/" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Skip</a> -->
                                    <a href="{% url 'introduction3' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                </div>
                                <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
