{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Introduction 2 </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $(".all_artists").select2();
    });
</script>

{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'introduction3' %}">Add Some Of Your Favorite Artist</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <!-- <div class="clearfix">
                                    <div class="skip--button">
                                        <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                    </div>
                                </div> -->
                                <h2 class="step-header">
                                    PLEASE ADD SOME OF YOUR FAVORITE ARTISTS
                                </h2>
                                <p>
                                    WDJP is a system for helping people in music think better about Djs and bands, availability and popularity booking and partying  wed like to know more about some of your favourite artists- so we can send you appropriate news and information about them.
                                </p>
                                <form action="" method="post" multiple>{% csrf_token %}
                                    <select name="fav_artists" class="form-control all_artists" multiple="multiple">
                                        {% for artist in artists%}
                                            <option value="{{artist.0}}" {% if artist in all_user_fav_artist %}selected{% endif %}>{{artist.1}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="intro-step-indicator">
                                        <span ></span>
                                        <span class="active" ></span>
                                        <span ></span>
                                        <span></span>
                                        <span></span>
                                        <!-- <span ></span> -->
                                    </div>
                                    <div>
                                        <a href="{% url 'introduction' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                        <button type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                    </div>
                                    <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>

						</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
