{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript">
        function load()
        {
        setTimeout("window.open('{% url 'login_user' %}', '_self');", 7000);
        }
    </script>
{% endblock %}


{% block content %}
<body onload="load()">
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6 col-md-offset-3">
							<!-- <h2 class="page-title"><span class="text-default">Thanks</span></h2> -->
                            {% if user %}
                            <h2 style="color:dimgrey;" class="page-title">
                                {{user.first_name|title}} {{user.last_name|title}}
                            </h2>
                            {% endif %}
                            <p>HAPPY DAY !! {% if not coupon %} Successfully sign up !!{% endif %}</p>
                            {% if coupon %}
                                    <p>Your Coupon has been sucessfully Added </p>
                                    <p>You now have {{coupon.coupon_time}} days free trial. Hope you enjoy using our system ;)</p>
                                    <p>We hope you enjoy using WDJP and welcome </p>
                            {% endif  %}
                            <p>You will be redirected to the login page where you will be instructed to re-enter your email and password.</p>
							<a href="{% url 'login_user' %}" class="btn btn-default btn-animated btn-lg">Login Now <i class="fa fa-home"></i></a>
						</div>
					</div>
				</div>
			</section>
</body>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
