{% extends "home/__base.html" %}
{% load staticfiles %}

{% load humanize %}
{% block title %} {{ block.super }} | Login </title> {% endblock title %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">

<script>

    $( "#signup_email_form" ).submit(function( event ) {

        var your_name = $("#id_name").val();
        var your_email = $("#id_email_signup").val();
        var your_password = $("#id_password_signup").val();
        var required = "*This Field is required"

        if($("#id_name").val() == ""){
            $("#id_name_error").html(required);
            event.preventDefault();
        }
        if($("#id_email_signup").val() == ""){
            $("#id_email_error").html(required);
            event.preventDefault();
        }
        if($("#id_email_signup").val() != ""){
            var x = $("#id_email_signup").val();
            var atpos = x.indexOf("@");
            var dotpos = x.lastIndexOf(".");
            if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
                $("#id_email_error").html("*Please enter the valid email address");
                return false;
            }
            // event.preventDefault();
        }

        if($("#id_email_signup").val() == ""){
            $("#id_email_error").html(required);
            event.preventDefault();
        }

        if($("#id_password_signup").val() == ""){
            $("#id_password_error").html(required);
            event.preventDefault();
        }

    });

    $( "#id_name" ).click(function() {
        $("#id_name_error").html("");
    });
    $( "#id_name" ).keypress(function() {
        $("#id_name_error").html("");
    });

    $("#id_email_signup").click(function() {
        $("#id_email_error").html("");
    });
    $("#id_email_signup").keypress(function() {
        $("#id_email_error").html("");
    });

    $( "#id_password_signup" ).click(function() {
        $("#id_password_error").html("");
    });
    $( "#id_password_signup" ).keypress(function() {
        $("#id_password_error").html("");
    });

</script>

{% endblock %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                    <li class="active">Log in</li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-4">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- breadcrumb end -->

	<!-- main-container start -->
	<!-- ================ -->
	<div class="main-container">
		<div class="container">
			<div class="row">
				<!-- main start -->
				<!-- ================ -->
				<div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
					<div class="form-block center-block p-30 light-gray-bg login__container">
						<h2 class="title text-center">Login</h2>
						<form id="loginForm" action="{{ request.get_full_path }}" method="post" class="top_margin" data-toggle="validator" role="form">
							{% csrf_token %}
		                    <input type="hidden" name="next" value="{{ next }}"/>
                            <input type="hidden" name="action" value="sign_in">
		                    <div class="form-group">
		                        {{ form.email.label_tag }}
		                        {{ form.email }}
		                        <small class="error-field">
		                            <div class="help-block with-errors "></div>
		                            {% if form.non_field_errors and not form.email.errors %}
		                                {{ form.non_field_errors.as_text }}
		                            {% else %}
		                                {{ form.email.errors.as_text }}
		                            {% endif %}
		                        </small>
		                    </div>
		                    <div class="form-group {% if form.password.errors %}has-error{% endif %}" style="margin-bottom: 2px; margin-top: -8px; margin-bottom: -10px;">
		                        {{ form.password.label_tag }}
		                        {{ form.password }}
		                        <small class="error-field">
		                            <div class="help-block with-errors"></div>
		                            {{ error_message }}
		                            {{ form.password.errors.as_text }}<br>
		                        </small>
		                        {% if error_message %}
		                            <br>
                                {% endif %}
		                    </div>
                            <div class="row">
                                <div class="col-md-2">
        		                    <div class="bottom_margin">
        		                        <button class="btn btn-info" type='submit'>
        		                            <b>Sign in</b>
                                        </button>
                                        <small class="help-block with-errors">{% if is_robot %} ReCaptcha Failed{% endif %}</small>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-6 col-xs-8" style="margin-top: 10px;">
                                    <a href="{% url 'forget_password' %}">Forgot your password?</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h4 style="color:#777777;">Don't have an account? Please <a href="{% url 'request_an_invite' %}">Sign up!</a></h4>
                                </div>
                            </div>
                            </form>

                                {% if request.GET.connect == "required" %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Please connect your Profile First with Registered User !</strong>
                                    </div>
                                {% endif %}

                                <p class="hidden-xs hidden-sm" style="margin-bottom: 20px;">_________________________________ <strong>REGISTERED USERS</strong> ________________________________</p>

                                <p class="hidden-lg hidden-md" style="margin-bottom: 20px;">__________ <strong>REGISTERED USERS</strong> _________</p>

                                <div class="hidden-xs" style="margin-top:-35px;">
                                    <!-- <a style="margin-left: 418px;" href="{% url 'forget_password' %}">Forgot your password?</a><br><br> -->
                                <!-- </div> -->
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                                    style="color: white; background-color:#e84f3e; text-align:center;">
                                               <span class="fa fa-google"></span> Login with Google
                                           </a>
                                            <a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                                   style="color: white; background-color:#3b5998; text-align:center;">
                                               <span class="fa fa-facebook"></span> Login with Facebook
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden-md hidden-sm hidden-lg" >
                                    <div class="row">
                                        <!-- <div class="col-md-2"
                                            <a  href="{% url 'forget_password' %}">Forgot your password?</a><br><br>
                                        </div> -->
                                        <div class="col-md-4" style="margin-right: -60px;">

                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <a href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                                            style="color: white; background-color:#e84f3e; text-align:center; width: 80%;">
                                                       <span class="fa fa-google"></span> Login with Google
                                                   </a>
                                                   <a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                                          style="color: white; background-color:#3b5998; text-align:center; width: 80%;">
                                                      <span class="fa fa-facebook"></span> Login with Facebook
                                                   </a>
                                                </div>
                                           </div>
                                         <!-- <a href="#" class="btn btn-block btn-social btn-facebook" style="width: 80%; color: white; background-color:#3b5998; text-align:center;"> <span class="fa fa-facebook"></span>
                                              Login with Facebook</a> -->
                                      </div>
                                    </div>
                                </div>
		                <!-- </form> -->
					</div>

                    <div class="container">
                        <br>
                        <h3 class="title signup__services"><strong>OUR INDUSTRY INFORMATION SERVICES </strong></h3> <br>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                    <span class="icon default-bg circle" style="background-color:red"><i class="fa fa-hand-peace-o" style="margin-top: 15px;"></i></span>
                                    <h3 class="txt-dark">Promoter</h3>
                                    <!-- <a href="{% url 'promoter_link' %}"><p>Take the promoter tour</p></a> -->
                                    <a href="{% url 'promoter_link' %}" class="btn btn-info" style="background-color:red;border:red;">Take the Promoter Tour</a><br>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                    <span class="icon default-bg circle" style="background-color:black"><i class="glyphicon glyphicon-headphones" style="margin-top: 15px;"></i></span>
                                    <h3 class="txt-dark">DJ</h3>
                                    <!-- <a href="{% url 'dj_link' %}"><p>Take the DJ tour</p></a> -->
                                    <a href="{% url 'dj_link' %}" class="btn btn-info" style="background-color:black;border:black;" data-toggle="modal" data-id="dj_data">Take the DJ Tour</a>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                    <span class="icon default-bg circle"><i class="glyphicon glyphicon-earphone" style="margin-top: 15px;"></i></span>
                                    <h3 class="txt-dark">Agent</h3>
                                    <!-- <a href="{% url 'agent_link' %}"><p>Take the agent tour</p></a> -->
                                    <a href="{% url 'agent_link' %}" class="btn btn-info" style="background-color:#09afdf;"  data-toggle="modal" data-id="agent_data">Take the Agent Tour</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div> <br>
				<!-- main end -->
			</div>
		</div>
	</div>
	<!-- main-container end -->

	<!-- footer top start -->
	<!-- ================ -->

{% endblock %}
	<!-- footer top end -->

	<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
	<!-- ================ -->

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
