{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} |  Plans </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript">
    $('.update_popup').click(function() {
                url = "{% url 'add_card' %}";
                $.ajax({
                    type: 'GET',
                    url: url ,
                    success: function(data){
                        $('.modal-body').html(data) 
                        $('#add_card').modal('show');    
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Error: " + errorThrown); 
                    }       
                });
            });
    </script>

    <script>

        function cancel_subscription(){
            $("#confirm_cancel_subscription").modal("show");
        }

    </script>
{% endblock %}
{% block slider %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">WDJP USER PLANS</li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
{% endblock slider %}

{% block content %}

		<div class="container">
			<div class="row">
        <div class="col-md-8 text-center col-md-offset-2 pv-20">
          <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"><strong>{{ user_name }}</strong></h4>
          <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
					<h4 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                        {% if profile.stripe_plan.title %}
                            {% if profile.is_trial_done %}
                                You are currently using <strong>{{profile.stripe_plan.title}}</strong> Trial plan</h4>
                            {% else %}
                                You are currently subscribed to the <strong>{{profile.stripe_plan.title.title}}</strong></h4>
                            {% endif %}
                        {% else %}
                            You are currently Not subscribed to Any <strong>Plan</strong></h4>
                        {% endif %}
					<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				</div>
			</div>
		</div>
	<!-- banner end -->
    <div>
        <div class="container">
          <div class="row">
         
            <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall currentPlanDetailsPage"  data-effect-delay="0">
              
                {% if profile.stripe_plan.title == "Promoter" %}
                  <div class="col-sm-4 currentPlanDetails {% if not card_details %}  col-sm-offset-2 {% endif %}">
                    <div class="PaymentDetailsCard shadow">
                      <div class="panel panel-default">
                        <div class="panel-heading">Plan Details</div>
                        <div class="panel-body">
                           <ul>
                            <!-- <li><b>Its 1 USD for the first two weeks and then 39 USD thereafter.</b></li> -->
                            <li>Set Up and Manage your Event Planning</li>
                            <li>Global Artist Availability Searches</li>
                            <li>Compare Global Dj popularity</li>
                            <li>Research Global Events</li>
                            <li>Targeted Dj news of your Favorite Talent</li>
                            <li>Lessons and Updates</li>
                            <li>Many other effective searches</li>
                            <li>
                        </div>
                      </div>                     
                    </div>
                  </div>


                    <div class="col-sm-4">
                        <div class="PaymentDetailsCard shadow">
                         <div class="panel panel-default">
                          <div class="panel-heading">Payment Details 
                            {% if card_details %}
                                <a href="" class="btn btn-info  update_popup" data-toggle="modal">Add Card</a>
                            {% endif %}
                          </div>
                          <div class="panel-body">
                        <ul>
                        {% if start_time %}
                            {% if subscription_obj.from_coupon %}
                                <li>You are using a Coupon to get free Access</li>
                                <li>Your Coupon was set up on <strong>({{start_time}})</strong></li>
                                <li>Your Coupon ends on  <strong>({{end_time}})</strong></li>
                                <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a>
                                <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>
                            {% else %}
                                {% if not profile.is_trial_done %}
                                    <li>Monthly Payment is <strong>(${{profile.stripe_plan.amount}})</strong></li>
                                    <li>Billing was set up on <strong>({{start_time}})</strong></li>
                                    <li>Next Payment is due on <strong>({{end_time}})</strong></li>
                                    <div class="paymentactionBtns">
                                      <a class="btn btn-danger" href="{% url 'refund' %}">Refund Subscription</a>                                
                                      <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>                                      
                                    </div>
                                    {# <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a> #}
                                {% else %}
                                    <li> LUCKY YOU - You are on a free trial plan for {{trial_days}} days</li>
                                    <li>Your Trial plan was set up on <strong>({{start_time}})</strong></li>
                                    <li>Your Trial plan will end at <strong>({{end_time}})</strong></li>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <li><h4>Your billing is not set up yet.</h4></li>
                        {% endif %}
                      </ul>
                    </div>
                    </div>                     
                  </div>               
                        </div>    
                 {% if card_details %}
                 <div class="col-sm-4">
                  <div class="PaymentDetailsCard shadow">
                     <div class="panel panel-default">
                      <div class="panel-heading">Card Details <span class="label label-success"> Primary </span></div>
                      <div class="panel-body">
                          <ul>
                              <li>Card Number : <span>{{card_details.card_number}}</span></li>
                              <li>Holder Name :<span> {{card_details.holder_name}}</span></li>
                              <li>Card Type : <span>{{card_details.card_type}}</span></li>
                              <li>Expire mm/yy :<span> {{card_details.expiry_month}}/{{card_details.expiry_year}}</span></li>
                          </ul>
                      </div>
                    </div>                     
                  </div>
                </div>
                {% endif %}

              
                {% endif %}

                {% if profile.stripe_plan.title == "Agent" %}
                <div class="col-sm-4 currentPlanDetails {% if not card_details %}  col-sm-offset-2 {% endif %}">
                    <div class="PaymentDetailsCard shadow">
                      <div class="panel panel-default">
                        <div class="panel-heading">Plan Details</div>
                        <div class="panel-body">
                           <ul>
                            <!-- <li><b>Its 1 USD for the first two weeks and then 39 USD thereafter.</b></li> -->
                            <!-- <li>Global Artist Availability Searches</li> -->
                            <li>Compare Global Dj popularity</li>
                            <li>Research Global Events</li>
                            <li>Targeted Dj news of your Favorite Talent</li>
                            <li>Lessons and Updates</li>
                            <li>Many other effective searches</li>
                        </div>
                      </div>                     
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="PaymentDetailsCard shadow">
                     <div class="panel panel-default">
                      <div class="panel-heading">Payment Details 
                        {% if card_details %}
                          <a href="" class="btn btn-info  update_popup" data-toggle="modal">Add Card</a>
                        {% endif %}
                      </div>
                      <div class="panel-body">
                    <ul>
                    {% if start_time %}
                        {% if subscription_obj.from_coupon %}
                            <li>You are using a Coupon to get free Access</li>
                            <li>Your Coupon was set up on <strong>({{start_time}})</strong></li>
                            <li>Your Coupon ends on  <strong>({{end_time}})</strong></li>
                            <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a>
                            <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>
                        {% else %}
                            {% if not profile.is_trial_done %}
                                <li>Monthly Payment is <strong>(${{profile.stripe_plan.amount}})</strong></li>
                                <li>Billing was set up on <strong>({{start_time}})</strong></li>
                                <li>Next Payment is due on <strong>({{end_time}})</strong></li>
                                <div class="paymentactionBtns">
                                  <a class="btn btn-danger" href="{% url 'refund' %}">Refund Subscription</a>                                
                                  <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>                                      
                                </div>
                                {# <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a> #}
                            {% else %}
                                <li> LUCKY YOU - You are on a free trial plan for {{trial_days}} days</li>
                                <li>Your Trial plan was set up on <strong>({{start_time}})</strong></li>
                                <li>Your Trial plan will end at <strong>({{end_time}})</strong></li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li><h4>Your billing is not set up yet.</h4></li>
                    {% endif %}
                  </ul>
                </div>
                </div>                     
              </div>               
                    </div> 
                
                {% if card_details %}
                <div class="col-sm-4">
                    <div class="PaymentDetailsCard shadow">
                       <div class="panel panel-default">
                        <div class="panel-heading">Card Details <span class="label label-success"> Primary </span></div>
                        <div class="panel-body">
                            <ul>
                                <li>Card Number : <span>{{card_details.card_number}}</span></li>
                                <li>Holder Name :<span> {{card_details.holder_name}}</span></li>
                                <li>Card Type : <span>{{card_details.card_type}}</span></li>
                                <li>Expire mm/yy :<span> {{card_details.expiry_month}}/{{card_details.expiry_year}}</span></li>
                            </ul>
                        </div>
                      </div>                     
                    </div>
                  </div>
                {% endif %}
                {% endif %}


                {% if profile.stripe_plan.title == "Artist/DJ" %}
                <div class="col-sm-4 currentPlanDetails {% if not card_details %}  col-sm-offset-2 {% endif %}">
                    <div class="PaymentDetailsCard shadow">
                      <div class="panel panel-default">
                        <div class="panel-heading">Plan Details</div>
                        <div class="panel-body">
                           <ul>
                            <li>Global Artist Availability Searches.</li> 
                            <li>Set Up and Manage your Event Planning</li>
                            <li>Track your offers</li>
                            <li>Send Booking requests to your email</li>
                            <li>Access to our database of the worlds top Agent</li>
                            <li>Compare Global Dj popularity</li>
                            <li>Research Global Events</li>
                            <li>Targeted Dj news of your Favorite Talent</li>
                            <li>Lessons and Updates</li>
                            <li>Many other effective search</li>
                            <li>Track Artist Online Functionality</li>
                        </div>
                      </div>                     
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="PaymentDetailsCard shadow">
                     <div class="panel panel-default">
                      <div class="panel-heading">Payment Details 
                        {% if card_details %}
                          <a href="" class="btn btn-info  update_popup" data-toggle="modal">Add Card</a>
                        {% endif %}
                      </div>
                      <div class="panel-body">
                    <ul>
                    {% if start_time %}
                        {% if subscription_obj.from_coupon %}
                            <li>You are using a Coupon to get free Access</li>
                            <li>Your Coupon was set up on <strong>({{start_time}})</strong></li>
                            <li>Your Coupon ends on  <strong>({{end_time}})</strong></li>
                            <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a>
                            <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>
                        {% else %}
                            {% if not profile.is_trial_done %}
                                <li>Monthly Payment is <strong>(${{profile.stripe_plan.amount}})</strong></li>
                                <li>Billing was set up on <strong>({{start_time}})</strong></li>
                                <li>Next Payment is due on <strong>({{end_time}})</strong></li>
                                <div class="paymentactionBtns">
                                  <a class="btn btn-danger" href="{% url 'refund' %}">Refund Subscription</a>                                
                                  <a class="btn btn-danger" onclick="cancel_subscription()">Cancel Subscription</a>                                      
                                </div>
                                {# <a href="" class="btn update_popup float-right btn-primary main_btn mb-25" data-toggle="modal">Add Card</a> #}
                            {% else %}
                                <li> LUCKY YOU - You are on a free trial plan for {{trial_days}} days</li>
                                <li>Your Trial plan was set up on <strong>({{start_time}})</strong></li>
                                <li>Your Trial plan will end at <strong>({{end_time}})</strong></li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li><h4>Your billing is not set up yet.</h4></li>
                    {% endif %}
                  </ul>
                </div>
                </div>                     
              </div>               
                    </div> 
                
                {% if card_details %}
                <div class="col-sm-4">
                    <div class="PaymentDetailsCard shadow">
                       <div class="panel panel-default">
                        <div class="panel-heading">Card Details <span class="label label-success"> Primary </span></div>
                        <div class="panel-body">
                            <ul>
                                <li>Card Number : <span>{{card_details.card_number}}</span></li>
                                <li>Holder Name :<span> {{card_details.holder_name}}</span></li>
                                <li>Card Type : <span>{{card_details.card_type}}</span></li>
                                <li>Expire mm/yy :<span> {{card_details.expiry_month}}/{{card_details.expiry_year}}</span></li>
                            </ul>
                        </div>
                      </div>                     
                    </div>
                  </div>
                {% endif %}
                {% endif %}

            </div>
           <!--  <div class="row">
                <div class="col-md-2 {% if profile.stripe_plan.title %} col-md-offset-7 {% else %} col-md-offset-5 {% endif %} ">
                    <center><button class="btn btn-default" onclick="location.href='{% url 'plans' %}';">Update Plan </button></center><br>
                </div>
            </div> -->
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="add_card">
      <div class="modal-dialog credit_card_payment" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
            </div>
        </div>
      </div>
    </div>

    <div id="confirm_cancel_subscription" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header blk-bg">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title blk-bg">Confirm Cancel Subscription</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to cancel your current subscription.<br>
                  Your data will be held with us, but any future payments will be cancelled and you will no longer be able to access our information services.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <a href="{% url 'cancel_subscription' %}" class="btn btn-danger" style="margin-top: 3px;">Yes</a>
            </div>
        </div>
        </div>
    </div>

	<!-- section start -->
	<!-- ================ -->

{% endblock content %}
