{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Plans </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block slider %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">WDJP USER PLANS</li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
{% endblock slider %}

{% block content %}

    <div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center col-md-offset-2 pv-20">
					<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">WDJP USER PLANS</h2>
					<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner end -->


	<!-- section start -->
	<!-- ================ -->
	<section class="pv-10 padding-bottom-clear clearfix">
		<div class="container">
			<div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
				<div class="row grid-space-10">
					<div class="col-sm-6">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered">
							<div class="header default-bg">
								<h3>Basic</h3>
								<div class="price"><span>$39.00</span>/m.</div>
							</div>
							<ul>
                                <li><b>Its 1 USD for the first two weeks and then 39 USD thereafter.</b></li>
                                <li>Global Artist Availability Searches</li>
                                <li>Compare Global Dj popularity</li>
                                <li>Research Global Events</li>
                                <li>Targeted Dj news of your Favorite Talent</li>
                                <li>Lessons and Updates</li>
                                <li>Many other effective searches</li>
								<form action="" method="POST">{% csrf_token %}
									<input type="hidden" name="plan_name" value="2">
									<li><button class="btn btn-default btn-animated btn-lg radius-50">Purchase<i class="fa fa-shopping-cart"></i></button></li>
								</form>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>

                    <div class="col-sm-6">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered">
							<div class="header default-bg" style="background-color:#50ea4d;">
								<h3>Premium</h3>
								<div class="price"><span>$69.00</span>/m.</div>
							</div>
							<ul>
                                <li>Global Artist Availability Searches.</li>
                                <li>Set Up and Manage your Event Planning</li>
                                <li>Track your offers</li>
                                <li>Send Booking requests to your email</li>
                                <li>Access to our database of the worlds top Agent</li>
                                <li>Compare Global Dj popularity</li>
                                <li>Research Global Events</li>
                                <li>Targeted Dj news of your Favorite Talent</li>
                                <li>Lessons and Updates</li>
                                <li>Many other effective search</li>
								<form action="" method="POST">{% csrf_token %}
									<input type="hidden" name="plan_name" value="3">
									<li><button class="btn btn-default btn-animated btn-lg radius-50" style="background-color:#50ea4d;">Purchase<i class="fa fa-shopping-cart"></i></button></li>
								</form>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
				</div>
			</div>
			<!-- pricing tables end -->
		</div>
	</section>

{% endblock content %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
