{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Plans </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block slider %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">WDJP USER PLANS</li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
{% endblock slider %}

{% block extra_js %}

    <script>

    function validate(){
        var coupon = $("#id_coupon").val()
        if(coupon == ""){
            $("#error_field").text("*This Field is required");
        }else{
            $("#id_coupon_form").submit();
        }
    }

    </script>

{% endblock %}

{% block content %}

    <div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Welcome <b>{{ request.user.first_name }}</b></h2>
                    {% for plan in plans %}
                            <span>With a *{{plan.amount}}$ monthly subscription,  you can do all this and more at WDJP</span>
                    {% endfor %}
					<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner end -->

	<!-- section start -->
	<!-- ================ -->
	<section class="pv-10 padding-bottom-clear clearfix">
		<div class="container">
      <div class="row">
            <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
            <div class="row" style="margin-top: -70px;">
               {% for plan in plans %}
                    {% if plan.title == "Artist/DJ" %}
                        <div class="col-sm-8 singlePlanCard artistDJPlanCard">
                            <div class="plan shadow light-gray-bg bordered">
                                <div class="header default-bg" style="background-color:#2e3536;">
                                    <h3>{{plan.user_type}}</h3>
                                    <div class="price"><span>${{plan.amount}}</span>/m.</div>
                                </div>
                                <ul>                                    
                                    <li>Set Up and Manage your Event Planning</li>
                                    <li>Track your offers</li>
                                    <li>Send Booking requests to your email</li>
                                    <li>Access to our database of the worlds top Agent</li>
                                    <li>Compare Global Dj popularity</li>
                                    <li>Research Global Events</li>
                                    <li>Targeted Dj news of your Favorite Talent</li>
                                    <li>Lessons and Updates</li>
                                    <li>Many other effective search</li>
                                    <li>Track Artist Online Functionality</li>
                                    <form action="" method="POST">{% csrf_token %}
                                        <input type="hidden" name="plan" value="{{plan.id}}">
                                        <button class="btn btn-default btn-animated PurchaseBtn">Purchase<i class="fa fa-shopping-cart"></i></button>
                                        {% if not has_subscription %}
                                            <button class="btn btn-default btn-animated freeTrialBtn"  name="free_trial" value="{{plan.id}}" >Free Trial for {{free_trial}} Days<i class="fa fa-shopping-cart"></i></button>
                                            <p class="help-text">* No Credit Card Required on Free Trial</p>
                                        {% endif %}
                                    </form>
                                </ul>
                            </div>
                            <br>
                        </div>
                    {% elif plan.title == "Agent" %}                    
                        <div class="col-sm-8 singlePlanCard">
                            <div class="plan shadow light-gray-bg bordered singlePlanCard">
                                <div class="header default-bg" style="background-color:#394244;">
                                    <h3>{{plan.user_type}}</h3>
                                    <div class="price"><span>${{plan.amount}}</span>/m.</div>
                                </div>
                                <ul>                                    
                                    <li>Global Artist Availability Searches</li>
                                    <li>Compare Global Dj popularity</li>
                                    <li>Research Global Events</li>
                                    <li>Targeted Dj news of your Favorite Talent</li>
                                    <li>Lessons and Updates</li>
                                    <li>Many other effective searches</li>
                                    <form action="" method="POST">{% csrf_token %}
                                        <input type="hidden" name="plan" value="{{plan.id}}">
                                        <button class="btn btn-default btn-animated PurchaseBtn">Purchase<i class="fa fa-shopping-cart"></i></button>
                                        {% if not has_subscription %}
                                            <button class="btn btn-default btn-animated freeTrialBtn"  name="free_trial" value="{{plan.id}}" >Free Trial for {{free_trial}} Days<i class="fa fa-shopping-cart"></i></button>
                                            <p class="help-text">* No Credit Card Required on Free Trial</p>
                                        {% endif %}
                                    </form>
                                </ul>
                            </div>
                            <br>
                        </div>
                    {% elif plan.title == "Promoter" %}
                        <div class="col-sm-8 singlePlanCard">
                            <div class="plan shadow light-gray-bg bordered ">
                                <div class="header default-bg" style="background-color:#c62828;">
                                    <h3>Promoter</h3>
                                    <div class="price"><span>${{plan.amount}}</span>/m.</div>
                                </div>
                                <ul>
                                    <li>Set Up and Manage your Event Planning</li>
                                    <li>Global Artist Availability Searches</li>
                                    <li>Compare Global Dj popularity</li>
                                    <li>Research Global Events</li>
                                    <li>Targeted Dj news of your Favorite Talent</li>
                                    <li>Lessons and Updates</li>
                                    <li>Many other effective searches</li>
                                    <li>Track Artist Onine Popularity</li>

                                    <form action="" method="POST">{% csrf_token %}
                                        <input type="hidden" name="plan" value="{{plan.id}}">
                                       <button class="btn btn-default btn-animated  PurchaseBtn">Purchase<i class="fa fa-shopping-cart"></i></button>
                                        {% if not has_subscription %}
                                            <button class="btn btn-default btn-animated freeTrialBtn" name="free_trial" value="{{plan.id}}" >Free Trial for {{free_trial}} Days<i class="fa fa-shopping-cart"></i></button>
                                            <p class="help-text">* No Credit Card Required on Free Trial</p>
                                        {% endif %}
                                    </form>                                     
                                </ul>
                            </div>
                            <br>
                        </div>
                    {% endif %}

                {% endfor %}
         
				</div>
      </div>

			</div>
			<!-- pricing tables end -->

  </div>
</div>
	</section>

{% endblock content %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
