{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Welcome </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-tour.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-tour-standalone.min.js' %}"></script>

<link href="{% static 'frontend/bootstrap/css/bootstrap-tour.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/bootstrap/css/bootstrap-tour-standalone.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
        $('#availibily_search_video').modal('show');
    });
    var tour = new Tour({
        steps: [
            {
              element: "#one",
              title: "Welcome",
              content: "<img src='{% static 'frontend/images/create_event.jpg' %}' alt='create event'> <h4>You can set it up at later time also</h4>",
              template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><nav class='popover-navigation'><a href='{% url 'dashboard' %}' class='btn btn-default pull-right' >Ok</button></nav></div>"
            },
        ]
    });

    $("#one").click(function(){
        $('#skip').modal('show');
        // tour.init();
        // tour.start();
    });

</script>

{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'promoter_4' %}">How To setup an event</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">
				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card" style="width: 655px; margin-left: -50px;">
                                <div>
                                    <div class="clearfix">
                                        <div class="skip--button">
                                            <a style="cursor:pointer;" id="one">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div>
                                    <h3 style="text-align:center" class="step-header">
                                        "How You can setup an event"<br>
                                    </h3><br>
                                    <img src= "{% static 'frontend/images/event_dummy.png' %}" alt="dummy_event">
                                </div>
                                <div class="intro-step-indicator" id="two">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="active" ></span>
                                    <span></span>
                                </div>

                                <div>
                                    <a href="{% url 'promoter_3' %}" class="btn btn-default btn-animated" style="background-color:#09afdf; color:white;"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                    <a href="{% url 'promoter_5' %}" class="btn btn-default btn-animated" style="background-color:#09afdf; color:white;"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                </div>
                            </div>
						</div>
					</div>
				</div>

                <div id="availibily_search_video" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="text-align:center;">You can watch the step-by-step tutorial video here For ,  How to set an Event</h4>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://www.youtube.com/embed/vm8OTVfgUaE?ecver=2" height="350" width="100%" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
			</section>

            <div id="skip" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Event</h4>
                        </div>
                        <div class="modal-body">
                            <img src='{% static 'frontend/images/create_event.jpg' %}' alt='create event'>
                            <h4>As now you are skiping this step ,You can set it up at later time also</h4>"
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'dashboard' %}" type="button" class="btn btn-default">OK</a>
                        </div>
                    </div>
                </div>
            </div>
			<!-- main-container end -->

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
