{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Shortlist Dj's </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function() {
        $(".all_artists").select2();
    });
</script>

{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'promoter_5' %}">Shortlist DJ's</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div class="clearfix">
                                </div>
                                <h2 class="step-header">
                                    Shortlist Some DJs to the Event.
                                </h2>
                                <p style="text-align:left;">
                                    Shortlist DJs to the event and showcase function to track DJ popularity in the country of the event
                                </p>
                                <p style="text-align:left;">
                                    Show availability of DJs and recommend DJs to the event
                                </p>
                                <form action="" method="post" multiple>{% csrf_token %}
                                    <select name="shortlist_artists" class="form-control all_artists" multiple="multiple" >
                                        {% for artist in artists %}
                                            <option value="{{artist.0}}" {% if artist in all_user_shortlist_artist %}selected{% endif %}>{{artist.1}}</option>
                                        {% endfor %}
                                    </select>
                                    <img src= "{% static 'frontend/images/compare_djs.png' %}" alt="dummy_event" style="margin-top: 20px;"><br>

                                    <div class="intro-step-indicator">
                                        <span ></span>
                                        <span></span>
                                        <span ></span>
                                        <span></span>
                                        <span></span>
                                        <span class="active"></span>
                                    </div>

                                    <div>
                                        <a href="{% url 'promoter_4' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                        <button type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                    </div>
                                </form>
                            </div>
						</div>

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
