{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Welcome </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'promoter_1' %}">Welcome Promoter</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <!-- <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div> -->
                                    <h3 style="text-align:left" class="step-header">
                                        "What kind of events do you promote (Genre)" .
                                    </h3>
                                        <p style="text-align:left;" >As a promoter we will guide you through using the system to:</p>
                                        <p style="text-align:left;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Find Potentially Free Artists For Your Events Instantly</p>
                                        <p style="text-align:left;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Prepare and Manage Your Booking Requests for them</p>
                                        <p style="text-align:left;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Analyse and Compare Artists’ Popularity</p>
                                        <p style="text-align:left;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Receive Emails when Artists Post Proximate Shows</p>
                                        <p style="text-align:left;">You can choose one country and anytime someone adds a event in your genre we will send daily update about that too</p>
                                </div>
                                <div class="intro-step-indicator">
                                    <span></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>

                                <div>
                                    <a href="{% url 'type_of_user' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a>
                                    <a href="{% url 'select_genre' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i> Next</a>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
