{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Refund </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Refund</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block extra_js %}

    <script>

    $(document).ready(function() {
        $(function(){
            $(".success_msg").fadeOut(20000)
        })

    });

    </script>

    <script>

        function confirm_refund(){
            $("#confirm_refund").modal("show");
        }

    </script>


{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<!-- <section class="main-container jumbotron light-gray-bg text-center margin-clear"> -->
				<div class="container">
                    {% if time_limit_exceded %}
                    <div class="row">
                        <div class="col-md-7 col-md-offset-3">
                            <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                                <h4>Time Limit Exceded To Refund </h4>
                            </div>
                        </div>
                    </div>
                    {% else %}
    					<div class="row" style="margin-top:60px;">
    						<div class="col-md-7 col-md-offset-3">
                                <div class="well" style="box-shadow: 3px 3px 15px #888888;">
                                    <h4><b>Hi {{request.user.get_full_name }}</b></h4>
                                    <h4>Currently you are Subsrcibed to <b>{{plan.title}}</b> Plan </h4>
                                    <h4>You Purchased this Plan on <b>{{sub_created_date}}</b> </h4>
                                    <h4><b>{{left_time}} days</b> left to refund this Plan </h4>
                                    <h4>Click on below <b>Confirm Refund</b> Button to Refund Your Subscription Now </h4>
                                    <!-- <a onclick="confirm_refund()" class="btn btn-success">Confirm Refund </a> -->
                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <!-- <a href="{% url 'confirm_refund'%}" class="btn btn-success">Confirm Refund </a> -->
                                            <a onclick="confirm_refund()" class="btn btn-success">Confirm Refund </a>
                                        </div>
                                    </div>
                                </div>
    						</div>
    					</div>
                        <!-- <div class="row">
                            <div class="col-md-3 col-md-offset-5">
                                <a href="{% url 'confirm_refund'%}" class="btn btn-success">Confirm Refund </a>
                                <a onclick="confirm_refund()" class="btn btn-success">Confirm Refund </a>
                            </div>
                        </div> -->
                    {% endif %}
                    </div>
				</div>

                <div id="confirm_refund" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirm Refund</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are You Sure You want to Refund <b>{{ plan }}</b> Plan.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <a href="{% url 'confirm_refund' %}" class="btn btn-default" style="margin-top: 3px;">Confirm Refund</a>
                        </div>
                    </div>
                    </div>
                </div>

			<!-- </section> -->
			<!-- main-container end -->
{% endblock content %}

{% block footer %}

<div class="subfooter navbar-fixed-bottom" style="background:black">
    <div class="container">
        <div class="subfooter-inner">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 Wheredjsplay. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock footer %}
