{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}

{% load humanize %}
{% block title %} {{ block.super }} | SignUp Here </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/intlTelInput.css' %}">

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/intlTelInput.min.js' %}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- Recaptcha start -->
<script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>

<script>
    grecaptcha.ready(function() {
        $('#id_form').submit(function(e){
            var form = this;

            e.preventDefault()
            grecaptcha.execute('{{site_key}}', {action: ''}).then(function(token) {
                $('#recaptcha').val(token)
                form.submit()
            });
        })

    });
   </script>

<!-- Recaptcha End -->


<script type="text/javascript">

$(document).ready(function(){
        $("#id_coupon").val("{{request.GET.coupon_code}}");

        if($(".email-error").text()){
            $(".reset_password_link").html("<a href='{% url 'forget_password' %}'>( Recover Your Password )</a>")
        }
});

// $(function() {
//     if( $("#id_mobile_no").length !== 0 ) {
//         $("#id_mobile_no").intlTelInput();
//     }
// });

</script>

<script>

$(".signup_button").click(function(e){
  var password_len = $("#id_confirm_password").val();
  if(password_len){
    if (password_len.length < 6){
      $(".password_valid").text("Password should be atleast 6 Characters long");
      return false;
    }
  }
  else{
    $("#id_form").submit();
  }
})

</script>


{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        {% if not request.user.is_authenticated %}
                            <li class="active">Sign Up Basic User</li>
                        {% else %}
                            <li class="active"><a href="{% url 'edit_details' %}">Edit Details</a></li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3"><br>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #2b2a2d; width:100%; margin:auto;padding: 19px 0;">
                        {% if request.user.is_authenticated %}
                        <h3 class="panel-title" style="color: white;">Edit Details</h3>
                        {% else %}
                        <h3 class="panel-title" style="color: white; text-align: center; margin-right: 20px;"><strong>Welcome - New User Registration </strong></h3>
                        {% endif %}
                    </div>
                    <!-- <div class="panel-body hidden-xs hidden-sm" style="margin-left:45px; width: 82%;font-size: 14px;">
                      <p>SIGN UP HERE - FIRST REGISTER AS A USER, THEN YOU  WILL RECEIVE A VERIFICATION CODE BY EMAIL, LOGIN AND PURCHASE YOUR PLAN</p> -->
                        <!-- <p style="margin-left: 20px;">Welcome to WhereDjsPlay, as A promoter we offer you an amazing service to help research, analyse and book the right talent for your events, fast!</p>
                        <p style="margin-left: 20px;">Before we set up your account we need to register you as a user, you will then receive a verification code and be able to purchase your promoter plan.</p>
                        <p style="margin-left: 20px;">You will then be set up !</p> -->
                    <!-- </div> -->
                    <!-- <div class="panel-body hidden-md hidden-lg" style="margin-left:-8px;">
                        <p style="margin-left: 20px;">Welcome to WhereDjsPlay, as a promoter we offer you an amazing service to help research, analyse and book the right talent for your events, fast!</p>
                        <p style="margin-left: 20px;">Before we set up your account we need to register you as a user, you will then receive a verification code and be able to purchase your promoter plan.</p>
                        <p style="margin-left: 20px;">You will then be set up !</p>
                    </div> -->
                    <div class="panel-body" style="margin-top:-35px;">
                        <form class="form-horizontal" id="id_form" action="" role="form" data-toggle="validator"  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="margin-top: 2%">
                                <div class="col-md-12">
                                    <!-- <div class=""> -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <h3 class="panel-title signup-subtitle"><strong>LETS GET YOU SET UP !</strong></h3>
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="id_first_name" class="pull-left">*Your Name :</label>
                                                        {{ form.first_name }}
                                                        <small class="help-block with-errors"></small>
                                                    </div>
                                                </div>
                                            </div>
<!--                                             <div class="row">
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="id_first_name" class="pull-left">Your Nick Name :</label>
                                                        {{ form.nick_name }}
                                                        <small class="help-block with-errors"></small>
                                                    </div>
                                                </div>
                                            </div>
 -->                                            <!-- <div class="row">
                                                <div class="col-md-8 col-md-offset-2">
                                                    <div class="form-group">
                                                        <label for="id_last_name" class="pull-left">*Your Last Name:</label>
                                                        {{ form.last_name }}
                                                        <small class="help-block with-errors"></small>
                                                    </div>
                                                </div>
                                            </div> -->
                                            {% if not request.user.is_authenticated %}
                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="id_email" class="pull-left">*Your Email Address :</label>
                                                        {{ form.email }}
                                                        {% if form.email.errors %}
                                                            <small class="error-field email-error">{{ form.email.errors.as_text }}</small>
                                                            <small class="reset_password_link"></small>
                                                        {% else %}
                                                            <small class="help-block with-errors"></small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="id_confirm_password" input type="text" class="text-left">Your Requested Account Password :</label>
                                                        {{ form.confirm_password }}
                                                        <small class="error-field password_valid"></small>
                                                        {% if form.confirm_password.errors %}
                                                            <small class="error-field">{{ form.confirm_password.errors.as_text }}</small>
                                                        {% else %}
                                                            <small class="help-block with-errors" style="color:#a94442;"></small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="id_user_type" input type="text" class="text-left">*What kind of User Account would you like ? :</label>
                                                        <select id="id_user_type" name="user_type" required="true" class="py-form-control" style="width: 130px;">
                                                            <!-- <option value="Promoter">Promoter</option> -->
                                                            <option value="">Select Type..</option>
                                                            {% for type in user_types_list %}
                                                                <option value="{{ type }}">{{ type }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
                                                        <!-- <small class="help-block validate with-errors" style="color:#a94442;"></small> -->
                                                        <!-- <i style="font-size:12px;">WDJP makes a different experience based on User Type, so we need you to select this to enhance your experience .</i> -->
                                                        <!-- <i style="font-size:12px;">once you have created your user account you will also be able to login using Facebook // Google later.</i> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body hidden-xs hidden-sm" style="margin-left:15px; width: 85%;font-size: 12px;">
                                              <p>Before we set up your account we need you to register as a user, you will then receive a verification code by email, then log in and purchase your plan.
                                                Once your account is created, you can log in using Facebook / Google.</p>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-8 col-md-offset-2">
                                                    <div class="form-group">
                                                        <label for="id_coupon" input type="text" class="text-left">Insert Coupon Code:</label>
                                                        {{ form.coupon }}
                                                        <i style="font-size:12px;">Dont have a coupon ? <a href="{% url 'request_a_coupon' %}">You can request one here</a></i>
                                                        {% if form.coupon.errors %}
                                                            <small class="error-field">{{ form.coupon.errors.as_text }}</small>
                                                        {% else %}
                                                            <small class="help-block with-errors" style="color:#a94442;"></small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="row">
                                                    <div class="form-group" align="center">
                                                        <input  class="btn btn-info signup_button" style=" font-size: 18px; border-radius: 5px; width: 130px;height: 44px; background-color:red; border-color: red; margin-left: 15px;" type="submit" value="Sign Up">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-offset-6 col-xs-offset-5">
                                    <b>Or</b>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-5 col-md-offset-4">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                            style="color: white; background-color:#e84f3e; text-align:center;">
                                       <span class="fa fa-google"></span> Login with Google
                                   </a>
                                    <a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-block btn-social btn-google"
                                           style="color: white; background-color:#3b5998; text-align:center;">
                                       <span class="fa fa-facebook"></span> Login with Facebook
                                    </a>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <!-- <div class="panel-body">
                        Anything that isnt good, please don’t hesitate to tell us as we are new and would love feedback on making the site amazing <br><br>
                        Thanks so much and happy searching  - <br>
                        The WDJP Team
                    </div> -->
                </div>
            </div>
            <div class="container">
                <br>
                <h3 class="title signup__services"><strong>OUR INDUSTRY INFORMATION SERVICES </strong></h3> <br>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                            <span class="icon default-bg circle" style="background-color:red"><i class="fa fa-hand-peace-o" style="margin-top: 15px;"></i></span>
                            <h3>Promoter</h3>
                            <!-- <a href="{% url 'promoter_link' %}"><p>Take the promoter tour</p></a> -->
                            <a href="{% url 'promoter_link' %}" class="btn btn-info" style="background-color:red;border:red;">Take the Promoter Tour</a><br>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                            <span class="icon default-bg circle" style="background-color:black"><i class="glyphicon glyphicon-headphones" style="margin-top: 15px;"></i></span>
                            <h3>DJ</h3>
                            <!-- <a href="{% url 'dj_link' %}"><p>Take the DJ tour</p></a> -->
                            <a href="{% url 'dj_link' %}" class="btn btn-info" style="background-color:black;border:black;" data-toggle="modal" data-id="dj_data">Take the DJ Tour</a>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                            <span class="icon default-bg circle"><i class="glyphicon glyphicon-earphone" style="margin-top: 15px;"></i></span>
                            <h3>Agent</h3>
                            <!-- <a href="{% url 'agent_link' %}"><p>Take the agent tour</p></a> -->
                            <a href="{% url 'agent_link' %}" class="btn btn-info" style="background-color:#09afdf;"  data-toggle="modal" data-id="agent_data">Take the Agent Tour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
