{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Request an Beta Invite </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/intlTelInput.css' %}">

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/intlTelInput.min.js' %}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<script type="text/javascript">

$(function() {
    if( $("#id_mobile_no").length !== 0 ) {
        $("#id_mobile_no").intlTelInput();
    }
});

</script>

{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                            {% if not request.user.is_authenticated %}
                                <li class="active">Request An Invitation To Become User</li>
                            {% else %}
                                <li class="active"><a href="{% url 'edit_details' %}">Edit Details</a></li>
                            {% endif %}
                        </ol>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-2">
                            <ol class="breadcrumb">
                                <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1"><br>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #2b2a2d">
                        {% if request.user.is_authenticated %}
                        <h3 class="panel-title" style="color: white;">Edit Details</h3>
                        {% else %}
                        <h3 class="panel-title" style="color: white;">Wheres Djs Play- Invite Only Beta Tester Page</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        Welcome,
                        <br><br>
                        Thank so much for showing interest in wheredjsplay.com and joining our community
                        <br><br>
                        We are currently recruiting beta testers and beta users for v.1 and have invited you here, or maybe you have found us online or by recommendation
                        <br><br>
                        We'd love to invite you to set up a user account with us so you can test out our services and hopefully book some Djs using our CMS, find some great events to play at
                        or just enjoy our Dj comparison site
                        <br><br>
                        We need some simple info from you to process the invite ;-)
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="id_form" role="form" data-toggle="validator" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="margin-top: 2%">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body" style="margin-top: -10px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_first_name" class="pull-left">First Name:</label>
                                                            {{ form.first_name }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_last_name" class="pull-left">Last Name:</label>
                                                            {{ form.last_name }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                {% if not request.user.is_authenticated %}
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label for="id_email" class="pull-left">Email:</label>
                                                                {{ form.email }}
                                                                {% if form.email.errors %}
                                                                    <small class="error-field">{{ form.email.errors.as_text }}</small>
                                                                {% else %}
                                                                    <small class="help-block with-errors"></small>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            Describe what you do in a music
                                                            <br>
                                                            <label class="checkbox-inline"><input name="user_types" type="checkbox" style="display:block;" value="Promote">Promote</label>
                                                            <label class="checkbox-inline"><input name="user_types" type="checkbox" style="display:block;" value="Dj">Dj</label>
                                                            <label class="checkbox-inline"><input name="user_types" type="checkbox" style="display:block;" value="Book">Book</label>
                                                            <label class="checkbox-inline"><input name="user_types" type="checkbox" style="display:block;" value="Press">Press</label>
                                                            <label style="margin-left:2px;"class="checkbox-inline"><input name="user_types" type="checkbox" style="display:block;" value="Dance">Dance</label>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_facebook_url" class="pull-left">Facebook Link:</label>
                                                            {{ form.facebook_url }}<br>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="id_mobile_no" input type="text" class="text-left">Mobile No:</label>
                                                            {{ form.mobile_no }}
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="border-width: -30px;">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary btn-sm" type="submit" value="Submit"/ style="width: 80px;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        Then we will add you to our list and and we will review your application for membership within 24 hours and send you the final part of user account creation and you will be in
                        <br><br>
                        We will also hopefully send you weekly lessons, ask you to join Our beta testing group on Facebook and generally be nice to you
                        <br><br>
                        Anything that isnt good, please don’t hesitate to tell us as we are new and would love feedback on making the site knock out
                        <br><br>
                        Many thanks  - <br>
                        The WDJP Team
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
