{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}

{% load humanize %}
{% block title %} {{ block.super }} | Request a Coupon </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/intlTelInput.css' %}">

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/intlTelInput.min.js' %}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<script type="text/javascript">

$(document).ready(function(){
        $("#id_coupon").val("{{request.GET.coupon_code}}");
});

</script>


{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active"><a href="{% url 'request_a_coupon' %}">Request a Coupon</a></li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3"><br>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #2b2a2d">
                        <h3 class="panel-title" style="color: white;">Request a Coupon</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="id_form" action="{% url 'request_a_coupon' %}" role="form" data-toggle="validator"  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="margin-top: 2%">
                                <div class="col-md-12">
                                    <div class="panel-body" style="margin-top: -10px;">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <label for="id_first_name" class="pull-left">*Your First Name:</label>
                                                    <input class="py-form-control" id="id_first_name" name="first_name" required="true" type="text"/>
                                                    <small class="help-block with-errors"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <label for="id_last_name" class="pull-left">*Your Last Name:</label>
                                                    <input class="py-form-control" id="id_last_name" name="last_name" required="true" type="text"/>
                                                    <small class="help-block with-errors"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <label for="id_email" class="pull-left">*Your Email:</label>
                                                    <input class="py-form-control" id="id_email" name="email" required="true" type="text"/>
                                                    <small class="help-block with-errors"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <label for="id_user_type" input type="text" class="text-left">*User type:</label>
                                                    <select id="id_user_type" name="user_type" required="true" class="py-form-control">
                                                        <option value="">Choose your type</option>
                                                        {% for type in user_types_list %}
                                                            <option value="{{ type }}">{{ type }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <small class="help-block validate with-errors" style="color:#a94442;"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-xs-offset-4">
                                                <div class="form-group">
                                                    <input class="btn btn-primary btn-sm" style="margin-left: 15px;" type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="panel-body">
                        Anything that isnt good, please don’t hesitate to tell us as we are new and would love feedback on making the site amazing <br><br>
                        Thanks so much and happy searching  - <br>
                        The WDJP Team
                    </div> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
