{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | Reset Password </title> {% endblock title %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}

    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Reset Your Password </li>
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container">
        <div class="row border_top">
            <div class="col-md-6 col-md-offset-3">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200" style=" margin-top: 60px;">
                <h4>
                    <b>You have found this screen because you have pressed password reset trigger button on WDJP.</b>
                </h4>
                <form class="form-horizontal" method="post" data-toggle="validator">
                    {% csrf_token %}
                    <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <label for="id_new_password" >Please Enter Your New Password:</label>
                            {{ form.new_password }}
                            <small class="error-field">{{ form.new_password.errors.as_text }}</small>
                        </div>
                    </div>
                    <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <label for="id_confirm_password">Please Confirm Your New Password:</label>
                            {{ form.confirm_password }}
                            <small class="error-field">{{ form.confirm_password.errors.as_text }}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center;">
                            <input type="submit" value="Change Password" class="btn btn-primary btn-sm" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
