{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Thanks </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
        						<li class="active"><a href="{% url 'introduction5' %}">Thanks</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
                        <div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <h3>
                                        Great {{request.user.first_name|title}}! {% if profile.is_trial_done %} Your trial has started. {% else %}Your subcription is set up.{% endif %}
                                    </h3>
                                    <hr>
                                    <!-- <p>What do you want to do today !</p> -->
                                    <p class="text-center">{% if profile.is_trial_done %} <br> Your trial will end on : - <strong>{{profile.subscription.end_time|date:"M d Y"}} </strong><br><br> {% else %} We will shortly debit <strong>{{profile.stripe_plan.amount}}$ </strong>from your account, <br> Your next monthly subcriptions date is - <strong>{{profile.subscription.end_time|date:"M d Y"}} </strong><br><br>{% endif %} 

                                            
                                            
                                            We will send you a reminder a few days before your next subscription date <br> If you wish to cancel you can do so anytime.</p>
                                    <a href="/" class="btn btn-primary">Dashboard<a>                                            
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
