{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | What you do </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'thanks' %}">What you do</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <!-- <div class="clearfix">
                                        <div class="skip--button">
                                            <a href="/">Skip <i class="fa fa-arrow-circle-right" ></i></a>
                                        </div>
                                    </div> -->
                                    <h3 class="step-header">
                                        "So to get you started, we need to know what you do in music" .
                                    </h3>
                                    <form action="" method="post" name="user_type_form">{% csrf_token %}
                                        {% for type in user_types %}
                                            <label class="radio-inline">
                                                <input type="radio" name="user_type" value="{{ type }}" {% if type == "Promoter" %} checked {% endif %} > {{ type }}<br>
                                            </label>
                                        {% endfor %}
                                </div>
                                <div>
                                <div class="intro-step-indicator">
                                    <span class="active" ></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                  <!-- <a href="{% url 'introduction4' %}" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-left" ></i> Back</a> -->
                                  <button type="submit" class="btn btn-default btn-animated"><i class="fa fa-arrow-circle-right" ></i>Next</a>
                                </div>
                              </form>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
