{% extends 'artist/base_email.html' %}
{% block email_body %}

<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">

    <p>Dear {{ user_profile.user.get_full_name|title }} </p>
    <p>RE {{ event.event_date }}/ VENUE {{event.city|title}}</p>

    <p>{{ artist.artistName }}  Suggested Agents Email from our database: {{artist.artistAgent}} </p>

    Suggest Email address
    <br><br>
    {{artist.artistAgent}}
    <br><br>

    Please cut and paste the below info into your email program and send to the agent info above.
    PLEASE MAKE SURE YOU DELETE THE ABOVE PART AND PLEASE DO NOT MENTION WDJP FOR NOW IN YOUR COMMUNICATION.

    <br><br>
    <hr style="border-top: dotted 1px;" />

    <h4> <u>SUBJECT FOR EMAIL</u> </h4>
    <p>RE {{ artist.artistName|title }}/{{event.city|title}}/{{ event.event_date }}</p>


    Greetings
    <br><br>
    I checked online and I can see that {{ artist.artistName }} is potentially free on {{ event.event_date }}.
    <br><br>
    We are interested to book on {{ event.event_date }} at {{ event.event_name }}
    <br><br>

    Please see my event information below. </p>
    <br><br>

    Let me know if we can discuss this further and if the artist is actually available.
    <br><br>

    {% if artist.artistName %}
        Artist Requested: {{artist.artistName}}<br>
    {% endif %}
    {% if event.event_date %}
        Event Date: {{ event.event_date }}<br>
    {% endif %}
    {% if event.event_date %}
        Venue Name: {{data.venue_name}}<br>
    {% endif %}
    {% if event.event_name %}
        Event Name: {{ event.event_name }}<br>
    {% endif %}
    {% if data.venue_address %}
    Venue address: {{ data.venue_address }} <br>
    {% endif %}

    {% if data.capacity_of_venue %}
        Capacity: {{ data.capacity_of_venue }} <br>
    {% endif %}

    {% if data.indoor_or_outdoor %}
        Is the event an indoor or outdoor event: {{ data.indoor_or_outdoor }} <br>
    {% endif %}


    {% if data.recent_video_link %}
        Any You Tube / Vimeo links of your previous events: {{ data.recent_video_link }} <br>
    {% endif %}

    {% if data.suggested_hotels %}
        Hotel Name: {{ data.suggested_hotels }}<br>
    {% endif %}

    {% if data.requested_show_date %}
        Show Date: {{ data.requested_show_date }}<br>
    {% endif %}

    <!-- {% if data.estimate_finanical_offer %}
        Estimate Financial Offer: {{ data.estimate_finanical_offer }}<br>
    {% endif %} -->

    {% if data.estimate_amount %}
        Estimate Amount: {{ data.estimate_amount }}<br>
    {% endif %}

    {% if data.estimate_currency %}
        Estimate Currency: {{ data.estimate_currency }}<br>
    {% endif %}

    {% if data.rough_financial_offer %}
        Rough Financial Offer: {{ data.rough_financial_offer }}<br>
    {% endif %}


    {% if data.country %}
        Country: {{ data.country }}<br>
    {% endif %}

    {% if data.nearest_airport %}
        Nearest Airport: {{ data.nearest_airport }}<br>
    {% endif %}

    {% if data.airport_to_venue_distance %}
        Airport To Venue Distance: {{ data.airport_to_venue_distance }}<br>
    {% endif %}

    {% if is_offersheet %}

        {% if data.any_other_requested_dj %}
            Any Other Artist Requested: {{ data.any_other_requested_dj }}<br>
        {% endif %}

        {% if data.contact_email %}
            Contact Email: {{ data.contact_email }}<br>
        {% endif %}

        {% if data.ticket_price %}
            Ticket Price: {{ data.ticket_price }}<br>
        {% endif %}

        {% if data.vip_sections %}
            Vip Sections:{{ data.vip_sections }} <br>
        {% endif %}

        {% if data.recent_artwork_link %}
            Recent Artwork Link: {{ data.recent_artwork_link }}<br>
        {% endif %}

        {% if data.recent_video_link %}
            Recent Video Link: {{ data.recent_video_link }}<br>
        {% endif %}

        {% if data.artists_before %}
            Artist Before: {{ data.artists_before }}<br>
        {% endif %}

        {% if data.stage_time %}
            Stage Time: {{ data.stage_time }}<br>
        {% endif %}

        {% if data.set_length %}
            Set Length: {{ data.set_length }}<br>
        {% endif %}

        {% if data.stage_or_dj %}
            Stage Or Dj: {{ data.stage_or_dj }}<br>
        {% endif %}


        {% if data.min_age_req %}
            Min Age Req: {{ data.min_age_req }}<br>
        {% endif %}


        {% if data.working_visa_provided %}
            Working Visa Provided: {{data.working_visa_provided}}<br>
        {% endif %}
<!--
        {% if data.estimate_finanical_offer %}
            Estimate Financial Offer: {{ data.estimate_finanical_offer }}<br>
        {% endif %}

        {% if data.estimate_currency %}
            Estimate Currency {{ data.estimate_currency }}<br>
        {% endif %}

        {% if data.estimate_amount %}
            Estimate Amount {{ data.estimate_amount }}<br>
        {% endif %} -->

        {% if data.vat_no %}
            Vat No: {{ data.vat_no }}<br>
        {% endif %}

        {% if data.company_address %}
            Company Address: {{ data.company_address }}<br>
        {% endif %}

        {% if data.company_city %}
            Company City: {{ data.company_city }}<br>
        {% endif %}

        {% if data.company_country %}
            Company Country: {{ data.company_country }}<br>
        {% endif %}


    {% endif %}

    <br>

    let me know your thoughts please <br><br>

    <br>
    {{ user_profile.user.get_full_name|title }} - {% if user_profile.company_organization %} {{user_profile.company_organization}} {% endif %}
    <br>
    {{ user_profile.user.email }}
    <br>
    {% if user_profile.website %} {{user_profile.website }} <br> {% endif %}
    {% if user_profile.mobile_no %}Mobile: {{ user_profile.mobile_no }} <br> {% endif %}
    {% if user_profile.contact_no %}Contact: {{ user_profile.contact_no }} <br> {% endif %}
    <p> Ref No - {{ ref_no }} </p>


{% endblock %}
