{% load artist_filters %}
    <p>Hi {{artist.artistAgent|name_from_email}}</p>
    <!-- <p>Dear {{artist.artistAgent|name_from_email}} - ({{artist.artistAgent}}) </p> -->
    <p>We are interested in booking <strong>{{ artist.artistName|title }}</strong>  on <strong>{{ event.event_date }}</strong> </p>

    <p>Please see below basic details about the event:</p>

    {% if event.event_date %}
        <strong>Event Date: </strong>{{ event.event_date }}<br>
    {% endif %}
    {% if event.city %}
        <strong>Event City: </strong>{{ event.city }}<br>
    {% endif %}
    {% if data.venue_name %}
        <strong>Venue Name:</strong> {{data.venue_name}}<br>
    {% endif %}
    {% if data.capacity_of_venue %}
        <strong>Capacity: </strong>{{ data.capacity_of_venue }} <br>
    {% endif %}
    {% if event.event_name %}
        <strong>Event Name:</strong> {{ event.event_name }}<br>
    {% endif %}
    {% if data.venue_address %}
        <strong>Venue address:</strong> {{ data.venue_address }} <br>
    {% endif %}

    <br>

    Please let us know if you're interested and if <strong>{{ artist.artistName|title }}</strong> is free to perform on this date,
    we will then send full details about the offer.
    Best regards,
    <br>

    Thanks<br>
    
    {{ user_profile.user.get_full_name|title }} - {% if user_profile.company_organization %} {{user_profile.company_organization}} {% endif %}
    <!-- <br>
    {{ user_profile.user.email }} -->
    <br>
    {% if user_profile.website %} {{user_profile.website }} <br> {% endif %}
    {% if user_profile.mobile_no %}Mobile: {{ user_profile.mobile_no }} <br> {% endif %}
    {% if user_profile.contact_no %}Contact: {{ user_profile.contact_no }} <br> {% endif %}


    <p> Ref No - {{ ref_no }} </p>

    <p>DISCLAIMER: This is a WhereDJsPlay system generated email created in response to a promoter submitting a booking request
        via this system.<br>
        We take no responsibility for the actions of the promoter in contacting you.<br/>
        You can check out our services at <a href="https://www.wheredjsplay.com">www.wheredjsplay.com</a>.</p><br/>
