{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}
	<p>Greetings Admin Team </p>
    <p>A New user Registered to WDJP</p>
    <small><b>Date:</b> {{date}}</small><br>
    <small><b>Time:</b> {{time}}</small><br>
    <small><b>User Type:</b> {{user_type}}</small><br>
    <small><b>Name:</b> {{profile.user.first_name}} {{profile.user.last_name}}</small><br>
    <small><b>Email:</b> {{profile.user.email}}</small><br>
    <small> :) </small>
{% endblock %}
