{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Welcome to our community</h4>
{% endblock title %}
{% block email_body %}

    <hr>
    <h3>Congratulation, {{user.username }}!<br>
    Your request to join our community has been approved !.</h3>
    <br>

    <h4><b>Username: </b>{{ user.username }}</h4>
    <h4><b>Email Address: </b>{{ user.email }}</h4>

    {% if profile.plan %}
        <h4><b>Account Type: </b> {{profile.plan}} </h4>
    {% endif %}

    <!-- <h4><b>Password: </b>{{ password }}</h4>

    <h4>
        You can change your password anytime using My Account Tab.
    </h4> -->

    <h4>
        We hope you enjoy using the site- in searching for available djs. great  shows, comparing some of the worlds best talent and discovering new music.
    </h4>
    <h4>
        Please join our beta testing closed Facebook group for active updates on the system.
    </h4>
    <h4>
        <b>Please Login From this Url: {{login_url}} </b>
    </h4>
    <h4>
        We will contact you for feedback on site usage soon too !
    </h4>


{% endblock %}
