{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h3>Welcome to the Wheredjsplay.com</h3>
{% endblock title %}
{% block email_body %}
    <p>Hi,
        <br><br>
        We see you have been invited by Team WDJP to become a BETA USER for a couple of weeks,
        we hope you will love the service and then use it in the future benefiting from discounted premium usage,
        but most of all we are hoping to build a community of dance music professionals who love having access to better info and working faster.
        <br><br>
        There's only a little form filling to be put in. Please note that BETA ACCOUNTS are given the option to convert to discounted full usage accounts two weeks after you have been in beta, if you kindly help us with feedback.
        <br><br>
        We hope you love WDJP and then become a happy paid user. Some of our beta members are already actively making more money and have more free time.
        <br><br>
        BTW, please dont share with the world while we are in BETA.

    </p>
{% endblock %}