
{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h3>Welcome to the Wheredjsplay.com</h3>
{% endblock title %}
{% block email_body %}

    <p>Hi,
        <br><br>
        Thanks for checking out WDJP. If you would like to apply for a basic User account
        <br><br>

        We would be happy to have you on board.!
        <br><br>

        As mentioned the Trial costs 1 USD for two weeks and then is 39 USD per month
        <br>
        for the basic plan. You can cancel anytime at the end of the month .
        <br><br>

        We vet all of our users intially to make sure they are the correct type of people :-
        <br>
        dance music professionals, people who love dance music and event promoters, who
        <br>
        understand our mission
        <br><br>

        Your account approval will be done by a human, so watch out for between 1 min and
        <br>
        12 hours to recieve your account confirmation.
        <br><br>

        We hope to welcome you to our community ASAP
    </p>

{% endblock %}

