{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Favorite Venues Details</h4>
{% endblock title %}
{% block email_body %}
    <br>
        <table style="border-collapse:collapse; width:100%; ">
          <thead>
            <tr style="background-color: #f2f2f2;">
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Venue Name</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Address</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">City</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Country</th>
              <th style="text-align:left; padding:8px; background-color:#394245; color:white;">Artist Who Are Performing</th>
            </tr>
          </thead>
          <tbody>
              {% for venues in all_venues %}
                 <tr {% if forloop.counter|divisibleby:2 %}style="background-color: #f2f2f2;"{% endif %}>
                         <td style="text-align:left; padding:8px;">{{ venues.0.venuename }}</td>
                         <td style="text-align:left; padding:8px;">{{ venues.0.venueaddress }}</td>
                         <td style="text-align:left; padding:8px;">{{ venues.0.city}}</td>
                         <td style="text-align:left; padding:8px;">{{ venues.0.country }}</td>
                         <td style="text-align:left; padding:8px;">
                             {% for artist in venues.1 %}
                                 <a href="{{site_url}}{% url 'artist_detail' artist.artistID%}">{{artist.artistName}}</a>
                                 {% if not forloop.last%}
                                 ,
                                 {% endif %}
                             {% endfor %}
                         </td>
                 </tr>
             {% endfor %}
          </tbody>
        </table>

{% endblock %}
