
    <form action="{% url 'add_card' %}" method="POST" id="card-form" style="display: none;">
    {% csrf_token %}

    {% if plan.title == "Promoter" %}
        <div class="user_current_plan red-bg">
    {% elif plan.title == "Artist/DJ" %}
        <div class="user_current_plan blk-bg">
    {% elif plan.title == "Agent" %}
        <div class="user_current_plan grey-bg"> 
    {% endif %}
        <h3>{{profile.stripe_plan.title}}</h3>
        <p>${{profile.stripe_plan.amount}} / month</p>
        <img src="/static/frontend/images/credit-card.png">
    </div>
    <div class="card_payment">
        <h3>Please Enter Your Credit Card Details</h3>
        {% if message %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <div class="error_msg">{{message}}</div>
            </div>                    
        {% endif %}
        <div class="form-row">
            <label for="name" class="stripeLabel">Holder Name</label>
            <input type="text" name="name" class="required" />
        </div>            
        <div class="form-row">
            <label>Card Number</label>
            <input type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required" />
        </div>
        
        <div class="form-row">
            <label>CVC</label>
            <input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required" />
        </div>
    
        <div class="form-row">
            <label>Expiration</label>
            <div class="expiry-wrapper">
                <select class="card-expiry-month stripe-sensitive required">
                </select>
                <script type="text/javascript">
                    var select = $(".card-expiry-month"),
                        month = new Date().getMonth() + 1;
                    for (var i = 1; i <= 12; i++) {
                        select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
                    }
                </script>
                <span> / </span>
                <select class="card-expiry-year stripe-sensitive required"></select>
                <script type="text/javascript">
                    var select = $(".card-expiry-year"),
                        year = new Date().getFullYear();
                    for (var i = 0; i < 12; i++) {
                        select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                    }
                </script>
            </div>
        </div>
        <button type="submit" name="submit-button" id="add_card_button" >Submit</button>
        <span class="payment-errors"></span>
    </div>
</form>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script>if (window.Stripe) $("#card-form").show()</script>
    <script type="text/javascript">
    Stripe.setPublishableKey('{{stripe_key}}');
    var data1;  
    $(document).ready(function() {
        function addInputNames() {
            $(".card-number").attr("name", "card-number")
            $(".card-cvc").attr("name", "card-cvc")
            $(".card-expiry-year").attr("name", "card-expiry-year")
        }
        function removeInputNames() {
            $(".card-number").removeAttr("name")
            $(".card-cvc").removeAttr("name")
            $(".card-expiry-year").removeAttr("name")
        }
        function submit(form) {
            removeInputNames();
            $(form['submit-button']).attr("disabled", "disabled")
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(), 
                exp_year: $('.card-expiry-year').val()
            }, function(status, response) {
                if (response.error) {
                    $(form['submit-button']).removeAttr("disabled")
                    $(".payment-errors").html(response.error.message);
                    addInputNames();
                } else {
                    var token = response['id'];
                    var exp_year = response["card"].exp_year;
                    var exp_month = response["card"].exp_month;
                    var brand = response["card"].brand;
                    var last = response["card"].last4;
                    var input = $("<input name='stripeToken' value='" + token + "' style='display:none;' />");
                    var exp_year = $("<input name='expiryYear' value='" + exp_year + "' style='display:none;' />");
                    var exp_month = $("<input name='exp_month' value='" + exp_month + "' style='display:none;' />");
                    
                    var brand = $("<input name='brand' value='" + brand + "' style='display:none;' />");
                    var last4 = $("<input name='last4' value='" + last + "' style='display:none;' />");
                    form.appendChild(input[0])
                    form.appendChild(exp_year[0])
                    form.appendChild(exp_month[0])
                    form.appendChild(brand[0])
                    form.appendChild(last4[0])
                    form.submit();
                }
            });
            
            return false;
        }
        
        // add custom rules for credit card validating
        jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
        jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
        jQuery.validator.addMethod("cardExpiry", function() {
            return Stripe.validateExpiry($(".card-expiry-month").val(), 
                                         $(".card-expiry-year").val())
        }, "Please enter a valid expiration");
        $("#card-form").validate({
            submitHandler: submit,
            rules: {
                "card-cvc" : {
                    cardCVC: true,
                    required: true
                },
                "card-number" : {
                    cardNumber: true,
                    required: true
                },
                "card-expiry-year" : "cardExpiry" 
            }
        });
        addInputNames();
    });
</script>    