{% extends "artist/__filterbase.html" %}
{% load artist_filters %}

{% block top_search %}

<h1 class="page-title" style="text-align:center;">Welcome to Territory Events Search</h1>
<div class="clearfix"></div>

<form action="{% url 'territory' %}" method="GET" class="form-inline text-center" id="search">
<div class="form-group">
    <h3 class="message">Search- Country, City, Artist : </h3>
    <select name="territory_name" class="territory form-control">
        <option selected="selected" value="">Choose Territory</option>
        {% for territory in territories %}
            <option value = "{{ territory.short_code }}">{{ territory.name }}</option>
        {% endfor %}
    </select>
    <div class="typeahead-dark form-group">
        <input type="hidden" value="" name="id" id="artist-id">
        <input name="artist_name" {% if artist_name %} value="{{artist_name}}" {% endif %} type="text" class="form-control typeahead" id="artist-name" placeholder="Artist..." autocomplete="off">
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-lg btn-default btn-animated" >Find Now <i class="fa fa-search"></i></button>
</div>

</form>

{% endblock top_search %}

{% block apply_filters %}
    {% if not id and not artist_name %}
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <div class="sorting-filters text-left mb-20">
                    <form action="" id="apply_filters" method="GET" class="form-inline">
                        {% block hidden_fields %}
                            <input type="hidden" name ="what" value="{{ what }}"/>
                            <input type="hidden" name ="territory_name" value="{{ territory }}"/>
                        {% endblock hidden_fields %}
                        <div class="form-group">
                            <label><strong>Results</strong></label>
                            <select name="entries" class="form-control">
                                <option value="" selected="selected">30</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label><strong>Genre</strong></label>
                            <select name="genre" class="form-control">
                                <option value="" selected="selected">All</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.pk }}">{{ genre.genreName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label><strong>Budget</strong></label>
                            <select name="budget" class="form-control">
                                <option value="" selected="selected">All</option>
                                {% for key,value in budget %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark" style="border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock apply_filters %}
