{% extends "artist/__filterbase.html" %}
{% load artist_filters %}
{% block top_search %}
<h1 class="page-title" style="text-align:center;">Welcome to Country Events Search</h1>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/territory/" method="GET" class="form-inline text-center" id="search">
        <div class="form-group">
            {% if what == '2' %}
            <input type="hidden" name="what" value="1">
            <!-- <label class="radio-inline"><input type="radio" name="what" value="1"  >COUNTRY</label> -->
            <!-- <label class="radio-inline"><input type="radio" name="what" value="2" checked="checked">TERRITORY</label> -->
            <h3 class="message">Search for territory: </h3>
            <select  name="country" class="country form-control" style="display:none;margin-bottom: 0;" onchange="load_cities();" >
                <option value = "">Choose country...</option>
                {% for country in countries %}
                    <option value = "{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <select  name="city" id="city" class="city form-control" style="display:none;margin-bottom: 0;">
                <option id="choose-city-txt" selected value = "">Choose city...</option>
            </select>
            <select name="territory" class="territory form-control" style=" margin-bottom: 0;">
                <option selected value="">All</option>
                {% for territory in territories %}
                    <option value = "{{ territory.short_code }}">{{ territory.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear">Find Now <i class="fa fa-search"></i></button>
            {% else %}
            <!-- <label class="radio-inline"><input type="radio" name="what" value="1" checked="checked" >COUNTRY</label> -->
            <!-- <label class="radio-inline"><input type="radio" name="what" value="2" >TERRITORY</label> -->
            <input type="hidden" name="what" value="1">
            <h3 class="message">Search- Country, City, Artist :</h3>
            <!-- <h3 class="message">Search for a country, a city and even an artist if required:</h3> -->
             <select  name="country" class="country form-control" style="margin-bottom: 0;" onchange="load_cities();" >
                 <option selected="selected" value="">Choose country...</option>
                {% for country in countries %}
                    <option value = "{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
           <select name="city" id="city" class="city form-control" style="margin-bottom: 0;">
                <option selected="selected" value="">Choose city...</option>
            </select>
            <select name="territory" class="territory form-control" style="display:none; margin-bottom: 0;">
                <option selected="selected" value="">All</option>
                {% for territory in territories %}
                    <option value = "{{ territory.short_code }}">{{ territory.name }}</option>
                {% endfor %}
            </select>
            <div class="typeahead-dark form-group">
                <input type="hidden" value="" name="id" id="artist-id">
                <input name="artist_name" {% if artist_name %} value="{{artist_name}}" {% endif %} type="text" class="form-control typeahead" id="artist-name" placeholder="Artist..." autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-lg btn-default btn-animated" >Find Now <i class="fa fa-search"></i></button>
            {% endif %}

        </div>
        </form>
    </div>
</div>
{% endblock top_search %}

{% block apply_filters %}
    {% if show_filter %}
        {% if not id and not artist_name %}
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                <div class="sorting-filters text-left mb-20">
                    <form action="" id="apply_filters" method="GET" class="form-inline">
                        {% block hidden_fields %}
                            <input type="hidden" name ="what" value="{{ what }}"/>
                            <input type="hidden" name ="country" value="{{ country }}"/>
                            <input type="hidden" name ="city" value="{{ city }}"/>
                            <input type="hidden" name ="territory" value="{{ territory }}"/>
                        {% endblock hidden_fields %}
                        <div class="form-group">
                            <label><strong>Results</strong></label>
                            <select name="entries" class="form-control">
                                <option value="" selected="selected">30</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label><strong>Genre</strong></label>
                            <select name="genre" class="form-control">
                                <option value="" selected="selected">All</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.pk }}">{{ genre.genreName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label><strong>Budget</strong></label>
                            <select name="budget" class="form-control">
                                <option value="" selected="selected">All</option>
                                {% for key,value in budget %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark" style="border-style: solid; border-width: 1px; border-color: white;">Apply filters</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock apply_filters %}
