{% extends "artist/__filterbase.html" %}
{% load artist_filters %}
{% block top_search %}
<h1 class="page-title" style="text-align:center;">Welcome to Artist Country Analysis</h1>
<div class="clearfix"></div>
<form action="{% url 'artist_country_analysis' %}" method="GET" class="form-inline text-center" id="artist_country_analysis_form">
        <div class="form-group typeahead-dark">
            <div class="form-group">
            <h3 class="message">Analyse Artist Popularity in a Country: </h3>
                <input type="hidden" value="" name="artist1" id="artist1"></input>
                <input type="text" {% if artist_name %} value="{{ artist_name }}" {% endif %} class="form-control typeahead1" id="id_artist_name" name="artist_name_1" placeholder="Enter Artist Name" autocomplete="off"/>
                <small style="color:red;" id="artist_name_error"></small>
                 <select  name="country"  id="id_country" class="country form-control" style="margin-bottom: 0;" >
                     <option selected="selected" value="">Choose country...</option>
                    {% for country in countries %}
                        <option value="{{ country.name }}" {% if nationality == country.name %} selected="selected" {% endif %} >{{ country.name }} </option>
                    {% endfor %}
                </select>
                <small style="color:red;" id="country_error"></small>

            <a onclick="form_validation()" class="btn btn-lg btn-default btn-animated margin-clear" >Search Now <i class="fa fa-search"></i></a>
        </div>

    </div>
    <div class="">
        <h5 class="message">Select Djs To Compare Them To</h5>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <select class="form-control"  style="width:340px;" id="select_artist" name="competitor" multiple="multiple">
                {% if showing_comp %}
                    {% for sm_artist in similar_artist %}
                        <option selected value="{{sm_artist.artistID}}">{{sm_artist.artistName}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            </div>
        </div>
    </div>
</form>
{% endblock top_search %}


{% block apply_filters %}
{% endblock apply_filters %}
