{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Territory </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% include "home/show_loader.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<link href="{% static 'frontend/css/select2.min.css' %}" rel="stylesheet">
<script>

function form_validation(){
    var i = 0
    if($("#id_country").val()== ""){
        $("#id_country").css("border-color", "red");
        i = i + 1
    }
    if($("#id_artist_name").val()== ""){
        $("#id_artist_name").css("border-color", "red");
        i = i + 1
    }
    else{
        if(i == 0){
            $("#artist_country_analysis_form").submit()
        }
    }
}

</script>

<script>

    $(document).ready(function() {
        $("#select_artist").select2({
            width: 'resolve',
            minimumInputLength: 2,
            ajax: {
                url: "{% url 'get_artist_data' %}",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (term) {
                    console.log(term)
                    return {
                        term: term
                    };
                },
                processResults: function (data) {
                    console.log(typeof data)
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.artistName,
                                id: item.artistID
                            }
                        })
                    };
                }
            }
        });
    });


    function load_events(action){
       if (action == "upcoming"){
           var start = $("#upcoming_start").val();
           $("#upcoming_svg").show();
       }
       else{
           var start = $("#past_start").val();
           $("#past_svg").show();
       }
       data = {
           "start":start,
           "action":action,
       }
       current_url = window.location.href ;
        $.ajax({
           url: current_url,
           type: "GET",
           data: data,
           success: function(response) {
               if (response.status === 'False'){
                   $("#showmore").hide();
                   }
               if (action == "upcoming"){
                   $("#upcoming_svg").hide();
                   if (response.status == "True"){
                       $('#upcomingtable tr:last').after(response.data);
                       $('#upcoming_start').val(response.start);
                   }
                   else {
                       $("#upcoming_button").hide();
                   }
               }
               else {
                   $("#past_svg").hide();
                   if (response.status == "True"){
                       $('#pasttable tr:last').after(response.data);
                       $('#past_start').val(response.start);
                   }
                   else {
                       $("#past_button").hide();
                   }

               }
           }
       })
    }


</script>



<script type="text/javascript">
var currentTHRequest = null;
$('.typeahead1').typeahead({
    source: function (query, process) {
        artists = [];
        map = {};
        if(currentTHRequest && currentTHRequest.pipe()) {
            currentTHRequest.abort();
        }
        currentTHRequest = $.ajax({
            url: '/artists/filter-artist/',
            data: { query: query },
            success: function(data) {
                $.each(data, function(i, object) {
                    map[object.artistName] = object;
                    artists.push(object.artistName);
                });
                process(artists);
            }
        })
    },
    updater: function(item) {
			$('#artist1').val(map[item].artistID);
			return item;
		}
    });

 </script>

 <script>

 var ctx = document.getElementById("myChart").getContext('2d');
         var color = Chart.helpers.color;
         var myChart = new Chart(ctx, {
             type: 'line',
             data: {
                 datasets: [
                 {% for lable , data in likes_data.items %}
                 {
                     label: "{{lable|safe}}",
                     backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                     borderColor: "{{color_code|get_value_from_dict:lable}}",
                     fill: false,
                     data: [
                     {% for date, amount in  data.items %}
                     {
                         x: moment("{{date}}", 'x'),
                         y: {{amount}}
                     },
                     {% endfor %}
                 ],
                 },
                 {% endfor %}
             ]
             },
             options: {
                 legend: {
                     display: true,
                 },
                 elements: {
                     point: {
                         radius: 0,
                         hitRadius: 10,
                         hoverRadius: 5,
                     },
                 },
                 responsive: true,
                 title:{
                     display:false,
                     text:"{{ artist_name }} and his similar artist facebook popularity in {{ nationality }}"
                 },
                 scales: {
                     xAxes: [{
                         type: "time",
                         time: {
                                unit: 'month',
                                unitStepSize: 1,
                               displayFormats: {
                                'millisecond': 'MMM',
                                 'second': 'MMM',
                                 'minute': 'MMM',
                                 'hour': 'MMM',
                                 'day': 'MMM',
                                 'week': 'MMM',
                                 'month': 'MMM',
                                 'quarter': 'MMM',
                                 'year': 'MMM',
                               }
                               },
                         display: true,
                         scaleLabel: {
                             display: true,
                             labelString: 'Date',
                         },
                         ticks: {
                             major: {
                                 fontStyle: "bold",
                                 fontColor: "#FF0000"
                             }
                         }
                     }],
                     yAxes: [{
                         display: true,
                         scaleLabel: {
                             display: true,
                             labelString: 'Fan Count'
                         }
                     }]
                 }
             }
         });

 var piectx = document.getElementById("pieChartEventInCountry").getContext('2d');
         var color = Chart.helpers.color;
         var myChart = new Chart(piectx, {
             type: 'pie',
             data: {
                 datasets: [{
                     data: [
                         {% for lable,data in artist_number_of_event.items %}
                             {{data}},
                         {% endfor %}
                     ],
                     backgroundColor: [
                         {% for lable,data in artist_number_of_event.items %}
                             "{{color_code|get_value_from_dict:lable}}",
                         {% endfor %}
                     ],
                     label: 'Dataset 1',
                 }],
                 labels: [
                     {% for lable,data in artist_number_of_event.items %}
                         "{{lable|safe}}",
                     {% endfor %}
                 ],
             },
             options: {
                 legend: {
                     display: true,
                 },
                 responsive: true,
                 title:{
                     display:true,
                     text:"Number of Event In {{ nationality }}"
                 },
             }
         });

 var piectx = document.getElementById("pieChartArtistLikes").getContext('2d');
         var color = Chart.helpers.color;
         var myChart = new Chart(piectx, {
             type: 'pie',
             data: {
                 datasets: [{
                     data: [
                         {% for lable,data in country_fb_likes.items %}
                             {{data}},
                         {% endfor %}
                     ],
                     backgroundColor: [
                         {% for lable,data in country_fb_likes.items %}
                             "{{color_code|get_value_from_dict:lable}}",
                         {% endfor %}
                     ],
                     label: 'Dataset 1',
                 }],
                 labels: [
                     {% for lable,data in country_fb_likes.items %}
                         "{{lable|safe}}",
                     {% endfor %}
                 ],
             },
             options: {
                 legend: {
                     display: true,
                 },
                 responsive: true,
                 title:{
                     display:true,
                     text:"Popularity On Facebook By DJ In {{ nationality }} over last 12 months"
                 },
             }
         });

</script>

{% endblock %}


{% block slider %}
    		<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'territory_search' %}" >Global Events Search</a></li>
                                <li class="active"><a href="{% url 'faq_global_event' %}"> There is a video lesson available for Country search, click here to view it .</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
            {% include 'geography/_filter_artist_country.html' %}

{% endblock slider %}


{% block content %}
<div class="container" style="min-height:100px;">
    <div class="row">
        <br>
        <h1 class="page-title" style="text-align:center;">Artist Country Analysis</h1>
        <div class="clearfix"></div>
        <div class="separator-2"></div>
        <!-- <div class="">
            Use this tool to really understand a Djs popularity in a country by searching for their country records-  producing the history of shows, the artists trending popularity + localised news analysis on facebook compared to other artists like them.  Its designed to be great for creating venue lists for djs where they want to target (use favourite venues) and giving insights into local popularity for promoters and agents
        </div> -->
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if similar_artist and artist_obj %}
                    <div class="well">
                        <a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' artist_obj.artistID %}">
                            <h5 style="text-align:center;">{{artist_obj.artistName}}</h5>
                        </a>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="row">
                                    <div class="" style="float: none; width: 120px; margin: 0 auto;">
                                        {% if artist_obj.artistPhoto %}
                                            <img src="{{ artist_obj.artistPhoto.url }}" alt="{{artist_obj.artistName}}" class="checkboard-image">
                                        {% else %}
                                            <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist_obj.artistName}}" class="checkboard-image">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <h5 style="text-align:center;">{{artist_obj.artistName}} and Friends</h5>
                        </div>
                        <div class="clearfix"></div>
                        <div class="checkbox-box" style="max-width: 542px; width: 100%; margin: 0 auto;">
                            {% for artist in similar_artist %}
                                <div class="" style="float: none; width: 120px; display: inline-block;">
                                    <a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' artist.artistID %}">
                                        <h5 style="text-align:center;">{{artist.artistName}}</h5>
                                    </a>
                                    {% if artist.artistPhoto %}
                                        <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" class="checkboard-image">
                                    {% else %}
                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" class="checkboard-image">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


        {% if likes_data %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                        <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                            {{ artist_name }} and Friends Facebook Popularity in {{ nationality }}
                            {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                            <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        </h3>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if artist_number_of_event %}
            <div class="col-md-5 col-md-offset-1">
                <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                    <canvas id="pieChartEventInCountry"></canvas>
                </div>
            </div>
            {% endif %}
            {% if country_fb_likes %}
            <div class="col-md-5">
                <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                    <canvas id="pieChartArtistLikes"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if artist_obj %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well">
                    {% if upcoming_event or past_events %}
                        <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                            Past and Upcoming Events For {{artist_obj.artistName}} and Friends In {{nationality}}
                            {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                            <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        </h3>
                        <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
                       <li><a data-toggle="tab" href="#past">Past Events</a></li>
                    </ul>

                        <div class="tab-content">
                       <div id="upcoming" class="tab-pane fade in active">
                            {% if upcoming_events %}
                                <div class="table-responsive">
                                    <table id="upcomingtable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Artist</th>
                                                <th>Date</th>
                                                <th>Event Name</th>
                                                <th>Venue Name</th>
                                                <th>City</th>
                                                <th>Country</th>
                                                <th>Favorite Venue</th>
                                                <th>Search On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for event in upcoming_events %}
                                             <tr>
                                                <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                                <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                                <td class="col-md-2">{{ event.eventid.eventName|title }}</td>
                                                <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                                <td class="col-md-1">{{ event.venueid.city }}</td>
                                                <td class="col-md-2">{{ event.venueid.country}}</td>
                                                <td class="col-md-1">
                                                    {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                        <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% else %}
                                                        <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% endif %}
                                                </td>

                                                <td class="col-md-1">
                                                    <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-facebook fa-stack-1x"></i>
                                                      <span>
                                                    </a>
                                                    <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-google fa-stack-1x"></i>
                                                      <span>
                                                    </a>
                                                    <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-twitter fa-stack-1x"></i>
                                                      <span>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                   </table>
                               </div>
                               <div>
                                    <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                               </div>
                               <div class="text-center">
                                    <input type="hidden" name="start" value="{{ start }}" id="upcoming_start"/>
                                    <button type="button" id="upcoming_button" onclick="load_events('upcoming')" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-plus"></span> Show More
                                    </button>
                               </div>
                           {% else %}
                               <div class="no_event_notification">
                                   <h3 class="title">No Upcoming Events</h3>
                               </div>
                           {% endif %}
                       </div>
                       <div id="past" class="tab-pane fade">
                           {% if past_events %}
                           <div class="table-responsive">
                               <table id="pasttable" class="table">
                                   <thead>
                                     <tr>
                                       <th>Artist</th>
                                       <th>Date</th>
                                       <th>Event Name</th>
                                       <th>Venue Name</th>
                                       <th>City</th>
                                       <th>Country</th>
                                       <th>Favorite Venue</th>
                                       <th>Search On</th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                       {% for event in past_events %}
                                             <tr>
                                                <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                                <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                                <td class="col-md-2">{{ event.eventid.eventName|title }}</td>
                                                <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                                <td class="col-md-1">{{ event.venueid.city }}</td>
                                                <td class="col-md-2">{{ event.venueid.country}}</td>
                                                <td class="col-md-1">
                                                    {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                        <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% else %}
                                                        <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                        <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                    {% endif %}
                                                </td>

                                                <td class="col-md-1">
                                                   <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-facebook fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                   <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-google fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                   <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                      <span class="fa-stack fa-1x">
                                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                          <i class="fa fa-twitter fa-stack-1x"></i>
                                                      <span>
                                                   </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                           </div>
                            <div>
                                <img class="events_loader" id="past_svg" src="{% static 'frontend/images/ring.svg'%}">
                            </div>
                            <div class="text-center">
                               <input type="hidden" name="start" value="{{ start }}" id="past_start"/>
                               <button type="button" id="past_button" onclick="load_events('past')" class="btn btn-default btn-md">
                                  <span class="glyphicon glyphicon-plus"></span> Show More
                               </button>
                            </div>
                           {% else %}
                               <div class="no_event_notification">
                                   <h3 class="title">No Past Events</h3>
                               </div>
                           {% endif %}
                       </div>
                     </div>
                    {% else %}
                        <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                            No Past and Upcoming Events For {{artist_obj.artistName}} and Friends In {{nationality}}
                            {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                                <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        </h3>
                    {% endif %}
            </div>
           </div>
        </div>
    {% endif %}

    {% if artist_obj %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well">
                    {% if artist_country_news %}
                        <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                            {{artist_obj.artistName}} and Friends News in {{nationality}}
                            {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                            <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        </h3>
                        <div id="myCarousel2" class="carousel wd-carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="height:200px;">
                            {% for news in artist_country_news %}

                                <div class="item {% if forloop.first %}active{% endif %}">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% if news.imageurl %}
                                                <img src="{{news.imageurl}}" alt="{{news.title}}" style="width: 100%; margin-top: 18px;">
                                            {% else %}
                                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{news.title}}" style="width: 100%; margin-top: 18px;">
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-8">
                                            <h4 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h4>
                                            <p class="wd-posted-on">
                                                {{ news.publish_date|date:"d M Y"}}
                                            </p>
                                            <div class="wd-article--text" style="font-size: 14px">
                                                <small class="wd-article--source">{{ news.source }}</small> &#8226;
                                                {% if news.modified_text %}{{news.modified_text|truncatechars_html:100|safe }} {% else %} {{news.text|truncatechars:50|safe }} {% endif %}
                                                <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                            </div>
                                            <!-- <div class="wd-article--tags"> -->
                                                {% for artist in news.artists.all %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                      <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                            <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                            <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- Indicators -->
                          <ol class="carousel-indicators">
                              {% for news in artist_country_news %}
                                  {% if forloop.first %}
                                  <li data-target="#myCarousel2" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                  {% else %}
                                  <li data-target="#myCarousel2" data-slide-to="{{ forloop.counter }}"></li>
                                  {% endif %}
                              {% endfor %}
                          </ol>
                    </div>
                        <p style="text-align:center; margin-bottom: 0;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                    {% else %}
                        <h3 class="title" style="margin-bottom: 15px; color:#008dd2; text-align:center;">
                            We have no local news for ({{artist_obj.artistName}}) in {{nationality}}
                            {% with 'flags/'|add:country_object.code|lower|add:'.gif' as image_static %}
                            <img style="display:inline;" src="{% static image_static %}" alt="">
                            {% endwith %}
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
