{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Master Search </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'my_favorite_venue' %}">Favorite Venue</a></li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block extra_js %}

<script type="text/javascript">

function email_venues(){
    $("#upcoming_svg").show();
    var start = $("#start").val();
    data = {
        "start": start,
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "action": "send_email",
    }
    current_url = window.location.href;
    $.ajax({
       url: current_url,
       type: "POST",
       data: data,
       success: function(response) {
            if(response.status){
                $("#upcoming_svg").hide();
                $("#email_sent_message").show().delay(5000).fadeOut();
            }
       }
   })
}

function load_venues(action){
   if (action == "upcoming"){
       var start = $("#start").val();
       $("#upcoming_svg").show();
   }

   data = {
       "start":start,
       "action":action,
   }

   current_url = window.location.href ;
    $.ajax({
       url: current_url,
       type: "GET",
       data: data,
       success: function(response) {
           if (response.status === 'False'){
               $("#showmore").hide();
                if (response.data) {
                    $('#fav_venue_table tr:last').after(response.data);
                    $('#start').val(response.start);
                }
            }
           if (action == "upcoming"){
               $("#upcoming_svg").hide();
               if (response.status == "True"){
                   $('#fav_venue_table tr:last').after(response.data);
                   $('#start').val(response.start);
               }
               else {
                   $("#upcoming_button").hide();
               }
           }
       }
   })
}

$( document ).ready(function() {
    $( "#sorting_button" ).click(function() {
        $("#sorting_form").submit();
    });
});

</script>
{% endblock extra_js %}


{% block content %}
<div class="container"  style="min-height: calc(47vh - 46px);">
    <div style="display:none;" id="email_sent_message"  class="alert alert-success">
        <p style="text-align:center;"><strong>Email Sent!</strong></p>
    </div>
<br>
{% if all_venues %}
<div class="row">
    <div class="col-md-4">
        <center> <h3> <strong>{{request.user.first_name|title }} Favourite Venues </strong></h3> </center>
    </div>
    <div class="col-md-2 col-md-offset-3 col-xs-offset-2">
        {% if all_venues %}
            {% if pro_obj.user_types == "Artists/DJs" or pro_obj.user_types == "Agent" %}
            <div>
                <a href="{% url "my_favorite_venue_xls" %}"<button type="button" class="btn btn-default btn-md" style="margin-left: 5px;"> Download Excel Format </button></a>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="col-xs-offset-2">
            <button type="button" id="email_venues_details" onclick="email_venues()" class="btn btn-default btn-md">
               <span class="fa fa-envelope"></span> Email Venues Details
            </button>
        </div>
    </div>
</div>
{% endif %}
<br>
<!-- <div class="container"> -->
<div class="tab-content">

  <div id="upcoming" class="tab-pane fade in active">
      {% if all_venues %}
          <table id="fav_venue_table" class="table">
            <thead id="sort_table_head">
              <tr>
                <th>Venue Name</th>
                <th>Address</th>
                <th>City</th>
                <th id="sorting_button" style="cursor:pointer;" data-order="-country"><span class="glyphicon {% if request.GET.order_by == "country"%} glyphicon glyphicon-chevron-down {% elif request.GET.order_by == "-country"%} glyphicon glyphicon-chevron-up {% else%} glyphicon glyphicon-chevron-down {% endif %}"></span>
                    Country
                    <form style="margin:0px;" id="sorting_form" action="{% url 'my_favorite_venue' %}" method="GET" >
                        <input type="hidden" id="id_order_by" name="order_by" {% if request.GET.order_by == "-country" %} value="country" {% else %} value="-country" {% endif %} ></input>
                    </form>
                </th>
                <th>Artist Who Performed</th>
                <th>Favorite venues </th>
                <th>Search On</th>
                <th>Contacts</th>
              </tr>
            </thead>
            <tbody id="sort_table_body">
                {% include "geography/sorting_fav_venues.html" %}
            </tbody>
          </table>
          <div>
               <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
               <p id="email_sent_message" style="display:none;text-align:center;">Email Sent!</p>
          </div>
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="text-center">
                      <input type="hidden" name="start" value="{{ start }}" id="start"/>
                      <button type="button" id="upcoming_button" onclick="load_venues('upcoming')" class="btn btn-default btn-md">
                         <span class="glyphicon glyphicon-plus"></span> Show More
                      </button>
                      <button type="button" id="email_venues_details" onclick="email_venues()" class="btn btn-default btn-md">
                         <span class="fa fa-envelope"></span> Email Venues Details
                      </button>
                      {% if all_venues %}
                          {% if pro_obj.user_types == "Artists/DJs" %}
                          <div>
                              <a href="{% url 'my_favorite_venue_xls' %}"<button type="button" class="btn btn-default btn-md"> Download Excel Format </button></a>
                          </div>
                          {% endif %}
                      {% endif %}
                  </div>
              </div>
          </div>
          {% else %}
            <div class="no_event_notification">
                <h3 class="title"><strong>You didn’t set up any favorite events yet.</strong></h3>
                <h4 style="text-align-center;">
                    You can set them up by researching any artist,  and pressing the favorite venue button,
                    as well as setting researching any venues or counties using our country and territory search and pressing the Select venue button again here.
                </h4>
                <a href="{% url "territory_search" %}"<button type="button" class="btn btn-default btn-md"> Select Venue </button></a>
            </div>
          {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
