{% load staticfiles %}
{% load artist_filters %}
{% for event in events %}
    <tr>
        <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
        <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
        <td class="col-md-2"><a href="/events/event/{{event.eventid.eventID}}" target="_blank">{{ event.eventid.eventName|title }}</a></td>
        <td class="col-md-2">{{ event.eventid.evenueName}}</td>
        <td class="col-md-1"><a href="{% url 'territory_search' %}?what=1&{{event.venueid.city|get_city_key_and_code:'True'}}" target="_blank">{{ event.venueid.city }}</a></td>
        <td class="col-md-2 text-center">{{ event.venueid.country}}</td>
        {% if user_type == "Agent" %}
            <td class="col-md-1 text-center">
                <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
            </td>
            <td class="col-md-1 text-center">
                <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
            </td>
        {% else %}
            <td class="col-md-1">
                {% if event.venueid in  pro_obj.favorite_venues.all %}
                    <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                {% else %}
                    <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                    <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                {% endif %}
            </td>
        {% endif %}

        <td class="col-md-1">
           <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
              <span class="fa-stack fa-1x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
              <span>
           </a>
           <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
              <span class="fa-stack fa-1x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-google fa-stack-1x"></i>
              <span>
           </a>
           <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
              <span class="fa-stack fa-1x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
              <span>
           </a>
        </td>
    </tr>
{% endfor %}
