{% load staticfiles %}
{% load artist_filters %}
<option selected="selected" value = "">All cities</option>
{% for city in cities %}
    <option value = "{{ city.pk_city }}">{{ city.city }}</option>
{% endfor %}
