{% load staticfiles %}
{% for venues in allvenues %}
<tr>

    <td class="col-md-1">{{ venues.0.venuename }}</td>
    <td class="col-md-2">{{ venues.0.venueaddress }}</td>
    <td class="col-md-2">{{ venues.0.city }}</td>
    <td class="col-md-2">{{ venues.0.country}}</td>
    <td class="col-md-3">
        {% for artist in venues.1 %}
            <a href="{% url 'artist_detail' artist.artistID%}">{{artist.artistName}}</a>
            {% if not forloop.last%}
            ,
            {% endif %}
        {% endfor %}
    </td>
    <td class="col-md-1">
        {% if venues.0 in  pro_obj.favorite_venues.all %}
            <img style="display:inline; width:20px;" class="heart_filled_icon{{venues.venueid}}" id="heart_filled_icon{{venues.venueid}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{venues.venueid}});" alt="{{artist.artistName}}" width="200px" height="200px">
            <img style="display:none; width:20px;" class="heart_outline_icon{{venues.venueid}}" id="heart_outline_icon{{venues.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{venues.venueid}});" alt="{{artist.artistName}}" width="200px" height="200px">
        {% else %}
            <img style="display:inline; width:20px;" class="heart_outline_icon{{venues.venueid}}" id="heart_outline_icon{{venues.venueid}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{venues.venueid}});" alt="{{artist.artistName}}" width="200px" height="200px">
            <img style="display:none; width:20px;" class="heart_filled_icon{{venues.venueid}}" id="heart_filled_icon{{venues.venueid}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{venues.venueid}});" alt="{{artist.artistName}}" width="200px" height="200px">
        {% endif %}
    </td>
    <td class="col-md-1" style="white-space: nowrap;">
        <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{venues.0.venuename}}, {{ venues.0.city }}">
        <span class="fa-stack fa-1x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        <span>
        </a>
        <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{venues.0.venuename}} {{ venues.0.venueaddress }}">
        <span class="fa-stack fa-1x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-google fa-stack-1x"></i>
        <span>
        </a>
    </td>
    <td>
        <a href="{% url 'venue_contacts' venues.0.venueid  %}" type="button" class="btn btn-info btn-sm" >Add Contacts</a>
    </td>
</tr>
{% endfor %}
