{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Territory </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
    {% include "home/show_loader.html" %}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<script type="text/javascript" src="{% static 'frontend/js/map_styles.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script src="{% static 'frontend/js/zingchart.min.js' %}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

<script type="text/javascript">
//zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";

{% if facebook_like_data %}
    var ctx = document.getElementById("facebookUserArtistsLikeChart").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                    {% for lable , data in facebook_like_data.items %}
                    {
                        label: "{{lable|safe}}",
                        backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                        borderColor: "{{color_code|get_value_from_dict:lable}}",
                        fill: false,
                        data: [
                        {% for date, amount in  data.items %}
                        {
                            x: moment("{{date}}", 'x'),
                            y: {{amount}}
                        },
                        {% endfor %}
                    ],
                    },
                    {% endfor %}
                ]
                },
                options: {
                    legend: {
                        display: true,
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 10,
                            hoverRadius: 5,
                        },
                    },
                    responsive: true,
                    title:{
                        display:true,
                        text:"{{chart_text}}"
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                    unit: 'month',
                                    unitStepSize: 1,
                                  displayFormats: {
                                    'millisecond': 'MMM',
                                    'second': 'MMM',
                                    'minute': 'MMM',
                                    'hour': 'MMM',
                                    'day': 'MMM',
                                    'week': 'MMM',
                                    'month': 'MMM',
                                    'quarter': 'MMM',
                                    'year': 'MMM',
                                  }
                                  },
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date',
                            },
                            ticks: {
                                major: {
                                    fontStyle: "bold",
                                    fontColor: "#FF0000"
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Fan Count'
                            }
                        }]
                    }
                }
            });

{% endif %}


$(document).ready(function(){

    //radio buttons selection
        $("input[name='what']").on("click",function() {
			value=$(this).val();
			if(value==1){
				$('.message').html("Select for a country and city:");
				$('.country').show();
				$(".city").show();
				$('.territory').hide();
				$('.territory').val('');
			}
			if(value==2){
				$('.message').html("Select for a territory:");
				$('.territory').show();
				$('.country').hide();
				$('.country').val('');
				$(".city").hide();
				$('.city').val('');
			}
			});

		// validate filter
		$('#apply_filters,#search').submit(function() {
			 $('select,input').each(function(){
				if($(this).val() == ''){
				$(this).removeAttr("name");
				 // $(this).attr("disabled", "disabled");
				}
			 });
		});

		keep_selected_values();
    });

     function load_events(action){
        if (action == "upcoming"){
            var start = $("#upcoming_start").val();
            $("#upcoming_svg").show();
        }
        else{
            var start = $("#past_start").val();
            $("#past_svg").show();
        }
        data = {
            "start":start,
            "action":action,
        }
        current_url = window.location.href ;
         $.ajax({
            url: current_url,
            type: "GET",
            data: data,
            success: function(response) {
                if (response.status === 'False'){
             	 	$("#showmore").hide();
             	 	}
                if (action == "upcoming"){
                    $("#upcoming_svg").hide();
                    if (response.status == "True"){
                        $('#upcomingtable tr:last').after(response.data);
                        $('#upcoming_start').val(response.start);
                    }
                    else {
                        $("#upcoming_button").hide();
                    }
                }
                else {
                    $("#past_svg").hide();
                    if (response.status == "True"){
                        $('#pasttable tr:last').after(response.data);
                        $('#past_start').val(response.start);
                    }
                    else {
                        $("#past_button").hide();
                    }

                }
            }
        })
     }

     function load_cities(param){
         current_url = window.location.href ;
         if (param){
         country = param;
         }
         else {
         country = $(".country").val();
         }
         data = {
             "ctry":country,
         }
         $.ajax({
             beforeSend: function() {
                 $('#city').prepend($('<option id="load-city-txt" selected></option>').html('Loading Cities...'));
                 $('#city').prop('disabled', true);
             },
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
                 $("#load-city-txt").remove();
                 $('#city').prop('disabled', false);
                 $("#city").html(response.data);

                 //keep selected city if submitted
                 var city = getParamValue('city');
                 if (city){
                    $("select[name='city']").val(city);
                }
             }
         })
     }

    function keep_selected_values()
    {
        var genre = getParamValue('genre');
        var budget = getParamValue('budget');
        var country = getParamValue('country');
        var territory = getParamValue('territory');
        if (genre){
            $("select[name='genre']").val(genre);
        }
        if (budget){
            $("select[name='budget']").val(budget);
        }
        if (country){
            $("select[name='country']").val(country);
            load_cities(country);
        }
        if (territory){
            $("select[name='territory']").val(territory);
        }

    }


     function getParamValue(paramName)
    {
        var url = window.location.search.substring(1); //get rid of "?" in querystring
        var qArray = url.split('&'); //get key-value pairs
        for (var i = 0; i < qArray.length; i++)
        {
            var pArr = qArray[i].split('='); //split key and value
            if (pArr[0] == paramName)
                return pArr[1]; //return value
        }
    }

</script>
<script type="text/javascript">


    var gm = google.maps;
    var oms;
    var marker = [];

    var map;
    var mapOptions = {
        scrollwheel: false,
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(-31.9505, 115.8605),
        styles: map_styles
    };

    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

    var mark_counter = 0;

    var infowindow = new google.maps.InfoWindow();

    var future_mark = 1;

    function initialize() {
        map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);

        oms = new OverlappingMarkerSpiderfier(map);

        var address = (document.getElementById('address'));
        var autocomplete = new google.maps.places.Autocomplete(address);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            $("#searchPanel").collapse('hide');
            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            map.setCenter(place.geometry.location);
            map.setZoom(3);
        });
        getArtistData();

    }

     function getArtistData() {
        var country = getParamValue('country');
        var city = getParamValue('city');
        var territory =  getParamValue('territory');
        if (country){
            url = '/territory/maps/?country={{ country }}';
            if (city){
                url = '/territory/maps/?country={{ country }}&city={{ city }}'
                }
            }
        if (territory){

            url = '/territory/maps/?territory={{ territory }}'
        }

        $.get( url , function(response) {
            var artistData = JSON.parse(response);

            var artistEvents  = artistData[0].events;
            for(var i in artistEvents) {
                var artistDetail  = artistEvents[i].artistDetail;
                var eventData = artistEvents[i].eventDetail;
                var venueData = artistEvents[i].venueDetail;
                if(venueData.venueLatitude != "0.000000000") {
                    var coordinates = new google.maps.LatLng(venueData.venueLatitude, venueData.venueLongitude);
                    if(eventData.eventType == 'past') {
                        var iconURL = new google.maps.MarkerImage(
                                "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                                null, /* size is determined at runtime */
                                null, /* origin is 0,0 */
                                null, /* anchor is bottom center of the scaled image */
                                new google.maps.Size(36, 48)
                        );
                    }
                    else {
                        marker_value = parseInt(i) + 1;
                        var iconURL = new google.maps.MarkerImage(
                                "http://chart.apis.google.com/chart?chst=d_map_spin&chld=1|0|00E44C|12|_|"+marker_value,
                                null, /* size is determined at runtime */
                                null, /* origin is 0,0 */
                                null, /* anchor is bottom center of the scaled image */
                                new google.maps.Size(36, 36)
                        );
                        future_mark++;
                    }
                    marker[mark_counter] = new google.maps.Marker({
                        position: coordinates,
                        map: map,
                        id: mark_counter,
                        venue: venueData.venueName,
                        artist_image: artistDetail.artist_image,
                        address: venueData.venueAddress,
                        artist: artistDetail.artist,
                        event: eventData.eventName,
                        date: eventData.date,
                        startTime: eventData.startTime,
                        endTime: eventData.endTime,
                        city: venueData.city,
                        country: venueData.country,
                        icon: iconURL,
                        type: eventData.eventType

                    });

                    google.maps.event.addListener(marker[mark_counter], "click", function (event) {
                        var d = new Date(this.date);
                        var dateArray = String(d).split(" ");
                        var date = dateArray[0] + " / " + dateArray[2] + " " + dateArray[1] + " " + dateArray[3] ;
                        var time = "";
                        var google_search = 'https://www.google.com/search?q=' + this.artist + " " + this.event + " Tickets " + this.date;
                        if(this.startTime != "") time += this.startTime;
                        if((this.endTime != "") && (time != "")) time += " - " + this.endTime;
                        else time += this.endTime;
                        var content = "<h4><b>" + this.artist + " - " + date +" / " + this.event + "</b></h4><br/>";
                        if(this.startTime != "" || this.endTime != "") content+="<div class='pull-left' style='width: 50%;'>"; content += "Time: <b>" + time + "</b><br/>";
                        content += "Venue Name: <b>" + this.venue + "</b><br/>";
                        if(this.address != "") content += "Venue Address: <b>" + this.address + "</b><br/>";
                        if(this.city != "") content += "Venue City: <b>" + this.city + "</b><br/>";
                        if(this.country != "") content += "Venue Country: <b>" + this.country + "</b><br/>";
                        content += "<a href='"+google_search+"' target='_blank'>Search Tickets</a>";
                        content+="</div>";
                        content += "<div style='width: 50%; text-align:right; float:right !important;'><img style='display: inline-block;' src='"+this.artist_image+"' height='100' width='100'></div>";
                        infowindow.setContent(content);
                        infowindow.setPosition(this.getPosition());
                        infowindow.open(map);
                    });

                    oms.addMarker(marker[mark_counter]);
                    mark_counter++;
                }
            }

            {% if upcoming_events %}
                getEvents('future');
            {% else %}
                getEvents('past');
            {% endif %}
        });
    }

    function getEvents(type) {
        // $("#searchPanel").collapse('hide');
        infowindow.close();
        var artist_bounds = new google.maps.LatLngBounds();
        var future_count = 0;
        var map_center;
        for(var i in marker) {
            if(type == "all") {
                marker[i].setVisible(true);
                artist_bounds.extend(marker[i].getPosition());
            } else {
                if(marker[i].type == type) {
                    if(future_count == 0) map_center = marker[i].getPosition();
                    marker[i].setVisible(true);
                    artist_bounds.extend(marker[i].getPosition());
                    future_count++;
                } else {
                    marker[i].setVisible(false);
                }
            }
        }
        map.fitBounds(artist_bounds);
        map.setCenter(map_center);
    }

    function getParamValue(paramName)
    {
        var url = window.location.search.substring(1); //get rid of "?" in querystring
        var qArray = url.split('&'); //get key-value pairs
        for (var i = 0; i < qArray.length; i++)
        {
            var pArr = qArray[i].split('='); //split key and value
            if (pArr[0] == paramName)
                return pArr[1]; //return value
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function(){
        initialize();
    });

    var genreCountryChart = {
      type: "area",
      stacked: {{ genre_countries_titles.stacked | safe }},
      width: "95%",
      title: {
        text: "{{ genre_countries_titles.title | safe }}",
        fontColor: "#424242",
        adjustLayout: true,
        marginTop: 15
      },
      palette: ["#ff4444", "#C71585", "#0099CC", "#007E33", "#FF8800", "#3b5998", "#00C851", "#CC0000", "#800080", "#616161"],
      plot: {
        aspect: "spline",
        alphaArea: 0.6
      },
      plotarea: {
        margin: "dynamic"
      },
      tooltip: {
        visible: false
      },
      scaleY: {
        label: {
          text: "Genre Count",
          fontColor: "#616161"
        }
      },
      scaleX: {
        lineColor: "#AAA5A5",
        labels: {{ top_countries | safe }},
        tick: {
          lineColor: "#AAA5A5"
        },
        item: {
          fontColor: "#616161",
          paddingTop: 5
        },
        label: {
          text: "{{ genre_countries_titles.scaleX | safe }}",
          fontColor: "#616161"
        }
      },
      crosshairX: {
        lineColor: "#AAA5A5",
        plotLabel: {
          backgroundColor: "#EBEBEC",
          borderColor: "#AAA5A5",
          borderWidth: 2,
          borderRadius: 2,
          thousandsSeparator: ',',
          fontColor: '#616161'
        },
        scaleLabel: {
          backgroundColor: "#EBEBEC",
          borderColor: "#AAA5A5",
          fontColor: "#424242"
        }
      },
      series: {{ genre_countries | safe}}
    };

    zingchart.render({
      id: 'genreCountryChart',
      data: genreCountryChart
    });

{% if genre_countries_title %}
    var myConfig = {
        type: "pie",
        plot: {
          borderColor: "#2B313B",
          borderWidth: 5,
          valueBox: {
            placement: 'out',
            text: '%t\n%v (%npv%)',
            fontFamily: 'Lato',
          },
          tooltip:{
            fontSize: '18',
            fontFamily: 'Lato',
            padding: "5 10",
            text: "%t\n%v (%npv%)"
          },
          animation:{
          effect: 2,
          method: 5,
          speed: 900,
          sequence: 1,
          delay: 3000
        }
        },
        title: {
            text: "{{ genre_countries_title | safe}}",
            fontColor: "#424242",
        },
        series : {{ genre_countries_pie | safe}}
    };

    zingchart.render({
        id : 'genrePieCountryChart',
        data : myConfig
    });

{% endif %}




{% if genre_cities_title %}
    var myConfig = {
        type: "pie",
        plot: {
          borderColor: "#2B313B",
          borderWidth: 5,
          valueBox: {
            placement: 'out',
            text: '%t\n%v (%npv%)',
            fontFamily: 'Lato',
          },
          tooltip:{
            fontSize: '18',
            fontFamily: 'Lato',
            padding: "5 10",
            text: "%t\n%v (%npv%)"
          },
          animation:{
          effect: 2,
          method: 5,
          speed: 900,
          sequence: 1,
          delay: 3000
        }
        },
        title: {
            text: "{{ genre_cities_title | safe}}",
            fontColor: "#424242",
        },
        series : {{ genre_cities | safe}}
    };

    zingchart.render({
        id : 'genreCityChart',
        data : myConfig
    });

{% endif %}






{% if top_country_artist_title %}
    var myConfig = {
      type: 'ring',
      title: {
          text: "{{top_country_artist_title | safe}}",
          fontColor: "#424242",
      },
      // plot : {
      //   slice : 150, // set hole size in middle of chart
      //   detached: false // turn off click on slices
      // },
      // tooltip:{
      //   visible: false
      // },


      plot: {
          borderColor: "#2B313B",
          borderWidth: 5,
          valueBox: {
            placement: 'out',
            text: '%t\n%v (%npv%)',
            fontFamily: 'Lato',
          },
          tooltip:{
            fontSize: '18',
            fontFamily: 'Lato',
            padding: "5 10",
            text: "%t\n%v (%npv%)"
          },
      },


      palette: ["#FE7A5D", "#69A8F8", "#54DBB9", "#FEDA60", "#85929E"],
      // legend:{
      //   toggleAction: 'remove', // remove plot so it re-calculates percentage
      //   verticalAlign: 'middle',
      //   align: 'center',
      //   layout: 'vertical',
      //   borderWidth: 0,
      //   marker:{
      //     type:'circle',
      //     size:10,
      //     cursor: 'pointer',
      //   },
      //   item:{
      //     fontSize: 15,
      //     cursor: 'pointer',
      //     offsetX: -5
      //   }
      // },
      series : {{ top_country_artist | safe }}
    };

    zingchart.render({
      id : 'top5CountryArtist',
      data : myConfig,
      height: 500,
      width: '100%'
    });

    /*
     * Every 35 milliseconds we will update the chart
     * angle by 1.5 degress so it simulates rotatition
     * animation!
     */
    // var angle = 0;
    // setInterval(function(){
    //   angle = angle + 1.5;
      // zingchart.exec('top5CountryArtist', 'modify', {
      //   object: 'plot',
      //   data : {
      //     refAngle : 15%360
      //   }
      // });
    // }, 35);
{% endif %}


{% if dj_countries_facebook_like_title %}
    var myConfig = {
        type: "pie",
        // width: 900,
        // x:-100,
        plot: {
          borderColor: "#2B313B",
          borderWidth: 5,
          valueBox: {
            placement: 'out',
            text: '%t\n%v (%npv%)',
            fontFamily: 'Lato',
          },
          tooltip:{
            fontSize: '18',
            fontFamily: 'Lato',
            padding: "5 10",
            text: "%t\n%v (%npv%)"
          },
          animation:{
          effect: 2,
          method: 5,
          speed: 900,
          sequence: 1,
          delay: 3000
        }
        },
        title: {
            text: "{{dj_countries_facebook_like_title | safe}}",
            fontColor: "#424242",
        },
        series : {{dj_countries_facebook_like_data | safe}}
    };

    zingchart.render({
        id : 'dj_countries_facebook_like',
        data : myConfig,
    });
{% endif %}


</script>
<script type="text/javascript">
    var currentTHRequest = null;
    $('.typeahead').typeahead({
        source: function (query, process) {
        	artists = [];
        	map = {};
            if(currentTHRequest && currentTHRequest.pipe()) {
                currentTHRequest.abort();
            }
            currentTHRequest = $.ajax({
                url: '/artists/filter-artist/',
                data: { query: query },
                success: function(data) {
                    $.each(data, function(i, object) {
    					map[object.artistName] = object;
    					artists.push(object.artistName);
    				});
    				process(artists);
                }
            })

        },
        updater: function(item) {
				$('#artist-id').val(map[item].artistID);
				return item;
			}
    });
 </script>
{% endblock extra_js %}
{% block slider %}
 	<!-- banner start -->
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8">
                                <ol class="breadcrumb">
                                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                    <li class="active"><a href="{% url 'territory_search' %}" >Global Events Search</a></li>
                                    <li class="active"><a href="{% url 'faq_global_event' %}"> There is a video lesson available for Country search, click here to view it .</a></li>
                                </ol>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg">
                                <div class="col-xs-2 col-xs-offset-2">
                                    <ol class="breadcrumb">
                                        <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- breadcrumb end -->
                {% include 'geography/_filterterritory.html' %}
{% endblock slider %}

{% block content %}

		<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
                        <div class="main col-md-12">
                        {% if response %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
								<strong>Error!</strong> Sorry, you have to choose your search parameters first.
							</div>
                        {% endif %}
						{% if message and message != 'YOUR SEARCH RESULTS FOR' %}
						<h2 class="page-title">{{message}}</h2>
                        {% endif %}
                        {% if welcome %}
						<h1 class="page-title" style="float:left;">Country Events Search</h1>
						<div class="clearfix"></div>
						<div class="separator-2"></div>
                        <div>This page offers a powerful and unique tool that allows you to find out who is available and who is playing where - by country, city.
                            Search a single country, city and then choose to narrow your results by selecting a genre from the dropdown table.
                            Use the tab at the top to view who has played and who will play in a particular place.
						</div><br>
                        {% else %}
							<!-- page-title end -->
							<ul class="nav nav-tabs">
                               <li class="active"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
                               <li><a data-toggle="tab" href="#past">Past Events</a></li>
                               {% if facebook_like_data %}
                                    <li><a data-toggle="tab" href="#stats">{{tab_label}}</a></li>
                               {% endif %}
                            </ul>

                             <div class="tab-content">
                               <div id="upcoming" class="tab-pane fade in active">
                                    {% if upcoming_events %}
                                        <div class="table-responsive">
                                           <table id="upcomingtable" class="table">
                                             <thead>
                                               <tr>
                                                 <th>Artist</th>
                                                 <th>Date</th>
                                                 <th>Event Name</th>
                                                 <th>Venue Name</th>
                                                 <th>City</th>
                                                 <th class="text-center">Country</th>
                                                 {% if user_type == "Agent" %}
                                                    <th class="text-center">Shortlist Event</th>
                                                    <th class="text-center">Shortlist Venue</th>
                                                 {% else %}
                                                    <th>Favorite Venue</th>
                                                 {% endif %}
                                                 <th>Search On</th>
                                               </tr>
                                             </thead>
                                             <tbody>
                                                 {% for event in upcoming_events %}
                                                     <tr>
                                                        <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                                        <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                                        <td class="col-md-2"><a href="/events/event/{{event.eventid.eventID}}" target="_blank">{{ event.eventid.eventName|title }}</a></td>
                                                        <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                                        <td class="col-md-1"><a href="{% url 'territory_search' %}?what=1&{{event.venueid.city|get_city_key_and_code:'True'}}" target="_blank">{{ event.venueid.city }}</a></td>
                                                        <td class="col-md-2 text-center">{{ event.venueid.country}}</td>
                                                        
                                                        {% if user_type == "Agent" %}
                                                            <td class="col-md-1 text-center">
                                                                <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
                                                            </td>
                                                            <td class="col-md-1 text-center">
                                                                <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
                                                            </td>
                                                        {% else %}
                                                            <td class="col-md-1">
                                                                {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                                    <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                    <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                {% else %}
                                                                    <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                    <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        

                                                        <td class="col-md-1">
                                                           <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-facebook fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                           <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-google fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                           <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                             </tbody>
                                           </table>
                                       </div>
                                       <div>
                                            <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                       </div>
                                       <div class="text-center">
                                       <input type="hidden" name="start" value="{{ start }}" id="upcoming_start"/>
                                       <button type="button" id="upcoming_button" onclick="load_events('upcoming')" class="btn btn-default btn-md">
                                          <span class="glyphicon glyphicon-plus"></span> Show More
                                       </button>
                                       </div>
                                   {% else %}
                                       <div class="no_event_notification">
                                           <h3 class="title">No Upcoming Events, check Past Events</h3>
                                       </div>
                                   {% endif %}
                               </div>
                               <div id="past" class="tab-pane fade">
                                   {% if old_events %}
                                   <div class="table-responsive">
                                       <table id="pasttable" class="table">
                                           <thead>
                                             <tr>
                                               <th>Artist</th>
                                               <th>Date</th>
                                               <th>Event Name</th>
                                               <th>Venue Name</th>
                                               <th>City</th>
                                               <th class="text-center">Country</th>
                                               {% if user_type == "Agent" %}
                                                    <th class="text-center">Shortlist Event</th>
                                                    <th class=text-center>Shortlist Venue</th>
                                                {% else %}
                                                    <th>Favorite Venue</th>
                                                {% endif %}
                                               <th>Search On</th>
                                             </tr>
                                           </thead>
                                           <tbody>
                                               {% for event in old_events %}
                                                     <tr>
                                                        <td class="col-md-1"><a href="{% url 'artist_detail' event.artistid.artistID %}" target="_blank">{{ event.artistid.artistName }}<a></td>
                                                        <td class="col-md-2">{{ event.eventid.date|date:"M d, Y" }}</td>
                                                        <td class="col-md-2"><a href="/events/event/{{event.eventid.eventID}}" target="_blank">{{ event.eventid.eventName|title }}</a></td>
                                                        <td class="col-md-2">{{ event.eventid.evenueName}}</td>
                                                        <td class="col-md-1"><a href="{% url 'territory_search' %}?what=1&{{event.venueid.city|get_city_key_and_code:'True'}}" target="_blank">{{ event.venueid.city }}</a></td>
                                                        <td class="col-md-2 text-center">{{ event.venueid.country}}</td>
                                                        {% if user_type == "Agent" %}
                                                            <td class="col-md-1 text-center">
                                                                <a href="#" class="eventshortlist star-icon" id="{{event.eventid.eventID}}"><span class="glyphicon glyphicon-star"></span></a>
                                                            </td>
                                                            <td class="col-md-1 text-center">
                                                                <a href="#" class="shortlistevent star-icon" id="{{event.venueid.venueid}}"><span class="glyphicon glyphicon-star dark-blue-clr"></span></a>
                                                            </td>
                                                        {% else %}
                                                            <td class="col-md-1">
                                                                {% if event.venueid in  pro_obj.favorite_venues.all %}
                                                                    <img style="display:inline; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}" src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                    <img style="display:none; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                {% else %}
                                                                    <img style="display:inline; width:20px;" class="heart_outline_icon{{event.venueid_id}}" id="heart_outline_icon{{event.venueid_id}}" src= "{% static 'frontend/images/no_favorite.png' %}" onclick="add_to_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                    <img style="display:none; width:20px;" class="heart_filled_icon{{event.venueid_id}}" id="heart_filled_icon{{event.venueid_id}}"  src= "{% static 'frontend/images/favorite.png' %}" onclick="remove_from_favorite_venue({{event.venueid_id}});" alt="{{artist.artistName}}" width="200px" height="200px">
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}

                                                        <td class="col-md-1">
                                                           <a style="font-size:10px" target="_blank" class="facebook" href="https://www.facebook.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-facebook fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                           <a style="font-size:10px" target="_blank" class="google" href="https://www.google.com/search?q={{event.artistid.artistName}} {{ event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-google fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                           <a style="font-size:10px" target="_blank" class="twitter" href="https://www.twitter.com/search?q={{event.artistid.artistName}} {{event.eventid.eventName|title}}">
                                                              <span class="fa-stack fa-1x">
                                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                                              <span>
                                                           </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                       </table>
                                   </div>
                                       <div>
                                            <img class="events_loader" id="past_svg" src="{% static 'frontend/images/ring.svg'%}">
                                       </div>
                                       <div class="text-center">
                                       <input type="hidden" name="start" value="{{ start }}" id="past_start"/>
                                       <button type="button" id="past_button" onclick="load_events('past')" class="btn btn-default btn-md">
                                          <span class="glyphicon glyphicon-plus"></span> Show More
                                       </button>
                                       </div>
                                   {% else %}
                                       <div class="no_event_notification">
                                           <h3 class="title">No Past Events, check Upcoming Events</h3>
                                       </div>
                                   {% endif %}
                               </div>
                               {% if facebook_like_data %}
                                   <div id="stats" class="tab-pane fade">
                                       <div class="row" style="margin-top:10px;">
                                           <div class="col-md-8 col-md-offset-2">
                                               <div class="well" style="background:white; box-shadow: 3px 3px 15px #888888;">
                                                   <canvas id="facebookUserArtistsLikeChart"></canvas>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               {% endif %}


                             </div>
						{% endif %}
                        </div>


					</div>
				</div>
				<!-- section end -->
			</section>



        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">
                            <div id="genreCountryChart"></div>
                        </div>
                    </div>
                </div>
            </section>



        {% if dj_countries_facebook_like_title %}
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">
                            <div id="dj_countries_facebook_like"></div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}



        {% if genre_countries_title %}
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">
                            <div id="genrePieCountryChart"></div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if genre_cities_title %}
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">
                            <div id="genreCityChart"></div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if top_country_artist_title %}
        <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">
                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12">
                            <div id="top5CountryArtist"></div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

			<!-- main-container end -->
            {% if upcoming_events or old_events %}
                            <div class="artist_map">
                                <div style="text-align:center">
                                    <h3>{{ map }} Events Map</h3>
                                </div>
                                <div class="panel panel-default panel-style">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#searchPanel" aria-expanded="false" aria-controls="searchPanel">
                                                Search Filters
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="searchPanel" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>Search By Address</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="address" name="address" placeholder="Search Address" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label>Filter By Date</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="radio" id="all-events" name="events" style="margin-right:10px" onclick="getEvents('all')" />All Events
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="radio" id="past-events" name="events" style="margin-right:10px" onclick="getEvents('past')" />Past Events
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="radio" id="future-events" name="events" checked style="margin-right:10px" onclick="getEvents('future')" />Future Events
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="map_canvas" style="width: 100%; height: 400px;"></div>
                            </div>
                        {% endif %}
    {% include 'artist/managed_artists_modal.html' %}
    {% include "error_pages/info_modal_popup.html" %}
    
    {% include "events/shortlist_venues_js.html" %}
	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
