{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Master Search </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'my_favorite_venue' %}">Favorite Venue</a></li>
                                <li class="active"><a href="{% url 'venue_contacts' venue_id %}">Venue Contacts</a></li>

                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>

<script>

$( document ).ready(function() {
    $("#id_name").val('')
    $("#id_last_name").val('')
    $("#id_email").val('')
    $("#id_facebook_link").val('')
    $("#id_facebook_event_link").val('')
    $("#id_notes").val('')
});

</script>
<script>

function delete_contact(contact_id){
    var contact_id = contact_id
    var url = '{% url 'delete_contact' 999 %}'.replace (999, contact_id);
    window.location.href = url
}

function delete_contact_modal(contact_id, contact_name){
    var contact_id = contact_id;
    var contact_name = contact_name;
    $("#id_delete").val(contact_id)
    // $("#id_delete_name").val(contact_name)
    $("#id_delete_contact").modal("show");
    $("#confirm_delete_text").html("Are you sure You want to delete <strong>"+ contact_name + '</strong>')

}

function delete_contact(){
    var contact_id = $("#id_delete").val()
    var url = '{% url 'delete_contact' 999 %}'.replace (999, contact_id);
    window.location.href = url
}
</script>

{% endblock %}


{% block content %}

<div class="container">
    {% if venue_contacts %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="font-size:30px; text-align:center;">Contacts For <strong>{{ djvenue.venuename|title }}</strong></h4><br>
        </div>
        <div class="col-md-2">
            <a  data-toggle="modal" data-id="{{ venue_id }}" data-target="#id_add_contact" type="button" class="btn btn-info pull-right"> Add Another Contact </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">First Name</th>
                            <th class="col-md-1">Last Name</th>
                            <th class="col-md-3">Email</th>
                            <th class="col-md-3">facebook Personal link</th>
                            <th class="col-md-4">facebook Event Link</th>
                            <th class="col-md-4">Notes</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in venue_contacts %}
                        <tr>
                            <td class="col-md-2">{{ contact.name }}</td>
                            <td class="col-md-2">{{ contact.last_name }}</td>
                            <td class="col-md-3">{{ contact.email }}</td>
                            <td class="col-md-3">{{ contact.facebook_link }}</td>
                            <td class="col-md-3">{{ contact.facebook_event_link }}</td>
                            <td class="col-md-4">{{ contact.notes}}</td>
                            <!-- onclick="delete_contact({{ contact.id }}) -->
                            <td class="col-md-1 glyphicon glyphicon-trash" style="cursor:pointer; color:red;" data-id="{{ contact.id }}" onclick="delete_contact_modal({{ contact.id}}, '{{contact.name}}')"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="main col-md-7 col-md-offset-3 pv-40">
            <div class="well" style="background: white; box-shadow: 3px 3px 15px #888888; margin-top:50px;">
                <h3 style="text-align:center;">What is the Contact You Would Like to Assign/ Add to <strong>{{ djvenue.venuename| title }}, {{djvenue.city| title }}, {{djvenue.country| title }}</strong> </h3>
                <div class="row">
                    <div class="col-md-3 col-md-offset-4">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-id="{{ venue_id }}" data-target="#id_add_contact">Add Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

<div id="id_add_contact" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign a Contact to <strong>{{ djvenue.venuename| title }}</strong></h4>
            </div>
            <div class="modal-body">
                <form action="" method="POST" data-toggle="validator" id="id_add_contact_form" role="form" >
                {% csrf_token%}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- <label class="pull-left">Name</label> -->
                        <div class="form-group">
                            {{ form.name }}
                            <small class="help-block with-errors"></small>
                        </div>
                        <div class="form-group">
                            {{ form.last_name }}
                            <small class="help-block with-errors"></small>
                        </div>
                        <!-- <label class="pull-left">Email</label> -->
                        <div class="form-group">
                            {{ form.email }}
                            <small class="help-block with-errors"></small>
                        </div>
                        <div class="form-group">
                            {{ form.facebook_link }}
                            <small class="help-block with-errors"></small>
                        </div>
                        <div class="form-group">
                            {{ form.facebook_event_link }}
                            <small class="help-block with-errors"></small>
                        </div>
                        <div class="form-group">
                            {{ form.notes }}
                            <small class="help-block with-errors"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-default" value="Submit" />
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
            </form>
        </div>
    </div>
</div>

<div id="id_delete_contact" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Contact</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" val="" id="id_delete" />
                <input type="hidden" val="" id="id_delete_name"/>
                <p id="confirm_delete_text">Are You Sure You want to delete this Contact</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-top: 16px;" class="btn btn-default" onclick="delete_contact()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



</div>

{% endblock %}
