{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %} {{ block.super }} | DashBoard </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block content %}

<section style="background:#eee; height: calc(100vh - 121px)">
        <div class="container">
            <div class="row">

                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <div class="well" style="background: white; box-shadow: 3px 3px 15px #888888; margin-top:50px;">
                        <h2 style="text-align:center;">Create Your DJ Profile</h2>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3 col-xs-offset-2">
                                <a href="{% url "add_djartist_1" %}" class="btn btn-default btn-animated btn-lg">Create Dj Artist<i class="glyphicon glyphicon-user"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}

{% block footer %}

<div class="subfooter navbar-fixed-bottom" style="background:black">
    <div class="container">
        <div class="subfooter-inner">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 Wheredjsplay. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock footer %}
