{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Create Welcome Message </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}

{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>

{% endblock %}

			<!-- ================ -->
{% block slider%}
			<div class="breadcrumb-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
        						<li class="active">Create Welcome Message</li>
                            </ol>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-2 col-xs-offset-2">
                                <ol class="breadcrumb">
                                    <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- breadcrumb end -->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">
				<div class="container">
                    <h2 style="text-align:center;"><strong>Create Welcome Message</strong></h2>
					<div class="row">
                        <div class="col-md-8 col-md-offset-2">
                        <form action="" method="POST" id="create_welcome_message_form"role="form" >
                            {% csrf_token %}
                        
                            <div class="form-group">
                                <label for="id_text"class="pull-left"><strong>*What is the Welcome text:</strong></label><br><br>
                                <div id="div_id_text">
                                    {{ form.welcome_text }}
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="text_error" style="color:red;"></small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="id_type" class="pull-left"><strong>*Whose dashboard Welcome text is for:</strong></label>
                                <div>
                                    {{ form.type }}
                                </div>
                                <div class="pull-left">
                                    <small class="help-block with-errors" id="type_error" style="color:red;"></small>
                                </div>
                                <br>
                            </div>

                            <button type="submit"class="btn btn-default">Post Welcome Message</button>
                        </form>
                        </div>
					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock content %}


{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
