{% extends "home/__base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load artist_filters %}
{% block title %} {{ block.super }} | DashBoard </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}

<!-- Calendar -->
<link rel="stylesheet" href="{% static 'frontend/css/responsive_calendar.css'%}">
<script type="text/javascript" src="{% static 'frontend/js/responsive_calendar.js' %}"></script>

<script type="text/javascript">
    // Calendar initialize
    dates = '{"2016-12-20":{"number":1}}'
    date = new Date();
    current_month = date.getMonth() + 1;
    current_year = date.getFullYear();
    $(document).ready(function(){

        $.getJSON("{% url 'user_events_json' %}?calendar_date="+current_year+"-"+current_month, function(data) { 
            dates = data

            $(".responsive-calendar").responsiveCalendar({
                    
                time: current_year+"-"+current_month,
                events:dates,
                onMonthChange: function () {
                    this_var = this
                    if (this.currentMonth + 1 > 12) {
                        current_year = this.currentYear + 1;
                        current_month = 1;
                    } else {
                        current_month = this.currentMonth + 1;
                        current_year = this.currentYear;
                    }
                    $.ajax({
                        url: "{% url 'user_events_json' %}",
                        type: "GET",
                        data: {
                               "calendar_date":(current_year)+"-"+(current_month)
                            },
                        success: function(response){
                            this_var.options.events = response
                        }
                    });

                },

            });
    })
})
</script>
<!-- End Calendar -->

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

{% if agent_artists_facebook_stats and user_type == "Agent" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <script type="text/javascript">
    var ctx = document.getElementById("agentArtistsFacebookChart").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                    {% for lable , data in agent_artists_facebook_stats.items %}
                    {
                        label: "{{lable|safe}}",
                        backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                        borderColor: "{{color_code|get_value_from_dict:lable}}",
                        fill: false,
                        data: [
                        {% for date, amount in  data.items %}
                        {
                            x: moment("{{date}}", 'x'),
                            y: {{amount}}
                        },
                        {% endfor %}
                    ],
                    },
                    {% endfor %}
                ]
                },
                options: {
                    responsive:true,
                    legend: {
                        display: true,
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 10,
                            hoverRadius: 5,
                        },
                    },
                    responsive: true,
                    title:{
                        display:true,
                        text:"Your Managed Artists Facebook Stats"
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                    unit: 'month',
                                    unitStepSize: 1,
                                  displayFormats: {
                                    'millisecond': 'MMM',
                                    'second': 'MMM',
                                    'minute': 'MMM',
                                    'hour': 'MMM',
                                    'day': 'MMM',
                                    'week': 'MMM',
                                    'month': 'MMM',
                                    'quarter': 'MMM',
                                    'year': 'MMM',
                                  }
                                  },
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date',
                            },
                            ticks: {
                                major: {
                                    fontStyle: "bold",
                                    fontColor: "#FF0000"
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Fan Count'
                            }
                        }]
                    }
                }
            });
    </script>
{% endif %}

<script type="text/javascript">
var currentTHRequest = null;
$('.typeahead1').typeahead({
    source: function (query, process) {
        artists = [];
        map = {};
        if(currentTHRequest && currentTHRequest.pipe()) {
            currentTHRequest.abort();
        }
        currentTHRequest = $.ajax({
            url: '/artists/filter-artist/',
            data: { query: query },
            success: function(data) {
                $.each(data, function(i, object) {
                    map[object.artistName] = object;
                    artists.push(object.artistName);
                });
                process(artists);
            }
        })
    },
    updater: function(item) {
			$('#artist1').val(map[item].artistID);
			return item;
		}
    });
    $('.typeahead2').typeahead({
        source: function (query, process) {
            artists = [];
            map = {};
            if(currentTHRequest && currentTHRequest.pipe()) {
                currentTHRequest.abort();
            }
            currentTHRequest = $.ajax({
                url: '/artists/filter-artist/',
                data: { query: query },
                success: function(data) {
                    $.each(data, function(i, object) {
                        map[object.artistName] = object;
                        artists.push(object.artistName);
                    });
                    process(artists);
                }
            })
        },
        updater: function(item) {
                $('#artist2').val(map[item].artistID);
                return item;
            }
    });

 </script>

    {% if user_type == "Agent" %}
        <style>
            .wd-dashboard-col-sidebar.bg-blue .sidebar-inner{
                background:#09afdf!important;
            }

            .dashboard-content-heading p{
                color: #09afdf!important;
            }
            .btn-default{
                background-color: #09afdf;
                border-color: #09afdf;
            }
            .btn-default:hover{
                background-color:#09afdf;
                border-color: #09afdf;
            }
            a{
                color:#09afdf;
            }
            a:hover{
                color:#09afdf;
            }

        </style>
    {% endif %}

    {% if user_type == "Promoter" %}
    <style>
        .wd-dashboard-col-sidebar.bg-blue .sidebar-inner{
            background:#e84f3e!important;
        }

        .dashboard-content-heading p{
            color: #e84f3e!important;
        }
        .btn-default{
            background-color: #e84f3e;
            border-color: #e84f3e;
        }
        .btn-default:hover{
            background-color:#DC143C;
            border-color: #DC143C;
        }
        a{
            color:#e84f3e;
        }
        a:hover{
            color:#DC143C;
        }

    </style>
{% endif %}

{% endblock %}

{% block content %}
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <!--<li class="active">
                        Welcome {{request.user.first_name}} <strong style="color:#09afdf;">({{ user_type }})</strong> this {{week_name}}, to WDJP - Here your daily update
                    </li> -->
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div style='background-image: url("{{STATIC_URL}}frontend/images/dj-dashboard/{% if user_type in DEFAULT_DASHBOARD %}promoter2{% else %}agent2{% endif %}-dashboard.jpg");'>
    <div class="container">

        <br>

        <div class="wd-dashboard-grid">
            <div class="wd-dashboard-col-sidebar with-padding bg-blue" >
                <div class="sidebar-inner">
                    <h4 style="color:white; margin-top: 0" class="font-bold">
                        GET SEARCHING
                    </h4>
                    
                    <p class="mb-10">
                        <a style="color:white;" href= "{% url 'artists' %}">{{'Search By Artist'|title}}</a>
                    </p>
                    
                    {% if user_type != "Agent" %}
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'dates' %}">{{'Artist Availabilty Search'|title}}</a>
                        </p>
                        {% if request.user.is_superuser %}
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'search_events' %}">{{'All Events Search'|title}}</a>
                        </p>
                        {% endif %}
                        <p>
                            <a style="color:white;" href= "{% url 'territory_search' %}">{{'Country events search'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'territory' %}">{{'Territory Events Search'|title}}</a>
                        </p>
                        <p>
                            <a style="color:white;" href= "{% url 'compare_artists' %}">{{"Compare DJ's"|title}}</a>
                        </p>
                        <p>
                            <a style="color:white;" href="{% url 'my_recent_search' %}">{{'My recent searches'|title}}</a>
                        </p>
                        <p>
                            <a style="color:white;" href="{% url 'search_news' %}">{{'News Search'|title}}</a>
                        </p>
                    {% endif %}
                    {% if user_type == "Promoter" or request.user.is_superuser %}
                    <!-- <p>
                        <a style="color:white;" href="{% url 'dates' %}">{{'Search By Artist'|title}}</a>
                    </p> -->
                    <p>
                        <a style="color:white;" href="{% url 'someone_music_you_love' %}">{{'Line Up search'|title}}</a>
                    </p>
                        {% comment %}
                        {% if system_env != 'PRODUCTION' %}
                        <p>
                            <a style="color:white;" href="{% url 'flight_share' %}">{{'Travel share search'|title}}</a>
                        </p>
                        {% endif %}
                        {% endcomment %}
                    <p>
                        <a style="color:white;" href="{% url 'master_search' %}">{{'Master search'|title}}</a>
                    </p>
                    {% endif %}
                    {% if user_type == "Agent" %}
                        <!-- <p class="mb-10">
                            <a style="color:white;" href= "{% url 'artists' %}">{{'All Artists'|title}}</a>
                        </p> -->
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'compare_artists' %}">{{'Compare Djs'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'trends' %}">{{'Top 50 Trending Artists (beta)'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'territory_search' %}">{{'Country Events Search'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'territory' %}">{{'Territory Events Search'|title}}</a>
                        </p>
                        {% if request.user.is_superuser %}
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'search_events' %}">{{'All Events Search'|title}}</a>
                        </p>
                        {% endif %}
                        <p>
                            <a style="color:white;" href="{% url 'search_news' %}">{{'News Search'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'venues' %}">{{'Global Venues Database'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'artist_country_analysis' %}">{{'Artist Country Analysis'|title}}</a>
                        </p>
                    {% endif %}
                    <hr>
                    <h4 style="color:white;" class="font-bold">COMPARE 2 DJS</h4>
                    <form method="GET" action="/artists/compare_dj/">
                        <div class="form-group typeahead-dark">
                            <input type="hidden" value="" name="artist1" id="artist1"></input>
                            <input class="form-control typeahead1" type="text" name="artist_name_1" placeholder="Enter Artist Name" autocomplete="off"></input>
                        </div>
                        <div class="form-group typeahead-dark">
                            <input type="hidden" value="" name="artist2" id="artist2"></input>
                            <input class="form-control typeahead2" type="text" name="artist_name_2" placeholder="Enter Artist Name" autocomplete="off"></input>
                        </div>
                        <input type="submit" value="Compare DJ's" class="btn btn-dark btn-block"></input>
                    </form>
                    
                    {% if user_type == "Promoter" or request.user.is_superuser %}
                    <hr>
                    {% if events_added %}
                    <h4 style="color:white;" class="font-bold text-center">YOUR PLANNED EVENTS</h4>
                        {% for events in events_added %}
                            <p>
                                <a href="{% url 'event_detail' events.event_id%}" style="color:white;"> {{ events|title }} </a>
                                <!-- <a href="{% url 'my_events' %}" style="color:white;"> {{ events }} </a> -->
                            </p>
                        {% endfor %}
                    {% endif %}
                        <a href="{% url 'booking_request' %}"><button class="btn btn-dark btn-block">Create Event</button></a>
                    {% endif %}
                </div>
            </div>

            <div class="wd-dashboard-col" style="margin-top: -21px;">
                <div class="alert alert-info text-center" style="background-color: white;">
                    <div class="dashboard-content-heading">
                        <p>WELCOME TO WDJP</p>
                    </div>
                    <p>{{wdjp_welcome_text|safe}}</p>
                </div>

                {% if user_type == "Promoter" %}
                <!-- Calendar html -->
                <div class="well">
                    <div class="dashboard-content-heading">
                        <p>YOUR EVENTS CALENDAR</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="responsive-calendar small-calendar">
                                <div class="controls">
                                    <a class="pull-left Prev" id="Prev" data-go="prev"><div class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;Prev</div></a>
                                    <h4><span data-head-year="">2019</span> <span data-head-month="">April</span></h4>
                                    <a class="pull-right Next" id="Next" data-go="next"><div class="btn btn-primary">Next&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></div></a>
                                </div>
                                <hr>
                                <div class="day-headers">
                                <div class="day header">Mon</div>
                                <div class="day header">Tue</div>
                                <div class="day header">Wed</div>
                                <div class="day header">Thu</div>
                                <div class="day header">Fri</div>
                                <div class="day header">Sat</div>
                                <div class="day header">Sun</div>
                                </div>
                                <div class="days" data-group="days"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'booking_request'%}" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-plus"></span> Create Event
                        </a>
                    </div>
                </div>
                <!-- Calendar html end -->
                {% endif %}

                {% if user_type == "Promoter" or request.user.is_superuser %}
                    {% if all_events  %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>YOUR PLANNED EVENTS</p>
                        </div>
                        <div class="table-responsive">
                            <table id="fav_venue_table" class="table">
                                <thead id="sort_table_head">
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>City</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody id="sort_table_body">
                                    {% for event in events_added %}
                                        <tr>
                                            <td class="col-md-1">
                                                <a style="display:inline-block" href="{% url 'event_detail' event.event_id%}">
                                                    <strong class="wdjp-base-color">{{ event.event_name|title }}</strong>
                                                </a>
                                            </td>
                                            <td class="col-md-2">{{ event.event_date }}</td>
                                            <td class="col-md-2">{{ event.city }}</td>
                                            <td class="col-md-2">{{ event.get_country}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <h4 style="text-align:center;"><strong>Event Shortlisted Artist</strong></h4>
                        {% for artist in djs_list %}
                            <a href="{% url 'artist_detail' artist.artistID %}"><span class="label wd-label-article">{{ artist.artistName }}</span></a>
                        {%  endfor %}
                        <div class="text-center">
                            <a href="{% url 'booking_request'%}" class="btn btn-default btn-md">
                                <span class="glyphicon glyphicon-plus"></span> Create Event
                            </a>
                            <a href="{% url 'my_events'%}" class="btn btn-default btn-md">
                                <span class="glyphicon glyphicon-plus"></span> See All
                            </a>
                            <div>
                                Click on an Event to Edit
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>YOUR PLANNED EVENTS</p>
                        </div>
                        <h4 class="text-center"> You haven’t set up any events yet ! </h4>
                        <div class="text-center">
                            <a href="{% url 'booking_request' %}" class="btn btn-default hidden-xs hidden-sm">Add Events Here</a>
                            <a href="{% url 'booking_request' %}" class="btn btn-default hidden-md hidden-lg">Add Events Here</a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                
                {% if user_type == "Agent" or request.user.is_superuser %}
                    {% if profile_obj.all_managed_artists.all %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR MANAGED ARTISTS</p>
                            </div>
                            <p class="tool-tip-txt">(Click to edit artists)</p>
                            <!-- <h5 style="text-align:center;"></h5> -->
                            <div class="row checkbox-box text-center" style="display:inline">
                                {% for artist in profile_obj.all_managed_artists.all %}
                                    <div class="item">
                                        <div class="col-md-2 text-center">
                                            {% if artist.artist|get_artist_image_or_none %}
                                                <div class="roundImg margin-auto" style="background-image: url('{{artist.artist|get_artist_image_or_none}}');margin-left:7%;"></div>
                                            {% else %}
                                                <div class="roundImg margin-auto" style="background-image: url('{{STATIC_URL}}frontend/images/team-member-1.jpg');margin-left:7%;"></div>
                                            {% endif %}
                                            <p class="mb-10 text-center"><a href="{% url 'artist_detail' artist.artist.artistID %}">{{artist.artist.artistName}}</a></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-xs hidden-sm">Edit Managed Artists</a>
                                    <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-md hidden-lg">Edit Managed Artists</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR MANAGED ARTISTS</p>
                            </div>
                            <h4 class="text-center"> You haven’t set up any artists to manage yet - would you like to create them?</h4>
                            <div class="row">
                                <div class="text-center">
                                    <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-xs hidden-sm">Setup Managed Artists</a>
                                    <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-md hidden-lg">Setup Managed Artists</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if user_type == "Agent" or request.user.is_superuser %}
                    {% if all_trackers %}
                        <div class="well well-box-shadow">
                            <div class="dashboard-content-heading">
                                <p>YOUR TRACKED ARTISTS</p>
                            </div>
                            
                            <div id="myCarousel7" class="carousel wd-carousel slide" data-ride="carousel">
                                <div class="carousel-inner" style="height:200px;">
                                    {% for tracker in all_trackers %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            <h4 style="text-align:center;"><a href="{% url 'tracker_youtube_stats' tracker.id  %}"><strong style="color:skyblue;">{{ tracker.tracker_name|title }}</strong></a><span style="color:green;">{% if tracker.is_active %} (Active) {% endif %}</span></h4>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row checkbox-box">
                                                        {% for artist in tracker.artist.all %}
                                                            <div class="item">
                                                                <div class="wrapper">
                                                                    {% if artist|get_artist_image_or_none %}
                                                                        <img src="{{ artist|get_artist_image_or_none }}" alt="{{artist.artistName}}" class="checkboard-image" style=" max-width: 99px;">
                                                                    {% else %}
                                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" style=" max-width: 99px;" class="checkboard-image">
                                                                    {% endif %}
                                                                    <div class='description'>
                                                                        <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' artist.artistID %}">{{artist.artistName}}</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel7" data-slide="prev">
                                    <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel7" data-slide="next">
                                    <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for tracker in all_trackers %}
                                        {% if forloop.first %}
                                        <li data-target="#myCarousel7" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                        {% else %}
                                        <li data-target="#myCarousel7" data-slide-to="{{ forloop.counter }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        <p style="text-align:center; margin-bottom: 0;">SCROLL RIGHT / LEFT FOR MORE TRACKERS</p>
                    </div>
                    {% else %}
                        <div class="well well-box-shadow">
                                <div class="dashboard-content-heading">
                                    <p>YOUR TRACKED ARTISTS</p>
                                </div>
                            <h4 style="text-align:center;">
                                You don't have any followed Artists Group, would you like to add ?
                            </h4>
                            <div class="text-center"><a href="{% url 'profile_trackers' %}" class="btn btn-default">Add Tracker</a></div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if user_type == "Agent" %}
                    {% if managed_artists_news_list  %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR MANAGED ARTISTS NEW FEED</p>
                            </div>
                            <div id="myCarousel4" class="carousel wd-carousel slide" data-ride="carousel" style="min-height: 300px;">
                                <div class="carousel-inner">
                                    {% for managed_news in managed_artists_news_list %}
                                        {% if forloop.first %}
                                        <div class="item active">
                                        {% else %}
                                        <div class="item">
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <a href="{% url 'artist_detail' managed_news.artist.artistID %}" target="_blank">
                                                            <h3 style="margin-top: 30px">{{managed_news.artist.artistName}}</h3>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        {% if managed_news.artist.artistPhoto %}
                                                            <img style="display:inline;" src="{{ managed_news.artist.artistPhoto.url }}" alt="{{managed_news.artist.artistName}}" style="width:70px;height:70px;" class="checkboard-image">
                                                        {% else %}
                                                            <img style="display:inline;" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{managed_news.artist.artistName}}" style="width:70px;height:70px;" class="checkboard-image">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% for man_news in managed_news.news %}
                                                <div class="wd-artist-news">
                                                    <span class="wd-posted-on" style="font-size: 14px">{{man_news.source }}</span> &#8226;
                                                    {{man_news.title}}
                                                    <a target="_blank" href="{{man_news.url}}">Read the Article</a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        </div>
                                    {% endfor %}
                                </div><br>
                                <div class="text-center">
                                    <a class="btn btn-default btn-md" href="{% url 'profile_managed_artists' %}"> Manage My Artists </a>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel4" data-slide="prev">
                                    <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel4" data-slide="next">
                                    <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                                <ol class="carousel-indicators">
                                    {% for man_news in managed_artists_news_list %}
                                        {% if forloop.first %}
                                        <li data-target="#myCarousel4" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                        {% else %}
                                        <li data-target="#myCarousel4" data-slide-to="{{ forloop.counter }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                                <p style="text-align:center;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                            </div>
                            </div>
                    {% else %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>MY MANAGED ARTISTS NEWS FEED</p>
                        </div>
                        <h4 class="text-center"> You haven’t set up any managed artists yet. Manage your news settings in <a href = "{% url 'profile_managed_artists' %}">My Managed Artists.</a></h4>
                        <div class="text-center">
                            <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-xs hidden-sm">Setup Managed Artists</a>
                            <a href="{% url 'profile_managed_artists' %}" class="btn btn-default hidden-md hidden-lg">Setup Managed Artists</a>
                        </div>
                    </div>
                    {% endif %}

                {% else %}
                    {% if pro_fav_artist %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE ARTISTS</p>
                            </div>
                            <div class="row checkbox-box text-center" style="display:inline">
                                {% for artist in pro_fav_artist %}
                                    <div class="item">
                                        <div class="col-md-2 text-center">
                                            {% if artist|get_artist_image_or_none %}
                                                <div class="roundImg margin-auto" style="background-image: url('{{artist|get_artist_image_or_none}}');margin-left:7%;"></div>
                                            {% else %}
                                                <div class="roundImg margin-auto" style="background-image: url('{{STATIC_URL}}frontend/images/team-member-1.jpg');margin-left:7%;"></div>
                                            {% endif %}
                                            <p class="mb-10 text-center"><a href="{% url 'artist_detail' artist.artistID %}">{{artist.artistName}}</a></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="{% url 'favorite' %}" class="btn btn-default hidden-xs hidden-sm">Edit Favorite Artists</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE ARTISTS</p>
                            </div>
                            <h4 class="text-center"> You haven’t set up any favorite artists yet. Manage your news settings in <a href = "{% url 'favorite' %}">My Favorites.</h4>
                            <div class="text-center">
                                <a href="{% url 'favorite' %}" class="btn btn-default  hidden-xs hidden-sm">Add Artists Here</a>
                                <a href="{% url 'favorite' %}" class="btn btn-default  hidden-md hidden-lg">Add Artists Here</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if fav_artist_news_list  %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE ARTISTS NEW FEED</p>
                            </div>
                            <div id="myCarousel3" class="carousel wd-carousel slide" data-ride="carousel" style="min-height: 538px;">
                            <div class="carousel-inner">
                                {% for news in fav_artist_news_list %}
                                    {% if forloop.first %}
                                    <div class="item active">
                                    {% else %}
                                    <div class="item">
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="{% url 'artist_detail' news.artist.artistID %}" target="_blank">
                                                        <h3 style="margin-top: 30px">{{news.artist.artistName}}</h3>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    {% if news.artist.artistPhoto %}
                                                        <img style="display:inline;" src="{{ news.artist.artistPhoto.url }}" alt="{{news.artist.artistName}}" style="width:70px;height:70px;" class="checkboard-image">
                                                    {% else %}
                                                        <img style="display:inline;" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{news.artist.artistName}}" style="width:70px;height:70px;" class="checkboard-image">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% for news in news.news %}
                                            <div class="wd-artist-news">
                                                <span class="wd-posted-on" style="font-size: 14px">{{news.source }}</span> &#8226;
                                                {{news.title}}
                                                <a target="_blank" href="{{news.url}}">Read the Article</a>
                                            </div>
                                            {% endfor %}
                                            <!-- <a class="btn btn-default btn-md" href="{% url 'news' %}?artist_name={{news.artist.artistName}}" style="margin-left:190px;">Show More News</a> -->
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div><br>
                            <div class="text-center">
                                <a class="btn btn-default btn-md" href="{% url 'favorite' %}">Manage My Favorites</a>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                                <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                                <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            <ol class="carousel-indicators">
                                {% for news in fav_artist_news_list %}
                                    {% if forloop.first %}
                                    <li data-target="#myCarousel3" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                    {% else %}
                                    <li data-target="#myCarousel3" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            </div>
                            <!-- <a class="btn btn-default btn-md" href="{% url 'favorite' %}" style="margin-left:170px;">Manage Your Favorites</a> -->
                            <p style="text-align:center;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                        </div>

                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>MY FAVORITE ARTISTS NEWS FEED</p>
                            </div>
                            <h4 class="text-center"> You haven’t set up any favorite artists yet. Manage your news settings in <a href = "{% url 'favorite' %}">My Favorites.</h4>
                            <div class="text-center">
                                <!--
                                <a href="{% url 'favorite' %}" class="btn btn-default  hidden-xs hidden-sm">Add Artists Here</a>
                                <a href="{% url 'favorite' %}" class="btn btn-default  hidden-md hidden-lg">Add Artists Here</a>
                                -->
                            </div>
                        </div>
                    {% endif %}

                {% endif %}

                {% if all_news %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>WDJP LATEST NEWS</p>
                        </div>
                        
                        <div id="myCarousel6" class="carousel wd-carousel slide" data-ride="carousel">
                            <div class="carousel-inner" style="height:200px;">
                                {% for news in all_news %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if news.imageurl %}
                                                    <img src="{{news.imageurl}}" alt="{{news.title}}" style="width: 100%; max-height:100px; margin-top: 18px;">
                                                {% else %}
                                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{news.title}}" style="width: 100%; margin-top: 18px;">
                                                {% endif %}
                                            </div>

                                            <div class="col-sm-8">
                                                <h4 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h4>
                                                <p class="wd-posted-on">
                                                    {{ news.publish_date|date:"d M Y"}}
                                                </p>
                                                <div class="wd-article--text" style="font-size: 14px">
                                                    <small class="wd-article--source">{{ news.source }}</small> &#8226;
                                                    {% if news.modified_text %}{{news.modified_text|truncatechars_html:100|safe }} {% else %} {{news.text|truncatechars:50|safe }} {% endif %}
                                                    <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                                </div>
                                                    {% for artist in news.artists.all %}
                                                        <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                            <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                        </a>
                                                    {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                          <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel6" data-slide="prev">
                                <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel6" data-slide="next">
                                <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            <!-- Indicators -->
                              <ol class="carousel-indicators">
                                  {% for news in all_news %}
                                      {% if forloop.first %}
                                      <li data-target="#myCarousel6" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                      {% else %}
                                      <li data-target="#myCarousel6" data-slide-to="{{ forloop.counter }}"></li>
                                      {% endif %}
                                  {% endfor %}
                              </ol>
                        </div>
                        <p style="text-align:center; margin-bottom: 0;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                    </div>
                {% else %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>WDJP LATEST NEWS</p>
                        </div>
                        <h4 class="text-center"> No news yet</h4>
                    </div>
                {% endif %}

                <!-- Show Agent Fav Venuse -->
                {% if user_type != "Promoter" or request.user.is_superuser %}
                    {% if favorite_venues %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE VENUES</p>
                            </div>
                            <div class="table-responsive">
                                <table id="fav_venue_table" class="table">
                                  <thead id="sort_table_head">
                                    <tr>
                                      <th>Venue Name</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>Country</th>
                                      <th>       </th>
                                    </tr>
                                  </thead>
                                  <tbody id="sort_table_body">
                                      {% for venues in favorite_venues %}
                                        <tr>
                                            <td class="col-md-1">{{ venues.venuename }}</td>
                                            <td class="col-md-2">{{ venues.venueaddress }}</td>
                                            <td class="col-md-2">{{ venues.city }}</td>
                                            <td class="col-md-2">{{ venues.country }}</td>
                                            <td class="col-md-1">
                                                {% with venues.country|get_country_code as country_code %}
                                                    {% with 'flags/'|add:country_code|add:'.gif' as image_static %}
                                                        <img style="display:inline;" src="{% static image_static %}" alt="">
                                                    {% endwith %}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'my_favorite_venue'%}" class="btn btn-default btn-md">
                                    View Venues/Manage Contacts
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE VENUES</p>
                            </div>
                            <h4 class="text-center">You didn’t setup any favorite venues yet!</h4>
                            <div class="text-center">
                                <a href="{% url 'territory_search' %}" class="btn btn-default hidden-sm hidden-xs">Add Favorite Venues Here</a>
                                <a href="{% url 'territory_search' %}" class="btn btn-default hidden-md hidden-lg">Add Favorite Venues Here</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if user_coming_events and user_type != "Promoter" %}

                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>YOUR PLANNED EVENTS</p>
                        </div>
                        <div class="table-responsive">
                            <table id="fav_venue_table" class="table">
                                <thead id="sort_table_head">
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                        <th>City</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody id="sort_table_body">
                                    {% for event in user_coming_events %}
                                        <tr>
                                            <td class="col-md-1">
                                                <a style="display:inline-block" href="{% url 'event_detail' event.event_id%}">
                                                    <strong class="wdjp-base-color">{{ event.event_name|title }}</strong>
                                                </a>
                                            </td>
                                            <td class="col-md-2">{{ event.event_date }}</td>
                                            <td class="col-md-2">{{ event.city }}</td>
                                            <td class="col-md-2">{{ event.get_country}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'booking_request'%}" class="btn btn-default btn-md">
                                <span class="glyphicon glyphicon-plus"></span> Plan new events
                            </a>
                            <a href="{% url 'my_favorite_venue'%}" class="btn btn-default btn-md">
                                <span class="glyphicon glyphicon-plus"></span> See All
                            </a>
                            <div>
                                Click on Event to Edit
                            </div>
                        </div>

                    </div>
                {% endif %}

                {% if near_by_events and user_type in DEFAULT_DASHBOARD %}
                    <div class="well well-color">
                        <div class="dashboard-content-heading">
                            <p>EVENTS AND PARTIES NEAR ME</p>
                        </div>
                        <div id="myCarousel" class="carousel wd-carousel slide" data-ride="carousel">

                        <div class="carousel-inner" >
                            {% for event in near_by_events %}

                                <div class="item {% if forloop.first %}active{% endif%}">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% if event.artist_performing.0.artistPhoto %}
                                                <img src="{{ event.artist_performing.0.artistPhoto.url }}" alt="{{event.artist_performing.0.artist_performing.artistName}}" style="width: 80%; margin-top: 12px;">
                                            {% else %}
                                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{event.artist_performing.0.artist_performing.artistName}}" style="width: 80%; margin-top: 12px;">
                                            {% endif %}<br>
                                            <a target="_blank" href="https://www.google.com/search?q={{event.event_data.eventName}} {{event.venue_data.venueaddress}} Ticket '" class="btn btn-sm btn-default btn-animated margin-clear">Search Ticket <i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="col-sm-8">

                                            <div style="font-size:18px;">
                                                <strong>
                                                    {% if event.venue_data.venuename == event.event_data.eventName %}
                                                        {{event.event_data.eventName}}
                                                    {% else %}
                                                        {{event.venue_data.venuename}} {{ event.event_data }}
                                                    {% endif %}
                                                    </strong>
                                            </div>
                                            <hr style="margin-top:5px;margin-bottom:5px;">
                                            <div style="font-size:15px">
                                                <strong>
                                                    Artist Performing:
                                                </strong>
                                                {% for artist in event.artist_performing %}
                                                    <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                        <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                            {% if event.venue_data.venuename %}
                                                <div>
                                                    <strong>Venue Name:-</strong>
                                                    {{event.venue_data.venuename}}
                                                </div>
                                            {% endif %}
                                            {% if event.event_data.date %}
                                                <div>
                                                    <strong>Date:-</strong> {{event.event_data.date}}
                                                </div>
                                            {% endif %}
                                            {% if event.event_data.startTime %}
                                                <div>
                                                    <strong>Time:-</strong> {{event.event_data.startTime}}
                                                </div>
                                            {% endif %}
                                            {% if event.venue_data.venueaddress %}
                                                <div><strong>Venue Address:-</strong> {{event.venue_data.venueaddress}}</p></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                      <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- Indicators -->
                          <ol class="carousel-indicators">
                              {% for event in near_by_events %}
                                  {% if forloop.first %}
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  {% else %}
                                  <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                                  {% endif %}
                              {% endfor %}
                          </ol>
                    </div>
                        <p style="text-align:center;">SCROLL RIGHT / LEFT FOR MORE EVENTS</p>
                    </div>
                {% else %}
                    {% if user_type == "Promoter" or request.user.is_superuser %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>LOCAL EVENTS AND PARTIES</p>
                            </div>
                            <h4 class="text-center"> No local events and parties yet!</h4>
                        </div>
                    {% endif %}
                {% endif %}
                </div>
            <div class="wd-dashboard-col-sidebar with-padding bg-blue" >
                <div class="sidebar-inner">
                    {% if social_auth_google|length == 0 or social_auth_facebook|length == 0 %}
                    <div class="well">
                        <h4 style="text-align:center;"><strong>CONNECT SOCIAL ACCOUNT</strong></h4>
                        <p>
                            {% if not social_auth_google %}
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-block btn-social btn-google" style="color: white; background-color:#e84f3e; text-align:center;">
                                <span class="fa fa-google"></span> Connect Google Account</a>
                            {% endif %}
                            {% if not social_auth_facebook %}
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-sm btn-block btn-social btn-facebook"
                                    style="color: white; background-color:#3b5998; text-align:center;">
                                <span class="fa fa-facebook"></span> Connect facebook Account</a>
                            {% endif %}
                        </p>
                    </div>
                    {% endif %}
                    <hr>

                    <h4 style="color:white; margin-top: 0" class="font-bold">
                        NEWS FEEDS
                    </h4>
                    {% if user_type != "Artists/DJs" or request.user.is_superuser %}
                    <p>
                        <a style="color:white;" href="{% url 'news' %}">Global News</a>
                    </p>
                    <p>
                        <a style="color:white;" href="{% url 'wdjp_news' %}">WDJP News Feed</a>
                    </p>
                    <p>
                        <a style="color:white;" href="{% url 'search_news' %}">News Search</a>
                    </p>
                    <p>
                        <a style="color:white;" href="{% url 'my_news_feed' %}">My News Feed</a>
                    </p>
                    {% endif %}
                    <hr>
                    <h4 style="color:white;" class="font-bold">WDJP LESSONS</h4>
                    {% if user_type == "Promoter" or request.user.is_superuser %}
                    <p>
                        <a style="color:white;" href="{% url 'help_available_artist' %}">Search By Artist</a>
                    </p>
                    {% endif %}
                    <p>
                        <a style="color:white;" href="{% url 'help_compare_artist' %}">Compare Artist</a>
                    </p>
                    <p>
                        <a style="color:white;" href="{% url 'help_global_event' %}">Country Event Search</a>
                    </p>
                    <p>
                        <a style="color:white;" href="{% url 'help_create_event' %}">Create Event</a>
                    </p>

                    <hr>
                    <div class="well">
                    <h4 style="text-align:center;"><strong>ARTIST OF THE DAY</strong></h4>
                    <a href="{% url 'artist_detail' artist_of_the_day.artistID %}">
                        {% if artist_of_the_day.artistPhoto %}
                            <img src="{{ artist_of_the_day.artistPhoto.url }}" alt="{{artist_of_the_day.artistName}}" width="100%" height="200px">
                        {% else %}
                            <img src= "{% static 'frontend/images/artists.jpg' %}" alt="{{artist_of_the_day.artistName}}" width="100%" height="200px">
                        {% endif %}
                    </a>
                    <a href="{% url 'artist_detail' artist_of_the_day.artistID %}"><h5 style="text-align:center;">{{ artist_of_the_day.artistName}}</h5></a>
                    <div class="separator-2"></div>
                    <div>
                        {% if artist_of_the_day.twitter_fancount %}
                        <div style="margin-bottom: 15px">
                            <!-- <h3 style="margin-bottom: 5px">Twitter</h3> -->
                            <div style="margin-left:50px;">
                                <h3 style="font-size:20px; display:inline;" class="fa fa-twitter"></h3>
                                <p style="display:inline; font-size:15px;color: black"> &nbsp {{ artist_of_the_day.twitter_fancount }}</p>
                            </div>
                            <div class="separator-2"></div>
                        </div>
                        {% endif %}
                        {% if artist_of_the_day.facebook_fancount %}
                        <div style="margin-bottom: 15px">
                            <div style="margin-left:50px;">
                                <h3 style="font-size:20px; display:inline;" class="fa fa-facebook"></h3>
                                <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.facebook_fancount }}</p>
                            </div>

                            <div class="separator-2"></div>
                        </div>
                        {% endif %}
                        {% if artist_of_the_day.youtube_fancount %}
                        <div style="margin-bottom: 15px">
                            <div style="margin-left:50px;">
                                <h3 style="font-size:20px; display:inline;" class="fa fa-youtube"></h3>
                                <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.youtube_fancount }}</p>
                            </div>
                            <div class="separator-2"></div>
                        </div>
                        {% endif %}
                        {% if artist_of_the_day.spotify_fancount %}
                        <div style="margin-bottom: 15px">
                            <div style="margin-left:50px;">
                                <h3 style="font-size:20px; display:inline;" class="fa fa-spotify"></h3>
                                <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.spotify_fancount }}</p>
                            </div>
                            <div class="separator-2"></div>
                        </div>
                        {% endif %}
                        {% if artist_of_the_day.instagram_fancount %}
                        <div style="margin-bottom: 15px">
                            <div style="margin-left:50px;">
                                <h3 style="font-size:20px; display:inline;" class="fa fa-instagram"></h3>
                                <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.instagram_fancount }}</p>
                            </div>
                            <!-- <h3 style="margin-bottom: 5px">Facebook</h3>
                            <p style="margin: 0">
                                <span class="font-bold">Size:</span> {{ artist_of_the_day.facebook_fancount }}
                            </p> -->
                            <div class="separator-2"></div>
                        </div>
                        {% endif %}

                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}
