{% load staticfiles %}
{% for event in events %}
    <tr>
        <td class="col-md-3">{{ event.date|date:"M d, Y" }}</td>
        <td class="col-md-2">{{ event.eventName|title }}</td>
        <td class="col-md-2">{{ event.evenueName}}</td>
        <td class="col-md-1">{{ event.city }}</td>
        <td class="col-md-1">{{ event.country}}</td>
    </tr>
{% endfor %}
