{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | DJ Dashboard </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}


{% block extra_js %}

<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyCJTSEiRDKSHOsV5jbnxrISJXoopUUlhgw"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/map_styles.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/oms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/owl/css/owl.carousel.min.css'%}">
<script type="text/javascript" src="{% static 'frontend/owl/js/owl.carousel.min.js'%}"></script>

<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'frontend/js/zingchart.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<script type="text/javascript">
    var currentTHRequest = null;
    $('.typeahead1').typeahead({
        source: function (query, process) {
            artists = [];
            map = {};
            if(currentTHRequest && currentTHRequest.pipe()) {
                currentTHRequest.abort();
            }
            currentTHRequest = $.ajax({
                url: '/artists/filter-artist/',
                data: { query: query },
                success: function(data) {
                    $.each(data, function(i, object) {
                        map[object.artistName] = object;
                        artists.push(object.artistName);
                    });
                    process(artists);
                }
            })
        },
        updater: function(item) {
                $('#artist1').val(map[item].artistID);
                return item;
            }
        });
        $('.typeahead2').typeahead({
            source: function (query, process) {
                artists = [];
                map = {};
                if(currentTHRequest && currentTHRequest.pipe()) {
                    currentTHRequest.abort();
                }
                currentTHRequest = $.ajax({
                    url: '/artists/filter-artist/',
                    data: { query: query },
                    success: function(data) {
                        $.each(data, function(i, object) {
                            map[object.artistName] = object;
                            artists.push(object.artistName);
                        });
                        process(artists);
                    }
                })
            },
            updater: function(item) {
                    $('#artist2').val(map[item].artistID);
                    return item;
                }
        });
    
</script>


<script type="text/javascript">
    var ctx = document.getElementById("ArtistsFacebookChart").getContext('2d');
            var color = Chart.helpers.color;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                    {% for lable , data in dj_similar_artists_facebook_stats.items %}
                    {
                        label: "{{lable|safe}}",
                        backgroundColor: "{{color_code|get_value_from_dict:lable}}",
                        borderColor: "{{color_code|get_value_from_dict:lable}}",
                        fill: false,
                        data: [
                        {% for date, amount in  data.items %}
                        {
                            x: moment("{{date}}", 'x'),
                            y: {{amount}}
                        },
                        {% endfor %}
                    ],
                    },
                    {% endfor %}
                ]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 10,
                            hoverRadius: 5,
                        },
                    },
                    responsive: true,
                    title:{
                        display:true,
                        text:"You and Similar Artist Facebook Stats"
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                    unit: 'month',
                                    unitStepSize: 1,
                                  displayFormats: {
                                    'millisecond': 'MMM',
                                    'second': 'MMM',
                                    'minute': 'MMM',
                                    'hour': 'MMM',
                                    'day': 'MMM',
                                    'week': 'MMM',
                                    'month': 'MMM',
                                    'quarter': 'MMM',
                                    'year': 'MMM',
                                  }
                                  },
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date',
                            },
                            ticks: {
                                major: {
                                    fontStyle: "bold",
                                    fontColor: "#FF0000"
                                }
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Fan Count'
                            }
                        }]
                    }
                }
            });
</script>


<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart', 'bar']});
    {% if statistics.facebook or statistics.twitter %}
         google.charts.setOnLoadCallback(drawsocialmediaChart);
    {% endif %}
    {% if statistics.youtube or statistics.spotify %}
        google.charts.setOnLoadCallback(drawstreamingchannelChart);
    {% endif %}

  function drawstreamingchannelChart() {

    var data = google.visualization.arrayToDataTable([
    ['Social Media', 'Fans'],
    {% if statistics.youtube %}
        ['Youtube', {{statistics.youtube.likes}}],
    {% endif %}
    {% if statistics.spotify %}
    ['Spotify', {{statistics.spotify.likes}}],
    {% endif %}
    ]);

    var options = {
        title: "STREAMING CHANNELS",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        height: 150,
        chartArea: {width: '70%'},
        hAxis: {
          minValue: 0
        },
        bar: {
          groupWidth: '80%'
        },
        legend: {position: 'none'},
        colors: ['#09afdf'],
    };

    var chart = new google.visualization.BarChart(document.getElementById('streaming_channel_chart'));

    chart.draw(data, options);
  }

  function drawsocialmediaChart() {

      var data = google.visualization.arrayToDataTable([
        ['Social Media', 'Fans'],
        {% if statistics.facebook %}
            ['Facebook', {{statistics.facebook.likes}}],
        {% endif %}
        {% if statistics.twitter %}
            ['Twitter', {{statistics.twitter.likes}}],
        {% endif %}
        {% if statistics.instagram %}
            ['Instagram', {{statistics.instagram.likes}}],
        {% endif %}
      ]);

      var options = {
        title: "SOCIAL MEDIA",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        height: 150,
        chartArea: {width: '70%'},
        hAxis: {
          minValue: 0
        },
        bar: {
          groupWidth: '80%'
        },
        colors: ['#09afdf'],
        legend: {position: 'none'},
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
  }

  {% if statistics.facebook %}
    google.charts.setOnLoadCallback(drawfbChart);
    function drawfbChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Fans'],
        {% for data in statistics.facebook.map_data %}
            [new Date({{data.date}}),  {{data.fans}}],
        {% endfor %}
      ]);

      var options = {
        chartArea: {width: '60%'},
        title: "Growth: {{ statistics.facebook.growth }}%",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        hAxis: {titleTextStyle: {color: '#333'}},
        vAxis: {title: 'Fans', minValue: 0,logScale: true},
        colors: ['#09afdf'],
      };


      var chart = new google.visualization.AreaChart(document.getElementById('id_facebook_growth_chart'));
      chart.draw(data, options);
    }
  {% endif %}

  // Twitter Chart
  {% if statistics.twitter %}
    google.charts.setOnLoadCallback(drawtwChart);
    function drawtwChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Followers'],
        {% for data in statistics.twitter.map_data %}
            [new Date({{data.date}}),  {{data.fans}}],
        {% endfor %}
      ]);

      var options = {
        chartArea: {width: '60%'},
        title: "Growth: {{ statistics.twitter.growth }}%",
        titleTextStyle: {
          color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
          fontSize: 12, // 12, 18 whatever you want (don't specify px)
          bold: false,    // true or false
        },
        hAxis: {titleTextStyle: {color: '#333'}},
        vAxis: {title: 'Fans', minValue: 0, logScale: true},
        colors: ['#09afdf'],
      };

      var chart = new google.visualization.AreaChart(document.getElementById('id_twitter_growth_chart'));
      chart.draw(data, options);
    }
  {% endif %}

  // Youtube Chart
  {%if statistics.youtube %}
    google.charts.setOnLoadCallback(drawytChart);
    function drawytChart() {
      var data = google.visualization.arrayToDataTable([
      ['Date', 'Followers'],
      {% for data in statistics.youtube.map_data %}
          [new Date({{data.date}}),  {{data.fans}}],
      {% endfor %}
      ]);

      var options = {
          chartArea: {width: '60%'},
          title: "Growth: {{ statistics.youtube.growth }}%",
          titleTextStyle: {
            color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
            fontSize: 12, // 12, 18 whatever you want (don't specify px)
            bold: false,    // true or false
          },
          hAxis: {titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Fans', minValue: 0, logScale:true},
          colors: ['#09afdf'],
      };

      var chart = new google.visualization.AreaChart(document.getElementById('id_youtube_growth_chart'));
      chart.draw(data, options);
    }
  {% endif %}

  //Spotify Chart
  {% if statistics.spotify %}
    google.charts.setOnLoadCallback(drawspotifyChart);

    function drawspotifyChart() {
      var data = google.visualization.arrayToDataTable([
      ['Date', 'Followers'],
      {% for data in statistics.spotify.map_data %}
          [new Date({{data.date}}),  {{data.fans}}],
      {% endfor %}
      ]);

      var options = {
          chartArea: {width: '60%'},
          title: "Growth: {{ statistics.spotify.growth }}%",
          titleTextStyle: {
            color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
            fontSize: 12, // 12, 18 whatever you want (don't specify px)
            bold: false,    // true or false
          },
          hAxis: {titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Fans', minValue: 0, logScale: true},
          colors: ['#09afdf'],
      };

      var chart = new google.visualization.AreaChart(document.getElementById('id_spotify_growth_chart'));
      chart.draw(data, options);
    }
  {% endif %}


  {% if statistics.instagram %}
    google.charts.setOnLoadCallback(drawinstagramChart);

    function drawinstagramChart() {
      var data = google.visualization.arrayToDataTable([
      ['Date', 'Followers'],
      {% for data in statistics.instagram.map_data %}
          [new Date({{data.date}}),  {{data.fans}}],
      {% endfor %}
      ]);

      var options = {
          chartArea: {width: '60%'},
          title: "Growth: {{ statistics.instagram.growth }}%",
          titleTextStyle: {
            color: ('#777777'),    // any HTML string color ('red', '#cc00cc')
            fontSize: 12, // 12, 18 whatever you want (don't specify px)
            bold: false,    // true or false
          },
          hAxis: {titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Fans', minValue: 0, logScale: true},
          colors: ['#09afdf'],
      };

      var chart = new google.visualization.AreaChart(document.getElementById('id_instagram_growth_chart'));
      chart.draw(data, options);
    }
  {% endif %}


</script>

<script>
{% if artist %}
    function load_events(action){
        if (action == "upcoming"){
            var start = $("#upcoming_start").val();
            $("#upcoming_svg").show();
        }
        else{
            var start = $("#past_start").val();
            $("#past_svg").show();
        }
        data = {
            "start":start,
            "action":action,
            "dj_artist":"dj_artist",
        }
        $.ajax({
            url: "{% url 'load_events' artist.artistID %}",
            type: "GET",
            data: data,
            success: function(response) {
                if (action == "upcoming"){
                    $("#upcoming_svg").hide();
                    if (response.status == "True"){
                        $('#upcomingtable tr:last').after(response.data);
                        $('#upcoming_start').val(response.start);
                    }
                    else {
                        $("#upcoming_button").hide();
                    }
                }
                else {
                    $("#past_svg").hide();
                    if (response.status == "True"){
                        $('#pasttable tr:last').after(response.data);
                        $('#past_start').val(response.start);
                    }
                    else {
                        $("#past_button").hide();
                    }
                }
            }
        })
    }
{% endif %}

</script>

{% if user_type == "Artists/DJs" %}
    <style>
        .wd-dashboard-col-sidebar.bg-blue .sidebar-inner{
            background:black!important;
        }

        .dashboard-content-heading p{
            color: black!important;
        }
        .btn-default{
            background-color: black;
            border-color: black;
        }
        .btn-default:hover{
            background-color:black;
            border-color: black;
        }
        a{
            color:black;
        }
        a:hover{
            color:black;
        }
        td{
            color:black;
        }

    </style>
{% endif %}

{% endblock %}

{% block content %}

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><a href="{% url 'dashboard' %}">DJ Dashboard</a></li>
                </ol>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-2 col-xs-offset-2">
                    <ol class="breadcrumb">
                        <span style="color:skyblue" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="background: #eee;" {% if not latest_news %} style="height: calc(150vh - 121px)" {% endif %} >
    <div style='background-image: url("{{STATIC_URL}}frontend/images/dj-dashboard/dj2-dashboard.jpg");'>
        <div class="container" >
            <br>
            <div class="wd-dashboard-grid">
                <div class="wd-dashboard-col-sidebar with-padding bg-blue" >
                    <div class="sidebar-inner">
                        <h4 style="color:white; margin-top: 0" class="font-bold">
                            GET SEARCHING
                        </h4>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'artists' %}">{{'Search By Artist'|title}}</a>
                        </p>
                        <!-- <p class="mb-10">
                            <a style="color:white;" href= "{% url 'artists' %}">{{'All Artists'|title}}</a>
                        </p> -->
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'compare_artists' %}">{{'Compare Djs'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'trends' %}">{{'Top 50 Trending Artists (beta)'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'territory_search' %}">{{'Country Events Search'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'territory' %}">{{'Territory Events Search'|title}}</a>
                        </p>
                        {% if request.user.is_superuser %}
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'search_events' %}">{{'All Events Search'|title}}</a>
                        </p>
                        {% endif %}
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'venues' %}">{{'Global Venues Database'|title}}</a>
                        </p>
                        <p class="mb-10">
                            <a style="color:white;" href= "{% url 'artist_country_analysis' %}">{{'Artist Country Analysis'|title}}</a>
                        </p>
                        {% if request.user.is_superuser %}
                        <!-- <p>
                            <a style="color:white;" href="{% url 'dates' %}">{{'Search By Artist'|title}}</a>
                        </p> -->
                        {% if system_env != 'PRODUCTION' %}
                        <p>
                            <a style="color:white;" href="{% url 'flight_share' %}">{{'Travel share search'|title}}</a>
                        </p>
                        {% endif %}
                        <p>
                            <a style="color:white;" href="{% url 'someone_music_you_love' %}">{{'Line Up search'|title}}</a>
                        </p>
                        <p>
                            <a style="color:white;" href="{% url 'master_search' %}">{{'Master search'|title}}</a>
                        </p>
                        {% endif %}
                        <p>
                            <a style="color:white;" href="{% url 'search_news' %}">{{'News Search'|title}}</a>
                        </p>
                        <hr>

                        <h4 style="color:white;" class="font-bold">COMPARE 2 DJS</h4>
                        <form method="GET" action="/artists/compare_dj/">
                            <div class="form-group typeahead-dark">
                                <input type="hidden" value="" name="artist1" id="artist1"></input>
                                <input class="form-control typeahead1" type="text" name="artist_name_1" placeholder="Enter Artist Name" autocomplete="off"></input>
                            </div>
                            <div class="form-group typeahead-dark">
                                <input type="hidden" value="" name="artist2" id="artist2"></input>
                                <input class="form-control typeahead2" type="text" name="artist_name_2" placeholder="Enter Artist Name" autocomplete="off"></input>
                            </div>
                            <input type="submit" value="Compare DJ's" class="btn btn-dark btn-block"></input>
                        </form>
                        <hr>
                        <h4 style="color:white; margin-top: 0" class="font-bold">
                                NEWS FEEDS
                            </h4>
                            <p>
                                <a style="color:white;" href="{% url 'news' %}">Global News</a>
                            </p>
                            <p>
                                <a style="color:white;" href="{% url 'wdjp_news' %}">WDJP News Feed</a>
                            </p>
                            <p>
                                <a style="color:white;" href="{% url 'search_news' %}">News Search</a>
                            </p>
                            <p>
                                <a style="color:white;" href="{% url 'my_news_feed' %}">My News Feed</a>
                            </p>
                            <hr>
                            <div class="well">
                            <h4 style="text-align:center;"><strong>ARTIST OF THE DAY</strong></h4>
                            <a href="{% url 'artist_detail' artist_of_the_day.artistID %}">
                                {% if artist_of_the_day.artistPhoto %}
                                    <img src="{{ artist_of_the_day.artistPhoto.url }}" alt="{{artist_of_the_day.artistName}}" width="100%" height="200px">
                                {% else %}
                                    <img src= "{% static 'frontend/images/artists.jpg' %}" alt="{{artist_of_the_day.artistName}}" width="100%" height="200px">
                                {% endif %}
                            </a>
                            <a href="{% url 'artist_detail' artist_of_the_day.artistID %}"><h5 style="text-align:center;">{{ artist_of_the_day.artistName}}</h5></a>
                            <div class="separator-2"></div>
                            <div>
                                {% if artist_of_the_day.twitter_fancount %}
                                <div style="margin-bottom: 15px">
                                    <!-- <h3 style="margin-bottom: 5px">Twitter</h3> -->
                                    <div style="margin-left:20px;">
                                        <h3 style="font-size:20px; display:inline;" class="fa fa-twitter"></h3>
                                        <p style="display:inline; font-size:15px;color: black"> &nbsp {{ artist_of_the_day.twitter_fancount }}</p>
                                    </div>
                                    <div class="separator-2"></div>
                                </div>
                                {% endif %}
                                {% if artist_of_the_day.facebook_fancount %}
                                <div style="margin-bottom: 15px">
                                    <div style="margin-left:20px;">
                                        <h3 style="font-size:20px; display:inline;" class="fa fa-facebook"></h3>
                                        <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.facebook_fancount }}</p>
                                    </div>
        
                                    <div class="separator-2"></div>
                                </div>
                                {% endif %}
                                {% if artist_of_the_day.youtube_fancount %}
                                <div style="margin-bottom: 15px">
                                    <div style="margin-left:20px;">
                                        <h3 style="font-size:20px; display:inline;" class="fa fa-youtube"></h3>
                                        <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.youtube_fancount }}</p>
                                    </div>
                                    <div class="separator-2"></div>
                                </div>
                                {% endif %}
                                {% if artist_of_the_day.spotify_fancount %}
                                <div style="margin-bottom: 15px">
                                    <div style="margin-left:20px;">
                                        <h3 style="font-size:20px; display:inline;" class="fa fa-spotify"></h3>
                                        <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.spotify_fancount }}</p>
                                    </div>
                                    <div class="separator-2"></div>
                                </div>
                                {% endif %}
                                {% if artist_of_the_day.instagram_fancount %}
                                <div style="margin-bottom: 15px">
                                    <div style="margin-left:20px;">
                                        <h3 style="font-size:20px; display:inline;" class="fa fa-instagram"></h3>
                                        <p style="display:inline; font-size:15px;color:black"> &nbsp {{ artist_of_the_day.instagram_fancount }}</p>
                                    </div>
                                    <!-- <h3 style="margin-bottom: 5px">Facebook</h3>
                                    <p style="margin: 0">
                                        <span class="font-bold">Size:</span> {{ artist_of_the_day.facebook_fancount }}
                                    </p> -->
                                    <div class="separator-2"></div>
                                </div>
                                {% endif %}
            
                            </div>
                            </div>

                        {% if request.user.is_superuser %}
                        <hr>
                            {% if events_added %}
                            <h4 style="color:white;" class="font-bold text-center">YOUR PLANNED EVENTS</h4>
                                {% for events in events_added %}
                                    <p>
                                        <a href="{% url 'event_detail' events.event_id%}" style="color:white;"> {{ events|title }} </a>
                                        <!-- <a href="{% url 'my_events' %}" style="color:white;"> {{ events }} </a> -->
                                    </p>
                                {% endfor %}
                            {% endif %}
                            <a href="{% url 'booking_request' %}"><button class="btn btn-dark btn-block">Create Event</button></a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="wd-dashboard-col" style="margin-top: -21px;">
                    <div class="alert alert-info text-center" style="background-color: white;">
                        <div class="dashboard-content-heading">
                            <p>WELCOME TO WDJP</p>
                        </div>
                        <p>{{wdjp_welcome_text|safe}}</p>
                    </div>

                    {% if request.user.is_superuser %}
                        {% if all_events  %}
                            <div class="well">
                                <div class="dashboard-content-heading">
                                    <p>YOUR PLANNED EVENTS</p>
                                </div>
                                <div class="table-responsive">
                                    <table id="fav_venue_table" class="table">
                                        <thead id="sort_table_head">
                                            <tr>
                                                <th>Event Name</th>
                                                <th>Date</th>
                                                <th>City</th>
                                                <th>Country</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sort_table_body">
                                            {% for event in events_added %}
                                                <tr>
                                                    <td class="col-md-1">
                                                        <a style="display:inline-block" href="{% url 'event_detail' event.event_id%}">
                                                            <strong class="wdjp-base-color">{{ event.event_name|title }}</strong>
                                                        </a>
                                                    </td>
                                                    <td class="col-md-2">{{ event.event_date }}</td>
                                                    <td class="col-md-2">{{ event.city }}</td>
                                                    <td class="col-md-2">{{ event.get_country}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <h4 style="text-align:center;"><strong>Event Shortlisted Artist</strong></h4>
                                {% for artist in djs_list %}
                                    <a href="{% url 'artist_detail' artist.artistID %}"><span class="label wd-label-article">{{ artist.artistName }}</span></a>
                                {%  endfor %}
                                <div class="text-center">
                                    <a href="{% url 'booking_request'%}" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-plus"></span> Plan New Events
                                    </a>
                                    <a href="{% url 'my_events'%}" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-plus"></span> See All
                                    </a>
                                    <div>
                                        Click on an Event to Edit
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="well">
                                <div class="dashboard-content-heading">
                                    <p>YOUR PLANNED EVENTS</p>
                                </div>
                                <h4 class="text-center"> You haven’t set up any events yet ! </h4>
                                <div class="text-center">
                                    <a href="{% url 'booking_request' %}" class="btn btn-default hidden-xs hidden-sm">Add Events Here</a>
                                    <a href="{% url 'booking_request' %}" class="btn btn-default hidden-md hidden-lg">Add Events Here</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile_obj.all_managed_artists.all %}
                    <div class="well">
                        <div class="dashboard-content-heading">
                            <p>YOUR MANAGEMENT</p>
                        </div>
                        <div class="row text-center" style="display:inline; margin:0px">
                            {% for artist in profile_obj.all_managed_artists.all %}
                                <div class="item">
                                    <div class="col-md-2 text-center col-md-offset-5">
                                        {% if artist.artist|get_artist_image_or_none %}
                                            <div class="roundImg margin-auto" style="background-image: url('{{artist.artist|get_artist_image_or_none}}');margin-left:7%;"></div>
                                        {% else %}
                                            <div class="roundImg margin-auto" style="background-image: url('{{STATIC_URL}}frontend/images/team-member-1.jpg');margin-left:7%;"></div>
                                        {% endif %}
                                        <p class="mb-10 text-center"><a href="{% url 'artist_detail' artist.artist.artistID %}">{{artist.artist.artistName}}</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR MANAGEMENT</p>
                            </div>
                            <h4 class="text-center"> You haven’t set yourself up as an artist yet - would you like to set yourself up as an artist ?</h4>
                            <div class="row">
                                <div class="text-center">
                                    <a href="{% url 'profile_managed_artist' %}" class="btn btn-default hidden-xs hidden-sm">Setup Your Profile</a>
                                    <a href="{% url 'profile_managed_artist' %}" class="btn btn-default hidden-md hidden-lg">Setup Your Profile</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if all_trackers %}
                        <div class="well well-box-shadow">
                            <div class="dashboard-content-heading">
                                <p>YOUR TRACKED ARTISTS</p>
                            </div>
                            
                            <div id="myCarousel7" class="carousel wd-carousel slide" data-ride="carousel">
                                <div class="carousel-inner" style="height:200px;">
                                    {% for tracker in all_trackers %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            <h4 style="text-align:center;"><a href="{% url 'tracker_fb_stats' tracker.id  %}"><strong style="color:skyblue;">{{ tracker.tracker_name|title }}</strong></a><span style="color:green;">{% if tracker.is_active %} (Active) {% endif %}</span></h4>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row checkbox-box">
                                                        {% for artist in tracker.artist.all %}
                                                            <div class="item">
                                                                <div class="wrapper">
                                                                    {% if artist|get_artist_image_or_none %}
                                                                        <img src="{{ artist|get_artist_image_or_none }}" alt="{{artist.artistName}}" class="checkboard-image" style=" max-width: 99px;">
                                                                    {% else %}
                                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" style=" max-width: 99px;" class="checkboard-image">
                                                                    {% endif %}
                                                                    <div class='description'>
                                                                        <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' artist.artistID %}">{{artist.artistName}}</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel7" data-slide="prev">
                                    <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel7" data-slide="next">
                                    <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for tracker in all_trackers %}
                                        {% if forloop.first %}
                                        <li data-target="#myCarousel7" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                        {% else %}
                                        <li data-target="#myCarousel7" data-slide-to="{{ forloop.counter }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <p style="text-align:center; margin-bottom: 0;">SCROLL RIGHT / LEFT FOR MORE TRACKERS</p>
                        </div>
                    {% else %}
                        <div class="well well-box-shadow">
                                <div class="dashboard-content-heading">
                                    <p>YOUR TRACKED ARTISTS</p>
                                </div>
                            <h4 style="text-align:center;">
                                You don't have any followed Artists Group, would you like to add ?
                            </h4>
                            <div class="text-center"><a href="{% url 'profile_trackers' %}" class="btn btn-default">Add Tracker</a></div>
                        </div>
                    {% endif %}

                    {% if fav_artist_news_list %}
                        <div class="well">
                        <div class="dashboard-content-heading">
                            <p>Your Favorite Artists News Feed</p>
                        </div>
                        <div id="myCarousel3" class="carousel wd-carousel slide" data-ride="carousel">
                            <div class="carousel-inner" style="">
                            {% for news in fav_artist_news_list %}
                                {% if forloop.first %}
                                <div class="item active">
                                {% else %}
                                <div class="item">
                                {% endif %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="{% url 'artist_detail' news.artist.artistID %}" target="_blank">
                                                        <h3 style="margin-top: 30px">{{news.artist.artistName}}</h3>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    {% if news.artist.artistPhoto %}
                                                        <img style="display:inline;" src="{{ news.artist.artistPhoto.url }}" alt="{{news.artist.artistName}}" class="checkboard-image">
                                                    {% else %}
                                                        <img style="display:inline;" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{news.artist.artistName}}" class="checkboard-image">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% for news in news.news %}
                                            <div class="wd-artist-news">
                                                <span class="wd-posted-on" style="font-size: 14px">{{news.source }}</span> &#8226;
                                                {{news.title}}
                                                <a target="_blank" href="{{news.url}}">Read the Article</a>
                                            </div>
                                            {% endfor %}
                                            <a class="btn btn-default btn-md" href="{% url 'news' %}?artist_name={{news.artist.artistName}}">Show More News</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div><br>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                                <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                                <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            <ol class="carousel-indicators">
                                {% for news in fav_artist_news_list %}
                                    {% if forloop.first %}
                                    <li data-target="#myCarousel3" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                    {% else %}
                                    <li data-target="#myCarousel3" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>

                        </div>
                        <p style="text-align:center;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                    </div>
                    {% else %}
                    <div class="well well-box-shadow">
                        <div class="dashboard-content-heading">
                            <p>Your Favourite Artists News</p>
                        </div>
                        <h4 style="text-align:center;"> You haven’t set up any Favorite Artists Yet - </h4>
                        <a href="{% url 'artists' %}" style="margin-left:195px;" class="btn btn-default hidden-xs hidden-sm">Add Artists Here</a>
                        <a href="{% url 'artists' %}" style="margin-left:80px;" class="btn btn-default hidden-md hidden-lg">Add Artists Here</a>
                    </div>
                    {% endif %}

                    {% if all_news %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>WDJP LATEST NEWS</p>
                            </div>
                            
                            <div id="myCarousel6" class="carousel wd-carousel slide" data-ride="carousel">
                                <div class="carousel-inner" style="height:200px;">
                                    {% for news in all_news %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    {% if news.imageurl %}
                                                        <img src="{{news.imageurl}}" alt="{{news.title}}" style="width: 100%; max-height:100px; margin-top: 18px;">
                                                    {% else %}
                                                        <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{news.title}}" style="width: 100%; margin-top: 18px;">
                                                    {% endif %}
                                                </div>

                                                <div class="col-sm-8">
                                                    <h4 class="wd-article--heading"><a href="{{news.url}}" target="_blank">{{ news.title }}</a></h4>
                                                    <p class="wd-posted-on">
                                                        {{ news.publish_date|date:"d M Y"}}
                                                    </p>
                                                    <div class="wd-article--text" style="font-size: 14px">
                                                        <small class="wd-article--source">{{ news.source }}</small> &#8226;
                                                        {% if news.modified_text %}{{news.modified_text|truncatechars_html:100|safe }} {% else %} {{news.text|truncatechars:50|safe }} {% endif %}
                                                        <a href="{{news.url}}" target="_blank"> Read the Article</a>
                                                    </div>
                                                        {% for artist in news.artists.all %}
                                                            <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                                <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                            </a>
                                                        {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel6" data-slide="prev">
                                    <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel6" data-slide="next">
                                    <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for news in all_news %}
                                        {% if forloop.first %}
                                        <li data-target="#myCarousel6" data-slide-to="{{ forloop.counter }}" class="active"></li>
                                        {% else %}
                                        <li data-target="#myCarousel6" data-slide-to="{{ forloop.counter }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <p style="text-align:center; margin-bottom: 0;">SCROLL RIGHT / LEFT FOR MORE NEWS</p>
                        </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>WDJP LATEST NEWS</p>
                            </div>
                            <h4 class="text-center"> No news yet</h4>
                        </div>
                    {% endif %}

                    <!-- Show Agent Fav Venuse -->
                    {% if favorite_venues %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE VENUES</p>
                            </div>
                            <div class="table-responsive">
                                <table id="fav_venue_table" class="table">
                                <thead id="sort_table_head">
                                    <tr>
                                    <th>Venue Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>       </th>
                                    </tr>
                                </thead>
                                <tbody id="sort_table_body">
                                    {% for venues in favorite_venues %}
                                        <tr>
                                            <td class="col-md-1">{{ venues.venuename }}</td>
                                            <td class="col-md-2">{{ venues.venueaddress }}</td>
                                            <td class="col-md-2">{{ venues.city }}</td>
                                            <td class="col-md-2">{{ venues.country }}</td>
                                            <td class="col-md-1">
                                                {% with venues.country|get_country_code as country_code %}
                                                    {% with 'flags/'|add:country_code|add:'.gif' as image_static %}
                                                        <img style="display:inline;" src="{% static image_static %}" alt="">
                                                    {% endwith %}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'my_favorite_venue'%}" class="btn btn-default btn-md">
                                    View Venues/Manage Contacts
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR FAVORITE VENUES</p>
                            </div>
                            <h4 class="text-center">You didn’t setup any favorite venues yet!</h4>
                            <div class="text-center">
                                <a href="{% url 'territory_search' %}" class="btn btn-default hidden-sm hidden-xs">Add Favorite Venues Here</a>
                                <a href="{% url 'territory_search' %}" class="btn btn-default hidden-md hidden-lg">Add Favorite Venues Here</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if user_coming_events %}
                        <div class="well">
                            <div class="dashboard-content-heading">
                                <p>YOUR PLANNED EVENTS</p>
                            </div>
                            <div class="table-responsive">
                                <table id="fav_venue_table" class="table">
                                    <thead id="sort_table_head">
                                        <tr>
                                            <th>Event Name</th>
                                            <th>Date</th>
                                            <th>City</th>
                                            <th>Country</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sort_table_body">
                                        {% for event in user_coming_events %}
                                            <tr>
                                                <td class="col-md-1">
                                                    <a style="display:inline-block" href="{% url 'event_detail' event.event_id%}">
                                                        <strong class="wdjp-base-color">{{ event.event_name|title }}</strong>
                                                    </a>
                                                </td>
                                                <td class="col-md-2">{{ event.event_date }}</td>
                                                <td class="col-md-2">{{ event.city }}</td>
                                                <td class="col-md-2">{{ event.get_country}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'booking_request'%}" class="btn btn-default btn-md">
                                    <span class="glyphicon glyphicon-plus"></span> Plan new events
                                </a>
                                <a href="{% url 'my_favorite_venue'%}" class="btn btn-default btn-md">
                                    <span class="glyphicon glyphicon-plus"></span> See All
                                </a>
                                <div>
                                    Click on Event to Edit
                                </div>
                            </div>

                        </div>
                    {% endif %}

                    {% if near_by_events and user_type in DEFAULT_DASHBOARD %}
                        <div class="well well-color">
                            <div class="dashboard-content-heading">
                                <p>EVENTS AND PARTIES NEAR ME</p>
                            </div>
                            <div id="myCarousel" class="carousel wd-carousel slide" data-ride="carousel">

                            <div class="carousel-inner" >
                                {% for event in near_by_events %}

                                    <div class="item {% if forloop.first %}active{% endif%}">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if event.artist_performing.0.artistPhoto %}
                                                    <img src="{{ event.artist_performing.0.artistPhoto.url }}" alt="{{event.artist_performing.0.artist_performing.artistName}}" style="width: 80%; margin-top: 12px;">
                                                {% else %}
                                                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{event.artist_performing.0.artist_performing.artistName}}" style="width: 80%; margin-top: 12px;">
                                                {% endif %}<br>
                                                <a target="_blank" href="https://www.google.com/search?q={{event.event_data.eventName}} {{event.venue_data.venueaddress}} Ticket '" class="btn btn-sm btn-default btn-animated margin-clear">Search Ticket <i class="fa fa-search"></i></a>
                                            </div>
                                            <div class="col-sm-8">

                                                <div style="font-size:18px;">
                                                    <strong>
                                                        {% if event.venue_data.venuename == event.event_data.eventName %}
                                                            {{event.event_data.eventName}}
                                                        {% else %}
                                                            {{event.venue_data.venuename}} {{ event.event_data }}
                                                        {% endif %}
                                                        </strong>
                                                </div>
                                                <hr style="margin-top:5px;margin-bottom:5px;">
                                                <div style="font-size:15px">
                                                    <strong>
                                                        Artist Performing:
                                                    </strong>
                                                    {% for artist in event.artist_performing %}
                                                        <a href="{% url 'artist_detail' artist.artistID %}" target="_blank">
                                                            <span class="label wd-label-article">{{ artist.artistName }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                                {% if event.venue_data.venuename %}
                                                    <div>
                                                        <strong>Venue Name:-</strong>
                                                        {{event.venue_data.venuename}}
                                                    </div>
                                                {% endif %}
                                                {% if event.event_data.date %}
                                                    <div>
                                                        <strong>Date:-</strong> {{event.event_data.date}}
                                                    </div>
                                                {% endif %}
                                                {% if event.event_data.startTime %}
                                                    <div>
                                                        <strong>Time:-</strong> {{event.event_data.startTime}}
                                                    </div>
                                                {% endif %}
                                                {% if event.venue_data.venueaddress %}
                                                    <div><strong>Venue Address:-</strong> {{event.venue_data.venueaddress}}</p></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left carousel-icon-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right carousel-icon-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for event in near_by_events %}
                                    {% if forloop.first %}
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    {% else %}
                                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                            <p style="text-align:center;">SCROLL RIGHT / LEFT FOR MORE EVENTS</p>
                        </div>
                    {% endif %}

                    <!-- Dj Artists Facebook Chart
                    {% if dj_similar_artists_facebook_stats %}
                        <div class="row well well-box-shadow" style="margin-right: 0px; margin-left: 0px;">
                            <div class="">
                                <canvas id="ArtistsFacebookChart"></canvas>
                            </div>
                        </div>
                    {% else %}
                        <div class="well well-box-shadow">
                            <div class="dashboard-content-heading">
                                <p>Similar Artist</p>
                            </div>
                            <h4 style="text-align:center;"> No Stats !</h4>
                        </div>
                    {% endif %} -->


                    <!-- {% if profile_obj.favorite_artist.all%}
                        <div class="well well-box-shadow">
                            <h5 style="text-align:center;">Your Favorite Artists</h5>
                            <div class="row checkbox-box">
                                {% for fv_artist in profile_obj.favorite_artist.all %}
                                    <div class="item">
                                        <div class="wrapper">
                                            {% if fv_artist.artistPhoto %}
                                                <img src="{{ fv_artist.artistPhoto.url }}" alt="{{fv_artist.artistName}}" class="checkboard-image">
                                            {% else %}
                                                <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{sm_artist.artistName}}" class="checkboard-image">
                                            {% endif %}
                                            <div class='description'>
                                                <p class='description_content'><a style="color:white;text-decoration: none !important;" href="{% url 'artist_detail' fv_artist.artistID %}">{{fv_artist.artistName}}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %} -->

                </div>

                <div class="wd-dashboard-col-sidebar with-padding bg-blue" >
                    <div class="sidebar-inner">
                        {% if social_auth_google|length == 0 or social_auth_facebook|length == 0 %}
                            <div class="well">
                                <h4 style="text-align:center;"><strong>CONNECT SOCIAL ACCOUNT</strong></h4>
                                <p>
                                    {% if not social_auth_google %}
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-block btn-social btn-google" style="color: white; background-color:#e84f3e; text-align:center;">
                                        <span class="fa fa-google"></span> Connect Google Account</a>
                                    {% endif %}
                                    {% if not social_auth_facebook %}
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-sm btn-block btn-social btn-facebook"
                                            style="color: white; background-color:#3b5998; text-align:center;">
                                        <span class="fa fa-facebook"></span> Connect facebook Account</a>
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        <hr>
                        <div class="well">
                            <h4 style="text-align:center;"><strong>YOUR SOCIAL DEVELOPMENT</strong></h4>
                            <hr>
                            {% if statistics.facebook or statistics.twitter or statistics.spotify or statistics.youtube or statistics.instagram %}
                                <!-- <div style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                    <h4 class="title" style="text-align:center;"><strong>Your Channel Strength</strong></h4>
                                    <div id="chart_div"></div><br>
                                    <div id="streaming_channel_chart"></div>
                                <!-- </div> -->
                            {% else %}
                                <!-- <div style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                    <h4 class="title" style="text-align:center;"><strong>Your Channel Strength</strong></h4>
                                    <h4 class="text-center">No Data Yet !</h4>
                                <!-- </div> -->
                            {% endif %}
                            <hr>
                            {% if statistics.youtube %}
                            <!-- <div class="well well-box-shadow"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your YouTube Growth</strong></h4>
                                <div id="id_youtube_growth_chart" width="960" height="500"></div>
                            <!-- </div> -->
                            {% else %}
                            <!-- <div class="well" style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your YouTube Growth</strong></h4>
                                <h4 class="text-center">No Data Yet !</h4>
                            <!-- </div> -->
                            {% endif %}
                            <hr>
                            {% if statistics.spotify %}
                            <!-- <div class="well well-box-shadow"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Spotify Growth</strong></h4>
                                <div id="id_spotify_growth_chart" width="960" height="500"></div>
                            <!-- </div> -->
                            {% else %}
                            <!-- <div class="well" style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Spofify Growth</strong></h4>
                                <h4 class="text-center">No Data Yet !</h4>
                            <!-- </div> -->
                            {% endif %}
                            <hr>
                            {% if statistics.instagram %}
                            <!-- <div class="well well-box-shadow"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Instagram Growth</strong></h4>
                                <div id="id_instagram_growth_chart" width="960" height="500"></div>
                            <!-- </div> -->
                            {% else %}
                            <!-- <div class="well" style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Instagram Growth</strong></h4>
                                <h4 class="text-center">No Data Yet !</h4>
                            <!-- </div> -->
                            {% endif %}
                            <hr>
                            {% if statistics.twitter %}
                            <!-- <div class="well well-box-shadow"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Twitter Growth</strong></h4>
                                <div id="id_twitter_growth_chart" width="960" height="500"></div>
                            <!-- </div> -->
                            {% else %}
                            <!-- <div class="well" style="box-shadow: 3px 3px 15px #888888; background:white;"> -->
                                <h4 class="title" style="text-align:center;"><strong>Your Twitter Growth</strong></h4>
                                <h4 class="text-center">No Data Yet !</h4>
                            <!-- </div> -->
                            {% endif %}

                        </div>
                    </div>
                    
                </div>
                <!-- <div class="col-md-3"><br> -->
                    
                    <!-- {% if statistics.facebook %}
                    <div class="well well-box-shadow">
                        <h4 class="title" style="text-align:center;"><strong>Your Facebook Growth</strong></h4>
                        <div id="id_facebook_growth_chart" width="960" height="500"></div>
                    </div>
                    {% else %}
                    <div class="well" style="box-shadow: 3px 3px 15px #888888; background:white;">
                        <h4 class="title" style="text-align:center;"><strong>Your Facebook Growth</strong></h4>
                        <h4 class="text-center">No Data Yet !</h4>
                    </div>
                    {% endif %} -->
                    

                    <!-- <div class="text-center" style="font-family:bold;font-size:15px;margin-bottom:10px;color:white;">
                            Your <span style="color:#59afde;" class="fa fa-facebook"></span> Popularity In Top Countries
                    </div>
                    {% if artist_top_ten_country %}
                        <div style="font-size:13px;">
                            <table class="table">
                                <tbody>
                                {% for pop_country in artist_top_ten_country %}
                                <tr>
                                    <td class="text-center">
                                        {% with 'flags/'|add:pop_country.country_code|add:'.gif' as image_static %}
                                        <img style="display:inline;" src="{% static image_static %}" alt="">
                                        {% endwith %}<br>
                                        {{pop_country|get_value_from_dict:"country_name"}}
                                    </td>
                                    <td>{{pop_country|get_value_from_dict:"likes"|intword}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h4 style="font-size:17px; text-align:center;">No Data Yet</h4>
                    {% endif %} -->
                <!-- </div> -->
            </div>
        </div><br><br><br>
    </div>
</section>

{% endblock content %}

{% block footer %}
 	{% include "home/_footer.html" %}
{% endblock footer %}

