{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block title %}
    <h4>Artists search results</h4>
{% endblock title %}
{% block email_body %}
<p>
    Hi {{ user.first_name }},
    <br>
    Thanks for using WDJP!
    <br>
    {{ message }}:
    <br>
    {% if action == "list"%}
        <br>
        {% for artist in all_artists %}
            <b>
                <a href="{{ site_url }}{% url 'artist_detail' artist.artistID %}">{{artist.artistName}}</a>
            </b>
            <br>
        {% endfor %}
    {% else %}
        <br>
        {% for data in message_data %}
            <b>
                {{data|safe}}
            </b>
            <br>
        {% endfor %}
    {% endif %}
    <br>
    Simply click on the artist name for full WDJP information and valuable artist data.
    This represents their online listing status and plays an integral role in your
    booking process to help you achieve successful events or find shows to go to.
    <br>
    Select any artist and then click Booking Request to send an initial enquiry to your inbox for you to
    draft an email to them or their Manager/Agent to start the booking process.
</p>
{% endblock %}
