{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script>
    $("#new_offersheet").click(function() {
        $("#artist_select").modal("show");
    })

    $("#id_artists").change(function() {
        var artist = $(this).val();
        if(artist==""){
            $("#create_offersheet_btn").addClass("disabled")
        }else{
            var url = "{% url 'create_artist_offersheet' %}?artistID="+artist;
            $("#create_offersheet_btn").removeClass("disabled")
            $("#hidden_artist_id").val(artist)
            $("#offersheet_form").attr("action", url)
        }
    });
</script>
{% endblock %}

{% block content %}
    <h1 class="text-center" style="margin-top: 50px;">Offers HQ</h1>

    <div class="container" style="margin-top: 75px;margin-bottom: 100px">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#offersheet">Offersheets
                    <span class="badge">{{offersheets_count}}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#streams">Streams
                    <span class="badge">{{streams_count}}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#virtual_events">Virtual Events
                    <span class="badge">{{virtual_events_count}}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#live">Live
                    <span class="badge">{{live_events_count}}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#studio">Studio
                    <span class="badge">{{interview_count}}</span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#lessons">Lessons
                    <span class="badge">{{private_music_count}}</span>
                </a>
            </li>
        </ul>

        <div class="tab-content" style="margin-top:20px;">
            <div id="offersheet" class="tab-pane fade in padding_none active">
                {% if offersheets %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Artist Name</th>
                                <th>Streams</th>
                                <th>Live Events</th>
                                <th>Virtual Events</th>
                                <th>Teach / Share</th>
                                <th>Press/Promo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offersheet in offersheets %}
                                <tr>
                                    <th>
                                        {{offersheet.artist.artistName}}
                                    </th>
                                    <th>{% if offersheet.stream %}Yes{% else %}No{% endif %}</th>
                                    <th>{% if offersheet.live_events %}Yes{% else %}No{% endif %}</th>
                                    <th>{% if offersheet.virtual_events %}Yes{% else %}No{% endif %}</th>
                                    <th>{% if offersheet.private_music %}Yes{% else %}No{% endif %}</th>
                                    <th>{% if offersheet.interview %}Yes{% else %}No{% endif %}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry You haven't create any offersheet yet!</p>
                {% endif %}

                <div class="text-center" style="margin-top: 50px;">
                    <a href="#" class="btn btn-success" id="new_offersheet">Create New Offersheet</a>
                </div>
            </div>
            <div id="streams" class="tab-pane fade in padding_none">
                {% if streams %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Artist Name</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in streams %}
                                <tr>
                                    <th><a href="{% url 'view_offer' offer.id %}">{{offer.request_name}}</a></th>
                                    <th>{{offer.artist.artistName}}</th>
                                    <th>{{offer.name}}</th>
                                    <th>{{offer.date}}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry there are no stream offers yet.</p>
                {% endif %}
            </div>
            <div id="virtual_events" class="tab-pane fade in padding_none">
                {% if virtual_events %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Artist Name</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in virtual_events %}
                                <tr>
                                    <th><a href="{% url 'view_offer' offer.id %}">{{offer.request_name}}</a></th>
                                    <th>{{offer.artist.artistName}}</th>
                                    <th>{{offer.name}}</th>
                                    <th>{{offer.date}}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry there are no virtual event offers yet.</p>
                {% endif %}
            </div>
            <div id="live" class="tab-pane fade in padding_none">
                {% if live_events %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Artist Name</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in live_events %}
                                <tr>
                                    <th><a href="{% url 'view_offer' offer.id %}">{{offer.request_name}}</a></th>
                                    <th>{{offer.artist.artistName}}</th>
                                    <th>{{offer.name}}</th>
                                    <th>{{offer.date}}</th>
                                    {% if offer.status == 0 %}
                                        <th>New</th>
                                    {% endif %}
                                    {% if offer.status == 1 %}
                                        <th>Hold</th>
                                    {% endif %}
                                    {% if offer.status == 2 %}
                                        <th>Accepted</th>
                                    {% endif %}
                                    {% if offer.status == 3 %}
                                        <th>Rejected</th>
                                    {% endif %}

                                    <th><a class="btn btn-primary btn-sm"  href="{% url 'view_offer' offer.id %}"  style="width: 120px;">View Offer</a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry there are no live event offers yet.</p>
                {% endif %}
            </div>
            <div id="studio" class="tab-pane fade in padding_none">
                {% if interview %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Artist Name</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in interview %}
                                <tr>
                                    <th><a href="{% url 'view_offer' offer.id %}">{{offer.request_name}}</a></th>
                                    <th>{{offer.artist.artistName}}</th>
                                    <th>{{offer.name}}</th>
                                    <th>{{offer.date}}</th>
                                    {% if offer.status == 0 %}
                                        <th>New</th>
                                    {% endif %}
                                    {% if offer.status == 1 %}
                                        <th>Hold</th>
                                    {% endif %}
                                    {% if offer.status == 2 %}
                                        <th>Accepted</th>
                                    {% endif %}
                                    {% if offer.status == 3 %}
                                        <th>Rejected</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry there are no studio offers yet.</p>
                {% endif %}
            </div>
            <div id="lessons" class="tab-pane fade in padding_none">
                {% if private_music %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Artist Name</th>
                                <th>By</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in private_music %}
                                <tr>
                                    <th><a href="{% url 'view_offer' offer.id %}">{{offer.request_name}}</a></th>
                                    <th>{{offer.artist.artistName}}</th>
                                    <th>{{offer.name}}</th>
                                    <th>{{offer.date}}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">Sorry there are no stream offers yet.</p>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="artist_select">
      <div class="modal-dialog credit_card_payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Offersheet Creation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body" style="padding: 30px 20px;">
                
                <div class="form-group">
                    <label class="py-label" for="id_artists">Select the artist for which you want to make offersheet:</label><br>
                    <select class="py-form-control" id="id_artists">
                        <option value="" selected="selected">---------</option>
                        {% for no_offersheet_artist in no_offersheet_artists %}
                            <option value="{{no_offersheet_artist.artistID}}">{{no_offersheet_artist.artistName}}</option>
                        {% endfor %}
                    </select>
                    <p class="error"></p>
                </div>

                <form action="" method="post" id="offersheet_form">
                    {% csrf_token %}
                    <input type="hidden" value="" name="artistID" id="hidden_artist_id"/>
                    <button type="submit" class="btn btn-success disabled" id="create_offersheet_btn">Create {{ artist.artistName }} Offersheet</button>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
