<div id="create-info-modal" class="modal info-modal" role="dialog">
    <div class="modal-dialog modal-align">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body" id= "create_info_modal_body">
            <h4 id="info-modal-body"></h4>
        </div>
        <div class="modal-footer create-info-modal-footer">
            <center>
                <button type="button" class="btn btn-default" style="margin:0px;padding-right: 40px;padding-left: 40px;" data-dismiss="modal">OK</button>
            </center>
        </div>
        </div>
    </div>
</div>