{% extends "artist/__filterbase.html" %}

{% block top_search %}
<form action="/dates/" method="GET" class="form-inline text-center date">
                <div class="form-group">
                    <h3>Search date and genre: </h3>
                    <input type="text" name="date" id="date" value="{{ date|format_date }}" class="form-control datepicker" autocomplete="off" style="margin-bottom: 0;" />
                    <select name="genre" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for genre in genres %}
                            <option value="{{ genre.pk }}">{{ genre.genreName }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear">Find Now <i class="fa fa-search"></i></button>
                </div>
        </form>
{% endblock top_search %}