{% extends "artist/__filterbase.html" %}
{% load artist_filters %}
{% block extrajs %}

{% endblock %}
{% block top_search %}
<h1 class="page-title" style="text-align:center;">Welcome to ARTIST Availability SEARCH</h1>
<div class="clearfix"></div>
<form action="" method="GET" data-toggle="validator" class="form-inline text-center date" id="search">
<div class="form-group">
    {% if date_search == '2' %}
    <label class="radio-inline"><input type="radio" name="date_search" value="1" id="single_date">SINGLE DATE</label>
    <label class="radio-inline"><input type="radio" name="date_search" value="2" id="multi_date" checked="checked">RANGE</label>
    <h3 class="message">Search for a Range of Days: </h3>
    <input type="text" name="date" id="date" value="{{ date|format_date:'%m/%d/%Y' }}"  class="form-control start_date dp" autocomplete="off" placeholder="From:" style="margin-bottom: 0;" />
    <input type="text" name="date1" id="date1" value="{{ date1|format_date:'%m/%d/%Y' }}"  class="form-control end_date dp" autocomplete="off" placeholder="To:" style=" margin-bottom: 0;" />
    <button type="submit" class="btn btn-lg btn-default btn-animated margin-clear">Find Now <i class="fa fa-search"></i></button>
    {% else %}
    <label class="radio-inline"><input type="radio" name="date_search" value="1" id="single_date" checked="checked" >SINGLE DATE</label>
    <label class="radio-inline"><input type="radio" name="date_search" value="2" id="multi_date">RANGE</label>
    <h3 class="message">Search for a Date: </h3>
    <input type="text" name="date" id="date" value="{{ date|format_date:'%m/%d/%Y' }}"  class="form-control start_date dp" autocomplete="off" placeholder="From:" style="margin-bottom: 0;" />
    <input type="text" name="date1" id="date1" value="{{ date1|format_date:'%m/%d/%Y' }}"  class="form-control end_date dp" autocomplete="off" placeholder="To:" style="display: none; margin-bottom: 0;" />
    <button type="submit" onclick="return form_validation()" class="btn btn-lg btn-default btn-animated margin-clear" >Find Now <i class="fa fa-search"></i></button>
    {% endif %}

</div>
</form>
{% endblock top_search %}
{% block hidden_fields %}
    <input type="hidden" name ="date" value="{{ date |format_date:'%m/%d/%Y' }}"/>
    <input type="hidden" name ="date1" value="{{ date1 |format_date:'%m/%d/%Y' }}"/>
    <input type="hidden" name ="date_search" value="{{ date_search }}"/>
{% endblock hidden_fields %}
