{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Dates </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
    {% include "home/show_loader.html" %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript">

$(document).ready(function(){
        // datepicker
        $("#date").click(function(){
            $("#date").removeClass("error");
            $("#date1").removeClass("error");
        });

		var date = new Date();
        date.setDate(date.getDate());
		$(".start_date").datepicker({
			todayBtn: "linked",
			autoclose: true,
			startDate: date,
		}).on('changeDate', function (selected) {
			var minDate = new Date(selected.date.valueOf());
			$('.end_date').datepicker('setStartDate', minDate);
		}).keyup( function (selected) {
			var maxDate = new Date ( $('.end_date').val());
			maxDate.setDate(maxDate.getDate());
			if (maxDate != 0){
				$('.start_date').datepicker('setEndDate', maxDate);
				}
			else {
				$('.start_date').datepicker('setStartDate', date);
				$('.end_date').datepicker('setStartDate', date);
				}
		}).click( function (selected){
			var maxDate = new Date ( $('.end_date').val());
			maxDate.setDate(maxDate.getDate());
			if (maxDate != 0){
				$('.start_date').datepicker('setEndDate', maxDate);
				}
			else {
				$('.start_date').datepicker('setStartDate', date);
				$('.end_date').datepicker('setStartDate', date);
				}
		});

		$(".end_date").datepicker({
			todayBtn: "linked",
			autoclose: true,
			startDate: date,
		}).on('changeDate', function (selected) {
				var maxDate = new Date(selected.date.valueOf());
				$('.start_date').datepicker('setEndDate', maxDate);
		}).keyup( function (selected) {
			var minDate = new Date ( $('.start_date').val());
			minDate.setDate(minDate.getDate());
			if (minDate != 0){
				$('.end_date').datepicker('setStartDate', minDate);
				}
			else {
				$('.start_date').datepicker('setEndDate', null);
				$('.end_date').datepicker('setStartDate', date);
				}
		}).click( function (selected){
			var minDate = new Date ( $('.start_date').val());
			minDate.setDate(minDate.getDate());
			if (minDate != 0){
				$('.end_date').datepicker('setStartDate', minDate);
				}
			else {
				$('.start_date').datepicker('setEndDate', null);
				$('.end_date').datepicker('setStartDate', date);
				}
		});


        //radio buttons selection
        $("input[name='date_search']").on("click",function() {
			value=$(this).val();
			$("input[type=submit]").prop("disabled",true);
			if(value==1){
				$('.message').html("Search for a Date:");
				$('#date').show();
				$('#date1').hide();$("input[name='date1']").val("");
			}
			if(value==2){
				$('.message').html("Search for a Range of Days:");
				$('#date').show();
				$('#date1').show();
			}
			});

		// validate filter
		$('#apply_filters,#search').submit(function() {
			 $('select,input').each(function(){
				if($(this).val() == ''){
				$(this).removeAttr("name");
				 // $(this).attr("disabled", "disabled");
				}
			 });
		});


		//limit checkboxes selection
		// var booking = function
		// var limit = 7;
		// $('[type=checkbox]').on('change', function(evt) {
		//    if ($('input[type=checkbox]:checked').length > limit) {
		// 	$(this).prop('checked', false);
		// 	alert("You can select only up to 7 artists!");
		// }
		// });

		// hide images by default
		$(".artists").hide();

        $("#free_email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#free_email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });

        $("#free_email_selected").click(function( event ) {
            event.preventDefault();
        });

        $("#booked_email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#booked_email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });

        $("#booked_email_selected").click(function( event ) {
            event.preventDefault();
        });

        $("#all_artist_email_listings").click(function( event ) {
            event.preventDefault();
        });

        $("#all_artist_email_surroundings_dates").click(function( event ) {
            event.preventDefault();
        });

        $("#all_artist_email_selected").click(function( event ) {
            event.preventDefault();
        });

		// list-grid view implementation
		$.view = function() {
    		$('#list').click(function(event){
    			event.preventDefault();
    			$(".artists").hide();
    	    	$("#list").addClass("active");
    	    	$("#grid").removeClass("active");
            });
    	    $('#grid').click(function(event){
    	    	event.preventDefault();
    			$(".artists").show();
    			$("#grid").addClass("active");
    			$("#list").removeClass("active");
            });
		};
		$.view();

 		// show more
       	$(".showmore").click(function( event ) {
       	event.preventDefault();
     	});

     	keep_selected_values();
    });

     function load_artists(action){
         start = $("#artist_start").val();
         $("#upcoming_svg").show();
         current_url = window.location.href ;
         data = {
             "start":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             if (response.status === 'False'){
             	 	$("#showmore").hide();
             	 	}
             	 $("#upcoming_svg").hide();
                 $("#free").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#artist_start").val(response.start);
             }
         })
     }

     function load_bookedartists(action){
         start = $("#bookedartist_start").val();
         $("#upcoming_svg1").show();
         current_url = window.location.href ;
         data = {
             "start1":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             if ( response.status === 'False'){
             	 	$("#showmore1").hide();
             	 	}
             	 $("#upcoming_svg1").hide();
                 $("#booked").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#bookedartist_start").val(response.start);
             }
         })
     }

     // function load_allartists(action){
     //     start = $("#allartist_start").val();
     //     $("#upcoming_svg2").show();
     //     current_url = window.location.href ;
     //     data = {
     //         "start2":start,
     //     }
     //     $.ajax({
     //         url: current_url,
     //         type: "GET",
     //         data: data,
     //         success: function(response) {
     //         if ( response.status === 'False'){
     //         	 	$("#showmore2").hide();
     //         	 	}
     //         	 $("#upcoming_svg2").hide();
     //             $("#both").append(response.data);
     //             if ( $("#grid").hasClass("active")){
     //   					$(".artists").show();
     //   				}
     //   			 if($("#list").hasClass("active")){
     //   					$(".artists").hide();
     //   				}
     //             $("#allartist_start").val(response.start);
     //         }
     //     })
     // }

	function keep_selected_values()
    {
        var genre = getParamValue('genre');
        var budget = getParamValue('budget');
        var popularity = getParamValue('popularity');
        var favourite = getParamValue('prioritize_my_fav');
        var shuffle = getParamValue('shuffle');
        var entries = getParamValue('entries');
        if (genre){
            $("select[name='genre']").val(genre);
        }
        if (budget){
            $("select[name='budget']").val(budget);
        }
        if (popularity){
            $("select[name='popularity']").val(popularity);
        }
        if (favourite){
            $("select[name='prioritize_my_fav']").val(favourite);
        }
        if (shuffle){
            $("select[name='shuffle']").val(shuffle);
        }
        if (entries){
            $("select[name='entries']").val(entries);
        }

    }

    function form_validation(){
        var date = $('#date').val();
        var date1 = $('#date1').val();

        var single_date = document.getElementById("single_date").checked
        var multi_date = document.getElementById("multi_date").checked

        if (single_date){
            if (date == ""){
                $("#date").addClass('error');
                return false;
            }
            else{
                return true;
            }
        }

        if (multi_date){
            if (date == "" || date1 == "" ){
                $("#date").addClass('error');
                $("#date1").addClass('error');
                return false;
            }
            else{
                return true;
            }
        }
   }

     function getParamValue(paramName)
    {
        var url = window.location.search.substring(1); //get rid of "?" in querystring
        var qArray = url.split('&'); //get key-value pairs
        for (var i = 0; i < qArray.length; i++)
        {
            var pArr = qArray[i].split('='); //split key and value
            if (pArr[0] == paramName)
                return pArr[1]; //return value
        }
    }

</script>
{% endblock extra_js %}
{% block slider %}
 	<!-- banner start -->
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
							<li class="active"><a href="{% url 'dates' %}">Artist Availability Search</a></li>
							{% if message and message != 'YOUR SEARCH RESULTS FOR' %}
							<li class="active"><a href="#">{{message}}</a></li>
							{% endif %}
							<li class="active"><a href="{% url 'faq_avail' %}">View our video tutorial here</a></li>
							
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->
                {% include 'dates/_filterdate.html' %}
{% endblock slider %}

{% block content %}
		<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
						{% if response %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
								<strong>Error!</strong> Sorry, you have to choose your search parameters first.
							</div>
                        {% endif %}
						{% if message and message != 'YOUR SEARCH RESULTS FOR' %}
						<h2 class="page-title">{{message}}</h2>
                        {% endif %}
                        {% if welcome %}
						<h1 class="page-title" style="float:left;">Artist Availability Search</h1>
						<div class="clearfix"></div>
						<div class="separator-2"></div>
                        <div >
                            Search on a single date, or a weekend, or you can select a date range. You can then view a wealth of artist availability information shown as Potentially Available,
                            Booked and Booked and Potentially Available together.  Then you can refine your results by filtering by genre, budget, online popularity source.
                            Prioritise your pre-selected favourites to find exactly the right artists – whether to see them perform or more likely to try to book them.
                        </div><br>
                        {% else %}
                        <!-- <h1 class="page-title" style="float:left;">Results</h1> -->
						<h3><span class="view" style="float:right;">View
							<a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
							<a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
							</span>
						</h3>
                        <div class="clearfix"></div>
						<h3><span>Potentially Available ( {{ date }} {% if date1 %} to {{ date1 }} {% endif %}) </span></h3>
						<h5 style="text-transform: none;font-weight: normal">* <em>Just select or multi select using the blue button</em></h5>
						<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row grid-space-10" id="artists">
								<form id="free_artistform" action="/artists/search/" method="GET">
                                <input type="hidden" name="message_str" input-url="" value="{{message}}"/>
								<div class="row" id="free">
        								{% for artist in free_artists %}
            								<div class="col-sm-3 col-md-2">
            									<input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="free_artist_input" name="artists" />
            									<label for="artist[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                                                        {% if filter_popularity == 4 %}
                                                            <h6 class="fb-color">FB - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 5 %}
                                                            <h6 class="sc-color">SC - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 7 %}
                                                            <h6 class="yt-color">YT - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 8 %}
                                                            <h6 class="twitter-color">TWITTER - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 11 %}
                                                            <h6 class="spotify-color">SPOTIFY - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 9 %}
                                                            <h6 class="insta-color">Insta - {{forloop.counter }}</h6>
                                                        {% endif %}

														{% for favourite_artist in favourite_artists %}
															{% if artist.artistName == favourite_artist.0 %}
																<i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
															{% endif %}
														{% endfor %}
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>

								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									{% if free_artists|length == artist_start %}
										<button class="btn btn-default showmore" id="showmore" onclick="load_artists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% endif %}
									{% if request.user.is_authenticated %}
                                    	<button class="btn btn-success" type="submit">View Tour Dates</button>
                                        <button class="btn btn-default" id="free_email_listings" onclick="free_send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                        <button class="btn btn-default" id="free_email_selected" onclick="free_send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                    {% endif %}
                                </div>
                                <input type="hidden" id="free_artists_ids" value = "{{ free_artists_id }}" name="free_artists_ids">
                                <input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
								</form>
								<h3><span>Booked artists ( {{ date }} {% if date1 %} to {{ date1 }} {% endif %})</span></h3>
								<h5 style="text-transform: none;font-weight: normal">* <em>Just select or multi select using the blue button</em></h5>
								<div class="separator-2"></div>
							<form id="booked_artistform" action="/artists/search/" method="GET">
                                <input type="hidden" name="message_str" input-url="" value="{{message}}"/>
								<div class="row" id="booked">

        								{% for artist in booked_artists %}
            								<div class="col-sm-3 col-md-2">
            									<input id="artistss[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="booked_artist_input" name="artists" />
            									<label for="artistss[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
                                                        <p>{{ artist|get_venue }}</p>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                                                        <div style=" margin-top: -10px;">
                                                        {% if filter_popularity == 4 %}
                                                            <h6 class="fb-color">FB - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 5 %}
                                                            <h6 class="sc-color">SC - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 7 %}
                                                            <h6 class="yt-color">YT - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 8 %}
                                                            <h6 class="twitter-color">TWITTER - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 11 %}
                                                            <h6 class="spotify-color">SPOTIFY - {{forloop.counter }}</h6>
                                                        {% elif filter_popularity == 9 %}
                                                            <h6 class="insta-color">Insta - {{forloop.counter }}</h6>
                                                        {% endif %}

                                                        </div>
                                                        {% for country in free_online_dates %}
                                                          {% if country.artistName == artist %}
                                                            <p style="color:red; {% if request.GET.popularity %} margin-top:-11px; {% else %} margin-top:11px; {% endif %} font-size:13px">{{ country.events_country }}<br>
															{% for favourite_artist in favourite_artists %}
																{% if artist.artistName == favourite_artist.0 %}
																	<i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
																{% endif %}
															{% endfor %}															
															</p>
                                                          {% endif %}
                                                        {% endfor %}
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>
                                <br>
								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg1" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									{% if booked_artists|length == bookedartist_start %}
										<button class="btn btn-default showmore" id="showmore1" onclick="load_bookedartists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% endif %}
									{% if request.user.is_authenticated %}
                                    	<button class="btn btn-success" type="submit">View Tour Dates</button>
                                        <button class="btn btn-default" id="booked_email_listings" onclick="booked_send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                        <button class="btn btn-default" id="booked_email_selected" onclick="booked_send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                    {% endif %}
                                </div>
                                <input type="hidden" id="booked_artists_ids" value = "{{ booked_artists_id }}" name="booked_artists_ids">
                                <input type="hidden" name="bookedartist_start" value="{{ bookedartist_start }}" id="bookedartist_start"/>
								</form>

								<!-- <h3><span>Booked & Potentially Available ( {{ date }} {% if date1 %} to {{ date1 }} {% endif %})</span></h3>
								<h5 style="text-transform: none;font-weight: normal">* <em>Just select or multi select using the blue button</em></h5>
								<div class="separator-2"></div>
						<form action="/artists/search/" method="GET">
                            <input type="hidden" name="message_str" input-url="" value="{{message}}"/>
								<div class="row" id="both">
        								{% for artist in allartists %}
            								<div class="col-sm-3 col-md-2">
            									<input id="artists[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="all_artist_input" name="artists" />
            									<label for="artists[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
            											{% if artist not in booked_artists %}
														<h6 class="small" style="color:green;">Potentially Available</h6>
														{% else %}
														<h6 class="small" style="color:red;">Booked</h6>

														{% endif %}
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}
								</div>

								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg2" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									{% if allartists|length == allartist_start %}
										<button class="btn btn-default showmore" id="showmore2" onclick="load_allartists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% endif %}
									{% if request.user.is_authenticated %}
                                    	<button class="btn btn-success" type="submit">View Tour Dates</button>
                                        <button class="btn btn-default" id="all_artist_email_listings" onclick="all_artist_send_email('list')"><span class="glyphicon glyphicon-envelope"></span> Send Name Shortlist</button>
                                        <button class="btn btn-default" id="all_artist_email_selected" onclick="all_artist_send_email('selected')"><span class="glyphicon glyphicon-envelope"></span> Info Email on Selected Artists</button>
                                    {% endif %}
                                </div>
                                <input type="hidden" id="all_artists_id" value = "{{ all_artists_id }}" name="all_artists_id">
                                <input type="hidden" name="allartist_start" value="{{ allartist_start }}" id="allartist_start"/>
								</form> -->
							</div>
						{% endif %}
						</div>
					</div>
				</div>
				<!-- section end -->
			</section>
			<!-- main-container end -->

	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
