{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% block title %} {{ block.super }} | Date + Genre </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
        // datepicker
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startdate: date,
        });
        $(".datepicker").on("click", function(e){
            e.preventDefault();
        });
		// validate filter
		$('#apply_filters').submit(function() {
			 $('select').each(function(){
				if($(this).val() == ''){
				$(this).removeAttr("name");
				 // $(this).attr("disabled", "disabled");
				}
			 });
		});

		// hide images by default
		$(".artists").hide();

		// list-grid view implementation
		$.view = function() {
    		$('#list').click(function(event){
    			event.preventDefault();
    			$(".artists").hide();
    	    	$("#list").addClass("active");
    	    	$("#grid").removeClass("active");
            });
    	    $('#grid').click(function(event){
    	    	event.preventDefault();
    			$(".artists").show();
    			$("#grid").addClass("active");
    			$("#list").removeClass("active");
            });
		};
		$.view();

 		// show more
       	$(".showmore").click(function( event ) {
       	event.preventDefault();
     	});
    });

     function load_artists(action){
         start = $("#artist_start").val();
         $("#upcoming_svg").show();
         current_url = window.location.href ;
         data = {
             "start":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             if ( response.status === 'False'){
             	 	$("#showmore").hide();
             	 	}
             	 $("#upcoming_svg").hide();
                 $("#free").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#artist_start").val(response.start);
             }
         })
     }
     function load_bookedartists(action){
         start = $("#bookedartist_start").val();
         $("#upcoming_svg1").show();
         current_url = window.location.href ;
         data = {
             "start1":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             if ( response.status === 'False'){
             	 	$("#showmore1").hide();
             	 	}
             	 $("#upcoming_svg1").hide();
                 $("#booked").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#bookedartist_start").val(response.start);
             }
         })
     }
     function load_allartists(action){
         start = $("#allartist_start").val();
         $("#upcoming_svg2").show();
         current_url = window.location.href ;
         data = {
             "start2":start,
         }
         $.ajax({
             url: current_url,
             type: "GET",
             data: data,
             success: function(response) {
             if ( response.status === 'False'){
             	 	$("#showmore2").hide();
             	 	}
             	 $("#upcoming_svg2").hide();
                 $("#both").append(response.data);
                 if ( $("#grid").hasClass("active")){
       					$(".artists").show();
       				}
       			 if($("#list").hasClass("active")){
       					$(".artists").hide();
       				}
                 $("#allartist_start").val(response.start);
             }
         })
     }


</script>
{% endblock extra_js %}
{% block slider %}
 	<!-- banner start -->
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
							<li><a class="link-dark" href="/dates/">Single date</a></li>
                            <li class="active">Date + Genre</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->
                {% include 'dates/_filterdate.html' %}
{% endblock slider %}

{% block content %}

		<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->

						{% if message and message != 'All artists' %}
						<div class="alert  alert-icon alert-info" role="alert">
								<i class="fa fa-info-circle"></i>{{ message }}
						</div>
                        {% endif %}
                        {% if welcome %}
						<h1 class="page-title" style="float:left;">Welcome to dates search</h1>
						<div class="clearfix"></div>
						<div class="separator-2"></div>
                        <div>{{ welcome }}</div>
                        {% else %}
                        <h1 class="page-title" style="float:left;">Results</h1>
						<h3><span class="view" style="float:right;">View
							<a href="#grid" id="grid" class="inactive"><i class="fa fa-lg fa-th-large"></i></a>
							<a href="#list" id="list" class="active"><i class="fa fa-lg fa-th"></i></a>
							</span>
						</h3>
                        <div class="clearfix"></div>
						<h3><span>Free artists</span></h3>
						<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row grid-space-10" id="artists">
								<form action="/artists/search/" method="GET">
								<div class="row" id="free">
        								{% for artist in free_artists %}
            								<div class="col-sm-3 col-md-2">
            									<input class="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
            									<label for="artist[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}">{{ artist.artistName }}</a></h5>
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>
								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									<button class="btn btn-default showmore" id="showmore" onclick="load_artists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% if request.user.is_authenticated %}
                                    <button class="btn btn-success" type="submit">View Tour Dates</button>
                                    {% endif %}
                                </div>
								<input type="hidden" name="artist_start" value="{{ artist_start }}" id="artist_start"/>
								<h3><span>Booked artists</span></h3>
								<div class="separator-2"></div>
								<div class="row" id="booked">
        								{% for artist in booked_artists %}
            								<div class="col-sm-3 col-md-2">
            									<input class="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
            									<label for="artist[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}">{{ artist.artistName }}</a></h5>
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>
								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg1" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									<button class="btn btn-default showmore" id="showmore1" onclick="load_bookedartists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% if request.user.is_authenticated %}
                                    <button class="btn btn-success" type="submit">View Tour Dates</button>
                                    {% endif %}
                                </div>
								<input type="hidden" name="bookedartist_start" value="{{ bookedartist_start }}" id="bookedartist_start"/>

								<h3><span>Booked & Free artists</span></h3>
								<div class="separator-2"></div>
								<div class="row" id="both">
        								{% for artist in allartists %}
            								<div class="col-sm-3 col-md-2">
            									<input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" name="artists" />
            									<label for="artist[{{ artist.artistID }}]">
            									<div class="team-member image-box style-2 mb-5 gray-bg text-center">
            										<div class="overlay-container overlay-visible artists">
            											{% if artist.artistPhoto %}
                                                    		<img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                                                		{% else %}
                                                    		<img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                                                		{% endif %}
            											<div class="overlay-bottom">
            												<ul class="social-links circle dark margin-clear">
            													{% for source,url in artist.pk|get_source %}
                                                    				<li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                                                				{% endfor %}
            												</ul>
            											</div>
            										</div>
            										<div class="body" style="height:60px;">
            											<h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}">{{ artist.artistName }}</a></h5>
            											{% if artist in free_artists %}
														<h6 class="small" style="color:green;">Potentially Available</h6>
														{% else %}
														<h6 class="small" style="color:red;">Booked</h6>
														{% endif %}
													</div>
            									</div>
            									</label>
            								</div>
        								{% endfor %}

								</div>
								<div class="text-center">
                                     <img class="events_loader" id="upcoming_svg2" src="{% static 'frontend/images/ring.svg'%}">
                                </div>
								<div class="clearfix"></div>
                                <div style="text-align:center">
									<button class="btn btn-default showmore" id="showmore2" onclick="load_allartists()"> <span class="glyphicon glyphicon-plus"></span> Show More Artist</button>
                                    {% if request.user.is_authenticated %}
                                    <button class="btn btn-success" type="submit">View Tour Dates</button>
                                    {% endif %}
                                </div>
								<input type="hidden" name="allartist_start" value="{{ allartist_start }}" id="allartist_start"/>

								</form>
						<!-- main end -->

							 </div>
						{% endif %}
					</div>
				</div>
				<!-- section end -->
			</section>
			<!-- main-container end -->

	{% include "home/_datasetCount.html" %}
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
