{% load staticfiles %}
{% load artist_filters %}
{% for artist in allartists %}
    <div class="col-sm-3 col-md-2">
        <input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="all_artist_input" name="artists" />
        <label for="artist[{{ artist.artistID }}]">
        <div class="team-member image-box style-2 mb-5 gray-bg text-center">
            <div class="overlay-container overlay-visible artists">
                {% if artist.artistPhoto %}
                    <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                {% else %}
                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                {% endif %}
                <div class="overlay-bottom">
                    <ul class="social-links circle dark margin-clear">
                        {% for source,url in artist.pk|get_source %}
                            <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="body" style="height:60px;">
                <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                <!-- {% if artist not in booked_artists %}
                <h6 class="small" style="color:green;">Potentially Available</h6>
                {% else %}
                <h6 class="small" style="color:red;">Booked</h6>
                {% endif %} -->
            </div>
        </div>
        </label>
    </div>
{% endfor %}
