{% load staticfiles %}
{% load artist_filters %}
{% for artist in booked_artists %}
    <div class="col-sm-3 col-md-2">
        <input id="artist[{{ artist.artistID }}]" type="checkbox" value="{{artist.artistID}}" class="booked_artist_input" name="artists" />
        <label for="artist[{{ artist.artistID }}]">
        <div class="team-member image-box style-2 mb-5 gray-bg text-center">
            <div class="overlay-container overlay-visible artists">
                {% if artist.artistPhoto %}
                    <img src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="190px" height="190px">
                {% else %}
                    <img src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}">
                {% endif %}
                <div class="overlay-bottom">
                    <ul class="social-links circle dark margin-clear">
                        {% for source,url in artist.pk|get_source %}
                            <li class="{{ source }}"><a target="_blank" href="{{ url }}"><i class="fa fa-{{source}}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <p style="color:red">{{ artist|get_venue }}</p>
            </div>
            <div class="body" style="height:60px;">
                <h5 class="margin-clear"><a href="{% url 'artist_detail' artist.artistID%}?message_str={{message}}">{{ artist.artistName }}</a></h5>
                <div style="margin-top: -10px;">
                {% if filter_popularity == 4 %}
                    <h6 class="fb-color">FB - {{forloop.counter|add_digit:start }}</h6>
                {% elif filter_popularity == 5 %}
                    <h6 class="sc-color">SC - {{forloop.counter|add_digit:start }}</h6>
                {% elif filter_popularity == 7 %}
                    <h6 class="yt-color">YT - {{forloop.counter|add_digit:start }}</h6>
                {% elif filter_popularity == 8 %}
                    <h6 class="twitter-color">TWITTER - {{forloop.counter|add_digit:start }}</h6>
                {% elif filter_popularity == 11 %}
                    <h6 class="spotify-color">SPOTIFY - {{forloop.counter|add_digit:start }}</h6>
                {% elif filter_popularity == 9 %}
                    <h6 class="insta-color">Insta - {{ forloop.counter|add_digit:start }}</h6>
                {% endif %}
                </div>
                {% for country in free_online_dates %}
                  {% if country.artistName == artist %}
                    <p style="color:red; {% if request.GET.popularity %} margin-top:-11px; {% else %} margin-top:11px; {% endif %} font-size:13px">{{ country.events_country }}<br>
                    {% for favourite_artist in favourite_artists %}
                        {% if artist.artistName == favourite_artist.0 %}
                            <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
                        {% endif %}
                    {% endfor %}
                    </p>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        </label>
    </div>
{% endfor %}
