{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}
    <br>
    <p>
        Dear {{agent.user_name}}
        <br><br>
        You have received a booking request via WhereDJsPlay. Please log-in to your account to view the full details and
        respond.
        <br><br>
        WhereDJsPlay have automatically informed the buyer that their submission has been sent and is currently
        awaiting your response.
        <br><br>
        Please log back into your WhereDJsPlay account to process the status of this new booking request.
    </p>
    <div class="text-center">
        <a href="" class="btn btn-dark">
    </div>
{% endblock %}
