<!--{% load staticfiles %}-->

{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><b>{{ subject }}</b></title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;
        border-left: 1px solid #f2eeed;
        border-right: 1px solid #f2eeed;}
        @media only screen and (min-device-width: 601px) {
        .content {width: 600px !important;}
        }
        .header {padding: 20px 30px 20px 30px;}
        .col425 {width: 425px!important;}
        .subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 10px;}
        .h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
        .h1, .h2, .bodycopy {color: #153643; font-family: sans-serif;}
        .h3 {color: #153643; font-family: sans-serif;}
        .innerpadding {padding: 30px 30px 30px 30px;}
        .borderbottom {border-bottom: 1px solid #f2eeed;}
        .h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
        .bodycopy {font-size: 16px; line-height: 22px;}
        .button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
        .button a, .button a:link, .button a:visited, .button a:hover {color: #ffffff; text-decoration: none;}
        img {height: auto;}
        a:link,a:visited { text-decoration:none;}
        a:hover {color: #337ab7; text-decoration: underline;}
        .footer {padding: 20px 30px 15px 30px;}
        .footercopy {
            font-family: sans-serif; font-size: 11px; color: #ffffff;
            vertical-align: bottom;
            color: #B1B5BB;
        }
        .footercopy a {color: #B1B5BB; text-decoration: none;}
        @media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
        body[yahoo] .buttonwrapper {background-color: transparent!important;}
        body[yahoo] .button a {background-color: #0c9ec7; padding: 15px 15px 13px!important; display: block!important;}
        }
        </style>
    </head>
    <body yahoo bgcolor="#e8e6e6">
    <table bgcolor="#e8e6e6" width="100%">
        <tr>
        <td>
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <![endif]-->
                    <table class="content" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                                <td class="header" bgcolor="#394245">
                                     <!--<table width="70" align="left" border="0" cellpadding="0" cellspacing="0">-->
                                        <!--<tr>-->
                                            <!--<td height="70" style="padding: 0 20px 20px 0;">-->

                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--[if mso]>
                                   </td><td>
                                <![endif]-->
                            <!--[if (gte mso 9)|(IE)]>
                            <table width="425" align="center" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                    <![endif]-->
                                        <table class="col425" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 425px;">
                                            <tr>
                                                <td height="70">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="subhead" align="left" style="padding: 0 0 0 3px;">
                                                             <img src="{{ artist.artistPhoto.url }}" style="text-align: center;" alt="{{artist.artistName}}" width="100px" height="100px">
                                                            </td>
                                                        </tr>
                                                        <!--<tr>-->
                                                            <!--<td class="h1" style="padding: 5px 0 0 0;">-->
                                                                <!--Global talent simplified-->
                                                            <!--</td>-->
                                                        <!--</tr>-->
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                </tr>
                            </table>
                            <![endif]-->
                            </td>
                        </tr>
                        <tr>
                            <td class="innerpadding borderbottom">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="h2">
                                        {% block title %}


                                        {% endblock title %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bodycopy">
                                            {% block email_body %}

                                                <p>

                                                    Hi {{offer.name}}
                                                    <br><br>
                                                        Thanks for submitting offer to {{offer.artist.artistName}}.
                                                    <br><br>

                                                    You are on more stage away from finalising your offer and it being sent to {{offer.artist.artistName}}<br>
                                                    Please click <a href="{{url}}">click here</a> to validate your email and finish offer submission.<br>
                                                    on Behalf of Team {{offer.artist.artistName}} at WDJP<br>
                                                </p>

                                            {% endblock email_body %}
                                        </td>
                                    </tr>
                                    {% block button %}

                                    {% endblock button %}
                                    <tr>
                                        <td class="bodycopy"><br/>
                                        Thank you,<br/>
                                        Team WDJP
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="footer" bgcolor="#111">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
<!--                                        <td align="center" width="33%">-->
<!--                                            <img src="https://staging.wheredjsplay.com/static/frontend/images/logo_header.png" border="0" alt="" />-->
<!--                                        </td>-->
                                        <td align="center" width="33%">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
<!--                                                    <td width="37" style="text-align: center; padding: 0 10px 0 10px;">-->
<!--                                                        <a href="http://www.facebook.com/">-->
<!--                                                            &lt;!&ndash;<img src="http://localhost:8000/static/frontend/images/facebook-logo.png" width="37" height="37" alt="Facebook" border="0" />&ndash;&gt;-->
<!--                                                            <img src="https://d3r4tb575cotg3.cloudfront.net/static/Facebook-Icon-Circle-Outline-Grey.png" width="37" height="37" alt="Facebook" border="0" />-->
<!--                                                        </a>-->
<!--                                                    </td>-->


                                                </tr>
                                            </table>
                                        </td>
<!--                                        <td align="center" class="button" width="33%">-->
<!--                                          <a href="https://staging.wheredjsplay.com/accounts/login-user">Log In</a>-->
<!--                                        </td>-->
                                    </tr>
                                    <tr>
                                        <td class="footercopy" colspan="3" align="center" style="padding: 20px 0 0 0;">
                                            <a href="https://staging.wheredjsplay.com/">© 2018 WHEREDJSPLAY</a>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                </td>
            </tr>
        </table>
        <![endif]-->
        </td>
        </tr>
    </table>
    </body>
</html>

















