{% extends 'artist/base_email.html' %}
{% load staticfiles %}
{% block email_body %}
    <br>
    <p>
        To {{offer.name}}
        <br><br>
        Thank you for your booking request to &gt;Insert Artist name&lt;. Your submission has been sent to the vendor and
        is currently pending review. You can expect to receive a response within 72 hours.
        <br><br>
        <b>Here is your request receipt:</b><br>
        <b>Artist: </b>{{offer.artist.artistName}}<br>
        <b>Event Type: </b>{{offer.request_type}}<br>
        <b>Date: </b>{{offer.date}}<br>
        <b>Event Type: </b>{{offer.request_type}}<br>
        You can log back into your WhereDJsPlay account at any time to check the status of your request.
    </p>
    <div class="text-center">
        <a href="" class="btn btn-dark">
    </div>
{% endblock %}
