{% extends "home/__base.html" %}
{% load staticfiles %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Master Search </title> {% endblock title %}
{% block header %}
{% endblock header %}

			<!-- ================ -->
{% block slider%}
<!--			<div class="breadcrumb-container">-->
<!--				<div class="container">-->
<!--					<ol class="breadcrumb">-->
<!--						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>-->
<!--						<li class="active">Page 404</li>-->
<!--					</ol>-->
<!--				</div>-->
<!--			</div>-->
<!--			&lt;!&ndash; breadcrumb end &ndash;&gt;-->
{% endblock %}

			<!-- main-container start -->
			<!-- ================ -->
{% block content %}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6 col-md-offset-3 pv-40">
							<h1 class="page-title"><span class="text-default" style="font-size: x-large;color: black;">{{artist.artistName}} BOOKING HQ</span></h1>

							<div style="display: inline-block"><img src="{{ artist.artistPhoto.url }}" style="text-align: center;" alt="{{artist.artistName}}" width="100px" height="100px"></div>

							<h1 class="page-title"><span class="text-default" style="font-size: x-large">JUST ONE MORE STEP AND WE ARE THERE</span></h1>
							<h2 style="font-size: large">Please check your email to validate your offer to <b>{{artist}}</b></h2>
<!--							<div style="display: inline-block"><img src="{{ artist.artistPhoto.url }}" style="text-align: center;" alt="{{artist.artistName}}" width="100px" height="100px"></div>-->
<!--							<p>The requested URL was not found on this server. Make sure that the Web site address displayed in the address bar of your browser is spelled and formatted correctly.</p>-->
<!--							<a href="/" class="btn btn-default btn-animated btn-lg">Return Home <i class="fa fa-home"></i></a>-->
							<p style="font-size: smaller;">Allow 30 seconds for email, check spam folders, if no email in 5 minutes click resend offer confirmation button here</p>

							<div style="display: inline-block">
								<form id="resend" method="post" style="float: left">

								{% csrf_token %}


								<button class="btn btn-primary btn-sm" id="save_event" type="submit" onclick="proceed_request();"  style="width: 120px;">Resend email</button>
								</form>

								<a style="background-color: green;margin: 25px;" href="{%url 'offer' artist.artistID %}" class="btn btn-primary btn-sm" id="del_fav{{artist.artistID}}" role="button" >Create new offer</a></div>




						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
<script type = "text/javascript">
function proceed_request() {
    var form = document.getElementById('resend');
    form.setAttribute('method', 'post');
    form.submit();
}


</script>
			<!-- main-container end -->
{% endblock content %}
