{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block content %}
    <div style="margin-top: 40px;">
        <center>
            {% if artist.artistPhoto %}
                <img class="offers__artist-img" src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% else %}
                <img class="offers__artist-img" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% endif %}
        </center>
    </div>
    <h1 class="text-center">{{artist.artistName}} Booking HQ</h1>
    <section class="main-container padding-ver-clear">
        <div class="text-center" style="margin-top: 20px">
            <p>{{artist.artistName}} is currently accepting requests for</p>
            {% for request in request_types %}
                {% if request.icon %}
                    <img src="/media/{{request.icon}}" class="request_type_icon" style="max-height: 35px;">
                {% else %}
                {% endif %}

            {% endfor %}
        </div>
        <div class="container pv-40">
            <div class="login-panel panel panel-default" style="margin-top: 40px;">
                    <div class="panel-heading" style="background-color:darkgrey">
                        <h3 class="panel-title" style="color: white;"></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body">
                                            <h3 class="page-title">So You Want To Connect With <b>{{artist.artistName}}</b></h3>
                                            </div>
                                            <hr><br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_name">Whats your Name:</label>
                                                            {{form.name}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_event_type">How do you want to connect with {{artist.artistName}}: </label><br>
                                                            <div id="wraplikeselect"><input type="text" value="{% if selected_request_type == request_type.id%} {{request_type.name}} {% else %} Select {% endif %}" class="py-form-control dropdownarrow"></div>
                                                            <input type="hidden" id="id_request_type" name="request_type" required>
                                                            <ul class="list-group connectwartists" style="display: none;">
                                                                {% for request_type in request_types %}
                                                                    <li class="list-group-item liconartists"
                                                                    data-text="{{request_type.name}}"
                                                                    value="{{request_type.id}}" 
                                                                    {% if selected_request_type == request_type.id%}selected{% endif %}>
                                                                    <img style="float: left;" src="/media/{{request_type.icon}}">  &nbsp;{{request_type.name}}</li>
                                                                {% endfor %}
                                                            </ul>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <br><br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12 text-center">
                                                            <input class="btn btn-success btn-sm" id="save_event" type="submit" value="Lets Get Started" style="width: 120px;">
                                                            <input class="btn btn-primary btn-sm" type="reset" value="Clear" style="width: 120px;">
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>

        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock footer %}
