{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Create {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li>Create {{artist.artistName}} Offersheet</li>
                        {% if message_string %}
                            <li style="color:#09afdf;">Search ({{message_string}})</li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    
    <div class="container offersheet-container">
        <h4 class="text-center offersheet__title">Set Up {{artist.artistName}} Offersheet</h4>
        <p class="offersheet__description">
            This will create a unique page on our site, where you can receive offers for
            {{ artist.artistName }} and then send them on to artists, and also track your workflow, Every
            Artist Offer is saved, tagged by country and city so you can build a map of where
            all your artists are getting offers, worldwide, and artist like them.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <p class="text-center doc-include__title">From your files do you want to include:</p>
                    <form action="{% url 'offersheet_final_step' artist_id=artist.artistID %}" method="POST">
                        {% csrf_token %}
                        <div class="form-check" style="position: relative; max-width: 160px;">
                            <input name="press_pack" class="form-check-input" type="checkbox" id="press_pack_ckeck">
                            <label class="form-check-label offersheet__label" for="press_pack_ckeck">
                                Press Pack
                            </label>
                        </div>
                        <div class="form-check" style="position: relative; max-width: 160px;margin-top: 20px;">
                            <input name="rider" class="form-check-input" type="checkbox" id="rider_ckeck">
                            <label class="form-check-label offersheet__label" for="rider_ckeck">
                                Rider
                            </label>
                        </div>

                        <button class="btn btn-success" style="margin-top: 50px;">Create Page</button>
                    </form>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
