{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <link rel="stylesheet" href="{% static 'frontend/bootstrap/css/bootstrap-datetimepicker.min.css' %}">

    <script>
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: date,
            autoclose: true,
        });

        $('.timepicker').datetimepicker({
            format: 'LT'
        });

        // Free Field Init
        tinymce.init({
            selector: '#event_summary_textbox',
            height: 200,
            theme: 'modern', 
            plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image print preview media | forecolor backcolor emoticons',
            image_advtab: true,
            content_css: [
            // '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
            ],
        });
    </script>
{% endblock %}

{% block content %}
    <div style="margin-top: 40px;">
        <center>
            {% if artist.artistPhoto %}
                <img class="offers__artist-img" src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% else %}
                <img class="offers__artist-img" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% endif %}
        </center>
    </div>
    <h1 class="text-center">{{artist.artistName}} Booking HQ</h1>
    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="login-panel panel panel-default" style="margin-top: 40px;">
                    <div class="panel-heading" style="background-color:darkgrey">
                        <h3 class="panel-title" style="color: white;"></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body">
                                            <h3 class="page-title">Tell Us More About Your {{offer.request_type.name}} With <b>{{artist.artistName}}</b> </h3>
                                            </div>
                                            <hr><br>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Your Name:</label>
                                                            <h4>{{offer.name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Request Type:</label>
                                                            <h4>{{offer.request_type.name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row">
                                                {% for field in fields %}
                                                    <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    <label class="py-label" for="id_{{field.label}}">{{field.label}}:</label>
                                                                    <input type="text" class="py-form-control" id="id_{{field.label}}" name="{{field.label}}"
                                                                        {% for extra_field in extra_field_data %}
                                                                            {% if extra_field.label == field.label %}
                                                                                value="{{extra_field.value}}"
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    >
                                                                </div>
                                                            </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <hr><br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_date">When Do You Want To Connect With {{artist.artistName}}:</label>
                                                            {{form.date}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_request_name">Event / Request Name:</label><br>
                                                            {{form.request_name}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_timezone">Timezone:</label>
                                                            <select class="py-form-control" id="id_timezone" name="timezone" required>
                                                                <option value="" selected="selected">---------</option>
                                                                {% for timezone in timezones %}
                                                                    <option value="{{timezone}}" {% if offer.timezone == timezone %}selected{% endif %}>{{timezone}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_start_time">Start Time:</label>
                                                            <input type="text" class="py-form-control timepicker" id="id_start_time" name="start_time" value="{{offer.start_time}}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_finish_time">Finish Time:</label>
                                                            <input type="text" class="py-form-control timepicker" id="id_finish_time" name="finish_time" value="{{offer.finish_time}}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_paid">Paid:</label><br>
                                                            <select class="py-form-control" id="id_paid" name="paid">
                                                                <option value="" selected="selected">---------</option>
                                                                <option value="yes" {% if offer.paid %}selected{% endif %}>Yes</option>
                                                                <option value="no" {% if not offer.paid %}selected{% endif %}>No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row" style="padding: 0 20px;">
                                                <textarea name="event_summary" class="form-control" rows="5" placeholder="{{offer.request_type.demo_text}}">{% if offer.event_detail %}{{offer.event_detail}}{% endif %}</textarea>
                                            </div>
                                            <div class="row" style="margin-top: 50px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <input class="btn btn-success btn-sm" id="save_event" type="submit" value="Submit Your Request">
                                                            <a href="{% url 'offer' artist_id=artist.artistID %}" class="btn btn-dark btn-sm">Edit Your Request</a>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock footer %}
