{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Edit {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li>Create {{artist.artistName}} Offersheet</li>
                        {% if message_string %}
                            <li style="color:#09afdf;">Search ({{message_string}})</li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    
    <div class="container offersheet-container">
        <h1 class="text-center offersheet__title">Edit {{artist.artistName}} Offersheet</h1>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <form method="POST">
                        <h4 class="text-center" style="margin: 40px 0">Do you want to include:</h4>
                        {% csrf_token %}
                        <div class="form-check" style="position: relative;">
                            <input name="press_pack" class="form-check-input" type="checkbox"
                                id="press_pack_ckeck" {% if offersheet.include_presskit %}checked{% endif %}>
                            <label class="form-check-label offersheet__label" for="press_pack_ckeck">
                                Press Pack
                            </label>
                        </div>
                        <div class="form-check" style="position: relative;margin-top: 20px;">
                            <input name="riders" class="form-check-input" type="checkbox" id="rider_ckeck"
                                {% if offersheet.include_rider %}checked{% endif %}>
                            <label class="form-check-label offersheet__label" for="rider_ckeck">
                                Rider
                            </label>
                        </div>
                        
                        <h4 class="text-center" style="margin-bottom: 40px;margin-top: 60px;">What kind of offers are you happy to recieve for {{artist.artistName}}:</h4>

                                                <button type="button" class="collapsible">Live Events/Bookings</button>
                        <div class="content" style="display: none">
                            {% for subcategory in live_events %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}" {% if subcategory in offersheet.subcategories.all %}checked{% endif %}>

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                        <span style="float: right;font-weight: bold;" class="{% if subcategory in offersheet.subcategories.all %}greencolor {% else %} graycolor {% endif %} active_inactive_sub" dataid="{{subcategory.id}}">{% if subcategory in offersheet.subcategories.all %}Active{%else%}Inactive{% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Streams</button>
                        <div class="content" style="display: none">
                            {% for subcategory in streams %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}"  {% if subcategory in offersheet.subcategories.all %}checked{% endif %}>

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                        <span style="float: right;font-weight: bold;" class="{% if subcategory in offersheet.subcategories.all %}greencolor {% else %} graycolor {% endif %} active_inactive_sub" dataid="{{subcategory.id}}">{% if subcategory in offersheet.subcategories.all %}Active{%else%}Inactive{% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Virtual Events/Parties</button>
                        <div class="content" style="display: none">
                            {% for subcategory in virtual_events %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}" {% if subcategory in offersheet.subcategories.all %}checked{% endif %}>

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                        <span style="float: right;font-weight: bold;" class="{% if subcategory in offersheet.subcategories.all %}greencolor {% else %} graycolor {% endif %} active_inactive_sub" dataid="{{subcategory.id}}">{% if subcategory in offersheet.subcategories.all %}Active{%else%}Inactive{% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Private Music Tuition / Mentoring</button>
                        <div class="content" style="display: none">
                            {% for subcategory in private_musics %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}" {% if subcategory in offersheet.subcategories.all %}checked{% endif %}>

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                        <span style="float: right;font-weight: bold;" class="{% if subcategory in offersheet.subcategories.all %}greencolor {% else %} graycolor {% endif %} active_inactive_sub" dataid="{{subcategory.id}}">{% if subcategory in offersheet.subcategories.all %}Active{%else%}Inactive{% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Interviews / Press</button>
                        <div class="content" style="display: none">
                            {% for subcategory in interviews %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}" {% if subcategory in offersheet.subcategories.all %}checked{% endif %}>

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                        <span style="float: right;font-weight: bold;" class="{% if subcategory in offersheet.subcategories.all %}greencolor {% else %} graycolor {% endif %} active_inactive_sub" dataid="{{subcategory.id}}">{% if subcategory in offersheet.subcategories.all %}Active{%else%}Inactive{% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>








                        <!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="live_events" class="form-check-input" type="checkbox"-->
<!--                                id="live_events_check" {% if offersheet.live_events %}checked{% endif %}>-->
<!--                            <label class="form-check-label offersheet__label" for="live_events_check">-->
<!--                                Live Events/Bookings-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="stream" class="form-check-input" type="checkbox"-->
<!--                                id="stream_check" {% if offersheet.stream %}checked{% endif %}>-->
<!--                            <label class="form-check-label offersheet__label" for="stream_check">-->
<!--                                Streams-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="virtual_events" class="form-check-input" type="checkbox"-->
<!--                                id="virtual_event_check" {% if offersheet.virtual_events %}checked{% endif %}>-->
<!--                            <label class="form-check-label offersheet__label" for="virtual_event_check">-->
<!--                                Virtual Events/Parties-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="private_music" class="form-check-input" type="checkbox"-->
<!--                                id="music_tution_check" {% if offersheet.private_music %}checked{% endif %}>-->
<!--                            <label class="form-check-label offersheet__label" for="music_tution_check">-->
<!--                                Private Music Tuition / Mentoring-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="interview" class="form-check-input" type="checkbox"-->
<!--                                id="interview_check" {% if offersheet.interview %}checked{% endif %}>-->
<!--                            <label class="form-check-label offersheet__label" for="interview_check">-->
<!--                                Press / Promo-->
<!--                            </label>-->
<!--                        </div>-->
                        
                        <div class="text-center">
                            <button class="btn btn-success" style="margin-top: 50px;">Submit Changes</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
