{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
{% endblock header %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>

    <script>
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('.datepicker').datetimepicker({
            format: 'LT'
        });
    </script>
{% endblock %}

{% block content %}
    <div style="margin-top: 40px;">
        <center>
            {% if artist.artistPhoto %}
                <img class="offers__artist-img" src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% else %}
                <img class="offers__artist-img" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% endif %}
        </center>
    </div>
    <h1 class="text-center">{{artist.artistName}} Booking HQ</h1>
    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="login-panel panel panel-default" style="margin-top: 40px;">
                    <div class="panel-heading" style="background-color:darkgrey">
                        <h3 class="panel-title" style="color: white;"></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body">
                                            <h3 class="page-title">Ok Great, You Want To Connect With <b>{{artist.artistName}}</b> on {{offer.request_type.name}}</h3>
                                            </div>
                                            <hr><br>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Your Name:</label>
                                                            <h4>{{offer.name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Your Email:</label>
                                                            <h4>{{offer.email}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Phone Code:</label>
                                                            <h4>{{offer.phone_code}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Phone Number:</label>
                                                            <h4>{{offer.phone_number}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Date:</label>
                                                            <h4>{{offer.date}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Request Name:</label>
                                                            <h4>{{offer.request_name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Timezone:</label>
                                                            <h4>{{offer.timezone}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Start Time:</label>
                                                            <h4>{{offer.start_time}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_finish_time">Finish Time:</label>
                                                            <h4>{{offer.finish_time}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_paid">Paid:</label><br>
                                                            <h4>
                                                                {% if offer.paid %}
                                                                    Yes
                                                                {% else %}
                                                                    No
                                                                {% endif %}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row" style="padding: 0 20px;">
                                                {% for field in extra_field_data %}
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="py-label">{{field.label}}:</label>
                                                                <h4>{{field.value}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            
                                            <br><br>
                                            <div class="row"  style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <input class="btn btn-primary btn-sm" id="save_event" type="submit" value="Submit" style="width: 80px;">
                                                            <a href="{% url 'offer' artist_id=artist.artistID %}" class="btn btn-primary btn-sm" style="width: 80px;">Edit</a>
                                                            <small class="help-block with-errors"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <p>Click Submit to finally send your offer to {{artist.artistName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock footer %}
