{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Create {{artist.artistName}} Offersheet </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block slider %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'artists'%}">Artists</a></li>
                        <li>Create {{artist.artistName}} Offersheet</li>
                        {% if message_string %}
                            <li style="color:#09afdf;">Search ({{message_string}})</li>
                        {% endif %}
                    </ol>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-2 col-xs-offset-2">
                        <ol class="breadcrumb">
                            <span style="color:black" class="glyphicon glyphicon-chevron-left" onClick="javascript:history.go(-1);">Back</span>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock slider %}

{% block content %}
    
    <div class="container offersheet-container">
        <h4 class="text-center offersheet__title">Set Up {{artist.artistName}} Offersheet</h4>
        <p class="offersheet__description">
            Our unique offer sheet system allows Agents and Artists to create multifunction unique
            offer sheets for, creating more opportunities for live shows book virtual shows, tuition
            and live streams all within the same platform.

            <ol type="A">
                <li>External WDJP sheet on site</li>
                <li>Embeddable offer sheet on your website</li>
                <li>Embeddable Sheet on your Facebook page</li>
            </ol>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="text-center doc-include__title">Do you want to accept/allow offers for {{artist.artistName}}:</p>
                    <form action="{% url 'offersheet_created' artist_id=artist.artistID %}" method="POST">
                        {% csrf_token %}
                        <button type="button" class="collapsible">Live Events/Bookings</button>
                        <div class="content" style="display: none">
                            {% for subcategory in live_events %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}">

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Streams</button>
                        <div class="content" style="display: none">
                            {% for subcategory in streams %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}">

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Virtual Events/Parties</button>
                        <div class="content" style="display: none">
                            {% for subcategory in virtual_events %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}">

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Private Music Tuition / Mentoring</button>
                        <div class="content" style="display: none">
                            {% for subcategory in private_musics %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}">

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="collapsible">Interviews / Press</button>
                        <div class="content" style="display: none">
                            {% for subcategory in interviews %}
                                <div class="form-check" style="position: relative;margin: 20px;">

                                    <input name="{{subcategory.id}}" class="form-check-input" type="checkbox" id="{{subcategory.id}}">

                                    <label class="form-check-label offersheet__label" for="{{subcategory.id}}">
                                        {% if subcategory.icon %}
                                            <img  class="img-responsive watch-right" style="height: 20px; display: inline" alt="not found" src={% if subcategory.icon %}"{{subcategory.icon.url}}"{% else %}""{% endif %}/>
                                        {% else %}
                                        {% endif %}
                                        {{subcategory.name}}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>


<!--                        <div class="form-check" style="position: relative;">-->
<!--                            <input name="live_events" class="form-check-input" type="checkbox" id="live_events_check">-->
<!--                            <label class="form-check-label offersheet__label" for="live_events_check">-->
<!--                                Live Events/Bookings-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="stream" class="form-check-input" type="checkbox" id="stream_check">-->
<!--                            <label class="form-check-label offersheet__label" for="stream_check">-->
<!--                                Streams-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="virtual_events" class="form-check-input" type="checkbox" id="virtual_event_check">-->
<!--                            <label class="form-check-label offersheet__label" for="virtual_event_check">-->
<!--                                Virtual Events/Parties-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="private_music" class="form-check-input" type="checkbox" id="music_tution_check">-->
<!--                            <label class="form-check-label offersheet__label" for="music_tution_check">-->
<!--                                Private Music Tuition / Mentoring-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check" style="position: relative;margin-top: 20px;">-->
<!--                            <input name="interview" class="form-check-input" type="checkbox" id="interview_check">-->
<!--                            <label class="form-check-label offersheet__label" for="interview_check">-->
<!--                                Interviews / Press-->
<!--                            </label>-->
<!--                        </div>-->
                        
                        <div class="text-center">
                            <button class="btn btn-success" style="margin-top: 50px;">Create Unique Offer Page</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
