{% extends "home/__base.html" %}
{% load staticfiles %}
{% load event_filters %}
{% load artist_filters %}
{% load humanize %}
{% block title %} {{ block.super }} | Offersheet Success </title> {% endblock title %}

{% block header %}
    {% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
{% endblock %}

{% block content %}
    
    <div class="container-fluid container">
        <div class="row border_top">
          <div class="col-md-8 col-md-offset-2" style="margin-top:100px;margin-bottom: 100px;">
            <div class="pv-30 ph-20 feature-box bordered text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200" style="margin-top: 40px; background:rgb(243, 243, 243);">
                      <h3>
                          <b>Great ! Your Offer Is Successfully Sent!</b>
                      </h3>
                      <p>Click the button below to visit WDJP</p>
                    {% csrf_token %}
                    <div class="btn-group">
                        <a type="button" href="/" style="background-color:#09afdf;" class="btn btn-default ">Home !<i class="fa fa-arrow-circle-right" style="font-size:15px;margin-left:5px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
