{% extends "home/__base.html" %}
{% load artist_filters %}
{% load staticfiles %}

{% block title %} {{ block.super }} | My Events </title> {% endblock title %}

{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'frontend/bootstrap/css/wickedpicker.min.css' %}">
    		<!-- Plugins --><link href="{% static 'frontend/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'frontend/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/wickedpicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/dropdown_style.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>


{% endblock %}

{% block owl_js %}

{% include "events/_owl_js.html"%}

{% endblock owl_js %}


{% block slider %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
            <li><a href="{% url 'my_events'%}">My Events</a></li>
            <li>{{event.event_name}} Info</li>
        </ol>
    </div>
</div>
{% endblock slider %}

{% block content %}

    <div style="margin-top: 40px;">
        <center>
            {% if artist.artistPhoto %}
                <img class="offers__artist-img" src="{{ artist.artistPhoto.url }}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% else %}
                <img class="offers__artist-img" src= "{% static 'frontend/images/team-member-1.jpg' %}" alt="{{artist.artistName}}" width="100px" height="100px">
            {% endif %}
        </center>
    </div>
    <h1 class="text-center">{{artist.artistName}} Offer Decision Room</h1>
    <div style="text-align: center">
                {% if offer.request_type.icon %}
                    <img src="/media/{{offer.request_type.icon}}" class="request_type_icon" style="max-height: 35px; text-align: center;display: inline">
                {% else %}
                {% endif %}
                <h3 style="display: inline-block">{{ offer.request_type.name }}</h3>
    </div>
    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="login-panel panel panel-default" style="margin-top: 40px;">
                    <div class="panel-heading" style="background-color:darkgrey">
                        <h3 class="panel-title" style="color: white;"></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="panel-body">
                                            <h3 class="page-title" style="text-align: center"> <b>{{artist.artistName}}</b> // {{offer.request_type.name}} // {{offer.date}} </h3>
                                            </div>
                                            <hr><br>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Person Enquiring:</label>
                                                            <h4>{{offer.name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Contact Email:</label>
                                                            <h4>{{offer.email}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Country Code:</label>
                                                            <h4>{{offer.phone_code}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Phone Number:</label>
                                                            <h4>{{offer.phone_number}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Date:</label>
                                                            <h4>{{offer.date}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Request Name:</label>
                                                            <h4>{{offer.request_name}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Timezone:</label>
                                                            <h4>{{offer.timezone}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label">Start Time:</label>
                                                            <h4>{{offer.start_time}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="padding: 0 20px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_finish_time">Finish Time:</label>
                                                            <h4>{{offer.finish_time}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="py-label" for="id_paid">Paid:</label><br>
                                                            <h4>
                                                                {% if offer.paid %}
                                                                    Yes
                                                                {% else %}
                                                                    No
                                                                {% endif %}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr><br>
                                            <div class="row" style="padding: 0 20px;">
                                                {% for field in extra_field_data %}
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="py-label">{{field.label}}:</label>
                                                                <h4>{{field.value}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <small>You were sent this request from {{ offer.create_date }} from {{ offer.name }}</small><br><br>

                                        {% if offer.sent_message %}
                                            {% if offer.status == 1 %}
                                            <label>You sent message to {{ offer.name }} and changed status to Held</label>
                                            {% endif %}
                                            {% if offer.status == 2 %}
                                            <label>You sent message to {{ offer.name }} and changed status to Accepted</label>
                                            {% endif %}
                                            {% if offer.status == 3 %}
                                            <label>You sent message to {{ offer.name }} and changed status to Rejected</label>
                                            {% endif %}
                                            <textarea class="form-control" readonly rows="5" id="sent email"> sds   {{ offer.sent_message }}</textarea>

                                           {% endif %}




                                            </div>
                                            <div style="text-align: center">
                                                    <a class="btn btn-primary btn-sm popup-with-form"  {# onclick="process_offer(2); #} href="#acceptForm" style="width: 120px; background-color: yellowgreen">Accept</a>
                                                    <a class="btn btn-primary btn-sm popup-with-form" href="#holdForm"    style="width: 120px; background-color: orange;">Hold</a>
                                                    <a class="btn btn-primary btn-sm popup-with-form"  href="#rejectForm"   style="width: 120px; background-color: #e74944">Reject</a>
                                            </div>
                                            <br><br>
                                            <div class="row"  style="padding: 0 20px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
        </div>


<form id="acceptForm" name="acceptForm" class="mfp-hide white-popup-block" style="text-align: -webkit-center" method="post">
    {% csrf_token %}
	<fieldset style="border:0; max-width: 700px;">
		<p class="h4">Please confirm You Want to Accept This Offer from {{ offer.name }}.</p> <br>
        <p> If you proceed with this action the offer will be marked as ‘Accepted’ in the artist calendar and an email will be sent to all parties to confirm this</p>
        <p><b>{{ offer.request_name }}</b> / <b>{{ offer.email }}</b></p>
        <input id="response_type" style="visibility: hidden;" value="2">
        <label for="textarea">Write additional message in reply to this offer</label><br>
        <textarea id="textarea" name="intern_mail" style="width: -webkit-fill-available;height:200px"></textarea>
        <div class="btn-success btn btn-sm"  style="width: 160px;" onclick="processAccept();">Accept and Send Email</div>
	</fieldset>
    <input name="response_type" style="visibility: hidden;" value="2">

</form>


    <form id="holdForm" name="holdForm" class="mfp-hide white-popup-block" style="text-align: -webkit-center" method="post">
        {% csrf_token %}
        <fieldset style="border:0; max-width: 700px;">
            <p class="h4">Please confirm You Want to Hold This Offer from {{ offer.name }}.</p> <br>

            <p> If you proceed with this action the offer will be marked as ‘Held in the artist calendar and an email will be sent to all parties to confirm you are actively considering the offer.</p>
            <p><b>{{ offer.request_name }}</b> / <b>{{ offer.email }}</b></p>
            <input name="response_type" style="visibility: hidden;" value="1">
            <label for="textarea">Write additional message in reply to this offer</label><br>
            <textarea id="textarea" name="intern_mail" style="width: -webkit-fill-available;height:200px"></textarea>
            <div class="btn-success btn btn-sm"  style="width: 160px;" onclick="processHold();">Accept and Send Email</div>
        </fieldset>
        <input name="response_type" style="visibility: hidden;" value="1">

    </form>

        <form id="rejectForm" name="rejectForm" class="mfp-hide white-popup-block" style="text-align: -webkit-center" method="post">
            {% csrf_token %}
            <fieldset style="border:0; max-width: 700px;">
                <p class="h4">Please confirm You Want to Reject This Offer from {{ offer.name }}.</p><br>
                <p>If you proceed with this action the offer will be marked as ‘Rejected’ in the artist calendar and an email will be sent to all parties to confirm this.</p>
                <p><b>{{ offer.request_name }}</b> / <b>{{ offer.email }}</b></p>
                <input id="response_type" style="visibility: hidden;" value="3">
                <label for="textarea">Write additional message in reply to this offer</label><br>
                <textarea id="textarea" name="intern_mail" style="width: -webkit-fill-available;height:200px"></textarea>
                <div class="btn-success btn btn-sm"  style="width: 160px;" onclick="processReject();">Accept and Send Email</div>
            </fieldset>
            <input name="response_type" style="visibility: hidden;" value="3">

        </form>

    </section>


    		<!-- Magnific Popup javascript -->
    <script type="text/javascript" src="{% static 'frontend/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>


{% block jqery %}
    <script type="text/javascript" src="{% static 'frontend/plugins/jquery.min.js' %}"></script>
    <script>


        function processAccept() {
        if (confirm("This will change offer status to confirmed and send a user {{ offer.name }} a message to email that you accept their offer.")){
            document.acceptForm.submit();
        }
        else {
            console.log(12121)
        }
    }

            function processHold() {
        if (confirm("This will change offer status to held and send a user {{ offer.name }} a message to email that you hold their offer.")){
            document.holdForm.submit();
        }
        else {
            console.log(12121)
        }
    }

            function processReject() {
        if (confirm("This will change offer status to rejected and send a user {{ offer.name }} a message to email that you reject their offer.")){
            document.rejectForm.submit();
        }
        else {
            console.log(12121)
        }
    }
    console.log("GIVE ME SOME LOG");

        $(document).ready(function() {
            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function() {
                        if($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });
        });

    </script>
    {% endblock %}

    <script type = "text/javascript">

    function process_offer(val) {
        tmp = 0;
        if (val === 2){
            if (confirm("This will change offer status to confirmed and send a user {{ offer.name }} a message to email that you accept their offer."))
            {
                tmp = 1;


            }
        }
        if (val === 1){
            if (confirm("This will change offer status to held and email {{ offer.name }} that your have reviewed their offer and are actively considering it"))
            {
                tmp = 1;
            }


        }
        if (val === 3){
            if (confirm(" This will change button status to rejected."))
            {
                tmp = 1;
            }


        }
        if (tmp === 1){
            $.ajax({
                    type: "POST",
                    url: "{% url 'view_offer' offer.id %}",
                    dataType : 'json',
                    data: {
                        "response_type": val,
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                    },
                    success: function(data){
                        console.log("success");
                        console.log(data);
                    },
                    failure: function(data){
                        console.log("failure");
                        console.log(data);
                    },
                });

        }

    }

    </script>
{% endblock %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}