{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <!-- This is a simple example template that you can edit to create your own custom templates -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="{{ subject }}" />

    <title><b>{{ subject }}</b></title>
    <style type="text/css">
        /* NOTE: CSS should be inlined to avoid having it stripped in certain email clients like GMail.
        MailChimp automatically inlines CSS for you or you can use this tool: http://beaker.mailchimp.com/inline-css. */

        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }

        /* Force Outlook to provide a "view in browser" button. */
        body {
            width: 100% !important;
        }

        /* Force Hotmail to display emails at full width */
        body {
            -webkit-text-size-adjust: none;
        }

        /* Prevent Webkit platforms from changing default text sizes. */

        /* Reset Styles */
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        img {
            border: none;
            font-size: 14px;
            font-weight: bold;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            text-transform: capitalize;
        }

        #backgroundTable {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        h3 {
            text-align: right;
        }

        /* Template Styles */

        /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */
    </style>
</head>

<body style="background-color:#FFFFFF;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="background-color:white; border: 1px solid #E4E4E4; box-shadow: 0px 1px 3px #D3DDE7; -moz-box-shadow: 0px 1px 3px #D3DDE7; border-top-color: #5c717f; border-top-width: thick;  border-bottom-color: #5c717f; border-bottom-width: thick;">
                        <div style="padding:15px; background-color:#394245;color:white;">
                            <img id="logo_img" src="{{ site_url }}/static/frontend/images/logo_header.png" alt="Wheredjsplay">
                        </div>
                        <tr>
                            <td align="center" valign="top">
                                <!-- // Begin Template Body \\ -->
                                <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContent">

                                            <!-- // Begin Module: Standard Content \\ -->
                                            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top">
                                                        <div style="padding-left: 35px; padding-right: 35px;padding-bottom: 35px;">
                                                            {% block email_body %}
                                                            {% endblock %}
                                                            <hr>
                                                            <div style="line-height: 125%;">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- // End Module: Standard Content \\ -->
                                        </td>

                                    </tr>

                                    <!-- // End Template Body \\ -->
                            </td>

                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
        <div style="padding:25px; background-color:#394245;color:white;">
            <img id="logo_img" src="{{ site_url }}/static/frontend/images/logo_header.png" style="margin-bottom:-15px;"
                alt="Wheredjsplay">
            <a href="https://www.facebook.com"><img id="fb_logo_img" src="{{ site_url }}/static/frontend/images/facebook_logo.png"
                    style="margin-left: 70px; margin-bottom: -10px;" height=30px; width=30px; alt="Wheredjsplay"></a>
            <a href="https://www.twitter.com"><img id="tw_logo_img" src="{{ site_url }}/static/frontend/images/twitter_logo.png"
                    style="cursor:pointer;" height=30px; width=30px; alt="Wheredjsplay"></a>
            <a href="https://www.google.com"><img id="go_logo_img" src="{{ site_url }}/static/frontend/images/google_logo.png"
                    style="cursor:pointer; margin-bottom: 5px;" height=20px; width=20px; alt="Wheredjsplay"></a>
            <a href="{{ site_url }}/accounts/login-user/" style="color: white; font-size:15px; padding:170px; text-decoration-line: none;">
                Log in </a>
            <br>
        </div>
    </center>
</body>

</html>