{% extends "home/__base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | {{public_marketing_page.page_title}} </title> {% endblock title %}
{% block header %}
 	{% include "home/_header.html" %}
{% endblock header %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-tour.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/bootstrap/js/bootstrap-tour-standalone.min.js' %}"></script>

<link href="{% static 'frontend/bootstrap/css/bootstrap-tour.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/bootstrap/css/bootstrap-tour-standalone.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="{% url 'index' %}">Home</a></li>
						<li class="active"><a href="{% url 'promoter_3' %}">{{public_marketing_page.page_title}}</a></li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->
			<section class="main-container text-center margin-clear" style="background: #eee">

				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-offset-3">
                            <div class="intro-step-card">
                                <div>
                                    <h3 style="text-align:center" class="step-header">
                                        {{public_marketing_page.page_title}}
                                    </h3><br>
                                </div>

                                <div class="main-body">
                                    {{public_marketing_page.content|safe}}
                                </div>

                                <div class="intro-step-indicator">
                                    {% for page in all_public_marketing_pages_ids %}
                                        {% if public_marketing_page.id == page %}
                                            <span class="active" ></span>
                                        {% else %}
                                            <span></span>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div>
                                    {% if previous_link %}
                                        <a href="{% url 'marketing_campaign' previous_link.user_type previous_link.slide_number %}" class="btn btn-default btn-animated" style="background-color:#09afdf; color:white;">
                                            <i class="fa fa-arrow-circle-left" ></i>
                                            Back
                                        </a>
                                    {% endif %}


                                    {% if next_link %}
                                        <a href="{% url 'marketing_campaign' next_link.user_type next_link.slide_number %}" class="btn btn-default btn-animated" style="background-color:#09afdf; color:white;">
                                            <i class="fa fa-arrow-circle-right" ></i>
                                            Next
                                        </a>
                                    {% else %}
                                        <a href="{% url 'request_an_invite' %}" class="btn btn-default btn-animated" style="background-color:#09afdf; color:white;">
                                            <i class="fa fa-arrow-circle-right" ></i>
                                            Sign up
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
{% endblock content %}

{% block footer %}
	{% include "home/_footer.html" %}
{% endblock footer %}
